Repository FreeCAD/FreeCAD, pull requests merged in 2021-08, with the labels that each got.

#4899 Draft: Fix patharray edge sort issue
  src/Mod/Draft/draftobjects/patharray.py
Labels: 📐 Draft

#4896 Draft: Fixed units mismatch when moving Draft_Point objects.
  src/Mod/Draft/draftfunctions/move.py
Labels: 📐 Draft

#4886 Draft: Fixed wrong cmd names in gui_planeproxy.py
  src/Mod/Draft/draftguitools/gui_planeproxy.py
Labels: 📐 Draft

#4879 Draft: Fix 3 issues with the Draft Tray layer list
  src/Mod/Draft/draftguitools/gui_groups.py
  src/Mod/Draft/draftutils/groups.py
Labels: 📐 Draft

#4881 Draft: Fix wrong color format in gui_setstyle.py
  src/Mod/Draft/draftguitools/gui_setstyle.py
Labels: 📐 Draft

#4930 Draft: Some shutil don't have the .which method.
  src/Mod/Draft/importDWG.py
Labels: 📐 Draft

#4929 Draft: Enable multiple selection for dumb task dialog in Modification commands
  src/Mod/Draft/draftguitools/gui_tool_utils.py
Labels: 📐 Draft

#4927 Draft: Fix regression on WP and fixes #0004562
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_selectplane.py
Labels: 📐 Draft

#4947 Path: fix various typos and superfluous whitespace
  src/Mod/Path/PathScripts/PathGeom.py
  src/Mod/Path/PathScripts/PathJobDlg.py
  src/Mod/Path/PathScripts/PathSlot.py
  src/Mod/Path/PathScripts/post/nccad_post.py
  src/Mod/Path/PathScripts/post/uccnc_post.py
  src/Mod/Path/PathTests/TestPathAdaptive.py
  src/Mod/Path/Tools/README.md
Labels: 🛤️ Path

#4936 Path: fix grbl --return-to placement
  src/Mod/Path/PathScripts/post/grbl_post.py
Labels: 🛤️ Path

#4926 [Draft] gui_utils Minor bugfix on change to...
  src/Mod/Draft/draftutils/gui_utils.py
Labels: backport, 📐 Draft

#4818 [Path] Refactor path array algorithm into independent `PathArray` class
  src/Mod/Path/PathCommands.py
  src/Mod/Path/PathScripts/PathArray.py
Labels: 🛤️ Path

#4919 [Path] Remove `Side` assignment to `Outside` for full model profiles
  src/Mod/Path/PathScripts/PathProfile.py
Labels: 🛤️ Path

#4901 [Path] Fix 3D Pocket tuple lengths in return values
  src/Mod/Path/PathScripts/PathPocket.py
Labels: 🛤️ Path

#4894 Arch: Align profile's Y with layout's normal vector
  src/Mod/Arch/ArchFrame.py
Labels: 🏛 Arch

#4830 [TD] comment the new centerline behavior
  src/Mod/TechDraw/App/Cosmetic.cpp
Labels: TechDraw

#4912 ReverseEngineering: compile with PCL-1.12.0
  src/Mod/ReverseEngineering/App/SurfaceTriangulation.cpp
Labels: 🏁 LGTM

#4962 FEM:request for ccx reaction forces on Constraint displacement
  src/Mod/Fem/femsolver/calculix/write_step_output.py
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_prescribeddisplacement.inp
  src/Mod/Fem/femtest/data/calculix/frequency_beamsimple.inp
Labels: 🧪 FEM

#4895 TechDraw - Undo for Cosmetics Vertices and Lines
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticLine.cpp
Labels: TechDraw

#4904 TechDraw - Remove code artifacts from CommandDecorate.cpp
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
Labels: TechDraw, 🏁 LGTM

#4961 [PD] Add PartDesign Python commands for translation
  src/Tools/updatets.py
Labels: L10N

#4851 [PartDesign] Linting and cleaning superfluous whitespace
  src/Mod/PartDesign/Scripts/FilletArc.py
  src/Mod/PartDesign/Scripts/Gear.py
  src/Mod/PartDesign/Scripts/Spring.py
  src/Mod/PartDesign/WizardShaft/WizardShaft.py
  src/Mod/PartDesign/WizardShaft/WizardShaftTable.py
Labels: PartDesign, 🏁 LGTM

#4964 [PartDesign] Expose WizardShaft/ strings to translation
  src/Mod/PartDesign/WizardShaft/WizardShaft.py
  src/Mod/PartDesign/WizardShaft/WizardShaftTable.py
Labels: L10N

#4815 [Path] Fix GUI issues and minor code cleanup
  src/Mod/Path/PathScripts/PathGui.py
  src/Mod/Path/PathScripts/PathOpGui.py
  src/Mod/Path/PathScripts/PathPocketShape.py
Labels: 🛤️ Path

#4797 [Path] GUI scripting support and other improvements
  src/Mod/Path/PathScripts/PathAdaptive.py
  src/Mod/Path/PathScripts/PathCustom.py
  src/Mod/Path/PathScripts/PathDeburr.py
  src/Mod/Path/PathScripts/PathDressupPathBoundary.py
  src/Mod/Path/PathScripts/PathDrilling.py
  src/Mod/Path/PathScripts/PathEngrave.py
  src/Mod/Path/PathScripts/PathHelix.py
  src/Mod/Path/PathScripts/PathJobGui.py
  src/Mod/Path/PathScripts/PathMillFace.py
  src/Mod/Path/PathScripts/PathOp.py
  src/Mod/Path/PathScripts/PathOpGui.py
  src/Mod/Path/PathScripts/PathPocket.py
  src/Mod/Path/PathScripts/PathPocketShape.py
  src/Mod/Path/PathScripts/PathProbe.py
  src/Mod/Path/PathScripts/PathProfile.py
  src/Mod/Path/PathScripts/PathProfileContour.py
  src/Mod/Path/PathScripts/PathProfileEdges.py
  src/Mod/Path/PathScripts/PathProfileFaces.py
  src/Mod/Path/PathScripts/PathSetupSheet.py
  src/Mod/Path/PathScripts/PathSimulatorGui.py
  src/Mod/Path/PathScripts/PathSlot.py
  src/Mod/Path/PathScripts/PathSurface.py
  src/Mod/Path/PathScripts/PathThreadMilling.py
  src/Mod/Path/PathScripts/PathVcarve.py
  src/Mod/Path/PathScripts/PathWaterline.py
Labels: 🛤️ Path

#4920 [OpenSCAD] Fixes cut color while importing CSG
  src/Mod/OpenSCAD/importCSG.py
Labels: 🏁 LGTM

#4903 TechDraw - Edit annotations via double-click
  src/Gui/Widgets.h
  src/Mod/TechDraw/Gui/QGIRichAnno.cpp
  src/Mod/TechDraw/Gui/QGIRichAnno.h
  src/Mod/TechDraw/Gui/QGIViewAnnotation.cpp
  src/Mod/TechDraw/Gui/QGIViewAnnotation.h
  src/Mod/TechDraw/Gui/mrichtextedit.cpp
  src/Mod/TechDraw/Gui/mrichtextedit.h
Labels: TechDraw

#4968 [Part] BugFix BSplineSurfacePyImp.cpp
  src/Mod/Part/App/BSplineSurfacePyImp.cpp
Labels: Part

#4967 [Base/Gui] Bugfix Property Item formatting
  src/Base/UnitsApi.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Mod/PartDesign/Gui/TaskPrimitiveParameters.cpp
Labels: core

#4955 [ArchWall] Fix MakeBlocks to work if Base is Sketch
  src/Mod/Arch/ArchWall.py
Labels: 🏛 Arch

#4905 Draft: Draft_Trimex: Fix wrong angle units in task panel
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: 📐 Draft

#4954 Part: Fix default shape vertex color
  src/Gui/ViewParams.h
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: Part

#4969 Draft: Fix LGTM 'test for equality' warning
  src/Mod/Draft/draftutils/units.py
  src/Mod/Fem/femexamples/truss_3d_cs_circle_ele_seg3.py
Labels: 🧪 FEM, 📐 Draft

#4960 Fixes Xercesc include, harmonize XercesC_INCLUDE_DIRS statement
  src/Mod/Cam/App/CMakeLists.txt
  src/Mod/Cam/Gui/CMakeLists.txt
  src/Mod/JtReader/App/CMakeLists.txt
  src/Mod/Measure/App/CMakeLists.txt
Labels: packaging

#4950 App: fix LinkMode enforcement in Link on restore
  src/App/Link.cpp
  src/App/Link.h
Labels: core

#4958 [ArchWall] Fix MakeBlocks to work if Base is Sketch with 1 edge only
  src/Mod/Arch/ArchWall.py
Labels: 🏛 Arch

#4885 Draft: Fix Draft_PointArray and Draft_TwistedArray Count problems
  src/Mod/Draft/draftgeoutils/geo_arrays.py
  src/Mod/Draft/draftobjects/draftlink.py
Labels: 📐 Draft

#4932 [Gui] Send 'mainWindowClosed' signal before window settings are saved
  src/Gui/MainWindow.cpp
Labels: core, Testers Needed

#4963 Base: Adding stiffness units
  src/App/ExpressionParser.l
  src/App/FreeCADInit.py
  src/Base/Quantity.cpp
  src/Base/Quantity.h
  src/Base/QuantityLexer.c
  src/Base/QuantityParser.l
  src/Base/Unit.cpp
  src/Base/Unit.h
  src/Base/UnitsSchemaImperial1.cpp
  src/Base/UnitsSchemaInternal.cpp
  src/Base/UnitsSchemaMKS.cpp
  src/Gui/DlgUnitsCalculatorImp.cpp
  src/Mod/Material/StandardMaterial/TEMPLATE.FCMat
  src/Mod/Material/Templatematerial.yml
Labels: 🧪 FEM

#4977 [FEM] Change reference files to avoid failed tests
  src/Mod/Fem/femsolver/calculix/write_step_output.py
  src/Mod/Fem/femtest/data/calculix/constraint_transform_beam_hinged.inp
Labels: 🧪 FEM

#4979 Start: Correct hash for thumbnail filename
  src/Mod/Start/StartPage/StartPage.py
Labels: Testers Needed

#4978 Gui: Improved tooltips
  src/Gui/Command.cpp
Labels: core

#2625 AddonManager: Consolidate preference in user.cfg from Plugins to Addons
  src/Mod/AddonManager/AddonManager.py
Labels: For 0.20

#4872 PartDesign: Hide the custom direction fields in Pad if no custom direction is used
  src/Mod/PartDesign/Gui/TaskPadParameters.cpp
  src/Mod/PartDesign/Gui/TaskPadParameters.ui
Labels: PartDesign

#5000 [Core] Add checks for conflicting accelerators
  src/Gui/Command.cpp
  src/Gui/Command.h
Labels: core, UI/UX

#4997 [COPR] Restore dist in Release
  package/fedora/freecad.spec
  package/fedora/rpkg.macros
Labels: packaging

#4924 Set default keycodes for 3dconnexion SpacePilot Pro
  src/Gui/3Dconnexion/3DConnexion.xml
Labels: core

#4914 [PD] fix property issues
  src/Mod/PartDesign/App/FeatureDraft.cpp
  src/Mod/PartDesign/App/FeatureDraft.h
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHelix.h
  src/Mod/PartDesign/App/FeatureLinearPattern.cpp
  src/Mod/PartDesign/App/FeatureLinearPattern.h
  src/Mod/PartDesign/App/FeaturePolarPattern.cpp
  src/Mod/PartDesign/Gui/TaskHelixParameters.h
Labels: PartDesign

#4915 Draft: fixed Snap behaviour when no document is active.
  src/Mod/Draft/draftguitools/gui_snaps.py
Labels: 📐 Draft
