Repository FreeCAD/FreeCAD, pull requests merged in 2021-03, with the labels that each got.

#4568 [PartDesign] Add Material property to Body
  src/Mod/Part/App/BodyBase.cpp
  src/Mod/Part/App/BodyBase.h
Labels: question

#4576 Fix regex in translation extraction script
  src/Tools/updatets.py
Labels: L10N

#4580 [FEM] fixes not handled exception in "task_mesh_gmsh.py"
  src/Mod/Fem/femtaskpanels/task_mesh_gmsh.py
  src/Mod/Fem/femtools/ccxtools.py
Labels: FEM

#4584 [FEM] ccx dat file object readonly
  src/Mod/Fem/femtools/ccxtools.py
Labels: FEM

#4583 [FEM] improve error message if gmsh.exe not found
  src/Mod/Fem/femmesh/gmshtools.py
Labels: 🧪 FEM

#4381 [0.20] PartDesign: Hole performance improvements
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: For 0.20

#4613 [PATH] Fix bug with spindle not restarting
  src/Mod/Path/PathScripts/PathJob.py
  src/Mod/Path/PathScripts/PathPost.py
Labels: 🛤️ Path

#4573 [Path] PocketShape: Remove 'verify final depth' warning
  src/Mod/Path/PathScripts/PathPocketShape.py
Labels: 🛤️ Path

#4596 [FEM]implement Gmsh mesh property "MeshSizeFromCurvature"
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femobjects/mesh_gmsh.py
  src/Mod/Fem/femtest/data/elmer/group_mesh.geo
Labels: 🧪 FEM

#4618 [FEM] get Gmsh version
  src/Mod/Fem/Gui/Resources/ui/MeshGmsh.ui
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtaskpanels/task_mesh_gmsh.py
Labels: 🧪 FEM

#4648 [FEM] fix specific heat of air
  src/Mod/Material/FluidMaterial/Air.FCMat
Labels: 🧪 FEM

#4649 [FEM] add material cards for gases
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/FluidMaterial/Air.FCMat
  src/Mod/Material/FluidMaterial/Argon.FCMat
  src/Mod/Material/FluidMaterial/Nitrogen.FCMat
  src/Mod/Material/FluidMaterial/Water.FCMat
Labels: 🧪 FEM

#4615 [Path] Fix connected multi-face clearing bug
  src/Mod/Path/PathScripts/PathPocketShape.py
Labels: 🛤️ Path

#4624 [Path]: Bugfix/dogbone on straight edges and noop moves
  src/Mod/Path/PathScripts/PathDressupDogbone.py
  src/Mod/Path/PathTests/TestPathDressupDogbone.py
Labels: 🛤️ Path

#4660 [FEM] add GMSH mesh order setting to dialog
  src/Mod/Fem/Gui/Resources/ui/MeshGmsh.ui
  src/Mod/Fem/femobjects/mesh_gmsh.py
  src/Mod/Fem/femtaskpanels/task_mesh_gmsh.py
Labels: 🧪 FEM

#4654 [FEM] add mesh algorithms
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femobjects/mesh_gmsh.py
  src/Mod/Fem/femtest/data/elmer/group_mesh.geo
Labels: 🧪 FEM

#4646 [FEM] add missing material cards to CMakeLists.txt
  src/Mod/Material/CMakeLists.txt
Labels: 🧪 FEM

#4639 [Path] post procesing for GRBL with option "--translate_drill" should also suppress G99
  src/Mod/Path/PathScripts/post/grbl_post.py
Labels: 🛤️ Path

#4634 [Path]: Bugfix/issue 2839 dogbone visualisation
  src/Mod/Path/PathScripts/PathDressupDogbone.py
Labels: 🛤️ Path

#4348 [0.20] [Draft] Add global mode to enter points - Fixes #0004108
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/Resources/ui/preferences-draftinterface.ui
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_mirror.py
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_points.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftguitools/gui_shapestrings.py
  src/Mod/Draft/draftguitools/gui_splines.py
  src/Mod/Draft/draftguitools/gui_stretch.py
Labels: For 0.20, 🐛 bug, 📐 Draft

#4453 Arch: removes unused imports
  src/Mod/Arch/ArchAxis.py
  src/Mod/Arch/ArchBuilding.py
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchComponent.py
  src/Mod/Arch/ArchCurtainWall.py
  src/Mod/Arch/ArchCutPlane.py
  src/Mod/Arch/ArchEquipment.py
  src/Mod/Arch/ArchFence.py
  src/Mod/Arch/ArchFloor.py
  src/Mod/Arch/ArchFrame.py
  src/Mod/Arch/ArchIFC.py
  src/Mod/Arch/ArchNesting.py
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchPipe.py
  src/Mod/Arch/ArchPrecast.py
  src/Mod/Arch/ArchProject.py
  src/Mod/Arch/ArchRebar.py
  src/Mod/Arch/ArchRoof.py
  src/Mod/Arch/ArchSchedule.py
  src/Mod/Arch/ArchSectionPlane.py
  src/Mod/Arch/ArchSite.py
  src/Mod/Arch/ArchSpace.py
  src/Mod/Arch/ArchStairs.py
  src/Mod/Arch/ArchTruss.py
  src/Mod/Arch/Dice3DS/dom3ds.py
  src/Mod/Arch/importGBXML.py
  src/Mod/Arch/importSH3D.py
  src/Mod/Arch/importWebGL.py
Labels: For 0.20

#4661 [Draft] Eliminate required GUI for importDXF
  src/Mod/Draft/importDXF.py
Labels: 📐 Draft

#4658 [Draft] Fix bug in data entry on scale w/ uniform scaling on
  src/Mod/Draft/drafttaskpanels/task_scale.py
Labels: 📐 Draft

#4656 [Draft] Enable Transform context menu item
  src/Mod/Draft/draftviewproviders/view_base.py
Labels: 📐 Draft

#4550 [Arch] LGTM issues in Dice3DS
  src/Mod/Arch/Dice3DS/dom3ds.py
Labels: For 0.20, 🏛 Arch

#4609 Draft: Simplify load_texture after py3 requirement
  src/Mod/Draft/draftutils/gui_utils.py
Labels: For 0.20, 📐 Draft

#4664 Path: Added UC-CNC postprocessor script.
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/PathScripts/post/uccnc_post.py
Labels: 🛤️ Path

#4674 [FEM] add a Graphite material card
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/StandardMaterial/Graphite.FCMat
Labels: 🧪 FEM

#4612 [0.19 and master] [Win installer] improve uninstalling
  src/WindowsInstaller/include/declarations.nsh
  src/WindowsInstaller/setup/uninstall.nsh
Labels: For 0.19

#4567 Gui: Change the Part icon
  src/Gui/Icons/Geofeaturegroup.svg
Labels: For 0.20

#4625 Draft: Make Edit closed wires consistent with open wires and tracker
  src/Mod/Draft/draftguitools/gui_edit_draft_objects.py
Labels: For 0.20, 📐 Draft

#4548 [Draft] Eliminate unused loop iteration variables
  src/Mod/Draft/draftviewproviders/view_array.py
  src/Mod/Draft/draftviewproviders/view_clone.py
Labels: For 0.20, 📐 Draft

#4547 [Arch] Refactor to eliminate unused variable
  src/Mod/Arch/exportIFC.py
Labels: For 0.20, 🏛 Arch

#4546 [DRAFT] Remove unused loop variable
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: For 0.20, 📐 Draft

#4517 [ARCH] Arch_Roof fix for adjust_list_len function
  src/Mod/Arch/ArchRoof.py
Labels: For 0.20, 🏛 Arch

#4410 Draft: Fixes #0004278: Working Plane Proxy origin hijack nearby object
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: For 0.20, 📐 Draft

#4299 [0.20] [Arch] connections between stair flight and landing
  src/Mod/Arch/ArchStairs.py
Labels: For 0.20
