Repository FreeCAD/FreeCAD, pull requests merged in 2021-04, with the labels that each got.

#4361 [0.20] [GUI] Add tooltip to f(x) when there is no expression
  src/Gui/QuantitySpinBox.cpp
  src/Gui/QuantitySpinBox_p.h
  src/Gui/SpinBox.cpp
  src/Gui/Widgets.cpp
Labels: For 0.20, L10N, enhancement

#4705 [FEM] proper support for Gmsh HighOrder optimization
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femobjects/mesh_gmsh.py
  src/Mod/Fem/femtest/data/elmer/group_mesh.geo
  src/Mod/MeshPart/Gui/Tessellation.cpp
Labels: 🧪 FEM

#4706 [FEM] add support for 3D recombinations
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femobjects/mesh_gmsh.py
Labels: 🧪 FEM

#4536 [0.20] Tools: updatecrowdin.py rewrite to support new api
  src/Tools/updatecrowdin.py
Labels: For 0.20, L10N

#4751 Sketcher: remove Py2 code from Sketcher wb
  src/Mod/Sketcher/App/ConstraintPyImp.cpp
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
Labels: :pencil2: Sketcher

#4420 Sketcher - Add new Split Edge action
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry.h
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/App/SketchObjectPy.xml
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/Resources/Sketcher.qrc
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_Split.svg
  src/Mod/Sketcher/Gui/Resources/icons/pointers/Sketcher_Pointer_Splitting.svg
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: :pencil2: Sketcher, For 0.20

#4742 [Sketcher] Visibility automation : add ability to open sketch in Section View mode
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettingsDisplay.ui
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: :pencil2: Sketcher

#4688 Draft: Make featureName attribute translation-independent
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/InitGui.py
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_array_simple.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_clone.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_downgrade.py
  src/Mod/Draft/draftguitools/gui_draft2sketch.py
  src/Mod/Draft/draftguitools/gui_drawing.py
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_facebinders.py
  src/Mod/Draft/draftguitools/gui_fillets.py
  src/Mod/Draft/draftguitools/gui_join.py
  src/Mod/Draft/draftguitools/gui_labels.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_mirror.py
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_offset.py
  src/Mod/Draft/draftguitools/gui_patharray.py
  src/Mod/Draft/draftguitools/gui_pathtwistedarray.py
  src/Mod/Draft/draftguitools/gui_pointarray.py
  src/Mod/Draft/draftguitools/gui_points.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftguitools/gui_shape2dview.py
  src/Mod/Draft/draftguitools/gui_shapestrings.py
  src/Mod/Draft/draftguitools/gui_splines.py
  src/Mod/Draft/draftguitools/gui_split.py
  src/Mod/Draft/draftguitools/gui_stretch.py
  src/Mod/Draft/draftguitools/gui_styles.py
  src/Mod/Draft/draftguitools/gui_subelements.py
  src/Mod/Draft/draftguitools/gui_texts.py
  src/Mod/Draft/draftguitools/gui_trimex.py
  src/Mod/Draft/draftguitools/gui_upgrade.py
  src/Mod/Draft/draftguitools/gui_wire2spline.py
Labels: 📐 Draft
