Repository FreeCAD/FreeCAD, pull requests merged in 2021-10, with the labels that each got.

#5079 Draft: fix decimals for angular dims
  src/Mod/Draft/draftutils/units.py
Labels: 📐 Draft

#5049 [Spreadsheet] Refactor and simplify paste code
  src/Mod/Spreadsheet/App/PropertySheet.cpp
Labels: Spreadsheet

#5086 Fix linux build: undefined std:string_view
  src/Mod/Mesh/App/CMakeLists.txt
  src/Mod/Mesh/App/Core/MeshIO.cpp
  src/Mod/PartDesign/App/json.hpp
Labels: packaging/building

#4998 Draft: Working Plane improvements
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: 📐 Draft

#5072 Draft: fix shortcuts in menus and more
  src/Mod/Arch/InitGui.py
  src/Mod/Draft/InitGui.py
  src/Mod/Draft/draftutils/init_tools.py
Labels: 📐 Draft

#5132 Draft: Fix superfluous whitespace in translations + misc. typos
  src/Mod/Draft/WorkingPlane.py
  src/Mod/Draft/draftmake/make_sketch.py
  src/Mod/Draft/draftobjects/array.py
  src/Mod/Draft/draftobjects/dimension.py
Labels: L10N, 📐 Draft

#4952 Fix external document loading
  src/App/Application.cpp
  src/App/Application.h
  src/App/Document.cpp
  src/App/Document.h
  src/App/DocumentObserver.h
  src/App/PropertyLinks.cpp
  src/Gui/Document.cpp
  src/Gui/ViewProviderDocumentObject.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: core, Testers Needed

#5133 Draft: Fix angle dimension issue
  src/Mod/Draft/draftguitools/gui_dimensions.py
Labels: 📐 Draft

#5130 Draft: Fix merge layers
  src/Mod/Draft/draftviewproviders/view_layer.py
Labels: 📐 Draft
