Repository FreeCAD/FreeCAD, pull requests merged in 2021-06, with the labels that each got.

#4744 [Sketcher] Fix 'Reference' checkbox not working for radius/diameter
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: :pencil2: Sketcher

#4388 [0.20] [Path] Improved `Extensions` feature and add to Adaptive operation
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Gui/Resources/panels/PageOpPocketExtEdit.ui
  src/Mod/Path/PathScripts/PathAdaptive.py
  src/Mod/Path/PathScripts/PathAdaptiveGui.py
  src/Mod/Path/PathScripts/PathFeatureExtensions.py
  src/Mod/Path/PathScripts/PathFeatureExtensionsGui.py
  src/Mod/Path/PathScripts/PathGeom.py
  src/Mod/Path/PathScripts/PathPocketShape.py
  src/Mod/Path/PathScripts/PathPocketShapeGui.py
  src/Mod/Path/PathScripts/PathSetupSheetOpPrototype.py
Labels: For 0.20, 🛤️ Path

#4868 [FEM] typos
  src/Mod/Fem/feminout/importCcxFrdResults.py
Labels: 🧪 FEM

#4850 [PartDesign] Translation fixes for reported issues in FreeCAD-translations
  src/Mod/PartDesign/Gui/Workbench.cpp
Labels: L10N

#4492 Draft: Fixes #0004562: Active working plane changes when I close Draft Edit panel
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: For 0.20
