Repository FreeCAD/FreeCAD, pull requests merged in 2021-09, with the labels that each got.

#4966 Sketcher: display dimensional constraint name - fixes #0004686
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.ui
  src/Mod/Sketcher/Gui/SketcherSettingsDisplay.ui
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: awaiting review, :pencil2: Sketcher

#4945 [Sketcher] 3-pt circle : allow tangent constraint for any click
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
Labels: :pencil2: Sketcher

#4923 [Gui] Transform Tool, save Translation...
  src/Gui/TaskCSysDragger.cpp
Labels: core

#4986 Path: Add missing newline to return-to statement in grbl postprocessor
  src/Mod/Path/PathScripts/post/grbl_post.py
Labels: 🛤️ Path, Testers Needed

#4976 [Path] LGTM cleanup
  src/Mod/Path/PathScripts/PathAdaptive.py
  src/Mod/Path/PathScripts/PathCustom.py
  src/Mod/Path/PathScripts/PathCustomGui.py
  src/Mod/Path/PathScripts/PathDeburrGui.py
  src/Mod/Path/PathScripts/PathDressupDogbone.py
  src/Mod/Path/PathScripts/PathDressupHoldingTags.py
  src/Mod/Path/PathScripts/PathDressupLeadInOut.py
Labels: 🛤️ Path

#4974 [Path] Remove unused imports per LGTM in PathPocketShapeGui module
  src/Mod/Path/PathScripts/PathPocketShapeGui.py
Labels: 🛤️ Path

#4916 improve search for VTK-9
  cMake/FreeCAD_Helpers/SetupSalomeSMESH.cmake
Labels: packaging

#5004 [skip ci][COPR] Bump version in spec file to 0.20pre
  package/fedora/freecad.spec
Labels: packaging

#4907 Draft: Fix Draft_Move Alt copy mode
  src/Mod/Draft/draftguitools/gui_move.py
Labels: 📐 Draft

#4891 Draft: Fix misplaced Draft_Edit nodes for BezCurve 2nd version
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: 📐 Draft

#4888 [Draft] Airfoil Import - User feedback not shown..
  src/Mod/Draft/importAirfoilDAT.py
Labels: 📐 Draft

#4882 Draft: Small cleanup of Utilities menu and utility toolbar
  src/Mod/Draft/draftutils/init_tools.py
Labels: 📐 Draft

#4732 [PD] fix bug that reference selection is always on
  src/Mod/Part/Gui/TaskAttacher.cpp
Labels: PartDesign

#3229 [0.20] [Arch] Structure: use of specific edges for Tool, add option BasePerpendicularToTool
  src/Mod/Arch/ArchStructure.py
  src/Mod/Arch/InitGui.py
  src/Mod/Arch/Resources/Arch.qrc
  src/Mod/Arch/Resources/icons/Arch_MultipleStructures.svg
  src/Mod/Draft/CMakeLists.txt
  src/Mod/Draft/DraftGeomUtils.py
  src/Mod/Draft/TestDraft.py
  src/Mod/Draft/draftgeoutils/edges.py
  src/Mod/Draft/draftgeoutils/general.py
  src/Mod/Draft/draftgeoutils/wires.py
  src/Mod/Draft/drafttests/test_draftgeomutils.py
Labels: For 0.20, 🏛 Arch

#3358 [0.20] [Draft] Groups, Added "AddNamedGroup" function
  src/Mod/Draft/Resources/Draft.qrc
  src/Mod/Draft/Resources/icons/Draft_AddNamedGroup.svg
  src/Mod/Draft/draftguitools/gui_groups.py
  src/Mod/Draft/draftutils/init_tools.py
Labels: For 0.20, 📐 Draft

#5007 [Gui] Declare Std_DrawStyle as being a 'Mode' command
  src/Gui/CommandView.cpp
Labels: core

#5002 [Mesh] Avoid false negatives during self-intersection checks
  src/Mod/Mesh/App/Core/Elements.cpp
Labels: 🥅Mesh

#5012 Path: Fix PathScripts/PathJobGui.py typo bug
  src/Mod/Draft/draftguitools/gui_groups.py
  src/Mod/Draft/draftmake/make_hatch.py
  src/Mod/Path/PathScripts/PathJobGui.py
Labels: 🛤️ Path, Typo

#5018 Sketcher: fix mislabeled .ui cstring tag
  src/Mod/Sketcher/Gui/SketcherSettingsDisplay.ui
Labels: :pencil2: Sketcher

#4935 [TD] added TechDrawTools Commands
  src/Mod/TechDraw/Gui/AppTechDrawGui.cpp
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCircleCenterLines.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadBoltBottom.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadBoltSide.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadHoleBottom.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadHoleSide.svg
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: TechDraw

#5019 Gui: Language/Translator.cpp remove extra .ko translation + alphabetize
  src/Gui/Language/Translator.cpp
Labels: core, L10N

#5026 Crowdin: Expose View -> 'Standard views' -> 'Axonometric' to translation
  src/Gui/Workbench.cpp
Labels: L10N

#5025 Gui: Make DlgSettingsNavigation methods conform to naming standard
  src/Gui/DlgSettingsNavigation.cpp
  src/Gui/DlgSettingsNavigation.ui
Labels: core

#5022 Mesh: Infinite loop when repairing mesh facet indices
  src/Mod/Mesh/App/Core/Degeneration.cpp
  src/Mod/Mesh/App/Core/TopoAlgorithm.cpp
  src/Mod/Mesh/App/Core/TopoAlgorithm.h
Labels: 🥅Mesh

#5020 [Gui] Edit/Placement not active when no object selected
  src/Gui/CommandDoc.cpp
Labels: core

#5021 [GUI] Add prefs for translators
  src/Gui/Language/Translator.cpp
Labels: core, L10N

#5027 [Core] Rotation : fix gimbal lock handling
  src/Base/Rotation.cpp
  src/Gui/Placement.ui
Labels: core

#4791 [Base] Fix lost filename in err msg
  src/Base/Exception.cpp
  src/Base/Exception.h
Labels: core, awaiting review

#4771 [Gui] Preferences - Selection Fix Bug for new...
  src/Gui/DlgSettingsSelection.cpp
Labels: core

#4949 PartDesign: Add new need active body dialog with option to choose body
  src/Mod/PartDesign/Gui/CMakeLists.txt
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/CommandPrimitive.cpp
  src/Mod/PartDesign/Gui/DlgActiveBody.cpp
  src/Mod/PartDesign/Gui/DlgActiveBody.h
  src/Mod/PartDesign/Gui/DlgActiveBody.ui
  src/Mod/PartDesign/Gui/Utils.cpp
  src/Mod/PartDesign/Gui/Utils.h
Labels: PartDesign

#4990 [Sketcher] Refactor split code
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: :pencil2: Sketcher

#4792 [Gui] Fix app quitting despite failing to save project
  src/Gui/Document.cpp
Labels: core

#5039 Part Design: Improved chamfer behaviour when faces are selected and non equal chamfer types are used
  src/Mod/PartDesign/App/FeatureChamfer.cpp
  src/Mod/PartDesign/App/FeatureDressUp.cpp
  src/Mod/PartDesign/App/FeatureDressUp.h
Labels: PartDesign

#4217 [WIP]update macos build doc to include using homebrew to build freecad fro…
  BUILD_OSX.md
Labels: packaging/building

#4800 App: Abort save when unable to finish
  src/App/Document.cpp
Labels: core

#5030 [Spreadsheet] Prevent infinite loop when copy/paste of non-rectangula…
  src/Mod/Spreadsheet/App/PropertySheet.cpp
Labels: Spreadsheet

#5047 [Mesh] Implement high-precision NASTRAN GRID* element
  src/Mod/Mesh/App/Core/MeshIO.cpp
Labels: 🥅Mesh

#4934 [Sketcher] Display radius/diameter constraints with some angle (+ code cleaning)
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: :pencil2: Sketcher

#5058 Draft: fix 2 edit mode issues
  src/Mod/Draft/draftviewproviders/view_base.py
Labels: 📐 Draft

#5060 Draft: fix 2 SVG pattern issues
  src/Mod/Draft/Resources/patterns/hatch45L.svg
  src/Mod/Draft/Resources/patterns/hatch45R.svg
  src/Mod/Draft/draftviewproviders/view_base.py
Labels: 📐 Draft

#5052 [Mesh] Improve NASTRAN input support for non-delimited GRID element
  src/Mod/Mesh/App/Core/MeshIO.cpp
  src/Mod/Mesh/App/MeshTestsApp.py
  src/Mod/Mesh/App/TestData/NASTRAN_Test_Delimited_GRID_CQUAD4.bdf
  src/Mod/Mesh/App/TestData/NASTRAN_Test_GRIDSTAR_CQUAD4.bdf
  src/Mod/Mesh/App/TestData/NASTRAN_Test_GRID_CQUAD4.bdf
  src/Mod/Mesh/CMakeLists.txt
  src/Mod/Mesh/Gui/Command.cpp
Labels: 🥅Mesh

#3256 [Gui] Allow dot as decimal separator for locales not using it as thousand separator
  src/Gui/Application.cpp
  src/Gui/GuiApplication.cpp
  src/Gui/GuiApplication.h
Labels: core

#5051 [Core] Rotation : improve gimbal lock handling
  src/Base/Rotation.cpp
Labels: core

#4685 [PD] add feature to select pad direction via an edge
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePad.h
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
  src/Mod/PartDesign/Gui/TaskPadParameters.cpp
  src/Mod/PartDesign/Gui/TaskPadParameters.h
  src/Mod/PartDesign/Gui/TaskPadParameters.ui
Labels: PartDesign

#4973 [Path] Fix `Face Region` boundary shape usage and LGTM cleanup
  src/Mod/Path/PathScripts/PathMillFace.py
Labels: 🛤️ Path

#4975 [Path] LGTM cleanup of PathProfile module
  src/Mod/Path/PathScripts/PathProfile.py
Labels: awaiting review, 🛤️ Path

#5050 Path: PathArray translate copies along Z axis as it does along X/Y
  src/Mod/Path/PathScripts/PathArray.py
Labels: 🛤️ Path

#5009 [Path] Fix for inactive ramp dressup base operation
  src/Mod/Path/PathScripts/PathDressupRampEntry.py
Labels: 🛤️ Path

#5045 [App] Fix regression introduced by PR #4996
  src/App/Document.cpp
Labels: core

#5037 [Tools] Refactor updatets to support two-lang mods
  src/Tools/updatets.py
Labels: L10N

#5076 [PATH] Fix bug with job object not found.
  src/Mod/Path/PathScripts/PathSanity.py
Labels: 🛤️ Path
