Repository FreeCAD/FreeCAD, pull requests merged in 2021-12, with the labels that each got.

#5206 Draft: Draft_SetStyle and Draft_Layer did not handle PointColor and PointSize.
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftviewproviders/view_layer.py
Labels: 📐 Draft

#5202 Draft: fix 3 snap issues
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: 📐 Draft

#5217 [PATH] rotation generator and tests
  src/Mod/Path/Generators/rotation_generator.py
  src/Mod/Path/PathTests/TestPathRotationGenerator.py
Labels: 🛤️ Path

#5226 [PD] fix calculation of possible Helix intersections
  src/Mod/PartDesign/App/FeatureHelix.cpp
Labels: 🚜 PartDesign

#5234 Draft: fix doxygen typos
  src/Mod/Draft/draftfunctions/__init__.py
  src/Mod/Draft/draftfunctions/array.py
  src/Mod/Draft/draftfunctions/cut.py
  src/Mod/Draft/draftfunctions/downgrade.py
  src/Mod/Draft/draftfunctions/draftify.py
  src/Mod/Draft/draftfunctions/dxf.py
  src/Mod/Draft/draftfunctions/extrude.py
  src/Mod/Draft/draftfunctions/fuse.py
  src/Mod/Draft/draftfunctions/heal.py
  src/Mod/Draft/draftfunctions/join.py
  src/Mod/Draft/draftfunctions/mirror.py
  src/Mod/Draft/draftfunctions/move.py
  src/Mod/Draft/draftfunctions/offset.py
  src/Mod/Draft/draftfunctions/rotate.py
  src/Mod/Draft/draftfunctions/scale.py
  src/Mod/Draft/draftfunctions/split.py
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftfunctions/svgshapes.py
  src/Mod/Draft/draftfunctions/svgtext.py
  src/Mod/Draft/draftfunctions/upgrade.py
Labels: 📐 Draft, Typo

#5220 Draft: fix regression draftlink.py
  src/Mod/Draft/draftobjects/draftlink.py
Labels: 📐 Draft

#5223 Draft fix task panel issues
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_points.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_texts.py
Labels: 📐 Draft

#5238 Fix various typos and grammatical refinements
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/Gui/ReferenceSelection.cpp
  src/Mod/Path/Generators/rotation_generator.py
  src/Mod/Sketcher/App/GeoList.h
  src/Mod/Sketcher/App/GeometryFacade.cpp
Labels: Typo

#5233 Draft: Fix Part_Line offset issue
  src/Mod/Draft/draftfunctions/offset.py
  src/Mod/Draft/draftgeoutils/offsets.py
Labels: 📐 Draft

#5231 TD: replace usage of raw pointers of Vertex and Face with shared poin…
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/CosmeticExtension.cpp
  src/Mod/TechDraw/App/DrawDimHelper.cpp
  src/Mod/TechDraw/App/DrawViewDimExtent.cpp
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/App/DrawViewPartPyImp.cpp
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/DrawViewSection.h
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/Geometry.h
  src/Mod/TechDraw/App/GeometryObject.cpp
  src/Mod/TechDraw/App/GeometryObject.h
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.h
  src/Mod/TechDraw/Gui/QGIViewSection.cpp
Labels: TechDraw

#5224 PD: Enhance the helix property docs
  src/Mod/PartDesign/App/FeatureHelix.cpp
Labels: 🚜 PartDesign

#5261 Sketcher: Fix various typos
  src/Mod/Sketcher/App/GeoEnum.h
  src/Mod/Sketcher/App/GeoList.h
Labels: Typo

#5263 PD: Adjust header uniformity
  src/Mod/PartDesign/Gui/CommandBody.cpp
  src/Mod/PartDesign/Gui/Utils.cpp
  src/Mod/PartDesign/Gui/Utils.h
  src/Mod/PartDesign/Gui/ViewProviderSketchBased.cpp
  src/Mod/PartDesign/Gui/ViewProviderSketchBased.h
Labels: 🚜 PartDesign

#5259 [MainWindow] Add toolbar name as toolbar's tooltip
  src/Gui/ToolBarManager.cpp
Labels: core

#5255 PD: Fix assignment of helix' Angle/Growth properties
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
Labels: 🚜 PartDesign

#5262 [PATH] Bug/translation
  src/Mod/Path/PathScripts/PathOpGui.py
  src/Mod/Path/PathScripts/PathProfile.py
  src/Mod/Path/PathScripts/PathProfileGui.py
Labels: 🛤️ Path

#5254 PD: Fix helix property visibility/writability
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHelix.h
Labels: 🚜 PartDesign

#5271 [PATH] change discretize value to fix issues
  src/Mod/Path/PathScripts/PathAdaptive.py
Labels: 🛤️ Path

#5266 Draft: fix Draft_Label viewprovider
  src/Mod/Draft/draftviewproviders/view_label.py
Labels: 📐 Draft

#5249 Draft: Draft_Label fix label type list
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_labels.py
  src/Mod/Draft/draftmake/make_label.py
  src/Mod/Draft/draftobjects/label.py
Labels: 📐 Draft

#5244 [ArchWindow] add SketchArch attachment support (2nd attempt)
  src/Mod/Arch/ArchWindow.py
Labels: 🏛 Arch

#5243 [ArchEquipment] add SketchArch attachment support (3rd attempt)
  src/Mod/Arch/ArchEquipment.py
Labels: 🏛 Arch

#5278 App: catch Base::Exception in ObjectIdentifier::getDep()
  src/App/ObjectIdentifier.cpp
Labels: core

#5253 [sketcher_mapsketch] prevent circular dependency by disallowing mappi…
  src/Mod/Sketcher/Gui/Command.cpp
Labels: :pencil2: Sketcher

#5279 [Sketcher] Ensure reference angle constraint is always positive
  src/Mod/Sketcher/App/Sketch.cpp
Labels: :pencil2: Sketcher

#5286 [Sketcher] Constrain new B-spline pole weight only if equal to first
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: :pencil2: Sketcher

#5285 [Mesh] rename gmsh -> Gmsh
  src/Mod/Mesh/Gui/RemeshGmsh.cpp
  src/Mod/Mesh/Gui/RemeshGmsh.ui
  src/Mod/MeshPart/Gui/Tessellation.cpp
Labels: 🥅Mesh

#5284 [GUI] don't show report view on warnings by default
  src/Gui/DlgReportView.ui
  src/Gui/ReportView.cpp
Labels: core

#5291 Link: Fix doxygen typo
  src/App/Link.h
Labels: core

#5298 Sketcher: fix source comment typos
  src/Mod/Sketcher/Gui/EditModeInformationOverlayCoinConverter.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: :pencil2: Sketcher, Typo

#5302 Path: fix source comment typo
  src/Mod/Path/PathTests/TestPathDeburr.py
Labels: 🛤️ Path, Typo

#5303 App: fix doxygen typo
  src/App/Application.cpp
Labels: core, Typo

#5308 Sketcher: fix build failures with MSVC
  src/Mod/Sketcher/App/GeoEnum.cpp
  src/Mod/Sketcher/App/GeoEnum.h
  src/Mod/Sketcher/App/GeoList.cpp
  src/Mod/Sketcher/Gui/PreCompiled.h
Labels: :pencil2: Sketcher

#5300 Mouse navigation: change unnecesary warnings to messages
  src/Gui/GestureNavigationStyle.cpp
  src/Gui/MayaGestureNavigationStyle.cpp
Labels: core

#5289 [core] Add new parameter to BaseApp/Preferences/Dialog called DontUse…
  src/Gui/TaskElementColors.cpp
  src/Gui/Widgets.cpp
Labels: core

#5269 [PartDesign] for chamfer and fillet, add SelectAllEdges option in the…
  src/Mod/PartDesign/Gui/TaskChamferParameters.cpp
  src/Mod/PartDesign/Gui/TaskChamferParameters.h
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.h
  src/Mod/PartDesign/Gui/TaskFilletParameters.cpp
  src/Mod/PartDesign/Gui/TaskFilletParameters.h
Labels: 🚜 PartDesign
