Repository FreeCAD/FreeCAD, pull requests merged in 2021-07, with the labels that each got.

#4909 Path: Fixed incorrect usage of isDirty() in the accept button call back.
  src/Mod/Path/PathScripts/PathOpGui.py
Labels: 🛤️ Path

#4883 Arch: Draw solar diagrams for timezones other than UTC and UTC-3
  src/Mod/Arch/ArchSite.py
Labels: 🏛 Arch

#4910 Arch: Fix Arch_Wall: block joints where put on the wrong side of offset
  src/Mod/Arch/ArchWall.py
Labels: 🏛 Arch

#4922 Draft: fix dimensions with decimals=0 problem
  src/Mod/Draft/draftutils/units.py
Labels: 📐 Draft

#4446 [0.20][PATH] Deburr improve
  src/Mod/Path/PathScripts/PathDeburr.py
  src/Mod/Path/PathScripts/PathDeburrGui.py
  src/Mod/Path/PathScripts/PathDressupLeadInOut.py
  src/Mod/Path/PathScripts/PathGeom.py
  src/Mod/Path/PathScripts/PathOpTools.py
  src/Mod/Path/PathScripts/PathSelection.py
  src/Mod/Path/PathTests/TestPathDeburr.py
Labels: For 0.20, 🛤️ Path

#4917 [Path] Adaptive: Correct the processing of selected edges
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/PathScripts/PathAdaptive.py
  src/Mod/Path/PathTests/TestPathAdaptive.py
  src/Mod/Path/PathTests/test_adaptive.fcstd
  src/Mod/Path/TestPathApp.py
Labels: 🛤️ Path

#4937 [Path] Cleanup Adaptive unit test code and re-enable Path unit tests
  src/Mod/Path/PathTests/TestPathAdaptive.py
  src/Mod/Path/TestPathApp.py
Labels: 🛤️ Path

#4938 [Path] Restore edge processing to Adaptive as in 0.19 release
  src/Mod/Path/PathScripts/PathAdaptive.py
  src/Mod/Path/PathScripts/PathFeatureExtensionsGui.py
Labels: 🛤️ Path

#4939 [Path] Fix multi-OS path issue for Job templates
  src/Mod/Path/PathScripts/PathJobDlg.py
Labels: 🛤️ Path

#4925 Draft: Fix spelling gui_edit_draft_objects.py
  src/Mod/Draft/draftguitools/gui_edit_draft_objects.py
Labels: 📐 Draft

#4898 Draft: Fix wrong default value for defaultWP
  src/Mod/Draft/DraftTools.py
Labels: 📐 Draft
