Repository FreeCAD/FreeCAD, pull requests merged in 2021-05, with the labels that each got.

#4557 Crowdin: represent whitespace in code instead of in string
  src/Mod/Arch/ArchStairs.py
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftmake/make_arc_3points.py
  src/Mod/Draft/importDWG.py
  src/Mod/Draft/importDXF.py
  src/Mod/Draft/importOCA.py
  src/Mod/Fem/femguiutils/selection_widgets.py
  src/Mod/OpenSCAD/exportCSG.py
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
  src/Mod/Path/Gui/Resources/translations/Path.ts
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Start/Gui/Resources/translations/StartPage.ts
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/mrichtextedit.cpp
Labels: L10N

#4774 [FEM] patch LGTM alerts
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtools/femutils.py
Labels: 🧪 FEM

#4794 Crowdin: fix mistake in Draft Preferences text [skip ci]
  src/Mod/Draft/Resources/ui/preferences-dxf.ui
Labels: L10N

#4795 Crowdin: remove superfluous whitespace from translation
  src/Mod/Draft/draftmake/make_arc_3points.py
Labels: L10N

#4523 [Path] Stability fixes for experimental Slot operation
  src/Mod/Path/PathScripts/PathSlot.py
Labels: For 0.20, 🛤️ Path

#4637 [Path] Fix update of Extensions `Default Length` GUI spin box
  src/Mod/Path/PathScripts/PathPocketShapeGui.py
Labels: 🛤️ Path

#4617 [Path] Fix outside `Extensions` of circular faces with inner holes
  src/Mod/Path/PathScripts/PathPocketShape.py
  src/Mod/Path/PathScripts/PathPocketShapeGui.py
Labels: 🛤️ Path

#4680 Path: vcarve - Fix depth calculation
  src/Mod/Path/PathScripts/PathVcarve.py
Labels: 🛤️ Path

#4804 Crowdin: fix Draft mirror code typo
  src/Mod/Draft/draftfunctions/mirror.py
Labels: L10N

#4672 [PATH] CAMotics simulation. First Draft
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Gui/Resources/Path.qrc
  src/Mod/Path/Gui/Resources/icons/Path_Camotics.svg
  src/Mod/Path/Gui/Resources/icons/camotics-logo.png
  src/Mod/Path/Gui/Resources/panels/TaskPathCamoticsSim.ui
  src/Mod/Path/InitGui.py
  src/Mod/Path/PathScripts/PathCamoticsGui.py
  src/Mod/Path/PathScripts/PathGuiInit.py
  src/Mod/Path/PathScripts/PathPost.py
Labels: 🛤️ Path

#4673 [PATH] Fix proxy error bug that occurs when postprocessing
  src/Mod/Path/PathScripts/post/fanuc_post.py
  src/Mod/Path/PathScripts/post/heidenhain_post.py
  src/Mod/Path/PathScripts/post/linuxcnc_post.py
  src/Mod/Path/PathScripts/post/mach3_mach4_post.py
  src/Mod/Path/PathScripts/post/philips_post.py
Labels: 🛤️ Path
