Repository FreeCAD/FreeCAD, pull requests merged in 2021-11, with the labels that each got.

#5128 PD: Expose missing commands to translation in Measure dropdown menu
  src/Mod/PartDesign/Gui/Workbench.cpp
Labels: L10N, PartDesign

#5140 Mesh: Convert comments from DE->EN
  src/Mod/Mesh/App/Core/Approximation.h
  src/Mod/Mesh/App/Core/Elements.cpp
Labels: 🥅Mesh

#5142 Fix typos in source comments [skip ci]
  src/App/Application.h
  src/Mod/Fem/femtaskpanels/task_material_common.py
Labels: L10N

#5160 TechDraw: Fix typo in Tool Attributes command + expose to translation
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: L10N, TechDraw

#5162 TechDraw: Renames submenu command + exposes to translation
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: L10N, TechDraw

#5161 Gui: expose the 'Link Actions' toolbar icon to translation
  src/Gui/Workbench.cpp
Labels: L10N

#5152 Draft: fix getTeighaConverter
  src/Mod/Draft/importDWG.py
Labels: 📐 Draft

#5159 [PD] Clear other taskbox buttons in loft and pipe when one pressed
  src/Mod/PartDesign/Gui/TaskLoftParameters.cpp
  src/Mod/PartDesign/Gui/TaskLoftParameters.h
  src/Mod/PartDesign/Gui/TaskPipeParameters.cpp
  src/Mod/PartDesign/Gui/TaskPipeParameters.h
Labels: PartDesign

#4626 [Gui] Issue #3923 - Add arbitrary Tree View item ordering
  src/Gui/CommandView.cpp
  src/Gui/Document.cpp
  src/Gui/Tree.cpp
  src/Gui/Tree.h
  src/Gui/ViewProviderDocumentObject.cpp
  src/Gui/ViewProviderDocumentObject.h
  src/Gui/ViewProviderExtension.h
  src/Gui/ViewProviderOrigin.h
  src/Gui/ViewProviderOriginGroupExtension.h
  src/Mod/Part/Gui/ViewProviderBoolean.h
  src/Mod/Part/Gui/ViewProviderMirror.h
  src/Mod/PartDesign/Gui/ViewProviderLoft.h
  src/Mod/PartDesign/Gui/ViewProviderPipe.h
  src/Mod/Test/CMakeLists.txt
  src/Mod/Test/InitGui.py
  src/Mod/Test/TreeView.py
Labels: core

#5169 Sketcher: fix typo in Gui/TaskSketcherValidation.ui
  src/Mod/Sketcher/Gui/TaskSketcherValidation.ui
Labels: Typo

#5171 [Spreadsheet] Expose the selected cells to Python
  src/Mod/Spreadsheet/Gui/AppSpreadsheetGui.cpp
  src/Mod/Spreadsheet/Gui/CMakeLists.txt
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.cpp
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.h
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheetPy.xml
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheetPyImp.cpp
Labels: Spreadsheet

#5166 Draft: revise findMidpoint function
  src/Mod/Draft/draftgeoutils/edges.py
Labels: 📐 Draft

#5154 [PATH] Drilling refactor part 1 - Generator and testing
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Generators/drill_generator.py
  src/Mod/Path/PathTests/TestPathDrillGenerator.py
  src/Mod/Path/TestPathApp.py
Labels: 🛤️ Path

#5153 Draft housekeeping: importDXF.py should use make_layer
  src/Mod/Draft/importDXF.py
Labels: 📐 Draft

#5028 Crowdin: Fix and expose Mesh WB translations
  src/Mod/Mesh/Gui/Workbench.cpp
  src/Mod/MeshPart/Gui/MeshFlatteningCommand.py
Labels: L10N

#5177 [Path] face outerwires aren't always the first wire in the Wires list.
  src/Mod/Path/PathScripts/PathProfile.py
Labels: 🛤️ Path

#5184 Gui: Remove superfluous whitespace from string that is translated
  src/Gui/DlgUnitsCalculator.ui
Labels: L10N

#5181 App: fix doc typo in ObjectIdentifier.h
  src/App/ObjectIdentifier.h
Labels: Typo

#5176 [PD] Use `PropertyLinkSubList` for loft and sweep sections
  src/Mod/PartDesign/App/FeatureLoft.h
  src/Mod/PartDesign/App/FeaturePipe.h
  src/Mod/PartDesign/Gui/TaskLoftParameters.cpp
  src/Mod/PartDesign/Gui/TaskPipeParameters.cpp
Labels: PartDesign

#5196 Gui: remove superfluous whitespace from translation string
  src/Gui/CommandPyImp.cpp
  src/Gui/Document.cpp
Labels: L10N

#5205 [PATH] depthparams handles negative steps and finish step correctly. Unit tests
  src/Mod/Path/PathScripts/PathUtils.py
  src/Mod/Path/PathTests/TestPathDepthParams.py
Labels: 🛤️ Path

#5193 [PD] Support for point sections in pipe/sweep
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/Gui/Command.cpp
Labels: 🚜 PartDesign

#5199 [PD] Helix: Offer profile's normal as axis
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
  src/Mod/PartDesign/Gui/TaskHelixParameters.ui
Labels: 🚜 PartDesign

#5211 [PD] allow negative helix growth
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHelix.h
  src/Mod/PartDesign/Gui/TaskHelixParameters.h
Labels: 🚜 PartDesign
