Repository FreeCAD/FreeCAD, pull requests merged in 2022-09, with the labels that each got.

#7424 Draft: Fix workingplane auto alignment to Front view
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#7434 [Part]fix makeWireString for Win & Py > 3.09
  src/Mod/Part/App/AppPartPy.cpp
Labels: WB Part

#7428 Path: Fix for gcode output file naming issues.
  src/Mod/Path/PathScripts/PathPost.py
Labels: WB Path

#7438 [Path] Change Default Drilling Retraction from G99 to G98
  src/Mod/Path/PathScripts/PathDrilling.py
Labels: WB Path

#7444 [Bugfix]Gui: ensure message boxes appear and stay on top of main window
  src/Gui/DlgMacroExecuteImp.cpp
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
Labels: Core, WB Sketcher

#7267 Draft: Avoid faulty Base.Placement.rotate() in draftobjects.array.py
  src/Mod/Draft/draftobjects/array.py
Labels: WB Draft

#7436 Arch: Fix wall baseface generation for overlapping and self-intersecting traces
  src/Mod/Arch/ArchWall.py
  src/Mod/Draft/draftgeoutils/faces.py
Labels: WB Arch, WB Draft

#7441 Draft: Fix flatten wire
  src/Mod/Draft/draftgeoutils/wires.py
  src/Mod/Draft/draftviewproviders/view_bezcurve.py
  src/Mod/Draft/draftviewproviders/view_bspline.py
  src/Mod/Draft/draftviewproviders/view_fillet.py
  src/Mod/Draft/draftviewproviders/view_wire.py
Labels: WB Draft

#7437 codespell: add 3 more words to codespellignore list
  .github/codespellignore
Labels: :octocat:

#7403 [TechDraw] Improve readability of Geometry.cpp
  src/Mod/TechDraw/App/Geometry.cpp
Labels: WB TechDraw

#7185 Path: Added G73 decomposition and more refactored tests
  src/Mod/Path/PathScripts/PostUtilsArguments.py
  src/Mod/Path/PathScripts/PostUtilsParse.py
  src/Mod/Path/PathScripts/post/refactored_centroid_post.py
  src/Mod/Path/PathScripts/post/refactored_grbl_post.py
  src/Mod/Path/PathScripts/post/refactored_linuxcnc_post.py
  src/Mod/Path/PathScripts/post/refactored_mach3_mach4_post.py
  src/Mod/Path/PathScripts/post/refactored_test_post.py
  src/Mod/Path/PathTests/TestRefactoredTestPost.py
Labels: WB Path

#7454 Fix bug when testing verticallity during PathFeedRate generation
  src/Mod/Path/PathFeedRate.py
Labels: WB Path

#7456 [TechDraw] Microimprove new Face Finder Algorithm
  src/Mod/TechDraw/App/DrawViewPart.cpp
Labels: WB TechDraw

#7455 [PATH]: bugfix/setup-sheet-stepover
  src/Mod/Path/PathScripts/PathSetupSheetOpPrototype.py
  src/Mod/Path/PathTests/TestPathSetupSheet.py
Labels: WB Path

#7453 Draft: Fix alignment of angular dimension arrows
  src/Mod/Draft/draftviewproviders/view_dimension.py
Labels: WB Draft

#7433 Remove conditionals for xerces v2
  src/Base/InputSource.cpp
  src/Base/InputSource.h
  src/Base/Parameter.cpp
  src/Base/PreCompiled.h
  src/Base/Reader.cpp
  src/Base/Reader.h
  src/Base/XMLTools.cpp
Labels: Core, Refactor

#7462 Draft: Improve drag-and-drop behavior for Layers
  src/Mod/Draft/draftviewproviders/view_layer.py
Labels: WB Draft

#7471 [TD]simplify ActiveView
  src/Mod/TechDraw/App/DrawViewImage.cpp
  src/Mod/TechDraw/Gui/AppTechDrawGuiPy.cpp
  src/Mod/TechDraw/Gui/Grabber3d.cpp
  src/Mod/TechDraw/Gui/Grabber3d.h
  src/Mod/TechDraw/Gui/TaskActiveView.cpp
  src/Mod/TechDraw/Gui/TaskActiveView.h
  src/Mod/TechDraw/Gui/TaskActiveView.ui
Labels: WB TechDraw

#7472 [TD]Latin script templates to plain SVG
  src/Mod/TechDraw/Templates/A0_Landscape_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A0_Landscape_ISO7200_Pep.svg
  src/Mod/TechDraw/Templates/A0_Landscape_blank.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO7200_Pep.svg
  src/Mod/TechDraw/Templates/A1_Landscape_blank.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO7200_Pep.svg
  src/Mod/TechDraw/Templates/A2_Landscape_blank.svg
  src/Mod/TechDraw/Templates/A3_LandscapeTD.svg
  src/Mod/TechDraw/Templates/A3_Landscape_EN_m52.svg
  src/Mod/TechDraw/Templates/A3_Landscape_FR_m52.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO7200_Pep.svg
  src/Mod/TechDraw/Templates/A3_Landscape_IT_m52.svg
  src/Mod/TechDraw/Templates/A3_Landscape_blank.svg
  src/Mod/TechDraw/Templates/A4_IRAM4504.svg
  src/Mod/TechDraw/Templates/A4_LandscapeTD.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO7200_Pep.svg
  src/Mod/TechDraw/Templates/A4_Landscape_blank.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO7200Pep.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A4_Portrait_blank.svg
  src/Mod/TechDraw/Templates/ANSIB.svg
  src/Mod/TechDraw/Templates/ANSIB_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_A_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_A_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_B_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_B_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_C_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_C_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_D_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_D_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E1_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E1_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E2_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E2_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E3_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E3_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E_Portrait.svg
  src/Mod/TechDraw/Templates/HowToExample.svg
  src/Mod/TechDraw/Templates/USLetter_Landscape.svg
  src/Mod/TechDraw/Templates/USLetter_Landscape_blank.svg
Labels: WB TechDraw

#7469 Path: Fixed test00010 sensitivity to terminal column count.
  src/Mod/Path/PathTests/TestRefactoredTestPost.py
Labels: WB Path, priority:High

#7475 cmake: find smesh (continued from #7299)
  cMake/FindSMESH.cmake
  cMake/FreeCAD_Helpers/SetupSalomeSMESH.cmake
Labels: packaging/building

#7445 PartDesign: improve offset handling of SubShapeBinder
  src/Mod/PartDesign/App/ShapeBinder.cpp
Labels: WB PartDesign

#7422 [Bugfix]Gui: allow set up expression even if property value is currently being edited
  src/Gui/propertyeditor/PropertyEditor.cpp
Labels: Core

#7429 [Bugfix]Sketcher: some user colors aren't taken into account
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.h
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: WB Sketcher

#7476 [TD]restore missing isoparameter option
  src/Mod/TechDraw/App/GeometryObject.cpp
Labels: WB TechDraw

#7480 [TD]fix active view on windows
  src/Mod/TechDraw/Gui/Grabber3d.cpp
  src/Mod/TechDraw/Gui/Grabber3d.h
  src/Mod/TechDraw/Gui/TaskActiveView.cpp
Labels: WB TechDraw

#7467 [FEM] added critical strain ratio functionality
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/femobjects/result_mechanical.py
  src/Mod/Fem/femresult/resulttools.py
Labels: WB FEM

#7426 [Bugfix]Sketcher: prevent dangling state of Shift key if key released out of Quarter
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher, shortcut

#7485 [Sketcher] Fix Typo in comment
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#7409 clang-format set column limit
  .clang-format
Labels: Core

#7261 Gui: when customizing shortcuts, warn user if command isn't in use with a message box
  src/Gui/DlgKeyboardImp.cpp
Labels: Core

#7492 [TD]fix printall banner page and pdf
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.h
Labels: WB TechDraw

#7500 CI: allow manual launch of CI
  .github/workflows/checks.yml
Labels: :octocat:

#7497 [FEM] tweak function docstrings in `femresult/resulttools.py`
  src/Mod/Fem/femresult/resulttools.py
Labels: WB FEM

#7503 [TD]limit zoom out
  src/Mod/TechDraw/Gui/QGVNavStyle.cpp
  src/Mod/TechDraw/Gui/QGVNavStyle.h
Labels: WB TechDraw

#7505 [TD]position view within clip group
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawView.h
  src/Mod/TechDraw/App/DrawViewClip.cpp
Labels: WB TechDraw

#7504 PartDesign: Add format parameter for Wedge X-min under Task tab
  src/Mod/PartDesign/Gui/TaskPrimitiveParameters.cpp
Labels: WB PartDesign

#7359 Draft: Improve In-Command-shortcut Undo implementation
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/Resources/ui/preferences-draftinterface.ui
Labels: WB Draft

#7506 Draft: Fix several path array issues
  src/Mod/Draft/draftobjects/patharray.py
Labels: WB Draft

#7513 [Sketcher] adjust some sketcher icons to better follow art style guide
  src/Mod/Sketcher/Gui/Resources/icons/constraints/Constraint_Diameter.svg
  src/Mod/Sketcher/Gui/Resources/icons/constraints/Constraint_Diameter_Driven.svg
  src/Mod/Sketcher/Gui/Resources/icons/constraints/Constraint_Radiam_Driven.svg
Labels: UI/UX, WB Sketcher

#7490 Part: Measure preferences: Improve UI texts
  src/Mod/Part/Gui/DlgSettingsMeasure.ui
Labels: WB Part

#7507 Gui: Allow None parameter again in drag and drop methods in Python ViewProviderPy class
  src/Gui/ViewProviderPy.xml
  src/Gui/ViewProviderPyImp.cpp
  src/Mod/Part/TestPartGui.py
Labels: Core, WB Part

#7521 [TD]fix StackTop and StackBottom
  src/Mod/TechDraw/Gui/ViewProviderBalloon.cpp
  src/Mod/TechDraw/Gui/ViewProviderDimension.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.cpp
  src/Mod/TechDraw/Gui/ViewProviderLeader.cpp
  src/Mod/TechDraw/Gui/ViewProviderRichAnno.cpp
Labels: WB TechDraw

#7522 Sketcher: various fixes in constraint commands
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#7457 Base: Remove unused method
  src/Base/Console.cpp
  src/Base/Console.h
Labels: Core

#7493 App: Remove redundant code
  src/App/Application.cpp
Labels: Core

#7527 Draft: Improve Draft_Edit context menus
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_edit_draft_objects.py
Labels: WB Draft

#7519 Issue #7510 - rectified transparency in importOBJ.py
  src/Mod/Arch/importOBJ.py
Labels: WB Arch

#7515 Better Thumbnail quality by oversampling hires screenshot
  src/Gui/Thumbnail.cpp
Labels: Core

#7498 Gui: do not detach parameter observer from PythonEditor
  src/Gui/PythonEditor.cpp
Labels: Core
