Repository FreeCAD/FreeCAD, pull requests merged in 2022-06, with the labels that each got.

#6947 [TD] Add text to translate
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
Labels: WB TechDraw

#6953 Fix various typos
  src/App/Link.cpp
  src/Base/Parameter.h
  src/Base/RotationPy.xml
  src/Mod/Part/Gui/SectionCutting.cpp
  src/Mod/Part/Gui/SectionCutting.ui
Labels: core, WB Part, Typo

#6954 PD: Fix w[z] plot in ShaftWizard
  src/Mod/PartDesign/WizardShaft/SegmentFunction.py
Labels: WB PartDesign

#6955 Base: Improve docstrings in TypePy.xml
  src/Base/TypePy.xml
Labels: documentation

#6956 [TD]fix misleading error messages
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.cpp
Labels: WB TechDraw

#6957 [TD]fix Dimension/Balloon movement
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIView.h
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.h
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.h
  src/Mod/TechDraw/Gui/ViewProviderBalloon.cpp
  src/Mod/TechDraw/Gui/ViewProviderDimension.cpp
Labels: WB TechDraw

#6958 Base: Improve docstrings in VectorPy.xml
  src/Base/VectorPy.xml
Labels: core, documentation

#6964 [Sketcher] Add missing newline
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#6968 Crowdin Update Fem.ts
  src/Mod/Fem/Gui/Resources/translations/Fem.ts
Labels: WB FEM

#6966 [FEM] add missing parser handling of '^' character
  src/Mod/Fem/femtools/tokrules.py
Labels: WB FEM

#6965 [FEM] fix wrong error message about comments
  src/Mod/Fem/femtools/tokrules.py
Labels: WB FEM

#6967 [TD]fix updating of shared view
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.cpp
Labels: WB TechDraw

#6984 Crowdin Run update.ts with latest source code.
  src/Gui/Language/FreeCAD.ts
  src/Mod/AddonManager/Resources/translations/AddonManager.ts
  src/Mod/Arch/Resources/translations/Arch.ts
  src/Mod/Draft/Resources/translations/Draft.ts
  src/Mod/Fem/Gui/Resources/translations/Fem.ts
  src/Mod/Mesh/Gui/Resources/translations/Mesh.ts
  src/Mod/Part/Gui/Resources/translations/Part.ts
  src/Mod/PartDesign/Gui/Resources/translations/PartDesign.ts
  src/Mod/Path/Gui/Resources/translations/Path.ts
  src/Mod/Robot/Gui/Resources/translations/Robot.ts
  src/Mod/Sketcher/Gui/Resources/translations/Sketcher.ts
  src/Mod/Spreadsheet/Gui/Resources/translations/Spreadsheet.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw.ts
  src/Mod/Web/Gui/Resources/translations/Web.ts
Labels: core, WB FEM, WB Arch, WB Draft, WB Path, WB TechDraw, WB PartDesign, WB Part, WB Spreadsheet, WB Sketcher, Addon Manager, WB Mesh

#6982 Base: Improve docstrings in PersistencePy.xml
  src/Base/PersistencePy.xml
Labels: core, documentation

#6962 [Gui] attempt to improve NaviCube rendering
  src/Gui/NaviCube.cpp
Labels: core, Testers Needed, UI/UX, navicube

#6989 [FEM] Implement a better dialog layout management for histogram
  src/Mod/Fem/femtaskpanels/task_result_mechanical.py
Labels: WB FEM

#6994 App: Improve docstrings in GeoFeaturePy.xml
  src/App/GeoFeaturePy.xml
Labels: core, documentation

#6979 Gui: Improve docstrings in AxisOriginPy.xml
  src/Gui/AxisOriginPy.xml
  src/Gui/AxisOriginPyImp.cpp
Labels: core, documentation

#6997 Spreadsheet: fix range checking
  src/App/Range.cpp
  src/App/Range.h
  src/Mod/Spreadsheet/App/Sheet.cpp
  src/Mod/Spreadsheet/Gui/DlgBindSheet.cpp
Labels: core, WB Spreadsheet

#7001 App: Improve docstrings in MetadataPy.xml and fix memory leak
  src/App/MetadataPy.xml
  src/App/MetadataPyImp.cpp
Labels: core, documentation

#6999 [FEM] fix linear filter plot
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
Labels: WB FEM

#6998 [FEM] fix detached plot
  src/Mod/Fem/Gui/Command.cpp
Labels: WB FEM

#6886 Path: Fix PointProjectionFailed
  src/Mod/Path/App/Area.cpp
Labels: WB Path

#7003 [TD]fix icons for dark schemes #6988
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/bgColor.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/fgColor.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/indentLess.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/indentMore.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/listBullet.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/menu.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/textBold.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/textItalic.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/textStrike.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/textUnderline.svg
Labels: WB TechDraw, UI/UX, stylesheets

#7006 Fix for non-Latin Group name in Tree View
  src/Gui/Tree.cpp
Labels: core, L10N

#7004 Arch: ArchSectionPlane always showed plan symbols of windows
  src/Mod/Arch/ArchSectionPlane.py
Labels: WB Arch

#7009 Spreadsheet: fix range selection
  src/Mod/Spreadsheet/App/PropertySheet.cpp
  src/Mod/Spreadsheet/App/PropertySheet.h
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
Labels: WB Spreadsheet

#7011 [Crowdin] Add Command to translate
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#7012 Base: Improve docstrings in BoundBoxPy.xml
  src/Base/BoundBoxPy.xml
  src/Base/BoundBoxPyImp.cpp
Labels: core, documentation

#7016 Fixing principal stress plots part 1
  src/Mod/Fem/App/FemVTKTools.cpp
Labels: WB FEM

#7015 Fixing principal stress plots part 2
  src/Mod/Fem/femresult/resulttools.py
Labels: WB FEM

#7021 README.md: Update URL to HTTPS
  README.md
Labels: 🏁 LGTM

#7045 [TD]Fix ProjectionGroups Spacing and Dimension Update
  src/Mod/TechDraw/App/DrawProjGroup.cpp
Labels: Bug, WB TechDraw

#7024 [FEM] fix a variable casting
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
Labels: WB FEM

#7025 [Gui] remove unnecessary Boolean comparisons
  src/Gui/Application.cpp
  src/Gui/CommandView.cpp
  src/Gui/Document.cpp
  src/Gui/GestureNavigationStyle.cpp
  src/Gui/GuiApplicationNativeEventAware.cpp
  src/Gui/NetworkRetriever.cpp
  src/Gui/PythonConsole.cpp
  src/Gui/SplitView3DInventor.cpp
  src/Gui/Thumbnail.cpp
  src/Gui/TreeView.cpp
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/ViewProviderDocumentObject.cpp
Labels: core

#7026 [Base] remove unnecessary Boolean comparisons
  src/Base/BoundBox.h
  src/Base/Builder3D.cpp
  src/Base/FileInfo.cpp
  src/Base/StackWalker.cpp
  src/Base/Tools2D.cpp
Labels: core

#7027 [App] remove unnecessary Boolean comparisons
  src/App/ApplicationPy.cpp
  src/App/Document.cpp
  src/App/Metadata.cpp
Labels: core

#7028 [Part] remove unnecessary Boolean comparisons
  src/Mod/Part/App/ExtrusionHelper.cpp
  src/Mod/Part/Gui/DlgBooleanOperation.cpp
Labels: WB Part

#7029 [TD] remove unnecessary Boolean comparisons
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/mrichtextedit.cpp
Labels: WB TechDraw

#7046 remove unused python version<3.6 code
  src/Mod/Part/App/AppPartPy.cpp
  src/Tools/generateTemplates/templateClassPyExport.py
Labels: WB Part

#7044 Base: Set angle in Rotation::inverse function
  src/Base/Rotation.cpp
Labels: core

#7032 fix Expressions assignment for FreeBSD
  src/App/PropertyExpressionEngine.h
Labels: core, packaging/building, OS: FreeBSD

#7057 Base: Fix wrong function name in RotationPy documentation.
  src/Base/RotationPy.xml
Labels: core

#7056 [Path] Add localization for PathToolBit and update Path.ts
  src/Mod/Path/Gui/Resources/translations/Path.ts
  src/Mod/Path/PathScripts/PathToolBitLibraryGui.py
Labels: WB Path

#6745 Points: fixes #5785: a python method to convert a Shape into a point …
  src/Mod/Points/CMakeLists.txt
  src/Mod/Points/Gui/Command.cpp
  src/Mod/Points/pointscommands/__init__.py
  src/Mod/Points/pointscommands/commands.py
Labels: For 0.21, WB Points

#7065 [Path] Enable improved output naming.
  src/Mod/Path/Gui/Resources/panels/PathEdit.ui
  src/Mod/Path/Gui/Resources/preferences/PathJob.ui
Labels: WB Path

#7069 Stylesheets: fix typos
  src/Gui/Stylesheets/Behave-dark.qss
  src/Gui/Stylesheets/Dark-blue.qss
  src/Gui/Stylesheets/Dark-contrast.qss
  src/Gui/Stylesheets/Dark-green.qss
  src/Gui/Stylesheets/Dark-orange.qss
  src/Gui/Stylesheets/Darker-blue.qss
  src/Gui/Stylesheets/Darker-green.qss
  src/Gui/Stylesheets/Darker-orange.qss
  src/Gui/Stylesheets/Light-blue.qss
  src/Gui/Stylesheets/Light-green.qss
  src/Gui/Stylesheets/Light-orange.qss
  src/Gui/Stylesheets/ProDark.qss
Labels: core, Typo

#6981 Base: Add function to get Python object types for SWIG interfaces
  src/Base/Interpreter.cpp
  src/Base/Interpreter.h
  src/Base/swigpyrun.inl
Labels: core, For 0.21

#6918 created clang-format
  .clang-format
Labels: For 0.21

#7073 Base: add Const attribute to many MatrixPy methods
  src/Base/MatrixPy.xml
Labels: core

#7019 Rename FindOpenCasCade.cmake to FindOCC.cmake
  cMake/FindOCC.cmake
  cMake/FreeCAD_Helpers/SetupOpenCasCade.cmake
Labels: packaging/building, 3rd Party: OCC, For 0.21

#7068 [BUGFIX] Gui: fix mouse Gesture navigation mode
  src/Gui/GestureNavigationStyle.cpp
Labels: core, regression

#6914 Part: `GeomBSplineCurve::interpolate` without tangency
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry.h
Labels: WB Part, Feature, For 0.21

#7067 Crowdin Add "new" WB to translations.
  src/Gui/Language/FreeCAD.ts
  src/Mod/Arch/Resources/translations/Arch.ts
  src/Mod/Draft/Resources/translations/Draft.ts
  src/Mod/Fem/Gui/Resources/translations/Fem.ts
  src/Mod/Inspection/Gui/Command.cpp
  src/Mod/Inspection/Gui/Resources/translations/Inspection.ts
  src/Mod/Material/Resources/translations/Material.ts
  src/Mod/Mesh/Gui/Resources/translations/Mesh.ts
  src/Mod/Part/Gui/Resources/translations/Part.ts
  src/Mod/PartDesign/Gui/Resources/translations/PartDesign.ts
  src/Mod/Path/Gui/Resources/translations/Path.ts
  src/Mod/Points/Gui/Resources/translations/Points.ts
  src/Mod/Robot/Gui/Resources/translations/Robot.ts
  src/Mod/Sketcher/Gui/Resources/translations/Sketcher.ts
  src/Mod/Spreadsheet/Gui/Resources/translations/Spreadsheet.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw.ts
  src/Tools/updatets.py
Labels: core, WB FEM, WB Arch, WB Draft, WB Path, WB TechDraw, WB PartDesign, WB Part, WB Spreadsheet, WB Sketcher, WB Mesh, WB Points

#7071 Draft: Fix Sketch Placement in make_sketch (issue #7058)
  src/Mod/Draft/draftmake/make_sketch.py
Labels: WB Draft

#7094 removed references to OCC<7
  src/Mod/Import/App/AppImportPy.cpp
  src/Mod/Import/App/ExportOCAF.cpp
  src/Mod/Import/App/ImportOCAF.cpp
  src/Mod/Import/App/ImportOCAFAssembly.cpp
  src/Mod/Import/Gui/AppImportGuiPy.cpp
  src/Mod/MeshPart/App/MeshFlattening.cpp
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/BRepOffsetAPI_MakeOffsetFix.cpp
  src/Mod/Part/App/BRepOffsetAPI_MakePipeShellPyImp.cpp
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/Part/App/FeaturePartSection.cpp
  src/Mod/Part/App/Geom2d/Geometry2dPyImp.cpp
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/GeometrySurfacePyImp.cpp
  src/Mod/Part/App/ImportStep.cpp
  src/Mod/Part/App/OCCError.h
  src/Mod/Part/App/OpenCascadeAll.h
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PrimitiveFeature.cpp
  src/Mod/Part/App/PropertyTopoShape.cpp
  src/Mod/Part/App/Tools.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShapeEdgePyImp.cpp
  src/Mod/Part/App/TopoShapeFacePyImp.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/Part/App/TopoShapeShellPyImp.cpp
  src/Mod/Part/App/TopoShapeSolidPyImp.cpp
  src/Mod/Part/App/encodeFilename.h
  src/Mod/Part/App/modelRefine.cpp
  src/Mod/Part/BOPTools/__init__.py
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/CommandSimple.cpp
  src/Mod/Part/Gui/PreCompiled.h
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/PreCompiled.h
  src/Mod/PartDesign/Gui/ViewProviderAddSub.cpp
  src/Mod/PartDesign/Gui/ViewProviderTransformed.cpp
  src/Mod/Path/App/Area.cpp
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
  src/Mod/Surface/App/FeatureExtend.cpp
  src/Mod/Surface/App/FeatureSections.cpp
Labels: WB Path, WB PartDesign, WB Part, WB Sketcher, WB MeshPart

#7087 [TD]remove build depend on DrawingWB
  src/Mod/TechDraw/App/CMakeLists.txt
Labels: WB TechDraw, packaging/building

#7084 Base: Minor changes in some Python docstrings
  src/Base/MatrixPy.xml
  src/Base/PlacementPy.xml
Labels: core, python, documentation

#6861 App: fix memory leaks in Enumeration class and simplify code
  src/App/Enumeration.cpp
  src/App/Enumeration.h
  src/App/FeatureTest.cpp
  src/App/Link.cpp
  src/App/PropertyStandard.cpp
  src/App/PropertyStandard.h
  src/Gui/DlgDisplayPropertiesImp.cpp
  src/Gui/TaskView/TaskAppearance.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Mod/Fem/App/FemPostFilter.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
Labels: core, WB FEM, WB PartDesign

#7092 Part: Geometry improvements
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry.h
Labels: WB Part

#6760 Path: Fixes #6693 - Add Z and K values to arc commands
  src/Mod/Path/PathScripts/PathDressupLeadInOut.py
Labels: WB Path

#7091 Sketcher: Constraints - add ability to generate constraint type string
  src/Mod/Sketcher/App/Constraint.cpp
  src/Mod/Sketcher/App/Constraint.h
Labels: Feature, WB Sketcher

#7105 Draft: Fix align working plane to DatumPlane bug
  src/Mod/Draft/draftguitools/gui_selectplane.py
Labels: WB Draft

#7096 [Path] Fix import error if camotics not installed.
  src/Mod/Path/PathScripts/PathGuiInit.py
Labels: WB Path

#7036 Remove old msc ver. Freecad 0.20 require 64 bit and windows 7 or higher. For this reason, msc libraries less than 1800 will no longer be used.
  src/Base/Builder3D.cpp
  src/Base/MemDebug.cpp
  src/Base/StackWalker.cpp
  src/Base/StackWalker.h
  src/CXX/Python3/Config.hxx
  src/Main/MainGui.cpp
  src/Mod/Drawing/Gui/TaskOrthoViews.cpp
  src/Mod/Fem/App/FemConstraint.cpp
  src/Mod/Mesh/App/WildMagic4/Wm4Platforms.h
  src/Tools/thumbs/StdAfx.h
Labels: core, WB FEM, WB Mesh

#7099 Part: add method to project point on curve
  src/Mod/Part/App/GeometryCurvePy.xml
  src/Mod/Part/App/GeometryCurvePyImp.cpp
Labels: WB Part

#7093 ViewProviderSketch: Cursor movement and preselection at sketch coordinates
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: WB Sketcher

#7098 Sketcher: Python converter
  src/Mod/Sketcher/App/CMakeLists.txt
  src/Mod/Sketcher/App/PythonConverter.cpp
  src/Mod/Sketcher/App/PythonConverter.h
Labels: WB Sketcher

#7111 [PATH] Another camotics import bug.
  src/Mod/Path/InitGui.py
  src/Mod/Path/PathScripts/PathGuiInit.py
Labels: WB Path
