Repository FreeCAD/FreeCAD, pull requests merged in 2022-10, with the labels that each got.

#7538 FEM:fix remaining result object in memory in femmesh2mesh
  src/Mod/Fem/femcommands/manager.py
Labels: WB FEM

#7539 [Bugfix]Gui: TinkerCAD mouse mode was always stopping RMB propagation
  src/Gui/TinkerCADNavigationStyle.cpp
Labels: Core, UI/UX

#7540 i18n: Manually update language files from Crowdin
  src/Mod/AddonManager/Resources/translations/AddonManager_ru.qm
  src/Mod/AddonManager/Resources/translations/AddonManager_ru.ts
  src/Mod/Image/Gui/Resources/translations/Image_ru.qm
  src/Mod/Image/Gui/Resources/translations/Image_ru.ts
Labels: Addon Manager

#7548 Sketcher : optimize code that was present for Qt4 compatibility
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
Labels: WB Sketcher

#7241 [Part] remove code for < GCC 4.8
  src/Mod/Part/App/GeometryDefaultExtension.cpp
Labels: WB Part

#7549 Test: Add more content tag testing to Metadata tests
  src/Mod/Test/Metadata.py
  src/Mod/Test/TestData/basic_metadata.xml
  src/Mod/Test/TestData/content_items.xml
Labels: WB Test

#7555 [TD]encode Xml characters in spreadsheet
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawViewSpreadsheet.cpp
Labels: WB TechDraw

#7552 Addon Manager: Improve failed pip behavior
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/manage_python_dependencies.py
Labels: Addon Manager

#7556 Addon Manager: Make sure metadata gets parsed when downloaded
  src/Mod/AddonManager/addonmanager_workers_installation.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
Labels: Addon Manager

#7564 [Bugfix]CI: disable line-ending conversion as it damages .FCStd files
  .github/workflows/checks.yml
Labels: :octocat:

#7528 Draft+Arch: Fix crash related to SoBrepEdgeSet
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchSectionPlane.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
  src/Mod/Draft/draftviewproviders/view_label.py
  src/Mod/Draft/draftviewproviders/view_wpproxy.py
Labels: WB Arch, WB Draft, Crash

#7541 Draft: Improve Draft_Edit task panel
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: WB Draft

#7558 Draft: Fix handling of double quotes in shapestrings
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
Labels: WB Draft

#7568 SKETCHER: Remove from toolbar 'Select conflicting...
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#7569 SKETCHER: Remove StopOperation from toolbar.
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#7570 Remove Edit Mod from File toolbar.
  src/Gui/Workbench.cpp
Labels: Core

#7571 Remove copy cut print paste from File toolbar.
  src/Gui/Workbench.cpp
Labels: Core

#7561 Gui: optionally disable wheel event when Gui::InputField doesn't have focus
  src/Gui/InputField.cpp
Labels: Core

#7572 Sketcher: Make 'Edit control' widget optional. ENABLED by default.
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.ui
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.cpp
Labels: WB Sketcher

#7559 [Bugfix]Base: Python method 'isEqual' of Vector shall be Const
  src/Base/VectorPy.xml
Labels: Core

#7574 [skip ci] codespell: correct ignore list entry
  .github/codespellignore
Labels: :octocat:

#7543 [Base, Sketcher] remove redundant boolean checks
  src/Base/StackWalker.cpp
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Core, WB Sketcher

#7592 [Sketcher] [planegcs] [skip ci] Add references for equations
  src/Mod/Sketcher/App/planegcs/GCS.cpp
Labels: WB Sketcher

#7593 [TD] Explicitly call `std::signbit`
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
Labels: WB TechDraw, Regression, packaging: Snap

#7576 Draft+Arch: Fix crash related to SoBrepEdgeSet
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchSectionPlane.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
  src/Mod/Draft/draftviewproviders/view_label.py
  src/Mod/Draft/draftviewproviders/view_wpproxy.py
Labels: WB Arch, WB Draft

#7590 Draft: Fix alignment of angular dimension arrows in svg.py
  src/Mod/Draft/draftfunctions/svg.py
Labels: WB Draft

#7597 Draft: Point array: Take placement of point object into account and accept more point object types
  src/Mod/Draft/draftguitools/gui_pointarray.py
  src/Mod/Draft/draftmake/make_pointarray.py
  src/Mod/Draft/draftobjects/pointarray.py
Labels: WB Draft

#7614 [Start] Fix New document name translation
  src/Mod/Start/StartPage/LoadNew.py
Labels: L10N, UI/UX

#7613 [Part] remove now obsolete code for Visual Studio compiler
  src/Mod/Part/App/GeometryDefaultExtension.cpp
Labels: WB Part

#7443 [Sketcher] Allow driving constraint on construction geometry
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
Labels: WB Sketcher

#7612 [TD]update export icons
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ExportPageDXF.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ExportPageSVG.svg
Labels: WB TechDraw

#7608 Draft: Fix path array float math issue
  src/Mod/Draft/draftobjects/patharray.py
Labels: WB Draft

#7611 Draft: Escape should not switch off continueMode
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_circulararray.py
  src/Mod/Draft/draftguitools/gui_clone.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_fillets.py
  src/Mod/Draft/draftguitools/gui_labels.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_mirror.py
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_offset.py
  src/Mod/Draft/draftguitools/gui_orthoarray.py
  src/Mod/Draft/draftguitools/gui_points.py
  src/Mod/Draft/draftguitools/gui_polararray.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftguitools/gui_selectplane.py
  src/Mod/Draft/draftguitools/gui_shapestrings.py
  src/Mod/Draft/draftguitools/gui_splines.py
  src/Mod/Draft/draftguitools/gui_stretch.py
  src/Mod/Draft/draftguitools/gui_styles.py
  src/Mod/Draft/draftguitools/gui_texts.py
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: WB Draft

#7599 fix codespell warnings
  src/Mod/Path/Path/Base/Gui/GetPoint.py
  src/Mod/Path/Path/Base/Gui/PropertyBag.py
  src/Mod/Path/Path/Op/Profile.py
  src/Mod/Path/PathTests/TestPathAdaptive.py
  src/Mod/Path/PathTests/TestPathDressupDogbone.py
Labels: WB Path

#7617 [TD]Allow ActiveView from different document
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.h
  src/Mod/TechDraw/Gui/Grabber3d.cpp
  src/Mod/TechDraw/Gui/Grabber3d.h
  src/Mod/TechDraw/Gui/TaskActiveView.cpp
Labels: WB TechDraw

#7618 [Bugfix]Sketcher/BackEdit : Backedit lost if user changed camera mode
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: WB Sketcher

#7594 [Sketcher] [Part] Fix typos and whitespace
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Sketcher/Gui/SketcherSettingsDisplay.ui
  src/Mod/Sketcher/Gui/Utils.h
Labels: WB Part, WB Sketcher

#7621 [TD]expose DVP projectPoint to Python
  src/Mod/TechDraw/App/DrawViewPartPy.xml
  src/Mod/TechDraw/App/DrawViewPartPyImp.cpp
Labels: WB TechDraw

#7604 [Bugfix]Spreadsheet: fix multi-screen management of QtColorPicker
  src/Mod/Spreadsheet/Gui/Workbench.cpp
  src/Mod/Spreadsheet/Gui/qtcolorpicker.cpp
Labels: WB Spreadsheet

#7119 Use Std_New for startup document creation
  src/Gui/MainWindow.cpp
Labels: Core, L10N

#7624 [TD]fix check of wrong variable
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
Labels: WB TechDraw

#7156 Fix of untranslated first document's name
  src/App/Application.cpp
  src/App/Resources/translations/App.ts
  src/Gui/CommandDoc.cpp
  src/Mod/Fem/App/AppFemPy.cpp
  src/Mod/Import/App/AppImportPy.cpp
  src/Mod/Import/Gui/AppImportGuiPy.cpp
  src/Mod/Mesh/App/AppMeshPy.cpp
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Path/Gui/AppPathGuiPy.cpp
  src/Mod/Points/App/AppPointsPy.cpp
  src/Tools/updatets.py
Labels: Core, WB FEM, WB Path, WB Part, WB Mesh, WB Points

#7625 Sketcher: remove unneeded flag
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: WB Sketcher

#7603 Sketcher: remove 'select DOF' from toolbar.
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#7622 Sketcher: Solver - Improvement of popularity contest and bug fix
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.h
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Sketcher/App/planegcs/GCS.h
Labels: GCS, WB Sketcher

#7626 [Bugfix] PartDesign: Fix HoleCutDepth not being recalculated correctly
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
Labels: Bug, WB PartDesign

#7631 Fix source comment typo
  src/App/DocumentObjectExtensionPyImp.cpp
  src/App/ExtensionPyImp.cpp
  src/App/PropertyContainerPyImp.cpp
  src/Base/PersistencePyImp.cpp
  src/Gui/ViewProviderExtensionPyImp.cpp
Labels: Core

#7630 PartDesign: Remove duplicate comment
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: WB PartDesign

#7632 Added 2 missing dark icons for stylesheets.
  src/Gui/Stylesheets/images_dark-light/checkbox_dark.svg
  src/Gui/Stylesheets/images_dark-light/checkbox_indeterminate_dark.svg
Labels: Core

#7634 Addon Manager: Clean up tests for pip
  src/Mod/AddonManager/addonmanager_workers_installation.py
Labels: Addon Manager

#7636 PartDesign: Refactor geometry creation of counersink/counterbore
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: WB PartDesign

#7562 PartDesign: Allow hole depth for countersinks
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
Labels: WB PartDesign

#7641 Sketcher: Correct icon for Sketcher_CreatePointFillet in menu
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
Labels: WB Sketcher

#7637 [PD] FeatureHole.cpp: sort counterdrill
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: WB PartDesign

#7644 Spreadsheet: [skip ci] fix doxygen typo
  src/Mod/Spreadsheet/App/Sheet.cpp
Labels: WB Spreadsheet

#7616 Draft: Make Std_TransformManip work for Draft_Point
  src/Mod/Draft/draftobjects/point.py
Labels: WB Draft

#7635 Draft: Accept 1 in NumberPolar parameter
  src/Mod/Draft/draftobjects/array.py
Labels: WB Draft

#7654 [PD] remove deprecated holes
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
Labels: WB PartDesign

#7653 Fixes #7652 Tag creation bug
  src/Mod/Path/Gui/Resources/panels/PointEdit.ui
Labels: WB Path

#7664 CI: Switch to QtWebEngine instead of QtWebKit
  .github/workflows/checks.yml
Labels: :octocat:

#7665 TechDraw: Windows compilation fix
  src/Mod/TechDraw/Gui/Widgets/CompassDialWidget.cpp
Labels: WB TechDraw

#7663 TechDraw: Improve code in Python DrawViewPartPy class
  src/Mod/TechDraw/App/DrawViewPartPyImp.cpp
Labels: WB TechDraw, Refactor, cpp

#7649 Update org.freecadweb.FreeCAD.desktop with Korean localisation
  src/XDGData/org.freecadweb.FreeCAD.desktop
Labels: L10N

#7601 Gui: remove forcefully jumping to Python Console bottom line on single LMB click
  src/Gui/PythonConsole.cpp
Labels: Core

#7671 TechDraw: Improve code in Python CenterLinePy class
  src/Mod/TechDraw/App/CenterLinePy.xml
  src/Mod/TechDraw/App/CenterLinePyImp.cpp
Labels: WB TechDraw

#7647 Core: Add cMake support for compiling against Qt6
  cMake/FindPySide2Tools.cmake
  cMake/FindPySide6Tools.cmake
  cMake/FreeCAD_Helpers/ChooseQtVersion.cmake
  cMake/FreeCAD_Helpers/FreeCADLibpackChecks.cmake
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  cMake/FreeCAD_Helpers/SetupQt.cmake
  cMake/FreeCAD_Helpers/SetupShibokenAndPyside.cmake
  src/App/CMakeLists.txt
  src/Base/CMakeLists.txt
  src/Gui/CMakeLists.txt
  src/Main/CMakeLists.txt
  src/Mod/Drawing/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Image/Gui/CMakeLists.txt
  src/Mod/Inspection/Gui/CMakeLists.txt
  src/Mod/Mesh/App/CMakeLists.txt
  src/Mod/Mesh/Gui/CMakeLists.txt
  src/Mod/MeshPart/Gui/CMakeLists.txt
  src/Mod/Part/Gui/CMakeLists.txt
  src/Mod/PartDesign/Gui/CMakeLists.txt
  src/Mod/Path/Gui/CMakeLists.txt
  src/Mod/Points/App/CMakeLists.txt
  src/Mod/Points/Gui/CMakeLists.txt
  src/Mod/Raytracing/Gui/CMakeLists.txt
  src/Mod/ReverseEngineering/Gui/CMakeLists.txt
  src/Mod/Robot/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Spreadsheet/Gui/CMakeLists.txt
  src/Mod/Start/Gui/CMakeLists.txt
  src/Mod/Surface/Gui/CMakeLists.txt
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/Test/Gui/CMakeLists.txt
  src/Mod/Web/App/CMakeLists.txt
  src/Mod/Web/CMakeLists.txt
  src/Mod/Web/Gui/CMakeLists.txt
Labels: packaging/building, Qt 6

#7619 Revert "[Gui] background default colors"
  src/Gui/DlgSettingsViewColor.ui
  src/Gui/PreferencePacks/FreeCAD Classic Colors/FreeCAD Classic Colors.cfg
  src/Gui/SplitView3DInventor.cpp
  src/Gui/View3DInventor.cpp
Labels: Core, UI/UX

#7674 [PartDesign] Improve Helix calculation for straight shape
  src/Mod/PartDesign/App/FeatureHelix.cpp
Labels: WB PartDesign
