Repository FreeCAD/FreeCAD, pull requests merged in 2022-11, with the labels that each got.

#7683 TechDraw: "Alternate Decimals" label in prefs should be italic
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensions.ui
Labels: WB TechDraw

#7692 [TD]fix view drag and drop to page - fixes 7691
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.h
Labels: WB TechDraw

#7693 [TD]fix tooltip for Equal Tolerance - fixes 7690
  src/Mod/TechDraw/Gui/TaskDimension.ui
Labels: WB TechDraw

#7685 Small fixes including preferences dialog
  src/Mod/Path/Gui/Resources/preferences/PathJob.ui
  src/Mod/Path/Path/Op/Area.py
  src/Mod/Path/Path/Op/Profile.py
Labels: WB Path

#7680 Base: Check sequence size in getVectorFromTuple function
  src/Base/GeometryPyCXX.h
Labels: Core

#7702 [Typo]Gui: fix file indentation + improve tootip
  src/Gui/DlgGeneral.ui
Labels: Core

#7699 Base: + Sketcher: disable geometry deselection when user holds Ctrl.
  src/Gui/NavigationStyle.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: UI/UX, WB Sketcher

#7491 [macOS] Adding QuickLook feature
  src/CMakeLists.txt
  src/Gui/Thumbnail.cpp
  src/MacAppBundle/CMakeLists.txt
  src/MacAppBundle/FreeCAD.app/Contents/Info.plist
  src/MacAppBundle/FreeCAD.app/Contents/Resources/freecad-script.icns
  src/MacAppBundle/QuickLook/CMakeLists.txt
  src/MacAppBundle/QuickLook/GeneratePreviewForURL.m
  src/MacAppBundle/QuickLook/GenerateThumbnailForURL.m
  src/MacAppBundle/QuickLook/QuicklookFCStd.qlgenerator/Contents/Info.plist
  src/MacAppBundle/QuickLook/main.c
Labels: Feature, OS: macOS

#7703 Sketcher: Add concentric capabilities to coincidence constraint.
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#7707 [Gui] DlgGeneral.ui
  src/Gui/DlgGeneral.ui
Labels: Core

#7710 [FEM] safer Elmer executable path handling
  src/Mod/Fem/Gui/DlgSettingsFemElmerImp.cpp
Labels: WB FEM

#7715 FEM: femmesh2mesh add disp scale factor
  src/Mod/Fem/femmesh/femmesh2mesh.py
Labels: WB FEM

#7711 Addon Manager: Handle UTF-8 decode failures
  src/Mod/AddonManager/addonmanager_workers_installation.py
Labels: Addon Manager

#7717 [FEM] more safe Elmer executable path handling
  src/Mod/Fem/Gui/DlgSettingsFemElmerImp.cpp
Labels: WB FEM

#7681 Addon Manager: use versioned Python package dirs
  src/App/FreeCADInit.py
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/addonmanager_workers_installation.py
  src/Mod/AddonManager/manage_python_dependencies.py
Labels: Core, Addon Manager

#7610 output SMESH version number in about dialog
  LibraryVersions.h.cmake
  SMESH_Version.h.cmake
  src/App/Application.cpp
  src/Gui/Splashscreen.cpp
Labels: Core

#7720 [Part] SectionCutting: cut long lines
  src/Mod/Part/Gui/SectionCutting.cpp
Labels: WB Part

#7721 [FEM] better safe Elmer executable path handling
  src/Mod/Fem/Gui/DlgSettingsFemElmerImp.cpp
Labels: WB FEM

#7724 [Sketch] change polyline icon
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_CreatePolyline.svg
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_CreatePolyline_Constr.svg
Labels: WB Sketcher

#7727 Part: Fix typo in regression_tests.py
  src/Mod/Part/parttests/regression_tests.py
Labels: WB Part

#7726 Part: TestPartApp.py add tolerance to PartTestShapeRotate
  src/Mod/Part/TestPartApp.py
Labels: WB Part

#7722 [PD] Helix: assure source Sketch is visible when in selection mode
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
Labels: WB PartDesign

#7718 [Gui] SplashScreen: modernize Qt connection
  src/Gui/Splashscreen.cpp
Labels: Core

#7712 Addon Manager: Qt6 migration part 1, use PySide
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/AddonManagerOptions.py
  src/Mod/AddonManager/NetworkManager.py
  src/Mod/AddonManager/addonmanager_devmode.py
  src/Mod/AddonManager/addonmanager_devmode_add_content.py
  src/Mod/AddonManager/addonmanager_devmode_license_selector.py
  src/Mod/AddonManager/addonmanager_devmode_licenses_table.py
  src/Mod/AddonManager/addonmanager_devmode_people_table.py
  src/Mod/AddonManager/addonmanager_devmode_person_editor.py
  src/Mod/AddonManager/addonmanager_devmode_validators.py
  src/Mod/AddonManager/addonmanager_macro.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/addonmanager_workers_installation.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
  src/Mod/AddonManager/addonmanager_workers_utility.py
  src/Mod/AddonManager/change_branch.py
  src/Mod/AddonManager/compact_view.py
  src/Mod/AddonManager/expanded_view.py
  src/Mod/AddonManager/install_to_toolbar.py
  src/Mod/AddonManager/manage_python_dependencies.py
  src/Mod/AddonManager/package_details.py
  src/Mod/AddonManager/package_list.py
Labels: Addon Manager

#7723 [Gui][Mod]: uniform spin button step size to 5%
  src/Gui/DlgMaterialProperties.ui
  src/Gui/ViewProviderGeometryObject.cpp
  src/Mod/Mesh/Gui/DlgSettingsMeshView.ui
  src/Mod/Mesh/Gui/ViewProvider.cpp
  src/Mod/Part/Gui/DlgSettingsObjectColor.ui
Labels: Core, WB Part, WB Mesh

#7698 TechDraw: Improve code in Python DrawPagePy class
  src/Mod/TechDraw/App/DrawPagePy.xml
  src/Mod/TechDraw/App/DrawPagePyImp.cpp
Labels: WB TechDraw, Refactor

#7670 Draft: Fix rectangle with face offset bug
  src/Mod/Draft/draftfunctions/offset.py
  src/Mod/Draft/draftgeoutils/offsets.py
  src/Mod/Draft/draftgeoutils/wires.py
Labels: WB Draft

#7661 Draft: Use DefaultShapeTransparency in gui_setstyle.py
  src/Mod/Draft/draftguitools/gui_setstyle.py
Labels: WB Draft

#7662 Draft: Make tangent vector affect ExtraTranslation
  src/Mod/Draft/draftobjects/patharray.py
Labels: WB Draft

#7656 Draft: Change Snap toolbar to standard toolbar
  src/Mod/Arch/InitGui.py
  src/Mod/Draft/InitGui.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftguitools/gui_snaps.py
  src/Mod/Draft/draftutils/init_draft_statusbar.py
  src/Mod/Draft/draftutils/init_tools.py
  src/Mod/Tux/PersistentToolbarsGui.py
Labels: WB Arch, WB Draft

#7731 [TD]fix hatch test script
  src/Mod/TechDraw/TDTest/DrawHatchTest.py
Labels: WB TechDraw

#7729 [TD]fix exception on no direction set
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawComplexSection.h
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.h
Labels: WB TechDraw

#7730 TechDraw: Improve code in Python CosmeticEdgePy class
  src/Mod/TechDraw/App/CosmeticEdgePy.xml
  src/Mod/TechDraw/App/CosmeticEdgePyImp.cpp
Labels: WB TechDraw

#7732 Fix typos in TD and FEM source comments/documentation [skip ci]
  src/Mod/Fem/femtools/femutils.py
  src/Mod/Fem/femtools/membertools.py
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.cpp
Labels: WB FEM, WB TechDraw

#7679 Gui: Add option to show workbench selector in menu bar
  src/Gui/Action.cpp
  src/Gui/DlgGeneral.ui
  src/Gui/DlgGeneralImp.cpp
  src/Gui/MenuManager.cpp
  src/Gui/MenuManager.h
  src/Gui/Workbench.cpp
Labels: Core, UI/UX, Awaiting feedback

#7696 GitHub: Remove forums requirement from issue template
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: :octocat:

#7739 Gui: Rename 'Output window' to 'Report view'
  src/Gui/DlgReportView.ui
  src/Gui/DlgReportViewImp.h
  src/Gui/PythonConsolePy.cpp
  src/Gui/PythonConsolePy.h
  src/Gui/ReportView.cpp
  src/Gui/ReportView.h
Labels: Core, UI/UX

#7735 Addon Manager: Add try/except to integer conversion
  src/Mod/AddonManager/NetworkManager.py
Labels: Backport, Addon Manager

#7728 [PATH] add OCC header/libdir to Path/libarea
  src/Mod/Path/libarea/CMakeLists.txt
Labels: WB Path, packaging/building, 3rd Party: OCC

#7749 [TD]fix read only scale property in DraftView
  src/Mod/TechDraw/App/DrawViewSymbol.cpp
Labels: WB TechDraw

#7708 Gui: Add button to set point color in Appearance task dialog
  src/Gui/DlgDisplayProperties.ui
  src/Gui/DlgDisplayPropertiesImp.cpp
  src/Gui/DlgDisplayPropertiesImp.h
Labels: Core, UI/UX

#7741 Draft: test_modification.py: modified test and added test
  src/Mod/Draft/drafttests/test_modification.py
Labels: WB Draft

#7753 Update the PR template to link to CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :octocat:

#7743 Arch: remove trailing whitespace in importWebGL.py
  src/Mod/Arch/importWebGL.py
Labels: WB Arch

#7719 [PD] TaskDlgRevolutionParameters: fix some CI warnings
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.h
Labels: WB PartDesign

#7760 [Mesh] App-Facet: remove unused includes
  src/Mod/Mesh/App/AppMesh.cpp
  src/Mod/Mesh/App/AppMeshPy.cpp
  src/Mod/Mesh/App/Edge.cpp
  src/Mod/Mesh/App/Edge.h
  src/Mod/Mesh/App/EdgePyImp.cpp
  src/Mod/Mesh/App/Exporter.cpp
  src/Mod/Mesh/App/Exporter.h
  src/Mod/Mesh/App/Facet.cpp
  src/Mod/Mesh/App/Facet.h
  src/Mod/Mesh/App/FacetPyImp.cpp
Labels: WB Mesh

#7750 Addon Manager: Refactor to extract first run dialog
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/addonmanager_firstrun.py
Labels: Addon Manager, Python, Refactor

#7763 [PATH] bugfix/fix-merge-issue-by-mangling-pr-7428
  src/Mod/Path/Path/Post/Command.py
Labels: WB Path

#7776 [Mesh] Imp* - end: remove unused includes
  src/Mod/Mesh/App/Importer.cpp
  src/Mod/Mesh/App/Mesh.cpp
  src/Mod/Mesh/App/Mesh.h
  src/Mod/Mesh/App/MeshFeature.cpp
  src/Mod/Mesh/App/MeshFeature.h
  src/Mod/Mesh/App/MeshFeaturePyImp.cpp
  src/Mod/Mesh/App/MeshPoint.h
  src/Mod/Mesh/App/MeshPointPyImp.cpp
  src/Mod/Mesh/App/MeshProperties.cpp
  src/Mod/Mesh/App/MeshProperties.h
  src/Mod/Mesh/App/MeshPyImp.cpp
  src/Mod/Mesh/App/MeshTexture.cpp
  src/Mod/Mesh/App/MeshTexture.h
  src/Mod/Mesh/App/Segment.cpp
  src/Mod/Mesh/App/Segment.h
  src/Mod/Mesh/App/Types.h
Labels: WB Mesh

#7779 [skip ci] [Github] add file endings
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/labeler.yml
Labels: :octocat:

#7777 [Path] PathSimulator: remove unused includes
  src/Mod/Path/PathSimulator/App/AppPathSimulator.cpp
  src/Mod/Path/PathSimulator/App/PathSim.cpp
  src/Mod/Path/PathSimulator/App/PathSim.h
  src/Mod/Path/PathSimulator/App/PathSimPyImp.cpp
  src/Mod/Path/PathSimulator/App/PreCompiled.cpp
  src/Mod/Path/PathSimulator/App/PreCompiled.h
  src/Mod/Path/PathSimulator/App/VolSim.cpp
  src/Mod/Path/PathSimulator/App/VolSim.h
Labels: WB Path

#7773 Addon Manager: Refactor to extract connection check GUI
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/addonmanager_connection_checker.py
Labels: Addon Manager

#7781 [Gui] NaviCube: fix rotation to backside
  src/Gui/NaviCube.cpp
Labels: Core

#7737 Gui: Add default JPEG save quality
  src/Gui/SoFCOffscreenRenderer.cpp
Labels: Core

#7784 [Mesh] Feature*: remove unused includes
  src/Mod/Mesh/App/Core/Grid.h
  src/Mod/Mesh/App/FeatureMeshCurvature.cpp
  src/Mod/Mesh/App/FeatureMeshCurvature.h
  src/Mod/Mesh/App/FeatureMeshDefects.cpp
  src/Mod/Mesh/App/FeatureMeshDefects.h
  src/Mod/Mesh/App/FeatureMeshExport.cpp
  src/Mod/Mesh/App/FeatureMeshExport.h
  src/Mod/Mesh/App/FeatureMeshImport.cpp
  src/Mod/Mesh/App/FeatureMeshImport.h
  src/Mod/Mesh/App/FeatureMeshSegmentByMesh.cpp
  src/Mod/Mesh/App/FeatureMeshSegmentByMesh.h
  src/Mod/Mesh/App/FeatureMeshSetOperations.cpp
  src/Mod/Mesh/App/FeatureMeshSetOperations.h
  src/Mod/Mesh/App/FeatureMeshSolid.cpp
  src/Mod/Mesh/App/FeatureMeshSolid.h
  src/Mod/Mesh/App/FeatureMeshTransform.cpp
  src/Mod/Mesh/App/FeatureMeshTransform.h
  src/Mod/Mesh/App/FeatureMeshTransformDemolding.cpp
  src/Mod/Mesh/App/FeatureMeshTransformDemolding.h
Labels: WB Mesh

#7785 [TD]Section dialog gui tweaks
  src/Mod/TechDraw/Gui/TaskComplexSection.ui
  src/Mod/TechDraw/Gui/TaskSectionView.ui
  src/Mod/TechDraw/Gui/Widgets/CompassDialWidget.cpp
Labels: WB TechDraw

#7788 [TD]fix vertical alignment of section pieces
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
Labels: WB TechDraw

#7778 Addon Manager: Refactor to extract metadata checker
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/addonmanager_devmode_metadata_checker.py
Labels: Addon Manager

#7725 Sketcher: Fix element widget repaint delay bug.
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
Labels: WB Sketcher

#7794 Sketcher: Coincidence constraint: fix error introduced by concentric
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#7798 [TD]fix handling of multiple pages
  src/Mod/TechDraw/App/DrawView.cpp
Labels: WB TechDraw

#7799 TechDraw: Improve and clean up code in some Python classes
  src/Mod/TechDraw/App/DrawProjGroupItemPyImp.cpp
  src/Mod/TechDraw/App/DrawSVGTemplatePyImp.cpp
  src/Mod/TechDraw/App/DrawViewClipPyImp.cpp
  src/Mod/TechDraw/App/DrawViewCollectionPyImp.cpp
  src/Mod/TechDraw/App/DrawViewDimensionPyImp.cpp
  src/Mod/TechDraw/App/DrawViewSymbolPyImp.cpp
  src/Mod/TechDraw/App/GeomFormatPyImp.cpp
Labels: WB TechDraw

#7797 MeshPart: remove trailing whitespace
  src/Mod/MeshPart/App/AppMeshPart.cpp
  src/Mod/MeshPart/App/AppMeshPartPy.cpp
  src/Mod/MeshPart/App/CurveProjector.cpp
  src/Mod/MeshPart/App/CurveProjector.h
  src/Mod/MeshPart/App/MeshAlgos.cpp
  src/Mod/MeshPart/App/MeshAlgos.h
  src/Mod/MeshPart/App/MeshFlattening.cpp
  src/Mod/MeshPart/App/MeshFlatteningBoostPython.cpp
  src/Mod/MeshPart/App/MeshFlatteningLscmRelax.cpp
  src/Mod/MeshPart/App/MeshFlatteningLscmRelax.h
  src/Mod/MeshPart/App/MeshFlatteningNurbs.cpp
  src/Mod/MeshPart/App/MeshFlatteningNurbs.h
  src/Mod/MeshPart/App/MeshFlatteningPy.cpp
  src/Mod/MeshPart/App/Mesher.cpp
  src/Mod/MeshPart/App/PreCompiled.cpp
  src/Mod/MeshPart/App/PreCompiled.h
  src/Mod/MeshPart/Gui/CrossSections.cpp
  src/Mod/MeshPart/Gui/PreCompiled.cpp
  src/Mod/MeshPart/Gui/Workbench.h
Labels: WB MeshPart

#7804 TechDraw: remove trailing whitespace
  src/Mod/TechDraw/App/CosmeticExtensionPy.xml
  src/Mod/TechDraw/Gui/QGIView.h
  src/Mod/TechDraw/Gui/TaskSectionView.cpp
  src/Mod/TechDraw/Gui/Widgets/CompassDialWidget.h
  src/Mod/TechDraw/PAT/FCPAT.pat
Labels: WB TechDraw

#7802 TD: fix memory leaks with raw pointers of GeometryObject
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/DrawProjectSplit.cpp
  src/Mod/TechDraw/App/DrawProjectSplit.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/App/GeometryObject.h
Labels: WB TechDraw

#7526 [ArchWall] Use and Create ArchSketch if add-on is present
  src/Mod/Arch/ArchSketchObject.py
  src/Mod/Arch/ArchWall.py
Labels: WB Arch

#7809 [TD]fix alignment of section line marks on rotated base view
  src/Mod/TechDraw/Gui/QGISectionLine.cpp
Labels: WB TechDraw

#7814 Arch: remove trailing whitespace
  src/Mod/Arch/ArchEquipment.py
  src/Mod/Arch/ArchProfile.py
  src/Mod/Arch/ArchSketchObject.py
  src/Mod/Arch/ArchStairs.py
  src/Mod/Arch/ArchWindowPresets.py
  src/Mod/Arch/Dice3DS/dom3ds.py
  src/Mod/Arch/Presets/profiles.csv
  src/Mod/Arch/exportIFCStructuralTools.py
  src/Mod/Arch/importSH3D.py
  src/Mod/Arch/importWebGL.py
Labels: WB Arch

#7813 Sketcher: remove trailing whitespace
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/PropertyConstraintListItem.cpp
  src/Mod/Sketcher/Gui/TaskSketcherValidation.h
  src/Mod/Sketcher/InitGui.py
  src/Mod/Sketcher/ProfileLib/RegularPolygon.py
  src/Mod/Sketcher/Profiles.py
  src/Mod/Sketcher/SketcherTests/TestSketchExpression.py
  src/Mod/Sketcher/SketcherTests/TestSketchFillet.py
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
  src/Mod/Sketcher/TestSketcherGui.py
Labels: WB Sketcher

#7817 Path: remove trailing whitespace
  src/Mod/Path/App/Area.cpp
  src/Mod/Path/App/AreaPy.xml
  src/Mod/Path/App/AreaPyImp.cpp
  src/Mod/Path/App/Command.h
  src/Mod/Path/App/CommandPy.xml
  src/Mod/Path/App/CommandPyImp.cpp
  src/Mod/Path/App/FeatureAreaPy.xml
  src/Mod/Path/App/FeatureAreaPyImp.cpp
  src/Mod/Path/App/FeaturePath.cpp
  src/Mod/Path/App/FeaturePathCompound.cpp
  src/Mod/Path/App/FeaturePathCompound.h
  src/Mod/Path/App/FeaturePathCompoundPy.xml
  src/Mod/Path/App/FeaturePathShape.h
  src/Mod/Path/App/Path.cpp
  src/Mod/Path/App/Path.h
  src/Mod/Path/App/PathPy.xml
  src/Mod/Path/App/VoronoiCellPy.xml
  src/Mod/Path/App/VoronoiEdgePy.xml
  src/Mod/Path/App/VoronoiPy.xml
  src/Mod/Path/App/VoronoiVertexPy.xml
  src/Mod/Path/Path/Post/scripts/KineticNCBeamicon2_post.py
  src/Mod/Path/PathSimulator/App/PathSimPy.xml
Labels: WB Path

#7827 [TD] DrawViewPart: Fix Dimension attachment on Cosmetic CenterLines u…
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
Labels: WB TechDraw

#7836 [Arch] fix header uniformity
  src/Mod/Arch/ArchIFCView.py
  src/Mod/Arch/ArchSketchObject.py
Labels: WB Arch

#7839 change ALL_UPPER_CASE constexpr definitions to camelCase
  LibraryVersions.h.cmake
  src/App/Application.cpp
  src/Gui/Splashscreen.cpp
Labels: Core, Refactor

#7835 [Sketcher] fix header uniformity
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
  src/Mod/Sketcher/Gui/EditDatumDialog.h
  src/Mod/Sketcher/Gui/PropertyConstraintListItem.h
  src/Mod/Sketcher/Gui/SoZoomTranslation.h
  src/Mod/Sketcher/Init.py
  src/Mod/Sketcher/InitGui.py
  src/Mod/Sketcher/SketcherTests/TestSketchFillet.py
  src/Mod/Sketcher/TestSketcherApp.py
  src/Mod/Sketcher/TestSketcherGui.py
Labels: WB Sketcher

#7837 [Units]Allow querying schema for unit of measure
  src/Base/UnitsApi.cpp
  src/Base/UnitsApi.h
  src/Base/UnitsSchema.h
  src/Base/UnitsSchemaCentimeters.h
  src/Base/UnitsSchemaImperial1.h
Labels: Core, Units

#7828 Remove unused code in find pyside
  cMake/FindPySide2Tools.cmake
  cMake/FindPySide6Tools.cmake
Labels: Refactor

#7842 [TD] DrawViewPart: Fix Dimension attachment for Coarse Views and face…
  src/Mod/TechDraw/App/DrawViewPart.cpp
Labels: WB TechDraw

#7850 [Mesh] Core/IO: remove unused includes
  src/Mod/Mesh/App/Core/IO/Reader3MF.cpp
  src/Mod/Mesh/App/Core/IO/ReaderOBJ.cpp
  src/Mod/Mesh/App/Core/IO/Writer3MF.cpp
  src/Mod/Mesh/App/Core/IO/WriterOBJ.cpp
Labels: WB Mesh

#7851 [Mesh] Core A-D: remove unused includes
  src/Mod/Mesh/App/Core/Algorithm.cpp
  src/Mod/Mesh/App/Core/Algorithm.h
  src/Mod/Mesh/App/Core/Approximation.cpp
  src/Mod/Mesh/App/Core/Approximation.h
  src/Mod/Mesh/App/Core/Builder.cpp
  src/Mod/Mesh/App/Core/Builder.h
  src/Mod/Mesh/App/Core/Curvature.cpp
  src/Mod/Mesh/App/Core/CylinderFit.cpp
  src/Mod/Mesh/App/Core/CylinderFit.h
  src/Mod/Mesh/App/Core/Decimation.cpp
  src/Mod/Mesh/App/Core/Definitions.cpp
  src/Mod/Mesh/App/Core/Definitions.h
  src/Mod/Mesh/App/Core/Degeneration.cpp
  src/Mod/Mesh/App/Core/Degeneration.h
Labels: WB Mesh

#7852 [Mesh] Core E-M: remove unused includes
  src/Mod/Mesh/App/Core/Elements.cpp
  src/Mod/Mesh/App/Core/Elements.h
  src/Mod/Mesh/App/Core/Evaluation.cpp
  src/Mod/Mesh/App/Core/Evaluation.h
  src/Mod/Mesh/App/Core/Functional.h
  src/Mod/Mesh/App/Core/Grid.cpp
  src/Mod/Mesh/App/Core/Helpers.h
  src/Mod/Mesh/App/Core/Info.cpp
  src/Mod/Mesh/App/Core/Iterator.h
  src/Mod/Mesh/App/Core/KDTree.cpp
  src/Mod/Mesh/App/Core/MeshIO.cpp
  src/Mod/Mesh/App/Core/MeshIO.h
  src/Mod/Mesh/App/Core/MeshKernel.cpp
  src/Mod/Mesh/App/Core/MeshKernel.h
Labels: WB Mesh

#7825 Gui: Stop Revit rotation and zoom on scroll release
  src/Gui/RevitNavigationStyle.cpp
Labels: Core

#7819 Gui: ActionGroup also get its tooltip title updated
  src/Gui/Action.cpp
Labels: Core, UI/UX

#7821 Draft: fix arcFromSpline midpoint bug
  src/Mod/Draft/draftgeoutils/arcs.py
Labels: WB Draft

#7857 [Mesh] Core P-end: remove unused includes
  src/Mod/Mesh/App/Core/Projection.cpp
  src/Mod/Mesh/App/Core/Projection.h
  src/Mod/Mesh/App/Core/Segmentation.h
  src/Mod/Mesh/App/Core/SetOperations.cpp
  src/Mod/Mesh/App/Core/SetOperations.h
  src/Mod/Mesh/App/Core/Simplify.h
  src/Mod/Mesh/App/Core/Smoothing.cpp
  src/Mod/Mesh/App/Core/Smoothing.h
  src/Mod/Mesh/App/Core/SphereFit.cpp
  src/Mod/Mesh/App/Core/SphereFit.h
  src/Mod/Mesh/App/Core/Tools.cpp
  src/Mod/Mesh/App/Core/Tools.h
  src/Mod/Mesh/App/Core/TopoAlgorithm.cpp
  src/Mod/Mesh/App/Core/TopoAlgorithm.h
  src/Mod/Mesh/App/Core/Triangulation.cpp
  src/Mod/Mesh/App/Core/Triangulation.h
  src/Mod/Mesh/App/Core/Trim.cpp
  src/Mod/Mesh/App/Core/Trim.h
  src/Mod/Mesh/App/Core/TrimByPlane.cpp
  src/Mod/Mesh/App/Core/TrimByPlane.h
  src/Mod/Mesh/App/Core/Utilities.h
  src/Mod/Mesh/App/Core/Visitor.cpp
  src/Mod/Mesh/App/Core/Visitor.h
  src/Mod/Mesh/App/PreCompiled.h
Labels: WB Mesh

#7863 [TD]prevent fail on missing base view (#7856)
  src/Mod/TechDraw/App/DrawProjGroup.cpp
  src/Mod/TechDraw/App/DrawProjGroup.h
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
Labels: WB TechDraw

#7867 Sketcher: Element widget: - FilterBox and filter state improvement
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.ui
Labels: WB Sketcher

#7869 [MeshPart] Gui: remove unused includes
  src/Mod/MeshPart/Gui/AppMeshPartGui.cpp
  src/Mod/MeshPart/Gui/Command.cpp
  src/Mod/MeshPart/Gui/CrossSections.cpp
  src/Mod/MeshPart/Gui/CrossSections.h
  src/Mod/MeshPart/Gui/CurveOnMesh.cpp
  src/Mod/MeshPart/Gui/CurveOnMesh.h
  src/Mod/MeshPart/Gui/TaskCurveOnMesh.cpp
  src/Mod/MeshPart/Gui/TaskCurveOnMesh.h
  src/Mod/MeshPart/Gui/Tessellation.cpp
  src/Mod/MeshPart/Gui/Tessellation.h
  src/Mod/MeshPart/Gui/Workbench.cpp
Labels: WB MeshPart

#7870 Sketcher: Element widget - fix toolbuttons height
  src/Mod/Sketcher/Gui/TaskSketcherElements.ui
Labels: WB Sketcher

#7848 [PATH] - Save and restore ThreadFit attribute - fixes #7847
  src/Mod/Path/Path/Op/Gui/ThreadMilling.py
Labels: WB Path

#7884 [TD]fix ComplexSection null cut shape
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawComplexSection.h
Labels: WB TechDraw

#7885 Draft: fix clone DiffuseColor
  src/Mod/Draft/draftmake/make_clone.py
  src/Mod/Draft/draftviewproviders/view_clone.py
Labels: WB Draft

#7866 Draft: test_creation.py add 3 tests
  src/Mod/Draft/drafttests/test_creation.py
Labels: WB Draft

#7859 Arch: fix cutplane color
  src/Mod/Arch/ArchCutPlane.py
Labels: WB Arch

#7897 Gui: fix header uniformity
  src/Gui/ActiveObjectList.cpp
  src/Gui/ActiveObjectList.h
  src/Gui/SelectionObjectPyImp.cpp
Labels: Core

#7876 use hexagon shape for navicube corners [fixes #7875]
  src/Gui/NaviCube.cpp
Labels: Core

#7792 Topo Naming accumulated fixes
  src/App/MappedElement.cpp
  src/Mod/Part/App/TopoShapeEx.cpp
Labels: Core, WB Part

#7898 [TD]backport fix for no Detail without BaseView
  src/Mod/TechDraw/App/DrawProjGroup.cpp
  src/Mod/TechDraw/App/DrawProjGroup.h
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
Labels: WB TechDraw

#7889 [github ci] run build in parallel
  .github/workflows/checks.yml
Labels: :octocat:

#7900 [Points] remove unused includes
  src/Mod/Points/App/AppPointsPy.cpp
  src/Mod/Points/App/Points.cpp
  src/Mod/Points/App/Points.h
  src/Mod/Points/App/PointsAlgos.cpp
  src/Mod/Points/App/PointsAlgos.h
  src/Mod/Points/App/PointsFeature.cpp
  src/Mod/Points/App/PointsFeature.h
  src/Mod/Points/App/PointsGrid.cpp
  src/Mod/Points/App/PointsGrid.h
  src/Mod/Points/App/PointsPyImp.cpp
  src/Mod/Points/App/PreCompiled.h
  src/Mod/Points/App/Properties.cpp
  src/Mod/Points/App/Properties.h
  src/Mod/Points/App/PropertyPointKernel.cpp
  src/Mod/Points/App/Structured.cpp
  src/Mod/Points/Gui/AppPointsGui.cpp
  src/Mod/Points/Gui/Command.cpp
  src/Mod/Points/Gui/DlgPointsReadImp.cpp
  src/Mod/Points/Gui/PreCompiled.h
  src/Mod/Points/Gui/ViewProvider.cpp
  src/Mod/Points/Gui/ViewProvider.h
  src/Mod/Points/Gui/Workbench.cpp
Labels: WB Points

#7896 Fix header uniformity for various workbenches/directories
  src/Doc/mainpage.dox.in
  src/Mod/Complete/Init.py
  src/Mod/Complete/InitGui.py
  src/Mod/Idf/Init.py
  src/Mod/Import/App/StepShapePyImp.cpp
  src/Mod/Inspection/Init.py
  src/Mod/Inspection/InitGui.py
  src/Mod/Material/Init.py
  src/Mod/Material/InitGui.py
  src/Mod/Material/Material.py
  src/Mod/Material/importFCMat.py
  src/Mod/Measure/App/AppMeasure.cpp
  src/Mod/Measure/App/Measurement.cpp
  src/Mod/Measure/App/Measurement.h
  src/Mod/Measure/App/MeasurementPyImp.cpp
  src/Mod/Measure/App/PreCompiled.cpp
  src/Mod/Measure/App/PreCompiled.h
  src/Mod/Measure/Init.py
  src/Mod/OpenSCAD/Init.py
  src/Mod/OpenSCAD/InitGui.py
  src/Mod/Points/Init.py
  src/Mod/Points/InitGui.py
  src/Mod/Sandbox/Init.py
  src/Mod/Sandbox/InitGui.py
  src/Mod/Start/Init.py
  src/Mod/Start/InitGui.py
  src/Tools/MakeNewBuildNbr.py
  src/Tools/fcbt/NextBuildNumber.py
Labels: WB OpenSCAD, WB Points

#7908 PartDesign: fix header uniformity
  src/Mod/PartDesign/App/AppPartDesign.cpp
  src/Mod/PartDesign/App/AppPartDesignPy.cpp
  src/Mod/PartDesign/App/PreCompiled.cpp
  src/Mod/PartDesign/App/PreCompiled.h
  src/Mod/PartDesign/Gui/AppPartDesignGui.cpp
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/PreCompiled.cpp
  src/Mod/PartDesign/Gui/PreCompiled.h
  src/Mod/PartDesign/Init.py
  src/Mod/PartDesign/InitGui.py
  src/Mod/PartDesign/TestPartDesignApp.py
  src/Mod/PartDesign/TestPartDesignGui.py
Labels: WB PartDesign

#7906 Path: fix header uniformity
  src/Mod/Path/App/FeaturePathShape.h
Labels: WB Path

#6756 Gui: hiding detail dependency information in DlgObjectSelection
  src/Gui/DlgObjectSelection.cpp
  src/Gui/DlgObjectSelection.h
  src/Gui/DlgObjectSelection.ui
Labels: Bug, Core

#7911 Part: Fix header uniformity + superfluous whitespace
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/Gui/AppPartGui.cpp
  src/Mod/Part/Gui/ViewProviderReference.cpp
  src/Mod/Part/Init.py
  src/Mod/Part/TestPartApp.py
  src/Mod/Part/TestPartGui.py
Labels: WB Part

#7909 Fix various typos and grammatical issues
  src/App/PreCompiled.h
  src/FCConfig.h
  src/Gui/PreCompiled.h
  src/Mod/Image/App/PreCompiled.h
  src/Mod/Image/Gui/PreCompiled.h
  src/Mod/Import/App/PreCompiled.h
  src/Mod/Import/Gui/PreCompiled.h
  src/Mod/JtReader/App/PreCompiled.h
  src/Mod/Mesh/App/PreCompiled.h
  src/Mod/Mesh/Gui/PreCompiled.h
  src/Mod/Part/App/PreCompiled.h
  src/Mod/Part/Gui/PreCompiled.h
  src/Mod/Points/App/PreCompiled.h
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Spreadsheet/App/PreCompiled.h
  src/Mod/Spreadsheet/Gui/PreCompiled.h
  src/Mod/Test/Gui/PreCompiled.h
  src/Tools/thumbs/ThumbnailProvider/FCConfig.h
Labels: Core, WB Part, WB Spreadsheet, WB Sketcher, WB Mesh, WB Points, WB Test
