Repository FreeCAD/FreeCAD, pull requests merged in 2022-03, with the labels that each got.

#6479 fix uninitialized variables
  src/Mod/Spreadsheet/App/PropertySheet.cpp
Labels: WB Spreadsheet

#6473 [Base] Quantity, Rotation, Stream: remove unused includes
  src/Base/Quantity.cpp
  src/Base/QuantityPyImp.cpp
  src/Base/Rotation.cpp
  src/Base/RotationPyImp.cpp
  src/Base/Sequencer.cpp
  src/Base/Sequencer.h
  src/Base/StackWalker.cpp
  src/Base/StackWalker.h
  src/Base/Stream.cpp
  src/Base/Stream.h
Labels: core

#6481 [Base] Py and Placement: remove unused includes
  src/Base/Persistence.cpp
  src/Base/Persistence.h
  src/Base/PersistencePyImp.cpp
  src/Base/Placement.h
  src/Base/PlacementPyImp.cpp
  src/Base/PyExport.cpp
  src/Base/PyObjectBase.cpp
  src/Base/PyObjectBase.h
Labels: core

#6484 [Base] Geometry etc.: remove unused includes
  src/Base/GeometryPyCXX.cpp
  src/Base/GeometryPyCXX.h
  src/Base/Handle.cpp
  src/Base/Handle.h
  src/Base/InputSource.cpp
  src/Base/InputSource.h
  src/Base/Interpreter.cpp
  src/Base/Interpreter.h
  src/Base/gzstream.cpp
  src/Base/gzstream.h
Labels: core

#6480 [Path] Fix bug with velocity warning.
  src/Mod/Path/Gui/Resources/preferences/Advanced.ui
  src/Mod/Path/InitGui.py
  src/Mod/Path/PathScripts/PathPreferences.py
  src/Mod/Path/PathScripts/PathPreferencesAdvanced.py
Labels: WB Path

#6491 Update SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#5437 [RecentMacros] Check and warn for shortcut conflicts + small fixes/improvements
  src/Gui/Action.cpp
Labels: core

#5511 PartDesign: Fillets / Chamfers add unit tests for UseAllEdges property
  src/Mod/PartDesign/PartDesignTests/TestChamfer.py
  src/Mod/PartDesign/PartDesignTests/TestFillet.py
Labels: WB PartDesign

#6477 [BUGFIX] PartDesign: fix crash in MultiTransform if moving on empty list
  src/Mod/PartDesign/Gui/TaskMultiTransformParameters.cpp
Labels: WB PartDesign

#6483 [Base] Parameter and Matrix: remove unused includes
  src/Base/Matrix.cpp
  src/Base/Matrix.h
  src/Base/MatrixPyImp.cpp
  src/Base/MemDebug.cpp
  src/Base/Observer.h
  src/Base/Parameter.cpp
  src/Base/Parameter.h
  src/Base/ParameterPy.cpp
Labels: core

#6493 [Base] BoundBox etc.: remove unused includes
  src/Base/Axis.h
  src/Base/AxisPyImp.cpp
  src/Base/Base64.cpp
  src/Base/BaseClassPyImp.cpp
  src/Base/BoundBox.h
  src/Base/BoundBoxPyImp.cpp
  src/Base/Builder3D.cpp
Labels: core

#6495 Code clean
  src/Mod/Spreadsheet/Gui/SheetModel.cpp
Labels: WB Spreadsheet

#6492 [Base] Exception and others: remove unused includes
  src/Base/CoordinateSystem.cpp
  src/Base/CoordinateSystemPyImp.cpp
  src/Base/ExceptionFactory.h
  src/Base/Factory.h
Labels: core

#6496 Arch: Fix Arch_PipeConnector for pipes with non-zero wall thickness
  src/Mod/Arch/ArchPipe.py
Labels: WB Arch

#6498 [TD]fix misplaced section line
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/DrawDimHelper.cpp
  src/Mod/TechDraw/App/DrawGeomHatch.cpp
  src/Mod/TechDraw/App/DrawProjectSplit.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/GeometryObject.cpp
Labels: WB TechDraw

#4911 [Path] Make Job and Operation visibility more natural
  src/Mod/Path/PathScripts/PathJob.py
  src/Mod/Path/PathScripts/PathJobGui.py
  src/Mod/Path/PathScripts/PathOpGui.py
Labels: WB Path

#6485 Path: Feature/external thread milling
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Data/Threads/imperial-external-2A.csv
  src/Mod/Path/Data/Threads/imperial-external-3A.csv
  src/Mod/Path/Data/Threads/imperial-internal-2B.csv
  src/Mod/Path/Data/Threads/imperial-internal-3B.csv
  src/Mod/Path/Data/Threads/metric-external-4G6G.csv
  src/Mod/Path/Data/Threads/metric-external-6G.csv
  src/Mod/Path/Data/Threads/metric-internal-6H.csv
  src/Mod/Path/Data/Threads/sources.txt
  src/Mod/Path/Generators/threadmilling_generator.py
  src/Mod/Path/PathScripts/PathThreadMilling.py
  src/Mod/Path/PathScripts/PathThreadMillingGui.py
  src/Mod/Path/PathTests/TestPathThreadMilling.py
  src/Mod/Path/PathTests/TestPathThreadMillingGenerator.py
  src/Mod/Path/TestPathApp.py
Labels: WB Path

#6511 [TD]update menu text and tip to standard
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
Labels: WB TechDraw

#6517 [TD]fix integer grid step variable to double
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
Labels: WB TechDraw

#6476 [Sketcher] Some tools for more control over b-splines at creation (2/??)
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
Labels: WB Sketcher

#6508 [Sketcher] Remove "incomplete" from insert knot command
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
Labels: WB Sketcher

#6513 Gui: fix property view synchronization of property status
  src/Gui/propertyeditor/PropertyModel.cpp
Labels: core

#6519 [App] add a missing return statement
  src/App/AutoTransaction.h
Labels: core

#6523 [Sketcher] Check for b-spline before starting knot insertion "mode"
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
Labels: WB Sketcher

#6522 [TD]fix ScaleType change behaviour
  src/Mod/TechDraw/App/DrawProjGroup.cpp
  src/Mod/TechDraw/App/DrawProjGroupItem.cpp
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawView.h
Labels: WB TechDraw

#6526 [App] AutoTransaction: a change to silence MSVC compiler
  src/App/AutoTransaction.h
Labels: core

#6524 [Gui] rename the Qt header list
  src/Gui/CMakeLists.txt
  src/Gui/PreCompiled.h
  src/Gui/QtAll.h
  src/Mod/Assembly/Gui/PreCompiled.h
  src/Mod/Cam/Gui/PreCompiled.h
  src/Mod/Cloud/Gui/PreCompiled.h
  src/Mod/Drawing/Gui/PreCompiled.h
  src/Mod/Fem/Gui/PreCompiled.h
  src/Mod/Image/Gui/PreCompiled.h
  src/Mod/Import/Gui/PreCompiled.h
  src/Mod/Inspection/Gui/PreCompiled.h
  src/Mod/Mesh/Gui/PreCompiled.h
  src/Mod/MeshPart/Gui/PreCompiled.h
  src/Mod/Part/Gui/PreCompiled.h
  src/Mod/PartDesign/Gui/PreCompiled.h
  src/Mod/Path/Gui/PreCompiled.h
  src/Mod/Points/Gui/PreCompiled.h
  src/Mod/Raytracing/Gui/PreCompiled.h
  src/Mod/ReverseEngineering/Gui/PreCompiled.h
  src/Mod/Robot/Gui/PreCompiled.h
  src/Mod/Sketcher/Gui/PreCompiled.h
  src/Mod/Spreadsheet/App/PreCompiled.h
  src/Mod/Spreadsheet/Gui/PreCompiled.h
  src/Mod/Start/Gui/PreCompiled.h
  src/Mod/Surface/Gui/PreCompiled.h
  src/Mod/TechDraw/Gui/PreCompiled.h
  src/Mod/Test/Gui/PreCompiled.h
  src/Mod/Web/Gui/PreCompiled.h
  src/Tools/_TEMPLATE_/Gui/PreCompiled.h
Labels: core

#6520 [Gui] DAGView: remove few includes
  src/Gui/DAGView/DAGFilter.cpp
  src/Gui/DAGView/DAGModel.cpp
  src/Gui/DAGView/DAGModel.h
  src/Gui/DAGView/DAGModelGraph.cpp
  src/Gui/DAGView/DAGModelGraph.h
  src/Gui/DAGView/DAGRectItem.cpp
  src/Gui/DAGView/DAGRectItem.h
  src/Gui/DAGView/DAGView.cpp
  src/Gui/DAGView/DAGView.h
Labels: core

#6510 Arch: fix BaseMirror property
  src/Mod/Arch/ArchStructure.py
Labels: WB Arch

#6529 [TD]Change grid default to OFF
  src/Mod/TechDraw/Gui/PreferencesGui.cpp
Labels: WB TechDraw

#6521 [Gui] Quarter: remove unused includes
  src/Gui/Command.cpp
  src/Gui/Quarter/ContextMenu.cpp
  src/Gui/Quarter/EventFilter.cpp
  src/Gui/Quarter/ImageReader.cpp
  src/Gui/Quarter/ImageReader.h
  src/Gui/Quarter/Keyboard.cpp
  src/Gui/Quarter/Mouse.cpp
  src/Gui/Quarter/QuarterWidget.cpp
  src/Gui/Quarter/QuarterWidget.h
  src/Gui/Quarter/QuarterWidgetP.h
  src/Gui/Quarter/SensorManager.cpp
  src/Gui/Quarter/SoQTQuarterAdaptor.cpp
  src/Gui/Quarter/SoQTQuarterAdaptor.h
  src/Gui/ViewProvider.cpp
  src/Mod/Inspection/Gui/Command.cpp
  src/Mod/Inspection/Gui/ViewProviderInspection.cpp
  src/Mod/Mesh/Gui/MeshEditor.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: core, WB Mesh

#6531 [Part] change sGroup for Section Cut
  src/Mod/Part/Gui/Command.cpp
Labels: WB Part

#6537 Part: Check geometry in Part_ExplodeCompound command
  src/Mod/Part/CompoundTools/Explode.py
  src/Mod/Part/CompoundTools/_CommandExplodeCompound.py
Labels: WB Part

#6543 Gui: fix crash on editing PropertyVectorList in property view
  src/Gui/propertyeditor/PropertyItem.cpp
Labels: core

#6546 AddonManager: fix typos
  src/Mod/AddonManager/AddonManagerTest/app/test_addon.py
Labels: Addon Manager

#6551 Minor Spelling Corrections to Draft.Dox
  src/Mod/Draft/draft.dox
Labels: WB Draft, Typo

#6548 [TD]fix Dim text on wrong side
  src/Mod/TechDraw/App/DrawViewDimension.cpp
Labels: WB TechDraw

#6536 PATH: Fix tool shapes for zero dimension bugs
  src/Mod/Path/Tools/Shape/chamfer.fcstd
  src/Mod/Path/Tools/Shape/v-bit.FCStd
Labels: WB Path

#6530 [Path] Fix minor non-modal bug. Fixes 6114
  src/Mod/Path/Gui/Resources/Path.qrc
  src/Mod/Path/Gui/Resources/panels/DlgJobChooser.ui
  src/Mod/Path/PathScripts/PathJobGui.py
  src/Mod/Path/PathScripts/PathPost.py
  src/Mod/Path/PathScripts/PathUtilsGui.py
Labels: WB Path

#6541 Path: Fix enumeration dictionary error [Bug]
  src/Mod/Path/PathScripts/PathDressupRampEntry.py
Labels: Bug, WB Path

#6552 Path: Fix Leadin-Leadout dressup simulation related to arcs [Bug]
  src/Mod/Path/PathScripts/PathDressupLeadInOut.py
Labels: WB Path

#6554 [TD]fix getScale should be Scale.getValue
  src/Mod/TechDraw/App/DrawView.cpp
Labels: WB TechDraw

#6550 PD: fix SubShapeBinder 'Fuse' function
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/PartDesign/App/ShapeBinder.h
Labels: WB PartDesign

#6547 Part: 2doffset fix crash by checking for null shape before adding wit…
  src/Mod/Part/App/TopoShape.cpp
Labels: WB Part

#6555 [TD]fix 2 edge angle Dim special case
  src/Mod/TechDraw/App/DrawViewDimension.cpp
Labels: WB TechDraw

#6370 Fem: enable multi-threading for Gmsh
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtest/app/support_utils.py
  src/Mod/Fem/femtest/data/elmer/group_mesh.geo
Labels: :mag_right: awaiting review, WB FEM, Testers Needed, Feature

#6338 PartDesign::SubShapeBinder add 2D offsetting
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/PartDesign/App/ShapeBinder.h
Labels: WB PartDesign

#5440 Path: Path Array dressup compatibility
  src/Mod/Path/PathScripts/PathArray.py
Labels: :mag_right: awaiting review, WB Path

#6566 Path: Correct beginning retraction to safe height in Boundary Dressup, issue #6279 [Bug]
  src/Mod/Path/PathScripts/PathDressupPathBoundary.py
Labels: WB Path

#6534 [Sketcher] Fix "toggle internal geo" on multi-selection
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
Labels: WB Sketcher

#6570 [Gui] QSint: remove unused headers
  src/Gui/QSint/actionpanel/actiongroup.cpp
  src/Gui/QSint/actionpanel/taskgroup_p.cpp
  src/Gui/QSint/actionpanel/taskheader_p.cpp
Labels: core

#6374 Multi-thread support for Calculix taskpanel
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
Labels: WB FEM, Feature

#6574 [Gui] UiLoader: fix compiler warning
  src/Gui/UiLoader.cpp
Labels: core

#6581 [TD]fix unit display to standards
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
Labels: WB TechDraw

#6572 [Gui] So headers: remove some unused includes
  src/Gui/Inventor/MarkerBitmaps.cpp
  src/Gui/Inventor/SoAutoZoomTranslation.h
  src/Gui/InventorAll.h
  src/Gui/SoFCBackgroundGradient.cpp
  src/Gui/SoFCBackgroundGradient.h
  src/Gui/SoFCBoundingBox.cpp
  src/Gui/SoFCBoundingBox.h
  src/Gui/SoFCCSysDragger.cpp
  src/Gui/SoFCCSysDragger.h
  src/Gui/SoFCColorBar.cpp
  src/Gui/SoFCColorBar.h
  src/Gui/SoFCColorGradient.cpp
  src/Gui/SoFCColorGradient.h
  src/Gui/SoFCColorLegend.cpp
  src/Gui/SoFCColorLegend.h
  src/Gui/SoFCDB.cpp
  src/Gui/SoFCDB.h
Labels: core

#6576 Path: Fix automatic `commitTransaction()` calls, issue #6149 [Bug]
  src/Mod/Path/PathScripts/PathDressupAxisMap.py
  src/Mod/Path/PathScripts/PathDressupDogbone.py
  src/Mod/Path/PathScripts/PathDressupDragknife.py
  src/Mod/Path/PathScripts/PathDressupLeadInOut.py
  src/Mod/Path/PathScripts/PathDressupPathBoundaryGui.py
  src/Mod/Path/PathScripts/PathDressupRampEntry.py
  src/Mod/Path/PathScripts/PathDressupTagGui.py
  src/Mod/Path/PathScripts/PathDressupZCorrect.py
Labels: WB Path

#6577 Path: Fix `self.removalshapes` declaration [Bug]
  src/Mod/Path/PathScripts/PathMillFace.py
Labels: WB Path

#6586 [Gui] So headers: remove unused includes
  src/Gui/Application.cpp
  src/Gui/DocumentRecovery.cpp
  src/Gui/ExpressionCompleter.cpp
  src/Gui/InventorAll.h
  src/Gui/PreCompiled.h
  src/Gui/Selection.cpp
  src/Gui/SoFCDB.cpp
  src/Gui/SoFCInteractiveElement.cpp
  src/Gui/SoFCInteractiveElement.h
  src/Gui/SoFCOffscreenRenderer.cpp
  src/Gui/SoFCOffscreenRenderer.h
  src/Gui/SoFCSelection.cpp
  src/Gui/SoFCSelection.h
  src/Gui/SoFCSelectionAction.cpp
  src/Gui/SoFCSelectionAction.h
  src/Gui/SoFCSelectionContext.cpp
  src/Gui/SoFCSelectionContext.h
  src/Gui/SoFCUnifiedSelection.cpp
  src/Gui/SoFCUnifiedSelection.h
  src/Gui/SoFCVectorizeSVGAction.cpp
  src/Gui/SoFCVectorizeSVGAction.h
  src/Gui/SoFCVectorizeU3DAction.cpp
  src/Gui/SoFCVectorizeU3DAction.h
  src/Gui/TaskElementColors.cpp
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/ViewProviderLink.cpp
  src/Gui/propertyeditor/PropertyEditor.cpp
  src/Gui/propertyeditor/PropertyModel.cpp
  src/Mod/Mesh/Gui/SoFCIndexedFaceSet.cpp
  src/Mod/Mesh/Gui/SoFCMeshObject.cpp
  src/Mod/TechDraw/Gui/Grabber3d.cpp
Labels: core, WB TechDraw, WB Mesh

#6589 [TD]fix update suppression logic
  src/Mod/TechDraw/App/DrawPage.cpp
  src/Mod/TechDraw/App/DrawPage.h
  src/Mod/TechDraw/App/DrawProjGroupItem.cpp
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
Labels: WB TechDraw

#6594 [Draft] Don't take grid into account when View_FitAll
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#6595 [Test] Fix tkinter module name for python 3
  src/Mod/Test/unittestgui.py
Labels: WB Test

#6544 Draft: Fix Angle Lock for non-XY workingplane
  src/Mod/Draft/DraftGui.py
Labels: WB Draft

#6600 [TD]fix default scale
  src/Mod/TechDraw/App/DrawView.cpp
Labels: WB TechDraw

#6590 [Path] Warn user if enabling legacy tools
  src/Mod/Path/PathScripts/PathJob.py
  src/Mod/Path/PathScripts/PathPreferences.py
Labels: WB Path

#6602 [Part] Section cut: add missing color handling for the cut faces
  src/Mod/Part/Gui/SectionCutting.cpp
  src/Mod/Part/Gui/SectionCutting.h
  src/Mod/Part/Gui/SectionCutting.ui
Labels: WB Part

#6575 Path: Extend Job integrity check to GUI side, issue #6207 [Bug]
  src/Mod/Path/PathScripts/PathJob.py
  src/Mod/Path/PathScripts/PathJobGui.py
Labels: :mag_right: awaiting review, WB Path

#6610 [PD] remove Python.h from headers
  src/Mod/PartDesign/App/AppPartDesign.cpp
  src/Mod/PartDesign/App/AppPartDesignPy.cpp
  src/Mod/PartDesign/App/PreCompiled.h
  src/Mod/PartDesign/Gui/AppPartDesignGui.cpp
  src/Mod/PartDesign/Gui/PreCompiled.h
Labels: WB PartDesign

#6609 [Part] remove Python.h from headers
  src/Mod/Part/App/AppPart.cpp
  src/Mod/Part/Gui/AppPartGui.cpp
  src/Mod/Part/Gui/BoxSelection.cpp
  src/Mod/Part/Gui/DlgFilletEdges.cpp
  src/Mod/Part/Gui/DlgPrimitives.cpp
  src/Mod/Part/Gui/DlgRevolution.cpp
  src/Mod/Part/Gui/DlgSettings3DViewPartImp.cpp
  src/Mod/Part/Gui/Mirroring.cpp
  src/Mod/Part/Gui/PreCompiled.h
  src/Mod/Part/Gui/SoBrepEdgeSet.cpp
  src/Mod/Part/Gui/SoBrepFaceSet.cpp
  src/Mod/Part/Gui/SoBrepPointSet.cpp
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
  src/Mod/Part/Gui/TaskDimension.cpp
  src/Mod/Part/Gui/ViewProvider2DObject.cpp
  src/Mod/Part/Gui/ViewProviderCurveNet.cpp
  src/Mod/Part/Gui/ViewProviderHelixParametric.cpp
  src/Mod/Part/Gui/ViewProviderMirror.cpp
  src/Mod/Part/Gui/ViewProviderPython.cpp
  src/Mod/Part/Gui/ViewProviderReference.cpp
  src/Mod/Part/Gui/ViewProviderSpline.cpp
Labels: WB Part

#6616 Path: remove superfluous 'pass' per LGTM
  src/Mod/Path/PathScripts/PathOpTools.py
Labels: WB Path

#6614 AddonManager: remove superfluous 'pass' per LGTM
  src/Mod/AddonManager/addonmanager_workers.py
Labels: Addon Manager

#6615 [FEM] Refactor `TaskFemConstraintOnBoundary`
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFixed.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.cpp
  src/Mod/Fem/Gui/TaskFemConstraintForce.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/TaskFemConstraintOnBoundary.cpp
  src/Mod/Fem/Gui/TaskFemConstraintOnBoundary.h
  src/Mod/Fem/Gui/TaskFemConstraintPressure.cpp
  src/Mod/Fem/Gui/TaskFemConstraintSpring.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintOnBoundary.cpp
Labels: WB FEM

#6621 [Mesh] remove Python.h from headers
  src/Mod/Mesh/App/AppMesh.cpp
  src/Mod/Mesh/App/CMakeLists.txt
  src/Mod/Mesh/App/PreCompiled.h
  src/Mod/Mesh/Gui/CMakeLists.txt
  src/Mod/Mesh/Gui/PreCompiled.h
  src/Mod/MeshPart/App/AppMeshPart.cpp
  src/Mod/MeshPart/App/CMakeLists.txt
  src/Mod/MeshPart/App/PreCompiled.h
  src/Mod/MeshPart/Gui/AppMeshPartGui.cpp
  src/Mod/MeshPart/Gui/CMakeLists.txt
  src/Mod/MeshPart/Gui/CrossSections.cpp
  src/Mod/MeshPart/Gui/PreCompiled.h
Labels: WB Mesh, WB MeshPart

#6622 [Sketch] remove Python.h from headers
  src/Mod/Sketcher/App/AppSketcher.cpp
  src/Mod/Sketcher/App/CMakeLists.txt
  src/Mod/Sketcher/App/PreCompiled.h
  src/Mod/Sketcher/Gui/AppSketcherGui.cpp
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/PreCompiled.h
Labels: WB Sketcher

#6620 [TD] remove Python.h from headers
  src/Mod/TechDraw/App/AppTechDraw.cpp
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/App/PreCompiled.h
  src/Mod/TechDraw/App/TechDrawExport.cpp
  src/Mod/TechDraw/Gui/AppTechDrawGui.cpp
  src/Mod/TechDraw/Gui/AppTechDrawGuiPy.cpp
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/PreCompiled.h
Labels: WB TechDraw

#6618 Arch: When inverting hinge position, keep opening direction
  src/Mod/Arch/ArchWindow.py
Labels: WB Arch

#6631 Fix Arch Panel Trapezoidal Wave Width
  src/Mod/Arch/ArchPanel.py
Labels: WB Arch

#6627 [Path] remove Python.h and Xerces
  src/Mod/Path/App/AppPath.cpp
  src/Mod/Path/App/AppPathPy.cpp
  src/Mod/Path/App/CMakeLists.txt
  src/Mod/Path/App/PreCompiled.h
  src/Mod/Path/Gui/AppPathGui.cpp
  src/Mod/Path/Gui/AppPathGuiPy.cpp
  src/Mod/Path/Gui/CMakeLists.txt
  src/Mod/Path/Gui/PreCompiled.h
  src/Mod/Path/Gui/ViewProviderPath.cpp
Labels: WB Path

#6630 [Gui] remove Python.h from PreCompiled.h
  src/Gui/PreCompiled.h
Labels: core

#6592 Path: Fix roughly equal depth entries
  src/Mod/Path/PathScripts/PathUtils.py
  src/Mod/Path/PathTests/TestPathDepthParams.py
Labels: WB Path

#6612 PATH: Bugfix/bag of minor isssues
  src/Mod/Path/InitGui.py
  src/Mod/Path/PathScripts/PathArray.py
  src/Mod/Path/PathScripts/PathGui.py
  src/Mod/Path/PathScripts/PathJobGui.py
  src/Mod/Path/PathScripts/PathOpGui.py
  src/Mod/Path/PathScripts/PathPocket.py
  src/Mod/Path/PathScripts/PathPost.py
  src/Mod/Path/PathScripts/PathPreferencesAdvanced.py
  src/Mod/Path/PathScripts/PathStock.py
  src/Mod/Path/PathScripts/PathSurface.py
  src/Mod/Path/PathScripts/PathUtils.py
  src/Mod/Path/PathScripts/post/philips_post.py
Labels: WB Path

#6642 [TD]fix double units in dxf page export
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
Labels: WB TechDraw

#6619 Draft: Misc fixes
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftobjects/shape2dview.py
  src/Mod/Draft/draftviewproviders/view_label.py
Labels: WB Draft

#6646 [PD] Helix: fix #6482
  src/Mod/PartDesign/App/FeatureHelix.cpp
Labels: WB PartDesign

#6648 [PD] Helix: catch case of touching Helix
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
Labels: WB PartDesign

#6650 [PD] Task dialogs: remove unused headers
  src/Mod/PartDesign/Gui/TaskBooleanParameters.h
  src/Mod/PartDesign/Gui/TaskDressUpParameters.h
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.h
  src/Mod/PartDesign/Gui/TaskFeaturePick.h
  src/Mod/PartDesign/Gui/TaskHelixParameters.h
  src/Mod/PartDesign/Gui/TaskHoleParameters.h
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.h
  src/Mod/PartDesign/Gui/TaskLoftParameters.h
  src/Mod/PartDesign/Gui/TaskMirroredParameters.h
  src/Mod/PartDesign/Gui/TaskMultiTransformParameters.h
  src/Mod/PartDesign/Gui/TaskPadParameters.h
  src/Mod/PartDesign/Gui/TaskPipeParameters.h
  src/Mod/PartDesign/Gui/TaskPocketParameters.h
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.h
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.h
  src/Mod/PartDesign/Gui/TaskScaledParameters.h
Labels: WB PartDesign

#6652 FEM: minor fix in warning text [skip ci]
  src/Mod/Fem/femmesh/meshtools.py
Labels: WB FEM

#6649 [Path] Fixes #5832
  src/Mod/Path/PathScripts/PathPocketBase.py
  src/Mod/Path/PathScripts/PathPocketBaseGui.py
Labels: WB Path

#6651 [Path] Fix # 5956.
  src/Mod/Path/PathScripts/PathAreaOp.py
  src/Mod/Path/PathScripts/PathPocketBase.py
Labels: WB Path

#6656 [TD]fix diameter dim alignment in DXF
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
Labels: WB TechDraw

#6640 Gui: fix some weird behavior of number format option
  src/Gui/Language/Translator.cpp
Labels: core

#6666 [Github] Add "detet" to the ignored misspellings
  .github/codespellignore
Labels: :octocat:

#6664 [Path] Bug/spindledirectiondefault
  src/Mod/Path/PathScripts/PathToolController.py
  src/Mod/Path/Tools/Shape/endmill.fcstd
Labels: WB Path

#6659 [Path] Fixes #6658
  src/Mod/Path/PathScripts/PathProfile.py
  src/Mod/Path/PathScripts/drillableLib.py
Labels: WB Path

#6647 Path: MillFace - Fix Face Region with no Base geometry [Bug]
  src/Mod/Path/PathScripts/PathMillFace.py
Labels: WB Path

#6542 Fix #6532 file not saved if backups are disabled and FCBak ext is enabled
  src/App/Document.cpp
Labels: core

#6675 [TD]skip LCS infinite shapes
  src/Mod/TechDraw/App/ShapeExtractor.cpp
  src/Mod/TechDraw/App/ShapeExtractor.h
Labels: WB TechDraw

#6681 [TD]Fix Extension Icons
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionAreaAnnotation.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCustomizeFormat.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionDrawCosmCircle3Points.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionRemovePrefixChar.svg
Labels: WB TechDraw

#6682 [Path] Bug/inspecttweaks
  src/Mod/Path/PathScripts/PathInspect.py
Labels: For 0.20, WB Path

#6662 Path: Fixes #6629 - Add missing Job for import G-code [Bug]
  src/Mod/Path/PathScripts/PathJobGui.py
  src/Mod/Path/PathScripts/post/gcode_pre.py
  src/Mod/Path/PathTests/TestPathPost.py
  src/Mod/Path/TestPathApp.py
Labels: WB Path

#6676 Draft: Remove Python 2 type support
  src/Mod/Draft/DraftVecUtils.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_shapestrings.py
  src/Mod/Draft/draftobjects/shapestring.py
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
  src/Mod/Draft/draftviewproviders/view_text.py
Labels: WB Draft
