Repository FreeCAD/FreeCAD, pull requests merged in 2022-02, with the labels that each got.

#5476 Draft: Fix-gui_edit.py Y is zero input bug
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: 📐 Draft

#5465 Arch: Fix some dimensions in profiles.csv
  src/Mod/Arch/Presets/profiles.csv
Labels: 🏛 Arch

#5444 Arch: Fix ArchCutPlane translation issue
  src/Mod/Arch/ArchCutPlane.py
Labels: 🏛 Arch

#5427 [Draft] Grid size as quantity rather than double
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
Labels: 📐 Draft

#5449 Draft: pointarray set Count property during execute
  src/Mod/Draft/draftobjects/pointarray.py
Labels: 📐 Draft

#5469 [TechDraw] Improve code simplicity/readability of DrawProjGroup.cpp
  src/Mod/TechDraw/App/DrawProjGroup.cpp
  src/Mod/TechDraw/App/DrawProjGroup.h
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
Labels: ⚙ TechDraw

#5474 [Path] Remove unnecessary third argument from translate() calls
  src/Mod/Path/PathScripts/PathSurface.py
  src/Mod/Path/PathScripts/PathToolBitGui.py
  src/Mod/Path/PathScripts/PathToolBitLibraryGui.py
  src/Mod/Path/PathScripts/PathToolLibraryEditor.py
  src/Mod/Path/PathScripts/PathUtils.py
  src/Mod/Path/PathScripts/PathWaterline.py
Labels: 🛤️ Path

#5470 [Path] Bug/bottomfacedrilling
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Generators/toolchange_generator.py
  src/Mod/Path/PathScripts/PathToolController.py
  src/Mod/Path/PathScripts/drillableLib.py
  src/Mod/Path/PathTests/Drilling_1.FCStd
  src/Mod/Path/PathTests/TestPathDrillable.py
  src/Mod/Path/PathTests/TestPathToolChangeGenerator.py
  src/Mod/Path/TestPathApp.py
Labels: 🛤️ Path

#5357 [PD] add feature to create tapered Pad / Pocket
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/App/ExtrusionHelper.cpp
  src/Mod/Part/App/ExtrusionHelper.h
  src/Mod/Part/App/FeatureExtrusion.cpp
  src/Mod/Part/App/FeatureExtrusion.h
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureExtrude.h
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.h
  src/Mod/PartDesign/App/PreCompiled.h
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.h
  src/Mod/PartDesign/Gui/TaskPadParameters.cpp
  src/Mod/PartDesign/Gui/TaskPadPocketParameters.ui
  src/Mod/PartDesign/Gui/TaskPocketParameters.cpp
Labels: 🚜 PartDesign

#5481 [Draft] Fix widget property in preference UI
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
Labels: 📐 Draft

#5486 TechDraw: Fix texts in TaskSelectLineAttributes.ui
  src/Mod/TechDraw/Gui/TaskSelectLineAttributes.ui
Labels: ⚙ TechDraw

#5484 [Gui] Decrease click number on recovery transient deletion
  src/Gui/DocumentRecovery.cpp
Labels: core

#5478 Gui: Improve the docstrings and clean up code in ApplicationPy.cpp
  src/Gui/ApplicationPy.cpp
Labels: core

#5479 Arch: Fix ArchFrame
  src/Mod/Arch/ArchFrame.py
Labels: 🏛 Arch

#5491 [TD]Add sodipodi namespace to exported SVG
  src/Mod/TechDraw/Gui/QGVPage.cpp
Labels: ⚙ TechDraw

#5493 [TD]fix CMakeLists.txt to allow no-Gui build
  src/Mod/TechDraw/CMakeLists.txt
Labels: ⚙ TechDraw

#5492 Base: fix bug in matrix multiplication (Python API)
  src/Base/MatrixPyImp.cpp
Labels: core

#5340 [PartDesign Fillet/Chamfer] add UseAllEdges boolean property
  src/Mod/PartDesign/App/FeatureChamfer.cpp
  src/Mod/PartDesign/App/FeatureChamfer.h
  src/Mod/PartDesign/App/FeatureFillet.cpp
  src/Mod/PartDesign/App/FeatureFillet.h
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/TaskChamferParameters.cpp
  src/Mod/PartDesign/Gui/TaskChamferParameters.h
  src/Mod/PartDesign/Gui/TaskChamferParameters.ui
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.h
  src/Mod/PartDesign/Gui/TaskFilletParameters.cpp
  src/Mod/PartDesign/Gui/TaskFilletParameters.h
  src/Mod/PartDesign/Gui/TaskFilletParameters.ui
Labels: 🚜 PartDesign

#4118 [Part] feature to make persistent section cut views
  src/Gui/Workbench.cpp
  src/Mod/Part/Gui/CMakeLists.txt
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/SectionCutting.cpp
  src/Mod/Part/Gui/SectionCutting.h
  src/Mod/Part/Gui/SectionCutting.ui
Labels: 🧱 Part

#5499 [PD] Extrude: modernize SignalSlot connection
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
Labels: 🚜 PartDesign

#5497 [PATH] Toolcontroller import startup bug
  src/Mod/Path/PathMachineState.py
  src/Mod/Path/PathScripts/PathToolControllerGui.py
Labels: 🛤️ Path

#5494 Base: Remove old unused C-style function
  src/Base/Matrix.cpp
Labels: core

#5402 [Sketcher] Fix check for fixed items in tangent+perpendicular
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: :pencil2: Sketcher

#5438 [Sketcher] Fix section mode automation
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: :pencil2: Sketcher

#5420 [Sketcher] Give knot information in insert knot command
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
Labels: :pencil2: Sketcher

#5506 TD: Adding more TechDraw svg symbols
  src/Mod/TechDraw/Symbols/misc/1st_Angle_Projection.svg
  src/Mod/TechDraw/Symbols/misc/3rd_Angle_Projection.svg
  src/Mod/TechDraw/Symbols/misc/Arrow_Long_Filled.svg
  src/Mod/TechDraw/Symbols/misc/Arrow_Long_Open.svg
  src/Mod/TechDraw/Symbols/misc/Arrow_Medium_Filled.svg
  src/Mod/TechDraw/Symbols/misc/Arrow_Medium_Open.svg
  src/Mod/TechDraw/Symbols/misc/Arrow_Short_Filled.svg
  src/Mod/TechDraw/Symbols/misc/Arrow_Short_Open.svg
  src/Mod/TechDraw/Symbols/misc/Balloon_Editable_Text.svg
  src/Mod/TechDraw/Symbols/misc/Balloon_Long.svg
  src/Mod/TechDraw/Symbols/misc/Balloon_Medium.svg
  src/Mod/TechDraw/Symbols/misc/Balloon_Short.svg
  src/Mod/TechDraw/Symbols/misc/CallOut.svg
  src/Mod/TechDraw/Symbols/misc/CallOut_Left.svg
  src/Mod/TechDraw/Symbols/misc/CallOut_Right.svg
  src/Mod/TechDraw/Symbols/misc/Centre_Justified_Text_10_Lines.svg
  src/Mod/TechDraw/Symbols/misc/Cloud.svg
  src/Mod/TechDraw/Symbols/misc/Cosmetic_Break_Long.svg
  src/Mod/TechDraw/Symbols/misc/Cosmetic_Break_Medium.svg
  src/Mod/TechDraw/Symbols/misc/Cosmetic_Break_Small.svg
  src/Mod/TechDraw/Symbols/misc/Cosmetic_Round_Section_End.svg
  src/Mod/TechDraw/Symbols/misc/Cosmetic_Round_Section_End_Large.svg
  src/Mod/TechDraw/Symbols/misc/Cosmetic_Round_Section_Middle.svg
  src/Mod/TechDraw/Symbols/misc/Cosmetic_Round_Section_Middle_Large.svg
  src/Mod/TechDraw/Symbols/misc/Datum_Left.svg
  src/Mod/TechDraw/Symbols/misc/Datum_Point.svg
  src/Mod/TechDraw/Symbols/misc/Datum_Right.svg
  src/Mod/TechDraw/Symbols/misc/Datum_Target_Left.svg
  src/Mod/TechDraw/Symbols/misc/Datum_Target_Plain.svg
  src/Mod/TechDraw/Symbols/misc/Datum_Target_Right.svg
  src/Mod/TechDraw/Symbols/misc/Datum_Target_Up.svg
  src/Mod/TechDraw/Symbols/misc/Datum_Up.svg
  src/Mod/TechDraw/Symbols/misc/Feature_Left.svg
  src/Mod/TechDraw/Symbols/misc/Feature_Right.svg
  src/Mod/TechDraw/Symbols/misc/Feature_Up.svg
  src/Mod/TechDraw/Symbols/misc/Left_Justified_Text_10_Lines.svg
  src/Mod/TechDraw/Symbols/misc/North.svg
  src/Mod/TechDraw/Symbols/misc/Revision_Triangle.svg
  src/Mod/TechDraw/Symbols/misc/Right_Justified_Text_10_Lines.svg
  src/Mod/TechDraw/Symbols/misc/Whiteout_Rectangle_Long.svg
  src/Mod/TechDraw/Symbols/misc/Whiteout_Rectangle_Medium.svg
  src/Mod/TechDraw/Symbols/misc/Whiteout_Rectangle_Short.svg
  src/Mod/TechDraw/Symbols/misc/Whiteout_Square.svg
Labels: ⚙ TechDraw

#6213 Part: Move Part_SectionCut command to Part menu item list
  src/Gui/Workbench.cpp
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/Workbench.cpp
Labels: core, 🧱 Part

#6061 Modernize signal/slot connection for real :)
  src/Gui/Widgets.cpp
  src/Mod/Part/Gui/SectionCutting.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskPipeParameters.cpp
Labels: core, 🚜 PartDesign, 🧱 Part

#5510 Assembly: fix older assembly code typos
  src/Mod/Assembly/App/PartRef.cpp
  src/Mod/Assembly/App/opendcm/core.hpp
  src/Mod/Assembly/App/opendcm/core/clustergraph.hpp
  src/Mod/Assembly/App/opendcm/core/constraint.hpp
  src/Mod/Assembly/App/opendcm/core/equations.hpp
  src/Mod/Assembly/App/opendcm/core/geometry.hpp
  src/Mod/Assembly/App/opendcm/core/imp/clustergraph_imp.hpp
  src/Mod/Assembly/App/opendcm/core/imp/equations_imp.hpp
  src/Mod/Assembly/App/opendcm/core/imp/geometry_imp.hpp
  src/Mod/Assembly/App/opendcm/core/multimap.hpp
  src/Mod/Assembly/App/opendcm/core/object.hpp
  src/Mod/Assembly/App/opendcm/core/property.hpp
  src/Mod/Assembly/App/opendcm/core/system.hpp
  src/Mod/Assembly/App/opendcm/externalize.hpp
  src/Mod/Assembly/App/opendcm/module3d.hpp
  src/Mod/Assembly/App/opendcm/module3d/alignment.hpp
  src/Mod/Assembly/App/opendcm/module3d/clustermath.hpp
  src/Mod/Assembly/App/opendcm/module3d/coincident.hpp
  src/Mod/Assembly/App/opendcm/module3d/distance.hpp
  src/Mod/Assembly/App/opendcm/module3d/geometry.hpp
  src/Mod/Assembly/App/opendcm/module3d/imp/clustermath_imp.hpp
  src/Mod/Assembly/App/opendcm/module3d/imp/constraint3d_imp.hpp
  src/Mod/Assembly/App/opendcm/module3d/imp/geometry3d_imp.hpp
  src/Mod/Assembly/App/opendcm/module3d/imp/module_imp.hpp
  src/Mod/Assembly/App/opendcm/module3d/imp/solver_imp.hpp
  src/Mod/Assembly/App/opendcm/module3d/imp/state_imp.hpp
  src/Mod/Assembly/App/opendcm/module3d/module.hpp
  src/Mod/Assembly/App/opendcm/moduleShape3d/generator.hpp
  src/Mod/Assembly/App/opendcm/moduleShape3d/module.hpp
  src/Mod/Assembly/App/opendcm/moduleState/imp/property_parser_imp.hpp
  src/Mod/Assembly/App/opendcm/moduleState/object_generator.hpp
  src/Mod/Assembly/App/opendcm/moduleState/object_parser.hpp
  src/Mod/Assembly/App/opendcm/modulepart.hpp
  src/Mod/Assembly/App/opendcm/moduleshape3d.hpp
  src/Mod/Assembly/App/opendcm/modulestate.hpp
Labels: Typo

#5509 Update PrimitiveFeature.cpp
  src/Mod/Part/App/PrimitiveFeature.cpp
Labels: 🧱 Part

#6326 [Sketcher] Fix some points mentioned in #6323
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
Labels: ✏️ Sketcher

#5503 Fix for Python3.10
  src/Gui/ApplicationPy.cpp
Labels: core, 🧪 FEM, 📐 Draft, 🛤️ Path, ⚙ TechDraw, 🚜 PartDesign, 🧱 Part, 🥅Mesh, Spreadsheet, ✏️ Sketcher

#6331 [Path] Workbench context for menus
  src/Mod/Path/InitGui.py
Labels: 🛤️ Path

#5496 Draft: fix isClosed bug in offsets.py
  src/Mod/Draft/draftgeoutils/intersections.py
  src/Mod/Draft/draftgeoutils/offsets.py
Labels: 📐 Draft

#5485 Arch: ArchWindow.py fix alignment of library windows
  src/Mod/Arch/ArchWindow.py
Labels: 🏛 Arch

#6337 Draft: Housekeeping: call 'make' functions with new name
  src/Mod/Draft/draftfunctions/offset.py
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_splines.py
  src/Mod/Draft/draftguitools/gui_wire2spline.py
  src/Mod/Draft/draftmake/make_arc_3points.py
  src/Mod/Draft/draftmake/make_bspline.py
  src/Mod/Draft/importDXF.py
Labels: 📐 Draft

#6346 [TD]correct retrieval of dim text for DXF export
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/DrawViewDimension.cpp
Labels: ⚙ TechDraw

#6343 [PATH] Fixes #5904
  src/Mod/Path/Gui/Resources/panels/PathEdit.ui
  src/Mod/Path/PathScripts/PathJobDlg.py
Labels: 🛤️ Path

#6347 [TD]fix handling of composite shapes
  src/Mod/TechDraw/App/ShapeExtractor.cpp
  src/Mod/TechDraw/App/ShapeExtractor.h
Labels: ⚙ TechDraw

#5500 [PD] moves Extrude code to FeatureExtrude
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureExtrude.h
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.h
Labels: 🚜 PartDesign

#6345 Arch: Arch_Window.py: do isdir and isfile check for librarypath
  src/Mod/Arch/ArchWindow.py
Labels: 🏛 Arch

#6349 Mesh: fix test code so it will compile when used
  src/Mod/Mesh/App/MeshPyImp.cpp
Labels: 🥅 Mesh

#6360 [Part] improve SectionCutting code
  src/Mod/Part/Gui/SectionCutting.cpp
  src/Mod/Part/Gui/SectionCutting.h
Labels: 🧱 Part

#5501 GUI: Add Python interface to create custom actions
  src/Gui/Command.cpp
  src/Gui/Command.h
  src/Gui/CommandPy.xml
  src/Gui/CommandPyImp.cpp
  src/Gui/DlgActionsImp.cpp
  src/Gui/DlgActionsImp.h
Labels: core

#6368 Part: Part_SectionCut command active only if view is View3DInventor class
  src/Mod/Part/Gui/Command.cpp
Labels: 🧱 Part

#6363 TechDraw: Use Draft.get_svg instead of Draft.getSVG
  src/Mod/TechDraw/App/DrawViewDraft.cpp
Labels: ⚙ TechDraw

#6381 [PD] change default FaceMaker to Bullseye
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
Labels: 🚜 PartDesign

#6362 Gui: Add Mod info to copied About string
  src/Gui/Splashscreen.cpp
Labels: core

#6377 [Path] Drilling gcode bug. Fixes #6367
  src/Mod/Path/PathScripts/PathDrilling.py
Labels: 🛤️ Path

#6357 [Path] Warn user if current schema doesn't generate proper velocity (unit/min)
  src/Mod/Path/Gui/Resources/preferences/Advanced.ui
  src/Mod/Path/InitGui.py
  src/Mod/Path/PathScripts/PathPreferences.py
  src/Mod/Path/PathScripts/PathPreferencesAdvanced.py
Labels: 🛤️ Path

#6378 Gracefully handle op creation abort when no TC is available or selected.
  src/Mod/Path/PathScripts/PathOp.py
  src/Mod/Path/PathScripts/PathOpGui.py
  src/Mod/Path/PathScripts/PathUtils.py
Labels: 🛤️ Path

#5488 [Path] remove duplicate link of PathCommands.py
  src/Mod/Path/CMakeLists.txt
Labels: 🛤️ Path

#6355 Draft: Housekeeping: call 'make' functions with new name (3)
  src/Mod/Draft/draftguitools/gui_draft2sketch.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_planeproxy.py
  src/Mod/Draft/draftguitools/gui_points.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_shape2dview.py
  src/Mod/Draft/draftguitools/gui_shapestrings.py
  src/Mod/Draft/draftmake/make_point.py
  src/Mod/Draft/draftmake/make_rectangle.py
  src/Mod/Draft/draftmake/make_shape2dview.py
  src/Mod/Draft/draftmake/make_sketch.py
  src/Mod/Draft/draftmake/make_wire.py
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
  src/Mod/Draft/importAirfoilDAT.py
Labels: 📐 Draft

#6387 Path: Added KineticNC Postprocessor 2nd try
  src/Mod/Path/PathScripts/post/KineticNC_post.py
Labels: 🛤️ Path

#5343 [Path] Fix open edge zero value start point
  src/Mod/Path/PathScripts/PathAreaOp.py
Labels: 🛤️ Path

#6359 Gui: Add interface for managing preference packs
  src/App/Metadata.cpp
  src/App/Metadata.h
  src/Gui/CMakeLists.txt
  src/Gui/DlgGeneralImp.cpp
  src/Gui/DlgGeneralImp.h
  src/Gui/DlgPreferencePackManagement.ui
  src/Gui/DlgPreferencePackManagementImp.cpp
  src/Gui/DlgPreferencePackManagementImp.h
  src/Gui/PreferencePackManager.cpp
  src/Gui/PreferencePackManager.h
Labels: core

#6399 TD: Substitute string 'Dxf' for 'DXF' [skip ci]
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
Labels: L10N, ⚙ TechDraw

#6402 [PartDesign] OCC7.3 regression replace include..
  src/Mod/PartDesign/App/FeaturePocket.cpp
Labels: 🚜 PartDesign

#6400 AddonManager: move superfluous whitespace out of translation [skip ci]
  src/Mod/AddonManager/addonmanager_workers.py
Labels: L10N

#6404 [GUI] Adjust Preferences dialog display position to be fully visible.
  src/Gui/DlgPreferencesImp.cpp
Labels: core

#6396 Spreadsheet: fix auto completer triggering
  src/Mod/Spreadsheet/Gui/LineEdit.cpp
Labels: Spreadsheet

#6339 Preference Packs: Add revert to backup option
  cMake/FindOCC.cmake
  src/Gui/CMakeLists.txt
  src/Gui/DlgGeneral.ui
  src/Gui/DlgGeneralImp.cpp
  src/Gui/DlgGeneralImp.h
  src/Gui/DlgRevertToBackupConfig.ui
  src/Gui/DlgRevertToBackupConfigImp.cpp
  src/Gui/DlgRevertToBackupConfigImp.h
  src/Gui/PreferencePackManager.cpp
  src/Gui/PreferencePackManager.h
  tsupdate_stderr.log
  tsupdate_stdout.log
Labels: core

#6390 Draft: Housekeeping: call 'make' functions with new name (4)
  src/Mod/Draft/App/DraftDxf.cpp
  src/Mod/Draft/draftfunctions/array.py
  src/Mod/Draft/draftguitools/gui_array_simple.py
  src/Mod/Draft/draftmake/make_array.py
  src/Mod/Draft/draftmake/make_copy.py
  src/Mod/Draft/importSVG.py
Labels: 📐 Draft

#6406 Draft: Replace Drawing functions with TechDraw functions
  src/Mod/Draft/draftfunctions/dxf.py
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftfunctions/svgshapes.py
  src/Mod/Draft/draftobjects/shape2dview.py
  src/Mod/Draft/importDXF.py
Labels: 📐 Draft

#3535 Gui: improve PropertyEditor refresh
  src/Gui/DlgAddProperty.cpp
  src/Gui/PropertyView.cpp
  src/Gui/PropertyView.h
  src/Gui/ViewParams.h
  src/Gui/propertyeditor/PropertyEditor.cpp
  src/Gui/propertyeditor/PropertyEditor.h
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Gui/propertyeditor/PropertyItem.h
  src/Gui/propertyeditor/PropertyItemDelegate.cpp
  src/Gui/propertyeditor/PropertyItemDelegate.h
  src/Gui/propertyeditor/PropertyModel.cpp
  src/Gui/propertyeditor/PropertyModel.h
Labels: core

#3255 App: fix property ordering problem when undo/redo
  src/App/Document.cpp
  src/App/Document.h
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
  src/App/Property.cpp
  src/App/PropertyContainer.h
  src/App/Transactions.cpp
  src/App/Transactions.h
  src/Gui/Document.cpp
  src/Gui/ViewProviderDocumentObject.cpp
  src/Gui/ViewProviderDocumentObject.h
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/Part/Gui/ViewProviderExt.h
Labels: core

#3625 App: fix undo/redo of dynamic property add/remove/change
  src/App/Property.cpp
  src/App/Property.h
  src/App/Transactions.cpp
  src/App/Transactions.h
Labels: core

#6423 Gui: Change the editor preferences preview to Python 3
  src/Gui/DlgEditorImp.cpp
Labels: core

#6416 [Base] fix typo to silence spellchecker CI
  src/Base/Interpreter.cpp
  src/Base/Interpreter.h
Labels: core

#6426 [App] Application: remove unused includes
  src/App/Application.cpp
  src/App/Application.h
  src/App/ApplicationPy.cpp
Labels: core

#6429 [TD] Add new diagonal hatch (flipped)
  src/Mod/TechDraw/PAT/FCPAT.pat
Labels: ⚙ TechDraw

#6394 Bug/engravingsketch
  src/Mod/Path/PathCommands.py
  src/Mod/Path/PathScripts/PathEngraveBase.py
  src/Mod/Path/PathScripts/PathOpTools.py
Labels: 🛤️ Path

#5424 Path: Fixes 3D Pocket overcut on underside of selected faces
  src/Mod/Path/PathScripts/PathPocket.py
Labels: 🛤️ Path

#6425 [App] Document: remove unused includes
  src/App/Document.cpp
  src/App/Document.h
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
  src/App/DocumentObjectExtension.cpp
  src/App/DocumentObjectExtension.h
  src/App/DocumentObjectExtensionPyImp.cpp
  src/App/DocumentObjectFileIncluded.cpp
  src/App/DocumentObjectFileIncluded.h
  src/App/DocumentObjectGroup.cpp
  src/App/DocumentObjectGroup.h
  src/App/DocumentObjectGroupPyImp.cpp
  src/App/DocumentObjectPyImp.cpp
  src/App/DocumentObserver.cpp
  src/App/DocumentObserver.h
  src/App/DocumentObserverPython.cpp
  src/App/DocumentObserverPython.h
  src/App/DocumentPyImp.cpp
Labels: core

#5406 [Std_SendToPythonConsole] add doc, sub, and subs
  src/Gui/CommandFeat.cpp
Labels: core

#6437 Gui: fix use of deprecated Qt::TextColorRole
  src/Gui/propertyeditor/PropertyItem.cpp
Labels: core

#6420 Arch: Replace Drawing functions with TechDraw functions
  src/Mod/Arch/ArchComponent.py
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchSectionPlane.py
  src/Mod/Arch/ArchSite.py
Labels: 🏛 Arch

#5475 [TechDraw] Improve weld task tool tips
  src/Mod/TechDraw/Gui/TaskWeldingSymbol.ui
Labels: ⚙ TechDraw

#6448 Github: rename Workbench tags so they present alphabetically in GH UI
  .github/labels.yml
Labels: :octocat:

#6444 Draft: Fix Draft_Line Length is zero bug
  src/Mod/Draft/draftobjects/wire.py
Labels: WB Draft

#6463 [Sketcher] Some tools for more control over b-splines at creation
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
Labels: WB Sketcher

#6465 [TD]add alignment grid to page
  src/Mod/TechDraw/App/EdgeWalker.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawColors.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawColorsImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneral.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneralImp.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.h
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/Mod/TechDraw/Gui/QGVPage.h
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.h
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.h
Labels: WB TechDraw

#6468 AddonManager: improve dark mode heuristic
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Addon Manager

#6472 [App] Origin and Part: remove unused includes
  src/App/Origin.h
  src/App/OriginFeature.h
  src/App/OriginGroupExtension.h
  src/App/OriginGroupExtensionPyImp.cpp
  src/App/Part.cpp
  src/App/PartPyImp.cpp
Labels: core

#6393 Sketch: Fix algorithm seeking for missing coincidences in Validate
  src/Mod/Sketcher/App/SketchAnalysis.cpp
  src/Mod/Sketcher/App/SketchAnalysis.h
Labels: WB Sketcher
