Repository FreeCAD/FreeCAD, pull requests merged in 2022-08, with the labels that each got.

#7259 Draft: Fix handling of groups on move-copy and rotate-copy
  src/Mod/Draft/draftfunctions/move.py
  src/Mod/Draft/draftfunctions/rotate.py
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#7292 [Gui] QSint: fix QGroupBox visibility
  src/Gui/QSint/actionpanel/actionpanelscheme.cpp
Labels: Core

#7295 [Draft] Fix Draft Edit AddPoint with BSpline
  src/Mod/Draft/draftguitools/gui_edit_draft_objects.py
Labels: WB Draft, 0.20.1

#7294 Base: Modernise ctors dtors defs etc
  src/Base/Axis.cpp
  src/Base/Axis.h
  src/Base/BaseClass.cpp
  src/Base/BindingManager.cpp
  src/Base/BoundBox.h
  src/Base/Builder3D.cpp
  src/Base/Console.cpp
  src/Base/ConsoleObserver.cpp
  src/Base/ConsoleObserver.h
  src/Base/CoordinateSystem.cpp
  src/Base/Debugger.cpp
  src/Base/Debugger.h
  src/Base/DualNumber.h
  src/Base/DualQuaternion.h
  src/Base/Exception.h
  src/Base/ExceptionFactory.h
  src/Base/Factory.h
  src/Base/FileTemplate.cpp
  src/Base/FutureWatcherProgress.cpp
  src/Base/FutureWatcherProgress.h
  src/Base/GeometryPyCXX.cpp
  src/Base/GeometryPyCXX.h
  src/Base/InputSource.cpp
  src/Base/InputSource.h
  src/Base/Interpreter.cpp
  src/Base/Interpreter.h
  src/Base/Matrix.h
  src/Base/Observer.h
  src/Base/Parameter.cpp
  src/Base/Parameter.h
  src/Base/ParameterPy.cpp
  src/Base/Placement.cpp
  src/Base/Placement.h
  src/Base/Quantity.h
  src/Base/Reader.h
  src/Base/Sequencer.cpp
  src/Base/Sequencer.h
  src/Base/Stream.cpp
  src/Base/Stream.h
  src/Base/TimeInfo.cpp
  src/Base/Tools.h
  src/Base/Tools2D.h
  src/Base/Translate.cpp
  src/Base/Translate.h
  src/Base/Type.cpp
  src/Base/Unit.h
  src/Base/UnitsSchema.h
  src/Base/UnitsSchemaCentimeters.h
  src/Base/UnitsSchemaFemMilliMeterNewton.h
  src/Base/UnitsSchemaImperial1.h
  src/Base/UnitsSchemaInternal.h
  src/Base/UnitsSchemaMKS.h
  src/Base/UnitsSchemaMmMin.h
  src/Base/Uuid.cpp
  src/Base/ViewProj.h
  src/Base/Writer.cpp
  src/Base/Writer.h
  src/Base/XMLTools.h
  src/Base/fdstream.hpp
  src/Base/gzstream.h
Labels: Core

#7297 [TechDraw] Simplify code getting default line weights
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/LineGroup.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.cpp
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
  src/Mod/TechDraw/Gui/TaskRichAnno.cpp
  src/Mod/TechDraw/Gui/ViewProviderBalloon.cpp
  src/Mod/TechDraw/Gui/ViewProviderDimension.cpp
  src/Mod/TechDraw/Gui/ViewProviderGeomHatch.cpp
  src/Mod/TechDraw/Gui/ViewProviderLeader.cpp
  src/Mod/TechDraw/Gui/ViewProviderRichAnno.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
Labels: WB TechDraw

#7298 AddonManager: Fix source comment typos
  src/Mod/AddonManager/package_details.py
Labels: Addon Manager

#7301 OpenSCAD: Get rid of SCAD-Import error in importCSG.py
  src/Mod/OpenSCAD/importCSG.py
Labels: WB OpenSCAD

#7287 [Arch] remove unneeded checks for Python 3
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchComponent.py
  src/Mod/Arch/ArchReference.py
  src/Mod/Arch/ArchSchedule.py
  src/Mod/Arch/ArchSpace.py
  src/Mod/Arch/Dice3DS/dom3ds.py
  src/Mod/Arch/Dice3DS/util.py
  src/Mod/Arch/OfflineRenderingUtils.py
  src/Mod/Arch/importOBJ.py
Labels: WB Arch

#7309 [Arch] further code cleanup after Py2 check removal
  src/Mod/Arch/Dice3DS/dom3ds.py
  src/Mod/Arch/Dice3DS/util.py
Labels: WB Arch

#7278 PATH: Bugfix/vcarve c++ exception
  src/Mod/Path/App/AppPath.cpp
  src/Mod/Path/App/AppPathPy.cpp
  src/Mod/Path/App/VoronoiCellPy.xml
  src/Mod/Path/App/VoronoiCellPyImp.cpp
  src/Mod/Path/App/VoronoiEdgePy.xml
  src/Mod/Path/App/VoronoiEdgePyImp.cpp
  src/Mod/Path/App/VoronoiPy.xml
  src/Mod/Path/App/VoronoiPyImp.cpp
  src/Mod/Path/App/VoronoiVertexPy.xml
  src/Mod/Path/PathScripts/PathVcarve.py
  src/Mod/Path/PathTests/TestPathVoronoi.py
Labels: WB Path

#7315 App: use emplace_back
  src/App/Application.cpp
  src/App/ColorModel.cpp
  src/App/Document.cpp
  src/App/DocumentObjectPyImp.cpp
  src/App/Expression.cpp
  src/App/Link.cpp
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyLinks.cpp
Labels: Core

#7316 Gui: use emplace_back
  src/Gui/Application.cpp
  src/Gui/CommandPyImp.cpp
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/MainWindow.cpp
  src/Gui/NaviCube.cpp
  src/Gui/PythonWorkbenchPyImp.cpp
  src/Gui/Selection.cpp
  src/Gui/SelectionObject.cpp
  src/Gui/Tree.cpp
  src/Gui/ViewProviderAnnotation.cpp
  src/Gui/ViewProviderDocumentObject.cpp
  src/Gui/ViewProviderExtern.cpp
  src/Gui/ViewProviderGeoFeatureGroupExtension.cpp
  src/Gui/ViewProviderInventorObject.cpp
  src/Gui/ViewProviderLink.cpp
  src/Gui/ViewProviderMeasureDistance.cpp
  src/Gui/ViewProviderOriginFeature.cpp
  src/Gui/ViewProviderPlacement.cpp
  src/Gui/ViewProviderVRMLObject.cpp
Labels: Core

#7320 Gui: use empty
  src/Gui/Application.cpp
  src/Gui/Command.cpp
  src/Gui/CommandDoc.cpp
  src/Gui/CommandLink.cpp
  src/Gui/CommandView.cpp
  src/Gui/CommandWindow.cpp
  src/Gui/DlgCustomizeSpaceball.cpp
  src/Gui/DlgExpressionInput.cpp
  src/Gui/DlgObjectSelection.cpp
  src/Gui/DlgParameterImp.cpp
  src/Gui/DlgPropertyLink.cpp
  src/Gui/Document.cpp
  src/Gui/ExpressionBinding.cpp
  src/Gui/ExpressionCompleter.cpp
  src/Gui/GestureNavigationStyle.cpp
  src/Gui/InputField.cpp
  src/Gui/Macro.cpp
  src/Gui/MainWindow.cpp
  src/Gui/Placement.cpp
  src/Gui/PreferencePackManager.cpp
  src/Gui/Selection.cpp
  src/Gui/SelectionObject.h
  src/Gui/SoFCSelectionContext.cpp
  src/Gui/SoFCSelectionContext.h
  src/Gui/SoFCUnifiedSelection.cpp
  src/Gui/TaskElementColors.cpp
  src/Gui/Tree.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DPy.cpp
  src/Gui/ViewProvider.cpp
  src/Gui/ViewProviderLink.cpp
  src/Gui/propertyeditor/PropertyEditor.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
Labels: Core

#7319 App: use empty
  src/App/Application.cpp
  src/App/ColorModel.cpp
  src/App/Document.cpp
  src/App/DocumentObject.cpp
  src/App/DocumentObserver.cpp
  src/App/Expression.cpp
  src/App/FeaturePython.h
  src/App/GeoFeature.cpp
  src/App/Link.cpp
  src/App/Link.h
  src/App/ObjectIdentifier.cpp
  src/App/Property.cpp
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyLinks.cpp
  src/App/PropertyStandard.cpp
  src/App/Transactions.cpp
Labels: Core

#7329 FEM: remove trailing whitespace from various FEM files
  src/Mod/Fem/App/FemAnalysis.h
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/FemPostFilter.cpp
  src/Mod/Fem/App/FemPostPipeline.cpp
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/TaskFemConstraintContact.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
Labels: WB FEM

#7324 Sketcher: Fix sWhatsThis for Sketcher_CompConstrainRadDia
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#7331 App_redundent_void_2
  src/App/ApplicationPy.cpp
  src/App/DocumentObject.h
  src/App/Expression.cpp
  src/App/Link.cpp
  src/App/Link.h
Labels: Core

#7335 App: Redundant string initialization
  src/App/DocumentObject.cpp
Labels: Core

#7336 Gui: Redundant string initialization
  src/Gui/CommandPyImp.cpp
  src/Gui/Workbench.cpp
Labels: Core

#7337 Mod: Redundant string initialization
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/PartDesign/Gui/ViewProvider.cpp
  src/Mod/Sketcher/App/Constraint.cpp
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/DrawViewSpreadsheet.cpp
  src/Mod/TechDraw/Gui/TaskSectionView.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
Labels: WB FEM, WB TechDraw, WB PartDesign, WB Part, WB Sketcher

#7333 PATH: Bugfix/external thread issues
  src/Mod/Path/PathScripts/PathOp.py
  src/Mod/Path/PathScripts/PathSelection.py
  src/Mod/Path/PathScripts/PathThreadMilling.py
  src/Mod/Path/PathScripts/PathThreadMillingGui.py
  src/Mod/Path/PathTests/TestPathThreadMilling.py
Labels: WB Path, 0.20.1

#7273 Base: Fix Placement.rotate() to match documentation
  src/Base/PlacementPy.xml
  src/Base/PlacementPyImp.cpp
Labels: Core

#7345 App: Use override etc 2
  src/App/DocumentObject.h
  src/App/ExpressionVisitors.h
  src/App/Link.cpp
  src/App/Link.h
Labels: Core

#7351 [TD]fix multiple dimension drag
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.h
Labels: WB TechDraw

#7353 [GUI,MOD] Replace edit-cut.svg
  src/Gui/Icons/edit-cut.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/edit-cut.svg
Labels: Core, WB TechDraw

#7355 [TechDraw] fix up button in TaskProjGroup
  src/Mod/TechDraw/Gui/TaskProjGroup.ui
Labels: WB TechDraw

#7357 [TD]fix LineFormat ctor line color
  src/Mod/TechDraw/App/Cosmetic.h
Labels: WB TechDraw

#7361 [FEM] Substitute underscore for whitespace in CalculiX solver output
  src/Mod/Fem/femsolver/calculix/write_constraint_temperature.py
Labels: WB FEM

#7362 [TD]fix hatch file default handling
  src/Mod/TechDraw/App/Preferences.cpp
Labels: WB TechDraw

#7365 [TD]include clean up continued
  src/Mod/TechDraw/Gui/QGIFace.h
  src/Mod/TechDraw/Gui/QGIPrimPath.h
Labels: WB TechDraw

#7364 [FEM] add initial pressure constraint
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintInitialPressure.svg
  src/Mod/Fem/Gui/Resources/ui/InitialPressure.ui
  src/Mod/Fem/Gui/Workbench.cpp
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femobjects/constraint_initialpressure.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femtaskpanels/task_constraint_initialpressure.py
  src/Mod/Fem/femtest/app/test_object.py
  src/Mod/Fem/femviewprovider/view_constraint_initialpressure.py
Labels: WB FEM

#7367 [FEM] fix body heat source constraint
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/Resources/ui/BodyHeatSource.ui
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femobjects/constraint_bodyheatsource.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femtaskpanels/task_constraint_bodyheatsource.py
  src/Mod/Fem/femviewprovider/view_constraint_bodyheatsource.py
Labels: WB FEM

#7379 [TD]fix typo in message
  src/Mod/TechDraw/App/DrawViewPart.cpp
Labels: WB TechDraw

#7378 [TechDraw] Remove uneeded redefinitions of inherited functions
  src/Mod/TechDraw/Gui/QGEPath.cpp
  src/Mod/TechDraw/Gui/QGEPath.h
  src/Mod/TechDraw/Gui/QGIArrow.cpp
  src/Mod/TechDraw/Gui/QGIArrow.h
  src/Mod/TechDraw/Gui/QGIDimLines.cpp
  src/Mod/TechDraw/Gui/QGIDimLines.h
  src/Mod/TechDraw/Gui/QGIDrawingTemplate.cpp
  src/Mod/TechDraw/Gui/QGIDrawingTemplate.h
Labels: WB TechDraw

#7246 [FEM] pipelines: distinguish stresses
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
Labels: WB FEM

#7388 Gui: Prevent crash when trying to create ExpressionBinding without arguments
  src/Gui/ExpressionBindingPy.cpp
Labels: Core

#7385 [Part] Add scaleKnotsToBounds method to BSplineCurve
  src/Mod/Part/App/BSplineCurvePy.xml
  src/Mod/Part/App/BSplineCurvePyImp.cpp
  src/Mod/Part/App/BSplineSurfacePy.xml
  src/Mod/Part/App/BSplineSurfacePyImp.cpp
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry.h
Labels: WB Part, Feature

#7389 Fix MacOS-X build of FreeCAD-0.20.1
  src/Base/UnitsSchemaInternal.cpp
  src/Base/UnitsSchemaMKS.cpp
  src/Mod/Drawing/App/CMakeLists.txt
  src/Mod/Drawing/Gui/CMakeLists.txt
  src/Mod/Image/Gui/CMakeLists.txt
  src/Mod/Import/App/CMakeLists.txt
  src/Mod/Import/Gui/CMakeLists.txt
  src/Mod/Inspection/App/CMakeLists.txt
  src/Mod/Inspection/Gui/CMakeLists.txt
  src/Mod/Mesh/App/CMakeLists.txt
  src/Mod/Mesh/Gui/CMakeLists.txt
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/Gui/CMakeLists.txt
  src/Mod/PartDesign/App/CMakeLists.txt
  src/Mod/PartDesign/Gui/CMakeLists.txt
  src/Mod/Path/App/CMakeLists.txt
  src/Mod/Path/Gui/CMakeLists.txt
  src/Mod/Points/App/CMakeLists.txt
  src/Mod/Points/Gui/CMakeLists.txt
  src/Mod/Raytracing/App/CMakeLists.txt
  src/Mod/Raytracing/Gui/CMakeLists.txt
  src/Mod/ReverseEngineering/App/CMakeLists.txt
  src/Mod/ReverseEngineering/Gui/CMakeLists.txt
  src/Mod/Robot/App/CMakeLists.txt
  src/Mod/Robot/Gui/CMakeLists.txt
  src/Mod/Sketcher/App/CMakeLists.txt
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Spreadsheet/App/CMakeLists.txt
  src/Mod/Spreadsheet/Gui/CMakeLists.txt
  src/Mod/Start/Gui/CMakeLists.txt
  src/Mod/Surface/App/CMakeLists.txt
  src/Mod/Surface/Gui/CMakeLists.txt
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/Test/Gui/CMakeLists.txt
  src/Mod/Web/Gui/CMakeLists.txt
Labels: Core, WB Path, WB TechDraw, WB PartDesign, WB Part, WB Spreadsheet, WB Sketcher, WB Mesh, WB Points, WB ReverseEngineering, WB Test

#7366 App:: clang-tidy google-explicit-constructor
  src/App/Application.h
  src/App/ColorModel.h
  src/App/Document.cpp
  src/App/Document.h
  src/App/DocumentObject.h
  src/App/DocumentObjectPyImp.cpp
  src/App/DocumentObserver.cpp
  src/App/DocumentObserver.h
  src/App/Enumeration.cpp
  src/App/Enumeration.h
  src/App/Expression.cpp
  src/App/Expression.h
  src/App/ExpressionParser.h
  src/App/ExpressionVisitors.h
  src/App/FeaturePython.h
  src/App/FeaturePythonPyImp.h
  src/App/Material.h
  src/App/MergeDocuments.h
  src/App/Metadata.h
  src/App/ObjectIdentifier.cpp
  src/App/ObjectIdentifier.h
  src/App/Origin.h
  src/App/Path.h
  src/App/Property.cpp
  src/App/Property.h
  src/App/PropertyContainer.h
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyExpressionEngine.h
  src/App/PropertyLinks.cpp
  src/App/PropertyLinks.h
  src/App/PropertyStandard.h
  src/App/Range.h
  src/App/Transactions.h
  src/Gui/PreferencePackManager.cpp
  src/Mod/Spreadsheet/App/PropertySheet.cpp
  src/Mod/TechDraw/Gui/QGIFace.cpp
Labels: Core, WB TechDraw, WB Spreadsheet

#7356 [0.20] [AddonManager] Minor Bugfix with Mod folder
  src/Mod/AddonManager/addonmanager_workers.py
Labels: Addon Manager

#7397 App: Use explicit
  src/App/DocumentObserver.h
Labels: Core

#7399 Fix translation issue #190
  src/Gui/DlgSettingsUnitsImp.cpp
Labels: Core

#7207 Path: Remove dead code
  src/Mod/Path/PathScripts/PathSelection.py
Labels: WB Path

#7406 [TD]fix crash in Preferences
  src/Mod/TechDraw/Gui/QGVPage.cpp
Labels: WB TechDraw

#7404 Base: Fix warning -Wrange-loop-construct
  src/Base/Builder3D.cpp
Labels: Core

#7408 [TD]cosmetic vertex size consistency
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
Labels: WB TechDraw

#7411 [TD]Prevent GO sync issue
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/App/DrawViewSection.cpp
Labels: WB TechDraw

#7416 [TD]fix too large page on print
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
Labels: WB TechDraw

#7419 [TD]fix perspective projection
  src/Mod/TechDraw/App/GeometryObject.cpp
Labels: WB TechDraw

#7368 Arch: removing unnecessary 'if' conditional check
  src/Mod/Arch/ArchRebar.py
Labels: WB Arch

#7354 Draft: add tolerance to BoundBox check in intersections.py
  src/Mod/Draft/draftgeoutils/intersections.py
Labels: WB Draft

#7398 github: Update PULL_REQUEST_TEMPLATE.md to v1.0 thread
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :octocat:

#7423 [TD]fix face centerline
  src/Mod/TechDraw/App/DrawViewPart.cpp
Labels: WB TechDraw
