Repository FreeCAD/FreeCAD, pull requests merged in 2022-07, with the labels that each got.

#7115 Fix Cmake Messages
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
Labels: packaging/building

#7116 remove unused boost files
  src/Mod/Path/App/boost_fix/container/detail/memory_util.hpp
  src/Mod/Path/App/boost_fix/intrusive/detail/has_member_function_callable_with.hpp
  src/Mod/Path/App/boost_fix/intrusive/detail/memory_util.hpp
Labels: WB Path

#7100 FEM WB Elmer viscosity bug fix.
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#7110 [Sketcher] Only move one piece of B-spline when dragging
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/Sketch.h
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: :mag_right: awaiting review, WB Sketcher

#7126 TPN: added revisions to README
  README.md
Labels: Toponaming

#6974 Path: Restore drilling op retract value to user supplied Retract Height
  src/Mod/Path/Generators/drill_generator.py
  src/Mod/Path/PathScripts/PathDrilling.py
  src/Mod/Path/PathTests/TestPathDrillGenerator.py
Labels: WB Path

#7128 Vector2d:fix rotate bug
  src/Base/Tools2D.h
Labels: core

#7121 [TD]fix bitmap hatch
  src/Mod/TechDraw/App/DrawHatch.cpp
  src/Mod/TechDraw/App/DrawHatch.h
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIFace.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/TaskHatch.cpp
  src/Mod/TechDraw/Gui/TaskHatch.h
  src/Mod/TechDraw/Gui/TaskHatch.ui
  src/Mod/TechDraw/Gui/ViewProviderHatch.cpp
  src/Mod/TechDraw/Gui/ViewProviderHatch.h
  src/Mod/TechDraw/Patterns/default.png
Labels: Bug, WB TechDraw

#7120 LGTM: omit src/Tools/wiki2qhelp.py from analysis
  lgtm.yml
Labels: 🏁 LGTM

#7034 [App] Fix #5592 : Respect symbolic links
  src/App/Document.cpp
Labels: core

#7122 [Arch] fix typo in function name
  src/Mod/Arch/ArchWall.py
Labels: WB Arch

#7133 [TD]adjustable extension line gap
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensions.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensionsImp.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.h
  src/Mod/TechDraw/Gui/ViewProviderDimension.cpp
  src/Mod/TechDraw/Gui/ViewProviderDimension.h
Labels: WB TechDraw, Feature

#7131 [TD]fix multiple open dialogs
  src/Mod/TechDraw/TechDrawTools/TaskMoveView.py
  src/Mod/TechDraw/TechDrawTools/TaskShareView.py
Labels: Bug, WB TechDraw

#7135 Arch: Invert opening symbol Simple door
  src/Mod/Arch/ArchWindowPresets.py
Labels: WB Arch

#7132 Draft: Fix near snap (issue #6613)
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: WB Draft

#7138 Draft: DisplayStatusbarScaleWidget should be checked in preferences-draftinterface.ui
  src/Mod/Draft/Resources/ui/preferences-draftinterface.ui
Labels: WB Draft

#7140 [TechDraw] Use function overloadin and avoid code repeat
  src/Mod/TechDraw/Gui/QGCustomBorder.cpp
  src/Mod/TechDraw/Gui/QGCustomClip.cpp
  src/Mod/TechDraw/Gui/QGCustomImage.cpp
  src/Mod/TechDraw/Gui/QGCustomLabel.cpp
  src/Mod/TechDraw/Gui/QGCustomRect.cpp
  src/Mod/TechDraw/Gui/QGCustomSvg.cpp
  src/Mod/TechDraw/Gui/QGCustomText.cpp
  src/Mod/TechDraw/Gui/QGDisplayArea.cpp
Labels: WB TechDraw, refactor

#7139 [Sketcher] Do regular drag for small B-splines
  src/Mod/Sketcher/App/Sketch.cpp
Labels: WB Sketcher

#7150 [TechDraw] Improve readability of commands
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
Labels: WB TechDraw

#7103 [PD] add preferences setting for transparency
  src/Gui/PreferencePackTemplates/Window_Colors.cfg
  src/Gui/ViewParams.h
  src/Gui/ViewProviderGeometryObject.cpp
  src/Mod/Part/Gui/DlgSettingsObjectColor.cpp
  src/Mod/Part/Gui/DlgSettingsObjectColor.ui
  src/Mod/Part/Gui/SectionCutting.ui
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.cpp
Labels: core, WB PartDesign, WB Part

#7157 small corrections of German translation in FEM Gmsh
  src/Mod/Fem/Gui/Resources/translations/Fem_de.ts
Labels: WB FEM

#7158 [FEM] fix CCX multi-threading bug
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
  src/Mod/Fem/Gui/DlgSettingsFemCcxImp.cpp
Labels: WB FEM

#7162 Draft: fix spacing of ToolTip text
  src/Mod/Draft/DraftGui.py
Labels: WB Draft

#7169 [TD]fixes for Dimensions
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
Labels: WB TechDraw

#7160 [FEM] fix solver console bugs
  src/Mod/Fem/femsolver/elmer/tasks.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femsolver/z88/tasks.py
  src/Mod/Fem/femtools/femutils.py
Labels: WB FEM

#7184 [TD]fix crash on body with no shape
  src/Mod/TechDraw/App/ShapeExtractor.cpp
Labels: Bug, WB TechDraw, crash

#7178 [Path] Several small bug fixes
  src/Mod/Path/App/PathSegmentWalker.cpp
  src/Mod/Path/Gui/Resources/panels/PathEdit.ui
  src/Mod/Path/Gui/ViewProviderPath.cpp
  src/Mod/Path/PathScripts/PathFixture.py
  src/Mod/Path/PathScripts/PathGuiInit.py
  src/Mod/Path/PathScripts/PathJobGui.py
  src/Mod/Path/PathScripts/PathSurface.py
Labels: WB Path

#7183 Mod: Replaced python2 usage of next()
  src/Mod/Arch/importIFCmulticore.py
  src/Mod/Fem/femsolver/elmer/sifio.py
Labels: WB FEM, WB Arch

#7137 Path: Fix Type=Polar regression in PathArray
  src/Mod/Path/PathScripts/PathArray.py
Labels: WB Path

#7186 Draft: Fix Hatch task panel title
  src/Mod/Draft/Resources/ui/dialogHatch.ui
Labels: WB Draft

#7174 Draft: Fix EditMode for hatch, facebinder and shapestring
  src/Mod/Draft/draftviewproviders/view_facebinder.py
  src/Mod/Draft/draftviewproviders/view_hatch.py
  src/Mod/Draft/draftviewproviders/view_shapestring.py
Labels: WB Draft

#7159 [FEM] enable to run Elmer multi-threaded
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/FemPostPipeline.cpp
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/App/PreCompiled.h
  src/Mod/Fem/Gui/DlgSettingsFemElmer.ui
  src/Mod/Fem/Gui/DlgSettingsFemElmerImp.cpp
  src/Mod/Fem/Gui/DlgSettingsFemElmerImp.h
  src/Mod/Fem/Init.py
  src/Mod/Fem/femsolver/elmer/tasks.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femsolver/settings.py
Labels: WB FEM

#7155 [Gui] preferences: add button to switch gradient colors
  src/Gui/DlgSettingsViewColor.cpp
  src/Gui/DlgSettingsViewColor.h
  src/Gui/DlgSettingsViewColor.ui
Labels: core

#7154 [Gui] preferences: clarify Part/PD page
  src/Gui/DlgPreferencesImp.cpp
  src/Mod/Part/Gui/AppPartGui.cpp
Labels: core, WB Part

#7127 [Path] Feature/chipbreak
  src/Mod/Path/App/PathSegmentWalker.cpp
  src/Mod/Path/GCode-description.md
  src/Mod/Path/Generators/drill_generator.py
  src/Mod/Path/Gui/Resources/panels/PageOpDrillingEdit.ui
  src/Mod/Path/PathScripts/PathArray.py
  src/Mod/Path/PathScripts/PathDrilling.py
  src/Mod/Path/PathScripts/PathDrillingGui.py
  src/Mod/Path/PathScripts/PathGeom.py
  src/Mod/Path/PathScripts/PathSimulatorGui.py
  src/Mod/Path/PathTests/TestPathDrillGenerator.py
Labels: WB Path

#7194 [TechDraw] Refactor cosmetic.cpp
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/Cosmetic.h
Labels: WB TechDraw

#7195 [TechDraw] Improve readability of DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
Labels: WB TechDraw

#7163 Remove unused code from GUI
  src/Gui/3Dconnexion/GuiNativeEventWin32.h
  src/Gui/Action.cpp
  src/Gui/Application.cpp
  src/Gui/AutoSaver.cpp
  src/Gui/CADNavigationStyle.cpp
  src/Gui/CallTips.cpp
  src/Gui/CoinRiftWidget.h
  src/Gui/Command.cpp
  src/Gui/CommandDoc.cpp
  src/Gui/CommandView.cpp
  src/Gui/DlgDisplayPropertiesImp.cpp
  src/Gui/DlgExpressionInput.cpp
  src/Gui/DlgMaterialPropertiesImp.cpp
  src/Gui/DlgParameterImp.cpp
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/DlgSettingsCacheDirectory.cpp
  src/Gui/DlgSettingsUnitsImp.cpp
  src/Gui/DockWindowManager.cpp
  src/Gui/Document.cpp
  src/Gui/Flag.h
  src/Gui/Inventor/SoDrawingGrid.h
  src/Gui/MainWindow.cpp
  src/Gui/MergeDocuments.cpp
  src/Gui/MouseSelection.cpp
  src/Gui/NavigationStyle.cpp
  src/Gui/PythonWrapper.cpp
  src/Gui/QSint/actionpanel/taskheader_p.cpp
  src/Gui/QuantitySpinBox.cpp
  src/Gui/Quarter/KeyboardP.cpp
  src/Gui/Quarter/QuarterWidget.cpp
  src/Gui/Selection.cpp
  src/Gui/SoFCDB.cpp
  src/Gui/SoFCSelection.cpp
  src/Gui/SoFCUnifiedSelection.cpp
  src/Gui/SoMouseWheelEvent.h
  src/Gui/SoTextLabel.cpp
  src/Gui/Tree.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/ViewProviderDocumentObjectGroup.cpp
  src/Gui/ViewProviderLink.cpp
  src/Gui/ViewProviderPyImp.cpp
  src/Gui/ViewProviderPythonFeature.cpp
  src/Gui/Widgets.cpp
  src/Gui/Workbench.cpp
  src/Gui/propertyeditor/PropertyItemDelegate.cpp
  src/Gui/propertyeditor/PropertyModel.cpp
  src/Gui/resource.cpp
Labels: core

#7168 [Path] export a camotics tooltable
  src/Mod/Path/PathScripts/PathCamoticsGui.py
  src/Mod/Path/PathScripts/PathToolBit.py
  src/Mod/Path/PathScripts/PathToolBitLibraryGui.py
Labels: WB Path

#7204 [Part] remove superfluous nullptr checks
  src/Mod/Part/App/BSplineSurfacePyImp.cpp
  src/Mod/Part/App/BezierSurfacePyImp.cpp
  src/Mod/Part/Gui/DlgExtrusion.cpp
  src/Mod/Part/Gui/SoBrepFaceSet.cpp
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
Labels: WB Part

#7203 [PD] App: remove superfluous nullptr checks
  src/Mod/PartDesign/App/Body.cpp
  src/Mod/PartDesign/App/Body.h
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/FeatureDraft.cpp
  src/Mod/PartDesign/App/FeatureLinearPattern.cpp
  src/Mod/PartDesign/App/FeatureMirrored.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
  src/Mod/PartDesign/App/FeaturePolarPattern.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
Labels: WB PartDesign

#7202 [PD] remove superfluous nullptr checks
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/ReferenceSelection.cpp
  src/Mod/PartDesign/Gui/TaskBooleanParameters.cpp
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskMirroredParameters.cpp
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.cpp
  src/Mod/PartDesign/Gui/TaskSketchBasedParameters.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.h
  src/Mod/PartDesign/Gui/Utils.cpp
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
  src/Mod/PartDesign/Gui/ViewProviderDressUp.cpp
  src/Mod/PartDesign/Gui/ViewProviderMultiTransform.cpp
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.cpp
Labels: WB PartDesign

#7201 [PD] improve face selection for Pad/Pocket
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.h
  src/Mod/PartDesign/Gui/TaskPadParameters.cpp
  src/Mod/PartDesign/Gui/TaskPadPocketParameters.ui
  src/Mod/PartDesign/Gui/TaskPocketParameters.cpp
Labels: WB PartDesign

#7198 [PD] add parameter enabling logic for pad/pocket
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureExtrude.h
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
Labels: WB PartDesign

#7181 Fix bug #6679, add new profiles
  src/Mod/Arch/Presets/profiles.csv
Labels: WB Arch

#7192 [Doc] Migrate WebDoc to doxygen 1.9.4 and improve layout
  src/Doc/BuildWebDoc.cfg.in
  src/Doc/templates/customdoxygen.css
  src/Doc/templates/doxy-boot.js
  src/Doc/templates/footer.html
  src/Doc/templates/header.html
Labels: documentation

#7212 Arch: Fix getCutVolume in ArchCommands.py
  src/Mod/Arch/ArchCommands.py
Labels: WB Arch

#7200 Draft: Fix color handling in make_point.py
  src/Mod/Draft/draftmake/make_point.py
Labels: WB Draft

#7176 Draft: Add resetEdit to gui_hatch.py
  src/Mod/Draft/draftguitools/gui_hatch.py
Labels: WB Draft

#7173 Draft: Fix setEdit in view_text.py
  src/Mod/Draft/draftviewproviders/view_text.py
Labels: WB Draft

#7148 [PartGui] Add Font and Color Preferences to Measure dimensions
  src/Mod/Part/Gui/AppPartGui.cpp
  src/Mod/Part/Gui/CMakeLists.txt
  src/Mod/Part/Gui/DlgSettingsMeasure.cpp
  src/Mod/Part/Gui/DlgSettingsMeasure.h
  src/Mod/Part/Gui/DlgSettingsMeasure.ui
  src/Mod/Part/Gui/TaskDimension.cpp
  src/Mod/Part/Gui/TaskDimension.h
Labels: WB Part

#7213 Mod: remove some superfluous Boolean checks
  src/Mod/Arch/ArchAxis.py
  src/Mod/Arch/ArchBuilding.py
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchFloor.py
  src/Mod/Arch/ArchReference.py
  src/Mod/Arch/ArchSite.py
  src/Mod/Arch/ArchStructure.py
  src/Mod/Draft/draftfunctions/upgrade.py
  src/Mod/Draft/draftguitools/gui_edit_draft_objects.py
  src/Mod/OpenSCAD/OpenSCADCommands.py
  src/Mod/OpenSCAD/importCSG.py
  src/Mod/PartDesign/Scripts/Gear.py
  src/Mod/Path/PathScripts/PathDressupPathBoundary.py
  src/Mod/Path/PathScripts/post/heidenhain_post.py
  src/Mod/Path/PathScripts/post/philips_post.py
  src/Mod/Test/Menu.py
Labels: WB PartDesign, WB Test

#7216 [PD Pad/Pocket] Fix bug with midplane usage in TwoLengths mode
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/Gui/TaskPadParameters.cpp
  src/Mod/PartDesign/Gui/TaskPocketParameters.cpp
Labels: WB PartDesign

#7217 Arch: Add support for editing profile type, add L and T sections
  src/Mod/Arch/ArchProfile.py
  src/Mod/Arch/Presets/profiles.csv
Labels: WB Arch

#7215 Draft: Remove unnecessary DisplayStatusbar preference
  src/Mod/Draft/Resources/ui/preferences-draftinterface.ui
  src/Mod/Draft/draftutils/init_draft_statusbar.py
Labels: WB Draft

#7227 [TD] Add SurfaceFinishSymbol command - replaces #7220
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_SurfaceFinishSymbols.svg
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.cpp
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.h
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.ui
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: WB TechDraw

#7228 [TechDraw] Improve readability of DrawViewDetail.cpp replaces #7199
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewDimExtent.cpp
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDraft.cpp
  src/Mod/TechDraw/App/DrawViewImage.cpp
  src/Mod/TechDraw/App/DrawViewMulti.cpp
Labels: WB TechDraw

#7229 Fix typos in Part and TechDraw workbenches
  src/Mod/Part/App/ShapeFix/ShapeFix_ShellPy.xml
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.h
Labels: WB TechDraw, WB Part

#7231 [Gui] fix missing colorbar update for FemPostObject
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.h
Labels: core

#7190 [Stylesheets] Remove whitespace and add "checked" icon style
  src/Gui/Stylesheets/Behave-dark.qss
  src/Gui/Stylesheets/Dark-blue.qss
  src/Gui/Stylesheets/Dark-contrast.qss
  src/Gui/Stylesheets/Dark-green.qss
  src/Gui/Stylesheets/Dark-orange.qss
  src/Gui/Stylesheets/Darker-blue.qss
  src/Gui/Stylesheets/Darker-green.qss
  src/Gui/Stylesheets/Darker-orange.qss
  src/Gui/Stylesheets/Light-blue.qss
  src/Gui/Stylesheets/Light-green.qss
  src/Gui/Stylesheets/Light-orange.qss
  src/Gui/Stylesheets/ProDark.qss
Labels: core, UI/UX, stylesheets

#7233 Arch: Housekeeping: import translate from correct file
  src/Mod/Arch/ArchAxis.py
  src/Mod/Arch/ArchAxisSystem.py
  src/Mod/Arch/ArchBuilding.py
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchCurtainWall.py
  src/Mod/Arch/ArchCutPlane.py
  src/Mod/Arch/ArchEquipment.py
  src/Mod/Arch/ArchFloor.py
  src/Mod/Arch/ArchFrame.py
  src/Mod/Arch/ArchGrid.py
  src/Mod/Arch/ArchMaterial.py
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchPipe.py
  src/Mod/Arch/ArchPrecast.py
  src/Mod/Arch/ArchProfile.py
  src/Mod/Arch/ArchProject.py
  src/Mod/Arch/ArchRebar.py
  src/Mod/Arch/ArchReference.py
  src/Mod/Arch/ArchRoof.py
  src/Mod/Arch/ArchSchedule.py
  src/Mod/Arch/ArchSectionPlane.py
  src/Mod/Arch/ArchSite.py
  src/Mod/Arch/ArchSpace.py
  src/Mod/Arch/ArchStairs.py
  src/Mod/Arch/ArchStructure.py
  src/Mod/Arch/ArchTruss.py
  src/Mod/Arch/ArchWall.py
  src/Mod/Arch/ArchWindow.py
  src/Mod/Arch/importDAE.py
  src/Mod/Arch/importGBXML.py
  src/Mod/Arch/importIFClegacy.py
  src/Mod/Arch/importJSON.py
  src/Mod/Arch/importOBJ.py
  src/Mod/Arch/importWebGL.py
Labels: WB Arch

#7152 Github: basic check CI Run
  .github/problemMatcher/blackWarning.json
  .github/problemMatcher/clang.json
  .github/problemMatcher/codespell.json
  .github/problemMatcher/cpplint.json
  .github/problemMatcher/grepMatcherWarning.json
  .github/problemMatcher/pylintError.json
  .github/problemMatcher/pylintWarning.json
  .github/workflows/checks.yml
Labels: travis issue, :octocat:

#7235 Improve grid maxNumberOfLines warning message
  src/Mod/Part/Gui/ViewProvider2DObject.cpp
Labels: WB Part

#7222 Make image scaling command aware of user units
  src/Gui/InputField.cpp
  src/Mod/Image/ImageTools/_CommandImageScaling.py
Labels: Core

#7243 Draft: Housekeeping: import translate from correct file
  src/Mod/Draft/importAirfoilDAT.py
  src/Mod/Draft/importDWG.py
  src/Mod/Draft/importDXF.py
  src/Mod/Draft/importOCA.py
Labels: WB Draft

#7249 Draft: Improve alignToFace in WorkingPlane.py
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#7166 Remove deprecated function
  src/App/Material.h
  src/Mod/TechDraw/App/DrawViewDraft.cpp
  src/Mod/TechDraw/App/DrawViewSpreadsheet.cpp
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIViewAnnotation.cpp
Labels: Core, WB TechDraw

#7239 [App] remove check for Python 2
  src/App/FreeCADInit.py
Labels: Core

#7250 Spreadsheet: Fix column number calc
  src/App/Range.cpp
  src/App/Range.h
  src/Mod/Spreadsheet/App/PropertySheet.cpp
Labels: Core, WB Spreadsheet

#7240 [FEM] remove checks for Python 2
  src/Mod/Fem/femtaskpanels/task_mesh_gmsh.py
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
  src/Mod/Fem/femtest/app/test_common.py
  src/Mod/Fem/femtest/app/test_open.py
  src/Mod/Fem/femtest/app/test_solver_elmer.py
  src/Mod/Fem/femtest/app/test_solver_z88.py
  src/Mod/Fem/femtest/gui/test_open.py
  src/Mod/Fem/femtools/femutils.py
  src/Mod/Material/MaterialEditor.py
Labels: WB FEM

#7260 [Part] BSplineSurface: fix KnotSequence for periodic BSpline surfaces
  src/Mod/Part/App/BSplineSurfacePyImp.cpp
Labels: WB Part

#7072 [BUGFIX] Sketcher: fix icon normal/construction toggling...
  src/Mod/Sketcher/Gui/CommandAlterGeometry.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
Labels: WB Sketcher, 0.20.1

#7167 Remove 2 deprecated PyCFunction
  src/App/ApplicationPy.cpp
  src/Mod/Image/InitGui.py
  src/Mod/Spreadsheet/InitGui.py
Labels: Core, WB Spreadsheet

#7252 Base: Clean up code and improve docstrings in Python Console module
  src/App/Application.cpp
  src/Base/Console.cpp
  src/Base/Console.h
Labels: Core

#7265 [Sketcher] fix icon name
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/Resources/Sketcher.qrc
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_CreateEllipseByCenter.svg
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_CreateEllipseByCenter_Constr.svg
Labels: WB Sketcher

#7275 Draft: Fix 'testing inequality to None' syntax
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftmake/make_bezcurve.py
  src/Mod/Draft/draftmake/make_bspline.py
  src/Mod/Draft/draftmake/make_circle.py
  src/Mod/Draft/draftmake/make_ellipse.py
  src/Mod/Draft/draftmake/make_polygon.py
  src/Mod/Draft/draftmake/make_rectangle.py
  src/Mod/Draft/draftmake/make_wire.py
  src/Mod/Draft/importSVG.py
Labels: WB Draft, Refactor

#7274 Arch: Fix 'testing inequality to None' syntax
  src/Mod/Arch/ArchGrid.py
  src/Mod/Arch/ArchRebar.py
  src/Mod/Arch/ArchSchedule.py
  src/Mod/Arch/ArchVRM.py
  src/Mod/Arch/OfflineRenderingUtils.py
  src/Mod/Arch/importDAE.py
  src/Mod/Arch/importIFClegacy.py
  src/Mod/Arch/importOBJ.py
Labels: WB Arch, Refactor

#7035 [Gui] move a NaviCube parameter to the NaviCube parameter group
  src/Gui/DlgSettingsNavigation.cpp
  src/Gui/DlgSettingsNavigation.ui
  src/Gui/PreferencePackTemplates/View.cfg
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventor.h
Labels: Core

#7279 PD: Fix 'testing inequality to None' syntax
  src/Mod/PartDesign/FeatureHole/FeatureHole.py
  src/Mod/PartDesign/FeatureHole/TaskHole.py
  src/Mod/PartDesign/FeatureHole/ViewProviderHole.py
  src/Mod/PartDesign/TestPartDesignGui.py
  src/Mod/PartDesign/WizardShaft/WizardShaft.py
Labels: WB PartDesign, Refactor

#7280 PD: Remove unnecessary semicolons in FeatureHole.py
  src/Mod/PartDesign/FeatureHole/FeatureHole.py
Labels: WB PartDesign

#7143 Gui: fix ViewProviderLink transform with scale
  src/Gui/ViewProviderLink.cpp
  src/Gui/ViewProviderLink.h
Labels: Core, 0.20.1

#7282 Ci v2
  .clang-tidy
  .github/workflows/checks.yml
  .github/workflows/codespell.yml
  .pylintrc
Labels: :octocat:

#7283 Fix various 'testing inequality to None' syntax issues
  src/Mod/TemplatePyMod/Commands.py
  src/Mod/Test/Document.py
  src/Mod/Test/TestGui.py
  src/Tools/MakeMacBundleRelocatable.py
  src/Tools/MemoryLeaks.py
  src/Tools/SubWCRev.py
  src/Tools/generateTemplates/templateClassPyExport.py
Labels: WB Test

#7290 Base remove redundant void
  src/Base/ConsoleObserver.h
  src/Base/GeometryPyCXX.cpp
  src/Base/Interpreter.h
  src/Base/Parameter.cpp
  src/Base/RotationPyImp.cpp
  src/Base/Tools2D.h
  src/Base/TypePyImp.cpp
Labels: Core

#7289 Fix various 'testing inequality to None' syntax issues
  src/Mod/Mesh/App/MeshTestsApp.py
  src/Mod/Path/PathScripts/post/heidenhain_post.py
  src/Mod/Spreadsheet/App/Spreadsheet_legacy.py
Labels: WB Path, WB Spreadsheet, WB Mesh, Python, Refactor

#7286 [FEM] remove unneeded checks for Python 3
  src/Mod/Fem/Init.py
  src/Mod/Fem/InitGui.py
  src/Mod/Fem/femguiutils/selection_widgets.py
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtaskpanels/task_material_common.py
  src/Mod/Fem/femtaskpanels/task_material_reinforced.py
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
  src/Mod/Fem/femtools/ccxtools.py
  src/Mod/Material/Material.py
  src/Mod/Material/MaterialEditor.py
  src/Mod/Material/materialtools/cardutils.py
Labels: WB FEM

#7291 App: Use https
  src/App/Document.cpp
Labels: Core
