Repository FreeCAD/FreeCAD, pull requests merged in 2022-05, with the labels that each got.

#6812 [FEM] Expand Add/Remove buttons in constraint tasks
  src/Mod/Fem/Gui/TaskFemConstraintContact.ui
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.ui
  src/Mod/Fem/Gui/TaskFemConstraintFixed.ui
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.ui
  src/Mod/Fem/Gui/TaskFemConstraintForce.ui
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.ui
  src/Mod/Fem/Gui/TaskFemConstraintPlaneRotation.ui
  src/Mod/Fem/Gui/TaskFemConstraintPressure.ui
  src/Mod/Fem/Gui/TaskFemConstraintSpring.ui
  src/Mod/Fem/Gui/TaskFemConstraintTransform.ui
Labels: WB FEM

#6817 Mesh: fix grammatical issue in console message string
  src/Mod/Mesh/Gui/DlgEvaluateMeshImp.cpp
Labels: L10N, WB Mesh

#6814 Draft: fix 2 gui_groups.py translation issues
  src/Mod/Draft/draftguitools/gui_groups.py
Labels: WB Draft

#6813 Path: Add missing post-processor modules [bug]
  src/Mod/Path/CMakeLists.txt
Labels: WB Path

#6823 [TD]fix X,Y change propagation
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawView.h
Labels: WB TechDraw

#6829 Draft: Fix Draft_WorkingPlaneProxy ignores Auto Working Plane
  src/Mod/Draft/draftguitools/gui_planeproxy.py
Labels: Bug, :mag_right: awaiting review, WB Draft

#6784 Use python3 to run MakeMacBundleRelocatable.py
  src/MacAppBundle/CMakeLists.txt
  src/Tools/MakeMacBundleRelocatable.py
Labels: packaging/building, OS: macOS

#6832 [Part] Part Measure Linear (tool) fix translation for "Selection xx" …
  src/Mod/Part/Gui/TaskDimension.cpp
Labels: L10N, WB Part

#6834 LGTM: Remove unnecessary deletion of local variables
  src/Mod/Draft/importDXF.py
  src/Mod/Draft/importOCA.py
Labels: WB Draft

#6846 Crowdin: fix whitespace and typo in translation string
  src/Gui/ViewProviderLink.cpp
Labels: core

#6851 [Path] Final fix of Path - message during startup (#43)
  src/Mod/Path/InitGui.py
Labels: WB Path

#6841 App: fix crash on removing dynamic property
  src/App/DocumentObject.cpp
Labels: core

#6843 Spreadsheet: fix cell clearing
  src/Mod/Spreadsheet/App/Sheet.cpp
Labels: WB Spreadsheet

#6798 [BugFix] Draft: ensure Working Panel toolbar is deactivated on FC closing
  src/Mod/Draft/InitGui.py
Labels: WB Draft, Testers Needed, 🏁 LGTM

#6866 FEM: [Crowdin] fix typo in ElectrostaticPotential.ui tooltip
  src/Mod/Fem/Gui/Resources/ui/ElectrostaticPotential.ui
Labels: WB FEM

#6867 Base: Remove extraneous bracket from kinematic viscosity units
  src/Base/UnitsSchemaMKS.cpp
Labels: core

#6868 Path: grbl_post: T, H and S GCode parameters are integers, not float numbers.
  src/Mod/Path/PathScripts/post/grbl_post.py
Labels: WB Path

#6872 #6871 - Certain PostProcessors spam errors and other output
  src/Mod/Path/PathScripts/post/KineticNCBeamicon2_post.py
  src/Mod/Path/PathScripts/post/centroid_post.py
  src/Mod/Path/PathScripts/post/dxf_post.py
  src/Mod/Path/PathScripts/post/nccad_post.py
  src/Mod/Path/PathScripts/post/uccnc_post.py
Labels: WB Path

#6874 #6871 Use the variable 'cam_file' instead of trying to read 'activeDocument'
  src/Mod/Path/PathScripts/post/nccad_post.py
Labels: WB Path

#6703 Path: Fix extensions updates and Default Length application [Bug]
  src/Mod/Path/PathScripts/PathFeatureExtensionsGui.py
  src/Mod/Path/PathScripts/PathGui.py
Labels: WB Path

#6882 add Qt5 translation files
  src/Gui/Language/qt_pl.qm
  src/Gui/Language/qtbase_pl.qm
  src/Gui/Language/qtmultimedia_pl.qm
Labels: core

#6838 App: fix Origin getSubObject()
  src/App/Origin.cpp
Labels: core

#6883 PR#6882 Step 2 Update the qrc file list
  src/Gui/Language/translation.qrc
Labels: core

#6888 App: Fix Origin::extensionGetSubObject()
  src/App/Origin.cpp
Labels: core

#6895 [TestWB] fix source comment typo in `Gui/UnitTestImp.cpp`
  src/Mod/Test/Gui/UnitTestImp.cpp
Labels: WB Test

#6830 Import: fixes #5793: DXF export (Autodesk DXF 2D type) doesn't add an…
  src/Mod/Import/DxfPlate/header14.rub
Labels: File formats, Format: DXF

#6896 Mesh: fix pep8 related issues in Init.py
  src/Mod/Mesh/Init.py
Labels: code formating, WB Mesh

#6898 [TD]Fix handling of translated PropertyEnumeration
  src/Mod/TechDraw/Gui/TaskSectionView.cpp
Labels: WB TechDraw

#6887 fixes #6826. Simplifies logic for calculating helix stepovers
  src/Mod/Path/Generators/helix_generator.py
  src/Mod/Path/PathScripts/PathHelix.py
  src/Mod/Path/PathTests/TestPathHelixGenerator.py
Labels: WB Path

#6905 Gui: Fixed ProDark stylesheet Tableview widgets from being coloured by stylesheet spreadsheet colours
  src/Gui/Stylesheets/ProDark.qss
Labels: core

#6904 Draft: Fix grid update issue
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#6881 Spreadsheet: fix possible crash in SheetModel::setData
  src/Mod/Spreadsheet/Gui/SheetModel.cpp
  src/Mod/Spreadsheet/Gui/SheetModel.h
Labels: For 0.20, WB Spreadsheet

#6910 [TD]fix checkFit to use current scale
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/TechDrawTools/TDToolsMovers.py
Labels: WB TechDraw

#6917 PartDesign: Remove redundant comparision with null pointer
  src/Mod/PartDesign/Gui/TaskMultiTransformParameters.cpp
  src/Mod/PartDesign/Gui/ViewProviderMultiTransform.cpp
Labels: WB PartDesign, refactor, cpp

#6919 Base: Improve docstrings in AxisPy.xml
  src/Base/AxisPy.xml
Labels: core, documentation

#6921 Base: Improve docstrings in PlacementPy.xml
  src/Base/PlacementPy.xml
Labels: core

#6926 buttonClicked(int id) is deprecated since Qt 5.15. Use idClicked(int id) instead.
  src/Gui/DlgSettingsColorGradientImp.cpp
Labels: core, refactor, cpp

#6929 Base: Improve docstrings in RotationPy.xml
  src/Base/PlacementPy.xml
  src/Base/RotationPy.xml
Labels: core

#6934 [TD]prevent spurious recompute on click/drag
  src/Mod/TechDraw/App/DrawProjGroupItem.cpp
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIView.h
Labels: WB TechDraw

#6923 Gui: fix visibility of front nodes when moving an object to Part cont…
  src/Gui/Document.cpp
  src/Gui/ViewProviderGeoFeatureGroupExtension.cpp
  src/Gui/ViewProviderGeoFeatureGroupExtension.h
Labels: core

#6927 Gui: fix number display issue of color bar
  src/Gui/SoFCColorBar.cpp
  src/Gui/SoFCColorBar.h
  src/Gui/SoFCColorGradient.cpp
  src/Gui/SoFCColorLegend.cpp
Labels: core, color(s)

#6936 Part: Fix Chamfer parameter and Fillet parameter title. Also rename v…
  src/Mod/Part/Gui/DlgFilletEdges.cpp
  src/Mod/Part/Gui/DlgFilletEdges.ui
Labels: L10N, WB Part

#6899 Draft: fix issues with grid spacing parameter
  src/Mod/Draft/Resources/ui/TaskSelectPlane.ui
  src/Mod/Draft/draftguitools/gui_selectplane.py
  src/Mod/Draft/draftguitools/gui_trackers.py
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#6937 [TD] Fix redefine text in .ui (that has translation on crowdin) with …
  src/Mod/TechDraw/Gui/TaskDetail.cpp
Labels: WB TechDraw

#6915 App: CLI -t flag list all available unit tests
  src/App/Application.cpp
  src/Mod/Test/TestApp.py
Labels: core, WB Test

#6941 Part: Change contex from AttachmentEditor to Part_EditAttachment
  src/Mod/Part/AttachmentEditor/Commands.py
  src/Mod/Part/Gui/Workbench.cpp
Labels: WB Part

#6938 [Mesh] Add ability to translate
  src/Mod/Mesh/Gui/Workbench.cpp
Labels: L10N, WB Mesh

#6944 Base: Fix bad parse argument in AxisPyImp.cpp
  src/Base/AxisPyImp.cpp
Labels: core
