Repository FreeCAD/FreeCAD, pull requests merged in 2022-04, with the labels that each got.

#6695 [GUI] fix color gradient dialog
  src/Gui/DlgSettingsColorGradient.ui
  src/Gui/DlgSettingsColorGradientImp.cpp
  src/Gui/DlgSettingsColorGradientImp.h
  src/Gui/SoFCColorGradient.cpp
Labels: core

#6696 Path: Correct method name spelling error in Boundary Dressup [Bug]
  src/Mod/Path/PathScripts/PathDressupPathBoundary.py
Labels: WB Path

#6701 Path: Correct PocketLastStepOver name in PathPocketBase [Bug]
  src/Mod/Path/PathScripts/PathPocketBase.py
Labels: WB Path

#6601 [Macros] change text of Addons... button to Download to help new people
  src/Gui/DlgMacroExecute.ui
Labels: core

#6705 [Path] fix index error with PocketMode
  src/Mod/Path/PathScripts/PathPocketBase.py
Labels: WB Path

#6708 [Part] Fixes #6559 Helix Default Segment Length to 0.0
  src/Mod/Part/App/PrimitiveFeature.cpp
Labels: WB Part

#6712 [PATH] - bugfix/Removed debugging globals
  src/Mod/Path/PathScripts/PathDressupHoldingTags.py
  src/Mod/Path/PathScripts/PathGeom.py
  src/Mod/Path/PathScripts/PathPropertyBagGui.py
  src/Mod/Path/PathScripts/PathVcarve.py
Labels: WB Path

#6713 Part: CheckGeometry handle non-ascii characters in object names when …
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
Labels: WB Part

#6686 Gui: if expression is emptied, pressing Enter discards expression
  src/Gui/DlgExpressionInput.cpp
Labels: core

#6718 Sketcher: restore constraint filter if Multiple dialog is canceled
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
Labels: WB Sketcher

#6722 [TD]fix artifact in PDF export
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
Labels: WB TechDraw

#6724 Sketcher: Replace Line with LineSegment
  src/Mod/Sketcher/SketcherExample.py
Labels: WB Sketcher

#6478 Part: Improve support for Links
  src/Mod/Part/App/FeatureOffset.cpp
  src/Mod/Part/App/PartFeatures.cpp
  src/Mod/Part/BasicShapes/ShapeContent.py
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/CrossSections.cpp
  src/Mod/Part/Gui/DlgExtrusion.cpp
  src/Mod/Part/Gui/DlgRevolution.cpp
  src/Mod/Part/Gui/Mirroring.cpp
  src/Mod/Part/Gui/TaskLoft.cpp
  src/Mod/Part/Gui/TaskSweep.cpp
Labels: WB Part

#6721 Draft: Make ShapeString editable by double-click - fixes #5885
  src/Mod/Draft/CMakeLists.txt
  src/Mod/Draft/Draft.py
  src/Mod/Draft/draftguitools/gui_shapestrings.py
  src/Mod/Draft/draftmake/make_shapestring.py
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
  src/Mod/Draft/draftviewproviders/view_facebinder.py
  src/Mod/Draft/draftviewproviders/view_shapestring.py
Labels: WB Draft

#6729 Part: Enable reversed method in Python TopoShape class
  src/Mod/Part/App/TopoShapePy.xml
Labels: WB Part

#6710 App/Gui: fix property link editor
  src/App/PropertyLinks.cpp
  src/App/PropertyLinks.h
  src/Gui/DlgPropertyLink.cpp
Labels: Bug, core

#6730 Part: fix typo in App/BRepOffsetAPI_MakeOffsetFix.h [skip ci]
  src/Mod/Part/App/BRepOffsetAPI_MakeOffsetFix.h
Labels: WB Part

#6728 Draft: Fix WorkingPlane setup in automatic mode - fixes #6060
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#6723 AddonManager: Add gmsh-dev to ALLOWED_PYTHON_PACKAGES
  src/Mod/AddonManager/ALLOWED_PYTHON_PACKAGES.txt
Labels: Addon Manager

#6737 [BUGFIX]Core: partially revert 4ab37fc that introduced composed units
  src/App/ExpressionParser.l
  src/App/lex.ExpressionParser.c
  src/Base/QuantityLexer.c
  src/Base/QuantityParser.l
Labels: core

#6751 Gui: add parameter switch to optionally stretch 'Description' column of Tree view
  src/Gui/Tree.cpp
  src/Gui/Tree.h
Labels: core

#6754 Fem: scale imported vtk data set
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.h
  src/Mod/Fem/femsolver/elmer/tasks.py
Labels: For 0.20, WB FEM

#6755 Part: reversed -- fix so it works with App::Links and App::Parts
  src/Mod/Part/App/PartFeatures.cpp
  src/Mod/Part/Gui/Command.cpp
Labels: WB Part

#6742 Part: ruled surface, address issue with link support where link was t…
  src/Mod/Part/App/PartFeatures.cpp
Labels: :mag_right: awaiting review, WB Part

#6743 Part: CheckGeometry -- address issues with using original shape when …
  src/Mod/Part/BasicShapes/ShapeContent.py
Labels: WB Part

#6740 Part: Cross-section, fix issue with using Links that have been scaled…
  src/Mod/Part/Gui/CrossSections.cpp
Labels: WB Part

#6726 [Path] Fixes #6275 Output for multiple TCs with same ToolNumber
  src/Mod/Path/Generators/toolchange_generator.py
  src/Mod/Path/PathScripts/PathGui.py
  src/Mod/Path/PathScripts/PathPost.py
  src/Mod/Path/PathTests/TestPathPost.py
  src/Mod/Path/PathTests/boxtest.fcstd
  src/Mod/Path/TestPathApp.py
Labels: WB Path

#6758 [PD] Delete "Overlap" property for `FeatureTransformed`
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/App/FeatureTransformed.h
Labels: WB PartDesign

#6777 Draft: Fix Angle Lock
  src/Mod/Draft/DraftGui.py
Labels: WB Draft

#6749 Draft: Fix orientWP method used by in Draft_Line command
  src/Mod/Draft/WorkingPlane.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#6781 [TD]fix GeomHatch change file name
  src/Mod/TechDraw/App/DrawGeomHatch.cpp
  src/Mod/TechDraw/App/HatchLine.cpp
  src/Mod/TechDraw/Gui/TaskGeomHatch.cpp
Labels: WB TechDraw

#6782 Reduce debug log output
  src/Gui/Tree.cpp
  src/Mod/Spreadsheet/App/Sheet.cpp
Labels: core, WB Spreadsheet

#6771 Part: Add functions to replace indentical code structure in TopoShapePyImp.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
Labels: WB Part

#6738 [PD] Do both fuse and cut in `FeatureTransformed` if applicable
  src/Mod/PartDesign/App/FeatureTransformed.cpp
Labels: WB PartDesign

#6785 [TD]Fix ExtendShorten handling of Center Lines
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/Cosmetic.h
  src/Mod/TechDraw/App/CosmeticExtension.cpp
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
Labels: WB TechDraw

#6788 Draft: Restore DontUseNativeDialog after ShapeString edit
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
Labels: WB Draft

#6787 App: fix property conflict in App::Link restore
  src/App/PropertyContainer.cpp
Labels: core

#6789 Path: Update translated message syntax - InitGui module
  src/Mod/Path/InitGui.py
Labels: WB Path

#6791 Addon Manager: Fetch allowed py packages from Github repo
  src/Mod/AddonManager/AddonManager.py
Labels: Addon Manager

#6792 Part: Use regex to match names in ViewProviderPartExt::getDetail
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: WB Part

#6795 Path: Added a missing "continue" to PathPost.py.
  src/Mod/Path/PathScripts/PathPost.py
Labels: WB Path
