Repository FreeCAD/FreeCAD, pull requests merged in 2022-12, with the labels that each got.

#7920 OpenSCAD: remove indentations from test_importCSG.py
  src/Mod/OpenSCAD/OpenSCADTest/app/test_importCSG.py
Labels: WB OpenSCAD

#7921 fix typo: 'instead if' -> 'instead of'
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_af.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_ar.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_bg.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_ca.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_cs.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_de.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_el.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_es-AR.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_es-ES.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_eu.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_fi.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_fil.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_fr.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_gl.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_hr.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_hu.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_id.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_it.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_ja.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_ka.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_kab.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_ko.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_lt.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_nl.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_no.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_pl.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_pt-BR.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_pt-PT.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_ro.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_ru.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_sk.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_sl.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_sr.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_sv-SE.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_tr.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_uk.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_val-ES.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_vi.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_zh-CN.ts
  src/Mod/TechDraw/Gui/Resources/translations/TechDraw_zh-TW.ts
  src/Mod/TechDraw/Gui/TaskDimension.ui
Labels: WB TechDraw

#7916 QString.midRef is removed in Qt6
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
Labels: WB TechDraw

#7922 Arch: Fix Arch_Space text position
  src/Mod/Arch/ArchSpace.py
Labels: WB Arch

#7901 GUI: fix invalid unicode
  src/Gui/TreeItemMode.h
Labels: Core

#7915 Gui: QListSpecialMethodsBase<T>::indexOf returns qsizetype
  src/Gui/UserSettings.cpp
Labels: Core

#7907 Arch: Fix missing Windows in Arch Reference of BuildingPart
  src/Mod/Arch/ArchBuildingPart.py
Labels: WB Arch

#7688 [fixes #5965] CarbonCopy: if existing use constraint name in expressions
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#7929 Gui: fix trailing whitespace
  src/Gui/3Dconnexion/GuiNativeEventLinuxX11.cpp
  src/Gui/3Dconnexion/GuiNativeEventWin32.cpp
  src/Gui/AxisOriginPy.xml
  src/Gui/DAGView/DAGFilter.cpp
  src/Gui/DAGView/DAGFilter.h
  src/Gui/DAGView/DAGModel.cpp
  src/Gui/DAGView/DAGModel.h
  src/Gui/DAGView/DAGModelGraph.cpp
  src/Gui/DAGView/DAGModelGraph.h
  src/Gui/DAGView/DAGRectItem.cpp
  src/Gui/DAGView/DAGView.cpp
  src/Gui/DlgCreateNewPreferencePackImp.cpp
  src/Gui/DlgCreateNewPreferencePackImp.h
  src/Gui/DlgObjectSelection.cpp
  src/Gui/DlgObjectSelection.h
  src/Gui/DlgPreferencePackManagementImp.cpp
  src/Gui/DlgPreferencePackManagementImp.h
  src/Gui/DlgRevertToBackupConfigImp.cpp
  src/Gui/DlgSettings3DView.ui
  src/Gui/DlgSettingsLazyLoadedImp.cpp
  src/Gui/ExpressionCompleter.cpp
  src/Gui/ExpressionCompleter.h
  src/Gui/Inventor/SoAutoZoomTranslation.cpp
  src/Gui/LinkViewPy.xml
  src/Gui/PreferencePackManager.h
  src/Gui/PreferencePackTemplates/Arch_Colors.cfg
  src/Gui/PreferencePackTemplates/Console_Colors.cfg
  src/Gui/PreferencePackTemplates/Draft_Colors.cfg
  src/Gui/PreferencePackTemplates/Editor_Colors.cfg
  src/Gui/PreferencePackTemplates/Editor_Font.cfg
  src/Gui/PreferencePackTemplates/Part_Colors.cfg
  src/Gui/PreferencePackTemplates/Path_Colors.cfg
  src/Gui/PreferencePackTemplates/Sketcher_Colors.cfg
  src/Gui/PreferencePackTemplates/Start_Colors.cfg
  src/Gui/PreferencePackTemplates/TechDraw_Colors.cfg
  src/Gui/PreferencePackTemplates/Window_Colors.cfg
  src/Gui/QuantitySpinBox_p.h
  src/Gui/Stylesheets/Behave-dark.qss
  src/Gui/Stylesheets/Dark-contrast.qss
  src/Gui/Stylesheets/ProDark.qss
  src/Gui/ViewProviderLink.cpp
  src/Gui/ViewProviderLinkPy.xml
  src/Gui/ViewProviderPart.cpp
  src/Gui/ViewProviderPart.h
Labels: Core

#7930 App: fix trailing whitespace
  src/App/CMakeLists.txt
  src/App/GeoFeatureGroupExtension.cpp
  src/App/GeoFeatureGroupExtension.h
  src/App/GeoFeatureGroupExtensionPy.xml
  src/App/GeoFeaturePy.xml
  src/App/GeoFeaturePyImp.cpp
  src/App/LinkBaseExtensionPy.xml
  src/App/MetadataPyImp.cpp
  src/App/ObjectIdentifier.cpp
  src/App/PartPy.xml
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyExpressionEngine.h
  src/App/Range.h
Labels: Core

#7928 [Spreadsheet] fix header uniformity
  src/Mod/Spreadsheet/App/AppSpreadsheet.cpp
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.cpp
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.h
Labels: WB Spreadsheet

#7932 [CrashFix]Sketcher: prevent crash at FC closure when edit control panel is disabled
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.cpp
Labels: WB Sketcher

#7934 [TD]allow rotation/shift of hatch patterns
  src/Mod/TechDraw/App/DrawGeomHatch.cpp
  src/Mod/TechDraw/App/DrawGeomHatch.h
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/DrawViewSection.h
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIFace.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewSection.cpp
  src/Mod/TechDraw/Gui/TaskGeomHatch.cpp
  src/Mod/TechDraw/Gui/TaskGeomHatch.h
  src/Mod/TechDraw/Gui/TaskGeomHatch.ui
  src/Mod/TechDraw/Gui/TaskHatch.cpp
  src/Mod/TechDraw/Gui/TaskHatch.h
  src/Mod/TechDraw/Gui/TaskHatch.ui
  src/Mod/TechDraw/Gui/ViewProviderHatch.cpp
  src/Mod/TechDraw/Gui/ViewProviderHatch.h
  src/Mod/TechDraw/Gui/ViewProviderViewSection.cpp
Labels: WB TechDraw

#7935 Path: remove leftover .zip archive in PathSimulator directory
  src/Mod/Path/PathSimulator/Gui/Gui Backup - no need.zip
Labels: WB Path

#7937 [TD] QGIW* - QGT:remove unused includes
  src/Mod/TechDraw/Gui/QGIWeldSymbol.cpp
  src/Mod/TechDraw/Gui/QGMText.cpp
  src/Mod/TechDraw/Gui/QGMText.h
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/QGSPage.h
  src/Mod/TechDraw/Gui/QGTracker.cpp
Labels: WB TechDraw

#7938 [TD] QGC* - QGE:remove unused includes
  src/Mod/TechDraw/Gui/QGCustomBorder.cpp
  src/Mod/TechDraw/Gui/QGCustomClip.cpp
  src/Mod/TechDraw/Gui/QGCustomImage.cpp
  src/Mod/TechDraw/Gui/QGCustomImage.h
  src/Mod/TechDraw/Gui/QGCustomLabel.cpp
  src/Mod/TechDraw/Gui/QGCustomLabel.h
  src/Mod/TechDraw/Gui/QGCustomRect.cpp
  src/Mod/TechDraw/Gui/QGCustomSvg.cpp
  src/Mod/TechDraw/Gui/QGCustomText.cpp
  src/Mod/TechDraw/Gui/QGDisplayArea.cpp
  src/Mod/TechDraw/Gui/QGEPath.cpp
Labels: WB TechDraw

#7936 [TD] QGV*:remove unused includes
  src/Mod/TechDraw/Gui/QGVNavStyle.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleBlender.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleCAD.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleGesture.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleInventor.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleMaya.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleOCC.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleOpenSCAD.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleRevit.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleTinkerCAD.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleTouchpad.cpp
  src/Mod/TechDraw/Gui/QGVPage.cpp
Labels: WB TechDraw

#7939 [TD] QGIA - QGIH:remove unused includes
  src/Mod/TechDraw/Gui/QGIArrow.cpp
  src/Mod/TechDraw/Gui/QGICMark.cpp
  src/Mod/TechDraw/Gui/QGICaption.cpp
  src/Mod/TechDraw/Gui/QGICenterLine.cpp
  src/Mod/TechDraw/Gui/QGIDecoration.cpp
  src/Mod/TechDraw/Gui/QGIDimLines.cpp
  src/Mod/TechDraw/Gui/QGIDrawingTemplate.cpp
  src/Mod/TechDraw/Gui/QGIEdge.cpp
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIFace.h
  src/Mod/TechDraw/Gui/QGIGhostHighlight.cpp
  src/Mod/TechDraw/Gui/QGIHighlight.cpp
  src/Mod/TechDraw/Gui/QGIHighlight.h
Labels: WB TechDraw

#7940 [TD] QGIL - QGIVE:remove unused includes
  src/Mod/TechDraw/Gui/QGILeaderLine.cpp
  src/Mod/TechDraw/Gui/QGILeaderLine.h
  src/Mod/TechDraw/Gui/QGIMatting.cpp
  src/Mod/TechDraw/Gui/QGIMatting.h
  src/Mod/TechDraw/Gui/QGIPrimPath.cpp
  src/Mod/TechDraw/Gui/QGIProjGroup.cpp
  src/Mod/TechDraw/Gui/QGIProjGroup.h
  src/Mod/TechDraw/Gui/QGIRichAnno.cpp
  src/Mod/TechDraw/Gui/QGIRichAnno.h
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
  src/Mod/TechDraw/Gui/QGISVGTemplate.h
  src/Mod/TechDraw/Gui/QGISectionLine.cpp
  src/Mod/TechDraw/Gui/QGISectionLine.h
  src/Mod/TechDraw/Gui/QGITemplate.cpp
  src/Mod/TechDraw/Gui/QGITile.cpp
  src/Mod/TechDraw/Gui/QGIVertex.cpp
Labels: WB TechDraw

#7941 [TD] QGIView*: remove unused includes
  src/Mod/TechDraw/Gui/PreCompiled.h
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIViewAnnotation.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.h
  src/Mod/TechDraw/Gui/QGIViewClip.cpp
  src/Mod/TechDraw/Gui/QGIViewCollection.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewImage.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.h
  src/Mod/TechDraw/Gui/QGIViewSection.cpp
  src/Mod/TechDraw/Gui/QGIViewSpreadsheet.cpp
  src/Mod/TechDraw/Gui/QGIViewSymbol.cpp
Labels: WB TechDraw

#7942 [Mesh] Gui: A-P: remove unused includes
  src/Mod/Mesh/Gui/AppMeshGui.cpp
  src/Mod/Mesh/Gui/Command.cpp
  src/Mod/Mesh/Gui/DlgDecimating.cpp
  src/Mod/Mesh/Gui/DlgEvaluateMeshImp.cpp
  src/Mod/Mesh/Gui/DlgEvaluateMeshImp.h
  src/Mod/Mesh/Gui/DlgEvaluateSettings.cpp
  src/Mod/Mesh/Gui/DlgRegularSolidImp.cpp
  src/Mod/Mesh/Gui/DlgSettingsImportExportImp.cpp
  src/Mod/Mesh/Gui/DlgSettingsImportExportImp.h
  src/Mod/Mesh/Gui/DlgSettingsMeshView.cpp
  src/Mod/Mesh/Gui/DlgSettingsMeshView.h
  src/Mod/Mesh/Gui/DlgSmoothing.cpp
  src/Mod/Mesh/Gui/MeshEditor.cpp
  src/Mod/Mesh/Gui/MeshEditor.h
  src/Mod/Mesh/Gui/MeshSelection.cpp
  src/Mod/Mesh/Gui/MeshSelection.h
  src/Mod/Mesh/Gui/PropertyEditorMesh.cpp
  src/Mod/Mesh/Gui/PropertyEditorMesh.h
Labels: WB Mesh

#7943 [PD] FeatureSketchBased.cpp: fix orthogonal check
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
Labels: WB PartDesign

#7944 [PD] Pad/pocket: fix wrong error message
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskPadParameters.cpp
  src/Mod/PartDesign/Gui/TaskPocketParameters.cpp
Labels: WB PartDesign

#7946 [Mesh] Gui: R-Se: remove unused includes
  src/Mod/Mesh/Gui/RemeshGmsh.cpp
  src/Mod/Mesh/Gui/RemeshGmsh.h
  src/Mod/Mesh/Gui/RemoveComponents.cpp
  src/Mod/Mesh/Gui/Segmentation.cpp
  src/Mod/Mesh/Gui/Segmentation.h
  src/Mod/Mesh/Gui/SegmentationBestFit.cpp
  src/Mod/Mesh/Gui/SegmentationBestFit.h
  src/Mod/Mesh/Gui/Selection.cpp
  src/Mod/Mesh/Gui/Selection.h
  src/Mod/Mesh/Gui/ThumbnailExtension.cpp
  src/Mod/Mesh/Gui/Workbench.cpp
  src/Mod/Mesh/Gui/Workbench.h
Labels: WB Mesh

#7947 [Mesh] Gui: So*: remove unused includes
  src/Mod/Mesh/Gui/SoFCIndexedFaceSet.cpp
  src/Mod/Mesh/Gui/SoFCIndexedFaceSet.h
  src/Mod/Mesh/Gui/SoFCMeshFaceSet.cpp
  src/Mod/Mesh/Gui/SoFCMeshFaceSet.h
  src/Mod/Mesh/Gui/SoFCMeshNode.cpp
  src/Mod/Mesh/Gui/SoFCMeshNode.h
  src/Mod/Mesh/Gui/SoFCMeshObject.cpp
  src/Mod/Mesh/Gui/SoFCMeshObject.h
  src/Mod/Mesh/Gui/SoFCMeshVertex.cpp
  src/Mod/Mesh/Gui/SoFCMeshVertex.h
  src/Mod/Mesh/Gui/SoPolygon.cpp
  src/Mod/Mesh/Gui/SoPolygon.h
Labels: WB Mesh

#7948 [Mesh] Gui: ViewProvider*: remove unused includes
  src/Mod/Mesh/Gui/PreCompiled.h
  src/Mod/Mesh/Gui/ViewProvider.cpp
  src/Mod/Mesh/Gui/ViewProvider.h
  src/Mod/Mesh/Gui/ViewProviderCurvature.cpp
  src/Mod/Mesh/Gui/ViewProviderCurvature.h
  src/Mod/Mesh/Gui/ViewProviderDefects.cpp
  src/Mod/Mesh/Gui/ViewProviderMeshFaceSet.cpp
  src/Mod/Mesh/Gui/ViewProviderMeshPyImp.cpp
  src/Mod/Mesh/Gui/ViewProviderTransform.cpp
  src/Mod/Mesh/Gui/ViewProviderTransform.h
  src/Mod/Mesh/Gui/ViewProviderTransformDemolding.cpp
  src/Mod/Mesh/Gui/ViewProviderTransformDemolding.h
Labels: WB Mesh

#7950 [Path] P-End: remove unused includes
  src/Mod/Path/App/Path.cpp
  src/Mod/Path/App/Path.h
  src/Mod/Path/App/PathPyImp.cpp
  src/Mod/Path/App/PathSegmentWalker.cpp
  src/Mod/Path/App/PathSegmentWalker.h
  src/Mod/Path/App/PropertyPath.cpp
  src/Mod/Path/App/PropertyPath.h
  src/Mod/Path/App/Voronoi.cpp
  src/Mod/Path/App/VoronoiCell.cpp
  src/Mod/Path/App/VoronoiCellPyImp.cpp
  src/Mod/Path/App/VoronoiEdge.cpp
  src/Mod/Path/App/VoronoiEdgePyImp.cpp
  src/Mod/Path/App/VoronoiPyImp.cpp
  src/Mod/Path/App/VoronoiVertex.cpp
  src/Mod/Path/App/VoronoiVertexPyImp.cpp
Labels: WB Path

#7954 [Path] Gui: remove unused includes
  src/Mod/Path/Gui/AppPathGui.cpp
  src/Mod/Path/Gui/AppPathGuiPy.cpp
  src/Mod/Path/Gui/Command.cpp
  src/Mod/Path/Gui/DlgProcessorChooser.cpp
  src/Mod/Path/Gui/DlgProcessorChooser.h
  src/Mod/Path/Gui/DlgSettingsPathColor.cpp
  src/Mod/Path/Gui/PreCompiled.h
  src/Mod/Path/Gui/TaskDlgPathCompound.cpp
  src/Mod/Path/Gui/TaskDlgPathCompound.h
  src/Mod/Path/Gui/ViewProviderArea.cpp
  src/Mod/Path/Gui/ViewProviderPath.cpp
  src/Mod/Path/Gui/ViewProviderPath.h
  src/Mod/Path/Gui/ViewProviderPathCompound.cpp
  src/Mod/Path/Gui/ViewProviderPathShape.cpp
Labels: WB Path

#7952 Base: Simplify Repetitious Code (2)
  src/Base/Parameter.cpp
Labels: Core

#7951 [Path] A-F: remove unused includes
  src/Mod/Path/App/AppPath.cpp
  src/Mod/Path/App/AppPathPy.cpp
  src/Mod/Path/App/Area.cpp
  src/Mod/Path/App/Area.h
  src/Mod/Path/App/AreaPyImp.cpp
  src/Mod/Path/App/Command.cpp
  src/Mod/Path/App/CommandPyImp.cpp
  src/Mod/Path/App/FeatureArea.cpp
  src/Mod/Path/App/FeatureArea.h
  src/Mod/Path/App/FeatureAreaPyImp.cpp
  src/Mod/Path/App/FeaturePath.cpp
  src/Mod/Path/App/FeaturePath.h
  src/Mod/Path/App/FeaturePathCompound.cpp
  src/Mod/Path/App/FeaturePathCompound.h
  src/Mod/Path/App/FeaturePathCompoundPyImp.cpp
  src/Mod/Path/App/FeaturePathShape.cpp
  src/Mod/Path/App/FeaturePathShape.h
  src/Mod/Path/App/PreCompiled.h
Labels: WB Path

#7949 [Mesh] remove unused file
  src/Mod/Mesh/Gui/SoFCMeshFaceSet.cpp
  src/Mod/Mesh/Gui/SoFCMeshFaceSet.h
  src/Mod/Mesh/Gui/SoFCMeshNode.cpp
  src/Mod/Mesh/Gui/SoFCMeshNode.h
  src/Mod/Mesh/Gui/SoFCMeshVertex.cpp
  src/Mod/Mesh/Gui/SoFCMeshVertex.h
  src/Mod/Mesh/Gui/ViewProviderMeshNode.cpp
  src/Mod/Mesh/Gui/ViewProviderMeshNode.h
Labels: WB Mesh

#7927 Arch: add BuildingPart unit test
  src/Mod/Arch/TestArch.py
Labels: WB Arch

#7971 [TD] Task*, part 1: remove unused includes
  src/Mod/TechDraw/Gui/DlgPageChooser.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotationImp.cpp
  src/Mod/TechDraw/Gui/DlgTemplateField.h
  src/Mod/TechDraw/Gui/PreCompiled.h
  src/Mod/TechDraw/Gui/TaskActiveView.cpp
  src/Mod/TechDraw/Gui/TaskActiveView.h
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
  src/Mod/TechDraw/Gui/TaskProjGroup.h
  src/Mod/TechDraw/Gui/TaskProjection.h
  src/Mod/TechDraw/Gui/TaskRichAnno.cpp
  src/Mod/TechDraw/Gui/TaskRichAnno.h
  src/Mod/TechDraw/Gui/TaskSectionView.cpp
  src/Mod/TechDraw/Gui/TaskSectionView.h
  src/Mod/TechDraw/Gui/TaskSelectLineAttributes.cpp
  src/Mod/TechDraw/Gui/TaskSelectLineAttributes.h
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.cpp
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.h
  src/Mod/TechDraw/Gui/TaskWeldingSymbol.cpp
  src/Mod/TechDraw/Gui/TaskWeldingSymbol.h
Labels: WB TechDraw

#7974 [Spread] remove unused includes from PreCompiled.h
  src/Mod/Spreadsheet/App/PreCompiled.h
  src/Mod/Spreadsheet/Gui/PreCompiled.h
Labels: WB Spreadsheet

#7975 [Points] improve PreCompiled.h handling
  src/Mod/Points/App/Points.cpp
  src/Mod/Points/App/PointsAlgos.cpp
  src/Mod/Points/App/PointsGrid.cpp
  src/Mod/Points/App/PointsPyImp.cpp
  src/Mod/Points/App/PreCompiled.h
  src/Mod/Points/Gui/DlgPointsReadImp.h
  src/Mod/Points/Gui/PreCompiled.h
  src/Mod/Points/Gui/ViewProvider.cpp
  src/Mod/Points/Gui/ViewProvider.h
Labels: WB Points

#7973 [TD] Task*, part 2/2: remove unused includes
  src/Mod/TechDraw/App/PreCompiled.h
  src/Mod/TechDraw/Gui/PreCompiled.h
  src/Mod/TechDraw/Gui/TaskBalloon.cpp
  src/Mod/TechDraw/Gui/TaskBalloon.h
  src/Mod/TechDraw/Gui/TaskCenterLine.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.h
  src/Mod/TechDraw/Gui/TaskComplexSection.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.h
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
  src/Mod/TechDraw/Gui/TaskCosVertex.h
  src/Mod/TechDraw/Gui/TaskCosmeticLine.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticLine.h
  src/Mod/TechDraw/Gui/TaskCustomizeFormat.cpp
  src/Mod/TechDraw/Gui/TaskCustomizeFormat.h
  src/Mod/TechDraw/Gui/TaskDetail.cpp
  src/Mod/TechDraw/Gui/TaskDetail.h
  src/Mod/TechDraw/Gui/TaskDimension.cpp
  src/Mod/TechDraw/Gui/TaskDimension.h
  src/Mod/TechDraw/Gui/TaskGeomHatch.cpp
  src/Mod/TechDraw/Gui/TaskGeomHatch.h
  src/Mod/TechDraw/Gui/TaskHatch.cpp
  src/Mod/TechDraw/Gui/TaskHatch.h
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
  src/Mod/TechDraw/Gui/TaskLeaderLine.h
  src/Mod/TechDraw/Gui/TaskLineDecor.cpp
  src/Mod/TechDraw/Gui/TaskLineDecor.h
  src/Mod/TechDraw/Gui/TaskLinkDim.cpp
  src/Mod/TechDraw/Gui/TaskLinkDim.h
  src/Mod/TechDraw/Gui/TaskProjection.cpp
  src/Mod/TechDraw/Gui/TaskProjection.h
Labels: WB TechDraw

#7977 [PD] improve PreCompiled.h handling
  src/Gui/QtAll.h
  src/Mod/Part/App/OpenCascadeAll.h
  src/Mod/PartDesign/App/PreCompiled.h
  src/Mod/PartDesign/Gui/PreCompiled.h
Labels: Core, WB PartDesign, WB Part

#7978 [Part] improve PreCompiled.h handling
  src/Mod/Part/App/HLRBRep/HLRBRep_AlgoPyImp.cpp
  src/Mod/Part/App/HLRBRep/HLRBRep_PolyAlgoPyImp.cpp
  src/Mod/Part/App/OpenCascadeAll.h
  src/Mod/Part/App/PreCompiled.h
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/Gui/PreCompiled.h
  src/Mod/Part/Gui/ReferenceHighlighter.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: WB Part

#7979 [MeshPart] improve PreCompiled.h handling
  src/Mod/MeshPart/App/MeshFlatteningBoostPython.cpp
  src/Mod/MeshPart/App/Mesher.cpp
  src/Mod/MeshPart/App/PreCompiled.cpp
  src/Mod/MeshPart/App/PreCompiled.h
  src/Mod/MeshPart/Gui/CurveOnMesh.cpp
  src/Mod/MeshPart/Gui/PreCompiled.cpp
  src/Mod/MeshPart/Gui/PreCompiled.h
Labels: WB MeshPart

#7980 [Surface] App:: remove unused includes
  src/Gui/InventorAll.h
  src/Mod/Part/App/OpenCascadeAll.h
  src/Mod/Surface/App/AppSurface.cpp
  src/Mod/Surface/App/FeatureCut.cpp
  src/Mod/Surface/App/FeatureCut.h
  src/Mod/Surface/App/FeatureExtend.cpp
  src/Mod/Surface/App/FeatureExtend.h
  src/Mod/Surface/App/FeatureFilling.cpp
  src/Mod/Surface/App/FeatureFilling.h
  src/Mod/Surface/App/FeatureGeomFillSurface.cpp
  src/Mod/Surface/App/FeatureGeomFillSurface.h
  src/Mod/Surface/App/FeatureSections.cpp
  src/Mod/Surface/App/FeatureSections.h
  src/Mod/Surface/App/FeatureSewing.cpp
  src/Mod/Surface/App/FeatureSewing.h
  src/Mod/Surface/App/PreCompiled.cpp
  src/Mod/Surface/App/PreCompiled.h
Labels: Core, WB Part

#7982 [Sketch] App: improve PreCompiled.h handling
  src/Mod/Part/App/OpenCascadeAll.h
  src/Mod/Sketcher/App/ExternalGeometryFacade.cpp
  src/Mod/Sketcher/App/GeometryFacade.cpp
  src/Mod/Sketcher/App/PreCompiled.h
  src/Mod/Sketcher/App/PythonConverter.cpp
Labels: WB Part, WB Sketcher

#7985 [MeshPart] enable precompiled headers
  src/Mod/MeshPart/App/CMakeLists.txt
  src/Mod/MeshPart/Gui/CMakeLists.txt
  src/Mod/MeshPart/Gui/CrossSections.cpp
  src/Mod/MeshPart/Gui/PreCompiled.h
Labels: WB MeshPart

#7986 [Points] enable precompiled headers
  src/Mod/Points/App/CMakeLists.txt
  src/Mod/Points/Gui/CMakeLists.txt
  src/Mod/Points/Gui/PreCompiled.h
Labels: WB Points

#7991 [Spread] fix compilation issues with qtcolorpicker.cpp
  src/Mod/Spreadsheet/Gui/qtcolorpicker.cpp
Labels: WB Spreadsheet

#8000 [PD] App: precompiled header fixes
  src/Mod/PartDesign/App/AppPartDesign.cpp
  src/Mod/PartDesign/App/AppPartDesignPy.cpp
  src/Mod/PartDesign/App/CMakeLists.txt
  src/Mod/PartDesign/App/PreCompiled.cpp
  src/Mod/PartDesign/__init__.py
Labels: WB PartDesign

#8002 Revert "[PD] App: precompiled header fixes"
  src/Mod/PartDesign/App/AppPartDesign.cpp
  src/Mod/PartDesign/App/AppPartDesignPy.cpp
  src/Mod/PartDesign/App/CMakeLists.txt
  src/Mod/PartDesign/App/PreCompiled.cpp
  src/Mod/PartDesign/__init__.py
Labels: WB PartDesign

#8001 [Mesh] App: remove unused/unnecessary headers
  src/Mod/Mesh/App/Core/Degeneration.h
  src/Mod/Mesh/App/PreCompiled.h
Labels: WB Mesh

#8003 [Mesh] Gui: enable precompiled header
  src/Gui/InventorAll.h
  src/Mod/Mesh/Gui/CMakeLists.txt
  src/Mod/Mesh/Gui/Doxygen.cpp
  src/Mod/Mesh/Gui/PreCompiled.cpp
  src/Mod/Mesh/Gui/PreCompiled.h
Labels: Core, WB Mesh

#8014 [Reverse Eng] App: enable precompiled headers
  src/Mod/ReverseEngineering/App/AppReverseEngineering.cpp
  src/Mod/ReverseEngineering/App/ApproxSurface.cpp
  src/Mod/ReverseEngineering/App/ApproxSurface.h
  src/Mod/ReverseEngineering/App/BSplineFitting.cpp
  src/Mod/ReverseEngineering/App/BSplineFitting.h
  src/Mod/ReverseEngineering/App/CMakeLists.txt
  src/Mod/ReverseEngineering/App/PreCompiled.cpp
  src/Mod/ReverseEngineering/App/PreCompiled.h
  src/Mod/ReverseEngineering/App/RegionGrowing.cpp
  src/Mod/ReverseEngineering/App/RegionGrowing.h
  src/Mod/ReverseEngineering/App/SampleConsensus.cpp
  src/Mod/ReverseEngineering/App/SampleConsensus.h
  src/Mod/ReverseEngineering/App/Segmentation.cpp
  src/Mod/ReverseEngineering/App/Segmentation.h
  src/Mod/ReverseEngineering/App/SurfaceTriangulation.cpp
  src/Mod/ReverseEngineering/App/SurfaceTriangulation.h
Labels: WB ReverseEngineering

#8015 [Reverse Eng] Gui: remove unused headers
  src/Mod/ReverseEngineering/Gui/AppReverseEngineeringGui.cpp
  src/Mod/ReverseEngineering/Gui/CMakeLists.txt
  src/Mod/ReverseEngineering/Gui/Command.cpp
  src/Mod/ReverseEngineering/Gui/FitBSplineSurface.cpp
  src/Mod/ReverseEngineering/Gui/FitBSplineSurface.h
  src/Mod/ReverseEngineering/Gui/Poisson.cpp
  src/Mod/ReverseEngineering/Gui/Poisson.h
  src/Mod/ReverseEngineering/Gui/PreCompiled.cpp
  src/Mod/ReverseEngineering/Gui/PreCompiled.h
  src/Mod/ReverseEngineering/Gui/Segmentation.cpp
  src/Mod/ReverseEngineering/Gui/Segmentation.h
  src/Mod/ReverseEngineering/Gui/SegmentationManual.cpp
  src/Mod/ReverseEngineering/Gui/SegmentationManual.h
  src/Mod/ReverseEngineering/Gui/Workbench.cpp
Labels: WB ReverseEngineering

#8017 [Sketch] App A - G: remove unused headers
  src/Mod/Sketcher/App/Analyse.h
  src/Mod/Sketcher/App/AppSketcher.cpp
  src/Mod/Sketcher/App/AppSketcherPy.cpp
  src/Mod/Sketcher/App/Constraint.cpp
  src/Mod/Sketcher/App/Constraint.h
  src/Mod/Sketcher/App/ConstraintPyImp.cpp
  src/Mod/Sketcher/App/ExternalGeometryExtension.cpp
  src/Mod/Sketcher/App/ExternalGeometryExtension.h
  src/Mod/Sketcher/App/ExternalGeometryExtensionPyImp.cpp
  src/Mod/Sketcher/App/ExternalGeometryFacade.cpp
  src/Mod/Sketcher/App/ExternalGeometryFacade.h
  src/Mod/Sketcher/App/ExternalGeometryFacadePyImp.cpp
  src/Mod/Sketcher/App/GeoList.cpp
  src/Mod/Sketcher/App/GeoList.h
  src/Mod/Sketcher/App/GeometryFacade.cpp
  src/Mod/Sketcher/App/GeometryFacade.h
  src/Mod/Sketcher/App/GeometryFacadePyImp.cpp
Labels: WB Sketcher

#8020 [Sketch] App P - End: remove unused headers
  src/Mod/Sketcher/App/PreCompiled.h
  src/Mod/Sketcher/App/PropertyConstraintList.cpp
  src/Mod/Sketcher/App/PropertyConstraintList.h
  src/Mod/Sketcher/App/PythonConverter.cpp
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/Sketch.h
  src/Mod/Sketcher/App/SketchAnalysis.cpp
  src/Mod/Sketcher/App/SketchAnalysis.h
  src/Mod/Sketcher/App/SketchGeometryExtension.cpp
  src/Mod/Sketcher/App/SketchGeometryExtension.h
  src/Mod/Sketcher/App/SketchGeometryExtensionPyImp.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
  src/Mod/Sketcher/App/SketchObjectSF.cpp
  src/Mod/Sketcher/App/SketchObjectSF.h
  src/Mod/Sketcher/App/SketchObjectSFPyImp.cpp
  src/Mod/Sketcher/App/SketchPyImp.cpp
  src/Mod/Sketcher/App/SolverGeometryExtension.cpp
  src/Mod/Sketcher/App/SolverGeometryExtension.h
Labels: WB Sketcher

#8022 [Sketch] Gui: A - D: remove unused headers
  src/Mod/Sketcher/Gui/AppSketcherGui.cpp
  src/Mod/Sketcher/Gui/Command.cpp
  src/Mod/Sketcher/Gui/CommandAlterGeometry.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/CommandSketcherVirtualSpace.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfHyperbola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfParabola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCarbonCopy.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExtend.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExternal.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerFillet.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLineSet.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPoint.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSplitting.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTrimming.h
Labels: WB Sketcher

#8023 [Sketch] Gui: improve precompiled headers
  src/Gui/InventorAll.h
  src/Gui/QtAll.h
  src/Mod/Sketcher/Gui/PreCompiled.cpp
  src/Mod/Sketcher/Gui/PreCompiled.h
Labels: Core, WB Sketcher

#8009 [TD]fix wrong error message on load
  src/Mod/TechDraw/App/DrawViewImage.cpp
  src/Mod/TechDraw/Gui/TaskActiveView.cpp
Labels: WB TechDraw

#8024 [Sketch] Gui: E - Short*: remove unused headers
  src/Mod/Sketcher/Gui/EditDatumDialog.h
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManager.h
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.h
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.h
  src/Mod/Sketcher/Gui/EditModeGeometryCoinConverter.cpp
  src/Mod/Sketcher/Gui/EditModeGeometryCoinConverter.h
  src/Mod/Sketcher/Gui/EditModeGeometryCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeGeometryCoinManager.h
  src/Mod/Sketcher/Gui/EditModeInformationOverlayCoinConverter.cpp
  src/Mod/Sketcher/Gui/EditModeInformationOverlayCoinConverter.h
  src/Mod/Sketcher/Gui/PropertyConstraintListItem.cpp
  src/Mod/Sketcher/Gui/PropertyConstraintListItem.h
  src/Mod/Sketcher/Gui/ShortcutListener.cpp
  src/Mod/Sketcher/Gui/ShortcutListener.h
  src/Mod/Sketcher/Gui/ViewProviderSketchCoinAttorney.h
Labels: WB Sketcher

#8028 TopoNaming: fix lost of element reference tracking on undo/redo
  src/App/PropertyLinks.cpp
Labels: Core

#8027 Fix bug #7563 where menus and tooltips are not visible in fullscreen mode on windows systems.
  src/Gui/MainWindow.cpp
Labels: Core

#8026 [PD] enable padding to touching planes
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
Labels: WB PartDesign

#8031 [Sketch] Gui: Sketch - So: remove unused headers
  src/Mod/Sketcher/Gui/SketchMirrorDialog.cpp
  src/Mod/Sketcher/Gui/SketchMirrorDialog.h
  src/Mod/Sketcher/Gui/SketchOrientationDialog.cpp
  src/Mod/Sketcher/Gui/SketchOrientationDialog.h
  src/Mod/Sketcher/Gui/SketchRectangularArrayDialog.cpp
  src/Mod/Sketcher/Gui/SketchRectangularArrayDialog.h
  src/Mod/Sketcher/Gui/SketcherRegularPolygonDialog.cpp
  src/Mod/Sketcher/Gui/SketcherRegularPolygonDialog.h
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.h
  src/Mod/Sketcher/Gui/SoDatumLabel.cpp
  src/Mod/Sketcher/Gui/SoDatumLabel.h
  src/Mod/Sketcher/Gui/SoZoomTranslation.cpp
  src/Mod/Sketcher/Gui/SoZoomTranslation.h
Labels: WB Sketcher

#8032 [Sketch] Gui: U - End: remove unused headers
  src/Base/Tools2D.h
  src/Mod/Sketcher/Gui/PreCompiled.h
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Sketcher/Gui/Utils.h
  src/Mod/Sketcher/Gui/ViewProviderPython.cpp
  src/Mod/Sketcher/Gui/ViewProviderPython.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
  src/Mod/Sketcher/Gui/ViewProviderSketchCoinAttorney.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketchCoinAttorney.h
  src/Mod/Sketcher/Gui/ViewProviderSketchGeometryExtension.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketchGeometryExtension.h
  src/Mod/Sketcher/Gui/Workbench.cpp
  src/Mod/Sketcher/Gui/Workbench.h
Labels: Core, WB Sketcher

#8025 remove some unnecessary Boolean checks
  src/Gui/CommandView.cpp
  src/Gui/QuantitySpinBox.cpp
  src/Gui/propertyeditor/PropertyModel.cpp
  src/Mod/Drawing/App/FeatureViewSpreadsheet.cpp
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
Labels: Core, WB Part, WB Sketcher

#8035 [Sketch] Gui:Task*: remove unused headers
  src/Mod/Sketcher/Gui/PreCompiled.h
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.cpp
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.h
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.h
  src/Mod/Sketcher/Gui/TaskSketcherCreateCommands.cpp
  src/Mod/Sketcher/Gui/TaskSketcherCreateCommands.h
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.h
  src/Mod/Sketcher/Gui/TaskSketcherGeneral.cpp
  src/Mod/Sketcher/Gui/TaskSketcherGeneral.h
  src/Mod/Sketcher/Gui/TaskSketcherMessages.cpp
  src/Mod/Sketcher/Gui/TaskSketcherMessages.h
  src/Mod/Sketcher/Gui/TaskSketcherSolverAdvanced.cpp
  src/Mod/Sketcher/Gui/TaskSketcherSolverAdvanced.h
  src/Mod/Sketcher/Gui/TaskSketcherValidation.cpp
  src/Mod/Sketcher/Gui/TaskSketcherValidation.h
Labels: WB Sketcher

#8036 [Draft] : remove unused headers
  src/Mod/Draft/App/AppDraftUtils.cpp
  src/Mod/Draft/App/AppDraftUtilsPy.cpp
  src/Mod/Draft/App/PreCompiled.cpp
  src/Mod/Draft/App/PreCompiled.h
Labels: WB Draft

#8038 [Start] Gui: enable precompiled headers
  src/Mod/Points/Gui/CMakeLists.txt
  src/Mod/Start/App/CMakeLists.txt
  src/Mod/Start/App/PreCompiled.cpp
  src/Mod/Start/Gui/CMakeLists.txt
  src/Mod/Start/Gui/PreCompiled.cpp
  src/Mod/Start/Gui/Workbench.cpp
Labels: WB Points

#8039 [Test] enable precompiled headers
  src/Mod/Test/Gui/AppTestGui.cpp
  src/Mod/Test/Gui/CMakeLists.txt
  src/Mod/Test/Gui/PreCompiled.cpp
  src/Mod/Test/Gui/PreCompiled.h
  src/Mod/Test/Gui/UnitTestImp.cpp
  src/Mod/Test/Gui/UnitTestPy.cpp
Labels: WB Test

#8043 [Path] Gui: remove unused files from PreCompiled.h
  src/Mod/Path/Gui/AppPathGuiPy.cpp
  src/Mod/Path/Gui/DlgProcessorChooser.cpp
  src/Mod/Path/Gui/PreCompiled.h
Labels: WB Path

#8042 [Path] App: remove unused files from PreCompiled.h
  src/Mod/Path/App/CMakeLists.txt
  src/Mod/Path/App/PreCompiled.h
Labels: WB Path

#8045 [GUI] Add missing include
  src/Gui/Language/Translator.h
Labels: Core

#7969 Draft: fix make_sketch bugs
  src/Mod/Draft/draftgeoutils/general.py
  src/Mod/Draft/draftmake/make_sketch.py
Labels: WB Draft

#8047 Draft: fix move AngularDimension bug
  src/Mod/Draft/draftfunctions/move.py
Labels: WB Draft

#8050 [TD]remove problematic boost check for planarity
  src/Mod/TechDraw/App/EdgeWalker.cpp
Labels: WB TechDraw

#8012 Path: Fixed regression in import statement.
  src/Mod/Path/Path/Main/Gui/PreferencesJob.py
Labels: WB Path

#8057 Addon Manager: Update to Python 3.8
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/NetworkManager.py
  src/Mod/AddonManager/addonmanager_devmode.py
  src/Mod/AddonManager/addonmanager_devmode_predictor.py
  src/Mod/AddonManager/addonmanager_installer.py
  src/Mod/AddonManager/addonmanager_macro.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
Labels: Addon Manager

#8058 Addon Manager: Tweak API
  src/Mod/AddonManager/AddonManagerTest/app/test_installer.py
  src/Mod/AddonManager/addonmanager_installer.py
Labels: Addon Manager

#8052 Draft: Draft_SetStyle wrongly handled LineSpacing as an int
  src/Mod/Draft/Resources/ui/TaskPanel_SetStyle.ui
  src/Mod/Draft/draftguitools/gui_setstyle.py
Labels: WB Draft

#8048 Gui: Added FreeTurntable orbit style
  src/Gui/DlgSettingsNavigation.ui
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Mod/Tux/NavigationIndicatorGui.py
Labels: Core

#6909 [Surface] Allow modal adding/removal of geometric entities
  src/Mod/Surface/Gui/TaskFilling.cpp
  src/Mod/Surface/Gui/TaskFilling.h
  src/Mod/Surface/Gui/TaskFilling.ui
  src/Mod/Surface/Gui/TaskFillingEdge.cpp
  src/Mod/Surface/Gui/TaskFillingEdge.h
  src/Mod/Surface/Gui/TaskFillingEdge.ui
  src/Mod/Surface/Gui/TaskFillingVertex.cpp
  src/Mod/Surface/Gui/TaskFillingVertex.h
  src/Mod/Surface/Gui/TaskFillingVertex.ui
  src/Mod/Surface/Gui/TaskGeomFillSurface.cpp
  src/Mod/Surface/Gui/TaskGeomFillSurface.h
  src/Mod/Surface/Gui/TaskGeomFillSurface.ui
  src/Mod/Surface/Gui/TaskSections.cpp
  src/Mod/Surface/Gui/TaskSections.h
  src/Mod/Surface/Gui/TaskSections.ui
Labels: Feature, WB Surface

#8063 Fixes #7834 Removes deprecated py2.7 try/except block
  src/Mod/Path/Path/Post/Processor.py
Labels: WB Path

#8066 Addon Manager: Fix test language dependency
  src/Mod/AddonManager/AddonManagerTest/gui/gui_mocks.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_installer_gui.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_uninstaller_gui.py
Labels: Addon Manager

#8068 [TD]fix expression in Scale fails to propagate
  src/Mod/TechDraw/App/DrawView.cpp
Labels: WB TechDraw

#8070 Solver: Pass map by const reference to avoid performance penalty
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.h
Labels: WB Sketcher

#7970 Draft: improve context menus
  src/Mod/Draft/draftviewproviders/view_base.py
  src/Mod/Draft/draftviewproviders/view_bezcurve.py
  src/Mod/Draft/draftviewproviders/view_bspline.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
  src/Mod/Draft/draftviewproviders/view_draft_annotation.py
  src/Mod/Draft/draftviewproviders/view_fillet.py
  src/Mod/Draft/draftviewproviders/view_hatch.py
  src/Mod/Draft/draftviewproviders/view_label.py
  src/Mod/Draft/draftviewproviders/view_layer.py
  src/Mod/Draft/draftviewproviders/view_shapestring.py
  src/Mod/Draft/draftviewproviders/view_text.py
  src/Mod/Draft/draftviewproviders/view_wire.py
Labels: WB Draft, UI/UX, Awaiting feedback

#8080 MeshPart: Fix translation issues
  src/Mod/MeshPart/Gui/MeshFlatteningCommand.py
Labels: WB MeshPart

#8083 [Sketcher] Fix typo
  src/Mod/Sketcher/App/GeometryFacade.h
Labels: WB Sketcher

#8089 [TD]Fix startup exception on empty compound
  src/Mod/TechDraw/App/DrawViewPart.cpp
Labels: WB TechDraw

#8090 DRAFT: Make "draftify" type upgrades return the new object
  src/Mod/Draft/draftfunctions/upgrade.py
Labels: WB Draft

#8097 [TD]add extensions for drag and drop
  src/Mod/TechDraw/App/DrawPage.cpp
  src/Mod/TechDraw/App/DrawPage.h
  src/Mod/TechDraw/Gui/AppTechDrawGui.cpp
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.h
  src/Mod/TechDraw/Gui/ViewProviderDrawingViewExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingViewExtension.h
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.h
  src/Mod/TechDraw/Gui/ViewProviderPageExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderPageExtension.h
  src/Mod/TechDraw/Gui/ViewProviderTemplate.cpp
  src/Mod/TechDraw/Gui/ViewProviderTemplate.h
  src/Mod/TechDraw/Gui/ViewProviderTemplateExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderTemplateExtension.h
Labels: WB TechDraw

#8092 FEM: femmesh: fix AttributeError: module 'numpy' has no attribute 'int'
  src/Mod/Fem/femmesh/meshtools.py
Labels: WB FEM

#8094 [TD]make detail highlight interactive #7823 #6016
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/Gui/QGIDecoration.cpp
  src/Mod/TechDraw/Gui/QGIDecoration.h
  src/Mod/TechDraw/Gui/QGIHighlight.cpp
  src/Mod/TechDraw/Gui/QGIHighlight.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.h
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
Labels: WB TechDraw

#8101 Draft: update inspect.getargspec to inspect.getfullargspec
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: WB Draft

#8088 [Path] bugfix/8087-dont-load-project-files-unless-tests-are-run fixes #8087
  src/Mod/Path/PathTests/TestPathAdaptive.py
  src/Mod/Path/PathTests/TestPathOpUtil.py
  src/Mod/Path/PathTests/TestPathPost.py
Labels: WB Path

#7962 path: dynapath delta 40-60 post processor add
  src/Mod/Path/Path/Post/scripts/dynapath_4060_post.py
Labels: WB Path, Feature, Awaiting feedback
