Repository FreeCAD/FreeCAD, pull requests merged in 2022-01, with the labels that each got.

#5296 [Part::CheckGeometry] add edwilliams16's code for some global propert…
  src/Mod/Part/BasicShapes/ShapeContent.py
  src/Mod/Part/CMakeLists.txt
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
Labels: 🧱 Part

#5317 Draft: fix several issues with importAirfoilDAT.py
  src/Mod/Draft/importAirfoilDAT.py
Labels: 📐 Draft

#5280 Draft: Commands acting on subelements did not load the Draft module
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
Labels: 📐 Draft

#5316 Fix MacBundle relocation
  src/MacAppBundle/CMakeLists.txt
Labels: packaging/building

#5283 [TD]prevent touched but must be execute on DrawPage
  src/Mod/TechDraw/App/DrawPage.cpp
  src/Mod/TechDraw/Gui/Command.cpp
Labels: ⚙ TechDraw

#5309 [TD]Allow selection of Page when adding View
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/DlgPageChooser.cpp
  src/Mod/TechDraw/Gui/DlgPageChooser.h
  src/Mod/TechDraw/Gui/DlgPageChooser.ui
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
Labels: ⚙ TechDraw

#5314 Github: Automatically run codespell on modified files in a pull request
  .github/codespellignore
  .github/workflows/codespell.yml
Labels: :octocat:

#5320 [PartDesign::Scripts::Spring.py] update old example script
  src/Mod/PartDesign/Scripts/Spring.py
Labels: 🚜 PartDesign

#5293 TechDraw: fix bugs for Add Cosmetic Vertex
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
Labels: ⚙ TechDraw

#5306 [PATH] fix #4810
  src/Mod/Path/PathScripts/PathSanity.py
Labels: 🛤️ Path

#5008 [Path] Fixes #4645
  src/Mod/Path/PathScripts/PathJob.py
  src/Mod/Path/PathScripts/PathJobGui.py
Labels: 🛤️ Path

#5325 Codespell: add rady to the ignorelist
  .github/codespellignore
Labels: :octocat:

#5322 [TechDraw] Use global DontUseNativeColorDialog parameter from BaseApp…
  src/Mod/TechDraw/Gui/mrichtextedit.cpp
Labels: ⚙ TechDraw

#5324 Path Translation cleanup part 2 [PATH]
  src/Mod/Path/Gui/Resources/panels/PageOpProfileFullEdit.ui
  src/Mod/Path/InitGui.py
  src/Mod/Path/PathCommands.py
  src/Mod/Path/PathScripts/PathArray.py
  src/Mod/Path/PathScripts/PathCollision.py
  src/Mod/Path/PathScripts/PathComment.py
  src/Mod/Path/PathScripts/PathCopy.py
  src/Mod/Path/PathScripts/PathCustom.py
  src/Mod/Path/PathScripts/PathCustomGui.py
  src/Mod/Path/PathScripts/PathDressupDragknife.py
  src/Mod/Path/PathScripts/PathFixture.py
  src/Mod/Path/PathScripts/PathGeom.py
  src/Mod/Path/PathScripts/PathHop.py
  src/Mod/Path/PathScripts/PathIconViewProvider.py
  src/Mod/Path/PathScripts/PathPlane.py
  src/Mod/Path/PathScripts/PathPropertyEditor.py
  src/Mod/Path/PathScripts/PathSanity.py
  src/Mod/Path/PathScripts/PathStock.py
  src/Mod/Path/PathScripts/PathStop.py
  src/Mod/Path/PathScripts/PathUtil.py
  src/Mod/Path/PathScripts/PathUtils.py
Labels: 🛤️ Path

#5331 [PATH] Bug/translation setupsheet
  src/Mod/Path/PathScripts/PathSetupSheet.py
  src/Mod/Path/PathScripts/PathSetupSheetGui.py
  src/Mod/Path/PathScripts/PathSetupSheetOpPrototypeGui.py
  src/Mod/Path/PathScripts/PathSimpleCopy.py
  src/Mod/Path/PathScripts/PathSimulatorGui.py
Labels: 🛤️ Path

#5330 [Path] Bug/translation post
  src/Mod/Path/PathScripts/PathPost.py
  src/Mod/Path/PathScripts/PostUtils.py
  src/Mod/Path/PathScripts/post/gcode_pre.py
  src/Mod/Path/PathScripts/post/grbl_post.py
  src/Mod/Path/PathScripts/post/marlin_post.py
Labels: 🛤️ Path

#5328 [PartDesign] Chamfer and Fillet, select all edges for the user when n…
  src/Mod/PartDesign/Gui/Command.cpp
Labels: 🚜 PartDesign

#5327 PD: Fix bug in FeatureTransformed
  src/Mod/PartDesign/App/FeatureTransformed.cpp
Labels: 🚜 PartDesign

#5326 [Spreadsheet] Use DontUseNativeColorDialog parameter when using QtCol…
  src/Mod/Spreadsheet/Gui/qtcolorpicker.cpp
Labels: Spreadsheet

#5335 [PD] get rid of a CI compiler warning
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
Labels: 🚜 PartDesign

#5292 Draft: change static to non-static declared variables
  src/Mod/Draft/draftguitools/gui_trackers.py
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
Labels: 📐 Draft

#5336 Path: Grbl_post: Allow controller-specific/non-standard gcode commands
  src/Mod/Path/PathScripts/post/grbl_post.py
Labels: 🛤️ Path

#5342 [PD] add missing hole constraint
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
Labels: 🚜 PartDesign

#5341 [PD] Hole: fix call of onChanged on restoration
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: 🚜 PartDesign

#5319 Path: Path array jitter random seed
  src/Mod/Path/PathScripts/PathArray.py
Labels: 🛤️ Path

#5310 Draft: make Draft_Snap_Angle work in 3D
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: 📐 Draft

#5297 Draft: Fix importSVG.py: wrong position for certain ellipses
  src/Mod/Draft/importSVG.py
Labels: 📐 Draft

#5282 Draft: fix scale.py copy_scaled_edge
  src/Mod/Draft/draftfunctions/scale.py
Labels: 📐 Draft

#5305 Draft: improve get_group_contents function in groups.py
  src/Mod/Draft/draftutils/groups.py
Labels: 📐 Draft

#5346 Fix various typos and refinements
  cMake/FreeCAD_Helpers/SetupQt.cmake
  src/App/DocumentObserver.h
  src/Gui/Application.cpp
  src/Gui/DAGView/DAGModel.cpp
  src/Gui/ViewProviderDragger.cpp
  src/Mod/Path/App/AreaParams.h
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.cpp
Labels: core, 🛤️ Path, ⚙ TechDraw, Typo

#5042 Plot: Expose src/Mod/Plot strings to translation
  src/Mod/Plot/Plot.py
Labels: L10N

#5290 [Path] Fix 3D Surface OptimizeStepOverTransitions property error
  src/Mod/Path/PathScripts/PathSurface.py
Labels: 🛤️ Path

#5228 Path | RRF (RepRapFirmware | Duet Boards) PP
  src/Mod/Path/PathScripts/post/rrf_post.py
Labels: 🛤️ Path

#5097 [Path] Fix Waterline error due to invalid arguments in `getOffsetArea()` calls
  src/Mod/Path/PathScripts/PathWaterline.py
Labels: 🛤️ Path

#5350 Path: PathArray: use python library 're' instead of 'regex'
  src/Mod/Path/PathScripts/post/grbl_post.py
Labels: 🛤️ Path

#5347 [PD] rename a UI file
  src/Mod/PartDesign/Gui/CMakeLists.txt
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.h
  src/Mod/PartDesign/Gui/TaskPadParameters.cpp
  src/Mod/PartDesign/Gui/TaskPadPocketParameters.ui
  src/Mod/PartDesign/Gui/TaskPocketParameters.cpp
Labels: 🚜 PartDesign

#5345 [PD] Hole: fix angle constraints
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
Labels: 🚜 PartDesign

#5295 Draft: Use super() to call base class methods
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: 📐 Draft

#5351 Draft: fix issues with _tr
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/utils.py
Labels: 📐 Draft

#5358 PartDesign: Silence noisy FeatureTransformed
  src/Mod/PartDesign/App/FeatureTransformed.cpp
Labels: 🚜 PartDesign

#5360 App: replace three boolean of CellAddress::toString() with a bitmask …
  src/App/ObjectIdentifier.cpp
  src/App/Range.cpp
  src/App/Range.h
  src/Mod/Spreadsheet/App/Sheet.cpp
  src/Mod/Spreadsheet/Gui/DlgSheetConf.cpp
Labels: core, Spreadsheet

#5363 PartDesign: Improve orientation behaviour for conical helices
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHelix.h
Labels: 🚜 PartDesign

#5301 Draft: fix Draft_SelectGroup
  src/Mod/Draft/draftguitools/gui_groups.py
Labels: 📐 Draft

#5318 Tools: Add workaround for lupdate missing source
  src/Tools/updatets.py
Labels: L10N

#5307 Draft: Fix projectPoint method
  src/Mod/Draft/WorkingPlane.py
Labels: 📐 Draft

#5365 [PD] sort out more Pad/Pocket code
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.h
  src/Mod/PartDesign/Gui/TaskPadParameters.cpp
  src/Mod/PartDesign/Gui/TaskPocketParameters.cpp
Labels: 🚜 PartDesign

#5352 [Path] bug fixes for dxf_post and simulator
  src/Mod/Path/PathScripts/PathSimulatorGui.py
  src/Mod/Path/PathScripts/post/dxf_post.py
Labels: 🛤️ Path

#5364 TechDraw: Rename TechDraw_ExtensionArc to TechDraw_ExtensionDrawCosmArc
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionDrawCosmArc.svg
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: ⚙ TechDraw

#5329 Path Simulator: A workaround of the bug while milling curves with small radius
  src/Mod/Path/PathScripts/PathSimulatorGui.py
Labels: 🛤️ Path

#5270 [PATH] Translation fixes for dressup operations
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Gui/Resources/panels/DressUpLeadInOutEdit.ui
  src/Mod/Path/PathPythonGui/__init__.py
  src/Mod/Path/PathPythonGui/simple_edit_panel.py
  src/Mod/Path/PathScripts/PathDressupLeadInOut.py
Labels: 🛤️ Path

#4884 Gui: Prevent crash when calling stderr.write and stdout.write without arguments
  src/Gui/PythonConsolePy.cpp
Labels: core

#5371 Arch: Fix translation issues
  src/Mod/Arch/ArchAxis.py
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchPipe.py
  src/Mod/Arch/ArchStructure.py
  src/Mod/Arch/InitGui.py
Labels: 🏛 Arch

#5370 Draft: Fix translation issues
  src/Mod/Draft/InitGui.py
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_arrays.py
  src/Mod/Draft/draftguitools/gui_circulararray.py
  src/Mod/Draft/draftguitools/gui_fillets.py
  src/Mod/Draft/draftguitools/gui_orthoarray.py
  src/Mod/Draft/draftguitools/gui_polararray.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftutils/init_draft_statusbar.py
  src/Mod/Draft/draftutils/init_tools.py
Labels: 📐 Draft

#5377 Mesh: translate doxygen from DE to EN
  src/Mod/Mesh/App/Core/Approximation.cpp
Labels: 🥅Mesh

#5356 [PD] Use a custom button group in pipe task to allow no button pressed
  src/Mod/PartDesign/Gui/TaskPipeParameters.cpp
  src/Mod/PartDesign/Gui/TaskPipeParameters.h
Labels: 🚜 PartDesign

#5348 TopoShape::analyze() SetRunParallel(true) to do the bopcheck in paral…
  src/Mod/Part/App/TopoShape.cpp
Labels: 🧱 Part

#5387 [Part] Extrude: avoid code duplication
  src/Mod/Part/App/FeatureExtrusion.cpp
Labels: 🧱 Part

#5392 [PD] Correct include guard name
  src/Mod/PartDesign/Gui/ReferenceHighlighter.h
Labels: 🚜 PartDesign

#5386 PD: Add tests for InvoluteGear
  src/Mod/PartDesign/CMakeLists.txt
  src/Mod/PartDesign/PartDesignTests/TestInvoluteGear.py
  src/Mod/PartDesign/TestPartDesignApp.py
Labels: 🚜 PartDesign

#5394 [App] DocumentObject.cpp: Add more information to the error message ...
  src/App/DocumentObject.cpp
Labels: core

#5229 [PATH] Refactoring drilling op to use generators
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Generators/drill_generator.py
  src/Mod/Path/PathFeedRate.py
  src/Mod/Path/PathMachineState.py
  src/Mod/Path/PathScripts/PathAreaOp.py
  src/Mod/Path/PathScripts/PathCircularHoleBase.py
  src/Mod/Path/PathScripts/PathDrilling.py
  src/Mod/Path/PathScripts/PathGeom.py
  src/Mod/Path/PathScripts/PathHelix.py
  src/Mod/Path/PathScripts/PathJob.py
  src/Mod/Path/PathScripts/PathProfile.py
  src/Mod/Path/PathScripts/PathSelection.py
  src/Mod/Path/PathScripts/PathUtils.py
  src/Mod/Path/PathScripts/drillableLib.py
  src/Mod/Path/PathTests/Drilling_1.FCStd
  src/Mod/Path/PathTests/TestPathDrillable.py
  src/Mod/Path/PathTests/TestPathHelpers.py
  src/Mod/Path/TestPathApp.py
Labels: 🛤️ Path

#5397 Path: fix minor typo [skip ci]
  src/Mod/Path/PathFeedRate.py
Labels: 🛤️ Path, Typo

#5390 [Path] Feature/helix generator
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Generators/drill_generator.py
  src/Mod/Path/Generators/helix_generator.py
  src/Mod/Path/PathTests/TestPathDrillGenerator.py
  src/Mod/Path/PathTests/TestPathHelixGenerator.py
  src/Mod/Path/TestPathApp.py
Labels: 🛤️ Path

#4425 [PATH] Add property to split arcs into G1/G0 segments
  src/Mod/Path/PathScripts/PathAreaOp.py
  src/Mod/Path/PathScripts/PathPocketBase.py
  src/Mod/Path/PathScripts/PathProfile.py
Labels: 🛤️ Path

#5396 [GUI] Allow origin plane/axis selection with entire label bounding box
  src/Gui/ViewProviderLine.cpp
  src/Gui/ViewProviderPlane.cpp
Labels: core

#5399 [Sketcher] set debug as cross platform
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: :pencil2: Sketcher

#5376 Addon manager: install dependencies
  src/App/FreeCADInit.py
  src/Mod/AddonManager/ALLOWED_PYTHON_PACKAGES.txt
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/AddonManagerOptions.ui
  src/Mod/AddonManager/AddonManagerRepo.py
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/addonmanager_metadata.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/addonmanager_workers.py
  src/Mod/AddonManager/dependency_resolution_dialog.ui
Labels: core

#5401 [TD] Add new non-standard format spec '%w' to truncate trailing zeros
  src/Mod/TechDraw/App/DrawViewDimension.cpp
Labels: ⚙ TechDraw

#5409 [TD]Adjust initial placement of dim text
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
Labels: ⚙ TechDraw

#5403 [Path] Feature/split arcs helper
  src/Mod/Path/PathScripts/PathPreferences.py
  src/Mod/Path/PathScripts/PostUtils.py
  src/Mod/Path/PathTests/TestPathPost.py
  src/Mod/Path/TestPathApp.py
Labels: 🛤️ Path

#5414 Display Midplane checkbox with Pocket/ThroughAll
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
Labels: 🚜 PartDesign

#5415 TechDraw: fix typos in CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
Labels: ⚙ TechDraw

#5418 [Path] Unit test breaks due to tolerance issue. Disable this test
  src/Mod/Path/PathTests/TestPathPost.py
Labels: 🛤️ Path

#5417 TD: Uniformity tweaks left over from #5383
  src/Mod/TechDraw/TechDrawTools/CommandCopyView.py
  src/Mod/TechDraw/TechDrawTools/CommandMoveView.py
  src/Mod/TechDraw/TechDrawTools/TDToolsMovers.py
  src/Mod/TechDraw/TechDrawTools/TDToolsUtil.py
  src/Mod/TechDraw/TechDrawTools/TaskCopyView.py
  src/Mod/TechDraw/TechDrawTools/TaskMoveView.py
  src/Mod/TechDraw/TechDrawTools/__init__.py
Labels: ⚙ TechDraw

#5410 [Path] Bug/translate deburr, fixture, inspect, probe
  src/Mod/Path/PathScripts/PathDeburr.py
  src/Mod/Path/PathScripts/PathDeburrGui.py
  src/Mod/Path/PathScripts/PathFixture.py
  src/Mod/Path/PathScripts/PathInspect.py
  src/Mod/Path/PathScripts/PathProbe.py
  src/Mod/Path/PathScripts/PathProbeGui.py
Labels: 🛤️ Path

#5405 [Path] Feature/helix refactor
  src/Mod/Path/Generators/helix_generator.py
  src/Mod/Path/Gui/Resources/panels/PageOpHelixEdit.ui
  src/Mod/Path/PathFeedRate.py
  src/Mod/Path/PathScripts/PathGui.py
  src/Mod/Path/PathScripts/PathHelix.py
  src/Mod/Path/PathScripts/PathHelixGui.py
  src/Mod/Path/PathTests/TestPathHelixGenerator.py
Labels: 🛤️ Path

#5419 [TD]remove redundant edits from 9 Task dialogs
  src/Mod/TechDraw/Gui/TaskActiveView.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.cpp
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticLine.cpp
  src/Mod/TechDraw/Gui/TaskDetail.cpp
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
  src/Mod/TechDraw/Gui/TaskRichAnno.cpp
  src/Mod/TechDraw/Gui/TaskSectionView.cpp
  src/Mod/TechDraw/Gui/TaskWeldingSymbol.cpp
Labels: ⚙ TechDraw

#5411 Bug/translation dressup, drilling, vcarve
  src/Mod/Path/PathScripts/PathDressupAxisMap.py
  src/Mod/Path/PathScripts/PathDressupZCorrect.py
  src/Mod/Path/PathScripts/PathDrilling.py
  src/Mod/Path/PathScripts/PathDrillingGui.py
  src/Mod/Path/PathScripts/PathVcarve.py
  src/Mod/Path/PathScripts/PathVcarveGui.py
Labels: 🛤️ Path

#5423 [PD] uniform default Pad/Pocket lengths
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
Labels: 🚜 PartDesign

#5426 Spreadsheet: fix dependency calculation on external spreadsheet
  src/Mod/Spreadsheet/App/PropertySheet.cpp
Labels: Spreadsheet

#5429 Gui: Remove unused error message
  src/Gui/DocumentPyImp.cpp
Labels: core

#5384 Draft: fix task panel related issues
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftfunctions/scale.py
  src/Mod/Draft/draftguitools/gui_mirror.py
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftguitools/gui_stretch.py
  src/Mod/Draft/draftguitools/gui_trackers.py
  src/Mod/Draft/drafttaskpanels/task_scale.py
Labels: 📐 Draft

#5388 Arch: Fix ArchWall onBeforeChange
  src/Mod/Arch/ArchWall.py
Labels: 🏛 Arch

#5422 [PATH] Bug/translation (threadmill, tools, toolcontroller, adaptive)
  src/Mod/Path/Gui/Resources/Path.qrc
  src/Mod/Path/Gui/Resources/panels/PageOpAdaptiveEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpThreadMillingEdit.ui
  src/Mod/Path/InitGui.py
  src/Mod/Path/PathScripts/PathAdaptive.py
  src/Mod/Path/PathScripts/PathAdaptiveGui.py
  src/Mod/Path/PathScripts/PathPreferencesAdvanced.py
  src/Mod/Path/PathScripts/PathSelection.py
  src/Mod/Path/PathScripts/PathThreadMilling.py
  src/Mod/Path/PathScripts/PathThreadMillingGui.py
  src/Mod/Path/PathScripts/PathToolBit.py
  src/Mod/Path/PathScripts/PathToolBitCmd.py
  src/Mod/Path/PathScripts/PathToolBitEdit.py
  src/Mod/Path/PathScripts/PathToolBitGui.py
  src/Mod/Path/PathScripts/PathToolBitLibraryCmd.py
  src/Mod/Path/PathScripts/PathToolBitLibraryGui.py
  src/Mod/Path/PathScripts/PathToolController.py
  src/Mod/Path/PathScripts/PathToolControllerGui.py
  src/Mod/Path/PathScripts/PathToolLibraryEditor.py
  src/Mod/Path/PathScripts/PathToolLibraryManager.py
Labels: 🛤️ Path

#5400 [Arch] split ArchAxis into separate modules
  src/Mod/Arch/Arch.py
  src/Mod/Arch/ArchAxis.py
  src/Mod/Arch/ArchAxisSystem.py
  src/Mod/Arch/ArchGrid.py
  src/Mod/Arch/CMakeLists.txt
Labels: 🏛 Arch

#5431 Fix various typos
  src/Mod/Draft/importDXF.py
  src/Mod/Path/PathScripts/PathDressupAxisMap.py
  src/Mod/Path/PathScripts/PathHelix.py
Labels: 📐 Draft, 🛤️ Path, Typo

#5421 [PATH] translation cleanup (engrave, millface, pocket)
  src/Mod/Path/Gui/Resources/panels/PageOpPocketFullEdit.ui
  src/Mod/Path/InitGui.py
  src/Mod/Path/PathScripts/PathEngrave.py
  src/Mod/Path/PathScripts/PathEngraveBase.py
  src/Mod/Path/PathScripts/PathEngraveGui.py
  src/Mod/Path/PathScripts/PathMillFace.py
  src/Mod/Path/PathScripts/PathMillFaceGui.py
  src/Mod/Path/PathScripts/PathPocket.py
  src/Mod/Path/PathScripts/PathPocketBase.py
  src/Mod/Path/PathScripts/PathPocketBaseGui.py
  src/Mod/Path/PathScripts/PathPocketGui.py
  src/Mod/Path/PathScripts/PathPocketShape.py
  src/Mod/Path/PathScripts/PathPocketShapeGui.py
  src/Mod/Path/PathScripts/PathSelection.py
Labels: 🛤️ Path

#4503 [Part] Set App::Part's Material property type to App::PropertyLink (instead of App::PropertyMap)
  src/App/Part.cpp
  src/App/Part.h
Labels: 🧱 Part

#5443 Gui: Add functionality to enable/disable block shape cursor in text editor and console
  src/Gui/DlgEditor.ui
  src/Gui/DlgEditorImp.cpp
  src/Gui/DlgGeneral.ui
  src/Gui/DlgGeneralImp.cpp
  src/Gui/PythonConsole.cpp
  src/Gui/TextEdit.cpp
Labels: core

#5436 [PATH] More translation cleanup (job, profile, dressups)
  src/Mod/Path/Gui/Resources/panels/PathEdit.ui
  src/Mod/Path/PathScripts/PathDressupDogbone.py
  src/Mod/Path/PathScripts/PathDressupHoldingTags.py
  src/Mod/Path/PathScripts/PathDressupPathBoundary.py
  src/Mod/Path/PathScripts/PathDressupPathBoundaryGui.py
  src/Mod/Path/PathScripts/PathDressupRampEntry.py
  src/Mod/Path/PathScripts/PathDressupTag.py
  src/Mod/Path/PathScripts/PathDressupTagGui.py
  src/Mod/Path/PathScripts/PathDressupTagPreferences.py
  src/Mod/Path/PathScripts/PathFeatureExtensions.py
  src/Mod/Path/PathScripts/PathFeatureExtensionsGui.py
  src/Mod/Path/PathScripts/PathJob.py
  src/Mod/Path/PathScripts/PathJobCmd.py
  src/Mod/Path/PathScripts/PathJobDlg.py
  src/Mod/Path/PathScripts/PathJobGui.py
  src/Mod/Path/PathScripts/PathPreferencesPathDressup.py
  src/Mod/Path/PathScripts/PathProfileContourGui.py
  src/Mod/Path/PathScripts/PathProfileEdgesGui.py
  src/Mod/Path/PathScripts/PathProfileFacesGui.py
Labels: 🛤️ Path

#5448 Fix typos [skip ci]
  src/Mod/Path/PathScripts/PathProfileContour.py
  src/Mod/Path/PathScripts/PathProfileContourGui.py
  src/Mod/Path/PathScripts/PathProfileEdges.py
  src/Mod/Path/PathScripts/PathProfileEdgesGui.py
  src/Mod/Path/PathScripts/PathProfileFaces.py
  src/Mod/Path/PathScripts/PathProfileFacesGui.py
  src/Mod/Robot/App/kdl_cp/solveri.hpp
Labels: 🛤️ Path, Typo

#5446 [Path] fix default unit string for mm/min
  src/Mod/Path/PathScripts/post/marlin_post.py
Labels: 🛤️ Path

#5447 [TD]Allow override of dimension line angles
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.h
  src/Mod/TechDraw/Gui/TaskDimension.cpp
  src/Mod/TechDraw/Gui/TaskDimension.h
  src/Mod/TechDraw/Gui/TaskDimension.ui
Labels: ⚙ TechDraw

#5433 [TechDraw] Refractor TDTest
  src/Mod/TechDraw/TDTest/DHatchTest.py
  src/Mod/TechDraw/TDTest/DLeaderRText.py
  src/Mod/TechDraw/TDTest/DProjGroupTest.py
  src/Mod/TechDraw/TDTest/DVAnnoSymImageTest.py
  src/Mod/TechDraw/TDTest/DVBalloonTest.py
  src/Mod/TechDraw/TDTest/DVDimensionTest.py
  src/Mod/TechDraw/TDTest/DVPartTest.py
  src/Mod/TechDraw/TDTest/DVSectionTest.py
Labels: ⚙ TechDraw

#5452 [TD] Prevent crash when snapping leader line
  src/Mod/TechDraw/Gui/QGTracker.cpp
Labels: ⚙ TechDraw

#5453 Qt::TextColorRole is obsolete. Use ForegroundRole instead.
  src/Gui/propertyeditor/PropertyItem.cpp
Labels: core

#5455 [TD]restore missing import statement
  src/Mod/TechDraw/InitGui.py
Labels: ⚙ TechDraw

#5450 Gui: Add option to enable/disable text cursor blinking
  src/Gui/Application.cpp
  src/Gui/DlgGeneral.ui
  src/Gui/DlgGeneralImp.cpp
Labels: core

#5459 Gui: Improve docstrings and change some signatures in Selection module
  src/Gui/Selection.cpp
Labels: core

#5457 [TD]migrate DrawingWB projection functions to TechDrawWB
  src/Mod/TechDraw/App/AppTechDraw.cpp
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/App/FeatureProjection.cpp
  src/Mod/TechDraw/App/FeatureProjection.h
  src/Mod/TechDraw/App/ProjectionAlgos.cpp
  src/Mod/TechDraw/App/ProjectionAlgos.h
  src/Mod/TechDraw/App/TechDrawExport.cpp
  src/Mod/TechDraw/App/TechDrawExport.h
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ProjectShape.svg
  src/Mod/TechDraw/Gui/TaskProjection.cpp
  src/Mod/TechDraw/Gui/TaskProjection.h
  src/Mod/TechDraw/Gui/TaskProjection.ui
  src/Mod/TechDraw/Gui/Workbench.cpp
  src/Mod/TechDraw/TDTest/TDPyTest.py
Labels: ⚙ TechDraw

#5367 [Part] handle inner wires for Extrude
  src/Mod/Part/App/FeatureExtrusion.cpp
  src/Mod/Part/App/FeatureExtrusion.h
Labels: 🧱 Part

#5463 Part.show() python return the new document object instead of None
  src/Mod/Part/App/AppPartPy.cpp
Labels: 🧱 Part

#5461 Gui: Fix some docstrings in Selection module
  src/Gui/Selection.cpp
Labels: core

#5464 TD: cleanup after #5457
  src/Mod/TechDraw/App/FeatureProjection.cpp
  src/Mod/TechDraw/App/ProjectionAlgos.cpp
  src/Mod/TechDraw/App/ProjectionAlgos.h
  src/Mod/TechDraw/Gui/TaskProjection.h
Labels: ⚙ TechDraw

#5454 Addon Manager: Add search and display of tags
  src/App/MetadataPyImp.cpp
  src/Mod/AddonManager/AddonManagerRepo.py
  src/Mod/AddonManager/expanded_view.py
  src/Mod/AddonManager/expanded_view.ui
  src/Mod/AddonManager/package_list.py
Labels: core
