Repository FreeCAD/FreeCAD, pull requests merged in 2023-09, with the labels that each got.

#10473 labels.yml: Add Assembly workbench auto-tag back in
  .github/labels.yml
Labels: :octocat:, WB Assembly

#10471 Fix typos
  src/App/PropertyStandard.h
  src/Base/Persistence.cpp
  src/Mod/AddonManager/developer_mode_people_table.ui
  src/Mod/Mesh/App/Core/Degeneration.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Start/StartPage/StartPage.py
Labels: Core, WB Part, WB Sketcher, Addon Manager, WB Mesh

#10457 FEM: disable the Constraints without solver submenu
  src/Mod/Fem/Gui/Workbench.cpp
Labels: WB FEM

#10425 Draft: Fix Draft_Mirror preview
  src/Mod/Draft/DraftGeomUtils.py
  src/Mod/Draft/draftgeoutils/geometry.py
  src/Mod/Draft/draftguitools/gui_mirror.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#10477 Gui: make GroupCommand more flexible
  src/Gui/Command.cpp
  src/Gui/Command.h
Labels: Core

#10449 Sketcher_Dimension : Implement selection->tool workflow
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10458 Sketcher_Dimension: Implement Point-to-Circle distance.
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10452 GitHub: Better layout and description for Problem template
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
Labels: :octocat:

#10456 [TD]fix keyboard zoomIn/zoomOut for Touchpad mode
  src/Mod/TechDraw/Gui/QGVNavStyle.cpp
  src/Mod/TechDraw/Gui/QGVNavStyle.h
  src/Mod/TechDraw/Gui/QGVNavStyleTouchpad.cpp
Labels: WB TechDraw, Shortcut

#10483 Sketcher: fix several warnings:
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10485 Sketcher_Dimension fix crash.
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10459 FEM: disable the Constraints without solver submenu - part2
  src/Mod/Fem/Gui/Workbench.cpp
Labels: WB FEM, UI/UX

#10486 Assembly : Improve code of Insert Link command
  src/Mod/Assembly/Commands.py
Labels: WB Assembly

#10489 Sketcher_Dimension Replace SubNames by std::move(SubNames)
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10490 RE: Correct use of Wrapped_ParseTupleAndKeywords
  src/Base/PersistencePyImp.cpp
  src/Mod/ReverseEngineering/App/AppReverseEngineering.cpp
Labels: Core, WB ReverseEngineering

#10498 CI: Add yaml-cpp dependency to sub_lint.yml
  .github/workflows/sub_lint.yml
Labels: :octocat:

#10506 Draft: Correct mistake in PR10160
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: WB Draft

#10507 [TD]fix Tolerance format issue in dialog
  src/Mod/TechDraw/Gui/TaskDimension.cpp
Labels: WB TechDraw

#10508 Base: fixes #10462: mesh.unite() causes segementaion fault
  src/Base/Builder3D.cpp
  src/Base/Builder3D.h
  tests/src/Base/Builder3D.cpp
  tests/src/Base/CMakeLists.txt
Labels: Core

#10511 [TD]fix selection highlighting from tree
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
Labels: WB TechDraw

#10519 FEM: removing "constraint" from the names
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/DlgSettingsFemExportAbaqus.ui
  src/Mod/Fem/Gui/DlgSettingsFemGeneral.ui
  src/Mod/Fem/Gui/Resources/ui/BodyHeatSource.ui
  src/Mod/Fem/Gui/Resources/ui/CurrentDensity.ui
  src/Mod/Fem/Gui/Resources/ui/ElectrostaticPotential.ui
  src/Mod/Fem/Gui/Resources/ui/FlowVelocity.ui
  src/Mod/Fem/Gui/Resources/ui/InitialFlowVelocity.ui
  src/Mod/Fem/Gui/Resources/ui/InitialPressure.ui
  src/Mod/Fem/Gui/Resources/ui/Magnetization.ui
  src/Mod/Fem/Gui/TaskAnalysisInfo.ui
  src/Mod/Fem/Gui/TaskFemConstraint.cpp
  src/Mod/Fem/Gui/TaskFemConstraintContact.cpp
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFixed.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.cpp
  src/Mod/Fem/Gui/TaskFemConstraintForce.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.ui
  src/Mod/Fem/Gui/TaskFemConstraintPlaneRotation.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPressure.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTransform.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraint.cpp
  src/Mod/Fem/Gui/Workbench.cpp
  src/Mod/Fem/femcommands/commands.py
Labels: WB FEM

#10478 Draft: Workaround failing multifuse in shape2Dview
  src/Mod/Draft/draftobjects/shape2dview.py
Labels: WB Draft

#10464 Bug fix: Allow Draft WB to import in FreeCAD headless docker container
  src/Mod/Draft/draftmake/make_hatch.py
Labels: WB Draft, Packaging: Docker

#10505 Draft: Fix angle range issue of make_circle
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftmake/make_circle.py
Labels: WB Draft

#10540 Sketcher: minor fix of c++ source docs for solve(..)
  src/Mod/Sketcher/App/SketchObject.h
Labels: WB Sketcher

#10541 Sketcher: Fix wrong format string in PyArg_ParseTuple
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
Labels: WB Sketcher

#10546 Addon Manager: Refactor local cache update check
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/AddonManagerTest/app/mocks.py
  src/Mod/AddonManager/AddonManagerTest/app/test_cache.py
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/TestAddonManagerApp.py
  src/Mod/AddonManager/addonmanager_cache.py
Labels: Addon Manager

#10542 Sketcher: Fix check in carbonCopy's python interface
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
Labels: WB Sketcher

#10539 Gui: Add nullptr check in showRotationCenter
  src/Gui/View3DInventorViewer.cpp
Labels: Core

#10547 [TD]add support for view menu zoom
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.h
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/Mod/TechDraw/Gui/QGVPage.h
Labels: WB TechDraw

#10430 Path: helix toolpath was not allowing Extra Offset values that it should
  src/Mod/Path/Path/Base/Generator/helix.py
  src/Mod/Path/PathTests/TestPathHelixGenerator.py
Labels: WB Path

#10561 Removing unnecessary strings from Crowdin + improving typos
  src/Gui/DlgLocationAngle.ui
  src/Mod/Draft/Resources/ui/TaskPanel_CircularArray.ui
  src/Mod/Fem/femcommands/commands.py
Labels: Core, WB FEM, WB Draft

#10559 Fixed a small typo in the splash screen warning
  src/Gui/MainWindow.cpp
Labels: Core

#10446 Mesh: fixes issue #10075: 3MF files exported from FreeCAD don't work …
  src/Mod/Mesh/App/AppMeshPy.cpp
  src/Mod/Mesh/App/Core/IO/Writer3MF.cpp
  src/Mod/Mesh/App/Core/IO/Writer3MF.h
  src/Mod/Mesh/App/Exporter.cpp
  src/Mod/Mesh/App/Exporter.h
  src/Mod/Mesh/Gui/DlgSettingsImportExport.ui
  src/Mod/Mesh/Gui/DlgSettingsImportExportImp.cpp
Labels: WB Mesh

#10574 Part: when replacing PyArg_ParseTupleAndKeywords with Base::Wrapped_P…
  src/Mod/Part/App/Geom2d/BSplineCurve2dPyImp.cpp
  src/Mod/Part/App/GeometryCurvePyImp.cpp
Labels: Core, WB Part

#10575 Part: add tests to ensure that the fixed methods work correctly
  src/Mod/Part/TestPartApp.py
Labels: WB Part

#10582 Test: add test for default file system encoding
  src/Mod/Test/BaseTests.py
Labels: WB Test

#10591 [TD]fix fail on multiple empty annotation
  src/Mod/TechDraw/Gui/DlgStringListEditor.cpp
Labels: WB TechDraw

#10593 Fix various typos
  src/App/MappedName.cpp
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyGeo.h
  src/Mod/Draft/draftmake/make_circle.py
  src/Mod/Sketcher/App/PropertyConstraintList.h
Labels: Core, WB Draft, WB Sketcher

#10565 Deprecate Qt4 for Qt6 in CMakeLists.txt
  src/Mod/Sandbox/Gui/CMakeLists.txt
Labels: 3rd party: Qt 6

#10556 Draft: arcTracker did not take Working Plane rotation into account
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#10595 Gui: filter warning about dead keys
  src/Gui/Application.cpp
Labels: Core

#10592 fix compilation warning
  src/Gui/PythonConsole.cpp
Labels: Core, Packaging/building

#10602 [Part]correct handling of preselected objects
  src/Mod/Part/Gui/DlgScale.cpp
Labels: WB Part

#10622 Removed old code using qt<5.4
  src/Gui/3Dconnexion/GuiNativeEventLinuxX11.cpp
  src/Gui/3Dconnexion/GuiNativeEventWin32.cpp
Labels: Core

#10571 FEM: fix 3rd party VTK > 6.1 check
  src/Mod/Fem/App/FemPostFilter.cpp
Labels: WB FEM, Packaging/building

#10636 Gui: fix some MSVC truncation warnings
  src/Gui/MainWindow.cpp
  src/Gui/Selection.h
  src/Gui/View3DInventorViewer.cpp
Labels: Core

#10481 Draft: Allow to set a custom feet separator for dimensions
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
  src/Mod/Draft/draftviewproviders/view_dimension.py
Labels: WB Draft, Units

#10642 TD: remove unused class member
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/Mod/TechDraw/Gui/QGVPage.h
Labels: WB TechDraw

#10632 Gui: Fix rotation center indicator for OpenCascade style
  src/Gui/OpenCascadeNavigationStyle.cpp
Labels: Core

#10586 Gui: fixes issue #9422: Dependency Graph: export to .dot/.gv
  src/Gui/CommandDoc.cpp
  src/Gui/GraphvizView.cpp
  src/Gui/Workbench.cpp
Labels: Core

#10529 Gui: Add cancel button to transform task UI dialog
  src/Gui/TaskCSysDragger.cpp
  src/Gui/TaskCSysDragger.h
  src/Gui/ViewProviderDragger.cpp
  src/Gui/ViewProviderDragger.h
Labels: Core

#10660 MSVC: fix several compiler warnings
  src/Gui/NaviCube.cpp
  src/Gui/PreCompiled.h
  src/Gui/SelectionFilterPy.cpp
  src/Gui/SoFCBackgroundGradient.cpp
  src/Gui/Widgets.cpp
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.ui
  src/Mod/Sketcher/App/PreCompiled.h
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  tests/src/Base/BoundBox.cpp
  tests/src/Base/Reader.cpp
Labels: Core, WB PartDesign, WB Sketcher

#10664 Draft: importSVG.py: check and fix path faces
  src/Mod/Draft/importSVG.py
Labels: WB Draft

#10535 [Start] Fix Python 3.11 Unicode Errors
  src/Mod/Start/StartPage/StartPage.py
Labels: Coding: Python

#10671 Part: fix encoding issue in BOPProgressIndicator::Show
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
Labels: WB Part

#10669 [Part]allow negative scale factors
  src/Mod/Part/Gui/DlgScale.ui
Labels: WB Part

#10655 [Feature Request] [Draft] [UI/UX] Remove the center arrow on radial dimensions
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
Labels: WB Draft

#10674 Gui: determine the bounding box of an SoDatumLabel outside its GLRend…
  src/Gui/SoDatumLabel.cpp
Labels: Core

#10673 Draft: V0.21 version of getPlaneRotation caused a dimension bug
  src/Mod/Draft/draftviewproviders/view_dimension.py
Labels: WB Draft

#10675 [TD]rotate centerlines with view
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/App/CenterLine.h
Labels: WB TechDraw

#10670 Draft: use master version of dxf libraries
  src/Mod/Draft/importDXF.py
Labels: WB Draft

#10677 Assembly: Add joint icons
  src/Mod/Assembly/Gui/Resources/Assembly.qrc
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointBall.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointCylindrical.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointFixed.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointParallel.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointPlanar.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointRevolute.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointSlider.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointTangent.svg
Labels: UI/UX, WB Assembly

#10654 [Path] Improve Sanity to generate html output without...
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Path/Main/Gui/Sanity.py
  src/Mod/Path/Path/Main/Gui/Sanity_Bulb.svg
  src/Mod/Path/Path/Main/Gui/Sanity_Caution.svg
  src/Mod/Path/Path/Main/Gui/Sanity_Note.svg
  src/Mod/Path/Path/Main/Gui/Sanity_Warning.svg
Labels: WB Path

#10683 [TD]fix hatch fail due to missing translate method
  src/Mod/TechDraw/App/DrawGeomHatch.cpp
  src/Mod/TechDraw/App/DrawGeomHatch.h
  src/Mod/TechDraw/App/DrawGeomHatchPy.xml
  src/Mod/TechDraw/App/DrawGeomHatchPyImp.cpp
  src/Mod/TechDraw/App/DrawHatch.cpp
  src/Mod/TechDraw/App/DrawHatch.h
  src/Mod/TechDraw/App/DrawHatchPy.xml
  src/Mod/TechDraw/App/DrawHatchPyImp.cpp
Labels: WB TechDraw

#10666 Sketcher: add TypeId checking helpers
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Sketcher/Gui/Utils.h
Labels: WB Sketcher

#10689 Fix typos
  src/Gui/Quarter/Quarter.cpp
  src/Gui/TaskView/TaskSelectLinkProperty.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Core, WB Sketcher

#10515 Sketcher: fix several inconsistencies in Sketcher_CompDimensionTools
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10553 Sketcher_Dimension : enable user to deselect geos by clicking on them again
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10695 [TD]allow cosmetic deletion via DEL
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.h
Labels: WB TechDraw

#10697 [TD]fix inverted detail of body
  src/Mod/TechDraw/App/ShapeExtractor.cpp
Labels: WB TechDraw

#10696 removed unnecessary include into cmake
  src/Mod/Part/App/CMakeLists.txt
Labels: WB Part

#10476 Arch: Fixed IFC export of compsolids
  src/Mod/Arch/exportIFC.py
Labels: WB Arch

#10693 Draft: gui_edit called displayPoint without mask
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: WB Draft

#10699 Draft: Fix for PR10673
  src/Mod/Draft/draftviewproviders/view_dimension.py
Labels: WB Draft

#10676 Gui: Remove bounding box computation from SoDatumLabel::GLRender()
  src/Gui/SoDatumLabel.cpp
  src/Gui/SoDatumLabel.h
Labels: Core

#10663 Part: fix crash in Geometry::Restore()
  src/Mod/Part/App/Geometry.cpp
Labels: WB Part

#10714 [Macro Execute Dialog] add file name and file content filtering
  src/Gui/DlgMacroExecute.ui
  src/Gui/DlgMacroExecuteImp.cpp
  src/Gui/DlgMacroExecuteImp.h
Labels: Core

#10712 Draft: shape2dview: avoid issues with intersecting solids
  src/Mod/Draft/draftobjects/shape2dview.py
Labels: WB Draft

#10711 Arch: Fix Arch_Fence section placement
  src/Mod/Arch/ArchFence.py
Labels: WB Arch

#10706 Gui: Transform dragger improvements
  src/Gui/SoFCCSysDragger.cpp
  src/Gui/SoFCCSysDragger.h
  src/Gui/ViewParams.h
  src/Gui/ViewProviderDragger.cpp
Labels: Core

#10692 Sketcher: refactor CommandConstraint.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher, Refactor

#10681 Gui: make layout of Combo, Property and Tree view more flexible
  src/Gui/ComboView.cpp
  src/Gui/ComboView.h
  src/Gui/Control.cpp
  src/Gui/Control.h
  src/Gui/DockWindowManager.cpp
  src/Gui/DockWindowManager.h
  src/Gui/MainWindow.cpp
  src/Gui/MainWindow.h
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/PreferencePages/DlgSettingsGeneral.h
  src/Gui/Workbench.cpp
Labels: Core

#10679 [Sketcher] Change Sketcher_Dimension 1point constraint order
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10668 Sketcher: Update SketchObject's python docs, first batch
  src/Mod/Sketcher/App/SketchObjectPy.xml
Labels: WB Sketcher, Documentation

#10573 Core: Selection : Add possibility to set the style of selection
  src/Gui/FreeCADGuiInit.py
  src/Gui/Selection.cpp
  src/Gui/Selection.h
  src/Gui/SoFCUnifiedSelection.cpp
Labels: Core

#10727 Part: Fix a missing argument for HLR projector
  src/Mod/Part/App/HLRBRep/HLRBRep_AlgoPyImp.cpp
Labels: WB Part

#10611 Assembly joints
  src/Mod/Assembly/CMakeLists.txt
  src/Mod/Assembly/CommandCreateAssembly.py
  src/Mod/Assembly/CommandCreateJoint.py
  src/Mod/Assembly/CommandInsertLink.py
  src/Mod/Assembly/Gui/Resources/Assembly.qrc
  src/Mod/Assembly/Gui/Resources/panels/TaskAssemblyCreateJoint.ui
  src/Mod/Assembly/InitGui.py
  src/Mod/Assembly/JointObject.py
  src/Mod/Assembly/UtilsAssembly.py
Labels: Core, WB Assembly

#10657 Sketcher_Dimension: Enable the user to select what angle he wants.
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: WB Sketcher

#10737 [Stylesheets] ProDark remove reminant of hex color codes.
  src/Gui/Stylesheets/ProDark.qss
Labels: Core

#10656 Sketcher_Dimension: Adds arc angle mode.
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry.h
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Part, WB Sketcher

#10740 Sketch: fix a few minor issues
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10552 [Gui] Fix color bar position and text
  src/Gui/PreferencePages/DlgSettingsViewColor.cpp
  src/Gui/PreferencePages/DlgSettingsViewColor.ui
  src/Gui/SoFCColorBar.cpp
  src/Gui/SoFCColorGradient.cpp
Labels: Core

#10703 Gui: Improve accuracy for navigation cube's rotate to nearest feature
  src/Gui/NaviCube.cpp
Labels: Core, UI/UX, Navigation Cube

#10723 TechDraw: create closure for concurrent thread context
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewSection.cpp
Labels: WB TechDraw

#10734 TechDraw: Expose two functions for SVG export
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/ProjectionAlgos.cpp
  src/Mod/TechDraw/App/ProjectionAlgos.h
Labels: WB TechDraw

#10738 Gui: Transform dragger fixes for PR #10706
  src/Gui/SoFCCSysDragger.cpp
  src/Gui/SoFCCSysDragger.h
  src/Gui/ViewParams.h
  src/Gui/ViewProviderDragger.cpp
Labels: Core

#10763 [TD]initial implementation of cosmetic cicle command (fix #10352)
  src/Mod/TechDraw/App/DrawViewPartPy.xml
  src/Mod/TechDraw/App/DrawViewPartPyImp.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/Geometry.h
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_CosmeticCircle.svg
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.h
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.ui
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: WB TechDraw

#10667 App/Toponaming: Add StringHasher to Document
  src/App/Document.cpp
  src/App/Document.h
  src/App/Property.h
  src/App/PropertyContainer.cpp
  src/App/PropertyContainer.h
  src/App/private/DocumentP.h
  tests/src/App/CMakeLists.txt
  tests/src/App/Document.cpp
Labels: Core

#10735 Draft: Add distance_to_plane and project_point_on_plane to geometry.py
  src/Mod/Draft/DraftGeomUtils.py
  src/Mod/Draft/draftgeoutils/geometry.py
Labels: WB Draft

#10741 Arch: avoid intersecting solids in windows and doors with openings
  src/Mod/Arch/ArchWindow.py
Labels: WB Arch

#10765 Gui: fix possible memory leak if inappropriate view provider is created
  src/Gui/Document.cpp
Labels: Core

#10762 Gui: fixes #10724: TaskView gets truncated
  src/Gui/TaskView/TaskView.cpp
  src/Gui/TaskView/TaskView.h
Labels: Core, UI/UX

#10772 Part: remove leftover comment markup
  src/Mod/Part/App/Geom2d/BezierCurve2dPy.xml
Labels: WB Part

#10774 Arch: Added missing ArchSketchObject to cmake file
  src/Mod/Arch/CMakeLists.txt
Labels: WB Arch

#10780 Draft: use Gui::FileChooser::Directory where applicable
  src/Mod/Draft/Resources/ui/preferences-draftvisual.ui
Labels: WB Draft

#10777 Draft: ShapeString: add font file filter
  src/Mod/Draft/Resources/ui/TaskShapeString.ui
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
Labels: WB Draft

#10779 OpenSCAD: use Gui::FileChooser::Directory where applicable
  src/Mod/OpenSCAD/Resources/ui/openscadprefs-base.ui
Labels: WB OpenSCAD

#10767 Assembly: Improve JCS appearance and implement autoscale
  src/Mod/Assembly/JointObject.py
  src/Mod/Assembly/UtilsAssembly.py
Labels: Core, UI/UX, WB Assembly

#10787 MSVC: fix warnings and build failure
  src/App/Application.cpp
  src/Gui/NaviCube.cpp
  src/Gui/SoFCCSysDragger.cpp
  src/Mod/Mesh/Gui/ViewProviderPython.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/SubSystem.cpp
Labels: Core, WB Sketcher, WB Mesh

#10784 Gui: fixes #10782: Unable to cancel Select module Open obj messagebox
  src/Gui/FileDialog.cpp
  src/Gui/FileDialog.h
Labels: Core

#10766 Draft: Introduction of the PlaneBase class
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#10783 Draft: ShapeString: add ObliqueAngle property
  src/Mod/Draft/draftobjects/shapestring.py
Labels: WB Draft

#10555 [Preferences] Exclude 8514oem from Monospace fonts
  src/Gui/PreferencePages/DlgSettingsEditor.cpp
Labels: Core

#10778 Start: use Gui::FileChooser::Directory where applicable
  src/Mod/Start/Gui/DlgStartPreferences.ui
Labels: WB Start

#10794 [Backport] Improve object center rotation mode
  src/Gui/NavigationStyle.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/ViewProvider.h
  src/Gui/ViewProviderMeasureDistance.cpp
  src/Gui/ViewProviderMeasureDistance.h
Labels: Core

#10795 [Backport] Improve accuracy for navigation cube's rotate to nearest feature
  src/Gui/NaviCube.cpp
Labels: Core

#10799 FEM naming fix part 2 (removes remaining incorrect "constraint" usage)
  src/Mod/Fem/Gui/Command.cpp
Labels: WB FEM, UI/UX

#10808 Part: Add method Part.Compound.setFaces()
  src/Mod/Part/App/TopoShapeCompoundPy.xml
  src/Mod/Part/App/TopoShapeCompoundPyImp.cpp
Labels: WB Part

#10792 Path: fix LeadInOutDressup throwing an exception due to floating poin…
  src/Mod/Path/Path/Dressup/Gui/LeadInOut.py
Labels: WB Path

#10789 Path: refactor Utils imports in estlcam_post.py
  src/Mod/Path/Path/Post/scripts/estlcam_post.py
Labels: WB Path

#10761 Toolbar View and Structure cleaning
  src/Gui/CommandLink.cpp
  src/Gui/CommandStructure.cpp
  src/Gui/CommandView.cpp
  src/Gui/Workbench.cpp
Labels: Core

#10743 [Sketcher] Fix angle constraint expression regression
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  tests/src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#9446 Gui: Refactor navigation animations
  src/Gui/CMakeLists.txt
  src/Gui/DemoMode.cpp
  src/Gui/NavigationAnimation.cpp
  src/Gui/NavigationAnimation.h
  src/Gui/NavigationAnimator.cpp
  src/Gui/NavigationAnimator.h
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/PreferencePackTemplates/View.cfg
  src/Gui/PreferencePages/DlgSettingsNavigation.cpp
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/View3DPy.cpp
  src/Gui/View3DSettings.cpp
Labels: Core, Refactor, Help wanted

#8113 [Part] Optimize snippet of code in `ShapeMerge.py`
  src/Mod/Part/BOPTools/ShapeMerge.py
Labels: WB Part

#10800 [Path] Sanity Follow up improvements...
  src/Mod/Path/Path/Main/Gui/Sanity.py
Labels: WB Path

#10816 Arch: ArchSectionPlane.getSVG add linespacing argument
  src/Mod/Arch/ArchSectionPlane.py
Labels: WB Arch

#10819 Gui: do not create the commands StdCmdSelBack and StdCmdSelForward twice
  src/Gui/CommandView.cpp
Labels: Core

#10811 Draft: ShapeString: improve ObliqueAngle
  src/Mod/Draft/draftobjects/shapestring.py
Labels: WB Draft

#10820 Mesh: C++ core guidelines
  src/Mod/Mesh/Gui/SegmentationBestFit.cpp
  src/Mod/Mesh/Gui/SegmentationBestFit.h
  src/Mod/Mesh/Gui/SoFCIndexedFaceSet.h
Labels: WB Mesh

#10826 Gui: fix automatic spinning of DemoMode
  src/Gui/DemoMode.cpp
Labels: Core

#10827 Revert "Gui: Refactor navigation animations"
  src/Gui/CMakeLists.txt
  src/Gui/DemoMode.cpp
  src/Gui/NavigationAnimation.cpp
  src/Gui/NavigationAnimation.h
  src/Gui/NavigationAnimator.cpp
  src/Gui/NavigationAnimator.h
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/PreferencePackTemplates/View.cfg
  src/Gui/PreferencePages/DlgSettingsNavigation.cpp
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/View3DPy.cpp
  src/Gui/View3DSettings.cpp
Labels: Core

#10832 Fem: fixes #10823: Solver CalculiX (new framework) seems to be unnece…
  src/Mod/Fem/Gui/Workbench.cpp
Labels: WB FEM

#10850 [TD]fix missing reference geometry
  src/Mod/TechDraw/App/DimensionReferences.cpp
  src/Mod/TechDraw/App/DimensionReferences.h
  src/Mod/TechDraw/App/DrawViewDimension.cpp
Labels: WB TechDraw

#10845 Draft: ImportDXF: CURRENTDXFLIB is not obsolete and should be kept
  src/Mod/Draft/importDXF.py
Labels: WB Draft

#10856 Draft: get_movable_children: prevent endless loop
  src/Mod/Draft/draftutils/groups.py
Labels: WB Draft, Backport

#10863 Material: fix build failure with Qt6
  src/Gui/MetaTypes.h
  src/Mod/Material/App/MaterialLibrary.cpp
  src/Mod/Material/App/MaterialPyImpl.cpp
  src/Mod/Material/App/MaterialValue.h
Labels: Core, 3rd party: Qt 6

#10872 FEM: Add sWhatsThis for FEM_CompEmConstraints
  src/Mod/Fem/Gui/Command.cpp
Labels: WB FEM
