Repository FreeCAD/FreeCAD, pull requests merged in 2023-10, with the labels that each got.

#10883 [TD]add line spacing property
  src/Mod/TechDraw/App/DrawViewArch.cpp
  src/Mod/TechDraw/App/DrawViewArch.h
Labels: WB TechDraw

#10838 Draft: Update the Plane class (step 1)
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#10887 [TD]Fix no dimensions from old document (#10880)
  src/Mod/TechDraw/App/DrawViewDimension.cpp
Labels: WB TechDraw

#10859 Path: fix LeadInOutDressup incorrectly treating missing axis words as…
  src/Mod/Path/Path/Dressup/Gui/LeadInOut.py
Labels: WB Path

#10835 Path: fix compiler warnings
  src/Mod/Path/App/Area.cpp
  src/Mod/Path/App/AreaPy.xml
  src/Mod/Path/App/AreaPyImp.cpp
Labels: WB Path

#10857 Add G43 tool height compensation to centroid post
  src/Mod/Path/Path/Post/scripts/centroid_post.py
  src/Mod/Path/PathTests/TestCentroidPost.py
Labels: WB Path

#10889 Spreadsheet: export CSV file extension by default
  src/Mod/Spreadsheet/Gui/Command.cpp
Labels: WB Spreadsheet

#10885 FEM: Added more intuitive FEM solver icons
  src/Mod/Fem/Gui/Resources/icons/FEM_SolverControl.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_SolverRun.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_SolverStandard.svg
Labels: WB FEM, UI/UX

#10509 Path: Major refactoring of the export_common function.
  src/Mod/Path/Path/Post/UtilsArguments.py
  src/Mod/Path/Path/Post/UtilsExport.py
  src/Mod/Path/Path/Post/UtilsParse.py
  src/Mod/Path/Path/Post/scripts/refactored_centroid_post.py
Labels: WB Path, Refactor

#10860 TechDraw: Implements projected Length dimension
  src/Mod/TechDraw/App/DimensionGeometry.cpp
  src/Mod/TechDraw/App/DimensionGeometry.h
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
Labels: WB TechDraw

#10833 TD: fix compiler warning about unused class member (-Wunused-private-…
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.h
Labels: WB TechDraw

#7488 PartDesign: change default behavior of Thickness tool to inwards
  src/Mod/PartDesign/App/FeatureThickness.cpp
Labels: WB PartDesign

#10844 [cmake] some definitions do not matter build now
  src/Mod/Draft/App/CMakeLists.txt
  src/Mod/Drawing/App/CMakeLists.txt
  src/Mod/Drawing/Gui/CMakeLists.txt
  src/Mod/Fem/App/CMakeLists.txt
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Import/App/CMakeLists.txt
  src/Mod/Import/Gui/CMakeLists.txt
  src/Mod/Inspection/App/CMakeLists.txt
  src/Mod/JtReader/App/CMakeLists.txt
  src/Mod/Measure/App/CMakeLists.txt
  src/Mod/MeshPart/App/CMakeLists.txt
  src/Mod/MeshPart/Gui/CMakeLists.txt
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/Gui/CMakeLists.txt
  src/Mod/PartDesign/App/CMakeLists.txt
  src/Mod/PartDesign/Gui/CMakeLists.txt
  src/Mod/Path/App/CMakeLists.txt
  src/Mod/Path/Gui/CMakeLists.txt
  src/Mod/ReverseEngineering/App/CMakeLists.txt
  src/Mod/ReverseEngineering/Gui/CMakeLists.txt
  src/Mod/Robot/App/CMakeLists.txt
  src/Mod/Robot/Gui/CMakeLists.txt
  src/Mod/Sandbox/Gui/CMakeLists.txt
  src/Mod/Sketcher/App/CMakeLists.txt
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Surface/App/CMakeLists.txt
  src/Mod/Surface/Gui/CMakeLists.txt
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/Gui/CMakeLists.txt
Labels: WB FEM, WB Draft, WB Path, WB TechDraw, WB PartDesign, WB Part, WB Sketcher, WB MeshPart, WB ReverseEngineering

#10688 [Feature Request] [Core] [Preferences] [UI/UX] Buttons to reset default values of Pages/Groups
  src/Gui/DlgPreferences.ui
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/DlgPreferencesImp.h
Labels: Core, UI/UX

#10920 TechDraw: Fix #10919 crash at geometry deletion
  src/Mod/TechDraw/App/DimensionReferences.cpp
Labels: WB TechDraw

#10929 Draft: importSVG: handle viewBox in mm
  src/Mod/Draft/importSVG.py
Labels: WB Draft

#10931 Draft: Update the Plane class (step 2)
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#10923 FEM: pressure constraint overhaul
  src/Mod/Fem/App/FemConstraintPressure.cpp
  src/Mod/Fem/App/FemConstraintPressure.h
  src/Mod/Fem/Gui/TaskFemConstraintPressure.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPressure.h
  src/Mod/Fem/Gui/TaskFemConstraintPressure.ui
  src/Mod/Fem/femexamples/boxanalysis_static.py
  src/Mod/Fem/femexamples/constraint_contact_solid_solid.py
  src/Mod/Fem/femexamples/constraint_section_print.py
  src/Mod/Fem/femexamples/constraint_transform_beam_hinged.py
  src/Mod/Fem/femexamples/material_multiple_tensionrod_twoboxes.py
  src/Mod/Fem/femexamples/material_nl_platewithhole.py
  src/Mod/Fem/femobjects/constraint_initialpressure.py
  src/Mod/Fem/femsolver/calculix/write_constraint_pressure.py
  src/Mod/Fem/femsolver/elmer/equations/deformation_writer.py
  src/Mod/Fem/femsolver/elmer/equations/elasticity_writer.py
  src/Mod/Fem/femsolver/elmer/equations/flow_writer.py
  src/Mod/Fem/femtest/data/calculix/box_static.FCStd
  src/Mod/Fem/femtest/data/calculix/box_static.inp
  src/Mod/Fem/femtest/data/calculix/constraint_contact_solid_solid.FCStd
  src/Mod/Fem/femtest/data/calculix/constraint_contact_solid_solid.inp
  src/Mod/Fem/femtest/data/calculix/constraint_sectionprint.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_beam_hinged.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_tensionrod_twoboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_nonlinear.inp
Labels: WB FEM

#10936 [TD]upgrade WeldSymbol icon (#10916)
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_WeldSymbol.svg
Labels: WB TechDraw

#10934 Part: Add several unit tests for an empty edge or face
  src/Mod/Part/TestPartApp.py
Labels: WB Part

#10938 [MacroExecuteDialog] set keyboard focus to LineEditFind
  src/Gui/DlgMacroExecuteImp.cpp
Labels: Core

#10941 Base: replace calls of printf() with Console().DeveloperWarning()
  src/Base/Observer.h
Labels: Core

#10935 Fem: Force constraint overhaul
  src/Mod/Fem/App/FemConstraintForce.cpp
  src/Mod/Fem/App/FemConstraintForce.h
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/TaskFemConstraintForce.cpp
  src/Mod/Fem/Gui/TaskFemConstraintForce.h
  src/Mod/Fem/Gui/TaskFemConstraintForce.ui
  src/Mod/Fem/femexamples/boxanalysis_static.py
  src/Mod/Fem/femexamples/buckling_lateraltorsionalbuckling.py
  src/Mod/Fem/femexamples/buckling_platebuckling.py
  src/Mod/Fem/femexamples/ccx_buckling_flexuralbuckling.py
  src/Mod/Fem/femexamples/ccx_cantilever_base_edge.py
  src/Mod/Fem/femexamples/ccx_cantilever_base_face.py
  src/Mod/Fem/femexamples/ccx_cantilever_faceload.py
  src/Mod/Fem/femexamples/ccx_cantilever_nodeload.py
  src/Mod/Fem/femexamples/constraint_contact_shell_shell.py
  src/Mod/Fem/femexamples/constraint_tie.py
  src/Mod/Fem/femexamples/constraint_transform_torque.py
  src/Mod/Fem/femexamples/material_multiple_bendingbeam_fiveboxes.py
  src/Mod/Fem/femexamples/material_multiple_bendingbeam_fivefaces.py
  src/Mod/Fem/femexamples/mystran_plate.py
  src/Mod/Fem/femexamples/rc_wall_2d.py
  src/Mod/Fem/femexamples/square_pipe_end_twisted_edgeforces.py
  src/Mod/Fem/femexamples/square_pipe_end_twisted_nodeforces.py
  src/Mod/Fem/femexamples/truss_3d_cs_circle_ele_seg3.py
  src/Mod/Fem/femmesh/meshtools.py
  src/Mod/Fem/femsolver/calculix/write_constraint_force.py
  src/Mod/Fem/femsolver/elmer/equations/deformation_writer.py
  src/Mod/Fem/femsolver/elmer/equations/elasticity_writer.py
  src/Mod/Fem/femsolver/mystran/add_con_force.py
  src/Mod/Fem/femsolver/z88/writer.py
  src/Mod/Fem/femtest/data/calculix/box_frequency.FCStd
  src/Mod/Fem/femtest/data/calculix/box_static.inp
  src/Mod/Fem/femtest/data/calculix/ccx_buckling_flexuralbuckling.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_circle.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_pipe.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_rect.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_hexa20.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad4.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad8.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg2.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria6.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_faceload.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_nodeload.inp
  src/Mod/Fem/femtest/data/calculix/constraint_contact_shell_shell.FCStd
  src/Mod/Fem/femtest/data/calculix/constraint_contact_shell_shell.inp
  src/Mod/Fem/femtest/data/calculix/constraint_tie.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_torque.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fiveboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fivefaces.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_edgeforces.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_nodeforces.inp
Labels: WB FEM

#10958 [TD]fix fail on unmeshed shape
  src/Mod/TechDraw/App/GeometryObject.cpp
Labels: WB TechDraw

#10531 [Sketcher] Angle constraint refactor
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.h
Labels: WB Sketcher

#10877 Sketcher: Fix segfault when activating a tool in a different view
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#10957 Fem: Remove markers from scenegraph - fixes #10438
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.h
Labels: WB FEM

#10956 Material: Update Python tests to work with other locales Issues #10917 and #10924
  src/Mod/Material/TestMaterialsApp.py
Labels: Materials

#10942 Draft: fix multiline offset for rotated SVG texts
  src/Mod/Draft/draftfunctions/svgtext.py
Labels: WB Draft

#10943 Arch: Read and write object.Label on Wavefront OBJ import and export
  src/Mod/Arch/importOBJ.py
Labels: WB Arch, File format: OBJ

#10951 Start: fixes #10221: /tmp/FreeCADStartThumbnails* directories are no…
  src/Mod/Start/StartPage/StartPage.py
Labels: WB Start

#10955 Arch: ArchFrame typos when checking enum values
  src/Mod/Arch/ArchFrame.py
Labels: WB Arch

#10962 Draft: Fix cursor scaling issue
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: WB Draft

#10946 Gui: Enable the thumbnail size widget by default
  src/Gui/PreferencePages/DlgSettingsDocument.ui
Labels: Core

#10959 [GUI] Fix memory leak in ViewProviderPlane.cpp
  src/Gui/ViewProviderPlane.cpp
Labels: Core

#10969 Workbench list in settings, small UI fix.
  src/Gui/PreferencePages/DlgSettingsWorkbenchesImp.cpp
Labels: Core, UI/UX

#10963 Gui: Fix rotation center indicator for Gesture styles
  src/Gui/GestureNavigationStyle.cpp
  src/Gui/MayaGestureNavigationStyle.cpp
Labels: Core

#10947 Fix #10910 Authoring and Licence, Empty Licence URL breaks
  src/App/Document.cpp
Labels: Core

#10949 Gui: Initial save of a document doesn't have the expected thumbnail
  src/Gui/Thumbnail.cpp
Labels: Core

#10990 App: the function findLicense() uses the '==' operator to compare two…
  src/App/License.h
  tests/src/App/License.cpp
Labels: Core

#10986 [Sketcher]Fix typo making Sketcher_Dimension fails for angles.
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10980 Fem: Remove callback added by filters task box and rework marker classes
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.h
Labels: WB FEM

#10818 Gui: fix selection of nested object in App::Part
  src/Gui/Tree.cpp
Labels: Core

#10989 Arch: Fix multiple issues with ImportOBJ.py
  src/Mod/Arch/importOBJ.py
Labels: WB Arch

#10909 App/Toponaming: Add base64 encoding to XML
  src/Base/Base64.cpp
  src/Base/Base64.h
  src/Base/Base64Filter.h
  src/Base/CMakeLists.txt
  src/Base/FileInfo.h
  src/Base/Reader.cpp
  src/Base/Reader.h
  src/Base/Writer.cpp
  src/Base/Writer.h
  tests/src/Base/Base64.cpp
  tests/src/Base/CMakeLists.txt
  tests/src/Base/Reader.cpp
  tests/src/Base/Writer.cpp
Labels: Core

#10991 Draft: Use DXF OCS when importing circles and arcs to Part shapes
  src/Mod/Draft/importDXF.py
Labels: WB Draft, File format: DXF

#10998 Gui: fixes a problem that if executing a macro that requires user-int…
  src/Gui/DlgMacroExecuteImp.cpp
  src/Gui/EditorView.cpp
Labels: Core

#11002 Draft: Import DXF: handle arc angles larger than 360 degrees
  src/Mod/Draft/importDXF.py
Labels: WB Draft, File format: DXF

#10968 [stylesheets]Fix for Qcombobox in Qstyle Fusion
  src/Gui/Stylesheets/Dark-modern.qss
  src/Gui/Stylesheets/Dark.qss
  src/Gui/Stylesheets/Darker.qss
  src/Gui/Stylesheets/Light-modern.qss
  src/Gui/Stylesheets/Light.qss
Labels: Core, UI/UX, Stylesheets

#10992 Fem: Plot vector components in FemPostDataAlongLineFilter - fixes #5916
  src/Mod/Fem/App/FemPostFilter.cpp
  src/Mod/Fem/App/FemPostFilter.h
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
Labels: WB FEM

#11010 Draft: Introduction of the PlaneGui class
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#10915 [Path] Prevent division by zero
  src/Mod/Path/App/VoronoiEdgePyImp.cpp
Labels: WB Path

#11019 Base: add method XMLReader::isStartOfDocument()
  src/Base/Reader.cpp
  src/Base/Reader.h
  tests/src/Base/Reader.cpp
Labels: Core

#11021 Gui: fix invalid placeholder for argument in QString
  src/Gui/OverlayManager.cpp
Labels: Core

#11028 Add setHeaderIcon to actiongroup.h
  src/Gui/QSint/actionpanel/actiongroup.cpp
  src/Gui/QSint/actionpanel/actiongroup.h
Labels: Core

#11030 Fem: Change TaskPostBoxes constructors to specific view providers
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.h
  src/Mod/Fem/Gui/ViewProviderFemPostFilter.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
Labels: WB FEM

#11033 Gui: implement option to disable overlay management
  src/Gui/DockWindowManager.cpp
  src/Gui/DockWindowManager.h
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/PreferencePages/DlgSettingsGeneral.ui
  src/Gui/Workbench.cpp
Labels: Core

#11035 Gui: [skip ci] remove empty lines from .ui file
  src/Gui/PreferencePages/DlgSettingsGeneral.ui
Labels: Core

#11038 Gui: Switch back to a single Reset button
  src/Gui/DlgPreferences.ui
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/DlgPreferencesImp.h
Labels: Core

#11040 Draft: PlaneGui: some updates and fixes.
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#11039 Gui: Register overlay search path from preference packs
  src/Gui/PreferencePackManager.cpp
Labels: Core

#11041 Assembly: fixes #11034: Assembly_rc.py not installed
  src/Mod/Assembly/Gui/CMakeLists.txt
Labels: WB Assembly

#11049 Draft: PlaneGui: minor fix
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#11050 Draft: Change get_3d_view to only return the active 3D view
  src/Mod/Draft/draftutils/gui_utils.py
Labels: WB Draft

#10930 Arch: Made Arch Reference case-insensitive
  src/Mod/Arch/ArchReference.py
Labels: WB Arch

#10914 Path: Added type annotations along with some refactoring.
  src/Mod/Path/Path/Post/UtilsArguments.py
  src/Mod/Path/Path/Post/scripts/refactored_test_post.py
  src/Mod/Path/PathTests/TestRefactoredTestPost.py
Labels: WB Path

#11042 Gui: Target proper widget when passing wheel event
  src/Gui/OverlayManager.cpp
Labels: Core

#11005 [Overlay/Stylesheets] Seperate Overlay stylesheets for default stylesheets.
  src/Gui/PreferencePacks/Dark modern/Dark modern.cfg
  src/Gui/PreferencePacks/Dark/Dark.cfg
  src/Gui/PreferencePacks/Darker/Darker.cfg
  src/Gui/PreferencePacks/Light modern/Light modern.cfg
  src/Gui/PreferencePacks/Light/Light.cfg
  src/Gui/Stylesheets/CMakeLists.txt
  src/Gui/Stylesheets/Dark-modern.qss
  src/Gui/Stylesheets/Dark.qss
  src/Gui/Stylesheets/Darker.qss
  src/Gui/Stylesheets/Light-modern.qss
  src/Gui/Stylesheets/Light.qss
  src/Gui/Stylesheets/overlay/Dark-Modern_overlay.qss
  src/Gui/Stylesheets/overlay/Dark_overlay.qss
  src/Gui/Stylesheets/overlay/Darker_overlay.qss
  src/Gui/Stylesheets/overlay/Light-Modern_overlay.qss
  src/Gui/Stylesheets/overlay/Light_overlay.qss
Labels: Core, UI/UX, Stylesheets

#10953 Path: rework LeadInOutDressup
  src/Mod/Path/Path/Base/Language.py
  src/Mod/Path/Path/Dressup/DogboneII.py
  src/Mod/Path/Path/Dressup/Gui/LeadInOut.py
  src/Mod/Path/Path/Dressup/Gui/RampEntry.py
  src/Mod/Path/Path/Dressup/Tags.py
  src/Mod/Path/PathPythonGui/simple_edit_panel.py
  src/Mod/Path/PathTests/TestPathDressupDogboneII.py
Labels: WB Path

#10830 Add hotkey to expression tooltip, rename Formula editor
  src/Gui/DlgExpressionInput.ui
  src/Gui/QuantitySpinBox_p.h
  src/Mod/Path/Path/Base/Gui/Util.py
Labels: Core, WB Path

#11059 Gui: fixes #11045: Freecad fails to start after uninstalling disabled…
  src/Gui/PreferencePackManager.cpp
  src/Gui/PreferencePackManager.h
Labels: Core

#10977 File formats: Uppercase file types when importing a file.
  src/Gui/Application.cpp
  src/Gui/FreeCADGuiInit.py
  src/Mod/Arch/Init.py
  src/Mod/Assembly/Init.py
  src/Mod/Draft/Init.py
  src/Mod/Fem/Init.py
  src/Mod/Idf/Init.py
  src/Mod/Import/Init.py
  src/Mod/Import/InitGui.py
  src/Mod/Mesh/Init.py
  src/Mod/OpenSCAD/Init.py
  src/Mod/OpenSCAD/InitGui.py
  src/Mod/Part/Init.py
  src/Mod/Path/InitGui.py
  src/Mod/Points/Init.py
  src/Mod/Spreadsheet/Init.py
  src/Mod/Spreadsheet/InitGui.py
  src/Mod/Web/InitGui.py
Labels: Core, WB FEM, WB Arch, WB Draft, WB Path, WB Part, WB Spreadsheet, WB OpenSCAD, WB Mesh, WB Points, WB Assembly

#11061 Add F-word to output on zcorrect dressup
  src/Mod/Path/Path/Dressup/Gui/ZCorrect.py
Labels: WB Path

#11067 AddonManager: handle the case of symlinked addon when uninstalling
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Addon Manager

#11064 Draft: Fix angular dimension issue caused by #10556
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#11062 Draft: Update gui_selectplane.py
  src/Mod/Draft/Resources/ui/TaskSelectPlane.ui
  src/Mod/Draft/draftguitools/gui_selectplane.py
Labels: WB Draft

#11073 Update MakePrismPy.xml
  src/Mod/Part/App/BRepFeat/MakePrismPy.xml
Labels: WB Part

#11081 Draft: Make Facebinders link-aware
  src/Mod/Draft/draftguitools/gui_facebinders.py
  src/Mod/Draft/draftobjects/facebinder.py
Labels: WB Draft

#11080 Draft: Updates related to the PlaneGui class
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/DraftTools.py
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_labels.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_planeproxy.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftguitools/gui_tool_utils.py
Labels: WB Draft

#11075 Help module: Shorten string width to 80 characters.
  src/Mod/Arch/importSHP.py
  src/Mod/Help/dlgPreferencesHelp.ui
Labels: WB Arch

#11079 [PD] Remove unused old hole feature implementation
  src/Mod/PartDesign/CMakeLists.txt
  src/Mod/PartDesign/FeatureHole/FeatureHole.py
  src/Mod/PartDesign/FeatureHole/HoleGui.py
  src/Mod/PartDesign/FeatureHole/PartDesign_Hole.svg
  src/Mod/PartDesign/FeatureHole/Standards.py
  src/Mod/PartDesign/FeatureHole/TaskHole.py
  src/Mod/PartDesign/FeatureHole/TaskHole.ui
  src/Mod/PartDesign/FeatureHole/ViewProviderHole.py
  src/Mod/PartDesign/FeatureHole/__init__.py
Labels: WB PartDesign

#11077 Gui: Target 3DViewer directly for overlay wheel events
  src/Gui/OverlayManager.cpp
Labels: Core

#11095 TD: fix GeometryMatcher::compareBSplines
  src/Mod/TechDraw/App/GeometryMatcher.cpp
Labels: WB TechDraw

#11094 Sheet: remove double call of 'mimeData->hasText()'
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
Labels: WB Spreadsheet

#11090 Draft: importDXF: fix off layer bug
  src/Mod/Draft/importDXF.py
Labels: WB Draft

#11100 Mesh: disable potentially unsafe code in Wm4 library
  src/Mod/Mesh/App/WildMagic4/Wm4TRational.h
  src/Mod/Mesh/App/WildMagic4/Wm4TRational.inl
Labels: WB Mesh

#11097 PD: fix constructor of TaskTransformedParameters
  src/Mod/PartDesign/Gui/TaskTransformedParameters.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.h
Labels: WB PartDesign

#11070 EditableDatumLabel add support for angle labels.
  src/Gui/EditableDatumLabel.cpp
  src/Gui/EditableDatumLabel.h
Labels: Core

#11114 Sketch: fix Qt6 build failure
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.cpp
Labels: WB Sketcher

#11115 Draft: PlaneGui: minor fixes
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#11116 Sketch: fix several compiler and lint warnings
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.cpp
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.h
Labels: WB Sketcher

#11119 Sketch: use new-style connect() in new code
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.cpp
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.h
Labels: WB Sketcher

#11123 [TechDraw] - Cosmetic Circle fixes
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.cpp
Labels: WB TechDraw

#11122 Gui: MenuText for Std_SelBack and Std_SelForward in sentence case
  src/Gui/CommandView.cpp
Labels: Core

#11124 Gui: Improve texts for unit system preferences
  src/Gui/PreferencePages/DlgSettingsGeneral.ui
Labels: Core, Preferences

#11125 [TD]fix printAllPdf info block text #11087
  src/Mod/TechDraw/Gui/PagePrinter.cpp
  src/Mod/TechDraw/Gui/PagePrinter.h
Labels: WB TechDraw

#11134 Draft: Fix Gui.doCommand issue in gui_planeproxy caused by PR11080
  src/Mod/Draft/draftguitools/gui_planeproxy.py
Labels: WB Draft

#11140 Sketcher: commandConstraint : remove leftover bothexternal variable.
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#11143 Draft: importSVG: handle viewBox in mm (PR10929 fix was not correct)
  src/Mod/Draft/importSVG.py
Labels: WB Draft

#11144 Draft: PlaneGui: some minor fixes
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#11051 Gui: Remove CornerNaviCube from OverlayParams and use directly in OverlayManager
  src/Gui/OverlayManager.cpp
  src/Gui/OverlayParams.cpp
  src/Gui/OverlayParams.h
  src/Gui/OverlayParams.py
Labels: Core

#11129 Part: Filter selection GUI texts to sentence case
  src/Mod/Part/Gui/CommandFilter.cpp
Labels: WB Part

#11063 Path: Split up TestRefactoredTestPost.py; fixed lint errors.
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Path/Post/UtilsArguments.py
  src/Mod/Path/Path/Post/scripts/refactored_test_post.py
  src/Mod/Path/PathTests/TestRefactoredTestPost.py
  src/Mod/Path/PathTests/TestRefactoredTestPostGCodes.py
  src/Mod/Path/PathTests/TestRefactoredTestPostMCodes.py
  src/Mod/Path/TestPathApp.py
Labels: WB Path

#10878 [Feature Request] [Draft] [UI/UX] new Draft_Hyperlink command
  src/Mod/Draft/CMakeLists.txt
  src/Mod/Draft/InitGui.py
  src/Mod/Draft/draftguitools/gui_hyperlink.py
Labels: WB Draft

#11066 [FEM] Improve some task dialog layouts
  src/Mod/Fem/Gui/BoxWidget.ui
  src/Mod/Fem/Gui/CylinderWidget.ui
  src/Mod/Fem/Gui/PlaneWidget.ui
  src/Mod/Fem/Gui/SphereWidget.ui
  src/Mod/Fem/Gui/TaskPostDataAlongLine.ui
  src/Mod/Fem/Gui/TaskPostDataAtPoint.ui
Labels: WB FEM

#11089 PD: wrong direction determined for linear pattern
  src/Mod/PartDesign/App/FeatureLinearPattern.cpp
Labels: WB PartDesign

#11121 Gui: Make "Dock window overlay" GUI texts more consistent
  src/Gui/CommandView.cpp
Labels: Core

#11126 Fem: Connect constraint temperature spinboxes to properties and task dialog rework - fixes #11109
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.h
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.ui
Labels: WB FEM

#11146 Gui: fixes issue #11113: Adjust Default Main Light Position
  src/Gui/CMakeLists.txt
  src/Gui/PreferencePages/DlgSettingsLightSources.cpp
  src/Gui/PreferencePages/DlgSettingsLightSources.h
  src/Gui/PreferencePages/DlgSettingsLightSources.ui
  src/Gui/View3DSettings.cpp
  src/Gui/resource.cpp
Labels: Core

#11152 MDI tabs, meaningful icons.
  src/Gui/Document.cpp
  src/Gui/View3DInventor.cpp
Labels: Core

#11153 Arch: Updates related to the PlaneGui class
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchCurtainWall.py
  src/Mod/Arch/ArchCutPlane.py
  src/Mod/Arch/ArchNesting.py
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchSectionPlane.py
  src/Mod/Arch/ArchStructure.py
  src/Mod/Arch/ArchTruss.py
  src/Mod/Arch/ArchVRM.py
  src/Mod/Arch/ArchWall.py
  src/Mod/Arch/ArchWindow.py
  src/Mod/Arch/importIFCHelper.py
Labels: WB Arch

#11156 Draft: Make Facebinders link-aware (fix errors in previous PR)
  src/Mod/Draft/draftobjects/facebinder.py
Labels: WB Draft

#11108 Path: fix Profile open edges not respecting selected cutting direction
  src/Mod/Path/Path/Op/Area.py
Labels: WB Path

#11159 Fix build failing due to f566b44
  src/Gui/InventorAll.h
Labels: Core

#11160 Draft: Draft_SelectPlane was not correctly finished in case of a pre-selection
  src/Mod/Draft/draftguitools/gui_selectplane.py
Labels: WB Draft

#11161 [Sketcher] Tool setting card 6 : changes to SketcherToolDefaultWidget
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.cpp
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.h
Labels: WB Sketcher

#11167 [TechDraw] - Cosmetic edge fixes
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
Labels: WB TechDraw

#11179 Draft: Make Facebinders link-aware (2nd error fix)
  src/Mod/Draft/draftobjects/facebinder.py
Labels: WB Draft

#11177 Fix lint warnings in viewer class
  src/Gui/Quarter/SoQTQuarterAdaptor.cpp
  src/Gui/Quarter/SoQTQuarterAdaptor.h
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
Labels: Core

#11176 Update CurveConstraintPy.xml
  src/Mod/Part/App/GeomPlate/CurveConstraintPy.xml
Labels: WB Part

#11178 Update PointConstraintPy.xml
  src/Mod/Part/App/GeomPlate/PointConstraintPy.xml
Labels: WB Part

#11181 Part: Fix mistake in Part.getShape docstring
  src/Mod/Part/App/AppPartPy.cpp
Labels: WB Part, Coding: Python

#11194 [TD]fix loss of line style
  src/Mod/TechDraw/Gui/QGIEdge.cpp
  src/Mod/TechDraw/Gui/QGIPrimPath.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
Labels: WB TechDraw

#11201 Draft: PlaneGui: update wp._view earlier
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#11117 Draft: Updates related to the PlaneGui class (step 2)
  src/Mod/Draft/draftfunctions/dxf.py
  src/Mod/Draft/draftfunctions/mirror.py
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftfunctions/svgshapes.py
  src/Mod/Draft/draftgeoutils/wires.py
  src/Mod/Draft/draftguitools/__init__.py
  src/Mod/Draft/draftmake/make_dimension.py
  src/Mod/Draft/draftviewproviders/view_wire.py
  src/Mod/Draft/importDXF.py
Labels: WB Draft

#11202 Gui: invalid property type used for spin box, duplicated object name …
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
Labels: Core

#11203 Draft: Updates related to the PlaneGui class (step 3)
  src/Mod/Draft/draftobjects/dimension.py
  src/Mod/Draft/drafttaskpanels/task_circulararray.py
  src/Mod/Draft/drafttaskpanels/task_polararray.py
Labels: WB Draft

#11198 Fix issue #9465
  src/Gui/SoFCCSysDragger.cpp
Labels: Core

#11207 Bugfix/issue #10144 FreeCAD freezes when clicking inside spreadsheet
  src/Mod/Spreadsheet/Gui/AppSpreadsheetGui.cpp
Labels: WB Spreadsheet

#11217 [TD]fix spurious missing object message
  src/Mod/TechDraw/Gui/TaskDetail.cpp
Labels: WB TechDraw

#11204 Draft: Fixed linewidths in SVG export
  src/Mod/Draft/importSVG.py
Labels: WB Draft

#11229 Part: Refactor of Section cutting (Step 1)
  src/Mod/Part/Gui/SectionCutting.cpp
  src/Mod/Part/Gui/SectionCutting.h
Labels: WB Part

#11216 Base: set sys.last_vars to enable post mortem debugging after exception
  src/Base/Interpreter.cpp
Labels: Core

#11236 [TD]fix 2 tidy warnings
  src/Mod/TechDraw/Gui/QGIEdge.cpp
  src/Mod/TechDraw/Gui/TaskLineDecor.cpp
Labels: WB TechDraw

#11220 Draft: Updates related to the PlaneGui class (step 4)
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#11225 Arch: fix Placement multiplication for subvolumes
  src/Mod/Arch/ArchWindow.py
Labels: WB Arch

#11237 Draft: clone IfcType and Subvolume properties
  src/Mod/Draft/draftmake/make_clone.py
Labels: WB Draft
