Repository FreeCAD/FreeCAD, pull requests merged in 2023-05, with the labels that each got.

#9451 Core: do not override sys.stdin when using FreeCAD as Python module
  src/Gui/PythonConsole.cpp
  src/Gui/PythonConsolePy.cpp
  src/Gui/PythonConsolePy.h
  src/Main/FreeCADGuiPy.cpp
Labels: Core, Python

#9434 Sketcher: Translate the menu entries in attach dialog
  src/Mod/Sketcher/Gui/Command.cpp
Labels: WB Sketcher

#9374 PD: translation of context-menu item
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.cpp
  src/Mod/PartDesign/Gui/ViewProviderChamfer.cpp
  src/Mod/PartDesign/Gui/ViewProviderChamfer.h
  src/Mod/PartDesign/Gui/ViewProviderDraft.cpp
  src/Mod/PartDesign/Gui/ViewProviderDraft.h
  src/Mod/PartDesign/Gui/ViewProviderDressUp.cpp
  src/Mod/PartDesign/Gui/ViewProviderDressUp.h
  src/Mod/PartDesign/Gui/ViewProviderFillet.cpp
  src/Mod/PartDesign/Gui/ViewProviderFillet.h
  src/Mod/PartDesign/Gui/ViewProviderLinearPattern.cpp
  src/Mod/PartDesign/Gui/ViewProviderLinearPattern.h
  src/Mod/PartDesign/Gui/ViewProviderMirrored.cpp
  src/Mod/PartDesign/Gui/ViewProviderMirrored.h
  src/Mod/PartDesign/Gui/ViewProviderMultiTransform.cpp
  src/Mod/PartDesign/Gui/ViewProviderMultiTransform.h
  src/Mod/PartDesign/Gui/ViewProviderPolarPattern.cpp
  src/Mod/PartDesign/Gui/ViewProviderPolarPattern.h
  src/Mod/PartDesign/Gui/ViewProviderScaled.cpp
  src/Mod/PartDesign/Gui/ViewProviderScaled.h
  src/Mod/PartDesign/Gui/ViewProviderThickness.cpp
  src/Mod/PartDesign/Gui/ViewProviderThickness.h
  src/Mod/PartDesign/Gui/ViewProviderTransformed.cpp
  src/Mod/PartDesign/Gui/ViewProviderTransformed.h
Labels: L10N, WB PartDesign

#9461 Sketcher: Tweak wording as suggested by translators
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
Labels: WB Sketcher

#9433 GUI: Transform sr-CS to sr_Latn in menu entry
  src/Gui/DlgGeneralImp.cpp
Labels: Core, L10N

#9462 Sketcher: Fixes wrong redundancy reporting
  src/Mod/Sketcher/App/planegcs/GCS.cpp
Labels: WB Sketcher

#9419 PATH: Change GUI Op Base Geometry Import button to support multiple bases
  src/Mod/Path/Path/Op/Gui/Base.py
Labels: WB Path

#9463 Gui: do not enable lighting when rendering from image or framebuffer
  src/Gui/View3DInventorViewer.cpp
Labels: Core

#9455 Use View3DInventorViewer::setSelectionEnabled instead of SoFCUnifiedS…
  src/Gui/CommandView.cpp
  src/Gui/ViewProviderDragger.cpp
  src/Mod/Part/Gui/BoxSelection.cpp
  src/Mod/Part/Gui/TaskFaceColors.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerCarbonCopy.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExternal.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Core, WB Part, WB Sketcher

#9478 [TD]fix rotation of App::Link
  src/Mod/TechDraw/App/ShapeExtractor.cpp
  src/Mod/TechDraw/App/ShapeExtractor.h
Labels: WB TechDraw

#9443 Sketcher: element arc icons have start and end point switched
  src/Mod/Sketcher/Gui/Resources/icons/elements/Sketcher_Element_Arc_EndPoint.svg
  src/Mod/Sketcher/Gui/Resources/icons/elements/Sketcher_Element_Arc_StartingPoint.svg
Labels: WB Sketcher

#9469 Compatibility with OpenGL ES
  src/Gui/NaviCube.cpp
Labels: Core

#9398 Fixed segmentation fault in PartDesign workbench
  src/Mod/PartDesign/Gui/Utils.cpp
Labels: WB PartDesign

#9456 FEM: Adjust translation context for SolverCalculiX
  src/Mod/Fem/femcommands/commands.py
Labels: WB FEM, L10N

#9475 TechDraw: Add missing translation string
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: L10N, WB TechDraw

#9464 Draft: Add l10n context for ambiguous string
  src/Mod/Draft/draftguitools/gui_selectplane.py
  src/Mod/Draft/draftutils/translate.py
Labels: L10N, WB Draft

#9489 Addon Manager: Translation issues
  src/Mod/AddonManager/AddonManager.ui
  src/Mod/AddonManager/addonmanager_installer_gui.py
  src/Mod/AddonManager/expanded_view.py
Labels: Addon Manager

#9430 Begin translating user-visible exception strings
  src/Mod/Part/Gui/DlgExtrusion.cpp
  src/Mod/Part/Gui/DlgPrimitives.cpp
  src/Mod/Part/Gui/DlgRevolution.cpp
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/Part/Gui/TaskLoft.cpp
  src/Mod/Part/Gui/TaskOffset.cpp
  src/Mod/Part/Gui/TaskSweep.cpp
  src/Mod/Part/Gui/TaskThickness.cpp
  src/Mod/PartDesign/App/Body.cpp
  src/Mod/PartDesign/App/FeatureBase.cpp
  src/Mod/PartDesign/App/FeatureBoolean.cpp
  src/Mod/PartDesign/App/FeatureChamfer.cpp
  src/Mod/PartDesign/App/FeatureDraft.cpp
  src/Mod/PartDesign/App/FeatureFillet.cpp
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/TaskBooleanParameters.cpp
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskMirroredParameters.cpp
  src/Mod/PartDesign/Gui/TaskPipeParameters.cpp
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskPrimitiveParameters.cpp
  src/Mod/PartDesign/Gui/TaskShapeBinder.cpp
Labels: WB PartDesign, WB Part

#9482 Gui: disable lighting for the label of an axis
  src/Gui/ViewProviderOrigin.cpp
Labels: Core

#9484 Path: Minor translation cleanup
  src/Mod/Path/Gui/Resources/panels/PageOpSurfaceEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpWaterlineEdit.ui
  src/Mod/Path/InitGui.py
  src/Mod/Path/Path/Main/Gui/Sanity.py
  src/Mod/Path/Path/Main/Gui/Simulator.py
  src/Mod/Path/Path/Main/Job.py
  src/Mod/Path/Path/Op/Custom.py
  src/Mod/Path/Path/Op/Deburr.py
  src/Mod/Path/Path/Op/Gui/Custom.py
  src/Mod/Path/Path/Op/Surface.py
  src/Mod/Path/Path/Op/Waterline.py
  src/Mod/Path/Path/Post/scripts/KineticNCBeamicon2_post.py
  src/Mod/Path/Path/Post/scripts/centroid_post.py
  src/Mod/Path/Path/Post/scripts/comparams_post.py
  src/Mod/Path/Path/Post/scripts/dxf_post.py
  src/Mod/Path/Path/Post/scripts/dynapath_4060_post.py
  src/Mod/Path/Path/Post/scripts/dynapath_post.py
  src/Mod/Path/Path/Post/scripts/estlcam_post.py
  src/Mod/Path/Path/Post/scripts/fangling_post.py
  src/Mod/Path/Path/Post/scripts/fanuc_post.py
  src/Mod/Path/Path/Post/scripts/jtech_post.py
  src/Mod/Path/Path/Post/scripts/linuxcnc_post.py
  src/Mod/Path/Path/Post/scripts/mach3_mach4_post.py
  src/Mod/Path/Path/Post/scripts/nccad_post.py
  src/Mod/Path/Path/Post/scripts/refactored_centroid_post.py
  src/Mod/Path/Path/Post/scripts/refactored_linuxcnc_post.py
  src/Mod/Path/Path/Post/scripts/refactored_mach3_mach4_post.py
  src/Mod/Path/Path/Post/scripts/refactored_test_post.py
  src/Mod/Path/Path/Post/scripts/smoothie_post.py
  src/Mod/Path/Path/Post/scripts/uccnc_post.py
Labels: L10N, WB Path

#9490 Tools: Add exclusion list to lupdate calls
  src/Tools/updatets.py
Labels: L10N

#9493 Path: Unify use of 'bounding box' terminology
  src/Mod/Path/Gui/Resources/panels/DlgJobTemplateExport.ui
  src/Mod/Path/Gui/Resources/panels/DressupPathBoundary.ui
  src/Mod/Path/Gui/Resources/panels/PageOpSlotEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpSurfaceEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpWaterlineEdit.ui
  src/Mod/Path/Gui/Resources/panels/PathEdit.ui
  src/Mod/Path/Gui/Resources/preferences/PathJob.ui
  src/Mod/Path/Path/Op/Slot.py
Labels: L10N, WB Path

#9488 Fix #9485: PathInspector broken by #8459
  src/Mod/Path/Path/Main/Gui/Inspect.py
Labels: WB Path

#9487 GUI: Don't have report view message tell users to see report view
  src/App/Document.cpp
Labels: Core

#9486 Path: Minor translation fixes part 2
  src/Mod/Path/Gui/Resources/preferences/PathDressupHoldingTags.ui
  src/Mod/Path/Path/Base/SetupSheet.py
  src/Mod/Path/Path/Dressup/DogboneII.py
  src/Mod/Path/Path/Dressup/Gui/Boundary.py
  src/Mod/Path/Path/Dressup/Gui/Dogbone.py
  src/Mod/Path/Path/Main/Gui/Fixture.py
  src/Mod/Path/Path/Main/Gui/JobCmd.py
  src/Mod/Path/Path/Op/Area.py
  src/Mod/Path/Path/Op/Gui/Drilling.py
  src/Mod/Path/Path/Op/Gui/Helix.py
  src/Mod/Path/Path/Op/Gui/Pocket.py
  src/Mod/Path/Path/Op/Vcarve.py
  src/Mod/Path/PathCommands.py
Labels: L10N, WB Path

#9444 Draft: improve handling of DWG-converters
  src/Mod/Draft/importDWG.py
Labels: WB Draft

#9375 Draft: Std_TransformManip should not be called from setEdit
  src/Mod/Arch/ArchPanel.py
  src/Mod/Draft/draftviewproviders/view_base.py
  src/Mod/Draft/draftviewproviders/view_fillet.py
  src/Mod/Draft/draftviewproviders/view_point.py
Labels: WB Arch, WB Draft

#9498 [TD]fix #9471 - prevent impossible centerline
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/GeometryMatcher.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.h
Labels: WB TechDraw

#9503 Sketcher: Sketcher_SelectHorizontalAxis before Sketcher_SelectVerticalAxis in menu
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#9504 Sketcher: improve context menu text for Sketcher_ToggleConstruction
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
Labels: WB Sketcher

#9510 Gui: fix NaviCube in split views:
  src/Gui/NaviCube.cpp
  src/Gui/SplitView3DInventor.cpp
  src/Gui/View3DSettings.cpp
Labels: Core, navicube

#9492 Gui: Refactor NaviCube camera orientation handling
  src/Gui/NaviCube.cpp
Labels: Core, navicube

#9123 [020] [Expressions] auto-completion fixes
  src/Gui/ExpressionCompleter.cpp
  src/Gui/ExpressionCompleter.h
Labels: Core

#9524 [TD]allow bmp as image format
  src/Mod/TechDraw/App/DrawViewImage.cpp
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
Labels: WB TechDraw

#9509 GitHub: Adjust Issue templates
  .github/ISSUE_TEMPLATE/BACKPORT_REQUEST.yml
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
Labels: :octocat:

#9529 Gui: when loading SVG images get default size and keep aspect ratio
  src/Gui/ViewProviderImagePlane.cpp
  src/Gui/ViewProviderImagePlane.h
Labels: Core

#9511 Path: Remove unnecessary HTML
  src/Mod/Path/Gui/Resources/panels/AxisMapEdit.ui
  src/Mod/Path/Gui/Resources/panels/DlgJobCreate.ui
  src/Mod/Path/Gui/Resources/panels/DlgJobTemplateExport.ui
  src/Mod/Path/Gui/Resources/panels/DlgSelectPostProcessor.ui
  src/Mod/Path/Gui/Resources/panels/DogboneEdit.ui
  src/Mod/Path/Gui/Resources/panels/DragKnifeEdit.ui
  src/Mod/Path/Gui/Resources/panels/DressUpLeadInOutEdit.ui
  src/Mod/Path/Gui/Resources/panels/DressupPathBoundary.ui
  src/Mod/Path/Gui/Resources/panels/HoldingTagsEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageBaseGeometryEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageBaseHoleGeometryEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageBaseLocationEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageDepthsEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageDiametersEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageHeightsEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpAdaptiveEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpCustomEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpDeburrEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpDrillingEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpEngraveEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpHelixEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpPocketExtEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpPocketFullEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpProbeEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpProfileFullEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpSlotEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpSurfaceEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpVcarveEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpWaterlineEdit.ui
  src/Mod/Path/Gui/Resources/panels/PathEdit.ui
  src/Mod/Path/Gui/Resources/panels/PropertyCreate.ui
  src/Mod/Path/Gui/Resources/panels/SetupGlobal.ui
  src/Mod/Path/Gui/Resources/panels/SurfaceEdit.ui
  src/Mod/Path/Gui/Resources/panels/ToolBitEditor.ui
  src/Mod/Path/Gui/Resources/panels/ToolBitLibraryEdit.ui
  src/Mod/Path/Gui/Resources/panels/ToolBitSelector.ui
  src/Mod/Path/Gui/Resources/panels/ZCorrectEdit.ui
  src/Mod/Path/Gui/Resources/preferences/PathDressupHoldingTags.ui
  src/Mod/Path/Gui/Resources/preferences/PathJob.ui
Labels: L10N, WB Path

#9536 Mesh: fixes #9447: Rename Mesh Design to Mesh workbench
  src/Mod/Mesh/InitGui.py
Labels: WB Mesh

#9547 fixes #8161: Clones do not copy colour
  src/Mod/PartDesign/Gui/Command.cpp
Labels: WB PartDesign

#9548 Gui: Minor translation fixes
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
  src/Mod/PartDesign/App/FeatureBoolean.cpp
  src/Mod/PartDesign/App/FeatureChamfer.cpp
  src/Mod/PartDesign/App/FeatureDraft.cpp
  src/Mod/PartDesign/App/FeatureFillet.cpp
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerCarbonCopy.h
Labels: WB PartDesign, WB Part, WB Sketcher

#9541 Pref: Wb: prevent duplicate workbenches in the lists.
  src/Gui/DlgSettingsWorkbenchesImp.cpp
Labels: Core

#9496 Path: 'ToolController' -> 'Tool Controller' in UI panels
  src/Mod/Path/Gui/Resources/panels/PageOpCustomEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpDrillingEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpEngraveEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpProbeEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpSlotEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpSurfaceEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpVcarveEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpWaterlineEdit.ui
  src/Mod/Path/Gui/Resources/panels/SurfaceEdit.ui
Labels: WB Path

#9555 Path: Sanity fix
  cMake/FreeCAD_Helpers/CheckInterModuleDependencies.cmake
  src/Mod/Path/Path/Main/Gui/Sanity.py
Labels: WB Path

#9560 App: add method DocumentObject::getFirstParent()
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
Labels: Core

#9522 Draft: Support group styles in SVG import - fixes #6900
  src/Mod/Draft/importSVG.py
Labels: WB Draft

#9514 Draft: Added dim overshoot parameters to Style task dialog
  src/Mod/Draft/Resources/ui/TaskPanel_SetStyle.ui
  src/Mod/Draft/draftguitools/gui_setstyle.py
Labels: WB Draft

#9533 Draft: Skip SVG import DPI dialog if a unit is specified in the file
  src/Mod/Draft/importSVG.py
Labels: WB Draft

#9564 Draft: Draft_SetStyle tooltip tweak
  src/Mod/Draft/Resources/ui/TaskPanel_SetStyle.ui
Labels: WB Draft

#9568 Gui: check for QApplication instance to avoid crash
  src/Gui/Language/Translator.cpp
Labels: Core

#9563 Minor bug fixes for path sanity
  src/Mod/Path/InitGui.py
  src/Mod/Path/Path/Main/Gui/Sanity.py
Labels: WB Path

#9545 Draft: Indicate which DXF pref option is for legacy importer/exporter only
  src/Mod/Draft/Resources/ui/preferences-dxf.ui
Labels: WB Draft

#9530 Draft: Better svg linestyle settings - fixes #6733
  src/Mod/Draft/Resources/ui/preferences-draftvisual.ui
  src/Mod/Draft/draftfunctions/svg.py
Labels: WB Draft

#9554 Path: fixes #9403: Memory leak in Path
  src/Mod/Path/PathSimulator/App/PathSim.cpp
  src/Mod/Path/PathSimulator/App/PathSim.h
  src/Mod/Path/PathSimulator/App/PathSimPyImp.cpp
Labels: WB Path

#9577 [TD]fix direction precision error #9572
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.h
Labels: WB TechDraw

#9148 App/Toponaming: String hasher
  src/App/CMakeLists.txt
  src/App/StringHasher.cpp
  src/App/StringHasher.h
  src/App/StringHasherPy.xml
  src/App/StringHasherPyImp.cpp
  src/App/StringIDPy.xml
  src/App/StringIDPyImp.cpp
  src/Base/Bitmask.h
  src/Base/Reader.cpp
  src/Base/Reader.h
  src/Base/Writer.cpp
  src/Base/Writer.h
  tests/CMakeLists.txt
  tests/src/App/CMakeLists.txt
  tests/src/App/StringHasher.cpp
  tests/src/Base/Bitmask.cpp
  tests/src/Base/CMakeLists.txt
  tests/src/Base/Reader.cpp
  tests/src/Base/Writer.cpp
Labels: Core, Toponaming

#9580 Fem: Remove Unused variable
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.cpp
Labels: WB FEM

#9592 Arch: endpoint after Wall length change was not in local sketch coords
  src/Mod/Arch/ArchWall.py
Labels: WB Arch

#9413 Sheet: display an error in console when a cyclic dependency is detected
  src/Mod/Spreadsheet/App/Sheet.cpp
Labels: WB Spreadsheet

#9582 Gui: Translate unit system UI
  src/Base/UnitsApi.cpp
  src/Base/UnitsApi.h
  src/Base/UnitsApiPy.cpp
  src/Gui/DlgGeneralImp.cpp
  src/Gui/DlgUnitsCalculatorImp.cpp
  src/Gui/MainWindow.cpp
Labels: Core

#9597 Draft: Draft_Move continue mode failed with numeric input
  src/Mod/Draft/draftguitools/gui_move.py
Labels: WB Draft

#9601 Addon Manager: Fix typo
  src/Mod/AddonManager/compact_view.py
Labels: Addon Manager

#9596 Gui: Mac version info hack
  src/Gui/Splashscreen.cpp
Labels: Core

#9609 Addon Manager: Minor linguistic fixes
  src/Mod/AddonManager/AddonManagerOptions.ui
  src/Mod/AddonManager/developer_mode_add_content.ui
Labels: Addon Manager

#9610 OpenSCAD: Minor wording tweak in preferences
  src/Mod/OpenSCAD/Resources/ui/openscadprefs-base.ui
Labels: WB OpenSCAD

#9612 Addon Manager: Improve error handling for Version
  src/Mod/AddonManager/AddonManagerTest/app/test_metadata.py
  src/Mod/AddonManager/addonmanager_metadata.py
Labels: Addon Manager

#9603 Gui: Hack to get Windows 11 version
  src/Gui/Splashscreen.cpp
Labels: Core, packaging/building

#9215 Gui: Add function in WindowParameter class to connect slot to ParameterManager signal
  src/Gui/Window.cpp
  src/Gui/Window.h
Labels: Core

#9616 Draft: remove obsolete gui_array_simple.py
  src/Mod/Draft/CMakeLists.txt
  src/Mod/Draft/DraftTools.py
  src/Mod/Draft/draftguitools/gui_array_simple.py
Labels: WB Draft

#9608 Path: Remove HTML where not needed
  src/Mod/Path/Gui/Resources/panels/DlgJobTemplateExport.ui
  src/Mod/Path/Gui/Resources/panels/PageOpSurfaceEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpVcarveEdit.ui
  src/Mod/Path/Gui/Resources/panels/PathEdit.ui
  src/Mod/Path/Gui/Resources/panels/SetupGlobal.ui
  src/Mod/Path/Path/Base/Util.py
  src/Mod/Path/Path/Main/Gui/Sanity.py
Labels: L10N, WB Path

#9573 Delete A4_IRAM4504.svg
  src/Mod/TechDraw/Templates/A4_IRAM4504.svg
Labels: WB TechDraw

#9614 Gui: Correct translation context of pref pages
  src/Gui/Language/FreeCAD_es-ES.ts
  src/Mod/AddonManager/AddonManager.py
  src/Mod/Arch/InitGui.py
  src/Mod/Draft/InitGui.py
  src/Mod/Mesh/Gui/AppMeshGui.cpp
  src/Mod/Path/Gui/AppPathGui.cpp
  src/Mod/Path/InitGui.py
  src/Mod/Spreadsheet/Gui/AppSpreadsheetGui.cpp
  src/Mod/Start/Gui/AppStartGui.cpp
  src/Mod/TechDraw/Gui/AppTechDrawGui.cpp
Labels: Core, L10N, WB Arch, WB Draft, WB Path, Addon Manager

#9623 Draft: fix props_changed_placement_only for attached clones and similar
  src/Mod/Draft/draftobjects/array.py
  src/Mod/Draft/draftobjects/base.py
  src/Mod/Draft/draftobjects/block.py
  src/Mod/Draft/draftobjects/clone.py
  src/Mod/Draft/draftobjects/facebinder.py
  src/Mod/Draft/draftobjects/hatch.py
  src/Mod/Draft/draftobjects/patharray.py
  src/Mod/Draft/draftobjects/pathtwistedarray.py
  src/Mod/Draft/draftobjects/pointarray.py
  src/Mod/Draft/draftobjects/shape2dview.py
  src/Mod/Draft/draftobjects/wire.py
  src/Mod/Draft/drafttests/test_modification.py
Labels: WB Draft

#9624 OpenSCAD: Hull/Minkowski also work for a single selected object
  src/Mod/OpenSCAD/OpenSCADCommands.py
Labels: WB OpenSCAD

#9585 Arch: Fixed SVG fill
  src/Mod/Arch/ArchSectionPlane.py
Labels: WB Arch

#9586 Arch: Minor fix to IFC exporter
  src/Mod/Arch/ArchComponent.py
Labels: WB Arch

#9644 MeshPart: Allow to cancel trim by plane
  src/Mod/MeshPart/Gui/Command.cpp
Labels: WB MeshPart

#9645 Sketcher: fix crash when creating a parabola or hyperbola or when usi…
  src/Mod/Sketcher/Gui/EditModeInformationOverlayCoinConverter.cpp
Labels: WB Sketcher

#9632 Draft: Fixes continuing dimensions - fixes #9507
  src/Mod/Draft/draftguitools/gui_dimensions.py
Labels: WB Draft

#9640 Draft: Draft_CubicBezCurve: set EnableSelection to False, fixes #6452
  src/Mod/Draft/draftguitools/gui_beziers.py
Labels: WB Draft

#9615 Gui: Don't show raw exception to user
  src/Gui/Widgets.cpp
Labels: Core

#9637 fix label and file size
  src/Mod/Path/Path/Main/Gui/Sanity.py
Labels: WB Path

#9654 Draft: fix getcoords in gui_snapper.py
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: WB Draft

#9678 Sketcher: 'B-spline' consistency
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSplineByInterpolation.h
Labels: WB Sketcher

#9681 Sketcher: Fix bug angle via point visualisation
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: WB Sketcher

#9682 [TD]fix Svg export of template fields
  src/Mod/TechDraw/Gui/QGSPage.cpp
Labels: WB TechDraw

#9685 Arch: Fix ArchReference (broken after #9316)
  src/Mod/Arch/ArchReference.py
Labels: WB Arch

#9695 Draft: get_svg: loose edges in obj with faces also received a fill
  src/Mod/Draft/draftfunctions/svg.py
Labels: WB Draft

#9631 Arch: removed 'object' from command tooltips
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchEquipment.py
  src/Mod/Arch/ArchProfile.py
  src/Mod/Arch/ArchSite.py
  src/Mod/Arch/ArchStairs.py
  src/Mod/Arch/ArchStructure.py
Labels: WB Arch

#9643 Arch: Removed html from tooltips (try 2)
  src/Mod/Arch/Resources/ui/ArchSchedule.ui
Labels: WB Arch

#9687 Arch: more consistent object naming and labelling
  src/Mod/Arch/ArchAxis.py
  src/Mod/Arch/ArchAxisSystem.py
  src/Mod/Arch/ArchBuilding.py
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchCurtainWall.py
  src/Mod/Arch/ArchEquipment.py
  src/Mod/Arch/ArchFloor.py
  src/Mod/Arch/ArchFrame.py
  src/Mod/Arch/ArchGrid.py
  src/Mod/Arch/ArchMaterial.py
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchPipe.py
  src/Mod/Arch/ArchProject.py
  src/Mod/Arch/ArchRebar.py
  src/Mod/Arch/ArchReference.py
  src/Mod/Arch/ArchRoof.py
  src/Mod/Arch/ArchSectionPlane.py
  src/Mod/Arch/ArchSite.py
  src/Mod/Arch/ArchSpace.py
  src/Mod/Arch/ArchStairs.py
  src/Mod/Arch/ArchStructure.py
  src/Mod/Arch/ArchTruss.py
Labels: WB Arch

#9693 [TD]remove html escape sequences from tooltips
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvanced.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawColors.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensions.ui
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.ui
Labels: WB TechDraw

#9700 Arch: Arch_Reference: task panel layout was added incorrectly
  src/Mod/Arch/ArchReference.py
Labels: WB Arch

#9397 [App] Expression parser allow multi unit inputs (2'2")
  src/App/ExpressionParser.l
  src/App/ExpressionParser.tab.c
  src/App/ExpressionParser.tab.h
  src/App/ExpressionParser.y
  src/App/lex.ExpressionParser.c
Labels: Core, Expressions

#9408 [Base] US Building Schema correct sign on fraction
  src/Base/UnitsSchemaImperial1.cpp
Labels: Core, Units
