Repository FreeCAD/FreeCAD, pull requests merged in 2023-02, with the labels that each got.

#8312 TD: move to new style connect()
  src/Mod/TechDraw/Gui/DlgPageChooser.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotationImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawScaleImp.cpp
  src/Mod/TechDraw/Gui/DlgStringListEditor.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/QGEPath.cpp
  src/Mod/TechDraw/Gui/QGILeaderLine.cpp
  src/Mod/TechDraw/Gui/QGIRichAnno.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/SymbolChooser.cpp
  src/Mod/TechDraw/Gui/TaskBalloon.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.cpp
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
  src/Mod/TechDraw/Gui/TaskCustomizeFormat.cpp
  src/Mod/TechDraw/Gui/TaskDetail.cpp
  src/Mod/TechDraw/Gui/TaskDimRepair.cpp
  src/Mod/TechDraw/Gui/TaskDimension.cpp
  src/Mod/TechDraw/Gui/TaskGeomHatch.cpp
  src/Mod/TechDraw/Gui/TaskHatch.cpp
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
  src/Mod/TechDraw/Gui/TaskLineDecor.cpp
  src/Mod/TechDraw/Gui/TaskLinkDim.cpp
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
  src/Mod/TechDraw/Gui/TaskRichAnno.cpp
  src/Mod/TechDraw/Gui/TaskSectionView.cpp
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.cpp
  src/Mod/TechDraw/Gui/TaskWeldingSymbol.cpp
  src/Mod/TechDraw/Gui/Widgets/VectorEditWidget.cpp
  src/Mod/TechDraw/Gui/mrichtextedit.cpp
Labels: WB TechDraw

#8315 Gui: move to new style connect()
  src/Gui/Assistant.cpp
  src/Gui/CommandDoc.cpp
  src/Gui/CommandTest.cpp
  src/Gui/CommandView.cpp
  src/Gui/DemoMode.cpp
  src/Gui/DlgCustomizeImp.cpp
  src/Gui/DlgParameterImp.cpp
  src/Gui/DlgUnitsCalculatorImp.cpp
  src/Gui/DockWindowManager.cpp
  src/Gui/DownloadItem.cpp
  src/Gui/DownloadManager.cpp
  src/Gui/EditorView.cpp
  src/Gui/EditorView.h
  src/Gui/FileDialog.cpp
  src/Gui/GraphvizView.cpp
  src/Gui/GuiApplication.cpp
  src/Gui/InputVector.cpp
  src/Gui/MDIView.cpp
  src/Gui/ManualAlignment.cpp
  src/Gui/NetworkRetriever.cpp
  src/Gui/OnlineDocumentation.cpp
  src/Gui/ProgressBar.cpp
  src/Gui/PropertyView.cpp
  src/Gui/PythonConsole.cpp
  src/Gui/PythonDebugger.cpp
  src/Gui/QSint/actionpanel/actiongroup.cpp
  src/Gui/QSint/actionpanel/taskheader_p.cpp
  src/Gui/Quarter/ContextMenu.cpp
  src/Gui/Quarter/SensorManager.cpp
  src/Gui/SelectionView.cpp
  src/Gui/TaskCSysDragger.cpp
  src/Gui/TaskDlgRelocation.cpp
  src/Gui/TaskView/TaskView.cpp
  src/Gui/TextDocumentEditorView.cpp
  src/Gui/TextEdit.cpp
  src/Gui/Transform.cpp
  src/Gui/Tree.cpp
  src/Gui/VectorListEditor.cpp
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/WidgetFactory.cpp
  src/Gui/Widgets.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
Labels: Core

#8323 [FEM] sort equations alphabetically
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femsolver/equationbase.py
Labels: WB FEM

#8325 [FEM] equationbase: sort equations alphabetically
  src/Mod/Fem/femsolver/equationbase.py
Labels: WB FEM

#8319 Draft: subelement mode ignored nesting
  src/Mod/Draft/draftfunctions/move.py
  src/Mod/Draft/draftfunctions/rotate.py
  src/Mod/Draft/draftfunctions/scale.py
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
Labels: WB Draft

#8326 [FEM] solver_taskpanel: fix bug with Edit button
  src/Mod/Fem/femsolver/solver_taskpanel.py
Labels: WB FEM

#8280 [Gui] register NaviCube parameters to view
  src/Gui/NaviCube.cpp
  src/Gui/NaviCube.h
  src/Gui/View3DInventor.cpp
Labels: Core

#8327 Draft: housekeeping: remove obsolete code (uiMode and DraftGui.py)
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_shapestrings.py
  src/Mod/Draft/draftguitools/gui_splines.py
  src/Mod/Draft/draftguitools/gui_texts.py
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#8335 Draft: fix normal calculation for angular dims
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#8333 [FEM] Elmer: fix error on wrong material settings
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8336 [FEM] Elmer: don't hardcode the coordinate system
  src/Mod/Fem/femsolver/elmer/solver.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8339 [FEM] Elmer: revert wrong change from #8336
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8304 [Part] Tweak mesh generation
  src/Mod/Part/App/Tools.cpp
Labels: WB Part

#8322 [Part] [skip ci] update a tooltip
  src/Mod/Part/Gui/Command.cpp
Labels: WB Part

#8342 [Core] add current density
  src/App/FreeCADInit.py
  src/Base/Unit.cpp
  src/Base/Unit.h
  src/Base/UnitsSchemaInternal.cpp
  src/Base/UnitsSchemaMKS.cpp
  src/Gui/DlgUnitsCalculatorImp.cpp
Labels: Core

#8343 Fix various trailing newlines, typos and grammar
  src/Gui/NaviCube.cpp
  src/Mod/AddonManager/addonmanager_installer.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Path/Data/Threads/sources.txt
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
  src/Mod/TechDraw/TDTest/DrawViewDetailTest.py
Labels: Core, WB FEM, WB Path, WB TechDraw, Addon Manager

#8349 [FEM] Elmer output material name
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femtest/data/elmer/box_static_0_mm.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_faceload_0_mm.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_faceload_1_si.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_nodeload_0_mm.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_prescribeddisplacement_0_mm.sif
Labels: WB FEM

#8354 [FEM] [skip ci] Elmer write: some cleanup
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8360 Fix whitespace issues
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
  .github/labels.yml
  cMake/FindSMESH.cmake
  data/examples/CMakeLists.txt
  src/Mod/.gitattributes
  src/Mod/Material/StandardMaterial/Graphite.FCMat
  src/Mod/Spreadsheet/Gui/DlgBindSheet.h
  src/Mod/Spreadsheet/TestSpreadsheetGui.py
  src/Mod/TechDraw/Gui/Resources/fonts/Y14.5Font.license
  src/Tools/updateppa.py
  tools/build/debian.sh
  tools/build/fedora.sh
  tools/build/manjaro.sh
  tools/build/ubuntu.sh
Labels: WB TechDraw, WB Spreadsheet, :octocat:

#8348 [FEM] add current density constraint
  src/App/Application.cpp
  src/App/PropertyUnits.cpp
  src/App/PropertyUnits.h
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintCurrentDensity.svg
  src/Mod/Fem/Gui/Resources/ui/CurrentDensity.ui
  src/Mod/Fem/Gui/Workbench.cpp
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femobjects/constraint_currentdensity.py
  src/Mod/Fem/femtaskpanels/task_constraint_currentdensity.py
  src/Mod/Fem/femtest/app/test_object.py
  src/Mod/Fem/femtest/app/test_open.py
  src/Mod/Fem/femtest/gui/test_open.py
  src/Mod/Fem/femviewprovider/view_constraint_currentdensity.py
Labels: Core, WB FEM

#8363 Draft: add delay in the Draft_Clone unit test
  src/Mod/Draft/drafttests/test_modification.py
Labels: WB Draft

#8359 [TD] Add Command Axo Length Dimension (replaces 8300)
  src/Mod/TechDraw/CMakeLists.txt
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_AxoLengthDimension.svg
  src/Mod/TechDraw/Gui/Workbench.cpp
  src/Mod/TechDraw/TechDrawTools/CommandAxoLengthDimension.py
  src/Mod/TechDraw/TechDrawTools/__init__.py
Labels: WB TechDraw

#8366 Gui: [skip ci] fix typo
  src/Gui/Command.cpp
Labels: Core

#8368 [Draft] fix ang dim arrows alignment issue related to asin
  src/Mod/Draft/draftviewproviders/view_dimension.py
Labels: WB Draft

#8369 [FEM] shorten too long lines in mesh code
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/FemMeshObject.cpp
  src/Mod/Fem/App/FemPostFilter.cpp
  src/Mod/Fem/App/FemPostFilter.h
  src/Mod/Fem/App/FemPostObject.cpp
  src/Mod/Fem/App/FemPostObject.h
  src/Mod/Fem/App/FemPostPipeline.cpp
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/App/PropertyPostDataObject.cpp
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/TaskObjectName.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.h
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.cpp
Labels: WB FEM

#8373 [FEM] Elmer: add permeability of vacuum
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femtools/constants.py
Labels: WB FEM

#8374 [FEM] Elmer writer: sort out heat equation
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femsolver/elmer/equations/heat_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8375 [FEM] Elmer writer: sort out flux equation
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femsolver/elmer/equations/flux_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8377 [FEM] Elmer writer: sort out flow equation
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femsolver/elmer/equations/flow_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8378 [FEM] Elmer writer: sort out electricforce equation
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femsolver/elmer/equations/electricforce_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8379 [FEM] Elmer writer: sort out elasticity equation
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femsolver/elmer/equations/elasticity_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8355 [FEM] Elmer: add support for 2D magnetodynamics
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/Resources/icons/FEM_EquationMagnetodynamic2D.svg
  src/Mod/Fem/Gui/Workbench.cpp
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D_writer.py
  src/Mod/Fem/femsolver/elmer/solver.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femsolver/equationbase.py
  src/Mod/Fem/femtest/app/test_object.py
  src/Mod/Fem/femtest/app/test_open.py
  src/Mod/Fem/femtest/gui/test_open.py
Labels: Core, WB FEM

#8382 [FEM] Elmer writer: correct copyrights
  src/Mod/Fem/femsolver/elmer/equations/electricforce_writer.py
  src/Mod/Fem/femsolver/elmer/equations/electrostatic_writer.py
  src/Mod/Fem/femsolver/elmer/equations/flow_writer.py
  src/Mod/Fem/femsolver/elmer/equations/flux_writer.py
  src/Mod/Fem/femsolver/elmer/equations/heat_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8384 [FEM] Elmer: better sorting of equations
  src/Mod/Fem/Gui/Command.cpp
Labels: WB FEM

#8320 [workaround][GUI][Spreadsheet] Disable Accessibility on the SpreadSheetTableView
  src/Mod/Spreadsheet/Gui/AppSpreadsheetGui.cpp
  src/Mod/Spreadsheet/Gui/CMakeLists.txt
  src/Mod/Spreadsheet/Gui/SheetTableViewAccessibleInterface.cpp
  src/Mod/Spreadsheet/Gui/SheetTableViewAccessibleInterface.h
Labels: WB Spreadsheet

#8386 [Draft] fix Draft_Clone DiffuseColor delay issue during unit test
  src/Mod/Draft/draftmake/make_clone.py
  src/Mod/Draft/drafttests/test_modification.py
Labels: WB Draft

#8390 [FEM] [skip ci] constraint_currentdensity.py: fix a typo
  src/Mod/Fem/femobjects/constraint_currentdensity.py
Labels: WB FEM

#8391 [App] [skip ci] add info for expression lexer generation
  src/App/ExpressionParser.l
Labels: Core

#8381 [FEM] Elmer: extend potential constraint
  src/Mod/Fem/Gui/Resources/ui/ElectrostaticPotential.ui
  src/Mod/Fem/femobjects/constraint_electrostaticpotential.py
  src/Mod/Fem/femtaskpanels/task_constraint_electrostaticpotential.py
Labels: WB FEM

#8389 Fix trailing newlines
  src/Gui/ViewProviderDocumentObjectPy.xml
  src/Gui/Workbench.cpp
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: Core, WB FEM

#8396 [FEM] [skip ci] Elmer write: move a check function
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D_writer.py
Labels: WB FEM

#8398 [Core] disable the the unit Oersted
  src/App/ExpressionParser.l
  src/App/FreeCADInit.py
  src/App/lex.ExpressionParser.c
  src/Base/Quantity.cpp
  src/Base/Quantity.h
  src/Base/QuantityLexer.c
  src/Base/QuantityParser.l
  src/Base/UnitsSchemaInternal.cpp
  src/Base/UnitsSchemaMKS.cpp
Labels: Core

#8392 [Core] add quantity Magnetization
  src/App/Application.cpp
  src/App/PropertyUnits.cpp
  src/App/PropertyUnits.h
  src/Base/Unit.cpp
  src/Base/Unit.h
  src/Base/UnitsSchemaInternal.cpp
  src/Base/UnitsSchemaMKS.cpp
Labels: Core

#8399 [FEM] [skic ci] fix arrows in CurrentDensity icon
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintCurrentDensity.svg
Labels: WB FEM

#8397 Addon Manager: Fix GUI tests on macOS
  src/Mod/AddonManager/AddonManagerTest/gui/gui_mocks.py
Labels: Addon Manager

#8401 [App] fixes for Magnetization property
  src/App/FreeCADInit.py
  src/App/PropertyUnits.h
Labels: Core

#8404 [FEM] Elmer: magneto 2D use magnetization
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8393 [FEM] add new constraint for magnetization
  src/Gui/DlgUnitsCalculatorImp.cpp
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintMagnetization.svg
  src/Mod/Fem/Gui/Resources/ui/Magnetization.ui
  src/Mod/Fem/Gui/Workbench.cpp
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femobjects/constraint_magnetization.py
  src/Mod/Fem/femtaskpanels/task_constraint_magnetization.py
  src/Mod/Fem/femtest/app/test_object.py
  src/Mod/Fem/femtest/app/test_open.py
  src/Mod/Fem/femtest/gui/test_open.py
  src/Mod/Fem/femviewprovider/view_constraint_magnetization.py
Labels: Core, WB FEM

#8406 [FEM] use magnetization constraint for 2D
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femtaskpanels/task_constraint_magnetization.py
  src/Mod/Material/MaterialEditor.py
  src/Mod/Material/StandardMaterial/TEMPLATE.FCMat
  src/Mod/Material/Templatematerial.yml
  src/Mod/Material/materialtools/cardutils.py
Labels: WB FEM

#8307 Path: Refactored the add_parameters function into individual functions.
  src/Mod/Path/Path/Post/UtilsParse.py
Labels: WB Path

#8400 cMake: Clean up old Mac Python search
  cMake/FreeCAD_Helpers/SetupPython.cmake
Labels: packaging/building, OS: macOS

#8411 [FEM] Elmer: fixes for Magneto2D writer
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8418 Spreadsheet: fix some warnings and issues reported by GH actions
  src/Mod/Spreadsheet/Gui/SheetTableViewAccessibleInterface.cpp
  src/Mod/Spreadsheet/Gui/SheetTableViewAccessibleInterface.h
Labels: WB Spreadsheet

#8415 [FEM] ViewProviderFemPostObject: fix a typo
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.h
Labels: WB FEM

#8412 [FEM] change hiding logic on calling task panels
  src/Mod/Fem/femviewprovider/view_base_femobject.py
Labels: WB FEM

#8380 [FEM] Elmer: add support for 3D magnetodynamics
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/Resources/icons/FEM_EquationMagnetodynamic.svg
  src/Mod/Fem/Gui/Resources/ui/CurrentDensity.ui
  src/Mod/Fem/Gui/Resources/ui/ElectrostaticPotential.ui
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femsolver/equationbase.py
  src/Mod/Fem/femtest/app/test_object.py
  src/Mod/Fem/femtest/app/test_open.py
  src/Mod/Fem/femtest/gui/test_open.py
Labels: WB FEM

#8420 Addon Manager: Reload page when following links
  src/Mod/AddonManager/package_details.py
Labels: Addon Manager

#8421 FEM: raise an exception if no valid object is selected
  src/Mod/Fem/App/AppFemPy.cpp
Labels: WB FEM

#8422 Addon Manager: Add more unit test mocks
  src/Mod/AddonManager/AddonManagerTest/app/mocks.py
  src/Mod/AddonManager/AddonManagerTest/gui/gui_mocks.py
Labels: Addon Manager

#8423 Addon Manager: Prep Addon for refactoring
  src/Mod/AddonManager/Addon.py
Labels: Addon Manager

#8428 [FEM] fix bug in potential constraint task panel
  src/Mod/Fem/Gui/Resources/ui/ElectrostaticPotential.ui
  src/Mod/Fem/femtaskpanels/task_constraint_electrostaticpotential.py
Labels: WB FEM

#8427 [Draft] fix Draft_Mirror diffuse color issue.
  src/Mod/Draft/Draft.py
  src/Mod/Draft/draftutils/gui_utils.py
Labels: WB Draft

#8430 [Draft] update of Draft_Clone related to gui_utils.get_diffuse_color
  src/Mod/Draft/draftmake/make_clone.py
  src/Mod/Draft/draftviewproviders/view_clone.py
Labels: WB Draft

#8433 [Draft] some arrays did not have a Count property
  src/Mod/Draft/draftobjects/array.py
  src/Mod/Draft/draftobjects/draftlink.py
Labels: WB Draft

#8435 Fixes #8206: FreeCAD segfaults being run with parameters (e.g .deskto…
  src/Base/Interpreter.cpp
Labels: Core

#8436 [Draft] fix diffuse color issue when creating arrays
  src/Mod/Draft/draftmake/make_array.py
  src/Mod/Draft/draftmake/make_patharray.py
  src/Mod/Draft/draftmake/make_pointarray.py
  src/Mod/Draft/draftviewproviders/view_array.py
Labels: WB Draft

#6617 [Arch Component] Fix placement multiplication problem (re-PR)
  src/Mod/Arch/ArchComponent.py
Labels: WB Arch

#8434 Draft: [skip ci] fix typo in source comment
  src/Mod/Draft/draftutils/gui_utils.py
Labels: WB Draft

#8441 App: Fix warnings -Wignored-qualifiers
  src/App/Metadata.cpp
Labels: Core

#8448 Mesh: Update warning message to inform of missing mesh file format upon…
  src/Mod/Mesh/App/AppMeshPy.cpp
Labels: WB Mesh

#8447 Gui: Add CERN OHL to default licenses list
  src/App/Document.cpp
  src/Gui/DlgProjectInformationImp.cpp
  src/Gui/DlgSettingsDocument.ui
  src/Gui/DlgSettingsDocumentImp.cpp
Labels: Core

#8446 Add TaackPLM_workbench_icon.svg in resources
  src/Mod/AddonManager/Resources/AddonManager.qrc
  src/Mod/AddonManager/Resources/icons/TaackPLM_workbench_icon.svg
Labels: Addon Manager

#8452 [Draft] fix #8433 regression
  src/Mod/Draft/draftobjects/array.py
Labels: WB Draft

#8457 [TD]fix face hatch location in Svg export
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIFace.h
Labels: WB TechDraw

#8438 [Core] Add possibility to set color with tuple of integers, fixes #8344
  src/App/PropertyStandard.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
Labels: Core, Color

#8456 Part: fixes to create a NURBS for the arc of a conic
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry.h
Labels: WB Part

#8395 App: support of method unsetupObject in Python feature classes
  src/App/FeaturePython.cpp
  src/App/FeaturePython.h
Labels: Core

#8460 [App] License.cpp: add missing include
  src/App/License.cpp
Labels: Core

#8252 [Part] extend SectionCutting feature for intersecting objects
  src/Mod/Part/Gui/SectionCutting.cpp
  src/Mod/Part/Gui/SectionCutting.h
  src/Mod/Part/Gui/SectionCutting.ui
Labels: WB Part

#8465 [FEM] register new result values to DataAtPoint filter
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
Labels: WB FEM

#8469 [FEM] add missing registration of magnetodynamics equation
  src/Mod/Fem/femsolver/elmer/solver.py
Labels: WB FEM

#8468 [FEM] fix wrong name in cut filter
  src/Mod/Fem/App/FemPostFilter.cpp
Labels: WB FEM

#8409 [Arch] fix Arch_Site
  src/Mod/Arch/ArchSite.py
Labels: WB Arch

#8471 FEM: fix trailing newlines
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D_writer.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#8462 [FEM] add new filter to display iso contours
  src/Mod/Fem/App/AppFem.cpp
  src/Mod/Fem/App/FemPostFilter.cpp
  src/Mod/Fem/App/FemPostFilter.h
  src/Mod/Fem/Gui/AppFemGui.cpp
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/Resources/icons/FEM_PostFilterContours.svg
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.h
  src/Mod/Fem/Gui/TaskPostContours.ui
  src/Mod/Fem/Gui/ViewProviderFemPostFilter.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFilter.h
  src/Mod/Fem/Gui/Workbench.cpp
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/femtest/app/test_femimport.py
  src/Mod/Fem/femtest/app/test_object.py
  src/Mod/Fem/femviewprovider/view_mesh_gmsh.py
Labels: WB FEM, Feature

#8464 [FEM] improve messages in mesh generation
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtaskpanels/task_mesh_gmsh.py
  src/Mod/Fem/femviewprovider/view_mesh_gmsh.py
Labels: WB FEM

#8472 [FEM] sort code of result filters
  src/Mod/Fem/App/FemPostFilter.cpp
  src/Mod/Fem/App/FemPostFilter.h
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.h
  src/Mod/Fem/Gui/ViewProviderFemPostFilter.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFilter.h
Labels: WB FEM

#8444 [Arch] fix Arch_Stairs recompute issue
  src/Mod/Arch/ArchStairs.py
Labels: WB Arch

#8461 [Gui] Sort Add Property types list
  src/Gui/DlgAddProperty.cpp
Labels: Core

#8442 Addon Manager: Refactor Macro parser
  src/Mod/AddonManager/AddonManagerTest/app/mocks.py
  src/Mod/AddonManager/AddonManagerTest/app/test_addon.py
  src/Mod/AddonManager/AddonManagerTest/app/test_macro_parser.py
  src/Mod/AddonManager/AddonManagerTest/data/DoNothing.FCMacro
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/addonmanager_macro.py
  src/Mod/AddonManager/addonmanager_macro_parser.py
Labels: Addon Manager

#8475 Arch: fix incorrect indentation in ArchStairs.py
  src/Mod/Arch/ArchStairs.py
Labels: WB Arch

#8480 App: define an enum to be used as the retType argument of DocumentObj…
  src/App/FreeCADInit.py
Labels: Core

#8479 [FEM] Contours: fix task panel logic
  src/Mod/Fem/App/FemPostFilter.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.h
Labels: WB FEM

#8481 [Sketcher] Fix cursor coordinates text size...
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
Labels: WB Sketcher

#8484 [Draft] typo: Mirror object name should be capitalized
  src/Mod/Draft/draftfunctions/mirror.py
Labels: WB Draft

#8489 [FEM] [skip ci] add missing header for precompiled headers
  src/Mod/Fem/Gui/PreCompiled.h
Labels: WB FEM

#8490 FEM: fix trailing whitespace
  src/Mod/Fem/App/FemPostFilter.cpp
Labels: WB FEM

#8488 [FEM] improve checks for datasets
  src/Mod/Fem/App/FemPostFilter.cpp
  src/Mod/Fem/App/FemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.cpp
Labels: WB FEM

#8478 [FEM] improve visualization of pvtu files
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.h
Labels: WB FEM

#8493 [FEM] Contours: disable keyboard tracking
  src/Mod/Fem/Gui/TaskPostContours.ui
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
Labels: WB FEM

#8492 Fem: fixes #8485: transparency of pipeline objects is visually lost
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
Labels: WB FEM

#8491 Draft: fix typos
  src/Mod/Draft/draftmake/make_dimension.py
  src/Mod/Draft/draftutils/init_draft_statusbar.py
Labels: WB Draft

#8495 FEM: fix trailing newlines
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.h
  src/Mod/Fem/Gui/ViewProviderFemPostFilter.cpp
Labels: WB FEM

#8500 Gui: [skip ci] set object name to tabbar of MDI area
  src/Gui/MainWindow.cpp
Labels: Core

#8505 Gui: fix removing item from recent files list
  src/Gui/Action.cpp
Labels: Core

#8507 [FEM] make pvtu file filtering optional
  src/Mod/Fem/Gui/DlgSettingsFemElmer.ui
  src/Mod/Fem/Gui/DlgSettingsFemElmerImp.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
Labels: WB FEM

#8506 [Arch] children of Component did not rotate with Host
  src/Mod/Arch/ArchComponent.py
Labels: WB Arch

#8511 Fix various trailing whitespace issues
  cMake/FindOpenCV.cmake
  cMake/FindPyCXX.cmake
  cMake/FindRift.cmake
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  cMake/FreeCAD_Helpers/SetupQt.cmake
  cMake/FreeCAD_Helpers/SetupShibokenAndPyside.cmake
  cMake/UseLibPackCLbundler.cmake
  src/Doc/sphinx/conf.py
  src/MacAppBundle/CMakeLists.txt
  src/Main/freecad.rc.cmake
  src/Main/freecadCmd.rc.cmake
  src/Mod/Start/StartPage/StartPage.py
  src/Mod/TechDraw/TechDrawTools/TaskHoleShaftFit.py
Labels: WB TechDraw

#8515 [Arch] Allow Arch_stairs with 2 steps
  src/Mod/Arch/ArchStairs.py
Labels: WB Arch

#8518 [Arch] Arch_Stairs fix for #8444
  src/Mod/Arch/ArchStairs.py
Labels: WB Arch

#8519 [FEM] fix possible crash on changing the VectorMode
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
Labels: WB FEM

#8520 Fix source comment and documentation typos
  src/Mod/Draft/importDXF.py
  src/Mod/Path/libarea/Adaptive.cpp
Labels: WB Draft, WB Path

#8525 [FEM] connect CCX solver to results pipeline
  src/Mod/Fem/femtaskpanels/task_result_mechanical.py
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
Labels: WB FEM

#8527 [App] sort includes in PreCompiled.h
  src/App/License.h
  src/App/Metadata.cpp
  src/App/Origin.cpp
  src/App/PreCompiled.h
Labels: Core

#8536 [Gui] hotfix for NotificationBox.cpp
  src/Gui/NotificationBox.cpp
Labels: Core

#8531 [FEM] fix analysis activation issue
  src/Mod/Fem/Gui/ViewProviderAnalysis.cpp
Labels: WB FEM

#8538 [Gui] second hotfix for NotificationBox.cpp
  src/Gui/NotificationBox.cpp
Labels: Core

#8533 [FEM] update Elmer examples
  src/Mod/Fem/femexamples/equation_electrostatics_capacitance_two_balls.py
  src/Mod/Fem/femexamples/equation_electrostatics_electricforce_elmer_nongui6.py
Labels: WB FEM

#8539 [FEM] fix material handling of fluids
  src/Mod/Fem/femtaskpanels/task_material_common.py
  src/Mod/Fem/femtaskpanels/task_material_reinforced.py
  src/Mod/Material/MaterialEditor.py
Labels: WB FEM

#8541 [FEM] fix material dialog logic
  src/Mod/Fem/Gui/Resources/ui/Material.ui
Labels: WB FEM

#8543 [FEM] improve pvtu file filtering
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
Labels: WB FEM

#8528 [App] License.h: fix compiler warning
  src/App/License.h
Labels: Core

#8550 [FEM] add new example file for flow and heat
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femexamples/boxanalysis_frequency.py
  src/Mod/Fem/femexamples/boxanalysis_static.py
  src/Mod/Fem/femexamples/buckling_lateraltorsionalbuckling.py
  src/Mod/Fem/femexamples/buckling_platebuckling.py
  src/Mod/Fem/femexamples/ccx_buckling_flexuralbuckling.py
  src/Mod/Fem/femexamples/ccx_cantilever_beam_circle.py
  src/Mod/Fem/femexamples/ccx_cantilever_beam_pipe.py
  src/Mod/Fem/femexamples/ccx_cantilever_beam_rect.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_hexa20.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_quad4.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_quad8.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_seg2.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_seg3.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_tetra4.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_tria3.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_tria6.py
  src/Mod/Fem/femexamples/ccx_cantilever_faceload.py
  src/Mod/Fem/femexamples/ccx_cantilever_nodeload.py
  src/Mod/Fem/femexamples/ccx_cantilever_prescribeddisplacement.py
  src/Mod/Fem/femexamples/constraint_centrif.py
  src/Mod/Fem/femexamples/constraint_contact_shell_shell.py
  src/Mod/Fem/femexamples/constraint_contact_solid_solid.py
  src/Mod/Fem/femexamples/constraint_section_print.py
  src/Mod/Fem/femexamples/constraint_selfweight_cantilever.py
  src/Mod/Fem/femexamples/constraint_tie.py
  src/Mod/Fem/femexamples/constraint_transform_beam_hinged.py
  src/Mod/Fem/femexamples/constraint_transform_torque.py
  src/Mod/Fem/femexamples/elmer_nonguitutorial01_eigenvalue_of_elastic_beam.py
  src/Mod/Fem/femexamples/equation_electrostatics_capacitance_two_balls.py
  src/Mod/Fem/femexamples/equation_electrostatics_electricforce_elmer_nongui6.py
  src/Mod/Fem/femexamples/equation_flow_elmer_2D.py
  src/Mod/Fem/femexamples/examplesgui.py
  src/Mod/Fem/femexamples/frequency_beamsimple.py
  src/Mod/Fem/femexamples/manager.py
  src/Mod/Fem/femexamples/material_multiple_bendingbeam_fiveboxes.py
  src/Mod/Fem/femexamples/material_multiple_bendingbeam_fivefaces.py
  src/Mod/Fem/femexamples/material_multiple_tensionrod_twoboxes.py
  src/Mod/Fem/femexamples/material_nl_platewithhole.py
  src/Mod/Fem/femexamples/mystran_plate.py
  src/Mod/Fem/femexamples/rc_wall_2d.py
  src/Mod/Fem/femexamples/square_pipe_end_twisted_edgeforces.py
  src/Mod/Fem/femexamples/square_pipe_end_twisted_nodeforces.py
  src/Mod/Fem/femexamples/thermomech_bimetall.py
  src/Mod/Fem/femexamples/thermomech_flow1d.py
  src/Mod/Fem/femexamples/thermomech_spine.py
  src/Mod/Fem/femexamples/truss_3d_cs_circle_ele_seg2.py
  src/Mod/Fem/femexamples/truss_3d_cs_circle_ele_seg3.py
Labels: WB FEM

#8551 [FEM] fix reported typos and inconsistencies
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/femcommands/commands.py
Labels: WB FEM

#8552 [FEM] fix typo in command
  src/Mod/Fem/Gui/Command.cpp
Labels: WB FEM

#8554 [FEM] [skip ci] Command.cpp: fix loo long line
  src/Mod/Fem/Gui/Command.cpp
Labels: WB FEM

#8564 Addon Manager: Add SPDX license ID to all files
  src/Mod/AddonManager/Addon.py
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/AddonManagerOptions.py
  src/Mod/AddonManager/AddonManagerTest/app/mocks.py
  src/Mod/AddonManager/AddonManagerTest/app/test_addon.py
  src/Mod/AddonManager/AddonManagerTest/app/test_dependency_installer.py
  src/Mod/AddonManager/AddonManagerTest/app/test_freecad_interface.py
  src/Mod/AddonManager/AddonManagerTest/app/test_git.py
  src/Mod/AddonManager/AddonManagerTest/app/test_installer.py
  src/Mod/AddonManager/AddonManagerTest/app/test_macro.py
  src/Mod/AddonManager/AddonManagerTest/app/test_macro_parser.py
  src/Mod/AddonManager/AddonManagerTest/app/test_uninstaller.py
  src/Mod/AddonManager/AddonManagerTest/app/test_utilities.py
  src/Mod/AddonManager/AddonManagerTest/gui/gui_mocks.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_gui.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_installer_gui.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_uninstaller_gui.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_update_all_gui.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_workers_startup.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_workers_utility.py
  src/Mod/AddonManager/Init.py
  src/Mod/AddonManager/InitGui.py
  src/Mod/AddonManager/NetworkManager.py
  src/Mod/AddonManager/TestAddonManagerApp.py
  src/Mod/AddonManager/TestAddonManagerGui.py
  src/Mod/AddonManager/addonmanager_connection_checker.py
  src/Mod/AddonManager/addonmanager_dependency_installer.py
  src/Mod/AddonManager/addonmanager_devmode.py
  src/Mod/AddonManager/addonmanager_devmode_add_content.py
  src/Mod/AddonManager/addonmanager_devmode_license_selector.py
  src/Mod/AddonManager/addonmanager_devmode_licenses_table.py
  src/Mod/AddonManager/addonmanager_devmode_metadata_checker.py
  src/Mod/AddonManager/addonmanager_devmode_people_table.py
  src/Mod/AddonManager/addonmanager_devmode_person_editor.py
  src/Mod/AddonManager/addonmanager_devmode_predictor.py
  src/Mod/AddonManager/addonmanager_devmode_validators.py
  src/Mod/AddonManager/addonmanager_firstrun.py
  src/Mod/AddonManager/addonmanager_freecad_interface.py
  src/Mod/AddonManager/addonmanager_git.py
  src/Mod/AddonManager/addonmanager_installer.py
  src/Mod/AddonManager/addonmanager_installer_gui.py
  src/Mod/AddonManager/addonmanager_macro.py
  src/Mod/AddonManager/addonmanager_macro_parser.py
  src/Mod/AddonManager/addonmanager_uninstaller.py
  src/Mod/AddonManager/addonmanager_uninstaller_gui.py
  src/Mod/AddonManager/addonmanager_update_all_gui.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/addonmanager_workers_installation.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
  src/Mod/AddonManager/addonmanager_workers_utility.py
  src/Mod/AddonManager/change_branch.py
  src/Mod/AddonManager/install_to_toolbar.py
  src/Mod/AddonManager/loading.html
  src/Mod/AddonManager/manage_python_dependencies.py
  src/Mod/AddonManager/package_details.py
  src/Mod/AddonManager/package_list.py
Labels: Addon Manager

#8555 Fem: Implement getNodeElements function
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/FemMesh.h
  src/Mod/Fem/App/FemMeshPy.xml
  src/Mod/Fem/App/FemMeshPyImp.cpp
Labels: WB FEM

#8540 Core: Update Mac Spacemouse calls
  src/Gui/3Dconnexion/GuiNativeEventMac.cpp
Labels: Core, 3dconnexion, peripheral:mouse

#8569 [FEM] add example for flux equation
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femexamples/equation_flow_elmer_2D.py
  src/Mod/Fem/femexamples/equation_flux_elmer.py
  src/Mod/Fem/femexamples/manager.py
Labels: WB FEM

#8571 Addon Manager: pylint cleanup of devmode
  src/Mod/AddonManager/addonmanager_dependency_installer.py
  src/Mod/AddonManager/addonmanager_devmode.py
  src/Mod/AddonManager/addonmanager_devmode_add_content.py
  src/Mod/AddonManager/addonmanager_devmode_license_selector.py
  src/Mod/AddonManager/addonmanager_devmode_licenses_table.py
  src/Mod/AddonManager/addonmanager_devmode_metadata_checker.py
  src/Mod/AddonManager/addonmanager_devmode_person_editor.py
  src/Mod/AddonManager/addonmanager_devmode_predictor.py
  src/Mod/AddonManager/addonmanager_devmode_validators.py
  src/Mod/AddonManager/addonmanager_git.py
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Addon Manager

#8572 Addon Manager: Fix bug in dependency installer
  src/Mod/AddonManager/addonmanager_installer.py
  src/Mod/AddonManager/addonmanager_installer_gui.py
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Addon Manager

#8578 OpenSCAD: Correct QFileDialog usage
  src/Mod/OpenSCAD/OpenSCADCommands.py
Labels: WB OpenSCAD

#8579 [FEM] add example for magnetodynamic equation
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femexamples/equation_flow_elmer_2D.py
  src/Mod/Fem/femexamples/equation_flux_elmer.py
  src/Mod/Fem/femexamples/equation_magnetodynamics_elmer.py
  src/Mod/Fem/femexamples/manager.py
Labels: WB FEM

#8581 [FEM] fix material initialization
  src/Mod/Fem/femtaskpanels/task_material_common.py
Labels: WB FEM

#8582 OpenSCAD: Make clearing field undoable
  src/Mod/OpenSCAD/OpenSCADCommands.py
Labels: WB OpenSCAD

#8497 Arch: Placeholder modules to handle files containing NativeIFC objects
  src/Mod/Arch/CMakeLists.txt
  src/Mod/Arch/ifc_objects.py
  src/Mod/Arch/ifc_viewproviders.py
Labels: WB Arch

#8570 [Part] Fix Geometric Primitives task panel bug
  src/Mod/Part/Gui/DlgPrimitives.cpp
Labels: WB Part

#8589 Part: don't restrict width of group boxes in section cutting dialog
  src/Mod/Part/Gui/SectionCutting.ui
Labels: WB Part

#8583 Fix misc. typos and whitespace
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/femexamples/truss_3d_cs_circle_ele_seg3.py
  src/Mod/Material/CMakeLists.txt
  src/Mod/Start/StartPage/LoadMRU.py
Labels: WB FEM

#8594 [FEM] fix annoying material selection bug
  src/Mod/Fem/femtaskpanels/task_material_common.py
Labels: WB FEM

#8597 [FEM] add example for magnetodynamic 2D equation
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femexamples/equation_magnetodynamics_2D_elmer.py
  src/Mod/Fem/femexamples/manager.py
Labels: WB FEM

#8599 [FEM] simplify Magnetodynamics 2D example
  src/Mod/Fem/femexamples/equation_magnetodynamics_2D_elmer.py
Labels: WB FEM

#8606 [FEM] [skip ci] fix typos
  src/Mod/Fem/femtaskpanels/task_material_common.py
Labels: WB FEM

#8474 PD: Fix the internal InvoluteGear's root/tip arc directions
  src/Mod/PartDesign/PartDesignTests/TestInvoluteGear.py
  src/Mod/PartDesign/fcgear/involute.py
Labels: WB PartDesign

#8600 Gui: Fix use of undocumented init() function
  src/Gui/NotificationBox.cpp
Labels: Core

#8565 [Bugfix] Gui: fix bug in expression completer tokenizing
  src/Gui/ExpressionCompleter.cpp
Labels: Core, Expressions

#7255 Part: better quantity values handling for primitives
  src/Base/Quantity.cpp
  src/Base/Quantity.h
  src/Mod/Part/Gui/DlgPrimitives.cpp
  src/Mod/PartDesign/Gui/TaskPrimitiveParameters.cpp
Labels: Core, WB PartDesign, WB Part

#8563 [Path] Adaptive - improve 'use outline' logic
  src/Mod/Path/Path/Op/Adaptive.py
Labels: WB Path

#8614 [FEM] improve pvtu file filtering
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.h
Labels: WB FEM
