Repository FreeCAD/FreeCAD, pull requests merged in 2023-01, with the labels that each got.

#8121 [TD]fix Win link error in ViewProvider extensions
  src/Mod/TechDraw/Gui/ViewProviderDrawingViewExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingViewExtension.h
  src/Mod/TechDraw/Gui/ViewProviderPageExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderPageExtension.h
  src/Mod/TechDraw/Gui/ViewProviderTemplateExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderTemplateExtension.h
Labels: WB TechDraw

#7826 Path: Incorporating feedback from code reviews
  src/Mod/Path/Path/Post/Command.py
  src/Mod/Path/Path/Post/UtilsArguments.py
  src/Mod/Path/Path/Post/UtilsExport.py
  src/Mod/Path/Path/Post/UtilsParse.py
  src/Mod/Path/Path/Post/scripts/refactored_centroid_post.py
  src/Mod/Path/Path/Post/scripts/refactored_grbl_post.py
  src/Mod/Path/Path/Post/scripts/refactored_linuxcnc_post.py
  src/Mod/Path/Path/Post/scripts/refactored_mach3_mach4_post.py
  src/Mod/Path/Path/Post/scripts/refactored_test_post.py
  src/Mod/Path/PathTests/TestRefactoredTestPost.py
Labels: WB Path

#8123 [TD]add light text on dark page mode
  src/Mod/TechDraw/App/DrawPage.cpp
  src/Mod/TechDraw/App/DrawViewAnnotation.cpp
  src/Mod/TechDraw/App/DrawViewSymbol.cpp
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawColors.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawColorsImp.cpp
  src/Mod/TechDraw/Gui/DlgStringListEditor.cpp
  src/Mod/TechDraw/Gui/DlgStringListEditor.h
  src/Mod/TechDraw/Gui/DlgStringListEditor.ui
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.h
  src/Mod/TechDraw/Gui/QGEPath.cpp
  src/Mod/TechDraw/Gui/QGICMark.cpp
  src/Mod/TechDraw/Gui/QGIEdge.cpp
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGILeaderLine.cpp
  src/Mod/TechDraw/Gui/QGILeaderLine.h
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
  src/Mod/TechDraw/Gui/QGISVGTemplate.h
  src/Mod/TechDraw/Gui/QGITile.cpp
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIViewAnnotation.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.h
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewSymbol.cpp
  src/Mod/TechDraw/Gui/QGTracker.cpp
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.h
Labels: WB TechDraw

#8106 [Sketcher] Delete check for OCC >= 6.9.0
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
Labels: WB Sketcher

#8129 [TD] fix compilation with PCH after d63ac0f7
  src/Gui/QtAll.h
  src/Mod/TechDraw/Gui/PreCompiled.h
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
Labels: Core, WB TechDraw

#8133 Fix for Partial edge drilling Fixes 8131
  src/Mod/Path/Path/Base/Drillable.py
  src/Mod/Path/Path/Op/Gui/Selection.py
Labels: WB Path

#8135 Base/App/Gui: force using Base::Handle for ParameterManager
  src/App/Application.cpp
  src/Base/Parameter.cpp
  src/Base/Parameter.h
  src/Gui/DlgRevertToBackupConfigImp.cpp
  src/Gui/PreferencePackManager.cpp
Labels: Core

#8109 GCS: Improvements to popularity contest and conflicting identification
  src/Mod/Sketcher/App/planegcs/GCS.cpp
Labels: GCS, WB Sketcher

#8114 Crowdin: [skip ci] fix string in `Arch/ArchStairs.py`
  src/Mod/Arch/ArchStairs.py
Labels: L10N, WB Arch

#8115 Crowdin: [skip ci] fix string in `Arch/ArchSite.py`
  src/Mod/Arch/ArchSite.py
Labels: L10N, WB Arch

#8124 Fix selection in sketcher development/toponaming
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: WB Sketcher, Toponaming

#8152 [TD] attempt to fix compilation with PCH after #8141
  src/Gui/QtAll.h
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/DimensionFormatter.cpp
  src/Mod/TechDraw/App/DimensionGeometry.cpp
  src/Mod/TechDraw/App/DimensionReferences.cpp
  src/Mod/TechDraw/App/DrawDimHelper.cpp
  src/Mod/TechDraw/App/DrawDimHelper.h
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
  src/Mod/TechDraw/Gui/PreCompiled.h
  src/Mod/TechDraw/Gui/TaskDimRepair.cpp
Labels: Core, WB TechDraw

#8153 [TD] minor fixes
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawViewSymbol.cpp
  src/Mod/TechDraw/Gui/QGIViewAnnotation.cpp
  src/Mod/TechDraw/Gui/QGIViewSymbol.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
Labels: WB TechDraw

#8154 [TD] final fix of compilation after #8141
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.h
  src/Mod/TechDraw/Gui/PreCompiled.h
  src/Mod/TechDraw/Gui/ViewProviderDrawingViewExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingViewExtension.h
  src/Mod/TechDraw/Gui/ViewProviderPageExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderPageExtension.h
  src/Mod/TechDraw/Gui/ViewProviderTemplateExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderTemplateExtension.h
Labels: WB TechDraw

#8155 [TD] remove unused headers
  src/Mod/TechDraw/App/DimensionFormatter.cpp
  src/Mod/TechDraw/App/DimensionFormatter.h
  src/Mod/TechDraw/App/DimensionGeometry.h
  src/Mod/TechDraw/App/DimensionReferences.cpp
  src/Mod/TechDraw/App/DimensionReferences.h
  src/Mod/TechDraw/App/DrawDimHelper.cpp
  src/Mod/TechDraw/App/DrawDimHelper.h
  src/Mod/TechDraw/App/DrawPage.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
  src/Mod/TechDraw/App/DrawViewSymbol.cpp
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/AppTechDrawGui.cpp
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  src/Mod/TechDraw/Gui/DlgStringListEditor.cpp
  src/Mod/TechDraw/Gui/DlgStringListEditor.h
  src/Mod/TechDraw/Gui/QGILeaderLine.cpp
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewSymbol.cpp
  src/Mod/TechDraw/Gui/TaskDimRepair.cpp
  src/Mod/TechDraw/Gui/TaskDimRepair.h
  src/Mod/TechDraw/Gui/ViewProviderDimension.h
  src/Mod/TechDraw/Gui/ViewProviderDrawingViewExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingViewExtension.h
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.h
  src/Mod/TechDraw/Gui/ViewProviderPageExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderPageExtension.h
  src/Mod/TechDraw/Gui/ViewProviderTemplateExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderTemplateExtension.h
Labels: WB TechDraw

#8110 Sketcher: Do not mark as fully constrained sketches that do not converge
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#8108 Part/Sketcher: Geometry/Geometry facade pass by const-reference instead of by value
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry.h
  src/Mod/Sketcher/App/GeometryFacade.h
Labels: WB Part, WB Sketcher

#8146 [Path] fix bug with threadmilling collision
  src/Mod/Path/Path/Op/Gui/Selection.py
  src/Mod/Path/Path/Op/ThreadMilling.py
Labels: WB Path

#8166 Draft: improve offsets.offsetWire
  src/Mod/Draft/draftgeoutils/offsets.py
Labels: WB Draft

#8167 Draft: improve wires.isReallyClosed
  src/Mod/Draft/draftgeoutils/wires.py
Labels: WB Draft

#8174 Spreadsheet: [skip ci] convert tabs to spaces
  src/Mod/Spreadsheet/Gui/qtcolorpicker.cpp
Labels: WB Spreadsheet

#8170 [Gui] modernize some connect() settings
  src/Gui/CallTips.cpp
  src/Gui/DlgCustomizeSpaceball.cpp
  src/Gui/DlgObjectSelection.cpp
  src/Gui/DlgUndoRedo.cpp
  src/Gui/ExpressionCompleter.cpp
  src/Gui/FileDialog.cpp
  src/Gui/InputField.cpp
  src/Gui/ProgressDialog.cpp
  src/Gui/SpinBox.cpp
  src/Gui/TextEdit.cpp
  src/Gui/ToolBox.cpp
  src/Gui/Tree.cpp
  src/Gui/Widgets.cpp
  src/Gui/propertyeditor/PropertyEditor.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Mod/Sketcher/Gui/TaskSketcherGeneral.cpp
  src/Mod/Spreadsheet/Gui/qtcolorpicker.cpp
Labels: Core, WB Spreadsheet, WB Sketcher

#8171 Arch: fix ArchSectionPlane getSceneGraph problem
  src/Mod/Arch/ArchSectionPlane.py
Labels: WB Arch

#8173 AddonMgr: switch pref entry/path to const string
  src/Mod/AddonManager/AddonManagerOptions.ui
Labels: Addon Manager

#8175 Arch: ArchSectionPlane should trigger SVG update in execute
  src/Mod/Arch/ArchSectionPlane.py
Labels: WB Arch

#8081 Draft: Fix inconsistent properties of Draft annotations
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftmake/make_label.py
  src/Mod/Draft/draftmake/make_text.py
  src/Mod/Draft/draftobjects/dimension.py
  src/Mod/Draft/draftobjects/draft_annotation.py
  src/Mod/Draft/draftobjects/label.py
  src/Mod/Draft/draftobjects/text.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
  src/Mod/Draft/draftviewproviders/view_draft_annotation.py
  src/Mod/Draft/draftviewproviders/view_label.py
  src/Mod/Draft/draftviewproviders/view_text.py
Labels: WB Draft

#8122 Arch: improve context menus
  src/Mod/Arch/ArchAxis.py
  src/Mod/Arch/ArchAxisSystem.py
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchComponent.py
  src/Mod/Arch/ArchGrid.py
  src/Mod/Arch/ArchIFCView.py
  src/Mod/Arch/ArchMaterial.py
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchPrecast.py
  src/Mod/Arch/ArchProfile.py
  src/Mod/Arch/ArchRebar.py
  src/Mod/Arch/ArchReference.py
  src/Mod/Arch/ArchRoof.py
  src/Mod/Arch/ArchSchedule.py
  src/Mod/Arch/ArchSectionPlane.py
  src/Mod/Arch/ArchSite.py
  src/Mod/Arch/ArchSpace.py
  src/Mod/Arch/ArchStructure.py
  src/Mod/Arch/ArchWall.py
  src/Mod/Arch/ArchWindow.py
  src/Mod/Draft/draftviewproviders/view_base.py
Labels: WB Arch, WB Draft

#8178 [Sketcher] Prevent dereferencing `nullptr` in `ConstraintView`
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
Labels: WB Sketcher

#8191 Draft: Update gui_utils.py
  src/Mod/Draft/draftutils/gui_utils.py
Labels: WB Draft

#8190 Draft: Update Draft_SetStyle
  src/Mod/Draft/Resources/ui/TaskPanel_SetStyle.ui
  src/Mod/Draft/draftguitools/gui_setstyle.py
Labels: WB Draft

#8195 Draft: Update gui_setstyle.py and gui_utils.py
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftutils/gui_utils.py
Labels: WB Draft

#8196 Draft: gui_setstyle.py onApplyAnnot should check for doc
  src/Mod/Draft/draftguitools/gui_setstyle.py
Labels: WB Draft

#8189 Path: fix bug in Path Gui tests
  src/Mod/Path/PathTests/TestPathAdaptive.py
Labels: Bug, WB Path

#8186 [Path] Bugfix/issue 8185 deburr offset calculation
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Gui/Resources/panels/PageOpDeburrEdit.ui
  src/Mod/Path/Path/Op/Deburr.py
  src/Mod/Path/PathTests/TestPathOpDeburr.py
  src/Mod/Path/TestPathApp.py
Labels: WB Path

#8151 Path: Added more tests and fixed some parameter handling, refactored axis and feed number formatting.
  src/Mod/Path/Path/Post/UtilsArguments.py
  src/Mod/Path/Path/Post/UtilsExport.py
  src/Mod/Path/Path/Post/UtilsParse.py
  src/Mod/Path/PathTests/TestRefactoredTestPost.py
Labels: WB Path

#8182 Update opencamlib imports to support latest version
  src/Mod/Path/InitGui.py
  src/Mod/Path/Path/Op/Surface.py
  src/Mod/Path/Path/Op/Waterline.py
Labels: WB Path, packaging/building

#8187 [ArchStructure] ArchSketch Feature : Select Edges to build shape
  src/Mod/Arch/ArchStructure.py
Labels: WB Arch

#8199 Arch: ArchWindow.py improve invertHinge
  src/Mod/Arch/ArchWindow.py
Labels: WB Arch

#8200 [Sketcher] Add line tangent at knot through endpoint
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/Sketch.h
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#8209 [TD]fix crash on dim create on Mac
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
Labels: WB TechDraw, OS: macOS

#8216 Fix trailing whitespace
  src/Base/CMakeLists.txt
Labels: Core

#8207 Draft: Fix and improve Draft_AnnotationStyleEditor
  src/Mod/Draft/Draft.py
  src/Mod/Draft/Resources/ui/dialog_AnnotationStyleEditor.ui
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftfunctions/svgshapes.py
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_draft_annotation.py
Labels: WB Draft

#7783 [Sketcher] Do not filter out point-on-B-spline when trimming
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: ✋ On hold, WB Sketcher

#8226 TechDraw: header uniformity + trailing whitespace
  src/Mod/TechDraw/App/DimensionGeometry.h
  src/Mod/TechDraw/App/DimensionReferences.cpp
  src/Mod/TechDraw/App/DimensionReferences.h
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/LandmarkDimension.cpp
  src/Mod/TechDraw/App/LandmarkDimension.h
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.h
  src/Mod/TechDraw/Gui/TaskCenterLine.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticLine.cpp
  src/Mod/TechDraw/Gui/TaskDimRepair.cpp
Labels: WB TechDraw

#8219 Draft: improve color handling in gui_setstyle.py
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_wpproxy.py
Labels: WB Draft

#8230 Draft: rotate.py: remove Placement.rotate() workaround
  src/Mod/Draft/draftfunctions/rotate.py
Labels: WB Draft

#8233 Draft: housekeeping: remove temporary DraftFillet module
  src/Mod/Draft/DraftFillet.py
  src/Mod/Draft/InitGui.py
Labels: WB Draft

#8229 Draft: fix trailing whitespace
  src/Mod/Draft/App/PreCompiled.cpp
  src/Mod/Draft/draftfunctions/array.py
  src/Mod/Draft/draftfunctions/draftify.py
  src/Mod/Draft/draftfunctions/extrude.py
  src/Mod/Draft/draftfunctions/fuse.py
  src/Mod/Draft/draftfunctions/heal.py
  src/Mod/Draft/draftgeoutils/geo_arrays.py
  src/Mod/Draft/draftmake/make_block.py
  src/Mod/Draft/draftmake/make_drawingview.py
  src/Mod/Draft/draftmake/make_line.py
  src/Mod/Draft/draftmake/make_shape2dview.py
  src/Mod/Draft/draftmake/make_shapestring.py
  src/Mod/Draft/draftmake/make_wpproxy.py
  src/Mod/Draft/draftobjects/bezcurve.py
  src/Mod/Draft/draftobjects/bspline.py
  src/Mod/Draft/draftobjects/circle.py
  src/Mod/Draft/draftobjects/clone.py
  src/Mod/Draft/draftobjects/polygon.py
  src/Mod/Draft/draftobjects/rectangle.py
  src/Mod/Draft/draftobjects/wire.py
  src/Mod/Draft/drafttests/test_draftgeomutils.py
Labels: WB Draft

#8222 Surface: fix header uniformity
  src/Mod/Surface/App/FeatureSewing.cpp
Labels: WB Surface

#8235 [Draft] attempt to fix CI error after 6173d48da7
  src/Mod/Draft/CMakeLists.txt
Labels: WB Draft

#8225 Spreadsheet: fix header uniformity
  src/Mod/Spreadsheet/App/Cell.cpp
  src/Mod/Spreadsheet/App/PropertyColumnWidthsPyImp.cpp
  src/Mod/Spreadsheet/App/PropertyRowHeightsPyImp.cpp
  src/Mod/Spreadsheet/App/PropertySheet.cpp
  src/Mod/Spreadsheet/App/PropertySheetPyImp.cpp
  src/Mod/Spreadsheet/Gui/DlgBindSheet.cpp
  src/Mod/Spreadsheet/Gui/DlgSheetConf.cpp
  src/Mod/Spreadsheet/Gui/DlgSheetConf.h
  src/Mod/Spreadsheet/Gui/LineEdit.cpp
  src/Mod/Spreadsheet/Gui/PropertiesDialog.h
  src/Mod/Spreadsheet/Gui/SheetModel.h
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
  src/Mod/Spreadsheet/Gui/SheetTableView.h
  src/Mod/Spreadsheet/Gui/SpreadsheetDelegate.cpp
  src/Mod/Spreadsheet/TestSpreadsheet.py
Labels: WB Spreadsheet

#8236 [Sketch] Constraints.h: fix 2 compiler warnings
  src/Mod/Sketcher/App/planegcs/Constraints.h
Labels: WB Sketcher

#8237 Fix trailing whitespace, typos, headers
  package/fedora/freecad.spec
  src/Base/CoordinateSystemPy.xml
  src/Base/Quantity.cpp
  src/Base/RotationPy.xml
  src/Ext/CMakeLists.txt
  src/Ext/freecad/CMakeLists.txt
  src/Ext/freecad/UiTools.py
  src/Gui/Language/Translator.cpp
  src/Gui/Language/translation.qrc
  src/Gui/TreeParams.cpp
  src/Mod/AddonManager/AddonManagerTest/gui/test_update_all_gui.py
  src/Mod/AddonManager/addonmanager_installer_gui.py
  src/Mod/Arch/importIFC.py
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.cpp
  src/Mod/Idf/Idf.py
  src/Mod/Image/Gui/Resources/Image.qrc
  src/Mod/JtReader/App/TestJtReader.cpp
  src/Mod/JtReader/CMakeLists.txt
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/FluidMaterial/Readme.md
  src/Mod/Material/Resources/Material.qrc
  src/Mod/Material/Templatematerial.yml
  src/Mod/Measure/App/Measurement.cpp
  src/Mod/Mesh/Gui/Resources/Mesh.qrc
  src/Mod/OpenSCAD/OpenSCADTest/app/test_importCSG.py
  src/Mod/Path/Path/Post/scripts/dynapath_4060_post.py
  src/Mod/Sandbox/Gui/GLGraphicsView.cpp
  src/Mod/Sandbox/Gui/Overlay.cpp
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TemplatePyMod/CMakeLists.txt
  src/Mod/TemplatePyMod/MengerSponge.py
  src/Mod/TemplatePyMod/Mesh2Shape.py
  src/Mod/Test/CMakeLists.txt
  src/Mod/Web/Gui/CookieJar.cpp
  src/Mod/mod.dox
  src/Tools/FCFileTools.py
  src/Tools/RegExp/CMakeLists.txt
  src/Tools/WinVersion.py
  src/Tools/_TEMPLATEPY_/Resources/_TEMPLATEPY_.qrc
  src/Tools/_TEMPLATE_/Gui/CMakeLists.txt
  src/Tools/catfiles.py
  src/Tools/fcbt/CreatePyModule.py
  src/Tools/makedist.py
  src/Tools/pythondoc.py
  src/Tools/updatecrowdin.py
  src/Tools/updatets.py
Labels: Core, WB FEM, WB Arch, WB Path, WB TechDraw, WB Sketcher, WB OpenSCAD, Addon Manager, WB Mesh, WB Test

#8234 Draft: V0.18 VisGroups were not handled
  src/Mod/Draft/DraftLayer.py
  src/Mod/Draft/draftobjects/layer.py
  src/Mod/Draft/drafttests/test_import_tools.py
  src/Mod/Draft/draftviewproviders/view_layer.py
Labels: WB Draft

#8244 Sketcher: convert indentations to spaces
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.h
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.ui
  src/Mod/Sketcher/Gui/TaskSketcherElements.ui
  src/Mod/Sketcher/ProfileLib/RegularPolygon.py
Labels: WB Sketcher

#8243 PartDesign: convert indentations to spaces
  src/Mod/PartDesign/App/BodyPy.xml
  src/Mod/PartDesign/PartDesign_Model.xml
  src/Mod/PartDesign/Scripts/DistanceBolt.py
  src/Mod/PartDesign/Scripts/Parallelepiped.py
Labels: WB PartDesign

#8242 Gui: convert indentations to spaces
  src/Gui/AxisOriginPy.xml
  src/Gui/GuiApplicationNativeEventAware.cpp
  src/Gui/SelectionFilter.cpp
  src/Gui/SoFCVectorizeSVGAction.cpp
  src/Gui/SoNavigationDragger.cpp
  src/Gui/TaskDlgRelocation.h
  src/Gui/View3DInventorRiftViewer.cpp
  src/Gui/ViewProviderDocumentObjectPy.xml
  src/Gui/ViewProviderLinkPy.xml
  src/Gui/core-gui.dox
  src/Gui/lex.SelectionFilter.c
Labels: Core

#8246 Fix various indentation issues (tabs->spaces)
  data/tests/Crank.py
  package/fedora/freecad.spec
  src/App/DocumentObjectPy.xml
  src/App/DocumentPy.xml
  src/App/GroupExtensionPy.xml
  src/App/PropertyContainerPy.xml
  src/Base/Parameter.xsd
  src/Main/CMakeLists.txt
  src/Mod/Import/InitGui.py
  src/Tools/chm.css
  src/Tools/dir2qrc.py
  src/Tools/doctools.py
  src/Tools/examplePy2wiki.py
  src/Tools/fcbt.py
  src/Tools/fcbt/CreateModule.py
  src/Tools/generate.py
  src/Tools/generateBase/generateTools.py
  src/Tools/generateTemplates/templateClassPyExport.py
  src/Tools/generateTemplates/templateModuleApp.py
  src/Tools/generateTemplates/templateModuleAppFeature.py
  src/Tools/generateTemplates/templateModuleAppMain.py
  src/Tools/pythondoc.py
Labels: Core

#8240 [Sketcher] Substitute knot tangent related constraints
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#8238 Stylesheets: convert indentations to spaces
  src/Gui/Stylesheets/Behave-dark.qss
  src/Gui/Stylesheets/Dark-blue.qss
  src/Gui/Stylesheets/Dark-contrast.qss
  src/Gui/Stylesheets/Dark-green.qss
  src/Gui/Stylesheets/Dark-orange.qss
  src/Gui/Stylesheets/Darker-blue.qss
  src/Gui/Stylesheets/Darker-green.qss
  src/Gui/Stylesheets/Darker-orange.qss
  src/Gui/Stylesheets/ProDark.qss
Labels: Core, Stylesheets

#8054 Bump minimum cmake version to 3.16.3
  CMakeLists.txt
Labels: ✋ On hold

#8253 Draft: fix gui_offset.py issue caused by PR8207
  src/Mod/Draft/draftguitools/gui_offset.py
Labels: WB Draft

#8228 Expressions: path auto-completion fixes
  src/Gui/ExpressionCompleter.cpp
  src/Gui/ExpressionCompleter.h
Labels: Core, UI/UX, Expressions, Regression

#8260 Gui: fix trailing whitespace
  src/Gui/ExpressionCompleter.cpp
  src/Gui/FreeCADGuiInit.py
Labels: Core

#8259 Cleanup issues of PR 8228
  src/Gui/ExpressionCompleter.cpp
Labels: Core

#8262 Fix8228 warnings
  src/Gui/ExpressionCompleter.cpp
Labels: Core

#8269 Part: fix crash in SectionCutting dialog
  src/Mod/Part/Gui/SectionCutting.cpp
Labels: WB Part

#8264 [Gui] ExpressionCompleter: fix some GitHub Action reports
  src/Gui/ExpressionCompleter.cpp
Labels: Core

#8266 [Gui] allow to specify font for NaviCube
  src/Gui/DlgSettingsNavigation.cpp
  src/Gui/DlgSettingsNavigation.ui
  src/Gui/NaviCube.cpp
  src/Gui/NaviCube.h
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
Labels: Core

#8273 Draft: Update test_modification.py
  src/Mod/Draft/drafttests/test_modification.py
Labels: WB Draft

#8277 [Gui] NaviCube: improve default font
  src/Gui/NaviCube.cpp
Labels: Core

#8270 Fem: move from string based connect() to overloaded variant based on …
  src/Mod/Fem/Gui/PreCompiled.h
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
Labels: WB FEM

#8283 [Part][Draft]fix #8271 temporary files on windows
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/App/FT2FC.cpp
Labels: WB Part

#8193 Path: add Estlcam postprocessor fix #8192
  src/Mod/Path/Path/Post/scripts/estlcam_post.py
Labels: WB Path

#8286 Part: add integration test for SectionCut command
  src/Mod/Part/TestPartGui.py
Labels: WB Part

#8291 Addon Manager: Update license headers
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/AddonManagerTest/app/test_addon.py
  src/Mod/AddonManager/AddonManagerTest/app/test_macro.py
  src/Mod/AddonManager/AddonManagerTest/app/test_utilities.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_gui.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_workers_startup.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_workers_utility.py
  src/Mod/AddonManager/NetworkManager.py
  src/Mod/AddonManager/TestAddonManagerApp.py
  src/Mod/AddonManager/TestAddonManagerGui.py
  src/Mod/AddonManager/addonmanager_macro.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/addonmanager_workers_installation.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
  src/Mod/AddonManager/addonmanager_workers_utility.py
  src/Mod/AddonManager/change_branch.py
  src/Mod/AddonManager/install_to_toolbar.py
  src/Mod/AddonManager/manage_python_dependencies.py
  src/Mod/AddonManager/package_details.py
  src/Mod/AddonManager/package_list.py
Labels: Addon Manager

#8276 [Gui] View3DInventorViewer: fix a GH action report
  src/Gui/View3DInventorViewer.cpp
Labels: Core

#8125 improve unit testing directory structure
  src/App/CMakeLists.txt
  tests/CMakeLists.txt
  tests/src/App/Branding.cpp
  tests/src/App/CMakeLists.txt
  tests/src/Base/Builder3D.cpp
  tests/src/Base/CMakeLists.txt
  tests/src/CMakeLists.txt
  tests/src/Gui/Assistant.cpp
  tests/src/Gui/CMakeLists.txt
  tests/src/Misc/CMakeLists.txt
  tests/src/Misc/test1.cpp
  tests/src/Misc/test2.cpp
  tests/src/Qt/CMakeLists.txt
  tests/src/Qt/InventorBuilder.cpp
Labels: Core

#8205 Path: Refactored PostUtilsParse.parse a lot.
  src/Mod/Path/Path/Post/UtilsArguments.py
  src/Mod/Path/Path/Post/UtilsExport.py
  src/Mod/Path/Path/Post/UtilsParse.py
Labels: WB Path

#8303 [Sketcher]fix cursor display of angles
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/Utils.cpp
Labels: WB Sketcher

#8275 [Gui] modernize some UI connections
  src/Gui/ComboView.cpp
  src/Gui/DAGView/DAGModel.cpp
  src/Gui/DAGView/DAGView.cpp
  src/Gui/DemoMode.cpp
  src/Gui/DlgActionsImp.cpp
  src/Gui/DlgCheckableMessageBox.cpp
  src/Gui/DlgCommandsImp.cpp
  src/Gui/DlgExpressionInput.cpp
  src/Gui/DlgInputDialogImp.cpp
  src/Gui/DlgObjectSelection.cpp
  src/Gui/DlgProjectInformationImp.cpp
  src/Gui/DlgSettingsNavigation.cpp
Labels: Core

#8261 [Gui] FreeCADGuiInit.py: address some GH action reports
  src/Gui/FreeCADGuiInit.py
Labels: Core

#8287 Arch: Fix ArchPrecast.py issues
  src/Mod/Arch/ArchPrecast.py
Labels: WB Arch

#8282 Arch: update Arch.pruneIncluded to include cloned PD Bodies
  src/Mod/Arch/ArchCommands.py
Labels: WB Arch

#8311 Build graph fix
  src/App/PropertyExpressionEngine.cpp
Labels: Core

#8310 Part: put instantiation of BRepAdaptor_Surface into try/catch block a…
  src/Mod/Part/App/Tools.cpp
Labels: WB Part

#8267 Draft: fix issue with undo
  src/Mod/Draft/draftfunctions/move.py
  src/Mod/Draft/draftfunctions/rotate.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftmake/make_point.py
  src/Mod/Draft/draftobjects/array.py
  src/Mod/Draft/draftobjects/base.py
  src/Mod/Draft/draftobjects/bezcurve.py
  src/Mod/Draft/draftobjects/block.py
  src/Mod/Draft/draftobjects/bspline.py
  src/Mod/Draft/draftobjects/circle.py
  src/Mod/Draft/draftobjects/clone.py
  src/Mod/Draft/draftobjects/draftlink.py
  src/Mod/Draft/draftobjects/ellipse.py
  src/Mod/Draft/draftobjects/facebinder.py
  src/Mod/Draft/draftobjects/hatch.py
  src/Mod/Draft/draftobjects/patharray.py
  src/Mod/Draft/draftobjects/pathtwistedarray.py
  src/Mod/Draft/draftobjects/point.py
  src/Mod/Draft/draftobjects/pointarray.py
  src/Mod/Draft/draftobjects/polygon.py
  src/Mod/Draft/draftobjects/rectangle.py
  src/Mod/Draft/draftobjects/shape2dview.py
  src/Mod/Draft/draftobjects/shapestring.py
  src/Mod/Draft/draftobjects/wire.py
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
Labels: WB Draft

#8308 [Gui] modernize some UI connections
  src/Gui/Control.cpp
  src/Gui/DAGView/DAGModel.cpp
  src/Gui/DlgParameterImp.cpp
  src/Gui/DlgSettings3DViewImp.cpp
  src/Gui/DlgSettingsDocumentImp.cpp
  src/Gui/DlgUnitsCalculatorImp.cpp
  src/Gui/PythonConsole.cpp
  src/Gui/PythonEditor.cpp
Labels: Core
