Repository FreeCAD/FreeCAD, pull requests merged in 2023-11, with the labels that each got.

#11250 Part: Refactor of Section cutting (Step 2)
  src/Mod/Part/Gui/SectionCutting.cpp
  src/Mod/Part/Gui/SectionCutting.h
Labels: WB Part, Refactor

#11240 [TechDraw] Checkable menu item for Turn View Frames On/Off
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
Labels: WB TechDraw

#11251 Part: Refactor of Section cutting (Step 3)
  src/Mod/Part/Gui/SectionCutting.cpp
  src/Mod/Part/Gui/SectionCutting.h
Labels: WB Part

#11249 Fix #11032 flickering when switching to Part Design
  src/Gui/TaskView/TaskView.cpp
  src/Gui/TaskView/TaskView.h
Labels: Core

#11195 SplashScreen: add parameter to disable messages on the splashscreen
  src/Gui/MainWindow.cpp
  src/Gui/Splashscreen.cpp
  src/Gui/Splashscreen.h
Labels: Core

#11272 Sketcher: fix Line tool settings mode name
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
Labels: WB Sketcher

#11244 [GUI][Overlay]Fix for the overlay icons and pop-up notifcation
  src/Gui/Stylesheets/CMakeLists.txt
  src/Gui/Stylesheets/Dark-modern.qss
  src/Gui/Stylesheets/Dark.qss
  src/Gui/Stylesheets/Darker.qss
  src/Gui/Stylesheets/Light-modern.qss
  src/Gui/Stylesheets/Light.qss
  src/Gui/Stylesheets/overlay/Dark-Modern_overlay.qss
  src/Gui/Stylesheets/overlay/Dark_overlay.qss
  src/Gui/Stylesheets/overlay/Darker_overlay.qss
  src/Gui/Stylesheets/overlay/close_light.svg
  src/Gui/Stylesheets/overlay/close_lighter.svg
  src/Gui/Stylesheets/overlay/close_red.svg
  src/Gui/Stylesheets/overlay/float_light.svg
  src/Gui/Stylesheets/overlay/float_lighter.svg
  src/Gui/Stylesheets/overlay/mode_light.svg
  src/Gui/Stylesheets/overlay/mode_lighter.svg
  src/Gui/Stylesheets/overlay/overlay_light.svg
  src/Gui/Stylesheets/overlay/overlay_lighter.svg
  src/Gui/Stylesheets/overlay/taskshow_light.svg
  src/Gui/Stylesheets/overlay/transparent_light.svg
  src/Gui/Stylesheets/overlay/transparent_lighter.svg
Labels: Core

#11286 Base: fix crash in PyException::ReportException()
  src/Base/Interpreter.cpp
Labels: Core

#11187 Gui: issue #9205: Default settings make it hard to select objects in …
  src/Gui/SoFCUnifiedSelection.cpp
Labels: Core

#11218 Gui: Hide rotation center when in spinning mode
  src/Gui/NavigationStyle.cpp
Labels: Core

#11226 Correct code tag for info
  src/Gui/Splashscreen.cpp
Labels: Core

#11245 Path: Added typing to the refactored postprocessors.
  src/Mod/Path/Path/Post/UtilsArguments.py
  src/Mod/Path/Path/Post/scripts/refactored_centroid_post.py
  src/Mod/Path/Path/Post/scripts/refactored_grbl_post.py
  src/Mod/Path/Path/Post/scripts/refactored_linuxcnc_post.py
  src/Mod/Path/Path/Post/scripts/refactored_mach3_mach4_post.py
  src/Mod/Path/PathTests/TestRefactoredMach3Mach4Post.py
Labels: WB Path

#11241 removed unused variable
  src/Gui/SoDatumLabel.cpp
Labels: Core

#11248 Added Path PostProcessor for old WEDM machines
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Path/Post/scripts/wedm_post.py
Labels: WB Path

#11255 Change overlay window arrow keys to use Ctrl instead of Shift #11206 (clean patch)
  src/Gui/CommandView.cpp
Labels: Core

#11293 [TechDraw] Fix issue #10094
  src/Mod/TechDraw/TechDrawTools/CommandAxoLengthDimension.py
Labels: WB TechDraw

#10805 Std_Transparency : Toggle transparency of objects.
  src/Gui/CommandView.cpp
  src/Gui/Icons/Std_ToggleTransparency.svg
  src/Gui/Icons/resource.qrc
  src/Gui/Workbench.cpp
Labels: Core, UI/UX

#11190 Sketcher_Dimension: If radius of arc is not DoF, then offer arc angle first
  src/Mod/Sketcher/App/SolverGeometryExtension.h
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#10684 [planegcs] Removed unused code.
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Sketcher/App/planegcs/Geo.cpp
  src/Mod/Sketcher/App/planegcs/Geo.h
  src/Mod/Sketcher/App/planegcs/SubSystem.cpp
  src/Mod/Sketcher/App/planegcs/Util.h
Labels: WB Sketcher

#11227 PD: fixes #11197: If bounding box of Body is activated it will be don…
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
Labels: WB PartDesign

#11257 Draft: PlaneGui: view observer to update the Tray
  src/Mod/Draft/InitGui.py
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#11280 Arch: Fix issue with getSceneGraph
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchSite.py
Labels: WB Arch

#11295 Draft: improved props_changed_placement_only function
  src/Mod/Draft/draftobjects/base.py
Labels: WB Draft

#11320 Base: extend ShapeHintsItem to allow to set vertex ordering and shape…
  src/Base/Builder3D.cpp
  src/Base/Builder3D.h
Labels: Core

#11319 Arch: start and stop WP view observer
  src/Mod/Arch/InitGui.py
Labels: WB Arch

#11302 Update iso10642.json
  src/Mod/PartDesign/Resources/Hole/iso10642.json
Labels: WB PartDesign

#11318 Draft: fix import scale for Legacy DXF importer
  src/Mod/Draft/importDXF.py
Labels: WB Draft

#11254 Arch: make Arch_CutPlane nesting and link aware
  src/Mod/Arch/ArchCutPlane.py
Labels: WB Arch

#11336 Draft: Improve grid behavior
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_grid.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#11315 [TechDraw] Fixes #6527 - Implement face transparency
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIFace.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewSection.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.h
  src/Mod/TechDraw/Gui/ViewProviderViewSection.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewSection.h
Labels: WB TechDraw

#11322 Fix #10545 #11200 by using position of array members
  src/Mod/Mesh/App/Exporter.cpp
Labels: Backport, WB Mesh

#11358 Sketcher: DSH - improving geo creation helpers for ShapeGeometry
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
Labels: WB Sketcher

#10871 Sketcher: Box selection - Hyperbola/Parabola endpoint fix
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: WB Sketcher

#11360 Gui: Fixes #11341: Adjusting Light Sources in Preferences
  src/Gui/PreferencePages/DlgSettingsLightSources.cpp
Labels: Core

#11362 Sketcher: DSH Default - improve return value of ShapeGeometry functions
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
Labels: WB Sketcher

#11364 Draft: Draft_SelectPlane did not trigger the grid
  src/Mod/Draft/draftguitools/gui_selectplane.py
Labels: WB Draft

#11366 Draft: remove unused dimorientation and saveonexit prefs
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
  src/Mod/Draft/Resources/ui/preferences-draftvisual.ui
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#11372 RE: Allow to create planes from several selected meshes, remove ... f…
  src/Mod/ReverseEngineering/Gui/Command.cpp
Labels: WB ReverseEngineering

#11375 Gui: getter Gui::MainWindow::isRestoringWindowState possibly mismarke…
  src/Gui/MainWindow.h
Labels: Core

#11223 Part: format XML files
  src/Mod/Part/App/BRepOffsetAPI_MakePipeShellPy.xml
  src/Mod/Part/App/BezierCurvePy.xml
  src/Mod/Part/App/BezierSurfacePy.xml
  src/Mod/Part/App/BoundedCurvePy.xml
  src/Mod/Part/App/ConePy.xml
  src/Mod/Part/App/CylinderPy.xml
  src/Mod/Part/App/EllipsePy.xml
  src/Mod/Part/App/Geom2d/BSplineCurve2dPy.xml
  src/Mod/Part/App/Geom2d/BezierCurve2dPy.xml
  src/Mod/Part/App/Geom2d/Curve2dPy.xml
  src/Mod/Part/App/Geom2d/Ellipse2dPy.xml
  src/Mod/Part/App/Geom2d/Hyperbola2dPy.xml
  src/Mod/Part/App/Geom2d/OffsetCurve2dPy.xml
  src/Mod/Part/App/Geom2d/Parabola2dPy.xml
  src/Mod/Part/App/GeometryCurvePy.xml
  src/Mod/Part/App/GeometrySurfacePy.xml
  src/Mod/Part/App/HyperbolaPy.xml
  src/Mod/Part/App/OffsetCurvePy.xml
  src/Mod/Part/App/OffsetSurfacePy.xml
  src/Mod/Part/App/ParabolaPy.xml
  src/Mod/Part/App/PlateSurfacePy.xml
  src/Mod/Part/App/RectangularTrimmedSurfacePy.xml
  src/Mod/Part/App/SpherePy.xml
  src/Mod/Part/App/SurfaceOfExtrusionPy.xml
  src/Mod/Part/App/SurfaceOfRevolutionPy.xml
  src/Mod/Part/App/TopoShapeVertexPy.xml
  src/Mod/Part/App/ToroidPy.xml
  src/Mod/Part/App/TrimmedCurvePy.xml
Labels: WB Part

#11275 Fixes #11102: Main window doesn't remember where it was after restart
  src/Gui/MainWindow.cpp
Labels: Core

#11342 Gui: Do not add non-existing files to open recent menu
  src/Gui/Action.cpp
Labels: Core

#11348 Gui: ReportView - include notifier string
  src/Gui/ReportView.cpp
Labels: Core

#11356 [Python editor] match current indentation for next line when pressin…
  src/Gui/PythonEditor.cpp
  src/Gui/PythonEditor.h
Labels: Core

#11376 SketcherGui: Fix lints
  src/Mod/Sketcher/Gui/DrawSketchController.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
Labels: WB Sketcher

#11377 SketcherGui: ArcSlot lints
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcSlot.h
Labels: WB Sketcher

#11368 Path: Rearranged and renumbered some of the tests
  src/Mod/Path/PathTests/TestRefactoredTestPost.py
Labels: WB Path

#11378 [TD]fix regression on Links with scale
  src/Mod/TechDraw/App/ShapeExtractor.cpp
Labels: WB TechDraw

#11380 SketcherGui: DSH Default - return reference in ShapeConstraint helpers
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
Labels: WB Sketcher

#11382 SketcherGui: Compiler warning fix
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
Labels: WB Sketcher

#11383 [TD]fix regression on Links with scale
  src/Mod/TechDraw/App/ShapeExtractor.cpp
Labels: WB TechDraw

#11268 Fix windows uninstaller issue #10971 and #11232
  src/WindowsInstaller/FreeCAD-installer.nsi
  src/WindowsInstaller/include/declarations.nsh
  src/WindowsInstaller/include/gui.nsh
  src/WindowsInstaller/include/init.nsh
  src/WindowsInstaller/include/utils.nsh
Labels: Packaging/building, OS: Windows

#11379 Draft: remove the tolerance preference
  src/Mod/Draft/Draft.py
  src/Mod/Draft/Resources/ui/preferences-draft.ui
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#11387 Draft: more file extensions also in caps
  src/Mod/Draft/Resources/ui/TaskShapeString.ui
  src/Mod/Draft/Resources/ui/dialogHatch.ui
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
Labels: WB Draft

#11388 Arch: more file extensions also in caps
  src/Mod/Arch/ArchSchedule.py
  src/Mod/Arch/importIFClegacy.py
Labels: WB Arch

#11384 SketcherGui: DSH - parameter unused depending of constexpr fixed
  src/Mod/Sketcher/Gui/DrawSketchDefaultWidgetController.h
Labels: WB Sketcher

#11261 [Sketcher] Slot DSH : implement tool parameters.
  src/Mod/Sketcher/Gui/DrawSketchHandlerSlot.h
Labels: WB Sketcher

#11393 Draft: cleanup related to PR11336
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#11400 SketcherGui: Fix preselectAtPoint for non X-Y orientations
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#11402 Fix ESC key for Sketcher_Dimension
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#11405 Draft: menu texts of snaps to sentence case
  src/Mod/Draft/draftguitools/gui_snaps.py
Labels: WB Draft

#11415 Draft: prefs: remove copymode, useSupport no longer via UI
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/Resources/ui/preferences-draft.ui
Labels: WB Draft

#11357 Refresh body after pipe created
  src/Mod/PartDesign/Gui/TaskPipeParameters.cpp
Labels: WB PartDesign

#11407 Gui: QuantitySpinBox - keep format on setValue
  src/Gui/QuantitySpinBox.cpp
Labels: Core

#11419 Draft: Draft_Join should call join_wires
  src/Mod/Draft/draftguitools/gui_join.py
Labels: WB Draft

#11426 Draft: minor updates related to precision pref
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftgeoutils/faces.py
  src/Mod/Draft/importDXF.py
Labels: WB Draft

#11431 Gui: save active palette
  src/Gui/ExpressionBinding.cpp
Labels: Core, Color

#11428 Draft: make in-command shortcuts non-global
  src/Mod/Draft/DraftGui.py
Labels: WB Draft

#11436 Draft: constraining did not respect global mode
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: WB Draft

#11440 Draft: make Draft_Edit prefs non-global
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: WB Draft

#11443 Draft: store more command modes in prefs
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/Resources/ui/preferences-draft.ui
  src/Mod/Draft/draftguitools/gui_stretch.py
Labels: WB Draft

#11422 Add Docker configuration for conda.
  tools/build/Docker/Dockerfile.Conda
  tools/build/Docker/README.conda.rst
Labels: Packaging/building, Packaging: Conda, Packaging: Docker

#11425 Arch: remove global precision variables
  src/Mod/Arch/importIFClegacy.py
  src/Mod/Arch/importOBJ.py
Labels: WB Arch

#11430 Part : fix edge creation of Geom2d curves
  src/Mod/Part/App/Geom2d/Curve2dPyImp.cpp
Labels: WB Part

#11455 Part: add test for Geom2d.toShape
  src/Mod/Part/CMakeLists.txt
  src/Mod/Part/TestPartApp.py
  src/Mod/Part/parttests/Geom2d_tests.py
Labels: WB Part

#7193 PD: more options for revolution/groove
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureGroove.h
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureRevolution.h
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.h
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.ui
Labels: WB PartDesign

#11018 [Gui] Rework preferences navigation as TreeView - Part 1
  src/Gui/DlgPreferences.ui
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/DlgPreferencesImp.h
  src/Gui/PrefWidgets.cpp
  src/Gui/PropertyPage.cpp
  src/Gui/PropertyPage.h
Labels: Core

#11193 Update ShapeFix_EdgePy.xml
  src/Mod/Part/App/ShapeFix/ShapeFix_EdgePy.xml
Labels: WB Part

#11279 Gui: Fix window center rotation mode and orthographic view clipping
  src/Gui/NavigationAnimation.cpp
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/View3DInventorViewer.cpp
Labels: Core

#11273 ComplexGeoData and PropertyComplexGeoData serialization
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
  src/App/PropertyGeo.cpp
  src/App/PropertyGeo.h
  tests/src/App/ComplexGeoData.cpp
Labels: Core, Toponaming

#11328 [Sketcher] Group Trim/extend/split.
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#11329 Defend against surface not created from invalid face
  src/Mod/Part/App/Tools.cpp
Labels: WB Part

#11330 [Sketcher] Auto horizontal/vertical
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/Resources/Sketcher.qrc
  src/Mod/Sketcher/Gui/Resources/icons/constraints/Constraint_HorVer.svg
  src/Mod/Sketcher/Gui/Utils.h
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#11344 [Core] Status bar : reduce number of decimals
  src/Gui/Selection.cpp
  src/Gui/SoFCSelection.cpp
  src/Gui/SoFCUnifiedSelection.cpp
Labels: Core

#11367 Fixes "Project Information" is Misleading #11296 - replace project with document
  src/Gui/CommandDoc.cpp
  src/Gui/DlgProjectInformation.ui
  src/Gui/DlgProjectUtility.cpp
  src/Gui/DlgProjectUtility.ui
  src/Gui/PreferencePages/DlgSettingsGeneral.ui
Labels: Core

#11423 Path: Added separator lines to make the tests easier to find
  src/Mod/Path/PathTests/TestRefactoredTestPost.py
  src/Mod/Path/PathTests/TestRefactoredTestPostGCodes.py
  src/Mod/Path/PathTests/TestRefactoredTestPostMCodes.py
Labels: WB Path

#11421 Vscode split 4 upgrade python debugger
  requirements.txt
  src/Ext/freecad/CMakeLists.txt
  src/Ext/freecad/utils.py
  src/Gui/PreferencePages/DlgSettingsPythonConsole.cpp
  src/Gui/PreferencePages/DlgSettingsPythonConsole.ui
  src/Gui/RemoteDebugger.py
  src/Gui/RemoteDebugger.ui
  src/Mod/AddonManager/AddonManagerOptions.ui
  src/Mod/AddonManager/addonmanager_dependency_installer.py
  src/Mod/AddonManager/addonmanager_devmode.py
  src/Mod/AddonManager/addonmanager_preferences_defaults.json
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/manage_python_dependencies.py
Labels: Core, Addon Manager

#11450 [Start WB] extend file info in MRU tooltip
  src/Mod/Start/StartPage/StartPage.py
  src/Mod/Start/StartPage/TranslationTexts.py
Labels: WB Start

#11398 [Part Workbench]Prevent error when using link in boolean cut
  src/Mod/Part/BOPTools/BOPFeatures.py
Labels: WB Part

#11464 Draft: gridShowHuman did not work
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#11463 Base: fix bugprone reserved identifier
  .clang-tidy
  src/Base/Vector3D.cpp
  src/Base/Vector3D.h
Labels: Core

#11470 Part: Add BRepFeat_MakeRevol.hxx to Precompiled header
  src/Mod/Part/App/OpenCascadeAll.h
Labels: WB Part

#11469 Gui: remove code duplication of printing preselection
  src/Gui/Selection.cpp
  src/Gui/SoFCSelection.cpp
  src/Gui/SoFCUnifiedSelection.cpp
Labels: Core

#11467 Draft: make mod key prefs non-global
  src/Mod/Draft/DraftTools.py
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_labels.py
  src/Mod/Draft/draftguitools/gui_mirror.py
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_offset.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_tool_utils.py
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: WB Draft

#11477 Draft: improved handling of snap prefs
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#11481 Draft: add parameter observer
  src/Mod/Draft/CMakeLists.txt
  src/Mod/Draft/InitGui.py
  src/Mod/Draft/draftutils/params.py
Labels: WB Draft

#11478 [Part] Missing API documentaton Python HLR
  src/Mod/Part/App/HLRBRep/HLRBRep_AlgoPy.xml
  src/Mod/Part/App/HLRBRep/HLRBRep_PolyAlgoPy.xml
  src/Mod/Part/App/HLRBRep/HLRBRep_PolyAlgoPyImp.cpp
  src/Mod/Part/App/HLRBRep/HLRToShapePy.xml
  src/Mod/Part/App/HLRBRep/PolyHLRToShapePy.xml
Labels: WB Part

#11390 Prevent attempting to create an infinite helix
  src/Mod/Part/App/PrimitiveFeature.cpp
  src/Mod/Part/Gui/DlgPrimitives.cpp
Labels: WB Part

#11486 Base: Fix missing NOLINTEND [skip ci]
  src/Base/PyObjectBase.h
Labels: Core

#11491 Base: fix cppcoreguidelines-avoid-non-const-global-variables
  src/Base/Unit.cpp
  src/Base/Unit.h
Labels: Core

#11497 Base: fix google-explicit-constructor
  src/App/Document.cpp
  src/Base/Debugger.h
  src/Base/Exception.h
  src/Base/FileInfo.h
  src/Base/InputSource.h
  src/Base/Interpreter.h
  src/Base/PythonTypeExt.h
  src/Base/Stream.h
  src/Base/Tools.h
  src/Base/ViewProj.h
  src/Base/Writer.h
  src/Base/XMLTools.h
  src/Gui/ViewProviderExtern.cpp
  src/Mod/Mesh/App/Exporter.cpp
  src/Mod/Points/App/Points.cpp
  src/Mod/Points/App/PointsAlgos.cpp
Labels: Core, WB Mesh, WB Points

#11483 Arch: start Draft param observer
  src/Mod/Arch/InitGui.py
Labels: WB Arch

#11490 Draft: param observer: improve handling of statusbar widgets
  src/Mod/Draft/draftutils/params.py
Labels: WB Draft

#11495 Draft: make default anno style non-global
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
  src/Mod/Draft/draftutils/init_draft_statusbar.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
  src/Mod/Draft/draftviewproviders/view_draft_annotation.py
Labels: WB Draft

#11501 Base: cppcoreguidelines
  src/Base/Builder3D.cpp
  src/Base/Builder3D.h
  src/Base/Exception.cpp
  src/Base/Exception.h
  src/Base/FutureWatcherProgress.cpp
  src/Base/FutureWatcherProgress.h
  src/Base/InputSource.cpp
  src/Base/Interpreter.h
  src/Base/Tools.cpp
  src/Base/XMLTools.cpp
  src/Base/XMLTools.h
Labels: Core

#11503 Draft: Added a preference to turn on/off tool messages
  src/Mod/Draft/Resources/ui/preferences-draft.ui
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_base.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_circulararray.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_edit_draft_objects.py
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_fillets.py
  src/Mod/Draft/draftguitools/gui_hyperlink.py
  src/Mod/Draft/draftguitools/gui_join.py
  src/Mod/Draft/draftguitools/gui_labels.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_mirror.py
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_offset.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftguitools/gui_shapestrings.py
  src/Mod/Draft/draftguitools/gui_splines.py
  src/Mod/Draft/draftguitools/gui_split.py
  src/Mod/Draft/draftguitools/gui_stretch.py
  src/Mod/Draft/draftguitools/gui_texts.py
  src/Mod/Draft/draftguitools/gui_trimex.py
  src/Mod/Draft/draftutils/messages.py
Labels: WB Draft

#11510 Draft: gui_selectplane can rely on ParamObserver for grid changes
  src/Mod/Draft/draftguitools/gui_selectplane.py
Labels: WB Draft

#11509 Draft: Gui.ActiveDocument.ActiveView.getActiveObject has changed
  src/Mod/Draft/draftutils/gui_utils.py
Labels: WB Draft

#11512 Draft: improve Snap bar show-hide preference
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftguitools/gui_snaps.py
  src/Mod/Draft/draftutils/params.py
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#11524 [Gui] Add 20, 25 and 30px marker sizes to assist users of 4K screens
  src/Gui/Inventor/MarkerBitmaps.cpp
  src/Gui/PreferencePages/DlgSettings3DViewImp.cpp
Labels: Core

#11525 [Techdraw] Hole & Shaft Fit Error Enhancement
  src/Mod/TechDraw/TechDrawTools/CommandHoleShaftFit.py
Labels: WB TechDraw

#11526 Draft: use consistent is-number string in DraftGui.py
  src/Mod/Draft/DraftGui.py
Labels: WB Draft

#11528 Gui: use MarkerBitmaps::getSupportedSizes to get available sizes
  src/Gui/ApplicationPy.cpp
  src/Gui/Inventor/MarkerBitmaps.cpp
  src/Gui/Inventor/MarkerBitmaps.h
Labels: Core

#11531 Draft: use clearer snap marker names
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: WB Draft

#11529 MeshPart: menu texts to sentence case
  src/Mod/MeshPart/Gui/MeshFlatteningCommand.py
Labels: WB MeshPart

#11532 [Techdraw] Implement arc length calculation for arbitrary edge(s)
  src/Gui/PreferencePackTemplates/Shortcuts.cfg
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionArcLengthAnnotation.svg
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: Core, WB TechDraw

#11538 [Sketcher] hor/ver tool, remove unused variables
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#11550 Draft: improve handling of anno DisplayMode and LineSpacing
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
  src/Mod/Draft/draftguitools/gui_texts.py
  src/Mod/Draft/draftmake/make_text.py
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
  src/Mod/Draft/draftviewproviders/view_draft_annotation.py
  src/Mod/Draft/draftviewproviders/view_label.py
  src/Mod/Draft/draftviewproviders/view_text.py
Labels: WB Draft

#11014 Core: Enable compiling with MSVC /permissive-
  src/App/Application.cpp
  src/App/ApplicationPy.cpp
  src/App/DocumentPyImp.cpp
  src/App/Origin.h
  src/App/PropertyContainerPyImp.cpp
  src/Base/Quantity.cpp
  src/Base/UnitsApiPy.cpp
  src/Gui/3Dconnexion/GuiNativeEventWin32.cpp
  src/Gui/3Dconnexion/GuiNativeEventWin32.h
  src/Gui/3Dconnexion/GuiRawInputEventFilter.h
  src/Gui/ApplicationPy.cpp
  src/Gui/CommandPyImp.cpp
  src/Gui/DlgProjectInformationImp.cpp
  src/Gui/MainWindow.cpp
  src/Gui/QtAll.h
  src/Gui/Selection.cpp
  src/Gui/SelectionFilter.cpp
  src/Gui/View3DPy.cpp
  src/Gui/ViewProviderLink.cpp
  src/Gui/ViewProviderLink.h
  src/Main/MainGui.cpp
  src/Mod/Fem/App/AppFemPy.cpp
  src/Mod/Material/App/MaterialManagerPyImpl.cpp
  src/Mod/Material/App/ModelManagerPyImpl.cpp
  src/Mod/Mesh/App/AppMeshPy.cpp
  src/Mod/Mesh/App/MeshPyImp.cpp
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/App/BSplineCurvePyImp.cpp
  src/Mod/Part/App/BSplineSurfacePyImp.cpp
  src/Mod/Part/App/Geom2d/BSplineCurve2dPyImp.cpp
  src/Mod/Part/App/Geom2d/Curve2dPyImp.cpp
  src/Mod/Part/App/GeometryCurvePyImp.cpp
  src/Mod/Part/App/GeometrySurfacePyImp.cpp
  src/Mod/Part/App/OpenCascadeAll.h
  src/Mod/Part/App/PlateSurfacePyImp.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/Path/App/AppPathPy.cpp
  src/Mod/Path/App/CommandPyImp.cpp
  src/Mod/Points/App/AppPointsPy.cpp
  src/Mod/Robot/App/WaypointPyImp.cpp
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/PreCompiled.h
  src/Mod/TechDraw/Gui/PreCompiled.h
  src/Mod/TechDraw/Gui/QGISectionLine.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
Labels: Core, WB FEM, WB Path, WB TechDraw, WB Part, WB Mesh, WB Points

#11399 Correct PartDesign Helix feature negative angles
  src/Mod/PartDesign/App/FeatureHelix.cpp
Labels: WB PartDesign

#11406 Add readonly length properties to part helix and spiral
  src/Mod/Part/App/PrimitiveFeature.cpp
  src/Mod/Part/App/PrimitiveFeature.h
Labels: WB Part

#11513 Start: Allow dynamic translation of start page
  src/Mod/Start/Gui/Workbench.cpp
  src/Mod/Start/StartPage/StartPage.py
  src/Mod/Start/StartPage/TranslationTexts.py
Labels: Translation, WB Start

#11519 Gui: Update rotation center indicator after zoom
  src/Gui/NavigationStyle.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
Labels: Core

#11540 Gui: Add ScrollArea to Preferences and auto expand groups
  src/Gui/DlgPreferences.ui
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/DlgPreferencesImp.h
Labels: Core

#11549 Sketcher: add security checks to avoid possible undefined behaviour
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#11552 fixes #11533: TypeError in: FreeCADGui.getMainWindow().windowStateCha…
  src/Gui/MDIView.cpp
  src/Gui/MDIView.h
  src/Gui/MainWindow.h
  src/Gui/PythonWrapper.cpp
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventor.h
Labels: Core

#11506 Add conda and mamba to the conda-devenv.
  conda/environment.devenv.yml
Labels: Packaging/building, Packaging: Conda

#11569 MSYS: fix broken Qt6 build using MinGW & clang
  src/Gui/CMakeLists.txt
  src/Gui/DlgPreferencesImp.cpp
  src/Main/CMakeLists.txt
  tests/src/Mod/Material/App/CMakeLists.txt
Labels: Core

#11563 Core: Hide macro toolbar by default.
  src/Gui/Workbench.cpp
Labels: Core

#11555 [Gui] Add HourGlass markers including larger sizes
  src/Gui/ApplicationPy.cpp
  src/Gui/Inventor/MarkerBitmaps.cpp
Labels: Core

#11539 Don't apply the transformations recursively, just make sure the right…
  src/Mod/Mesh/App/Exporter.cpp
Labels: WB Mesh

#11312 Correct #9377 issue with accuracy in AdditiveHelix
  src/Mod/PartDesign/App/FeatureHelix.cpp
Labels: WB PartDesign

#11559 Draft: use param observer to update tray
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftutils/params.py
Labels: WB Draft

#11579 Draft: Revised preference ui files
  src/Mod/Draft/Resources/ui/preferences-draft.ui
  src/Mod/Draft/Resources/ui/preferences-draftinterface.ui
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
  src/Mod/Draft/Resources/ui/preferences-draftvisual.ui
Labels: WB Draft

#11589 Part: use BRepTools::OuterWire to get outer wire of a face
  src/Mod/Part/App/TopoShapeFacePyImp.cpp
Labels: WB Part

#11591 Fix various typos
  src/Gui/ApplicationPy.cpp
  src/Gui/CommandDoc.cpp
  src/Mod/AddonManager/NetworkManager.py
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/TechDraw/Gui/QGIRichAnno.cpp
  src/Mod/TechDraw/Gui/TaskRichAnno.cpp
  tests/src/Gui/QuantitySpinBox.cpp
Labels: Core, WB TechDraw, WB PartDesign, Addon Manager

#11592 Gui: simplify Application::sGetMarkerIndex
  src/Gui/ApplicationPy.cpp
Labels: Core
