Repository FreeCAD/FreeCAD, pull requests merged in 2023-07, with the labels that each got.

#9857 Fix trailing whitespace
  src/Mod/TechDraw/Templates/zh_CN/landscape/README
  tools/build/MacOS/BUILD_OSX.md
Labels: WB TechDraw

#9852 Use python3 as the interpreter instead of python (ie v2)
  src/Mod/AddonManager/AddonManager.py
  src/Mod/Spreadsheet/importXLSX.py
  src/Mod/TechDraw/TDTest/DLeaderRText.py
  src/Mod/TechDraw/TDTest/DrawHatchTest.py
  src/Mod/TechDraw/TDTest/DrawViewDetailTest.py
  src/Mod/TechDraw/TDTest/DrawViewPartTest.py
  src/Mod/TechDraw/TDTest/TDPyTest.py
  src/Mod/Test/testmakeWireString.py
  src/Mod/Test/unittestgui.py
Labels: WB TechDraw, WB Spreadsheet, Addon Manager, WB Test

#9822 Sketcher: fix CircleToCircle distance constraint with external
  src/Mod/Sketcher/App/Sketch.cpp
Labels: WB Sketcher

#9758 MainWindow: Fix for Automatic WB and edit mode WBs
  src/Gui/MainWindow.cpp
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: Core, WB Sketcher

#9858 [TD]fix missing translations
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
Labels: WB TechDraw

#9856 Fix various typos
  src/App/MappedName.cpp
  src/Gui/SoFCUnifiedSelection.cpp
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/femcommands/manager.py
  src/Mod/PartDesign/TestPartDesignGui.py
  src/Mod/Path/Path/Op/Pocket.py
  src/Mod/Path/Path/Post/scripts/uccnc_post.py
Labels: Core, WB FEM, WB Path, WB PartDesign

#9870 Missing dependencies qwebengine5-dev and qtwayland5 in Ubuntu Docker install script
  tools/build/Docker/ubuntu.sh
Labels: packaging: Docker

#9878 Use python3 as the interpreter instead of python (ie v2) more places.
  src/Mod/Mesh/App/MeshTestsApp.py
  src/Mod/Robot/KukaExporter.py
  src/Mod/Robot/MovieTool.py
Labels: WB Mesh

#9882 Get rid of some lintian complaints from github Python linter.
  src/Mod/Path/Path/Post/Command.py
Labels: WB Path

#9883 [TD]fix pathological centerline for points
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.h
Labels: WB TechDraw

#9886 Get rid of more lintian complaints from github Python linter.
  src/Mod/Path/Path/Post/Command.py
Labels: WB Path

#9891 TechDraw: Fix typo in HoleShafFit tooltip
  src/Mod/TechDraw/TechDrawTools/CommandHoleShaftFit.py
Labels: WB TechDraw

#9863 Fix #9792: PD tasks fail to launch if body is inside Part and activated
  src/Mod/PartDesign/Gui/Utils.cpp
Labels: WB PartDesign

#9679 FEM: Add missing translation string
  src/Mod/Fem/Gui/Workbench.cpp
Labels: WB FEM

#9889 Bug: Loaded Reinforcement WB translations along with Arch WB
  src/Mod/Arch/InitGui.py
Labels: L10N, WB Arch

#9835 Arch: Fixed error on null window preset creation parameters
  src/Mod/Arch/ArchWindowPresets.py
Labels: WB Arch

#9715 Updated stylesheets+preference packs.
  src/Gui/PreferencePacks/CMakeLists.txt
  src/Gui/PreferencePacks/Classic theme/Classic theme.cfg
  src/Gui/PreferencePacks/Dark theme/Dark theme.cfg
  src/Gui/PreferencePacks/Light theme/Light theme.cfg
  src/Gui/PreferencePacks/package.xml
  src/Gui/Stylesheets/CMakeLists.txt
  src/Gui/Stylesheets/Dark-blue.qss
  src/Gui/Stylesheets/Dark-green.qss
  src/Gui/Stylesheets/Dark-modern-blue.qss
  src/Gui/Stylesheets/Dark-modern-green.qss
  src/Gui/Stylesheets/Dark-modern-orange.qss
  src/Gui/Stylesheets/Dark-modern-pink.qss
  src/Gui/Stylesheets/Dark-orange.qss
  src/Gui/Stylesheets/Dark-pink.qss
  src/Gui/Stylesheets/Darker-blue.qss
  src/Gui/Stylesheets/Darker-green.qss
  src/Gui/Stylesheets/Darker-orange.qss
  src/Gui/Stylesheets/Darker-pink.qss
  src/Gui/Stylesheets/Light-blue.qss
  src/Gui/Stylesheets/Light-green.qss
  src/Gui/Stylesheets/Light-modern-blue.qss
  src/Gui/Stylesheets/Light-modern-green.qss
  src/Gui/Stylesheets/Light-modern-orange.qss
  src/Gui/Stylesheets/Light-modern-pink.qss
  src/Gui/Stylesheets/Light-orange.qss
  src/Gui/Stylesheets/Light-pink.qss
  src/Gui/Stylesheets/images_dark-light/check_dark.svg
  src/Gui/Stylesheets/images_dark-light/check_light.svg
  src/Gui/Stylesheets/images_dark-light/checkbox_checked_disabled.svg
  src/Gui/Stylesheets/images_dark-light/checkbox_dark_hover.svg
  src/Gui/Stylesheets/images_dark-light/checkbox_light_hover.svg
  src/Gui/Stylesheets/images_dark-light/checkbox_unchecked_dark.svg
  src/Gui/Stylesheets/images_dark-light/checkbox_unchecked_disabled.svg
  src/Gui/Stylesheets/images_dark-light/checkbox_unchecked_hover_dark.svg
  src/Gui/Stylesheets/images_dark-light/checkbox_unchecked_hover_light.svg
  src/Gui/Stylesheets/images_dark-light/checkbox_unchecked_light.svg
  src/Gui/Stylesheets/images_dark-light/close_red.svg
  src/Gui/Stylesheets/images_dark-light/more_arrow_dark.svg
  src/Gui/Stylesheets/images_dark-light/more_arrow_light.svg
  src/Gui/Stylesheets/images_dark-light/undock_blue.svg
Labels: Core, UI/UX, Stylesheets

#9854 Skip open_de9b3fb438 s390x to avoid OOM.
  src/Mod/Fem/femtest/app/test_open.py
Labels: WB FEM, OOM

#9902 [TD]allow delete of dependents on delete of parent
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
Labels: WB TechDraw

#9913 OpenSCAD: a test internally uses the DXF importer
  src/Mod/OpenSCAD/OpenSCADTest/app/test_importCSG.py
Labels: WB OpenSCAD

#9916 Base: fix bug in CoordinateSystem::setYDirection
  src/Base/CoordinateSystem.cpp
Labels: Core

#9917 [TD]fix rich text font size in pdf - fix 9908
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/QGIRichAnno.cpp
  src/Mod/TechDraw/Gui/QGIRichAnno.h
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/QGSPage.h
  src/Mod/TechDraw/Gui/QGVPage.h
Labels: WB TechDraw

#9918 Addon Manager: Fix #9828, hang on no internet
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Addon Manager

#9919 [TD]fix lock in Rich Text Anno
  src/Mod/TechDraw/Gui/QGIRichAnno.cpp
Labels: WB TechDraw, 0.21

#9915 Part: delete created document in unit test TopoShapeListTest.testMake…
  src/Mod/Part/parttests/TopoShapeListTest.py
Labels: WB Part

#9921 Part: add a unit test for PR #9905
  src/Mod/Part/CMakeLists.txt
  src/Mod/Part/TestPartGui.py
  src/Mod/Part/parttests/ColorPerFaceTest.py
Labels: WB Part

#9896 set toolbar icon size when starting FreeCAD GUI from Python
  src/Main/FreeCADGuiPy.cpp
Labels: Python, CLI

#9928 Fix various typos
  src/App/PropertyStandard.h
  src/Gui/Command.h
  src/Gui/TreeParams.h
  src/Gui/TreeParams.py
  src/Gui/core-gui.dox
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Fem/App/FemConstraintFluidBoundary.cpp
  src/Mod/Mesh/Gui/Doxygen.cpp
  src/Mod/Robot/Gui/CommandInsertRobot.cpp
Labels: Core, WB FEM, WB Draft, WB Mesh

#9780 Toponaming: ComplexGeoData dressing
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
  src/App/ElementMap.cpp
  src/App/ElementMap.h
  src/App/MappedElement.h
  src/App/MappedName.h
  src/App/StringHasher.h
  src/Mod/PartDesign/Gui/PreCompiled.h
  tests/src/App/CMakeLists.txt
  tests/src/App/ComplexGeoData.cpp
  tests/src/App/ElementMap.cpp
  tests/src/App/MappedName.cpp
Labels: Core, Toponaming

#9939 App/Toponaming: Add tests for findTagInElementName
  src/App/MappedName.cpp
  src/App/MappedName.h
  tests/src/App/MappedName.cpp
Labels: Core

#9946 [Part] Make tooltip match label
  src/Mod/Part/Gui/DlgImportStep.ui
Labels: WB Part

#9945 App/Toponaming: Tweak ComplexGeoData destructor
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
Labels: Core

#9949 Fix typos
  src/Mod/Mesh/App/Core/CylinderFit.cpp
  src/Mod/Mesh/App/Core/SphereFit.cpp
  src/Mod/Path/App/ParamsHelper.h
Labels: WB Path, WB Mesh

#9932 Draft: Fix get_diffuse_color function
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/todo.py
Labels: WB Draft

#9418 PATH: Avoid unnecessary mid-Op tool movements to origin: don't add the end …
  src/Mod/Path/Path/Op/Area.py
Labels: WB Path

#9950 Add FREEECAD_USE_CCACHE cmake option
  CMakeLists.txt
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
Labels: packaging/building

#9812 Sketcher: bugfixes and improvements in backside edit and section view
  src/Mod/Show/mTempoVis.py
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.h
  src/Mod/Sketcher/Gui/EditModeGeometryCoinManager.cpp
Labels: WB Sketcher

#9836 fix: Spreadsheet applies content/alias even when focus lost
  src/Mod/Spreadsheet/Gui/SpreadsheetView.cpp
Labels: WB Spreadsheet

#9954 [Core] Warn user if using deprecated backup extension
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Gui/MainWindow.cpp
Labels: Core, UI/UX

#9764 FEM: fix gmsh relative paths
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtest/data/elmer/group_mesh.geo
Labels: WB FEM

#9955 Draft: Auto workingplane ignored rotation around axis
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#9583 Save all decimals when property is edited
  src/Gui/propertyeditor/PropertyItem.cpp
Labels: Core

#9967 [TD]add missing command to menu
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: WB TechDraw

#9974 [Bugfix]Base: fix implementation of isFile() so it is safe to use
  src/Base/FileInfo.cpp
Labels: Core

#9668 [Core] Fix ordering confusion in backups
  src/App/Document.cpp
  src/Gui/DlgSettingsDocument.ui
Labels: Core

#9971 App/Toponaming: Fix Python 3.11 compile issue
  src/App/StringHasher.h
Labels: Core

#9975 [Bugfix]Gui: detach field sensor of draggers and handle post-call of callbacks
  src/Gui/SoFCCSysDragger.cpp
Labels: Core

#9929 App: fix removing object while recomputing
  src/App/Document.cpp
Labels: Core

#9978 [TD]fix face colour preference ignored issue #9976
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIFace.h
Labels: WB TechDraw

#9984 Draft: add unit test for issue #9912
  src/Mod/Draft/CMakeLists.txt
  src/Mod/Draft/TestDraft.py
  src/Mod/Draft/drafttests/test_array.py
Labels: WB Draft

#9565 PD: fix out of scope warnings of Clone feature
  src/Mod/PartDesign/App/FeatureBase.cpp
  src/Mod/PartDesign/App/FeatureBase.h
Labels: WB PartDesign

#9795 Base: Fix warnings -Wredundant-move
  src/Base/MatrixPyImp.cpp
Labels: Core

#9594 Part: fixes #9549: Part Fuse not working inside Part container
  src/App/DocumentObjectPy.xml
  src/App/DocumentObjectPyImp.cpp
  src/Base/Tools.cpp
  src/Base/Tools.h
  src/Mod/Part/BOPTools/BOPFeatures.py
  src/Mod/Part/CMakeLists.txt
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/DlgBooleanOperation.cpp
  src/Mod/Part/TestPartApp.py
  tests/src/Base/tst_Tools.cpp
Labels: Core, WB Part

#9985 [TD]use shared renderer for svg tiles
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIFace.h
Labels: WB TechDraw

#9986 [TD]fix handling of multiple pages
  src/Mod/TechDraw/Gui/Command.cpp
Labels: WB TechDraw

#9648 Gui: also print category string of Qt messages
  src/Gui/Application.cpp
Labels: Core

#9993 Fix typos
  src/App/DocumentObserver.h
  src/App/Metadata.h
  src/Gui/ViewProviderPy.xml
  src/Mod/Arch/ArchStructure.py
  src/Mod/OpenSCAD/InitGui.py
Labels: Core, WB Arch, WB OpenSCAD

#9995 [TD]reduce number of tiles for svg hatching
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/QGIFace.cpp
Labels: WB TechDraw

#9997 [TD]remove unsupported file type from dialog
  src/Mod/TechDraw/Gui/Command.cpp
Labels: WB TechDraw

#10009 Gui: Avoid segfault if window is not an MDIView
  src/Gui/MainWindow.cpp
Labels: Core

#10016 [Pref] Change the default of 'Save thumbnail on doc save'
  src/Gui/AutoSaver.cpp
  src/Gui/DlgSettingsDocument.ui
  src/Gui/Document.cpp
Labels: Core

#10002 Move 'Recent Files' menu entry and rename it 'Open Recent'
  src/Gui/CommandStd.cpp
  src/Gui/Workbench.cpp
Labels: Core
