Repository FreeCAD/FreeCAD, pull requests merged in 2023-08, with the labels that each got.

#10028 Path: fix test failure with MSYS2 build
  src/Mod/Path/PathTests/TestPathPost.py
Labels: WB Path

#10036 Gui: Clarify message about FCbak
  src/Gui/Application.cpp
Labels: Core

#10037 Backport of FCBak message cleanup
  src/Gui/Application.cpp
Labels: Core, WB FEM, WB Arch, WB Draft, WB Path, WB TechDraw, WB PartDesign, WB Part, WB Sketcher, Addon Manager

#9987 [Bugfix]Gui: in draggers, remove/detach all callbacks + add checks and asserts
  src/Gui/SoFCCSysDragger.cpp
Labels: Core

#10056 Fix various typos
  src/App/DocumentObject.cpp
  src/Gui/PythonEditor.cpp
  src/Gui/View3DViewerPy.h
  src/Mod/Arch/OfflineRenderingUtils.py
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/PartDesign/App/Body.h
  src/Mod/PartDesign/App/json.hpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.h
Labels: Core, WB FEM, WB Arch, WB PartDesign, WB Sketcher

#10066 Bump build version to 0.22 and make it obvious it's a developer build
  CMakeLists.txt
  src/App/Application.cpp
  src/Build/Version.h.cmake
  src/Gui/Application.cpp
  src/Gui/MainWindow.cpp
  src/Gui/MainWindow.h
  src/Gui/Splashscreen.cpp
Labels: Core

#10064 add cstdint behind ifdef __GNUC__ for compiling under alpine linux
  src/Base/Builder3D.h
Labels: Core

#10031 Core: report the real error of a failed feature after a recompute
  src/App/Document.cpp
Labels: Core, 0.22

#9989 removed coin<3 references
  src/Gui/SoFCOffscreenRenderer.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: Core, WB Sketcher, 0.22

#9988 removed old OCC <7 references
  cMake/FindOCC.cmake
  src/Mod/Import/App/dxf/dxf.h
  src/Mod/Part/App/BRepOffsetAPI_MakePipeShellPy.xml
  src/Mod/Part/BOPTools/JoinAPI.py
  src/Mod/Part/BOPTools/__init__.py
Labels: WB Part, 0.22

#9977 Qt6 port
  src/App/Document.cpp
  src/Gui/Action.cpp
  src/Gui/CallTips.cpp
  src/Gui/DlgToolbarsImp.cpp
  src/Gui/PythonConsole.cpp
  src/Gui/PythonEditor.cpp
  src/Gui/ReportView.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
Labels: Core, WB Sketcher, 3rd party: Qt 6

#9965 remove qt4 unused wrap
  src/Gui/Quarter/CMakeLists.txt
Labels: Core

#10035 Remove the version select data item from the github issue template
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
Labels: Core, WB FEM, WB Arch, WB Draft, WB Path, WB TechDraw, WB PartDesign, WB Part, WB Sketcher, Addon Manager, :octocat:

#10081 modernize C++: use nullptr
  src/App/ElementMap.h
  src/App/StringHasherPyImp.cpp
  src/Base/Parameter.cpp
  src/Base/Parameter.h
  src/Gui/Tree.h
  src/Gui/UiLoader.h
  src/Gui/ViewProviderLink.cpp
  src/Mod/Import/App/dxf/dxf.cpp
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
  src/Mod/Surface/Gui/Command.cpp
  src/Tools/generateTemplates/templateClassPyExport.py
Labels: Core, WB Sketcher

#10067 [GUI] QuantitySpinBox: Regex optimization.
  src/Gui/QuantitySpinBox.cpp
Labels: Core

#9834 added PDF/A-1b compliancy to all PDF export functions
  src/Gui/ApplicationPy.cpp
  src/Gui/EditorView.cpp
  src/Gui/MDIView.cpp
  src/Gui/View3DInventor.cpp
  src/Mod/Spreadsheet/Gui/SpreadsheetView.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
Labels: Core, WB TechDraw, WB Spreadsheet, 0.22

#9599 Part: add optional tolerance to python sortEdges()
  src/Mod/Part/App/AppPartPy.cpp
Labels: WB Part, 0.22

#10054 Mesh: for invalid neighbour facet indexes explicitly use -1
  src/Mod/Mesh/App/FacetPyImp.cpp
Labels: WB Mesh

#10085 modernize C++: use bool literals
  src/App/DocumentPyImp.cpp
  src/App/Expression.cpp
  src/Gui/ExpressionCompleter.cpp
  src/Gui/Selection.cpp
  src/Gui/Tree.cpp
  src/Gui/View3DSettings.cpp
  src/Gui/ViewProviderLink.cpp
  src/Gui/WidgetFactory.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTransform.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Import/App/ExportOCAF.cpp
  src/Mod/Import/App/ImportOCAF2.cpp
  src/Mod/MeshPart/App/MeshFlatteningLscmRelax.cpp
  src/Mod/Part/App/Geometry.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/Gui/Utils.cpp
  src/Mod/Path/App/Area.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/Mod/TechDraw/Gui/TaskLineDecor.cpp
Labels: Core, WB FEM, WB Path, WB TechDraw, WB PartDesign, WB Part, WB MeshPart

#10091 modernize C++: use using
  src/App/DocumentObserverPython.h
  src/App/ElementMap.h
  src/Base/Writer.cpp
  src/Gui/DocumentObserverPython.h
  src/Gui/Quarter/SoQTQuarterAdaptor.h
  src/Gui/SoFCSelectionContext.h
  src/Gui/SoFCUnifiedSelection.cpp
  src/Mod/PartDesign/App/FeatureHole.h
Labels: Core, WB PartDesign

#10097 modernize C++: use emplace
  src/Mod/Fem/Gui/DlgSettingsFemGeneralImp.cpp
  src/Mod/MeshPart/App/MeshFlatteningLscmRelax.cpp
  src/Mod/MeshPart/App/MeshFlatteningNurbs.cpp
  src/Mod/Part/App/PropertyTopoShapeList.cpp
Labels: WB FEM, WB Part, WB MeshPart

#10103 modernize C++: use transparent functors
  src/App/ElementMap.h
  src/Gui/ShortcutManager.cpp
  src/Mod/Mesh/App/Core/Builder.cpp
  src/Mod/Mesh/App/Core/Degeneration.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
Labels: Core, WB TechDraw, WB Spreadsheet, WB Sketcher, WB Mesh

#9689 Surface: fix BlendCurve relative size
  src/Mod/Surface/App/Blending/BlendCurve.cpp
Labels: WB Surface

#9909 Gui: Add rotation center indicator
  src/Gui/DlgSettingsNavigation.cpp
  src/Gui/DlgSettingsNavigation.ui
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/PreferencePackTemplates/View.cfg
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
Labels: Core

#9972 allow reduction of Part ViewProvider tesselation resolution
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: WB Part

#10104 modernize C++: raw string literal
  src/App/Document.cpp
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyPythonObject.cpp
  src/Gui/CallTips.cpp
  src/Gui/CommandStd.cpp
  src/Gui/DlgCreateNewPreferencePackImp.cpp
  src/Gui/DlgSettingsImageImp.cpp
  src/Gui/FileDialog.cpp
  src/Gui/MDIView.cpp
  src/Gui/Placement.cpp
  src/Gui/SelectionView.cpp
  src/Gui/SoFCDB.cpp
  src/Gui/SoFCVectorizeSVGAction.cpp
  src/Gui/Splashscreen.cpp
  src/Mod/Mesh/App/Core/IO/ReaderOBJ.cpp
  src/Mod/Mesh/App/Core/MeshIO.cpp
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/Mirroring.cpp
  src/Mod/PartDesign/Gui/TaskSketchBasedParameters.cpp
  src/Mod/ReverseEngineering/Gui/FitBSplineSurface.cpp
  src/Mod/Spreadsheet/App/PropertySheet.cpp
Labels: Core, WB PartDesign, WB Part, WB Spreadsheet, WB Mesh, WB ReverseEngineering

#10106 modernize C++: make unique
  src/App/Document.cpp
  src/App/Expression.cpp
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyLinks.cpp
  src/Base/Parameter.cpp
  src/Base/ProgressIndicatorPy.cpp
  src/Gui/Action.cpp
  src/Gui/Command.cpp
  src/Gui/CommandView.cpp
  src/Gui/Tree.cpp
  src/Gui/ViewProviderLink.cpp
  src/Gui/ViewProviderPlacement.cpp
  src/Mod/Mesh/App/AppMeshPy.cpp
  src/Mod/Mesh/App/Exporter.cpp
  src/Mod/Mesh/App/Mesh.cpp
  src/Mod/Mesh/App/MeshPyImp.cpp
  src/Mod/Mesh/App/MeshTexture.cpp
  src/Mod/Part/App/BSplineCurvePyImp.cpp
  src/Mod/Part/App/FaceMakerBullseye.cpp
  src/Mod/Part/App/Geom2d/BSplineCurve2dPyImp.cpp
  src/Mod/Part/App/GeomPlate/CurveConstraintPyImp.cpp
  src/Mod/Part/App/GeomPlate/PointConstraintPyImp.cpp
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry2d.cpp
  src/Mod/Part/Gui/SoBrepFaceSet.cpp
  src/Mod/Path/App/Area.cpp
  src/Mod/Points/App/AppPointsPy.cpp
  src/Mod/Robot/App/Trajectory.cpp
  src/Mod/Spreadsheet/App/Cell.cpp
  src/Mod/Spreadsheet/App/Sheet.cpp
Labels: Core, WB Path, WB Part, WB Spreadsheet, WB Mesh, WB Points

#10112 Fix various typos
  src/Gui/PreferencePages/DlgSettingsTheme.ui
  src/Mod/Draft/draftfunctions/downgrade.py
Labels: Core, WB Draft

#10121 Path: make export macro accessible in header file
  src/Mod/Path/PathGlobal.h
  src/Mod/Path/PathSimulator/App/PreCompiled.h
Labels: WB Path

#10060 Gui: Expose the upDirection vector to Python
  src/Gui/View3DPy.cpp
  src/Gui/View3DPy.h
Labels: Core

#10129 Preference Page Theme : remove junk from .ui file.
  src/Gui/PreferencePages/DlgSettingsTheme.ui
Labels: Core

#10141 fixes #10105: Tabstop assignment compilation warning
  src/Gui/PreferencePages/DlgSettingsViewColor.ui
Labels: Core

#10137 TD: fix possible crash in QGIWeldSymbol::customBoundingRect()
  src/Mod/TechDraw/Gui/QGIWeldSymbol.cpp
  src/Mod/TechDraw/Gui/QGIWeldSymbol.h
Labels: WB TechDraw

#10118 Path: Avoid dictionary.keys() if possible
  src/Mod/Path/Path/Base/FeedRate.py
  src/Mod/Path/Path/Dressup/DogboneII.py
  src/Mod/Path/Path/Main/Gui/JobDlg.py
  src/Mod/Path/Path/Main/Gui/PreferencesJob.py
  src/Mod/Path/Path/Op/Gui/FeatureExtension.py
  src/Mod/Path/Path/Post/Command.py
Labels: WB Path

#10143 fixes #10063: Part_SectionCut does not work if the view is in perspec…
  src/Mod/Part/Gui/SectionCutting.cpp
Labels: WB Part

#10148 PartDesign: Avoid dictionary.keys() where possible
  src/Mod/PartDesign/FeatureHole/Standards.py
  src/Mod/PartDesign/SprocketFeature.py
  src/Mod/PartDesign/WizardShaft/SegmentFunction.py
  src/Mod/PartDesign/WizardShaft/WizardShaftTable.py
Labels: WB PartDesign

#10164 Gui: fix another tabstop compilation warning
  src/Gui/PreferencePages/DlgSettingsViewColor.ui
Labels: Core

#10162 modernize C++: use equals delete
  src/App/AutoTransaction.h
  src/App/DocumentObserver.h
  src/App/Property.h
  src/App/PropertyContainer.h
  src/Base/Builder3D.h
  src/Base/Handle.cpp
  src/Base/Handle.h
  src/Base/InputSource.cpp
  src/Base/InputSource.h
  src/Base/Parameter.cpp
  src/Base/Sequencer.h
  src/Base/Stream.h
  src/Base/Writer.h
  src/Gui/DocumentObserver.h
  src/Gui/NavigationStyle.h
  src/Gui/NotificationBox.h
  src/Gui/SoFCOffscreenRenderer.h
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Mesh/App/Core/Info.h
  src/Mod/Mesh/App/Core/Iterator.h
  src/Mod/Mesh/App/Core/KDTree.h
  src/Mod/Mesh/App/Core/Tools.h
  src/Mod/Mesh/Gui/SoFCMeshObject.h
  src/Mod/Part/App/Geometry.h
  src/Mod/Part/App/Geometry2d.h
  src/Mod/Points/App/PointsAlgos.cpp
Labels: Core, WB FEM, WB Part, WB Mesh, WB Points

#10163 Test: avoid to expand test dialog if label text is too long
  src/Mod/Test/Gui/UnitTestImp.cpp
Labels: WB Test

#10166 Base: Explicitly avoid parameters in PrecisionPy methods
  src/Base/PrecisionPyImp.cpp
Labels: Core

#10170 Spreadsheet: Fix build on macOS
  src/Mod/Spreadsheet/Gui/SheetModel.cpp
  src/Mod/Spreadsheet/Gui/SpreadsheetView.cpp
Labels: WB Spreadsheet

#10169 Fix build of "tests" on macOS
  tests/CMakeLists.txt
Labels: Packaging/building, OS: macOS

#10116 Draft: Fix SVG Edges not ordered issue
  src/Mod/Draft/draftfunctions/svgshapes.py
Labels: WB Draft

#10152 Gui: Tweak size of developer warning
  src/Gui/MainWindow.cpp
  src/Gui/MainWindow.h
Labels: Core

#10158 AddonManager: Avoid dictionary.keys() where possible
  src/Mod/AddonManager/addonmanager_devmode_add_content.py
Labels: Addon Manager

#10189 TD: Correct translation in TaskComplexSection
  src/Mod/TechDraw/Gui/TaskComplexSection.cpp
Labels: WB TechDraw

#10188 TD: Correct use of TRANSLATE_NOOP
  src/Mod/TechDraw/TechDrawTools/TaskHoleShaftFit.py
Labels: WB TechDraw

#10181 Draft: make_sketch should not change Autoconstraints of sketch
  src/Mod/Draft/draftmake/make_sketch.py
Labels: WB Draft

#10160 Draft: Avoid dictionary.keys() where possible
  src/Mod/Draft/draftfunctions/move.py
  src/Mod/Draft/draftfunctions/rotate.py
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftviewproviders/view_base.py
Labels: WB Draft

#10159 Arch: Avoid dictionary.keys() where possible
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchComponent.py
  src/Mod/Arch/ArchIFC.py
  src/Mod/Arch/ArchIFCView.py
  src/Mod/Arch/ArchMaterial.py
  src/Mod/Arch/ArchReference.py
  src/Mod/Arch/exportIFC.py
  src/Mod/Arch/importDAE.py
  src/Mod/Arch/importIFC.py
  src/Mod/Arch/importIFCHelper.py
  src/Mod/Arch/importIFClegacy.py
  src/Mod/Arch/importSH3D.py
Labels: WB Arch

#10211 Fix various typos
  src/Gui/View3DInventorViewer.h
  src/Mod/Fem/femexamples/constraint_contact_shell_shell.py
  src/Mod/Part/App/Attacher.cpp
  src/Mod/PartDesign/fcgear/involute.py
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: Core, WB FEM, WB PartDesign, WB Part, WB Sketcher

#10146 App: Fix crash and undefined behavior in StringHasherPy and StringIDPy
  src/App/Application.cpp
  src/App/StringHasherPyImp.cpp
  src/App/StringIDPyImp.cpp
  src/Mod/Test/CMakeLists.txt
  src/Mod/Test/Init.py
  src/Mod/Test/StringHasher.py
Labels: Core

#10125 Finish renaming desktop filename to org.freecad.FreeCAD
  package/fedora/freecad.spec
  src/Gui/CMakeLists.txt
  src/Tools/freecad-thumbnailer
  src/XDGData/CMakeLists.txt
  src/XDGData/org.freecad.FreeCAD.appdata.xml.in
  src/XDGData/org.freecad.FreeCAD.desktop
  src/XDGData/org.freecad.FreeCAD.xml
  src/XDGData/org.freecadweb.FreeCAD.svg
Labels: Core

#10216 Remove the PR template text
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :octocat:

#10224 App: modernize C++: use range-based for loop
  src/App/Application.cpp
  src/App/ApplicationPy.cpp
  src/App/ComplexGeoDataPyImp.cpp
  src/App/Document.cpp
  src/App/DocumentObjectPyImp.cpp
  src/App/DocumentPyImp.cpp
  src/App/Enumeration.cpp
  src/App/Expression.cpp
  src/App/Graphviz.cpp
  src/App/GroupExtension.cpp
  src/App/Link.cpp
  src/App/LinkBaseExtensionPyImp.cpp
  src/App/ObjectIdentifier.cpp
  src/App/PropertyContainer.cpp
  src/App/PropertyContainerPyImp.cpp
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyGeo.cpp
  src/App/PropertyLinks.cpp
  src/App/PropertyPythonObject.cpp
  src/App/PropertyStandard.cpp
  src/App/Transactions.cpp
  src/App/VRMLObject.cpp
Labels: Core

#10236 Mesh: modernize C++: use range-based for loop
  src/Mod/Mesh/App/Core/Algorithm.cpp
  src/Mod/Mesh/App/Core/Approximation.cpp
  src/Mod/Mesh/App/Core/Builder.cpp
  src/Mod/Mesh/App/Core/Curvature.cpp
  src/Mod/Mesh/App/Core/CylinderFit.cpp
  src/Mod/Mesh/App/Core/Decimation.cpp
  src/Mod/Mesh/App/Core/Degeneration.cpp
  src/Mod/Mesh/App/Core/Elements.cpp
  src/Mod/Mesh/App/Core/Elements.h
  src/Mod/Mesh/App/Core/Evaluation.cpp
  src/Mod/Mesh/App/Core/Grid.cpp
  src/Mod/Mesh/App/Core/IO/ReaderOBJ.cpp
  src/Mod/Mesh/App/Core/IO/Writer3MF.cpp
  src/Mod/Mesh/App/Core/IO/WriterOBJ.cpp
  src/Mod/Mesh/App/Core/KDTree.cpp
  src/Mod/Mesh/App/Core/MeshIO.cpp
  src/Mod/Mesh/App/Core/MeshKernel.cpp
  src/Mod/Mesh/App/Core/Projection.cpp
  src/Mod/Mesh/App/Core/Segmentation.cpp
  src/Mod/Mesh/App/Core/SetOperations.cpp
  src/Mod/Mesh/App/Core/Smoothing.cpp
  src/Mod/Mesh/App/Core/SphereFit.cpp
  src/Mod/Mesh/App/Core/Tools.cpp
  src/Mod/Mesh/App/Core/Tools.h
  src/Mod/Mesh/App/Core/TopoAlgorithm.cpp
  src/Mod/Mesh/App/Core/Triangulation.cpp
  src/Mod/Mesh/App/Core/Trim.cpp
  src/Mod/Mesh/App/Core/TrimByPlane.cpp
  src/Mod/Mesh/App/Core/Visitor.cpp
  src/Mod/Mesh/App/Core/Visitor.h
  src/Mod/Mesh/App/EdgePyImp.cpp
  src/Mod/Mesh/App/Exporter.cpp
  src/Mod/Mesh/App/FeatureMeshCurvature.cpp
  src/Mod/Mesh/App/FeatureMeshSegmentByMesh.cpp
  src/Mod/Mesh/App/Mesh.cpp
  src/Mod/Mesh/App/MeshProperties.cpp
  src/Mod/Mesh/App/MeshPyImp.cpp
  src/Mod/Mesh/Gui/Command.cpp
  src/Mod/Mesh/Gui/DlgDecimating.cpp
  src/Mod/Mesh/Gui/DlgEvaluateMeshImp.cpp
  src/Mod/Mesh/Gui/DlgSmoothing.cpp
  src/Mod/Mesh/Gui/MeshEditor.cpp
  src/Mod/Mesh/Gui/MeshSelection.cpp
  src/Mod/Mesh/Gui/PropertyEditorMesh.cpp
  src/Mod/Mesh/Gui/Segmentation.cpp
  src/Mod/Mesh/Gui/SegmentationBestFit.cpp
  src/Mod/Mesh/Gui/SoFCMeshObject.cpp
  src/Mod/Mesh/Gui/ViewProvider.cpp
  src/Mod/Mesh/Gui/ViewProviderCurvature.cpp
  src/Mod/Mesh/Gui/ViewProviderDefects.cpp
  src/Mod/Mesh/Gui/ViewProviderMeshFaceSet.cpp
  src/Mod/Mesh/Gui/Workbench.cpp
Labels: WB Mesh

#10244 Sheet: modernize C++: use range-based for loop
  src/Mod/Spreadsheet/App/PropertySheet.cpp
  src/Mod/Spreadsheet/App/Sheet.cpp
  src/Mod/Spreadsheet/App/SheetPyImp.cpp
  src/Mod/Spreadsheet/Gui/Command.cpp
  src/Mod/Spreadsheet/Gui/SheetModel.cpp
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
Labels: WB Spreadsheet

#10237 Add some vector expression functions
  src/App/Expression.cpp
  src/App/ExpressionParser.h
  src/Mod/Spreadsheet/TestSpreadsheet.py
Labels: Core, WB Spreadsheet

#10242 Gui: Change SelectionFilterPy to new PyCXX extension type
  src/Gui/Application.cpp
  src/Gui/CMakeLists.txt
  src/Gui/Selection.cpp
  src/Gui/SelectionFilter.cpp
  src/Gui/SelectionFilter.h
  src/Gui/SelectionFilterPy.cpp
  src/Gui/SelectionFilterPy.h
Labels: Core

#10215 [Preferences] Fix #9206 - Sketcher Marker Size setting is misplaced
  src/Gui/PreferencePages/DlgSettings3DView.ui
Labels: Core

#10175 Gui: Cleanup Python varargs
  src/Gui/View3DPy.cpp
  src/Gui/View3DPy.h
Labels: Core

#10233 Draft: Add Justification option to ShapeString
  src/Mod/Draft/draftobjects/shapestring.py
Labels: WB Draft

#10214 Path: add estlcam_post.py to CMakeList.txt
  src/Mod/Path/CMakeLists.txt
Labels: WB Path

#9969 Gui: Improve object center rotation mode
  src/Gui/NavigationStyle.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/ViewProvider.h
  src/Gui/ViewProviderMeasureDistance.cpp
  src/Gui/ViewProviderMeasureDistance.h
Labels: Core

#10222 Keep the label of a variable in expression on spreadsheet alias rename
  src/App/Expression.cpp
Labels: Core

#10247 PD: modernize C++: use range-based for loop
  src/Mod/PartDesign/App/Body.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureFillet.cpp
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureMultiTransform.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/FeatureThickness.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/ReferenceSelection.cpp
  src/Mod/PartDesign/Gui/TaskBooleanParameters.cpp
  src/Mod/PartDesign/Gui/TaskChamferParameters.cpp
  src/Mod/PartDesign/Gui/TaskDraftParameters.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskFeaturePick.cpp
  src/Mod/PartDesign/Gui/TaskFilletParameters.cpp
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskLoftParameters.cpp
  src/Mod/PartDesign/Gui/TaskMirroredParameters.cpp
  src/Mod/PartDesign/Gui/TaskMultiTransformParameters.cpp
  src/Mod/PartDesign/Gui/TaskPipeParameters.cpp
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskScaledParameters.cpp
  src/Mod/PartDesign/Gui/TaskShapeBinder.cpp
  src/Mod/PartDesign/Gui/TaskSketchBasedParameters.cpp
  src/Mod/PartDesign/Gui/TaskThicknessParameters.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.cpp
  src/Mod/PartDesign/Gui/ViewProviderBoolean.cpp
  src/Mod/PartDesign/Gui/ViewProviderMultiTransform.cpp
Labels: WB PartDesign

#10246 Part: modernize C++: use range-based for loop
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/BSplineCurvePyImp.cpp
  src/Mod/Part/App/BodyBase.cpp
  src/Mod/Part/App/ExtrusionHelper.cpp
  src/Mod/Part/App/FaceMakerCheese.cpp
  src/Mod/Part/App/FeatureChamfer.cpp
  src/Mod/Part/App/FeatureCompound.cpp
  src/Mod/Part/App/FeatureExtrusion.cpp
  src/Mod/Part/App/FeatureFillet.cpp
  src/Mod/Part/App/FeatureGeometrySet.cpp
  src/Mod/Part/App/FeaturePartCommon.cpp
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/Part/App/FeaturePartPolygon.cpp
  src/Mod/Part/App/Geom2d/BSplineCurve2dPyImp.cpp
  src/Mod/Part/App/GeometryCurvePyImp.cpp
  src/Mod/Part/App/GeometryPyImp.cpp
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeatures.cpp
  src/Mod/Part/App/PropertyGeometryList.cpp
  src/Mod/Part/App/PropertyTopoShape.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShapeFacePyImp.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/Part/App/modelRefine.cpp
  src/Mod/Part/Gui/BoxSelection.cpp
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/CommandSimple.cpp
  src/Mod/Part/Gui/CrossSections.cpp
  src/Mod/Part/Gui/DlgBooleanOperation.cpp
  src/Mod/Part/Gui/DlgExtrusion.cpp
  src/Mod/Part/Gui/DlgFilletEdges.cpp
  src/Mod/Part/Gui/DlgProjectionOnSurface.cpp
  src/Mod/Part/Gui/DlgRevolution.cpp
  src/Mod/Part/Gui/DlgSettings3DViewPartImp.cpp
  src/Mod/Part/Gui/Mirroring.cpp
  src/Mod/Part/Gui/ShapeFromMesh.cpp
  src/Mod/Part/Gui/SoBrepEdgeSet.cpp
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/Part/Gui/TaskFaceColors.cpp
  src/Mod/Part/Gui/TaskLoft.cpp
  src/Mod/Part/Gui/TaskShapeBuilder.cpp
  src/Mod/Part/Gui/TaskSweep.cpp
  src/Mod/Part/Gui/TaskThickness.cpp
  src/Mod/Part/Gui/ViewProviderBoolean.cpp
  src/Mod/Part/Gui/ViewProviderCompound.cpp
  src/Mod/Part/Gui/ViewProviderCurveNet.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/Part/Gui/ViewProviderSpline.cpp
Labels: WB Part

#10228 Draft: Translate label type combobox
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftobjects/label.py
Labels: WB Draft

#10257 App: clang-tidy cleanup of Expression::_renameObjectIdentifier
  src/App/Expression.cpp
Labels: Core

#10227 Draft: Translate task titles for draft tools
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_fillets.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
  src/Mod/Draft/draftguitools/gui_splines.py
Labels: WB Draft

#10256 Gui: Change ExpressionBindingPy to new PyCXX extension type
  src/Gui/ExpressionBindingPy.cpp
  src/Gui/ExpressionBindingPy.h
Labels: Core

#9404 [Bugfix]Plot: reintroduce patch removed by #9103
  src/Mod/Plot/Plot.py
Labels: 3rd party: Qt 6

#10110 [GUI] QuantitySpinBox Regex Optimization #10067 Ammendum
  src/Gui/QuantitySpinBox.cpp
Labels: Core

#10238 [Preferences] theme : Variables in stylesheet and more.
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Gui/PreferencePacks/CMakeLists.txt
  src/Gui/PreferencePacks/Classic/Classic.cfg
  src/Gui/PreferencePacks/Dark behave/Dark behave.cfg
  src/Gui/PreferencePacks/Dark contrast/Dark contrast.cfg
  src/Gui/PreferencePacks/Dark modern/Dark modern.cfg
  src/Gui/PreferencePacks/Dark/Dark.cfg
  src/Gui/PreferencePacks/Darker/Darker.cfg
  src/Gui/PreferencePacks/Light modern/Light modern.cfg
  src/Gui/PreferencePacks/Light/Light.cfg
  src/Gui/PreferencePacks/ProDark/ProDark.cfg
  src/Gui/PreferencePacks/package.xml
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/PreferencePages/DlgSettingsTheme.cpp
  src/Gui/PreferencePages/DlgSettingsTheme.h
  src/Gui/PreferencePages/DlgSettingsTheme.ui
  src/Gui/Stylesheets/CMakeLists.txt
  src/Gui/Stylesheets/Dark-blue.qss
  src/Gui/Stylesheets/Dark-green.qss
  src/Gui/Stylesheets/Dark-modern-green.qss
  src/Gui/Stylesheets/Dark-modern-pink.qss
  src/Gui/Stylesheets/Dark-modern.qss
  src/Gui/Stylesheets/Dark-orange.qss
  src/Gui/Stylesheets/Dark-pink.qss
  src/Gui/Stylesheets/Dark.qss
  src/Gui/Stylesheets/Darker-blue.qss
  src/Gui/Stylesheets/Darker-green.qss
  src/Gui/Stylesheets/Darker-orange.qss
  src/Gui/Stylesheets/Darker-pink.qss
  src/Gui/Stylesheets/Darker.qss
  src/Gui/Stylesheets/Light-blue.qss
  src/Gui/Stylesheets/Light-green.qss
  src/Gui/Stylesheets/Light-modern-blue.qss
  src/Gui/Stylesheets/Light-modern-green.qss
  src/Gui/Stylesheets/Light-modern.qss
  src/Gui/Stylesheets/Light-orange.qss
  src/Gui/Stylesheets/Light.qss
Labels: Core

#10262 [TD]Fix wrong export macro
  src/Mod/TechDraw/Gui/PathBuilder.h
Labels: WB TechDraw

#9922 [TechDraw] CenterLine should use enums
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/App/CenterLine.h
  src/Mod/TechDraw/Gui/TaskCenterLine.cpp
Labels: WB TechDraw, 0.22

#10000 TechDraw Check for valid selection before asking for destination page
  src/Mod/TechDraw/Gui/Command.cpp
Labels: WB TechDraw, 0.22

#10140 fixes #10113
  src/Mod/Path/Path/GuiInit.py
Labels: WB Path

#10268 [Sketcher] Fix minor icon missing bug...
  src/Mod/Sketcher/Profiles.py
Labels: Backport, UI/UX, WB Sketcher

#10279 Gui: Change SoQtOffscreenRendererPy to new PyCXX extension type
  src/Gui/Application.cpp
  src/Gui/CMakeLists.txt
  src/Gui/SoFCOffscreenRenderer.cpp
  src/Gui/SoFCOffscreenRenderer.h
  src/Gui/SoQtOffscreenRendererPy.cpp
  src/Gui/SoQtOffscreenRendererPy.h
Labels: Core

#10280 [0.21][Sketcher] Fix minor icon missing bug...
  src/Mod/Sketcher/Profiles.py
Labels: WB Sketcher

#9853 Disable memory-check in SMDS because sysinfo.h is not working on BSD.
  src/3rdParty/salomesmesh/src/SMDS/SMDS_Mesh.cpp
Labels: OS: FreeBSD, 3rd party: SMESH

#10230 Draft: translate draft axis labels
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
Labels: WB Draft

#9782 Rest Machining for Path and Path3D Operations
  src/Mod/Path/App/Area.cpp
  src/Mod/Path/App/Area.h
  src/Mod/Path/App/AreaPy.xml
  src/Mod/Path/App/AreaPyImp.cpp
  src/Mod/Path/Gui/Resources/panels/PageOpPocketFullEdit.ui
  src/Mod/Path/Path/Op/Area.py
  src/Mod/Path/Path/Op/Gui/Pocket.py
  src/Mod/Path/Path/Op/Gui/PocketBase.py
  src/Mod/Path/Path/Op/Gui/PocketShape.py
  src/Mod/Path/Path/Op/Pocket.py
  src/Mod/Path/Path/Op/PocketBase.py
Labels: WB Path

#9743 PartDesign: Fix uptolast ends too soon
  src/Mod/PartDesign/App/FeatureExtrude.cpp
Labels: WB PartDesign

#9703 Sketcher: Add command to switch arc helpers
  src/Mod/Sketcher/Gui/AppSketcherGui.cpp
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
  src/Mod/Sketcher/Gui/CommandSketcherOverlay.cpp
  src/Mod/Sketcher/Gui/Resources/Sketcher.qrc
  src/Mod/Sketcher/Gui/Resources/icons/overlay/Sketcher_ArcOverlay.svg
  src/Mod/Sketcher/Gui/Resources/icons/overlay/Sketcher_BSplineComb.svg
  src/Mod/Sketcher/Gui/Resources/icons/overlay/Sketcher_BSplineDegree.svg
  src/Mod/Sketcher/Gui/Resources/icons/overlay/Sketcher_BSplineKnotMultiplicity.svg
  src/Mod/Sketcher/Gui/Resources/icons/overlay/Sketcher_BSplinePoleWeight.svg
  src/Mod/Sketcher/Gui/Resources/icons/overlay/Sketcher_BSplinePolygon.svg
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Sketcher/Gui/Utils.h
  src/Mod/Sketcher/Gui/Workbench.cpp
  src/Mod/Sketcher/Gui/Workbench.h
Labels: Feature, WB Sketcher

#10295 Fix typos
  src/App/Link.cpp
  src/Mod/Fem/App/FemConstraint.h
  src/Mod/Start/StartPage/StartPage.py
  src/Mod/TechDraw/App/ShapeUtils.cpp
  src/Mod/TechDraw/App/ShapeUtils.h
Labels: Core, WB FEM, WB TechDraw

#10293 Mod: modernize C++: use equals default
  src/Mod/Draft/App/AppDraftUtilsPy.cpp
  src/Mod/Start/App/AppStart.cpp
  src/Mod/Start/Gui/AppStartGui.cpp
  src/Mod/Start/Gui/DlgStartPreferencesImp.cpp
  src/Mod/Start/Gui/Workbench.cpp
  src/Mod/Test/Gui/AppTestGui.cpp
  src/Mod/Test/Gui/UnitTestImp.cpp
  src/Mod/Test/Gui/UnitTestPy.cpp
  src/Mod/Web/App/AppWeb.cpp
  src/Mod/Web/App/Server.cpp
  src/Mod/Web/Gui/AppWebGui.cpp
  src/Mod/Web/Gui/BrowserView.cpp
  src/Mod/Web/Gui/Workbench.cpp
Labels: WB Draft, WB Test

#10179 [Path] Make RampDressup accept other dressups as its base operation
  src/Mod/Path/Path/Dressup/Gui/RampEntry.py
Labels: WB Path

#10033 [Path] fix flipEdge not taking into account FirstParameter and LastParameter…
  src/Mod/Path/Path/Geom.py
  src/Mod/Path/PathTests/TestPathGeom.py
Labels: WB Path

#10278 Core: escape filepath characters in FreeCAD.loadFile
  src/App/ApplicationPy.cpp
Labels: Core

#10302 Mod: modernize C++: use equals default
  src/Mod/Import/App/ExportOCAF.cpp
  src/Mod/Import/App/ImportOCAF.cpp
  src/Mod/Import/App/ImportOCAF2.cpp
  src/Mod/Import/App/StepShape.cpp
  src/Mod/Import/App/dxf/ImpExpDxf.cpp
  src/Mod/Import/Gui/AppImportGuiPy.cpp
  src/Mod/Import/Gui/Workbench.cpp
  src/Mod/Measure/App/AppMeasure.cpp
  src/Mod/Measure/App/Measurement.cpp
  src/Mod/MeshPart/App/AppMeshPartPy.cpp
  src/Mod/MeshPart/App/CurveProjector.cpp
  src/Mod/MeshPart/App/CurveProjector.h
  src/Mod/MeshPart/App/MeshFlattening.h
  src/Mod/MeshPart/App/MeshFlatteningLscmRelax.h
  src/Mod/MeshPart/App/MeshFlatteningNurbs.h
  src/Mod/MeshPart/App/Mesher.cpp
  src/Mod/MeshPart/Gui/AppMeshPartGui.cpp
  src/Mod/MeshPart/Gui/CrossSections.cpp
  src/Mod/MeshPart/Gui/CrossSections.h
  src/Mod/MeshPart/Gui/TaskCurveOnMesh.cpp
  src/Mod/MeshPart/Gui/TaskCurveOnMesh.h
  src/Mod/MeshPart/Gui/Tessellation.cpp
  src/Mod/MeshPart/Gui/Tessellation.h
  src/Mod/MeshPart/Gui/Workbench.cpp
Labels: WB MeshPart

#10304 Points: modernize C++: use equals default
  src/Mod/Points/App/AppPointsPy.cpp
  src/Mod/Points/App/Points.cpp
  src/Mod/Points/App/Points.h
  src/Mod/Points/App/PointsAlgos.cpp
  src/Mod/Points/App/PointsAlgos.h
  src/Mod/Points/App/PointsFeature.cpp
  src/Mod/Points/App/PointsFeature.h
  src/Mod/Points/App/PointsGrid.h
  src/Mod/Points/App/Properties.cpp
  src/Mod/Points/App/Properties.h
  src/Mod/Points/App/PropertyPointKernel.cpp
  src/Mod/Points/App/PropertyPointKernel.h
  src/Mod/Points/App/Structured.cpp
  src/Mod/Points/App/Structured.h
  src/Mod/Points/Gui/AppPointsGui.cpp
  src/Mod/Points/Gui/DlgPointsReadImp.cpp
  src/Mod/Points/Gui/ViewProvider.h
  src/Mod/Points/Gui/Workbench.cpp
Labels: WB Points

#10305 Sheet: modernize C++: use equals default
  src/Mod/Spreadsheet/App/AppSpreadsheet.cpp
  src/Mod/Spreadsheet/App/Cell.cpp
  src/Mod/Spreadsheet/App/PropertyColumnWidths.cpp
  src/Mod/Spreadsheet/App/PropertyRowHeights.cpp
  src/Mod/Spreadsheet/App/Sheet.h
  src/Mod/Spreadsheet/App/SheetObserver.h
  src/Mod/Spreadsheet/Gui/AppSpreadsheetGui.cpp
  src/Mod/Spreadsheet/Gui/DlgSettingsImp.cpp
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
  src/Mod/Spreadsheet/Gui/SpreadsheetView.cpp
  src/Mod/Spreadsheet/Gui/Workbench.cpp
Labels: WB Spreadsheet

#10307 RE: modernize C++: use equals default
  src/Mod/ReverseEngineering/App/AppReverseEngineering.cpp
  src/Mod/ReverseEngineering/App/ApproxSurface.cpp
  src/Mod/ReverseEngineering/App/ApproxSurface.h
  src/Mod/ReverseEngineering/Gui/AppReverseEngineeringGui.cpp
  src/Mod/ReverseEngineering/Gui/FitBSplineSurface.cpp
  src/Mod/ReverseEngineering/Gui/FitBSplineSurface.h
  src/Mod/ReverseEngineering/Gui/Poisson.cpp
  src/Mod/ReverseEngineering/Gui/Segmentation.cpp
  src/Mod/ReverseEngineering/Gui/Segmentation.h
  src/Mod/ReverseEngineering/Gui/SegmentationManual.cpp
  src/Mod/ReverseEngineering/Gui/SegmentationManual.h
  src/Mod/ReverseEngineering/Gui/Workbench.cpp
Labels: WB ReverseEngineering

#10312 PD: modernize C++: use equals default
  src/Mod/PartDesign/App/AppPartDesignPy.cpp
  src/Mod/PartDesign/App/DatumCS.cpp
  src/Mod/PartDesign/App/DatumLine.cpp
  src/Mod/PartDesign/App/DatumPlane.cpp
  src/Mod/PartDesign/App/DatumPoint.cpp
  src/Mod/PartDesign/App/FeatureAddSub.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureHole.h
  src/Mod/PartDesign/App/FeatureSolid.cpp
  src/Mod/PartDesign/Gui/AppPartDesignGui.cpp
  src/Mod/PartDesign/Gui/DlgActiveBody.cpp
  src/Mod/PartDesign/Gui/TaskBooleanParameters.cpp
  src/Mod/PartDesign/Gui/TaskChamferParameters.cpp
  src/Mod/PartDesign/Gui/TaskDatumParameters.cpp
  src/Mod/PartDesign/Gui/TaskDraftParameters.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskFeatureParameters.cpp
  src/Mod/PartDesign/Gui/TaskFeatureParameters.h
  src/Mod/PartDesign/Gui/TaskFilletParameters.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.h
  src/Mod/PartDesign/Gui/TaskLoftParameters.cpp
  src/Mod/PartDesign/Gui/TaskMirroredParameters.h
  src/Mod/PartDesign/Gui/TaskMultiTransformParameters.h
  src/Mod/PartDesign/Gui/TaskPadParameters.cpp
  src/Mod/PartDesign/Gui/TaskPipeParameters.h
  src/Mod/PartDesign/Gui/TaskPocketParameters.cpp
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.h
  src/Mod/PartDesign/Gui/TaskPrimitiveParameters.cpp
  src/Mod/PartDesign/Gui/TaskScaledParameters.h
  src/Mod/PartDesign/Gui/TaskShapeBinder.cpp
  src/Mod/PartDesign/Gui/TaskSketchBasedParameters.cpp
  src/Mod/PartDesign/Gui/TaskThicknessParameters.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.h
  src/Mod/PartDesign/Gui/ViewProvider.cpp
  src/Mod/PartDesign/Gui/ViewProviderBase.cpp
  src/Mod/PartDesign/Gui/ViewProviderBoolean.cpp
  src/Mod/PartDesign/Gui/ViewProviderDatumPoint.cpp
  src/Mod/PartDesign/Gui/ViewProviderDressUp.h
  src/Mod/PartDesign/Gui/ViewProviderGroove.cpp
  src/Mod/PartDesign/Gui/ViewProviderHelix.cpp
  src/Mod/PartDesign/Gui/ViewProviderHole.cpp
  src/Mod/PartDesign/Gui/ViewProviderLoft.cpp
  src/Mod/PartDesign/Gui/ViewProviderPad.cpp
  src/Mod/PartDesign/Gui/ViewProviderPipe.cpp
  src/Mod/PartDesign/Gui/ViewProviderPocket.cpp
  src/Mod/PartDesign/Gui/ViewProviderPrimitive.cpp
  src/Mod/PartDesign/Gui/ViewProviderRevolution.cpp
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.cpp
  src/Mod/PartDesign/Gui/ViewProviderSketchBased.cpp
  src/Mod/PartDesign/Gui/ViewProviderTransformed.h
Labels: WB PartDesign

#10316 Gui: add missing precompiled header
  src/Gui/SoQtOffscreenRendererPy.cpp
Labels: Core

#10296 Draft: remove getPlacementFromPoints function
  src/Mod/Draft/DraftGeomUtils.py
  src/Mod/Draft/WorkingPlane.py
  src/Mod/Draft/draftgeoutils/geometry.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#10327 Draft: Add placement_from_face to geometry.py
  src/Mod/Draft/DraftGeomUtils.py
  src/Mod/Draft/WorkingPlane.py
  src/Mod/Draft/draftgeoutils/geometry.py
Labels: WB Draft

#10329 Draft: Fix error in PR10327
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#10333 Draft: Fix placement_from_face if vec_z matches normal of face
  src/Mod/Draft/draftgeoutils/geometry.py
Labels: WB Draft

#10343 Base: C++ core guidelines: init variables
  src/Base/AxisPyImp.cpp
  src/Base/BaseClassPyImp.cpp
  src/Base/BoundBox.h
  src/Base/BoundBoxPyImp.cpp
  src/Base/Console.cpp
  src/Base/Converter.h
  src/Base/CoordinateSystemPyImp.cpp
  src/Base/Exception.cpp
  src/Base/FileInfo.cpp
  src/Base/Interpreter.cpp
  src/Base/Matrix.cpp
  src/Base/Matrix.h
  src/Base/MatrixPyImp.cpp
  src/Base/Observer.h
  src/Base/Parameter.cpp
  src/Base/ParameterPy.cpp
  src/Base/PersistencePyImp.cpp
  src/Base/PlacementPyImp.cpp
  src/Base/PrecisionPyImp.cpp
  src/Base/ProgressIndicatorPy.cpp
  src/Base/ProgressIndicatorPy.h
  src/Base/PyObjectBase.cpp
  src/Base/PyObjectBase.h
  src/Base/PyTools.c
  src/Base/QuantityPyImp.cpp
  src/Base/Reader.cpp
  src/Base/Rotation.cpp
  src/Base/RotationPyImp.cpp
  src/Base/Swap.cpp
  src/Base/Swap.h
  src/Base/Tools2D.cpp
  src/Base/Translate.cpp
  src/Base/TypePyImp.cpp
  src/Base/UnitPyImp.cpp
  src/Base/UnitsApi.cpp
  src/Base/UnitsApi.h
  src/Base/UnitsApiPy.cpp
  src/Base/UnitsSchemaImperial1.cpp
  src/Base/VectorPyImp.cpp
  src/Base/Writer.cpp
  src/Base/XMLTools.cpp
  src/Base/ZipHeader.cpp
  src/Base/swigpyrun.inl
Labels: Core

#10339 Draft: Housekeeping and minor improvements for some draftguitools
  src/Mod/Draft/draftguitools/gui_base.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_lines.py
Labels: WB Draft

#10347 Draft: Remove unused arguments from gui_tool_utils.get_point
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftguitools/gui_stretch.py
  src/Mod/Draft/draftguitools/gui_tool_utils.py
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: WB Draft

#10376 Base: fix clang-tidy warnings in BoundBox.h
  src/Base/BoundBox.h
  src/Mod/Mesh/App/Core/TrimByPlane.cpp
  src/Mod/Mesh/App/Mesh.cpp
Labels: Core, WB Mesh

#10384 Base: add methods to get volume and get max/min points
  src/Base/BoundBox.h
  tests/src/Base/BoundBox.cpp
Labels: Core

#10383 Update labeler.yml
  .github/workflows/labeler.yml
Labels: :octocat:

#10382 Update ccache into action.yml
  .github/workflows/actions/windows/getCcache/action.yml
Labels: :octocat:

#10386 Draft: Add wp attribute to DraftTool class
  src/Mod/Draft/draftguitools/gui_base_original.py
Labels: WB Draft

#10379 Draft: remove superfluous code from gui_points.py
  src/Mod/Draft/draftguitools/gui_points.py
Labels: WB Draft

#10373 Draft: Make gui_tool_utils.get_support nesting aware
  src/Mod/Draft/draftguitools/gui_tool_utils.py
Labels: WB Draft

#10385 Cleaning code from unnecessary strings generated to Crowdin.
  src/Mod/Part/Gui/TaskAttacher.ui
  src/Mod/PartDesign/Gui/TaskTransformedMessages.ui
  src/Mod/Path/Gui/Resources/panels/DressupPathBoundary.ui
  src/Mod/Path/Gui/Resources/panels/PageBaseGeometryEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageBaseHoleGeometryEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageBaseLocationEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageDiametersEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageHeightsEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpAdaptiveEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpCustomEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpDeburrEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpEngraveEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpHelixEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpPocketExtEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpPocketFullEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpProbeEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpProfileFullEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpSlotEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpSurfaceEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpThreadMillingEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpVcarveEdit.ui
  src/Mod/Path/Gui/Resources/panels/PageOpWaterlineEdit.ui
  src/Mod/Path/Gui/Resources/panels/SetupOp.ui
  src/Mod/Robot/Gui/TaskEdge2TracParameter.ui
  src/Mod/Robot/Gui/TaskRobot6Axis.ui
  src/Mod/Robot/Gui/TaskRobotControl.ui
  src/Mod/Robot/Gui/TaskRobotMessages.ui
  src/Mod/Robot/Gui/TaskTrajectory.ui
  src/Mod/Robot/Gui/TaskTrajectoryDressUpParameter.ui
  src/Mod/Sketcher/Gui/TaskSketcherMessages.ui
  src/Mod/Sketcher/Gui/TaskSketcherSolverAdvanced.ui
  src/Mod/Spreadsheet/Gui/Sheet.ui
Labels: WB Path, WB PartDesign, WB Part, WB Spreadsheet, WB Sketcher

#10387 [Stylesheets] Replaced more static colors with the accent colors.
  src/Gui/Stylesheets/Behave-dark.qss
  src/Gui/Stylesheets/Dark-contrast.qss
  src/Gui/Stylesheets/Dark-modern.qss
  src/Gui/Stylesheets/Dark.qss
  src/Gui/Stylesheets/Darker.qss
  src/Gui/Stylesheets/Light-modern.qss
  src/Gui/Stylesheets/Light.qss
  src/Gui/Stylesheets/ProDark.qss
Labels: Core

#10392 Improve Pad/Pocket Task Dialog
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskPadPocketParameters.ui
Labels: WB PartDesign

#10377 PartDesign: Add offset modes for patterns
  src/Mod/PartDesign/App/FeatureLinearPattern.cpp
  src/Mod/PartDesign/App/FeatureLinearPattern.h
  src/Mod/PartDesign/App/FeaturePolarPattern.cpp
  src/Mod/PartDesign/App/FeaturePolarPattern.h
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.h
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.ui
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.h
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.ui
Labels: WB PartDesign

#10388 Draft: Reduce occurrences of App.DraftWorkingPlane
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_labels.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
Labels: WB Draft

#10390 Draft: Reduce occurrences of App.DraftWorkingPlane 2
  src/Mod/Draft/draftguitools/gui_offset.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
Labels: WB Draft

#10403 Gui: use '%Y-%m-%d %H:%M:%S' as format string for date
  src/Gui/View3DPy.cpp
Labels: Core

#10409 CI: Add new test targets
  .github/workflows/actions/runCPPTests/runAllTests/action.yml
Labels: :octocat:

#10363 Pref: wb: Add contextual menu to sort alphabetically.
  src/Gui/PreferencePages/DlgSettingsWorkbenchesImp.cpp
  src/Gui/PreferencePages/DlgSettingsWorkbenchesImp.h
Labels: Core

#10332 Arch: Implement placement_from_face in ArchWindow.py
  src/Mod/Arch/ArchWindow.py
Labels: WB Arch

#10330 [BASE] Removed dead code
  src/Base/CoordinateSystem.cpp
  src/Base/Interpreter.cpp
  src/Base/Parameter.cpp
  src/Base/Parameter.h
  src/Base/PlacementPyImp.cpp
  src/Base/PyTools.c
  src/Base/Quantity.cpp
  src/Base/QuantityPyImp.cpp
  src/Base/Reader.cpp
  src/Base/Rotation.cpp
  src/Base/Tools2D.cpp
  src/Base/UnitsSchema.cpp
  src/Base/UnitsSchemaImperial1.cpp
  src/Base/UnitsSchemaMmMin.cpp
Labels: Core

#10328 fix: windows build need /utf-8
  src/Mod/TechDraw/Gui/CMakeLists.txt
Labels: WB TechDraw, Packaging/building

#10318 [Path] Fix bug where ramp dressup makes big circles
  src/Mod/Path/Path/Dressup/Gui/RampEntry.py
Labels: WB Path

#10311 Sketcher: Fix Visual toolbox visibility
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#9810 Sketcher: Constrain Contextual implementation V2
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.h
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
  src/Mod/Sketcher/Gui/EditDatumDialog.h
  src/Mod/Sketcher/Gui/Resources/Sketcher.qrc
  src/Mod/Sketcher/Gui/Resources/icons/constraints/Constraint_Dimension.svg
  src/Mod/Sketcher/Gui/Resources/icons/constraints/Constraint_Dimension_Driven.svg
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.h
  src/Mod/Sketcher/Gui/SketcherSettings.ui
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.cpp
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#9559 Sketcher: Point to Circle Distance Constraints
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.h
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Sketcher/App/planegcs/GCS.h
  src/Mod/Sketcher/App/planegcs/Geo.cpp
  src/Mod/Sketcher/App/planegcs/Geo.h
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher, 0.22

#9272 App: Warn on OpenGL too old
  src/Gui/Application.cpp
Labels: Core

#8443 Path: Now can set parameter_functions from a postprocessor file.
  src/Mod/Path/Path/Post/UtilsArguments.py
  src/Mod/Path/Path/Post/UtilsExport.py
  src/Mod/Path/Path/Post/UtilsParse.py
Labels: WB Path

#10410 StartPage: Visual fixes follow-up
  src/Gui/PreferencePacks/Classic/Classic.cfg
  src/Mod/Start/Gui/DlgStartPreferences.ui
  src/Mod/Start/Gui/DlgStartPreferencesImp.cpp
  src/Mod/Start/StartPage/StartPage.css
  src/Mod/Start/StartPage/StartPage.py
Labels: Core

#10418 Fix possible issues in selection node
  src/Gui/SoFCSelectionContext.cpp
  src/Gui/SoFCUnifiedSelection.cpp
Labels: Core

#10416 Cleaning code from unnecessary strings generated to Crowdin 2
  src/Gui/DlgLocationPos.ui
  src/Gui/DownloadItem.ui
  src/Mod/AddonManager/compact_view.ui
  src/Mod/AddonManager/developer_mode_licenses_table.ui
  src/Mod/AddonManager/developer_mode_people_table.ui
  src/Mod/AddonManager/expanded_view.ui
  src/Mod/AddonManager/package_details.ui
  src/Mod/Fem/Gui/PlaneWidget.ui
  src/Mod/Fem/Gui/SphereWidget.ui
  src/Mod/Fem/Gui/TaskAnalysisInfo.ui
  src/Mod/Fem/Gui/TaskCreateNodeSet.ui
  src/Mod/Fem/Gui/TaskDriver.ui
  src/Mod/Fem/Gui/TaskFemConstraint.ui
  src/Mod/Fem/Gui/TaskFemConstraintBearing.ui
  src/Mod/Fem/Gui/TaskFemConstraintContact.ui
  src/Mod/Fem/Gui/TaskFemConstraintFixed.ui
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.ui
  src/Mod/Fem/Gui/TaskFemConstraintPlaneRotation.ui
  src/Mod/Fem/Gui/TaskFemConstraintPressure.ui
  src/Mod/Fem/Gui/TaskFemConstraintSpring.ui
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.ui
  src/Mod/Fem/Gui/TaskFemConstraintTransform.ui
  src/Mod/Fem/Gui/TaskObjectName.ui
  src/Mod/Fem/Gui/TaskPostClip.ui
  src/Mod/Fem/Gui/TaskPostContours.ui
  src/Mod/Fem/Gui/TaskPostCut.ui
  src/Mod/Fem/Gui/TaskPostDataAlongLine.ui
  src/Mod/Fem/Gui/TaskPostDisplay.ui
  src/Mod/Fem/Gui/TaskPostScalarClip.ui
  src/Mod/Fem/Gui/TaskPostWarpVector.ui
  src/Mod/Fem/Gui/TaskTetParameter.ui
  src/Mod/Path/Gui/Resources/panels/ToolEditor.ui
  src/Mod/Path/Gui/Resources/preferences/PathDressupHoldingTags.ui
Labels: Core, WB FEM, WB Path, Addon Manager

#10420 Cleaning code from unnecessary strings generated to Crowdin 3
  src/Mod/Fem/Gui/BoxWidget.ui
  src/Mod/Fem/Gui/CylinderWidget.ui
  src/Mod/Part/AttachmentEditor/TaskAttachmentEditor.ui
  src/Mod/PartDesign/FeatureHole/TaskHole.ui
  src/Mod/PartDesign/Gui/TaskBooleanParameters.ui
  src/Mod/PartDesign/Gui/TaskChamferParameters.ui
  src/Mod/PartDesign/Gui/TaskDraftParameters.ui
  src/Mod/PartDesign/Gui/TaskFeaturePick.ui
  src/Mod/PartDesign/Gui/TaskFilletParameters.ui
  src/Mod/PartDesign/Gui/TaskHelixParameters.ui
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.ui
  src/Mod/PartDesign/Gui/TaskLoftParameters.ui
  src/Mod/PartDesign/Gui/TaskMirroredParameters.ui
  src/Mod/PartDesign/Gui/TaskMultiTransformParameters.ui
  src/Mod/PartDesign/Gui/TaskPadPocketParameters.ui
  src/Mod/PartDesign/Gui/TaskPipeOrientation.ui
  src/Mod/PartDesign/Gui/TaskPipeParameters.ui
  src/Mod/PartDesign/Gui/TaskPipeScaling.ui
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.ui
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.ui
  src/Mod/PartDesign/Gui/TaskScaledParameters.ui
  src/Mod/PartDesign/Gui/TaskShapeBinder.ui
  src/Mod/PartDesign/Gui/TaskThicknessParameters.ui
  src/Mod/Sketcher/Gui/TaskSketcherElements.ui
Labels: WB FEM, WB PartDesign, WB Part, WB Sketcher

#10429 Sketcher: fix segfault on distance constraints without SecondPos
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: WB Sketcher

#10428 [0.21] [Gui] Py311 Initialization of locales...
  src/Gui/View3DPy.cpp
  src/Main/MainGui.cpp
Labels: Core

#10433 Gui: fix crash with the move to the new-style of class SelectionFilterPy
  src/Gui/Selection.cpp
  src/Gui/SelectionFilterPy.h
Labels: Core

#10432 PartDesign: json is a 3rdparty library, move to 3rdparty
  src/3rdParty/json/single_include/nlohmann/json.hpp
  src/3rdParty/json/single_include/nlohmann/json_fwd.hpp
  src/Mod/PartDesign/App/CMakeLists.txt
  src/Mod/PartDesign/Gui/CMakeLists.txt
Labels: WB PartDesign

#10445 [Pref Pack Template] Update Shortcuts.cfg to newest changes
  src/Gui/PreferencePackTemplates/Shortcuts.cfg
Labels: Core

#10447 Draft: importDWG.py wrongly assumed that opt directory always exists on Linux
  src/Mod/Draft/importDWG.py
Labels: WB Draft, Backport

#10450 [TD]fix #10440 Balloon arrow end point
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
Labels: WB TechDraw

#9633 Surface: allow instant update of BlendCurve properties
  src/Mod/Surface/App/Blending/FeatureBlendCurve.cpp
  src/Mod/Surface/App/Blending/FeatureBlendCurve.h
Labels: WB Surface
