Repository FreeCAD/FreeCAD, pull requests merged in 2023-04, with the labels that each got.

#9139 [TD]fix oversight in PR9129
  src/Mod/TechDraw/Gui/QGIView.cpp
Labels: WB TechDraw

#9147 Fem: fix trailing whitespace
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.cpp
  src/Mod/Fem/femexamples/equation_deformation_spring_elmer.py
  src/Mod/Fem/femsolver/elmer/equations/heat_writer.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femtools/femutils.py
Labels: WB FEM

#9152 Gui: use an annotation node so that line is always rendered on top of…
  src/Gui/TaskView/TaskImageScale.cpp
Labels: Core

#9151 Sketcher: do not apply line/edge color preference to existing sketches
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#9156 Toponaming: fix whitespace in App/MappedName.cpp
  tests/src/App/MappedName.cpp
Labels: Toponaming

#9142 Addon manager reformat
  .git-blame-ignore-revs
  src/Mod/AddonManager/Addon.py
  src/Mod/AddonManager/AddonManagerTest/app/test_addon.py
  src/Mod/AddonManager/AddonManagerTest/app/test_installer.py
  src/Mod/AddonManager/AddonManagerTest/app/test_metadata.py
  src/Mod/AddonManager/AddonManagerTest/gui/gui_mocks.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_installer_gui.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_uninstaller_gui.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_update_all_gui.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_workers_startup.py
  src/Mod/AddonManager/TestAddonManagerApp.py
  src/Mod/AddonManager/TestAddonManagerGui.py
  src/Mod/AddonManager/addonmanager_devmode_metadata_checker.py
  src/Mod/AddonManager/addonmanager_installer_gui.py
  src/Mod/AddonManager/addonmanager_preferences_defaults.json
  src/Mod/AddonManager/addonmanager_uninstaller_gui.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/compact_view.py
  src/Mod/AddonManager/expanded_view.py
  src/Mod/AddonManager/loading.html
Labels: Addon Manager

#9160 Draft: fix error in PR #8698
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#9155 Fix trailing whitespace
  src/Gui/DlgSettingsWorkbenchesImp.cpp
  src/Mod/Sketcher/App/planegcs/Geo.cpp
Labels: Core, WB Sketcher

#9157 OpenSCAD: linting importCSG.py
  src/Mod/OpenSCAD/importCSG.py
Labels: WB OpenSCAD

#9149 [GUI] Radial gradient implementation
  src/Gui/DlgSettingsViewColor.cpp
  src/Gui/DlgSettingsViewColor.ui
  src/Gui/PreferencePackTemplates/Window_Colors.cfg
  src/Gui/PreferencePacks/FreeCAD Classic Colors/FreeCAD Classic Colors.cfg
  src/Gui/SoFCBackgroundGradient.cpp
  src/Gui/SoFCBackgroundGradient.h
  src/Gui/SplitView3DInventor.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/View3DSettings.cpp
  src/Gui/View3DViewerPy.cpp
Labels: Core, UI/UX

#9143 Pref: Remove Unit tab and move settings back to main page.
  src/Gui/CMakeLists.txt
  src/Gui/DlgGeneral.ui
  src/Gui/DlgGeneralImp.cpp
  src/Gui/DlgGeneralImp.h
  src/Gui/DlgSettingsUnits.ui
  src/Gui/DlgSettingsUnitsImp.cpp
  src/Gui/DlgSettingsUnitsImp.h
  src/Gui/DlgUnitsCalculatorImp.cpp
  src/Gui/MainWindow.cpp
  src/Gui/resource.cpp
Labels: Core

#8918 rebase removed files
  src/Mod/Draft/CMakeLists.txt
  src/Mod/Draft/Draft.py
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/DraftTools.py
  src/Mod/Draft/Resources/Draft.qrc
  src/Mod/Draft/Resources/icons/Draft_AutoGroup.svg
  src/Mod/Draft/Resources/icons/Draft_AutoGroup_off.svg
  src/Mod/Draft/Resources/icons/Draft_AutoGroup_on.svg
  src/Mod/Draft/Resources/icons/Draft_Drawing.svg
  src/Mod/Draft/Resources/ui/preferences-draftvisual.ui
  src/Mod/Draft/draftfunctions/heal.py
  src/Mod/Draft/draftguitools/gui_drawing.py
  src/Mod/Draft/draftmake/make_drawingview.py
  src/Mod/Draft/draftobjects/drawingview.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/importSVG.py
Labels: WB Draft

#9172 Pref: Colors: Reorganize the ui.
  src/Gui/DlgSettingsViewColor.cpp
  src/Gui/DlgSettingsViewColor.h
  src/Gui/DlgSettingsViewColor.ui
Labels: Core

#9159 Points: `show` now returns an `GeoFeature` object
  src/Mod/Points/App/AppPointsPy.cpp
Labels: WB Points

#9178 Gui: by default radial gradient is off
  src/Gui/SoFCBackgroundGradient.cpp
  src/Gui/SoFCBackgroundGradient.h
  src/Gui/SplitView3DInventor.cpp
  src/Gui/View3DSettings.cpp
Labels: Core

#9117 Wb pref fixes
  src/Gui/Action.cpp
  src/Gui/ApplicationPy.cpp
  src/Gui/CommandStd.cpp
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/DlgPreferencesImp.h
  src/Gui/DlgSettingsWorkbenchesImp.cpp
  src/Gui/PropertyPage.cpp
  src/Gui/PropertyPage.h
  src/Mod/AddonManager/Addon.py
  src/Mod/AddonManager/AddonManagerTest/app/test_addon.py
  src/Mod/AddonManager/addonmanager_installer.py
  src/Mod/AddonManager/addonmanager_uninstaller.py
Labels: Core

#9180 [Preference Packs] Add Keyboard Shortcuts Template
  src/Gui/PreferencePackTemplates/CMakeLists.txt
  src/Gui/PreferencePackTemplates/Shortcuts.cfg
Labels: Core, UI/UX, shortcut

#9146 [PATH] Update getDrillableTargets() to evaluate all faces 1..<n>
  src/Mod/Path/Path/Base/Drillable.py
Labels: WB Path

#9185 [skip ci] Sketcher: disable button fixDegenerated when opening the di…
  src/Mod/Sketcher/Gui/TaskSketcherValidation.cpp
Labels: WB Sketcher

#9191 Replace QMetaObject::connectSlotsByName with explicit connect()
  src/Gui/DlgActionsImp.cpp
  src/Gui/DlgActionsImp.h
  src/Gui/DlgCustomizeSpNavSettings.cpp
  src/Gui/DlgCustomizeSpNavSettings.h
  src/Gui/DlgKeyboardImp.cpp
  src/Gui/DlgKeyboardImp.h
  src/Gui/DlgMacroExecuteImp.cpp
  src/Gui/DlgMacroExecuteImp.h
  src/Gui/DlgMacroRecord.ui
  src/Gui/DlgMacroRecordImp.cpp
  src/Gui/DlgMacroRecordImp.h
  src/Gui/DlgMaterialPropertiesImp.cpp
  src/Gui/DlgMaterialPropertiesImp.h
  src/Gui/DlgParameterFind.cpp
  src/Gui/DlgParameterFind.h
  src/Gui/DlgParameterImp.cpp
  src/Gui/DlgParameterImp.h
  src/Gui/DlgPropertyLink.cpp
  src/Gui/DlgPropertyLink.h
  src/Gui/DlgSettingsImageImp.cpp
  src/Gui/DlgSettingsImageImp.h
  src/Gui/DlgSettingsNavigation.cpp
  src/Gui/DlgSettingsNavigation.h
  src/Gui/DlgToolbarsImp.cpp
  src/Gui/DlgToolbarsImp.h
  src/Gui/DlgUnitsCalculatorImp.cpp
  src/Gui/DlgUnitsCalculatorImp.h
Labels: Core

#9163 Expression: use a precision that ensures no floating point issue
  src/App/Expression.cpp
Labels: Core, Expressions

#9176 CI: initial release of Windows build workflow
  .github/workflows/CI_master.yml
  .github/workflows/actions/windows/getCcache/action.yml
  .github/workflows/actions/windows/getLibpack/action.yml
  .github/workflows/sub_buildWindows.yml
Labels: :octocat:

#9189 Draft: fix typo in importDWG.py
  src/Mod/Draft/importDWG.py
Labels: WB Draft

#9184 Deletes GCS::Constraint directly instead of calling GCS::free().
  src/Mod/Sketcher/App/planegcs/GCS.cpp
Labels: WB Sketcher

#8775 More separate code and data
  src/App/Application.cpp
  src/App/ProgramOptionsUtilities.h
  src/App/PropertyUnits.cpp
  tests/src/App/Application.cpp
  tests/src/App/CMakeLists.txt
Labels: Core

#9211 App: fix some lint warnings
  src/App/Application.cpp
  src/App/ProgramOptionsUtilities.h
Labels: Core

#9200 Path: make drilling paths G99 aware and NIST compliant (tidy up)
  src/Mod/Path/App/PathSegmentWalker.cpp
  src/Mod/Path/App/PathSegmentWalker.h
  src/Mod/Path/Gui/Resources/panels/PageOpDrillingEdit.ui
  src/Mod/Path/Path/Op/Drilling.py
  src/Mod/Path/Path/Op/Gui/Drilling.py
  src/Mod/Path/Path/Post/scripts/grbl_post.py
Labels: WB Path

#9110 Remove "commands" tab in customize dialog
  src/Gui/CMakeLists.txt
  src/Gui/DlgCommands.ui
  src/Gui/DlgCommandsImp.cpp
  src/Gui/DlgCommandsImp.h
  src/Gui/resource.cpp
Labels: Core

#9216 Gui: add method to convert between QPoint and SbVec2s considering dev…
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/View3DPy.cpp
  src/Gui/View3DPy.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Core

#9217 Gui: [skip ci] fix typo View3DInventorViewer::toQPoint
  src/Gui/View3DInventorViewer.cpp
Labels: Core

#9224 [TD]fix error in DPG from bf00a1afc9
  src/Mod/TechDraw/App/DrawProjGroup.cpp
Labels: WB TechDraw

#9226 [Bugfix]Sketcher: edge/point colors in preferences aren't took into account
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#9227 CI: move libpack dir instead of copying it
  .github/workflows/sub_buildWindows.yml
Labels: :octocat:

#9218 Path WB: Correct bug causing incorrect feedrate to be used.
  src/Mod/Path/Path/Op/Drilling.py
Labels: WB Path

#9225 TechDraw: Fix Windows compilation
  src/Mod/TechDraw/App/CosmeticVertex.cpp
  src/Mod/TechDraw/App/CosmeticVertex.h
Labels: WB TechDraw

#9229 [TD]fix missing selection guard (#9223)
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
Labels: WB TechDraw

#9162 [Arch] Remove obsolete code related to the Drawing WB
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchSectionPlane.py
  src/Mod/Arch/Resources/Arch.qrc
  src/Mod/Arch/Resources/icons/Arch_Panel_Sheet_Tree.svg
  src/Mod/Arch/TestArch.py
Labels: WB Arch

#9221 [TechDraw] Simplify return logic, part 1
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/CosmeticExtension.cpp
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawViewArch.cpp
  src/Mod/TechDraw/App/DrawViewBalloon.cpp
  src/Mod/TechDraw/App/DrawViewDimExtentPyImp.cpp
  src/Mod/TechDraw/App/DrawViewDraft.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewSymbol.cpp
  src/Mod/TechDraw/App/GeometryObject.cpp
  src/Mod/TechDraw/App/HatchLine.cpp
  src/Mod/TechDraw/App/LandmarkDimension.cpp
  src/Mod/TechDraw/App/LineGroup.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  src/Mod/TechDraw/Gui/DlgTemplateField.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
  src/Mod/TechDraw/Gui/QGCustomImage.cpp
  src/Mod/TechDraw/Gui/QGIMatting.cpp
  src/Mod/TechDraw/Gui/QGIRichAnno.cpp
  src/Mod/TechDraw/Gui/QGISectionLine.cpp
  src/Mod/TechDraw/Gui/Rez.cpp
  src/Mod/TechDraw/Gui/TaskDetail.cpp
  src/Mod/TechDraw/Gui/TaskSelectLineAttributes.cpp
  src/Mod/TechDraw/Gui/ViewProviderLeader.cpp
  src/Mod/TechDraw/Gui/mrichtextedit.cpp
Labels: WB TechDraw

#9222 [TechDraw] Simplify return logic, part 2
  src/Mod/TechDraw/App/CosmeticExtension.cpp
  src/Mod/TechDraw/App/DrawProjGroupItem.cpp
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/GeometryObject.cpp
  src/Mod/TechDraw/App/HatchLine.cpp
  src/Mod/TechDraw/App/ShapeExtractor.cpp
  src/Mod/TechDraw/Gui/DlgPageChooser.cpp
  src/Mod/TechDraw/Gui/QGIArrow.cpp
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGILeaderLine.cpp
  src/Mod/TechDraw/Gui/QGIPrimPath.cpp
  src/Mod/TechDraw/Gui/QGIRichAnno.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/mrichtextedit.cpp
Labels: WB TechDraw

#9232 Part: set an absolute upper limit of the deflection for the shape tes…
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: WB Part

#9235 MSVC: fix build failure related to PCH
  src/Base/PythonTypeExt.cpp
  src/Gui/CommandActionPy.cpp
Labels: Core

#9237 Pref: Move pick radius to selection.
  src/Gui/DlgSettings3DView.ui
  src/Gui/DlgSettings3DViewImp.cpp
  src/Gui/DlgSettingsSelection.cpp
  src/Gui/DlgSettingsSelection.ui
Labels: Core

#9202 Draft: Fix inaccuracy in Draft Edit command
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#9241 [TD]add preference for new face finder
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvanced.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvancedImp.cpp
Labels: WB TechDraw

#9245 Addon Manager: Fix git icons on wiki
  src/Mod/AddonManager/addonmanager_macro.py
Labels: Addon Manager

#9243 removed redundant "Toggle visibility" menu item from View menu
  src/Gui/Workbench.cpp
Labels: Core, UI/UX

#9248 CI: remove pivy patching on Ubuntu 22.04 workflow
  .github/workflows/sub_buildUbuntu2204.yml
Labels: :octocat:

#9254 Gui: consistent angular deflection between Part and Preferences
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: WB Part

#9244 added i18n for navicube labels
  src/Gui/NaviCube.cpp
Labels: Core, L10N

#9261 Gui: CommandView.cpp: Fix typos and more consistent WindowTitle
  src/Gui/CommandView.cpp
Labels: Core

#9258 [TD]Correct default extension line gaps
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensions.ui
Labels: WB TechDraw

#9252 PD: fix crash on Windows when loading PD workbench
  src/Mod/PartDesign/Gui/TaskChamferParameters.cpp
  src/Mod/PartDesign/Gui/TaskDraftParameters.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.h
  src/Mod/PartDesign/Gui/TaskFilletParameters.cpp
  src/Mod/PartDesign/Gui/TaskThicknessParameters.cpp
Labels: WB PartDesign

#9264 Fix trailing whitespace
  src/Mod/Path/Path/Op/Gui/Drilling.py
  src/Mod/Path/Path/Post/scripts/grbl_post.py
  src/Tools/ThumbnailProvider/ClassFactory.cpp
Labels: WB Path

#9267 Fix memory leak when loading a font file
  src/Mod/Part/App/FT2FC.cpp
Labels: WB Part

#9259 added support for multi selection when toggling visibility in tree view
  src/Gui/Tree.cpp
  src/Gui/Tree.h
Labels: Core

#9260 Pref: general: Re-organize page.
  src/Gui/DlgGeneral.ui
Labels: Core

#9209 [TechDraw] Add customizability for dimension line spacing
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensions.ui
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.h
  src/Mod/TechDraw/Gui/ViewProviderDimension.cpp
  src/Mod/TechDraw/Gui/ViewProviderDimension.h
Labels: WB TechDraw

#8459 Path: Apply Placement to simulated/exported GCode
  src/Mod/Path/Path/Dressup/Boundary.py
  src/Mod/Path/Path/Dressup/DogboneII.py
  src/Mod/Path/Path/Dressup/Gui/AxisMap.py
  src/Mod/Path/Path/Dressup/Gui/Dogbone.py
  src/Mod/Path/Path/Dressup/Gui/Dragknife.py
  src/Mod/Path/Path/Dressup/Gui/LeadInOut.py
  src/Mod/Path/Path/Dressup/Gui/RampEntry.py
  src/Mod/Path/Path/Dressup/Gui/ZCorrect.py
  src/Mod/Path/Path/Dressup/Tags.py
  src/Mod/Path/Path/Main/Gui/Inspect.py
  src/Mod/Path/Path/Main/Gui/Simulator.py
  src/Mod/Path/Path/Op/Gui/Array.py
  src/Mod/Path/Path/Op/Gui/Copy.py
  src/Mod/Path/Path/Op/Gui/SimpleCopy.py
  src/Mod/Path/Path/Post/UtilsParse.py
  src/Mod/Path/Path/Post/scripts/KineticNCBeamicon2_post.py
  src/Mod/Path/Path/Post/scripts/centroid_post.py
  src/Mod/Path/Path/Post/scripts/comparams_post.py
  src/Mod/Path/Path/Post/scripts/dumper_post.py
  src/Mod/Path/Path/Post/scripts/dxf_post.py
  src/Mod/Path/Path/Post/scripts/dynapath_4060_post.py
  src/Mod/Path/Path/Post/scripts/dynapath_post.py
  src/Mod/Path/Path/Post/scripts/fablin_post.py
  src/Mod/Path/Path/Post/scripts/fanuc_post.py
  src/Mod/Path/Path/Post/scripts/grbl_post.py
  src/Mod/Path/Path/Post/scripts/heidenhain_post.py
  src/Mod/Path/Path/Post/scripts/jtech_post.py
  src/Mod/Path/Path/Post/scripts/linuxcnc_post.py
  src/Mod/Path/Path/Post/scripts/mach3_mach4_post.py
  src/Mod/Path/Path/Post/scripts/marlin_post.py
  src/Mod/Path/Path/Post/scripts/nccad_post.py
  src/Mod/Path/Path/Post/scripts/opensbp_post.py
  src/Mod/Path/Path/Post/scripts/philips_post.py
  src/Mod/Path/Path/Post/scripts/refactored_centroid_post.py
  src/Mod/Path/Path/Post/scripts/rrf_post.py
  src/Mod/Path/Path/Post/scripts/smoothie_post.py
  src/Mod/Path/Path/Post/scripts/uccnc_post.py
  src/Mod/Path/PathScripts/PathUtils.py
Labels: WB Path

#9274 Fix the typo in #9267
  src/Mod/Part/App/FT2FC.cpp
Labels: WB Part

#9165 Path: set enumeration default properties after `.initOperation`
  src/Mod/Path/Path/Op/Base.py
Labels: WB Path

#9167 Path: Added post processor for Fangling plasma cutter
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Path/Post/scripts/fangling_post.py
Labels: WB Path

#9286 Fix uninitialized member variable
  src/Mod/Sketcher/Gui/Command.cpp
Labels: WB Sketcher

#9287 [GUI] Setting initial color of QColorDialog
  src/Gui/Widgets.cpp
Labels: Core

#9289 [TD]fix unwanted inversion in edge scrubbing
  src/Mod/TechDraw/App/DrawProjectSplit.cpp
  src/Mod/TechDraw/App/DrawProjectSplit.h
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/GeometryObject.cpp
Labels: WB TechDraw

#9290 Gui: Add translations for color bar labels
  src/Gui/SoFCColorGradient.h
  src/Gui/SoFCColorLegend.h
Labels: Core, L10N

#9199 Image: Merge taskboxes into one 'Image plane Settings'.
  src/Gui/CMakeLists.txt
  src/Gui/SoDatumLabel.cpp
  src/Gui/SoDatumLabel.h
  src/Gui/SoFCDB.cpp
  src/Gui/TaskView/TaskImage.cpp
  src/Gui/TaskView/TaskImage.h
  src/Gui/TaskView/TaskImage.ui
  src/Gui/TaskView/TaskImageScale.cpp
  src/Gui/TaskView/TaskImageScale.ui
  src/Gui/ViewProviderImagePlane.cpp
  src/Mod/Sketcher/Gui/AppSketcherGui.cpp
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: Core

#9298 Pref: Wb: disabling wb do not disable auto-load.
  src/Gui/DlgSettingsWorkbenchesImp.cpp
Labels: Core

#9300 [TD]make scrubbing count a property of view
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/App/GeometryObject.cpp
  src/Mod/TechDraw/App/GeometryObject.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvanced.ui
Labels: WB TechDraw

#9284 Fix wrong downcasting of QEvent
  src/Gui/Quarter/QuarterWidget.cpp
Labels: Core

#9291 Translate tool remove BOM
  src/Tools/updatets.py
Labels: L10N

#8982 [GUI] QuantitySpinBox: more intuitive parsing
  src/Gui/QuantitySpinBox.cpp
Labels: Core

#9276 Arch: fix linting for ArchStairs.py
  src/Mod/Arch/ArchStairs.py
Labels: WB Arch

#9279 ArchPanel: Remove "utf8_decode=True" from "translate" calls
  src/Mod/Arch/ArchPanel.py
Labels: WB Arch

#9281 Arch: linting multiple imports on one line
  src/Mod/Arch/Arch.py
  src/Mod/Arch/ArchAxis.py
  src/Mod/Arch/ArchAxisSystem.py
  src/Mod/Arch/ArchBuilding.py
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchComponent.py
  src/Mod/Arch/ArchCutPlane.py
  src/Mod/Arch/ArchEquipment.py
  src/Mod/Arch/ArchFloor.py
  src/Mod/Arch/ArchFrame.py
  src/Mod/Arch/ArchGrid.py
  src/Mod/Arch/ArchIFC.py
  src/Mod/Arch/ArchIFCSchema.py
  src/Mod/Arch/ArchIFCView.py
  src/Mod/Arch/ArchNesting.py
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchPipe.py
  src/Mod/Arch/ArchProfile.py
  src/Mod/Arch/ArchProject.py
  src/Mod/Arch/ArchRebar.py
  src/Mod/Arch/ArchSite.py
  src/Mod/Arch/ArchSpace.py
  src/Mod/Arch/ArchVRM.py
  src/Mod/Arch/ArchWall.py
  src/Mod/Arch/ArchWindow.py
  src/Mod/Arch/ArchWindowPresets.py
  src/Mod/Arch/Dice3DS/dom3ds.py
  src/Mod/Arch/exportIFCHelper.py
  src/Mod/Arch/importGBXML.py
  src/Mod/Arch/importJSON.py
  src/Mod/Arch/importOBJ.py
  src/Mod/Arch/importSH3D.py
Labels: WB Arch

#9302 i18n for CommandBody
  src/Mod/PartDesign/Gui/CommandBody.cpp
Labels: WB PartDesign

#9305 GUI: Add missing toolbar translation strings
  src/Gui/Workbench.cpp
Labels: Core

#9299 Part: translate geometry check results
  src/Mod/Part/BasicShapes/ShapeContent.py
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
Labels: WB Part

#9310 Arch: lint bad indentation, superfluous formatting
  src/Mod/Arch/ArchAxisSystem.py
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchComponent.py
  src/Mod/Arch/ArchFence.py
  src/Mod/Arch/ArchSite.py
  src/Mod/Arch/ArchSpace.py
  src/Mod/Arch/ArchVRM.py
  src/Mod/Arch/ArchWall.py
  src/Mod/Arch/ArchWindow.py
  src/Mod/Arch/OfflineRenderingUtils.py
  src/Mod/Arch/exportIFC.py
  src/Mod/Arch/exportIFCStructuralTools.py
  src/Mod/Arch/ifc_objects.py
  src/Mod/Arch/importGBXML.py
  src/Mod/Arch/importIFC.py
  src/Mod/Arch/importOBJ.py
Labels: WB Arch

#9313 Draft: linting bad indentations, superflous markup
  src/Mod/Draft/draftfunctions/upgrade.py
  src/Mod/Draft/draftgeoutils/general.py
  src/Mod/Draft/draftguitools/gui_groups.py
  src/Mod/Draft/draftguitools/gui_points.py
  src/Mod/Draft/draftguitools/gui_trackers.py
  src/Mod/Draft/draftmake/make_sketch.py
  src/Mod/Draft/draftobjects/bezcurve.py
  src/Mod/Draft/draftobjects/shape2dview.py
  src/Mod/Draft/draftobjects/shapestring.py
  src/Mod/Draft/importAirfoilDAT.py
Labels: WB Draft

#9316 [Arch] remove obsolete decode code
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchReference.py
  src/Mod/Arch/ArchWall.py
  src/Mod/Arch/import3DS.py
  src/Mod/Arch/importDAE.py
  src/Mod/Arch/importIFClegacy.py
  src/Mod/Arch/importOBJ.py
  src/Mod/Arch/importSH3D.py
Labels: WB Arch

#9307 Gui: declare methods as override
  src/Gui/DlgParameterFind.h
  src/Gui/TextureMapping.h
Labels: Core

#9322 [Draft] Disable Draft_AddConstruction if there is no selection
  src/Mod/Draft/draftguitools/gui_groups.py
Labels: WB Draft

#9295 Path: mediate JobEdit tool name truncation
  src/Mod/Path/Path/Main/Gui/Job.py
Labels: WB Path, UI/UX

#9320 Gui: fix several pending issues of image scale
  src/Gui/TaskView/TaskImage.cpp
  src/Gui/TaskView/TaskImage.h
Labels: Core

#9308 Gui: Add translations for color bar labels
  src/Gui/SoFCColorBar.cpp
  src/Gui/SoFCColorGradient.cpp
  src/Gui/SoFCColorGradient.h
  src/Gui/SoFCColorLegend.cpp
  src/Gui/SoFCColorLegend.h
Labels: Core, L10N

#9317 added i18n for axes and planes
  src/App/Origin.cpp
  src/App/Origin.h
  src/Mod/Test/Document.py
Labels: Core, L10N

#9331 FEM: Correct mis-spelled 'Elmer'
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.ui
Labels: WB FEM

#9311 added i18n for the origin
  src/App/OriginGroupExtension.cpp
  src/App/OriginGroupExtension.h
Labels: Core, L10N

#9318 FEM: some small pep8 code formatting changes
  src/Mod/Fem/femguiutils/selection_widgets.py
Labels: WB FEM

#9332 Arch: Fix translation context for Stairs
  src/Mod/Arch/ArchStairs.py
Labels: WB Arch

#9340 PD: don't use a static variable as otherwise it won't be translated a…
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
Labels: WB PartDesign

#9334 TechDraw: Preferences wording tweak
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvanced.ui
Labels: WB TechDraw

#9343 Sketcher: Tooltips for solver message hyperlinks
  src/Mod/Sketcher/Gui/TaskSketcherMessages.cpp
  src/Mod/Sketcher/Gui/TaskSketcherMessages.h
Labels: WB Sketcher

#9351 Sketcher: Fix overlapped points not selecting/preselecting
  src/Mod/Sketcher/Gui/EditModeGeometryCoinManager.cpp
Labels: WB Sketcher

#9344 Sketcher: Translate the attacher GUI dropdown
  src/Mod/Sketcher/Gui/Command.cpp
Labels: L10N, WB Sketcher

#9353 Sketcher: Fix typo
  src/Mod/Sketcher/Gui/TaskSketcherMessages.cpp
Labels: WB Sketcher

#9337 TechDraw: Translate leader line arrow shapes
  src/Mod/TechDraw/App/ArrowPropEnum.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
Labels: L10N, WB TechDraw

#9345 TechDraw: Translate direction labels
  src/Mod/TechDraw/App/DrawProjGroupItem.cpp
  src/Mod/TechDraw/Gui/QGIView.cpp
Labels: L10N, WB TechDraw

#9341 [Gui]overload toQGraphicsItem, toQGraphicsObject for PyObject
  src/Gui/PythonWrapper.cpp
  src/Gui/PythonWrapper.h
Labels: Core

#9338 Part: Fix context of Part->Split commands
  src/Mod/Part/BOPTools/JoinFeatures.py
  src/Mod/Part/BOPTools/SplitFeatures.py
Labels: L10N, WB Part

#9349 FEM: Translate Solver Calculix
  src/Mod/Fem/femcommands/commands.py
Labels: WB FEM, L10N

#9294 Gui: TaskCheckGeometry message translation
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
Labels: L10N, WB Part

#9219 [Sketcher] Allow experienced users to not have...
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
Labels: WB Sketcher

#9358 Sketcher: Change behaviour of toggle of mixed group of edges and vertices
  src/Mod/Sketcher/Gui/CommandAlterGeometry.cpp
Labels: WB Sketcher

#9360 TechDraw: Add a few missing translation strings
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: L10N, WB TechDraw

#9359 Mesh: Eliminate Alt+O as a shortcut for close
  src/Mod/Mesh/Gui/DlgRegularSolid.ui
Labels: WB Mesh, shortcut

#9363 TechDraw: Fix translations of TaskMoveView
  src/Mod/TechDraw/TechDrawTools/TaskMoveView.py
Labels: L10N, WB TechDraw

#9362 TechDraw: Fix translations of TaskShareView
  src/Mod/TechDraw/TechDrawTools/TaskShareView.py
Labels: L10N, WB TechDraw

#9356 Refactor Navigation Cube
  src/Gui/DlgSettingsNavigation.cpp
  src/Gui/DlgSettingsNavigation.h
  src/Gui/DlgSettingsNavigation.ui
  src/Gui/NaviCube.cpp
  src/Gui/NaviCube.h
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/View3DSettings.cpp
  src/Gui/View3DSettings.h
Labels: Core, navicube, Refactor

#9355 changed Z-axis rotation so that it is readable by default
  src/App/Origin.cpp
Labels: Core

#9380 fix copyright on FreeCAD model file
  src/Mod/Path/PathTests/Tools/Shape/test-path-tool-bit-shape-00.fcstd
Labels: WB Path

#9346 Part: Translate offset toolbar dropdown
  src/Mod/Part/Gui/Command.cpp
Labels: L10N, WB Part

#9371 Path: Correct context for Path_Fixture translations
  src/Mod/Path/Path/Main/Gui/Fixture.py
Labels: L10N, WB Path

#9384 Fix misc. linting and typos
  src/Doc/CONTRIBUTORS
  src/Doc/templates/doxy-boot.js
  src/Gui/NaviCube.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Tools/params_utils.py
Labels: Core, WB TechDraw

#9389 [TD]display escaped unicode annotations
  src/Mod/TechDraw/Gui/QGIViewAnnotation.cpp
Labels: WB TechDraw

#9399 Path: move trailing whitespace out of l10n string
  src/Mod/Path/Path/Main/Gui/Job.py
Labels: L10N, WB Path

#9402 CI: fix failing unit test reported as passed in summary, fixes #9170
  .github/workflows/actions/runCPPTests/action.yml
Labels: :octocat:

#9301 PD/ShaftWizard: Correct some translation issues
  src/Mod/PartDesign/WizardShaft/WizardShaft.py
  src/Mod/PartDesign/WizardShaft/WizardShaftTable.py
Labels: L10N, WB PartDesign

#9350 GUI: Translate the tooltip for EditMode menu
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Gui/ApplicationPy.cpp
  src/Gui/CommandStd.cpp
Labels: Core, L10N

#9336 PD: Helix parameters status translation
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
Labels: L10N, WB PartDesign

#9421 [TD]Handle changed xml namespace
  src/Mod/TechDraw/App/XMLQuery.cpp
Labels: WB TechDraw

#9242 Draft: Improve color handling of SVG geometry importer
  src/Mod/Draft/importSVG.py
Labels: WB Draft, Format: SVG

#9376 Draft: Remove Drawing WB related code from DXF related files
  src/Mod/Draft/Resources/ui/preferences-dxf.ui
  src/Mod/Draft/draftfunctions/dxf.py
  src/Mod/Draft/importDXF.py
Labels: WB Draft

#9425 Gui: force a redraw of the 3d view when creating it as otherwise on s…
  src/Gui/Document.cpp
Labels: Core

#9429 [TD]fix minimum width in TaskCustomizeFormat
  src/Mod/TechDraw/Gui/TaskCustomizeFormat.ui
Labels: WB TechDraw

#9436 [TD]remove Qt5 Svg handling code
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/App/XMLQuery.cpp
Labels: WB TechDraw

#9431 Gui: fixes #9306: problem importing image if path contains a single q…
  src/Gui/FileHandler.cpp
  src/Gui/FileHandler.h
Labels: Core

#9368 Tests: Add Sketcher tests to CI
  .github/workflows/actions/runCPPTests/runAllTests/action.yml
  .github/workflows/actions/runCPPTests/runSingleTest/action.yml
  .github/workflows/sub_buildUbuntu2004.yml
  .github/workflows/sub_buildUbuntu2204.yml
Labels: :octocat:
