Repository FreeCAD/FreeCAD, pull requests merged in 2023-12, with the labels that each got.

#11596 Gui: Add ability to easily lock Toolbars from UI
  src/Gui/CommandWindow.cpp
  src/Gui/MainWindow.cpp
  src/Gui/ToolBarManager.cpp
  src/Gui/ToolBarManager.h
  src/Gui/Workbench.cpp
Labels: Core

#11554 [0.21] [Preferences] Exclude 8514oem from Monospace fonts
  src/Gui/DlgEditorImp.cpp
Labels: Core

#11586 Gui: fix partially initialized default transparency
  src/Gui/ViewProviderGeometryObject.cpp
Labels: Core

#11590 Default freenet to true for sweep to fix rendering bug
  src/Mod/Part/App/PartFeatures.cpp
  src/Mod/Part/Gui/TaskSweep.ui
Labels: WB Part

#11612 Python: deprecated aliases have been removed in Py 3.12
  src/Mod/Arch/TestArch.py
  src/Mod/Part/TestPartApp.py
  src/Mod/PartDesign/PartDesignTests/TestInvoluteGear.py
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
  src/Mod/Spreadsheet/TestSpreadsheet.py
  src/Mod/Test/Document.py
  src/Mod/Test/Menu.py
  src/Mod/Test/UnicodeTests.py
  src/Mod/Test/Workbench.py
Labels: WB Arch, WB PartDesign, WB Part, WB Spreadsheet, WB Sketcher, WB Test

#11610 Draft: update Draft_ApplyStyle
  src/Mod/Draft/Draft.py
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftguitools/gui_styles.py
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#11611 Part: Use materialIndex.setValuesPointer() only if the new values are different
  src/Mod/Part/Gui/SoBrepFaceSet.cpp
Labels: WB Part

#11625 MSYS: fix CMake configure and build for MinGW
  cMake/FreeCAD_Helpers/ConfigureCMakeVariables.cmake
  cMake/FreeCAD_Helpers/SetupSalomeSMESH.cmake
  src/App/PropertyExpressionEngine.h
  src/Base/Builder3D.h
Labels: Core

#11629 Draft: menu texts to sentence case
  src/Mod/Draft/draftguitools/gui_draft2sketch.py
  src/Mod/Draft/draftguitools/gui_groups.py
  src/Mod/Draft/draftguitools/gui_patharray.py
  src/Mod/Draft/draftguitools/gui_pathtwistedarray.py
  src/Mod/Draft/draftguitools/gui_pointarray.py
  src/Mod/Draft/draftguitools/gui_selectplane.py
Labels: WB Draft

#11489 Renaming FEM mesh region to mesh refinement (only Users POV / tooltips)
  src/Mod/Fem/Gui/Resources/ui/MeshRegion.ui
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femobjects/mesh_gmsh.py
  src/Mod/Fem/femobjects/mesh_region.py
  src/Mod/Fem/femtaskpanels/task_mesh_region.py
Labels: WB FEM

#11494 [Sketcher] Introduce an optional unified version of coincident and pointOnObject
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.ui
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#11507 [Sketcher] Improve angle & radius constraint rendering
  src/Gui/SoDatumLabel.cpp
  src/Gui/SoDatumLabel.h
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Core, WB Sketcher

#11534 Gui: Add a separate checkbox for enabling spinning animations
  src/Gui/DemoMode.cpp
  src/Gui/NavigationAnimator.cpp
  src/Gui/NavigationAnimator.h
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/PreferencePackTemplates/View.cfg
  src/Gui/PreferencePages/DlgSettingsNavigation.cpp
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/View3DSettings.cpp
Labels: Core

#11548 casts clean
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Mesh/App/MeshPyImp.cpp
  src/Mod/Points/App/PointsGrid.cpp
  src/Mod/Points/App/Properties.cpp
  src/Mod/ReverseEngineering/App/AppReverseEngineering.cpp
Labels: WB FEM, WB Mesh, WB Points, WB ReverseEngineering

#11578 Gui: Refactor sphere projector
  src/Gui/NavigationStyle.cpp
Labels: Core

#11614 Gui: Cap starting height of Preferences dialog
  src/Gui/DlgPreferences.ui
  src/Gui/DlgPreferencesImp.cpp
Labels: Core

#11499 [Path] Sanity, change default zero CycleTime from float to string
  src/Mod/Path/Path/Main/Gui/Sanity.py
Labels: WB Path

#11266 Move the unit schema into Project Information and remove all Project Unit System code
  src/App/Document.cpp
  src/App/Document.h
  src/Gui/Application.cpp
  src/Gui/DlgProjectInformation.ui
  src/Gui/DlgProjectInformationImp.cpp
  src/Gui/Document.cpp
  src/Gui/Document.h
  src/Gui/MainWindow.cpp
  src/Gui/MainWindow.h
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/PreferencePages/DlgSettingsGeneral.h
  src/Gui/PreferencePages/DlgSettingsGeneral.ui
Labels: Core

#11656 Sketcher: Sketcher_Offset: menu text and shortcut
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
Labels: WB Sketcher

#11657 [Techdraw] Add missing Line Styles to CMakeLists.txt
  src/Mod/TechDraw/CMakeLists.txt
Labels: WB TechDraw

#11663 Draft: remove the Draft_ToggleContinueMode command
  src/Mod/Draft/DraftTools.py
  src/Mod/Draft/Resources/Draft.qrc
  src/Mod/Draft/Resources/icons/Draft_Continue.svg
  src/Mod/Draft/draftguitools/gui_togglemodes.py
  src/Mod/Draft/draftutils/init_tools.py
Labels: WB Draft

#11669 Fix typos
  src/App/FreeCADInit.py
  src/Mod/TechDraw/LineGroup/ASME.Y14.2.2008.ElementDef.csv
Labels: Core, WB TechDraw

#11679 [TechDraw] Use OCC to split intersecting edges
  src/Mod/TechDraw/App/DrawProjectSplit.cpp
  src/Mod/TechDraw/App/DrawProjectSplit.h
Labels: WB TechDraw

#11685 Draft: remove maxSnap parameter
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#11688 Draft: use MarkerSize for snap and tracker markers
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#11667 [Sketcher] Fix crash described in #10975
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfHyperbola.h
Labels: Backport, WB Sketcher

#11694 Draft: Introduce DefaultAnnoScaleMultiplier parameter
  src/Mod/Draft/Resources/ui/TaskPanel_SetStyle.ui
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftutils/init_draft_statusbar.py
  src/Mod/Draft/draftutils/params.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_draft_annotation.py
Labels: WB Draft

#11696 Draft: minor improvement to prefs layouts
  src/Mod/Draft/Resources/ui/preferences-draftinterface.ui
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
Labels: WB Draft

#11677 Draft: new get_param function with defaults
  src/Mod/Draft/draftutils/params.py
Labels: WB Draft

#11702 Draft: increase DXF Python library version to 1.42
  src/Mod/Draft/importDXF.py
Labels: WB Draft

#11191 Update ShapeFix_WirePy.xml
  src/Mod/Part/App/ShapeFix/ShapeFix_WirePy.xml
Labels: WB Part

#11633 [Part::Mirror] fix bug where selection gate was not getting removed o…
  src/Mod/Part/Gui/Mirroring.cpp
  src/Mod/Part/Gui/Mirroring.h
Labels: WB Part

#11638 Add missing initialization of MirrorPlane on non sketch objects (fixes #11571)
  src/Mod/PartDesign/Gui/TaskMultiTransformParameters.cpp
Labels: WB PartDesign

#11670 [Core][MacroExecuteDialog]File chooser should be folder chooser for s…
  src/Gui/DlgMacroExecute.ui
Labels: Core

#11673 Tweak section tolerance to make base layer of paths work again
  src/Mod/Path/Path/Op/Area.py
Labels: WB Path

#11692 Gui: MarkerBitmaps fix DIAMOND_FILLED_20_20
  src/Gui/Inventor/MarkerBitmaps.cpp
Labels: Core

#11602 Simplify dragging of App::AnnotationLabel
  src/Gui/ViewProviderAnnotation.cpp
  src/Gui/ViewProviderAnnotation.h
Labels: Core

#11705 [TechDraw] Fix scrubEdges() OCC error with single input edge
  src/Mod/TechDraw/App/DrawProjectSplit.cpp
Labels: WB TechDraw

#11703 Draft: implement new get_param functions (step 1)
  src/Mod/Draft/DraftGeomUtils.py
  src/Mod/Draft/draftfunctions/downgrade.py
  src/Mod/Draft/draftfunctions/move.py
  src/Mod/Draft/draftfunctions/offset.py
  src/Mod/Draft/draftfunctions/rotate.py
  src/Mod/Draft/draftfunctions/scale.py
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftfunctions/svgshapes.py
  src/Mod/Draft/draftfunctions/upgrade.py
  src/Mod/Draft/draftgeoutils/general.py
  src/Mod/Draft/draftmake/make_clone.py
  src/Mod/Draft/draftmake/make_label.py
  src/Mod/Draft/draftmake/make_layer.py
  src/Mod/Draft/draftobjects/bezcurve.py
  src/Mod/Draft/draftobjects/bspline.py
  src/Mod/Draft/draftobjects/circle.py
  src/Mod/Draft/draftobjects/ellipse.py
  src/Mod/Draft/draftobjects/polygon.py
  src/Mod/Draft/draftobjects/rectangle.py
  src/Mod/Draft/draftobjects/wire.py
  src/Mod/Draft/draftutils/params.py
Labels: WB Draft

#11711 Draft: implement new get_param functions (step 2)
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_groups.py
  src/Mod/Draft/draftguitools/gui_hatch.py
  src/Mod/Draft/draftguitools/gui_labels.py
  src/Mod/Draft/draftguitools/gui_layers.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_offset.py
  src/Mod/Draft/draftguitools/gui_points.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
  src/Mod/Draft/draftguitools/gui_selectplane.py
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftguitools/gui_tool_utils.py
  src/Mod/Draft/draftguitools/gui_trackers.py
  src/Mod/Draft/draftutils/params.py
Labels: WB Draft

#11715 Draft: implement new get_param functions (step 3)
  src/Mod/Draft/drafttaskpanels/task_circulararray.py
  src/Mod/Draft/drafttaskpanels/task_orthoarray.py
  src/Mod/Draft/drafttaskpanels/task_polararray.py
  src/Mod/Draft/drafttaskpanels/task_scale.py
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/init_draft_statusbar.py
  src/Mod/Draft/draftutils/messages.py
  src/Mod/Draft/draftutils/params.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_base.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
  src/Mod/Draft/draftviewproviders/view_draft_annotation.py
  src/Mod/Draft/draftviewproviders/view_label.py
  src/Mod/Draft/draftviewproviders/view_layer.py
  src/Mod/Draft/draftviewproviders/view_text.py
  src/Mod/Draft/draftviewproviders/view_wire.py
  src/Mod/Draft/draftviewproviders/view_wpproxy.py
Labels: WB Draft

#11722 Draft: implement new get_param functions (step 4)
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/DraftVecUtils.py
  src/Mod/Draft/WorkingPlane.py
  src/Mod/Draft/draftutils/params.py
  src/Mod/Draft/importDWG.py
  src/Mod/Draft/importDXF.py
  src/Mod/Draft/importOCA.py
  src/Mod/Draft/importSVG.py
Labels: WB Draft

#11727 Draft: implement new get_param functions (step 5)
  src/Mod/Draft/WorkingPlane.py
  src/Mod/Draft/draftguitools/gui_labels.py
  src/Mod/Draft/draftutils/params.py
Labels: WB Draft

#11738 Draft: implement new get_param functions (step 6)
  src/Mod/Draft/draftutils/params.py
Labels: WB Draft

#11744 Draft: intermediate fix for get_normal: check if 3D view exists
  src/Mod/Draft/draftgeoutils/geometry.py
Labels: WB Draft

#11747 [TechDraw] Correct typo in folder name
  src/Mod/TechDraw/CMakeLists.txt
Labels: WB TechDraw

#11751 [TD]Template field underline
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewDetail.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotation.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotationImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawColors.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawColorsImp.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.h
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/TemplateTextField.cpp
  src/Mod/TechDraw/Gui/TemplateTextField.h
Labels: WB TechDraw

#11753 fix compatibility with current Mac 3Dconnexion driver
  src/Gui/3Dconnexion/GuiNativeEventMac.cpp
Labels: Core

#11758 CI: set pipefail Linux build action
  .github/workflows/actions/linux/build/action.yml
Labels: :octocat:

#11710 Docs: minor tweek to GeometryDoubleExtensionPy.xml
  src/Mod/Part/App/GeometryDoubleExtensionPy.xml
Labels: WB Part

#11763 Gui: fix group visibility toggle
  src/Gui/ViewProviderGroupExtension.cpp
Labels: Core

#11724 Support for stress tensor components in FEM stress linearization
  src/Mod/Fem/Gui/Command.cpp
Labels: WB FEM

#11745 Gui: Allow ActionGroups to not remember choice
  src/Gui/Action.cpp
  src/Gui/Action.h
  src/Gui/Command.cpp
  src/Gui/Command.h
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: Core, WB Sketcher

#11767 CI: add pipefail to additional workflow actions.
  .github/workflows/actions/linux/configure/action.yml
  .github/workflows/actions/linux/install/action.yml
  .github/workflows/actions/runCPPTests/runSingleTest/action.yml
  .github/workflows/actions/runPythonTests/action.yml
Labels: :octocat:

#11704 Add test for child visibility in Arch BuildingPart or GroupExtensions
  src/App/GroupExtension.cpp
Labels: Core, WB Arch

#11707 [Sketcher] Fix offset of single line
  src/Mod/Sketcher/Gui/DrawSketchHandlerOffset.h
Labels: WB Sketcher

#11784 Sketcher: Fix Point to Line Distance
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: WB Sketcher

#11793 Sketcher: Activate new icon for optional unified coincident constraint
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#11796 [TD]Fix Landmark Dimension #11783
  src/Mod/TechDraw/App/LandmarkDimension.cpp
  src/Mod/TechDraw/App/ShapeExtractor.cpp
  src/Mod/TechDraw/App/ShapeExtractor.h
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.h
Labels: WB TechDraw

#11802 [TD]fix double transform for linked objects
  src/Mod/TechDraw/App/ShapeExtractor.cpp
Labels: WB TechDraw

#11797 [TD] New extended version of PositionSectionView tool.
  src/Mod/TechDraw/CMakeLists.txt
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
  src/Mod/TechDraw/Gui/Workbench.cpp
  src/Mod/TechDraw/TechDrawTools/CommandPositionSectionView.py
  src/Mod/TechDraw/TechDrawTools/TDToolsUtil.py
  src/Mod/TechDraw/TechDrawTools/__init__.py
Labels: WB TechDraw

#11806 [TD]prevent gp_GTrsf::Trsf() - non-orthogonal GTrsf
  src/Mod/TechDraw/App/ShapeExtractor.cpp
Labels: WB TechDraw

#11804 [TechDraw] Implement proper selection of subitems
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.h
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.h
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIView.h
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.h
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.h
Labels: WB TechDraw

#11813 [TechDraw] italicize leaderline auto-horizontal preference checkbox
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotation.ui
Labels: WB TechDraw

#11815 [TechDraw] Tree view update refactoring
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
Labels: WB TechDraw

#11814 Draft: improve checkSpecialChars in DraftGui.py
  src/Mod/Draft/DraftGui.py
Labels: WB Draft

#11782 Part/Toponaming: Add TopoShape cache
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeCache.cpp
  src/Mod/Part/App/TopoShapeCache.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/TopoShapeCache.cpp
Labels: WB Part, Toponaming

#11850 [TD]fix fail when dropping onto corrupt object
  src/Mod/TechDraw/Gui/ViewProviderDrawingViewExtension.cpp
Labels: WB TechDraw

#11844 Always show auto HorVer tool command in the toolbar (like auto dimension) when concise option is enabled
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher
