Repository FreeCAD/FreeCAD, pull requests merged in 2023-06, with the labels that each got.

#9699 Fix clipping near camera in orthogonal view
  src/Gui/NavigationStyle.cpp
Labels: Core

#9557 PD: fixes #9538: sometimes can't deselect things in newly created ske…
  src/Mod/PartDesign/Gui/Utils.cpp
Labels: WB PartDesign

#9677 Path: Minor translation fixes
  src/Mod/Path/Gui/DlgSettingsPathColor.ui
  src/Mod/Path/Gui/Resources/panels/PageOpPocketExtEdit.ui
  src/Mod/Path/Gui/Resources/panels/PathEdit.ui
  src/Mod/Path/Gui/Resources/preferences/Advanced.ui
  src/Mod/Path/Gui/Resources/preferences/PathJob.ui
  src/Mod/Path/Path/Main/Gui/Inspect.py
  src/Mod/Path/Path/Main/Job.py
Labels: L10N, WB Path

#9717 Path: Remove DefaultExtentsColor
  src/Gui/PreferencePackTemplates/Path_Colors.cfg
  src/Gui/PreferencePacks/FreeCAD Classic Colors/FreeCAD Classic Colors.cfg
  src/Mod/Path/Gui/DlgSettingsPathColor.cpp
Labels: Core, WB Path

#9702 Draft: Add TextSpacing to Draft_AnnotationStyleEditor
  src/Mod/Draft/Resources/ui/dialog_AnnotationStyleEditor.ui
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#9721 TechDraw: Translate Stacking
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: WB TechDraw

#9722 TechDraw: Translate some window titles
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
Labels: WB TechDraw

#9723 TechDraw: Translate more window titles
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
Labels: WB TechDraw

#9697 Core: Tree : Remove useless root item and hide description by default.
  src/Gui/Tree.cpp
  src/Gui/TreeParams.cpp
  src/Gui/TreeParams.py
Labels: Core, UI/UX

#9719 Draft: fix near snap for meshes
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: WB Draft

#9720 Sketcher: Add missing translations
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#9735 FEM: Add translation for Electromagnetic Constraints
  src/Mod/Fem/Gui/Workbench.cpp
Labels: WB FEM, L10N

#9724 Improved font handling on Navigation cube
  src/Gui/DlgSettingsNavigation.cpp
  src/Gui/DlgSettingsNavigation.ui
  src/Gui/MainWindow.cpp
  src/Gui/NaviCube.cpp
  src/Gui/View3DSettings.cpp
  src/Gui/View3DSettings.h
Labels: Core

#9739 Core: fix navigation cube BaseColor pref tooltip
  src/Gui/DlgSettingsNavigation.ui
Labels: Core

#9728 Sketcher: Minor improvements to some GUI texts
  src/Mod/Sketcher/Gui/Command.cpp
Labels: WB Sketcher

#9742 [Sketcher] Fix incorrect toolbar name uppercase
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#9657 Fix build of "tests" on macOS
  tests/CMakeLists.txt
Labels: OS: macOS

#9746 Navicube OffsetX and OffsetY fix
  src/Gui/View3DSettings.cpp
Labels: Core

#9753 [TD]fix nonstandard representation
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.cpp
Labels: WB TechDraw

#9757 Sketcher: Expose constraint redundancy information to Python
  src/Mod/Sketcher/App/SketchObjectPy.xml
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
Labels: WB Sketcher

#9759 Sketcher: unused variable fixes
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfHyperbola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfParabola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSplineByInterpolation.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCarbonCopy.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExtend.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExternal.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLineSet.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPoint.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSplitting.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTrimming.h
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
Labels: WB Sketcher

#9749 Arch: Improve performance of WebGL importer
  src/Mod/Arch/importWebGL.py
Labels: WB Arch

#9561 Fix FEM_ClippingPlaneAdd.svg (#9550)
  src/Mod/Fem/Gui/Resources/icons/FEM_ClippingPlaneAdd.svg
Labels: WB FEM

#9752 Sketcher: Minor improvements for some GUI texts
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
Labels: WB Sketcher

#9771 PartDesign: clean redundant/incorrect length validation for pad & pocket
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
Labels: WB PartDesign

#9712 [Import] DXF make codepage case insensitive
  src/Mod/Import/App/dxf/dxf.cpp
Labels: Format: DXF

#9175 [Toponaming] create ElementMap class
  src/App/CMakeLists.txt
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
  src/App/DocumentObject.cpp
  src/App/DocumentObserver.cpp
  src/App/ElementMap.cpp
  src/App/ElementMap.h
  src/App/ElementNamingUtils.cpp
  src/App/ElementNamingUtils.h
  src/App/GeoFeature.cpp
  src/App/Link.cpp
  src/App/MappedName.cpp
  src/App/MappedName.h
  src/Base/Writer.h
  src/Gui/CommandLink.cpp
  src/Gui/Document.cpp
  src/Gui/SoFCUnifiedSelection.cpp
  src/Gui/TaskElementColors.cpp
  src/Gui/ViewProviderLink.cpp
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/ShapeBinder.cpp
  tests/src/App/ElementMap.cpp
  tests/src/App/MappedName.cpp
Labels: Core, Toponaming

#9783 Navicube: Fix rotation direction on north and south buttons
  src/Gui/NaviCube.cpp
Labels: Core

#9785 App/Toponaming: Compilation cleanup after #9175
  src/App/ElementMap.cpp
  src/App/ElementMap.h
  src/App/ElementNamingUtils.cpp
  src/App/ElementNamingUtils.h
  src/App/MappedName.cpp
Labels: Core

#9779 Update printAllPDF to print a PDF that complies with PDF/A-1b
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
Labels: WB TechDraw

#9790 [TD]warn on skewed ComplexSection profile
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawComplexSection.h
  src/Mod/TechDraw/App/DrawViewSection.cpp
Labels: WB TechDraw

#9738 Arch nativeifc provisions
  src/Mod/Arch/exportIFC.py
  src/Mod/Arch/ifc_viewproviders.py
  src/Mod/Draft/draftutils/gui_utils.py
Labels: WB Arch, Format: IFC

#9765 Arch remove undefined type
  src/Mod/Arch/ArchEquipment.py
  src/Mod/Arch/ArchPipe.py
  src/Mod/Arch/ArchProfile.py
  src/Mod/Arch/ArchStructure.py
  src/Mod/Arch/Presets/ifc_products_IFC2X3.json
  src/Mod/Arch/Presets/ifc_products_IFC4.json
  src/Mod/Arch/TestArch.py
Labels: WB Arch

#9781 GUI: Update Splashscreen for 0.21
  src/Gui/Icons/freecadabout.png
  src/Gui/Icons/freecadsplash.png
  src/Gui/Icons/freecadsplash2x.png
  src/Gui/MainWindow.cpp
  src/Main/MainGui.cpp
Labels: Core

#9534 Core: rework WorkbenchGroup & WorkbenchComboBox
  src/Gui/Action.cpp
  src/Gui/Action.h
  src/Gui/Application.h
  src/Gui/ApplicationPy.cpp
  src/Gui/DlgSettingsWorkbenchesImp.cpp
Labels: Core

#9794 FEM: Remove improperly licensed files
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femexamples/manager.py
  src/Mod/Fem/femexamples/thermomech_flow1d.py
  src/Mod/Fem/femexamples/thermomech_spine.py
  src/Mod/Fem/femtest/app/test_ccxtools.py
  src/Mod/Fem/femtest/app/test_result.py
  src/Mod/Fem/femtest/app/test_solver_calculix.py
  src/Mod/Fem/femtest/data/calculix/box.FCStd
  src/Mod/Fem/femtest/data/calculix/thermomech_flow1D.FCStd
  src/Mod/Fem/femtest/data/calculix/thermomech_flow1D.dat
  src/Mod/Fem/femtest/data/calculix/thermomech_flow1D.frd
  src/Mod/Fem/femtest/data/calculix/thermomech_flow1D.inp
  src/Mod/Fem/femtest/data/calculix/thermomech_flow1D_expected_values
  src/Mod/Fem/femtest/data/calculix/thermomech_flow1D_inout_nodes.txt
  src/Mod/Fem/femtest/data/calculix/thermomech_spine.FCStd
  src/Mod/Fem/femtest/data/calculix/thermomech_spine.dat
  src/Mod/Fem/femtest/data/calculix/thermomech_spine.frd
  src/Mod/Fem/femtest/data/calculix/thermomech_spine.inp
  src/Mod/Fem/femtest/data/calculix/thermomech_spine_expected_values
  src/Mod/Fem/femtest/test_commands.sh
Labels: WB FEM

#9769 fix submitted by Zibibbo84 for proxy error
  src/Mod/Path/Path/Post/scripts/heidenhain_post.py
Labels: WB Path

#9811 Update microsoft / setup-msbuild into sub_buildWindows.yml
  .github/workflows/sub_buildWindows.yml
Labels: :octocat:

#9569 [FEM] small gmsh panel tweak
  src/Mod/Fem/Gui/Resources/ui/MeshGmsh.ui
Labels: WB FEM

#9766 FEM: let gmsh infer format from file name
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtest/data/elmer/group_mesh.geo
Labels: WB FEM

#9814 [TD]fix lost parent on undo
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.h
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.h
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.h
Labels: WB TechDraw

#9816 Part: fix source comment typo
  src/Mod/PartDesign/fcgear/involute.py
Labels: WB PartDesign

#9815 Path: fix typo in source comments
  src/Mod/Path/PathScripts/PathUtils.py
Labels: WB Path

#9820 Fix #9775 - incorrect pref. path on hint
  src/Gui/Action.cpp
Labels: Core

#9821 Gui: `Action.cpp` minor code formatting tweak
  src/Gui/Action.cpp
Labels: Core

#9825 [TD]add ANSI large format templates
  src/Mod/TechDraw/Templates/ANSIC_Landscape.svg
  src/Mod/TechDraw/Templates/ANSIC_Portrait.svg
  src/Mod/TechDraw/Templates/ANSID_Landscape.svg
  src/Mod/TechDraw/Templates/ANSID_Portrait.svg
  src/Mod/TechDraw/Templates/ANSIE_Landscape.svg
  src/Mod/TechDraw/Templates/ANSIE_Portrait.svg
Labels: WB TechDraw

#9827 Arch: Fix encoding error (caused by #9316)
  src/Mod/Arch/import3DS.py
  src/Mod/Arch/importDAE.py
  src/Mod/Arch/importOBJ.py
  src/Mod/Arch/importSH3D.py
Labels: WB Arch

#9830 Draft: Add macOS paths to importDWG.py
  src/Mod/Draft/importDWG.py
Labels: WB Draft

#9567 Part: fixes #5967: Weird behavior in Placement dialog when using "cen…
  src/Mod/Part/App/TopoShape.cpp
Labels: WB Part

#9690 Unused variable
  src/Mod/Part/App/PartFeature.cpp
Labels: WB Part

#9843 [TD]fix missing section svg hatch in pdf
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
Labels: WB TechDraw

#8892 Path: add File source to CustomOp
  src/Mod/Path/Path/Op/Custom.py
Labels: WB Path

#9832 Path: fix g-code orientation from Path.Op.Profile in case eff. offset is 0.0
  src/Mod/Path/CMakeLists.txt
  src/Mod/Path/Path/Op/Profile.py
  src/Mod/Path/PathTests/TestPathProfile.py
  src/Mod/Path/PathTests/test_profile.fcstd
  src/Mod/Path/TestPathApp.py
Labels: WB Path
