Repository FreeCAD/FreeCAD, pull requests merged in 2023-03, with the labels that each got.

#8709 Part: fix TopoShapeListTest
  src/Mod/Part/parttests/TopoShapeListTest.py
Labels: WB Part

#8586 remove unused FDstream file
  src/Base/CMakeLists.txt
  src/Base/fdstream.hpp
Labels: Core

#8585 remove unused GZstream library interface files
  src/Base/CMakeLists.txt
  src/Base/gzstream.cpp
  src/Base/gzstream.h
Labels: Core

#8715 Addon Manager: Correct typo
  src/Mod/AddonManager/package_details.py
Labels: Addon Manager

#8722 Part: Compute center of gravity for compounds
  src/Mod/Part/App/TopoShape.cpp
Labels: WB Part

#8724 Sketcher: remove unused private field 'form'
  src/Mod/Sketcher/Gui/SketcherSettings.h
Labels: WB Sketcher

#8728 Fix typos [skip ci]
  src/Mod/AddonManager/addonmanager_firstrun.py
  src/Mod/Part/App/PropertyTopoShapeList.cpp
Labels: WB Part, Addon Manager

#8729 OpenSCAD: Improve shape-checking in group action
  src/Mod/OpenSCAD/importCSG.py
Labels: WB OpenSCAD

#8727 FEM: implement interface of ComplexGeoData
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/FemMesh.h
  src/Mod/Fem/App/FemMeshObject.cpp
  src/Mod/Fem/App/FemMeshObject.h
Labels: WB FEM

#8212 [Gui] Recent macros, enhance warning msg
  src/Gui/Action.cpp
Labels: Core

#8730 Part: extend command Part_PointsFromMesh to support any geometric type
  src/Mod/Part/BasicShapes/Utils.py
  src/Mod/Part/CMakeLists.txt
  src/Mod/Part/Gui/CommandSimple.cpp
Labels: WB Part

#8736 [TechDraw] Improved readability of DrawViewSpreadsheet.cpp
  src/Mod/TechDraw/App/DrawViewSpreadsheet.cpp
Labels: WB TechDraw

#8737 App: using fmtlib causes a linking failure together with boost's grap…
  src/App/CMakeLists.txt
  src/App/Document.cpp
  src/App/Graphviz.cpp
  src/App/private/DocumentP.h
Labels: Core

#8746 PD: Retranslate InvoluteGear's Task Panel on language change
  src/Mod/PartDesign/InvoluteGearFeature.py
Labels: WB PartDesign

#8756 [TD] Solve two issues in CmdHoleShaftFit
  src/Mod/TechDraw/TechDrawTools/TaskHoleShaftFit.py
Labels: WB TechDraw

#8770 Part: set minimum angular deflection to 1 deg
  src/Mod/Part/Gui/DlgSettings3DViewPart.ui
Labels: WB Part

#8747 Gui: fix regression with the default visibility of toolbars
  src/Gui/ToolBarManager.cpp
Labels: Core

#8769 [FEM] Replacement of `std::thread::hardware_concurrency` with `QThread::idealThreadCount`
  src/Mod/Fem/Gui/DlgSettingsFemCcxImp.cpp
  src/Mod/Fem/Gui/DlgSettingsFemElmerImp.cpp
  src/Mod/Fem/Gui/DlgSettingsFemElmerImp.h
Labels: WB FEM

#8725 Bug fixes and improvements for workbenches settings
  src/Gui/DlgSettingsLazyLoaded.ui
  src/Gui/DlgSettingsLazyLoadedImp.cpp
  src/Gui/DlgSettingsLazyLoadedImp.h
Labels: Core

#8601 Demonstrating separation of code and data
  src/App/CMakeLists.txt
  src/App/Document.cpp
  src/App/Document.h
  src/App/License.cpp
  src/App/License.h
  src/Gui/DlgProjectInformationImp.cpp
  src/Gui/DlgSettingsDocumentImp.cpp
  tests/src/App/License.cpp
Labels: Core

#8778 [Mesh] Minor code update
  src/Mod/Mesh/App/Core/Builder.cpp
  src/Mod/Mesh/App/Core/Evaluation.cpp
Labels: WB Mesh, Refactor

#8735 FEM: Add cylinder filter function
  src/Mod/Fem/App/AppFem.cpp
  src/Mod/Fem/App/FemPostFunction.cpp
  src/Mod/Fem/App/FemPostFunction.h
  src/Mod/Fem/Gui/AppFemGui.cpp
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/CylinderWidget.ui
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.h
Labels: WB FEM, Feature

#8699 [Gui] NaviCube: don't write font size on loading preferences
  src/Gui/DlgSettingsNavigation.cpp
Labels: Core

#8748 PD: Fix Loft's Closed option
  src/Mod/PartDesign/App/FeatureLoft.cpp
Labels: WB PartDesign

#8787 [FEM] [skip ci] fine-tune FEM function filter
  src/Mod/Fem/App/FemPostFunction.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.cpp
Labels: WB FEM

#8780 App: add CC 3.0 licenses
  src/App/License.h
Labels: Core

#8783 Gui: fix possibly garbled toolbars and menus
  src/Gui/Application.cpp
Labels: Core

#8786 Gui: fixes #8501: FreeCAD crashes when constraining a sketch with an …
  src/Gui/ExpressionCompleter.cpp
Labels: Core

#8793 [Gui] Add an icon for Std_RecentMacros command
  src/Gui/CommandStd.cpp
  src/Gui/Icons/Std_RecentMacros.svg
  src/Gui/Icons/resource.qrc
Labels: Core, UI/UX

#8796 [Gui] [skip ci] improve new icon
  src/Gui/Icons/Std_RecentMacros.svg
Labels: Core

#8794 [Gui] Fix display names of Recent Macros
  src/Gui/Action.cpp
Labels: Core

#8799 [MeshPart] fix unwrap feature
  src/Mod/MeshPart/App/MeshFlatteningPy.cpp
Labels: WB MeshPart

#8789 [FEM] improve cylinder function
  src/Mod/Fem/App/FemPostFunction.cpp
  src/Mod/Fem/App/FemPostFunction.h
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.cpp
Labels: WB FEM

#8802 Sketch: export GeoListModel::getGeoListModel to fix linking error wit…
  src/Mod/Sketcher/App/GeoList.cpp
Labels: WB Sketcher

#8803 [TD]fix error from BSpline.asCircle
  src/Mod/TechDraw/App/Geometry.cpp
Labels: WB TechDraw

#8763 PartDesign: do not include transform for sub-object in Feature
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/Feature.h
Labels: WB PartDesign

#8811 [PD] add tooltip for Hole feature
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.ui
Labels: WB PartDesign

#8817 remove unnecessary include
  src/Mod/Part/App/Attacher.h
Labels: WB Part

#8809 [TD] fix compiler warning about code duplication and unused variable
  src/Mod/TechDraw/App/Geometry.cpp
Labels: WB TechDraw

#8823 Sketcher: Remove references to non-existing icons
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
Labels: WB Sketcher

#8822 Sketcher: Remove "Show Edit Section" from preferences
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.ui
Labels: WB Sketcher

#8824 PD: add unit test for issue #6156 or PR #8748
  src/Mod/PartDesign/PartDesignTests/TestLoft.py
Labels: WB PartDesign

#8828 PD: add unit test for PR #8763
  src/Mod/PartDesign/PartDesignTests/TestShapeBinder.py
Labels: WB PartDesign

#8788 Addon Manager: Refactor Metadata
  src/Mod/AddonManager/Addon.py
  src/Mod/AddonManager/AddonManagerTest/app/mocks.py
  src/Mod/AddonManager/AddonManagerTest/app/test_addon.py
  src/Mod/AddonManager/AddonManagerTest/app/test_installer.py
  src/Mod/AddonManager/AddonManagerTest/app/test_macro.py
  src/Mod/AddonManager/AddonManagerTest/app/test_metadata.py
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/TestAddonManagerApp.py
  src/Mod/AddonManager/addonmanager_devmode_metadata_checker.py
  src/Mod/AddonManager/addonmanager_freecad_interface.py
  src/Mod/AddonManager/addonmanager_installer.py
  src/Mod/AddonManager/addonmanager_macro.py
  src/Mod/AddonManager/addonmanager_metadata.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/addonmanager_workers_installation.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
  src/Mod/AddonManager/addonmanager_workers_utility.py
  src/Mod/AddonManager/package_details.py
  src/Mod/AddonManager/package_list.py
Labels: Addon Manager

#8831 Addon Manager: Handle icons with query strings
  src/Mod/AddonManager/addonmanager_macro.py
  src/Mod/AddonManager/package_list.py
Labels: Addon Manager

#8825 Fem: Add box filter function
  src/Mod/Fem/App/AppFem.cpp
  src/Mod/Fem/App/FemPostFunction.cpp
  src/Mod/Fem/App/FemPostFunction.h
  src/Mod/Fem/Gui/AppFemGui.cpp
  src/Mod/Fem/Gui/BoxWidget.ui
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.h
Labels: WB FEM, Feature

#8834 [FEM] [skip ci] BoxWidget.ui fix
  src/Mod/Fem/Gui/BoxWidget.ui
Labels: WB FEM

#8837 Fem: Remove property name comparison
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.h
Labels: WB FEM

#8830 Update json
  src/Mod/PartDesign/App/json.hpp
  src/Mod/PartDesign/App/json_fwd.hpp
Labels: WB PartDesign

#8840 [Draft] fix regression introduced with #8433
  src/Mod/Draft/draftobjects/draftlink.py
Labels: WB Draft

#8832 [TD]remove unused override methods
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.cpp
  src/Mod/TechDraw/Gui/ViewProviderLeader.h
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.h
  src/Mod/TechDraw/Gui/ViewProviderProjGroup.cpp
  src/Mod/TechDraw/Gui/ViewProviderProjGroup.h
  src/Mod/TechDraw/Gui/ViewProviderProjGroupItem.cpp
  src/Mod/TechDraw/Gui/ViewProviderProjGroupItem.h
  src/Mod/TechDraw/Gui/ViewProviderTemplate.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewClip.cpp
Labels: WB TechDraw

#8813 [Gui] fix bug on restoring PrefColorButton
  src/Gui/PrefWidgets.cpp
Labels: Core, Color

#8295 Add offset options to Draft PathArray
  src/Mod/Draft/draftguitools/gui_patharray.py
  src/Mod/Draft/draftmake/make_patharray.py
  src/Mod/Draft/draftobjects/patharray.py
Labels: WB Draft

#8838 Sketcher: Solver Message Widget simplification.
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.cpp
  src/Mod/Sketcher/Gui/TaskSketcherMessages.cpp
  src/Mod/Sketcher/Gui/TaskSketcherMessages.h
  src/Mod/Sketcher/Gui/TaskSketcherMessages.ui
Labels: WB Sketcher

#8844 [Sketch] reverse commit 944c02f12be37
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.cpp
  src/Mod/Sketcher/Gui/TaskSketcherMessages.cpp
  src/Mod/Sketcher/Gui/TaskSketcherMessages.h
  src/Mod/Sketcher/Gui/TaskSketcherMessages.ui
Labels: WB Sketcher

#8750 [Draft] Mitigate crash in Draft_Edit (#8749)
  src/Mod/Draft/DraftGui.py
Labels: WB Draft

#8603 Add various matrix related expression functions
  src/App/Expression.cpp
  src/App/ExpressionParser.h
  src/Base/Quantity.cpp
  src/Base/Quantity.h
  src/Mod/Spreadsheet/TestSpreadsheet.py
Labels: Core, WB Spreadsheet, Feature, Expressions

#8842 Removal of unused code due to old <5.2 QT ibrary
  src/Mod/Sandbox/Gui/Command.cpp
  src/Mod/Sandbox/Gui/GLGraphicsView.cpp
  src/Tools/plugins/widget/plugin.cpp
  src/Tools/plugins/widget/plugin.h
Labels: Core

#8859 libarea: fix whitespace
  src/Mod/Path/libarea/kurve/kurve.cpp
Labels: WB Path

#8857 Fem: Remove property name comparison
  src/Mod/Fem/Gui/ViewProviderFemConstraintBearing.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintContact.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintFixed.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintFluidBoundary.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintForce.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintGear.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintPlaneRotation.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintPressure.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintPulley.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintSpring.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintTemperature.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintTransform.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.cpp
Labels: WB FEM

#8855 [NotificationArea] Gui: Notifications - Convenience functions to send intrusive / non-intrusive notifications
  src/Gui/CMakeLists.txt
  src/Gui/Notifications.h
Labels: Core

#8853 [TechDraw] Minor change in TaskLineDecor.cpp
  src/Mod/TechDraw/Gui/TaskLineDecor.cpp
Labels: WB TechDraw

#8861 [TD]fix centering of shape in view
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
Labels: WB TechDraw

#8865 [TD]allow loading SVG item from file
  src/Mod/TechDraw/Gui/QGCustomSvg.cpp
  src/Mod/TechDraw/Gui/QGCustomSvg.h
Labels: WB TechDraw

#8867 App: fixes #7833: Python2/3 FIXME code in App/FreeCADInit.py to be re…
  src/App/FreeCADInit.py
Labels: Core

#8866 Fix misc. grammar and whitespace
  src/Base/Factory.h
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/Fem/femexamples/equation_magnetodynamics_2D_elmer.py
  src/Mod/Fem/femexamples/equation_magnetostatics_2D_elmer.py
Labels: Core, WB FEM, Addon Manager

#8863 [NotificationArea] Sketcher: Constraint - notification and internal geometry command clean up
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#8869 Fem: Remove property name comparison
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.cpp
Labels: WB FEM

#8872 [TD]add autocorrect preference
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvanced.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvancedImp.cpp
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_RefError.svg
Labels: WB TechDraw

#8849 fix #8847 sketcher dialog tool buttons bad styling
  src/Gui/Stylesheets/Behave-dark.qss
  src/Gui/Stylesheets/Dark-blue.qss
  src/Gui/Stylesheets/Dark-contrast.qss
  src/Gui/Stylesheets/Dark-green.qss
  src/Gui/Stylesheets/Dark-orange.qss
  src/Gui/Stylesheets/Darker-blue.qss
  src/Gui/Stylesheets/Darker-green.qss
  src/Gui/Stylesheets/Darker-orange.qss
  src/Gui/Stylesheets/Light-blue.qss
  src/Gui/Stylesheets/Light-green.qss
  src/Gui/Stylesheets/Light-orange.qss
  src/Gui/Stylesheets/ProDark.qss
Labels: Core

#8882 Refine previous fix for #8866
  src/Base/Factory.h
Labels: Core

#8885 Addon Manager: Fix install after update all
  src/Mod/AddonManager/addonmanager_update_all_gui.py
Labels: Addon Manager

#8889 Import/Part: [skip ci] restore some comments
  src/Mod/Import/App/AppImportPy.cpp
  src/Mod/Import/App/ImportOCAF2.cpp
  src/Mod/Import/Gui/AppImportGuiPy.cpp
  src/Mod/Part/App/TopoShape.cpp
Labels: WB Part

#8776 App: Toponaming indexed name
  src/App/CMakeLists.txt
  src/App/IndexedName.cpp
  src/App/IndexedName.h
  tests/src/App/CMakeLists.txt
  tests/src/App/IndexedName.cpp
Labels: Core, Toponaming

#8818 Draft: Fixes grid on/off behaviour - fixes #5878
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_grid.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#8795 Draft: Added LayerManager command from BIM
  src/Mod/Draft/Resources/Draft.qrc
  src/Mod/Draft/Resources/icons/Draft_LayerManager.svg
  src/Mod/Draft/Resources/ui/dialogLayers.ui
  src/Mod/Draft/draftguitools/gui_layers.py
  src/Mod/Draft/draftutils/init_tools.py
Labels: WB Draft

#8819 Do not allow an empty identifier in `getIdentifier`
  src/Base/Tools.cpp
Labels: Core

#8891 CI: Run GTest suite
  .github/workflows/actions/runCPPTests/action.yml
  .github/workflows/actions/runPythonTests/action.yml
  .github/workflows/sub_buildUbuntu2004.yml
  .github/workflows/sub_buildUbuntu2204.yml
Labels: :octocat:

#8903 [FEM] better pipeline connection for CalculiX
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.cpp
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/feminout/importCcxFrdResults.py
  src/Mod/Fem/femtaskpanels/task_result_mechanical.py
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
  src/Mod/Fem/femtest/app/test_object.py
Labels: WB FEM

#8905 [FEM] use unique result mesh name
  src/Mod/Fem/feminout/importCcxFrdResults.py
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
Labels: WB FEM

#8907 [Lint] remove checks for line endings
  .github/workflows/sub_lint.yml
Labels: :octocat:

#8901 [TD]trap bad format spec - fix #8897 in master branch
  src/Mod/TechDraw/App/DimensionFormatter.cpp
  src/Mod/TechDraw/App/DimensionFormatter.h
Labels: WB TechDraw

#8908 TD: First step to port to Qt6
  src/Mod/TechDraw/App/DimensionFormatter.cpp
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawComplexSection.h
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewDetail.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/DrawViewSection.h
  src/Mod/TechDraw/Gui/AppTechDrawGui.cpp
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/Mod/TechDraw/Gui/QGVPage.h
  src/Mod/TechDraw/Gui/mrichtextedit.cpp
Labels: WB TechDraw

#8914 Path: Update license
  src/Mod/Path/PathTests/test_adaptive.fcstd
Labels: WB Path

#8916 Path Update license to CC 4.0
  src/Mod/Path/PathTests/boxtest.fcstd
  src/Mod/Path/Tools/Shape/chamfer.fcstd
  src/Mod/Path/Tools/Shape/dovetail.fcstd
  src/Mod/Path/Tools/Shape/probe.fcstd
  src/Mod/Path/Tools/Shape/slittingsaw.fcstd
Labels: WB Path

#8913 Gui: set-up a logging category filter to suppress the most annoying Q…
  src/Gui/Application.cpp
Labels: Core

#8906 [FEM] improve deletion warning
  src/Mod/Fem/Gui/ViewProviderAnalysis.cpp
  src/Mod/Fem/Gui/ViewProviderAnalysis.h
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderSolver.cpp
Labels: WB FEM

#8921 [FEM] fix flow equation
  src/Mod/Fem/femsolver/elmer/equations/flow_writer.py
Labels: WB FEM

#8920 App: Fix missing python addProperty and removeProperty of Document object
  src/App/DocumentPy.xml
  src/App/DocumentPyImp.cpp
Labels: Core

#8922 [FEM] Elmer: add new default coordinate system
  src/Mod/Fem/femsolver/elmer/solver.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femtest/data/elmer/box_static_0_mm.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_faceload_0_mm.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_faceload_1_si.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_nodeload_0_mm.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_prescribeddisplacement_0_mm.sif
Labels: WB FEM

#8926 [FEM] fix 1D thermomech example
  src/Mod/Fem/femexamples/thermomech_flow1d.py
  src/Mod/Fem/femtest/data/calculix/thermomech_flow1D.inp
Labels: WB FEM

#8929 [FEM] add an example for a turbulent flow
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femexamples/equation_flow_turbulent_elmer_2D.py
  src/Mod/Fem/femexamples/manager.py
Labels: WB FEM

#8931 CI: minor improvements in texts
  .github/workflows/actions/runCPPTests/action.yml
  .github/workflows/actions/runPythonTests/action.yml
Labels: :octocat:

#8927 Base: fixes #8902: Segfault from Part WB functionality in python scri…
  src/Base/VectorPy.xml
  src/Base/VectorPyImp.cpp
Labels: Core

#8936 Gui: add missing include for Qt6 build
  src/Gui/MainWindow.cpp
Labels: Core

#8933 Fem: Fix licensing of Calculix test FCStd files
  src/Mod/Fem/femtest/data/calculix/box_frequency.FCStd
  src/Mod/Fem/femtest/data/calculix/box_static.FCStd
  src/Mod/Fem/femtest/data/calculix/constraint_contact_shell_shell.FCStd
  src/Mod/Fem/femtest/data/calculix/constraint_contact_solid_solid.FCStd
Labels: WB FEM

#8934 PD: Implement Profile Shift for InvoluteGear
  src/Mod/PartDesign/InvoluteGearFeature.py
  src/Mod/PartDesign/InvoluteGearFeature.ui
  src/Mod/PartDesign/PartDesignTests/TestInvoluteGear.py
  src/Mod/PartDesign/fcgear/involute.py
Labels: WB PartDesign

#8930 [TD]fix #8897 in v0.20
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
Labels: WB TechDraw

#8937 [FEM] update a file license
  src/Mod/Fem/femtest/data/open/all_objects_de9b3fb438.FCStd
Labels: WB FEM

#8946 Notifications: Extend translated notification to include caption
  src/Gui/Notifications.h
Labels: Core

#8947 Fix crash ElementsWidget
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
Labels: WB Sketcher

#8951 Gui: solves #8939: timers are moved between non-QThreads
  src/Gui/Tree.cpp
Labels: Core

#8948 TD: move all XML query handling to a single function
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/App/DrawSVGTemplate.cpp
  src/Mod/TechDraw/App/DrawViewSymbol.cpp
  src/Mod/TechDraw/App/QDomNodeModel.cpp
  src/Mod/TechDraw/App/XMLQuery.cpp
  src/Mod/TechDraw/App/XMLQuery.h
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
Labels: WB TechDraw

#8953 Gui: fix some lint warnings
  src/Gui/PropertyPage.cpp
  src/Gui/PropertyPage.h
  src/Gui/UiLoader.cpp
  src/Gui/UiLoader.h
Labels: Core

#8896 Sketcher : Circle to circle distance constraints
  src/Mod/Sketcher/App/ConstraintPyImp.cpp
  src/Mod/Sketcher/App/PythonConverter.cpp
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/Sketch.h
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.h
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Sketcher/App/planegcs/GCS.h
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Sketcher/Gui/Utils.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#8961 [FEM] output less messages
  src/Mod/Fem/femguiutils/selection_widgets.py
Labels: WB FEM

#8962 [FEM] Elmer: support for variable strings
  src/Mod/Fem/femsolver/elmer/sifio.py
Labels: WB FEM

#8963 [FEM] rewrite velocity constraint
  src/Mod/Fem/Gui/Resources/ui/FlowVelocity.ui
  src/Mod/Fem/femexamples/equation_flow_elmer_2D.py
  src/Mod/Fem/femexamples/equation_flow_turbulent_elmer_2D.py
  src/Mod/Fem/femobjects/constraint_flowvelocity.py
  src/Mod/Fem/femsolver/elmer/equations/flow_writer.py
  src/Mod/Fem/femtaskpanels/task_constraint_flowvelocity.py
Labels: WB FEM

#8966 [FEM] fine-tune flow examples
  src/Mod/Fem/femexamples/equation_flow_elmer_2D.py
  src/Mod/Fem/femexamples/equation_flow_initial_elmer_2D.py
  src/Mod/Fem/femexamples/equation_flow_turbulent_elmer_2D.py
  src/Mod/Fem/femsolver/elmer/equations/nonlinear.py
Labels: WB FEM

#8967 Fix circles distance constraint for concentrics
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
Labels: WB Sketcher

#8956 Fix various whitespace issues
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
  src/Mod/TechDraw/TDTest/DrawViewDimensionTest.py
  src/Mod/TechDraw/TDTest/TechDrawTestUtilities.py
  src/Tools/ThumbnailProvider/Main.cpp
  src/Tools/ThumbnailProvider/ThumbnailProvider.cpp
Labels: WB FEM, WB TechDraw

#8972 [Sketch] Constraints.cpp: formatting fixes
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
Labels: WB Sketcher

#8785 Toponaming: Added MappedName class
  src/App/CMakeLists.txt
  src/App/MappedName.cpp
  src/App/MappedName.h
  tests/src/App/CMakeLists.txt
  tests/src/App/MappedName.cpp
Labels: Core, Toponaming

#8957 FEM: [skip ci] fix grammar for console message
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
Labels: WB FEM

#8969 [App] Minor improvment to error handling for...
  src/App/PropertyPythonObject.cpp
Labels: Core

#8984 [FEM] fixes for deformation equation
  src/Mod/Fem/femsolver/elmer/equations/deformation.py
  src/Mod/Fem/femsolver/elmer/equations/deformation_writer.py
Labels: WB FEM

#8985 [FEM] several Elmer fixes
  src/Mod/Fem/femobjects/constraint_flowvelocity.py
  src/Mod/Fem/femsolver/elmer/equations/nonlinear.py
  src/Mod/Fem/femsolver/elmer/sifio.py
  src/Mod/Fem/femtaskpanels/task_constraint_flowvelocity.py
Labels: WB FEM

#8973 Issue 8968: Correct C++ DXF importer to get all of long MTEXT text
  src/Mod/Import/App/dxf/dxf.cpp
Labels: Format: DXF

#8987 Gui: issue #8939: timers are moved between non-QThreads
  src/Gui/Tree.cpp
Labels: Core

#8983 fix: use _WIN32 instead of WIN32
  src/Mod/Mesh/App/WildMagic4/Wm4System.cpp
Labels: WB Mesh

#8991 Migrate tabs to spaces in `src/Gui/3Dconnexion/*`
  src/Gui/3Dconnexion/GuiAbstractNativeEvent.h
  src/Gui/3Dconnexion/GuiNativeEventLinux.cpp
  src/Gui/3Dconnexion/GuiNativeEventLinux.h
  src/Gui/3Dconnexion/GuiNativeEventLinuxX11.cpp
  src/Gui/3Dconnexion/GuiNativeEventLinuxX11.h
  src/Gui/3Dconnexion/GuiNativeEventMac.cpp
  src/Gui/3Dconnexion/GuiNativeEventMac.h
  src/Gui/3Dconnexion/GuiNativeEventWin32.cpp
  src/Gui/3Dconnexion/GuiNativeEventWin32.h
  src/Gui/3Dconnexion/I3dMouseParams.h
Labels: Core

#8995 [FEM] use std::unique_ptr for all dialog objects
  src/Mod/Fem/Gui/DlgSettingsFemExportAbaqusImp.cpp
  src/Mod/Fem/Gui/DlgSettingsFemExportAbaqusImp.h
  src/Mod/Fem/Gui/DlgSettingsFemInOutVtkImp.cpp
  src/Mod/Fem/Gui/DlgSettingsFemInOutVtkImp.h
  src/Mod/Fem/Gui/TaskAnalysisInfo.cpp
  src/Mod/Fem/Gui/TaskAnalysisInfo.h
  src/Mod/Fem/Gui/TaskCreateNodeSet.cpp
  src/Mod/Fem/Gui/TaskCreateNodeSet.h
  src/Mod/Fem/Gui/TaskDriver.cpp
  src/Mod/Fem/Gui/TaskDriver.h
  src/Mod/Fem/Gui/TaskFemConstraintBearing.cpp
  src/Mod/Fem/Gui/TaskFemConstraintBearing.h
  src/Mod/Fem/Gui/TaskFemConstraintContact.cpp
  src/Mod/Fem/Gui/TaskFemConstraintContact.h
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.h
  src/Mod/Fem/Gui/TaskFemConstraintFixed.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFixed.h
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.h
  src/Mod/Fem/Gui/TaskFemConstraintForce.cpp
  src/Mod/Fem/Gui/TaskFemConstraintForce.h
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.h
  src/Mod/Fem/Gui/TaskFemConstraintInitialTemperature.cpp
  src/Mod/Fem/Gui/TaskFemConstraintInitialTemperature.h
  src/Mod/Fem/Gui/TaskFemConstraintPlaneRotation.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPlaneRotation.h
  src/Mod/Fem/Gui/TaskFemConstraintPressure.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPressure.h
  src/Mod/Fem/Gui/TaskFemConstraintSpring.cpp
  src/Mod/Fem/Gui/TaskFemConstraintSpring.h
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.h
  src/Mod/Fem/Gui/TaskFemConstraintTransform.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTransform.h
  src/Mod/Fem/Gui/TaskObjectName.cpp
  src/Mod/Fem/Gui/TaskObjectName.h
  src/Mod/Fem/Gui/TaskTetParameter.cpp
  src/Mod/Fem/Gui/TaskTetParameter.h
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.h
Labels: WB FEM

#8998 Fem: fix warning field 'dimension' will be initialized after field 'u…
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.cpp
Labels: WB FEM

#8993 [FEM] improve displacement constraint
  src/Mod/Fem/App/FemConstraint.h
  src/Mod/Fem/App/FemConstraintDisplacement.cpp
  src/Mod/Fem/App/FemConstraintDisplacement.h
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.h
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.ui
  src/Mod/Fem/femsolver/calculix/write_constraint_displacement.py
  src/Mod/Fem/femsolver/elmer/equations/deformation_writer.py
  src/Mod/Fem/femsolver/elmer/equations/elasticity_writer.py
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_prescribeddisplacement.inp
Labels: WB FEM

#9004 [FEM] add example file for deformation
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femexamples/equation_deformation_spring_elmer.py
  src/Mod/Fem/femexamples/manager.py
Labels: WB FEM

#8994 CI: introduce cleanup workflow
  .github/workflows/CI_cleanup.yml
Labels: :octocat:

#9003 Addon Manager: Fixes #9001, icon was string
  src/Mod/AddonManager/Addon.py
  src/Mod/AddonManager/addonmanager_workers_installation.py
Labels: Addon Manager

#9007 CI: update licencing texts
  .github/workflows/CI_cleanup.yml
  .github/workflows/CI_master.yml
  .github/workflows/actions/linux/build/action.yml
  .github/workflows/actions/linux/configure/action.yml
  .github/workflows/actions/linux/generateCacheKey/action.yml
  .github/workflows/actions/linux/install/action.yml
  .github/workflows/actions/runCPPTests/action.yml
  .github/workflows/actions/runPythonTests/action.yml
  .github/workflows/sub_buildUbuntu2004.yml
  .github/workflows/sub_buildUbuntu2204.yml
  .github/workflows/sub_lint.yml
  .github/workflows/sub_prepare.yml
  .github/workflows/sub_wrapup.yml
Labels: :octocat:

#8923 [Core] Create `ElementMap.h` and tests
  src/App/CMakeLists.txt
  src/App/ElementMap.h
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/App/TopoShapeOpCode.h
  tests/src/App/CMakeLists.txt
  tests/src/App/ElementMap.cpp
Labels: Core, Toponaming

#9010 Change file license to CC4.0
  src/Mod/Path/PathTests/test_filenaming.fcstd
  src/Mod/Path/PathTests/test_geomop.fcstd
  src/Mod/Path/PathTests/test_holes00.fcstd
  src/Mod/Path/Tools/Shape/ballend.fcstd
  src/Mod/Path/Tools/Shape/bullnose.fcstd
  src/Mod/Path/Tools/Shape/drill.fcstd
  src/Mod/Path/Tools/Shape/endmill.fcstd
  src/Mod/Path/Tools/Shape/thread-mill.fcstd
  src/Mod/Path/Tools/Shape/v-bit.fcstd
Labels: WB Path

#9013 [FEM] Elmer: group mechanical equations
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/Workbench.cpp
Labels: WB FEM

#9016 [FEM] remove unused code
  src/Mod/Fem/Gui/Command.cpp
Labels: WB FEM

#9015 [FEM] implement new object addition mode
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femcommands/manager.py
Labels: WB FEM

#9017 [FEM] don't add CCX solver by default for new analyses
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femsolver/settings.py
Labels: WB FEM

#9018 Addon Manager: Fix wiki macro icon cleanup
  src/Mod/AddonManager/addonmanager_macro.py
Labels: Addon Manager

#9020 [Gui] Application.cpp: fix too long lines
  src/Gui/Application.cpp
Labels: Core

#9019 [FEM] auto-activate Analyses
  src/Mod/Fem/Gui/ViewProviderAnalysis.cpp
Labels: WB FEM

#9022 [TD] GeometryMatcher.cpp: fix compiler warning
  src/Mod/TechDraw/App/GeometryMatcher.cpp
Labels: WB TechDraw

#9023 [FEM] implement further object addition mode
  src/Mod/Fem/Gui/ViewProviderAnalysis.cpp
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femcommands/manager.py
  src/Mod/Fem/femtools/femutils.py
Labels: WB FEM

#8999 Fem: Add option to select default solver when creating Analysis
  src/Mod/Fem/Gui/DlgSettingsFemGeneral.ui
  src/Mod/Fem/Gui/DlgSettingsFemGeneralImp.cpp
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femsolver/settings.py
Labels: WB FEM

#9029 [FEM] improve recently added addition method
  src/Mod/Fem/femcommands/manager.py
Labels: WB FEM

#9027 Gui: move built-in Python code of DlgProjectUtility to script file
  src/Ext/freecad/CMakeLists.txt
  src/Ext/freecad/project_utility.py
  src/Gui/DlgProjectUtility.cpp
  src/Gui/DlgProjectUtility.h
Labels: Core

#9033 Gui: fix some lint warnings
  src/Ext/freecad/project_utility.py
  src/Gui/DlgProjectUtility.cpp
Labels: Core

#9034 [FEM] fine-tune default solver setting
  src/Mod/Fem/Gui/DlgSettingsFemGeneralImp.cpp
Labels: WB FEM

#9036 Gui: fix failure of QMetaObject::connectSlotsByName
  src/Gui/DlgEditorImp.cpp
  src/Gui/DlgEditorImp.h
Labels: Core

#9035 [FEM] only show toolbar button for available solvers
  src/Mod/Fem/Gui/Workbench.cpp
Labels: WB FEM

#9025 [Sketcher] Fix segmentation fault in ViewProviderSketch::setEdit
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#9040 [FEM] Elmer: fix transient analyses
  src/Mod/Fem/femsolver/elmer/solver.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: WB FEM

#9041 [FEM] update transient analysis example file
  src/Mod/Fem/femexamples/equation_deformation_spring_elmer.py
Labels: WB FEM

#9039 Fem: Remove unnecessary type check for active analysis
  src/Mod/Fem/Gui/Command.cpp
Labels: WB FEM
