Repository FreeCAD/FreeCAD, pull requests merged in 2024-02, with the labels that each got.

#12215 Sketcher: Add check for handler's existence
  src/Mod/Sketcher/Gui/DrawSketchController.h
Labels: WB Sketcher

#11265 [Sketcher] Scale DSH : adds a tool to scale geometries.
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerRotate.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerScale.h
  src/Mod/Sketcher/Gui/Resources/Sketcher.qrc
  src/Mod/Sketcher/Gui/Resources/icons/pointers/Sketcher_Pointer_Create_Scale.svg
  src/Mod/Sketcher/Gui/Resources/icons/tools/Sketcher_Scale.svg
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Sketcher/Gui/Utils.h
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#12221 Github ci: fix moving libpack bin directory failure
  .github/workflows/sub_buildWindows.yml
Labels: :octocat:

#12214 Addon Manager: Add support for codeberg.org repos
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Addon Manager

#12223 SoDatumLabel: Add arrowheads to angles. And improve arrowhead rendering.
  src/Gui/SoDatumLabel.cpp
Labels: Core

#12210 Draft: preferences-drafttexts.ui fix some issues
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
Labels: WB Draft

#12226 Draft: Avoid draftToolBar.getDefaultColor outside DraftGui.py
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_groups.py
  src/Mod/Draft/draftguitools/gui_trackers.py
  src/Mod/Draft/draftmake/make_point.py
  src/Mod/Draft/draftutils/gui_utils.py
Labels: WB Draft

#12232 Draft: Draft_Point minor consistency update
  src/Mod/Draft/draftguitools/gui_points.py
Labels: WB Draft

#12230 Remove excessive output from Draft object creation and editing
  src/Mod/Draft/DraftVecUtils.py
  src/Mod/Draft/draftfunctions/downgrade.py
  src/Mod/Draft/draftfunctions/mirror.py
  src/Mod/Draft/draftfunctions/upgrade.py
  src/Mod/Draft/draftgeoutils/geo_arrays.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_edit_draft_objects.py
  src/Mod/Draft/draftguitools/gui_fillets.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_offset.py
  src/Mod/Draft/draftguitools/gui_orthoarray.py
  src/Mod/Draft/draftguitools/gui_polararray.py
  src/Mod/Draft/draftguitools/gui_trackers.py
  src/Mod/Draft/draftmake/make_arc_3points.py
  src/Mod/Draft/draftmake/make_circulararray.py
  src/Mod/Draft/draftmake/make_dimension.py
  src/Mod/Draft/draftmake/make_fillet.py
  src/Mod/Draft/draftmake/make_label.py
  src/Mod/Draft/draftmake/make_layer.py
  src/Mod/Draft/draftmake/make_orthoarray.py
  src/Mod/Draft/draftmake/make_patharray.py
  src/Mod/Draft/draftmake/make_pointarray.py
  src/Mod/Draft/draftmake/make_polararray.py
  src/Mod/Draft/draftmake/make_text.py
  src/Mod/Draft/draftobjects/fillet.py
  src/Mod/Draft/draftobjects/patharray.py
  src/Mod/Draft/drafttaskpanels/task_circulararray.py
  src/Mod/Draft/drafttaskpanels/task_orthoarray.py
  src/Mod/Draft/drafttaskpanels/task_polararray.py
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
  src/Mod/Draft/draftutils/groups.py
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_draft_annotation.py
  src/Mod/Draft/draftviewproviders/view_layer.py
  src/Mod/Draft/draftviewproviders/view_wire.py
  src/Mod/Draft/importDXF.py
  src/Mod/Draft/importSVG.py
Labels: WB Draft

#12234 Draft: Draft_Arc_3Points minor consistency update
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftmake/make_arc_3points.py
Labels: WB Draft

#12242 Draft: Fix Draft_Wire conversion function
  src/Mod/Draft/draftguitools/gui_lines.py
Labels: WB Draft

#12243 App: fix PropertyPythonObject persistence backward compatibility
  src/App/PropertyPythonObject.cpp
Labels: Core

#12251 Draft: Fix messages for Draft_Fillet
  src/Mod/Draft/draftguitools/gui_fillets.py
  src/Mod/Draft/draftmake/make_fillet.py
  src/Mod/Draft/draftobjects/fillet.py
Labels: WB Draft

#12249 Ensure that resetElementMap results in an element map existing, unless overridden
  src/App/ComplexGeoData.h
  tests/src/App/ComplexGeoData.cpp
Labels: Core

#12229 Transfer in Geometry.x changes from RT branch
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry.h
  src/Mod/Part/App/GeometryExtension.cpp
  src/Mod/Part/App/GeometryExtension.h
Labels: WB Part

#12250 Draft: Fix messages that only worked for objects supplied as strings
  src/Mod/Draft/draftmake/make_circulararray.py
  src/Mod/Draft/draftmake/make_dimension.py
  src/Mod/Draft/draftmake/make_label.py
  src/Mod/Draft/draftmake/make_orthoarray.py
  src/Mod/Draft/draftmake/make_patharray.py
  src/Mod/Draft/draftmake/make_pointarray.py
  src/Mod/Draft/draftmake/make_polararray.py
Labels: WB Draft

#12269 [Arch] [Draft] Add guard for RootNode specific child
  src/Mod/Arch/ArchProject.py
  src/Mod/Arch/ArchSite.py
  src/Mod/Draft/draftguitools/gui_subelements.py
Labels: WB Arch, WB Draft

#12268 Fix MEFISTO removal
  src/Mod/Fem/App/HypothesisPy.cpp
Labels: WB FEM

#12237 Toponaming: Transfer in makeElementRefine
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Part/App/TopoShapeMapper.cpp
  src/Mod/Part/App/TopoShapeMapper.h
  src/Mod/Part/App/modelRefine.h
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeMakeElementRefine.cpp
Labels: WB Part

#12295 Toponaming: transfer in FeaturePartBoolean
  src/Mod/Part/App/FeaturePartBoolean.cpp
  src/Mod/Part/App/FeaturePartCommon.cpp
  tests/src/Mod/Part/App/FeaturePartBoolean.cpp
  tests/src/Mod/Part/App/FeaturePartCommon.cpp
Labels: WB Part

#11853 [Sketcher] General Tangency with B-splines (re-do)
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/Sketch.h
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.h
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Sketcher/App/planegcs/GCS.h
  src/Mod/Sketcher/App/planegcs/Geo.cpp
  src/Mod/Sketcher/App/planegcs/Geo.h
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  tests/src/Mod/Sketcher/App/planegcs/CMakeLists.txt
  tests/src/Mod/Sketcher/App/planegcs/Constraints.cpp
Labels: WB Sketcher

#12289 Fem: Fix restoring old Tie constraint and add support for cyclic symmetry - fixes #12155
  src/Mod/Fem/femobjects/base_fempythonobject.py
  src/Mod/Fem/femobjects/constraint_tie.py
  src/Mod/Fem/femsolver/calculix/write_constraint_tie.py
Labels: WB FEM

#12307 Addon Manager: Fix signals in connection check
  src/Mod/AddonManager/addonmanager_connection_checker.py
  src/Mod/AddonManager/addonmanager_workers_utility.py
Labels: Addon Manager

#12189 Toponaming makeElementWire
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Part/App/TopoShapeMapper.h
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12310 Fixed access to Addon::Metadat::Url attributes
  src/Mod/AddonManager/addonmanager_devmode_metadata_checker.py
Labels: Addon Manager

#12312 Addon Manager: Correct connection check (Part 1)
  src/Mod/AddonManager/addonmanager_workers_utility.py
Labels: Addon Manager

#12315 Addon Manager: Correct usage of QByteArray
  src/Mod/AddonManager/addonmanager_workers_utility.py
Labels: Addon Manager

#12280 Draft: Draft_Edit: restore Relative checkbox
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: WB Draft, Backport

#12292 Draft: importDXF.py: make_bezcurve args should be lowercase
  src/Mod/Draft/importDXF.py
Labels: WB Draft, Backport

#12325 Draft: ShapeString improve stick font detection and fix fuse error
  src/Mod/Draft/draftobjects/shapestring.py
Labels: WB Draft

#12086 Toponaming: makeElementBoolean
  src/Mod/Part/App/OpenCascadeAll.h
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12337 Addon Manager: Use the installed macro icon
  src/Mod/AddonManager/install_to_toolbar.py
Labels: Addon Manager

#12342 [TechDraw] Add Owner property to Symbols
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawView.h
  src/Mod/TechDraw/App/DrawViewSymbol.cpp
  src/Mod/TechDraw/App/DrawViewSymbol.h
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/Geometry.h
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIView.h
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.cpp
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.h
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.h
  src/Mod/TechDraw/Gui/ViewProviderLeader.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderSymbol.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
Labels: WB TechDraw

#12344 Arch: Arch_Window fix clone recompute issue
  src/Mod/Arch/ArchWindow.py
Labels: WB Arch

#12329 Arch: importIFC fix clone placement
  src/Mod/Arch/importIFC.py
Labels: WB Arch, Backport todo

#12032 Update sub_buildMacOSCondaIntel.yml
  .github/workflows/sub_buildMacOSCondaApple.yml
  .github/workflows/sub_buildMacOSCondaIntel.yml
  .github/workflows/sub_buildUbuntu2004.yml
  .github/workflows/sub_buildUbuntu2204Conda.yml
  .github/workflows/sub_buildWindowsConda.yml
  .github/workflows/sub_lint.yml
Labels: :octocat:

#12092 Fix warning in DlgMacroExecute.ui
  src/Gui/DlgMacroExecute.ui
Labels: Core

#12104 Gui: Mouse navigation fixes
  src/Gui/BlenderNavigationStyle.cpp
  src/Gui/CADNavigationStyle.cpp
  src/Gui/InventorNavigationStyle.cpp
  src/Gui/MayaGestureNavigationStyle.cpp
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/OpenCascadeNavigationStyle.cpp
  src/Gui/OpenSCADNavigationStyle.cpp
  src/Gui/RevitNavigationStyle.cpp
  src/Gui/TinkerCADNavigationStyle.cpp
  src/Gui/TouchpadNavigationStyle.cpp
Labels: Core

#12161 Improvements to Sketcher context menu
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: UI/UX, WB Sketcher

#12174 Gui: Add ability to set coordinate system axis letter color
  src/Gui/CornerCrossLetters.h
  src/Gui/PreferencePages/DlgSettings3DView.ui
  src/Gui/PreferencePages/DlgSettings3DViewImp.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/View3DSettings.cpp
Labels: Core

#12181 Dim the Navigation Cube when not active
  src/Gui/NaviCube.cpp
  src/Gui/NaviCube.h
  src/Gui/PreferencePackTemplates/View.cfg
  src/Gui/PreferencePages/DlgSettingsNavigation.cpp
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
  src/Gui/View3DSettings.cpp
Labels: Core

#12192 removed unused example
  src/Gui/CMakeLists.txt
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventorExamples.cpp
  src/Gui/View3DInventorExamples.h
Labels: Core

#12200 [Sketcher] Constraint Parallel : ignore selected points
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#12218 Improve visual of LCS in 3D window (ViewProviderDatumCS.cpp)
  src/Mod/PartDesign/Gui/ViewProviderDatumCS.cpp
Labels: WB PartDesign

#12219 Part & PartDesign Cone: allow equal radii
  src/Mod/Part/App/PrimitiveFeature.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/Gui/TaskPrimitiveParameters.cpp
Labels: WB PartDesign

#12220 Fem: Prevent selection of partially attached object - fixes #12163
  src/Mod/Fem/Gui/ViewProviderAnalysis.cpp
  src/Mod/Fem/Gui/ViewProviderAnalysis.h
Labels: WB FEM

#12236 Resolve #12235: labels in `Mod/Part/Gui/TaskAttacher.ui`
  src/Mod/Part/Gui/TaskAttacher.ui
Labels: WB Part

#12263 Resolve #12248: Remove redundant and non-functional selection checkbox preference
  src/Gui/PreferencePages/DlgSettingsUI.cpp
  src/Gui/PreferencePages/DlgSettingsUI.h
  src/Gui/PreferencePages/DlgSettingsUI.py
Labels: Core

#12273 Fem: Enable "Stop CalculiX" button - fixes #11448
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
Labels: WB FEM

#12276 removed unused code
  src/Mod/Mesh/Gui/ViewProviderTransformDemolding.cpp
Labels: WB Mesh

#12282 Avoid overriding ImagePlane size during import
  src/Gui/ViewProviderImagePlane.cpp
Labels: Core

#12283 Mod: fix several compiler warnings:
  src/Mod/Material/Gui/Array2D.cpp
  src/Mod/Material/Gui/ListDelegate.h
  src/Mod/Material/Gui/MaterialDelegate.cpp
  src/Mod/Material/Gui/MaterialsEditor.cpp
  src/Mod/Part/App/FaceMakerBullseye.h
  src/Mod/Part/App/Geometry.cpp
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/Robot/Gui/ViewProviderTrajectory.cpp
  src/Mod/Sketcher/App/PythonConverter.cpp
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.ui
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB PartDesign, WB Part, WB Sketcher

#12284 Mesh: fixes #11985: 3MF export to Prusa with clone = open edge warnin…
  src/Mod/MeshPart/App/Mesher.cpp
  src/Mod/Part/App/TopoShape.cpp
Labels: WB Part, WB MeshPart

#12285 Gui: Give property editors an object name
  src/Gui/PropertyView.cpp
Labels: Core

#12294 Gui: fixes #12043: Treeview doesn't work if not in combo view mode
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
Labels: Core

#12299 Fix icon order in constraint menu
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#12304 Clear projected shape when changing extrude height
  src/Mod/Part/Gui/DlgProjectionOnSurface.cpp
  src/Mod/Part/Gui/DlgProjectionOnSurface.h
Labels: WB Part

#12247 Stop tests from leaving files around after execution
  src/Mod/AddonManager/AddonManagerTest/app/test_utilities.py
  src/Mod/Path/PathTests/TestCentroidPost.py
  src/Mod/Path/PathTests/TestGrblPost.py
  src/Mod/Path/PathTests/TestLinuxCNCPost.py
  src/Mod/Path/PathTests/TestMach3Mach4Post.py
  src/Mod/Path/PathTests/TestRefactoredCentroidPost.py
  src/Mod/Path/PathTests/TestRefactoredGrblPost.py
  src/Mod/Path/PathTests/TestRefactoredLinuxCNCPost.py
  src/Mod/Path/PathTests/TestRefactoredMach3Mach4Post.py
  src/Mod/Path/PathTests/TestRefactoredTestPost.py
  src/Mod/Path/PathTests/TestRefactoredTestPostGCodes.py
  src/Mod/Path/PathTests/TestRefactoredTestPostMCodes.py
Labels: WB Path, Addon Manager

#12314 Gui: set minimum width of preferences dialog to avoid to truncate or …
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/DlgPreferencesImp.h
Labels: Core

#12347 Base: escape quotes in Quantity::getSafeUserString
  src/Base/Quantity.cpp
  tests/src/Base/Quantity.cpp
Labels: Core

#11267 [Sketcher] Translate DSH : replacement for rectangular array / move / copy / clone
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/DrawSketchControllableHandler.h
  src/Mod/Sketcher/Gui/DrawSketchController.h
  src/Mod/Sketcher/Gui/DrawSketchDefaultWidgetController.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRotate.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTranslate.h
  src/Mod/Sketcher/Gui/Resources/Sketcher.qrc
  src/Mod/Sketcher/Gui/Resources/icons/pointers/Sketcher_Pointer_Create_Translate.svg
  src/Mod/Sketcher/Gui/Resources/icons/tools/Sketcher_Translate.svg
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.cpp
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.h
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#12227 Arch: Arch_Window round values in getSolidSignature
  src/Mod/Arch/ArchWindow.py
Labels: WB Arch, Backport todo

#12346 Arch: add subvolume property for ArchRoof (for roof based on solid shape)
  src/Mod/Arch/ArchRoof.py
Labels: WB Arch

#12256 Release GIL while meshing in MeshPart.meshFromShape (2nd proposal)
  src/Mod/MeshPart/App/AppMeshPartPy.cpp
Labels: WB MeshPart

#12364 Fixed invalid vector in distance calculation
  src/Mod/Draft/draftgeoutils/circles.py
Labels: WB Draft

#12366 Toponaming/Part: Move getSubTopoShape
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12385 PD: handle null pointer in Feature::getBaseShape
  src/Mod/PartDesign/App/Feature.cpp
  tests/src/Base/Vector3D.cpp
Labels: WB PartDesign

#12349 PD: Exclude the grid group from bbox computation
  src/Mod/Part/Gui/ViewProviderGridExtension.cpp
Labels: WB Part

#12328 PD: Implement 1D intersection for attachments
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/Gui/AttacherTexts.cpp
Labels: WB Part

#12407 Assembly: Add ${COIN3D_INCLUDE_DIRS} to CMakeLists.txt
  src/Mod/Assembly/Gui/CMakeLists.txt
Labels: WB Assembly

#12405 Toponaming/Part: Transfer in MakeElementDraft
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/PartTestHelpers.cpp
  tests/src/Mod/Part/App/PartTestHelpers.h
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12367 Issue Metrics Workflow
  .github/workflows/issue-metrics.yml
Labels: :octocat:

#12414 Toponaming/Part: Add searchSubShape as findSubShapesWithSharedVertex
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12422 Assembly: Add ${PYTHON_INCLUDE_DIRS} to CMakeLists.txt
  src/Mod/Assembly/Gui/CMakeLists.txt
Labels: WB Assembly

#12428 [GitHub] Add Assembly option to Problem Issue Template
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
Labels: :octocat:

#12429 Draft: gui_line_add_delete.py is obsolete
  src/Mod/Draft/draftguitools/gui_line_add_delete.py
Labels: WB Draft

#12430 Draft: remove reapply_diffuse_color workaround step 2
  src/Mod/Draft/draftmake/make_array.py
  src/Mod/Draft/draftmake/make_clone.py
  src/Mod/Draft/draftmake/make_patharray.py
  src/Mod/Draft/draftmake/make_pointarray.py
Labels: WB Draft

#12417 Toponaming/Part: transfer in linearize
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12431 Toponaming/Part: make element ruled surface
  src/Mod/Part/App/PartFeatures.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12443 Draft: fix wrong selection after commands (improved)
  src/Mod/Draft/draftfunctions/offset.py
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_circulararray.py
  src/Mod/Draft/draftguitools/gui_clone.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_downgrade.py
  src/Mod/Draft/draftguitools/gui_draft2sketch.py
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_facebinders.py
  src/Mod/Draft/draftguitools/gui_join.py
  src/Mod/Draft/draftguitools/gui_labels.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_mirror.py
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_offset.py
  src/Mod/Draft/draftguitools/gui_orthoarray.py
  src/Mod/Draft/draftguitools/gui_polararray.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftguitools/gui_shape2dview.py
  src/Mod/Draft/draftguitools/gui_shapestrings.py
  src/Mod/Draft/draftguitools/gui_splines.py
  src/Mod/Draft/draftguitools/gui_split.py
  src/Mod/Draft/draftguitools/gui_stretch.py
  src/Mod/Draft/draftguitools/gui_subelements.py
  src/Mod/Draft/draftguitools/gui_texts.py
  src/Mod/Draft/draftguitools/gui_trimex.py
  src/Mod/Draft/draftguitools/gui_upgrade.py
Labels: WB Draft

#12435 Toponaming/Part: make element loft
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/PartTestHelpers.cpp
  tests/src/Mod/Part/App/PartTestHelpers.h
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeMakeShape.cpp
Labels: WB Part

#12434 Fem: Run option in examples open and run analysis - fixes #11056
  src/Mod/Fem/femexamples/examplesgui.py
Labels: WB FEM

#12408 Gui: remove QListWidgetCustom
  src/Gui/CMakeLists.txt
  src/Gui/QListWidgetCustom.cpp
  src/Gui/QListWidgetCustom.h
Labels: Core

#12410 Gui: remove ProjectView
  src/Gui/CMakeLists.txt
  src/Gui/ComboView.h
  src/Gui/ProjectView.cpp
  src/Gui/ProjectView.h
Labels: Core

#12409 Gui: remove SoNavigationDragger
  src/Gui/CMakeLists.txt
  src/Gui/SoFCDB.cpp
  src/Gui/SoNavigationDragger.cpp
  src/Gui/SoNavigationDragger.h
  src/Gui/SoNavigationDraggerLayout.h
  src/Gui/SoNavigationDraggerLayout.iv
Labels: Core

#12460 Toponaming/Part: make element pipe shell
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeMakeShape.cpp
Labels: WB Part

#12472 [TD]fix Prefs Annotation tab
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotationImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotationImp.h
Labels: WB TechDraw

#12482 Toponaming/Part: get sub topo shape
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12380 [Material] Adjust default material appearance
  src/App/Material.cpp
  src/Mod/Material/Resources/Materials/Appearance/Default.FCMat
  src/Mod/Part/Gui/DlgSettingsObjectColor.ui
Labels: Core, WB Part

#12478 FEM new matrix solver types (PaStiX and Pardiso)
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
  src/Mod/Fem/femsolver/calculix/solver.py
  src/Mod/Fem/femsolver/calculix/write_step_equation.py
Labels: WB FEM

#12488 [Material] missed files to change default shape color
  src/Gui/PreferencePackTemplates/Window_Colors.cfg
  src/Gui/PreferencePacks/Classic/Classic.cfg
  src/Gui/PreferencePacks/Dark behave/Dark behave.cfg
  src/Gui/PreferencePacks/Dark contrast/Dark contrast.cfg
  src/Gui/PreferencePacks/Dark modern/Dark modern.cfg
  src/Gui/PreferencePacks/Dark/Dark.cfg
  src/Gui/PreferencePacks/Darker/Darker.cfg
  src/Gui/PreferencePacks/Light modern/Light modern.cfg
  src/Gui/PreferencePacks/Light/Light.cfg
  src/Gui/PreferencePacks/ProDark/ProDark.cfg
  src/Gui/ViewProviderGeometryObject.cpp
Labels: Core

#12483 Toponaming/Part make element thick solid
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12499 Fem: Prevent stop CalculiX immediately - fixes #12448
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
Labels: WB FEM

#12498 Toponaming/Part: Remove makeElementShape and cleanup opcode code
  src/Mod/Part/App/FeaturePartBoolean.cpp
  src/Mod/Part/App/FeaturePartBoolean.h
  src/Mod/Part/App/FeaturePartCommon.cpp
  src/Mod/Part/App/FeaturePartCommon.h
  src/Mod/Part/App/FeaturePartCut.cpp
  src/Mod/Part/App/FeaturePartCut.h
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/Part/App/FeaturePartFuse.h
  src/Mod/Part/App/FeaturePartSection.cpp
  src/Mod/Part/App/FeaturePartSection.h
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeMakeShape.cpp
Labels: WB Part

#12497 Draft: update DefaultShapeColor in params.py to match new default
  src/Mod/Draft/draftutils/params.py
Labels: WB Draft

#12088 Gui: Consolidate PythonWrapper
  cMake/FreeCAD_Helpers/SetupShibokenAndPyside.cmake
  src/Gui/PythonWrapper.cpp
  src/Gui/PythonWrapper.h
Labels: Core

#12426 [Path] Bugfix uccnc_post.py
  src/Mod/Path/Path/Post/scripts/uccnc_post.py
Labels: WB Path

#12225 Resolve #11965 (B) no proper execute() for cross-property references
  src/App/Expression.cpp
  src/App/ExpressionParser.h
  tests/src/App/CMakeLists.txt
  tests/src/App/ExpressionParser.cpp
  tests/src/App/PropertyExpressionEngine.cpp
Labels: Core

#12228 Fem: Use expression binding with the constraint tie Tolerance property
  src/Mod/Fem/femtaskpanels/task_constraint_tie.py
Labels: WB FEM

#12305 Toponaming/Part FeaturePartFuse
  src/Mod/Part/App/FeaturePartFuse.cpp
Labels: WB Part

#12306 Gui: Fix disappearing element handles in sketcher
  src/Gui/View3DInventorViewer.cpp
Labels: Core

#12309 Addon manager: Refactor GUI area
  src/Mod/AddonManager/Addon.py
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/AddonManager.ui
  src/Mod/AddonManager/AddonManagerOptions.ui
  src/Mod/AddonManager/AddonManagerTest/app/test_metadata.py
  src/Mod/AddonManager/AddonManagerTest/data/combination.xml
  src/Mod/AddonManager/AddonManagerTest/data/depends_on_all_workbenches.xml
  src/Mod/AddonManager/AddonManagerTest/data/good_package.xml
  src/Mod/AddonManager/AddonManagerTest/data/macro_only.xml
  src/Mod/AddonManager/AddonManagerTest/data/prefpack_only.xml
  src/Mod/AddonManager/AddonManagerTest/data/test_version_detection.xml
  src/Mod/AddonManager/AddonManagerTest/data/workbench_only.xml
  src/Mod/AddonManager/AddonStats.py
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/NetworkManager.py
  src/Mod/AddonManager/Resources/AddonManager.qrc
  src/Mod/AddonManager/Resources/icons/composite_view.svg
  src/Mod/AddonManager/Resources/licenses/CC0-1.0.txt
  src/Mod/AddonManager/Resources/licenses/GPL-2.0-or-later.txt
  src/Mod/AddonManager/Resources/licenses/GPL-3.0-or-later.txt
  src/Mod/AddonManager/Resources/licenses/LGPL-2.1-or-later.txt
  src/Mod/AddonManager/Resources/licenses/LGPL-3.0-or-later.txt
  src/Mod/AddonManager/Resources/licenses/spdx.json
  src/Mod/AddonManager/TODO.md
  src/Mod/AddonManager/Widgets/CMakeLists.txt
  src/Mod/AddonManager/Widgets/__init__.py
  src/Mod/AddonManager/Widgets/addonmanager_colors.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_addon_buttons.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_filter_selector.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_global_buttons.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_package_details_view.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_progress_bar.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_readme_browser.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_search.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_view_control_bar.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_view_selector.py
  src/Mod/AddonManager/__init__.py
  src/Mod/AddonManager/addonmanager_devmode_license_selector.py
  src/Mod/AddonManager/addonmanager_licenses.py
  src/Mod/AddonManager/addonmanager_macro.py
  src/Mod/AddonManager/addonmanager_macro_parser.py
  src/Mod/AddonManager/addonmanager_metadata.py
  src/Mod/AddonManager/addonmanager_package_details_controller.py
  src/Mod/AddonManager/addonmanager_preferences_defaults.json
  src/Mod/AddonManager/addonmanager_readme_controller.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/addonmanager_workers_installation.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
  src/Mod/AddonManager/addonmanager_workers_utility.py
  src/Mod/AddonManager/compact_view.py
  src/Mod/AddonManager/composite_view.py
  src/Mod/AddonManager/package_details.py
  src/Mod/AddonManager/package_list.py
  src/__init__.py
Labels: Addon Manager

#12352 [Arch] Always use a default IFC type
  src/Mod/Arch/exportIFC.py
Labels: WB Arch

#12358 [Sketcher] add translate and scale commands to context menu
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#12392 Update icons for Sketcher_ToggleConstruction & Sketcher_ToggleConstru…
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_ToggleConstruction.svg
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_ToggleConstruction_Constr.svg
Labels: WB Sketcher

#12512 [Sketcher] Fix typo in polygon task dialog
  src/Mod/Sketcher/Gui/SketcherRegularPolygonDialog.ui
Labels: WB Sketcher

#12485 Base: Add ASCIIInputStream
  src/App/StringHasher.cpp
  src/Base/Stream.cpp
  src/Base/Stream.h
Labels: Core

#12515 Part: fix -Wextra-semi
  src/Mod/Part/App/FaceMaker.h
Labels: WB Part

#12516 Base: Rename ASCIIInputStream to TextInputStream
  src/App/StringHasher.cpp
  src/Base/Stream.cpp
  src/Base/Stream.h
Labels: Core

#12135 [Core] Managing Custom Data Elements: VarSet
  src/App/Application.cpp
  src/App/CMakeLists.txt
  src/App/VarSet.cpp
  src/App/VarSet.h
  src/Gui/Application.cpp
  src/Gui/CMakeLists.txt
  src/Gui/Icons/VarSet.svg
  src/Gui/Icons/resource.qrc
  src/Gui/ViewProviderVarSet.cpp
  src/Gui/ViewProviderVarSet.h
  tests/src/App/CMakeLists.txt
  tests/src/App/VarSet.cpp
Labels: Core

#12528 Toponaming/Part: Bring in = operator, resetMap and flushMap overrides, and fix affecte…
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/PartTestHelpers.cpp
  tests/src/Mod/Part/App/PartTestHelpers.h
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeMakeShape.cpp
  tests/src/Mod/Part/App/TopoShapeMakeShapeWithElementMap.cpp
Labels: WB Part, Toponaming

#12549 Toponaming/Part make element fillet
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part, Toponaming

#12543 Addon Manager: Fix metadata license fetch and display
  src/Mod/AddonManager/AddonManagerOptions.ui
  src/Mod/AddonManager/NetworkManager.py
  src/Mod/AddonManager/package_list.py
Labels: Addon Manager

#12541 App: Add PreCompiled.h to Varset cpp file
  src/App/VarSet.cpp
Labels: Core

#12513 FEM Beam reduced integration
  src/Mod/Fem/femmesh/meshtools.py
  src/Mod/Fem/femsolver/calculix/solver.py
  src/Mod/Fem/femsolver/calculix/write_femelement_geometry.py
  src/Mod/Fem/femsolver/calculix/write_mesh.py
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_circle.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_pipe.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_rect.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg2.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg3.inp
Labels: WB FEM

#12523 Toponaming/Part: make element transform, _transform and gtransform
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeMakeElementRefine.cpp
Labels: WB Part

#12525 Toponaming/Part: make element solid
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part, Toponaming

#12576 Gui: PythonWrapper: Do not steal reference (fixes #12542)
  src/Gui/PythonWrapper.cpp
Labels: Core

#12574 Addon Manager: Fix ZIP-based update
  src/Mod/AddonManager/AddonManagerTest/app/test_installer.py
  src/Mod/AddonManager/addonmanager_installer.py
Labels: Backport todo, Addon Manager

#12437 Fem: Enable checkbox for references mesh groups - fixes #10071
  src/Mod/Fem/Gui/DlgSettingsFemGeneral.ui
  src/Mod/Fem/femmesh/meshtools.py
Labels: WB FEM

#12593 Fixes #12586: FEM requires OpenMP 5.0 (e.g. GCC >= 9)
  src/Mod/Fem/App/FemMesh.cpp
Labels: WB FEM

#12501 Gui: Improve editors PropertyMaterialItem and PropertyMaterialListItem
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Gui/propertyeditor/PropertyItem.h
Labels: Core

#12548 Sketcher: expose the LabelDistance and LabelPosition members of Const…
  src/Mod/Sketcher/App/ConstraintPy.xml
  src/Mod/Sketcher/App/ConstraintPyImp.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/App/SketchObjectPy.xml
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
Labels: WB Sketcher

#12567 MSVC: fix compiler warnings
  src/Main/FreeCADGuiPy.cpp
  src/Mod/Import/App/dxf/dxf.cpp
  src/Mod/Material/Gui/ModelSelect.cpp
  src/Mod/Part/Gui/TaskAttacher.ui
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/Sketcher/App/planegcs/Geo.h
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
Labels: WB TechDraw, WB PartDesign, WB Part, WB Sketcher

#12554 Sketcher: fixes #12343: Undo/Redo for sketcher constraints doesn't wo…
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: WB Sketcher

#12553 Toponaming: Part: make element slice mirror
  src/Mod/Part/App/CrossSection.cpp
  src/Mod/Part/App/CrossSection.h
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/PartTestHelpers.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12004 switch github library from pat-s to actions repo
  .github/workflows/sub_buildMacOSCondaApple.yml
  .github/workflows/sub_buildMacOSCondaIntel.yml
  .github/workflows/sub_buildUbuntu2004.yml
  .github/workflows/sub_buildUbuntu2204Conda.yml
  .github/workflows/sub_buildWindows.yml
  .github/workflows/sub_buildWindowsConda.yml
Labels: :octocat:

#11373 Core, wb techdraw, wb part :Removed deprecated func
  src/Gui/MouseSelection.cpp
  src/Gui/MouseSelection.h
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/View3DInventorViewer.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/Gui/QGIPrimPath.cpp
  src/Mod/TechDraw/Gui/QGIPrimPath.h
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewSection.cpp
Labels: Core, WB TechDraw, WB Part

#12159 Base: Fix #12061
  src/Base/Interpreter.cpp
Labels: Core

#12207 PartDesign_Helix: use computed wires
  src/Mod/PartDesign/App/FeatureHelix.cpp
Labels: WB PartDesign

#12293 Tree: Enable sorting when drag&drop.
  src/Gui/Tree.cpp
  src/Gui/Tree.h
  src/Gui/ViewProvider.h
  src/Gui/ViewProviderDocumentObject.cpp
  src/Gui/ViewProviderDocumentObject.h
  src/Gui/ViewProviderDocumentObjectGroup.h
  src/Gui/ViewProviderGroupExtension.cpp
  src/Gui/ViewProviderPart.h
Labels: Core, WB Part

#12298 Add an icon to toggle the visibility of items in the tree view
  src/Gui/Icons/TreeItemInvisible.svg
  src/Gui/Icons/TreeItemVisible.svg
  src/Gui/Icons/resource.qrc
  src/Gui/PreferencePages/DlgSettingsUI.cpp
  src/Gui/PreferencePages/DlgSettingsUI.h
  src/Gui/PreferencePages/DlgSettingsUI.py
  src/Gui/Tree.cpp
  src/Gui/Tree.h
  src/Gui/TreeParams.cpp
  src/Gui/TreeParams.h
  src/Gui/TreeParams.py
Labels: Core

#12439 PD: Make datum points highlightable/selectable
  src/Mod/PartDesign/Gui/ViewProviderDatumPoint.cpp
Labels: WB PartDesign

#12493 FEM Beam Shell Result Output 3D true by default
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
  src/Mod/Fem/femsolver/calculix/solver.py
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_circle.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_pipe.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_rect.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad4.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad8.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg2.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria6.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fivefaces.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_edgeforces.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_nodeforces.inp
Labels: WB FEM

#12585 Gui: Fix selection in Blender, CAD and Revit style
  src/Gui/BlenderNavigationStyle.cpp
  src/Gui/CADNavigationStyle.cpp
  src/Gui/RevitNavigationStyle.cpp
Labels: Core

#12588 Gui: refactor Application::runApplication
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Gui/CMakeLists.txt
  src/Gui/StartupProcess.cpp
  src/Gui/StartupProcess.h
  src/Main/FreeCADGuiPy.cpp
Labels: Core

#12600 Addon Manager: Fix calculation in Qt6
  src/Mod/AddonManager/Widgets/addonmanager_widget_filter_selector.py
Labels: Addon Manager

#12609 FEM Pipe beam section - clarifying the diameter type in the task window
  src/Mod/Fem/Gui/Resources/ui/ElementGeometry1D.ui
Labels: WB FEM

#12612 Fem: Create mesh for check type analysis in CalculiX - fixes #12503
  src/Mod/Fem/feminout/importCcxFrdResults.py
Labels: WB FEM

#12421 [TechDraw] Reimplement Rich Annotation parent linking
  src/Mod/TechDraw/App/DrawPage.cpp
  src/Mod/TechDraw/App/DrawRichAnno.h
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawView.h
  src/Mod/TechDraw/App/DrawViewSymbol.cpp
  src/Mod/TechDraw/App/DrawViewSymbol.h
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/QGSPage.h
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.h
  src/Mod/TechDraw/Gui/ViewProviderLeader.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderRichAnno.cpp
  src/Mod/TechDraw/Gui/ViewProviderSymbol.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
Labels: WB TechDraw

#12509 [TechDraw] Add new Insert Repetition Count command
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
  src/Mod/TechDraw/Gui/DlgTemplateField.cpp
  src/Mod/TechDraw/Gui/DlgTemplateField.h
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionInsertRepetition.svg
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: WB TechDraw

#12564 [Base] remove MemDebug
  src/Base/CMakeLists.txt
  src/Base/MemDebug.cpp
  src/Base/MemDebug.h
Labels: Core

#12626 Remove useless warning in Tree.cpp introduced by 12293
  src/Gui/Tree.cpp
Labels: Core

#12639 Fix ViewProviderSuppressibleExtension
  src/Gui/ViewProviderSuppressibleExtension.cpp
  src/Gui/ViewProviderSuppressibleExtension.h
Labels: Core

#12636 Tests: use the correct value as reference
  src/Mod/PartDesign/PartDesignTests/TestHelix.py
Labels: WB PartDesign

#12467 Change the calculation of the b parameter of the hyperbolic arc
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfHyperbola.h
Labels: WB Sketcher

#12351 [Sketcher] Line DSH Fixes #12322
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
Labels: WB Part, WB Sketcher

#12647 Addon Manager: Fix scroll distance on scrollbar click
  src/Mod/AddonManager/package_list.py
Labels: Addon Manager

#12650 Sketcher: improve GUI texts for rectangles
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
Labels: WB Sketcher

#12648 App: Remove unneeded forward declaration
  src/App/PropertyGeo.h
Labels: Core
