Repository FreeCAD/FreeCAD, pull requests merged in 2024-01, with the labels that each got.

#11851 [Path] Move Units Schema check from system level to document level
  src/Mod/Path/InitGui.py
  src/Mod/Path/Path/Main/Gui/JobDlg.py
Labels: WB Path

#11808 Fix typos
  src/Mod/Fem/femmesh/meshtools.py
  src/Mod/Import/App/dxf/dxf.cpp
  src/Mod/Show/mTempoVis.py
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotationImp.cpp
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionDrawCosmCircle.svg
  src/Mod/TechDraw/TechDrawTools/TDToolsUtil.py
Labels: WB FEM, WB TechDraw

#11869 [TD]fix positioning of secondary views
  src/Mod/TechDraw/Gui/QGIView.cpp
Labels: WB TechDraw

#11811 Gui: sWhatsThis for Std_MacroStepInto
  src/Gui/CommandMacro.cpp
Labels: Core

#11902 Draft: gui_snapper: setTrackers can be called if there is no 3D view
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: WB Draft

#11866 Gui: fix ignored default shape color
  src/Gui/ViewProviderGeometryObject.cpp
Labels: Core

#11854 Sketcher: fix one point distance
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: WB Sketcher

#11847 Gui: Allow narrower preferences dialog
  src/Gui/DlgPreferences.ui
Labels: Core

#11841 Right click context menu fixes
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/OpenSCADNavigationStyle.cpp
  src/Gui/TinkerCADNavigationStyle.cpp
Labels: Core, WB Sketcher

#11821 Sketcher: change tool description of rotate and polygon tool
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRotate.h
Labels: WB Sketcher

#11795 Adding version check
  cMake/FreeCAD_Helpers/SetupQt.cmake
  src/Mod/Material/App/MaterialConfigLoader.cpp
  src/Mod/Material/App/MaterialLoader.cpp
Labels: 3rd party: Qt 6

#11791 App: improve tooltip for ActiveObject
  src/App/DocumentPy.xml
Labels: Core

#11788 Fix Rotation constructor error msg
  src/Base/RotationPyImp.cpp
Labels: Core

#11805 Provide a default axis for polar patterns in multitransformation
  src/Mod/PartDesign/Gui/TaskMultiTransformParameters.cpp
Labels: WB PartDesign

#11849 Add placement command to context menu
  src/Gui/Workbench.cpp
  src/Mod/PartDesign/Gui/Workbench.cpp
Labels: Core, WB PartDesign

#11910 german ISO 7200 templates for TechDraw
  src/Mod/TechDraw/Templates/DE/A0_Landscape_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/DE/A1_Landscape_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/DE/A2_Landscape_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/DE/A3_Landscape_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/DE/A4_Landscape_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/DE/A4_Portrait_ISO7200_DE.svg
Labels: WB TechDraw

#11908 [TD]fix duplicate unscale of CosmeticVertex
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
Labels: WB TechDraw

#11716 Detect circular references in sketches, and add corresponding tests
  src/App/ObjectIdentifier.cpp
  src/Mod/Part/parttests/regression_tests.py
  src/Mod/Sketcher/SketcherTests/TestSketchExpression.py
Labels: Core, WB Part, WB Sketcher

#11786 [PartDesign] Sprocket fix bug with translated references
  src/Mod/PartDesign/SprocketFeature.py
Labels: WB PartDesign

#11928 Sketcher_dimension : Fixes ctrl-z crash
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#11901 Arch: Arch_Window: wrong value for Frame property
  src/Mod/Arch/ArchWindowPresets.py
Labels: WB Arch

#11870 Arch: Arch_Project avoid ghosts of objects in Group
  src/Mod/Arch/ArchProject.py
Labels: WB Arch

#11868 Arch: Arch_Window fix and improve handling of hosts
  src/Mod/Arch/ArchWindow.py
Labels: WB Arch

#11820 [ArchWall] Fix getExtrusionData() with DraftWire base problem
  src/Mod/Arch/ArchWall.py
Labels: WB Arch

#11792 Arch: Improve selection of cutting object for Arch_CutPlane
  src/Mod/Arch/ArchCutPlane.py
  src/Mod/Arch/InitGui.py
  src/Mod/Arch/Resources/Arch.qrc
  src/Mod/Arch/Resources/icons/Arch_CutLine.svg
Labels: WB Arch

#11598 Correct mistaken Helix patch; use MakePipe for frenet for speed; add tests
  .git-blame-ignore-revs
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/CMakeLists.txt
  src/Mod/PartDesign/PartDesignTests/TestHelix.py
  src/Mod/PartDesign/PartDesignTests/__init__.py
  src/Mod/PartDesign/TestPartDesignApp.py
Labels: WB PartDesign

#11750 Fix object path in active object when creating new body in App::Part
  src/Gui/ActiveObjectList.cpp
  src/Mod/PartDesign/Gui/CommandBody.cpp
Labels: Core, WB PartDesign

#11755 Remove code related to qtxmlpatterns
  package/fedora/freecad.spec
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/App/QDomNodeModel.cpp
  src/Mod/TechDraw/App/QDomNodeModel.h
  src/Mod/TechDraw/Gui/CMakeLists.txt
  tools/build/Docker/debian.sh
  tools/build/Docker/fedora.sh
  tools/build/Docker/ubuntu.sh
Labels: WB TechDraw

#11773 [PartDesign] Hole, ignore duplicate circle/curve centers
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: WB PartDesign

#11779 [Base/Units] Change strings' description
  src/Base/QuantityLexer.c
  src/Base/UnitsApi.cpp
  src/Base/UnitsSchema.h
  src/Base/UnitsSchemaImperial1.cpp
  src/Base/UnitsSchemaInternal.cpp
  src/Base/VectorPyImp.cpp
Labels: Core

#11840 Change the description of the default 'Toggle active object' command
  src/Gui/ViewProviderPart.cpp
  src/Gui/ViewProviderPart.h
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
  src/Mod/PartDesign/Gui/ViewProviderBody.h
Labels: Core, WB PartDesign

#11846 [TD]prevent fail during document restore (backport #11817)
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
Labels: WB TechDraw

#11855 Gui: Prohibit dragging using LMB in sketch mode for OpenSCAD style
  src/Gui/OpenSCADNavigationStyle.cpp
Labels: Core, WB OpenSCAD

#11856 Build: Fix visibility of fields in Reader.h to be compiled with GCC 13
  src/Base/Reader.h
Labels: Core

#11884 Sketcher: contextual right click context menu based on selection
  src/Doc/CONTRIBUTORS
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#11927 Path: fix wire midpoint calculation
  src/Mod/Path/Path/Op/Profile.py
Labels: WB Path

#11909 Add support for OCCT 7.8.0
  cMake/FindOCC.cmake
  src/3rdParty/salomesmesh/inc/SMESHDS_DataMapOfShape.hxx
  src/3rdParty/salomesmesh/inc/SMESH_MeshVSLink.hxx
  src/3rdParty/salomesmesh/inc/SMESH_SMESH.hxx
  src/3rdParty/salomesmesh/inc/SMESH_SequenceOfNode.hxx
  src/3rdParty/salomesmesh/inc/SMESH_TypeDefs.hxx
  src/3rdParty/salomesmesh/src/DriverSTL/DriverSTL_R_SMDS_Mesh.cpp
  src/3rdParty/salomesmesh/src/StdMeshers/StdMeshers_Quadrangle_2D.cpp
  src/Mod/Fem/Gui/TaskCreateNodeSet.cpp
  src/Mod/Import/App/ImportOCAF.cpp
  src/Mod/Import/App/ImportOCAF2.h
  src/Mod/Import/App/Tools.h
  src/Mod/MeshPart/App/CurveProjector.h
  src/Mod/Part/App/ImportStep.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/Part/Gui/AppPartGui.cpp
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/CommandSimple.cpp
  src/Mod/Part/Gui/CrossSections.cpp
  src/Mod/Part/Gui/ViewProvider2DObject.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/Part/Gui/ViewProviderExt.h
  src/Mod/Part/Gui/ViewProviderMirror.cpp
  src/Mod/Part/Gui/ViewProviderPython.cpp
  src/Mod/Part/Gui/ViewProviderReference.h
  src/Mod/Path/App/Voronoi.cpp
  src/Mod/Path/Gui/PreCompiled.h
  src/Mod/Robot/Gui/PreCompiled.h
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
Labels: WB FEM, WB Path, WB Part, WB Sketcher, WB MeshPart

#11931 Property editor: Hide header and enable resizing on all cells.
  src/Gui/propertyeditor/PropertyEditor.cpp
  src/Gui/propertyeditor/PropertyEditor.h
Labels: Core

#11601 PD: Add test for helix
  src/Mod/PartDesign/CMakeLists.txt
  src/Mod/PartDesign/PartDesignTests/TestHelix.py
  src/Mod/PartDesign/TestPartDesignApp.py
Labels: WB PartDesign

#11946 Draft: remove reapply_diffuse_color workaround
  src/Mod/Draft/draftmake/make_array.py
  src/Mod/Draft/draftmake/make_clone.py
  src/Mod/Draft/draftmake/make_patharray.py
  src/Mod/Draft/draftmake/make_pointarray.py
Labels: WB Draft

#11938 Move the "Treat ellipses...as polylines" to DXF *output* options group
  src/Mod/Draft/Resources/ui/preferences-dxf.ui
Labels: WB Draft

#11937 Resolve #11825 - no automatic quantity conversion: App::anyToQuantity
  src/App/Expression.cpp
  src/App/Expression.h
  tests/src/App/Expression.cpp
Labels: Core

#11956 [TD]Revert detail to piecewise algo (fix #11945)
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/ShapeExtractor.cpp
Labels: WB TechDraw

#11963 [PartDesign] Revert Refresh body after pipe created #11357
  src/Mod/PartDesign/Gui/TaskPipeParameters.cpp
Labels: WB PartDesign

#11926 [Sketcher] Redo Improve angle & radius constraint rendering (#11507)
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: WB Sketcher

#11967 [Gui] Fix Status Bar Tooltip Visibility
  src/Gui/Stylesheets/Dark-modern.qss
  src/Gui/Stylesheets/Dark.qss
  src/Gui/Stylesheets/Darker.qss
  src/Gui/Stylesheets/Light.qss
Labels: Core

#11968 [Gui] [021] Fix Status Bar Tooltip Visibility
  src/Gui/Stylesheets/Dark-blue.qss
  src/Gui/Stylesheets/Dark-green.qss
  src/Gui/Stylesheets/Dark-modern-blue.qss
  src/Gui/Stylesheets/Dark-modern-green.qss
  src/Gui/Stylesheets/Dark-modern-orange.qss
  src/Gui/Stylesheets/Dark-modern-pink.qss
  src/Gui/Stylesheets/Dark-orange.qss
  src/Gui/Stylesheets/Dark-pink.qss
  src/Gui/Stylesheets/Darker-blue.qss
  src/Gui/Stylesheets/Darker-green.qss
  src/Gui/Stylesheets/Darker-orange.qss
  src/Gui/Stylesheets/Darker-pink.qss
  src/Gui/Stylesheets/Light-blue.qss
  src/Gui/Stylesheets/Light-green.qss
  src/Gui/Stylesheets/Light-orange.qss
  src/Gui/Stylesheets/Light-pink.qss
Labels: Core

#11972 Fix for issue 8064 missing letters when V-carving a string.
  src/Mod/Path/Path/Op/Vcarve.py
Labels: WB Path

#11986 Gui: Reset scroll position after preference page change
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/DlgPreferencesImp.h
Labels: Core

#11896 Toponaming shapeprotector
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
Labels: WB Part

#11992 [TD] Solve issue in VertexAtIntersection
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
Labels: WB TechDraw

#11756 Guard MEFISTO code with version check against SMESH.
  src/Mod/Fem/App/AppFem.cpp
  src/Mod/Fem/App/HypothesisPy.cpp
  src/Mod/Fem/App/HypothesisPy.h
  src/Mod/Fem/App/PreCompiled.h
  src/Mod/MeshPart/App/CMakeLists.txt
  src/Mod/MeshPart/App/Mesher.cpp
  src/Mod/MeshPart/Gui/CMakeLists.txt
Labels: WB FEM, WB MeshPart

#11921 [PartDesign] [021] Backport Sprocket fix bug with translated references
  src/Mod/PartDesign/SprocketFeature.py
Labels: WB PartDesign

#11966 Fem: Remove pipeline node from analysis view provider - fixes #11175
  src/Mod/Fem/Gui/ViewProviderAnalysis.cpp
  src/Mod/Fem/Gui/ViewProviderAnalysis.h
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.h
Labels: WB FEM

#11969 [Feature Request] [Core] [Preferences] Reset preference pages parameters set without using "PrefWidgets" objects
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/PreferencePages/DlgSettings3DViewImp.cpp
  src/Gui/PreferencePages/DlgSettings3DViewImp.h
  src/Gui/PreferencePages/DlgSettingsCacheDirectory.cpp
  src/Gui/PreferencePages/DlgSettingsCacheDirectory.h
  src/Gui/PreferencePages/DlgSettingsEditor.cpp
  src/Gui/PreferencePages/DlgSettingsEditor.h
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/PreferencePages/DlgSettingsGeneral.h
  src/Gui/PreferencePages/DlgSettingsMacroImp.cpp
  src/Gui/PreferencePages/DlgSettingsMacroImp.h
  src/Gui/PreferencePages/DlgSettingsNavigation.cpp
  src/Gui/PreferencePages/DlgSettingsNavigation.h
  src/Gui/PreferencePages/DlgSettingsWorkbenchesImp.cpp
  src/Gui/PreferencePages/DlgSettingsWorkbenchesImp.h
Labels: Core

#11999 [TD]fix Balloon parentage in tree (fix #11889)
  src/Mod/TechDraw/Gui/QGSPage.cpp
Labels: WB TechDraw

#11948 Fem: Fix constraint arrows - fixes #6073
  src/Mod/Fem/App/FemConstraint.cpp
  src/Mod/Fem/App/PreCompiled.h
Labels: WB FEM

#11883 Fix build with precompiled headers
  src/App/PreCompiled.h
  src/Mod/Mesh/Gui/PreCompiled.h
  src/Mod/Part/Gui/PreCompiled.h
Labels: Core, WB Part, WB Mesh

#12013 [TD]Dimension validation improvements
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.h
Labels: WB TechDraw

#12019 Draft: Task panel checkboxes were repositioned by accident
  src/Mod/Draft/DraftGui.py
Labels: WB Draft

#11939 [Path] Rest machining from gcode
  src/Mod/Path/App/Area.cpp
  src/Mod/Path/App/Area.h
  src/Mod/Path/App/AreaPyImp.cpp
  src/Mod/Path/Path/Op/Area.py
  src/Mod/Path/Path/Op/PocketBase.py
  src/Mod/Path/libarea/AreaClipper.cpp
Labels: WB Path

#12037 Gui: Fix scroll behaviour in preference pages selector
  src/Gui/DlgPreferencesImp.cpp
Labels: Core

#12024 Core : Tree: Add 'Properties' action in contextual menu. Opens a prop…
  src/Gui/CommandDoc.cpp
  src/Gui/Tree.cpp
  src/Gui/Workbench.cpp
  src/Gui/propertyeditor/PropertyEditor.cpp
Labels: Core

#12007 App/Toponaming: Add Comparator for mapped elements
  src/App/MappedElement.cpp
  src/App/MappedElement.h
  tests/src/App/MappedElement.cpp
Labels: Core

#12042 Draft: DraftGui.py make type of self.facecolor consistent
  src/Mod/Draft/DraftGui.py
Labels: WB Draft

#12041 fixes #12029
  src/Mod/Path/Path/Main/Gui/Job.py
Labels: WB Path

#12044 Fem: Improve self weight constraint - fixes #11652
  src/Mod/Fem/femexamples/constraint_selfweight_cantilever.py
  src/Mod/Fem/femobjects/constraint_selfweight.py
  src/Mod/Fem/femsolver/calculix/write_constraint_selfweight.py
  src/Mod/Fem/femsolver/elmer/equations/deformation_writer.py
  src/Mod/Fem/femsolver/elmer/equations/elasticity_writer.py
  src/Mod/Fem/femtest/data/calculix/constraint_selfweight_cantilever.inp
Labels: WB FEM

#11907 [Sketcher] Draw B-spline when creating in edit mode
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSplineByInterpolation.h
Labels: WB Sketcher

#12052 Fem: Call base class handleChangedProperyType function
  src/Mod/Fem/App/FemConstraintDisplacement.cpp
  src/Mod/Fem/App/FemConstraintForce.cpp
  src/Mod/Fem/App/FemConstraintInitialTemperature.cpp
  src/Mod/Fem/App/FemConstraintPressure.cpp
  src/Mod/Fem/App/FemConstraintTemperature.cpp
  src/Mod/Fem/App/FemConstraintTransform.cpp
  src/Mod/Fem/App/FemPostFilter.cpp
Labels: WB FEM

#12056 [TD]handle View rotation in ExtensionPack circle centerlines
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
Labels: WB TechDraw

#12067 Fem: Set PotentialEnabled to False in capacitance_two_balls example - fixes #9707
  src/Mod/Fem/femexamples/equation_electrostatics_capacitance_two_balls.py
Labels: WB FEM

#12069 PartDesign: Update Length/Offset when Occurrences changes
  src/Mod/PartDesign/App/FeatureLinearPattern.cpp
  src/Mod/PartDesign/WizardShaft/WizardShaft.py
Labels: WB PartDesign

#12061 Base cleanup
  src/Base/CMakeLists.txt
  src/Base/Console.h
  src/Base/Interpreter.cpp
  src/Base/MatrixPyImp.cpp
  src/Base/Mutex.cpp
  src/Base/Mutex.h
  src/Base/Parameter.cpp
  src/Base/Persistence.cpp
  src/Base/PlacementPyImp.cpp
  src/Base/PreCompiled.h
  src/Base/PyObjectBase.cpp
  src/Base/PyTools.c
  src/Base/QuantityPyImp.cpp
  src/Base/Reader.cpp
  src/Base/RotationPyImp.cpp
  src/Base/Sequencer.cpp
  src/Base/StackWalker.cpp
  src/Base/Tools.cpp
  src/Base/UnitPyImp.cpp
  src/Base/UnitsApi.cpp
  src/Base/VectorPyImp.cpp
Labels: Core

#12059 Pyside6 fixes
  cMake/FreeCAD_Helpers/SetupShibokenAndPyside.cmake
  src/Gui/PythonWrapper.cpp
Labels: Core

#11141 Does not rely on the pointervalue returned by getNameInDocument() to use as a DAG key.
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
  src/App/Link.cpp
  src/Gui/ViewProviderLink.cpp
Labels: Core

#11537 [Sketcher] Add copy/cut/paste sketcher commands
  src/Mod/Sketcher/App/PythonConverter.cpp
  src/Mod/Sketcher/App/PythonConverter.h
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/ShortcutListener.cpp
  src/Mod/Sketcher/Gui/ShortcutListener.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#11996 [Sketcher] Enable customization of edges pattern and width by type.
  src/Mod/Sketcher/Gui/AppSketcherGui.cpp
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManager.h
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.h
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeGeometryCoinConverter.cpp
  src/Mod/Sketcher/Gui/EditModeGeometryCoinConverter.h
  src/Mod/Sketcher/Gui/EditModeGeometryCoinManager.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.h
  src/Mod/Sketcher/Gui/SketcherSettingsAppearance.ui
  src/Mod/Sketcher/Gui/SketcherSettingsColors.ui
Labels: WB Sketcher

#12009 Update action.yml
  .github/workflows/actions/windows/getCcache/action.yml
Labels: :octocat:

#12011 [Core] [Preferences] Modernize for loop in DlgSettingsEditor.cpp
  src/Gui/PreferencePages/DlgSettingsEditor.cpp
Labels: Core

#12012 [Sketcher] Improve rendering of arc-angle, line-angle, arc-distances and fix radius
  src/Gui/SoDatumLabel.cpp
  src/Gui/SoDatumLabel.h
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.h
Labels: Core, WB Sketcher

#12014 Toponaming ShapeMapper
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeMapper.cpp
  src/Mod/Part/App/TopoShapeMapper.h
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/TopoShapeMapper.cpp
Labels: WB Part

#12046 Gui: Add missing override
  src/Gui/propertyeditor/PropertyEditor.h
Labels: Core

#12050 Draft: Improve layer functions
  src/Mod/Draft/Draft.py
  src/Mod/Draft/draftguitools/gui_layers.py
  src/Mod/Draft/draftmake/make_layer.py
  src/Mod/Draft/drafttests/draft_test_objects.py
  src/Mod/Draft/draftviewproviders/view_layer.py
Labels: WB Draft

#12062 Draft: Inform user that objects without a Shape cannot be cloned
  src/Mod/Draft/draftguitools/gui_clone.py
Labels: WB Draft

#12063 Draft: ShapeString double escape backslash in string
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
Labels: WB Draft

#11973 [Sketcher] Add contextual BSpline commands in right click menu
  src/Mod/Sketcher/Gui/Resources/icons/splines/Sketcher_BSplineApproximate.svg
  src/Mod/Sketcher/Gui/Resources/icons/splines/Sketcher_BSplineInsertKnot.svg
  src/Mod/Sketcher/Gui/Resources/icons/splines/Sketcher_JoinCurves.svg
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#12076 Part/TopoShapeMapper: Add missing PreCompiled include
  src/Mod/Part/App/TopoShapeMapper.cpp
Labels: WB Part

#12023 Initial code of mapSubElement Test
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12082 Correction of #11775
  src/Gui/PythonWrapper.cpp
Labels: Core

#12054 Sketcher: Apply styling to elements and constraints UI
  src/Gui/Stylesheets/images_dark-light/check_dark_disabled.svg
  src/Gui/Stylesheets/images_dark-light/check_light_disabled.svg
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.h
Labels: WB Sketcher

#12028 Toponaming move makEFace as makeElementFace and dependencies
  src/App/ComplexGeoData.h
  src/App/MappedElement.cpp
  src/App/MappedElement.h
  src/Mod/Part/App/FaceMaker.cpp
  src/Mod/Part/App/FaceMaker.h
  src/Mod/Part/App/FeatureExtrusion.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/PartTestHelpers.cpp
  tests/src/Mod/Part/App/PartTestHelpers.h
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Core, WB Part

#12085 Arch: importDAE: DaeUnsupportedError is defined in common.py
  src/Mod/Arch/importDAE.py
Labels: WB Arch

#12064 Gui: add explicit transparency specification
  src/Gui/ViewProviderOriginFeature.cpp
  src/Mod/Fem/Gui/ViewProviderFemMesh.cpp
  src/Mod/Import/Gui/dxf/ImpExpDxfGui.cpp
  src/Mod/Part/CMakeLists.txt
  src/Mod/Part/Gui/DlgProjectionOnSurface.cpp
  src/Mod/Part/TestPartGui.py
  src/Mod/Part/parttests/ColorTransparencyTest.py
Labels: Core, WB FEM, WB Part

#12097 Addon manager: remove QtWebEngine
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/addonmanager_readme_viewer.py
  src/Mod/AddonManager/package_details.py
Labels: Addon Manager

#12100 Addon Manager: Qt6 fixes
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/change_branch.py
  src/Mod/AddonManager/package_details.py
  src/Mod/AddonManager/package_list.py
Labels: Addon Manager

#12098 Tweak resetElementMap to default to empty defined element map
  src/App/ComplexGeoData.h
  tests/src/App/ComplexGeoData.cpp
Labels: Core

#12089 Draft: Draft_Scale: make sure scale inputboxes show at least 6 decimals
  src/Mod/Draft/drafttaskpanels/task_scale.py
Labels: WB Draft

#12087 Toponaming makeElementShell
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#12118 Addon Manager: Remove new-style type hints
  src/Mod/AddonManager/addonmanager_readme_viewer.py
Labels: Addon Manager

#12121 [TD]Fix extension cosmetics
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
Labels: WB TechDraw

#12133 Fem: Improve contact and tie constraints - fixes #11653
  src/App/Application.cpp
  src/App/PropertyUnits.cpp
  src/App/PropertyUnits.h
  src/Base/Unit.cpp
  src/Base/Unit.h
  src/Base/UnitsSchemaInternal.cpp
  src/Base/UnitsSchemaMKS.cpp
  src/Mod/Fem/App/FemConstraintContact.cpp
  src/Mod/Fem/App/FemConstraintContact.h
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/Resources/ui/ConstraintTie.ui
  src/Mod/Fem/Gui/TaskFemConstraintContact.cpp
  src/Mod/Fem/Gui/TaskFemConstraintContact.h
  src/Mod/Fem/Gui/TaskFemConstraintContact.ui
  src/Mod/Fem/femexamples/constraint_contact_shell_shell.py
  src/Mod/Fem/femexamples/constraint_contact_solid_solid.py
  src/Mod/Fem/femobjects/constraint_tie.py
  src/Mod/Fem/femsolver/calculix/write_constraint_contact.py
  src/Mod/Fem/femsolver/calculix/write_constraint_tie.py
  src/Mod/Fem/femtaskpanels/task_constraint_tie.py
  src/Mod/Fem/femtest/data/calculix/constraint_contact_shell_shell.inp
  src/Mod/Fem/femtest/data/calculix/constraint_contact_solid_solid.inp
  src/Mod/Fem/femtest/data/calculix/constraint_tie.inp
Labels: Core, WB FEM

#12126 Addon Manager: Don't fail during signal disconnect
  src/Mod/AddonManager/NetworkManager.py
Labels: Addon Manager

#12128 Addon Manager: Allow .py filenames
  src/Mod/AddonManager/addonmanager_installer.py
  src/Mod/AddonManager/addonmanager_macro.py
  src/Mod/AddonManager/addonmanager_uninstaller.py
Labels: Addon Manager

#12129 Addon Manager: Fix git detection on mac
  src/Mod/AddonManager/addonmanager_git.py
Labels: Addon Manager

#12143 [TD]fix extension bolt hole circle re scale/rotate
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
Labels: WB TechDraw

#12127 Draft: Scale widget did not handle FEM unit system
  src/Mod/Draft/draftutils/init_draft_statusbar.py
Labels: WB Draft

#12123 Arch: BuildingPart fix setEdit and unsetEdit
  src/Mod/Arch/ArchBuildingPart.py
Labels: WB Arch

#12157 Toponaming make shape with element map
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/PartTestHelpers.cpp
  tests/src/Mod/Part/App/PartTestHelpers.h
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeMakeShapeWithElementMap.cpp
Labels: WB Part, Toponaming

#12138 Toponaming: FeaturePartCommon
  src/Mod/Part/App/FeaturePartCommon.cpp
Labels: WB Part

#12184 Part/TopoShapeMapper: Add missing PreCompiled include
  src/Mod/Part/App/FeaturePartCommon.cpp
Labels: WB Part

#12158 Addon Manager: Complete migration away from GitPython
  src/Mod/AddonManager/addonmanager_git.py
  src/Mod/AddonManager/change_branch.py
  src/Mod/AddonManager/change_branch.ui
  src/Mod/AddonManager/package_details.py
Labels: Addon Manager

#12134 Toponaming: makeElementShape transfer and tests
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/TopoShapeMakeShape.cpp
Labels: WB Part

#12194 Addon Manager: Allow primary branch name change
  src/Mod/AddonManager/Addon.py
  src/Mod/AddonManager/addonmanager_git.py
  src/Mod/AddonManager/addonmanager_installer.py
  src/Mod/AddonManager/addonmanager_metadata.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
  src/Mod/AddonManager/manage_python_dependencies.py
  src/Mod/AddonManager/package_details.py
  src/Mod/AddonManager/package_list.py
Labels: Addon Manager

#12187 Make the random color assignment undo-able
  src/Gui/CommandFeat.cpp
Labels: Core

#12188 Sketcher: minor fixes to 2 prefs ui files
  src/Mod/Sketcher/Gui/SketcherSettings.ui
  src/Mod/Sketcher/Gui/SketcherSettingsAppearance.ui
Labels: WB Sketcher

#12122 Gui: "Default unit system" in title case in prefs
  src/Gui/PreferencePages/DlgSettingsGeneral.ui
Labels: Core

#12038 Arch: Revised preference ui files, remove WindowColor
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchWindow.py
  src/Mod/Arch/Resources/ui/preferences-arch.ui
  src/Mod/Arch/Resources/ui/preferences-archdefaults.ui
Labels: WB Arch

#12040 Arch: Bring back Axis bubbles and show annotation DrawStyle in ArchView
  src/Mod/Arch/ArchSectionPlane.py
Labels: WB Arch

#12111 Draft: Qt6 fixes
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/WorkingPlane.py
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_groups.py
  src/Mod/Draft/draftguitools/gui_layers.py
  src/Mod/Draft/draftguitools/gui_lineslope.py
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/drafttaskpanels/task_scale.py
  src/Mod/Draft/drafttaskpanels/task_selectplane.py
  src/Mod/Draft/draftutils/init_draft_statusbar.py
  src/Mod/Draft/draftutils/params.py
  src/Mod/Draft/draftutils/translate.py
  src/Mod/Draft/importDXF.py
  src/Mod/Draft/importSVG.py
Labels: WB Draft

#12213 Part: Add BRepFill_Generator to the OpenCascadeAll.h
  src/Mod/Part/App/OpenCascadeAll.h
Labels: WB Part

#12177 Toponaming shapeprotector Nullify() check
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
Labels: WB Part
