Repository FreeCAD/FreeCAD, pull requests merged in 2024-04, with the labels that each got.

#12270 [Core] Introduce Tab-Bar workbench selector
  src/Gui/Action.cpp
  src/Gui/Action.h
  src/Gui/CMakeLists.txt
  src/Gui/PreferencePages/DlgSettingsWorkbenches.ui
  src/Gui/PreferencePages/DlgSettingsWorkbenchesImp.cpp
  src/Gui/PreferencePages/DlgSettingsWorkbenchesImp.h
  src/Gui/WorkbenchManager.cpp
  src/Gui/WorkbenchManager.h
  src/Gui/WorkbenchSelector.cpp
  src/Gui/WorkbenchSelector.h
Labels: Core

#12538 Allow adding subfeatures to MultiTransform if there is no active Body
  src/Mod/PartDesign/Gui/TaskMultiTransformParameters.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.h
Labels: WB Part Design

#12602 Sketcher : ArcLength Constraint
  src/Gui/SoDatumLabel.cpp
  src/Gui/SoDatumLabel.h
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.h
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Sketcher/App/planegcs/GCS.h
  src/Mod/Sketcher/App/planegcs/Geo.h
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#12876 FEM: Fix cxx typo and remove calculix from solvers tab in examples
  src/Gui/PreferencePackTemplates/Shortcuts.cfg
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/Gui/Resources/translations/Fem.ts
  src/Mod/Fem/Gui/Workbench.cpp
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/TestFemApp.py
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femexamples/boxanalysis_frequency.py
  src/Mod/Fem/femexamples/boxanalysis_static.py
  src/Mod/Fem/femexamples/buckling_lateraltorsionalbuckling.py
  src/Mod/Fem/femexamples/buckling_platebuckling.py
  src/Mod/Fem/femexamples/ccx_buckling_flexuralbuckling.py
  src/Mod/Fem/femexamples/ccx_cantilever_base_edge.py
  src/Mod/Fem/femexamples/ccx_cantilever_base_face.py
  src/Mod/Fem/femexamples/ccx_cantilever_base_solid.py
  src/Mod/Fem/femexamples/ccx_cantilever_beam_circle.py
  src/Mod/Fem/femexamples/ccx_cantilever_beam_pipe.py
  src/Mod/Fem/femexamples/ccx_cantilever_beam_rect.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_hexa20.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_quad4.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_quad8.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_seg2.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_seg3.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_tetra4.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_tria3.py
  src/Mod/Fem/femexamples/ccx_cantilever_ele_tria6.py
  src/Mod/Fem/femexamples/ccx_cantilever_faceload.py
  src/Mod/Fem/femexamples/ccx_cantilever_nodeload.py
  src/Mod/Fem/femexamples/ccx_cantilever_prescribeddisplacement.py
  src/Mod/Fem/femexamples/constraint_centrif.py
  src/Mod/Fem/femexamples/constraint_contact_shell_shell.py
  src/Mod/Fem/femexamples/constraint_contact_solid_solid.py
  src/Mod/Fem/femexamples/constraint_section_print.py
  src/Mod/Fem/femexamples/constraint_selfweight_cantilever.py
  src/Mod/Fem/femexamples/constraint_tie.py
  src/Mod/Fem/femexamples/constraint_transform_beam_hinged.py
  src/Mod/Fem/femexamples/constraint_transform_torque.py
  src/Mod/Fem/femexamples/elmer_nonguitutorial01_eigenvalue_of_elastic_beam.py
  src/Mod/Fem/femexamples/frequency_beamsimple.py
  src/Mod/Fem/femexamples/material_multiple_bendingbeam_fiveboxes.py
  src/Mod/Fem/femexamples/material_multiple_bendingbeam_fivefaces.py
  src/Mod/Fem/femexamples/material_multiple_tensionrod_twoboxes.py
  src/Mod/Fem/femexamples/material_nl_platewithhole.py
  src/Mod/Fem/femexamples/mystran_plate.py
  src/Mod/Fem/femexamples/rc_wall_2d.py
  src/Mod/Fem/femexamples/square_pipe_end_twisted_edgeforces.py
  src/Mod/Fem/femexamples/square_pipe_end_twisted_nodeforces.py
  src/Mod/Fem/femexamples/thermomech_bimetall.py
  src/Mod/Fem/femexamples/truss_3d_cs_circle_ele_seg3.py
  src/Mod/Fem/femsolver/settings.py
  src/Mod/Fem/femtest/app/test_ccxtools.py
  src/Mod/Fem/femtest/app/test_object.py
  src/Mod/Fem/femtest/app/test_solver_calculix.py
Labels: Core, WB FEM

#12941 Addon Manager: Python package installer wait for thread
  src/Mod/Draft/draftobjects/shape2dview.py
Labels: Addon Manager, Backport done

#12995 Update sub_buildWindows.yml
  .github/workflows/sub_buildWindows.yml
Labels: :octocat:

#13018 Ignore suppressed features in patterns
  src/Mod/PartDesign/App/FeatureTransformed.cpp
Labels: WB Part Design

#13026 Material: Add thermal reference temperature
  src/Mod/Material/Gui/BaseDelegate.cpp
  src/Mod/Material/Gui/MaterialDelegate.cpp
  src/Mod/Material/Resources/Models/Thermal/Thermal.yml
  src/Mod/Material/materialtests/TestMaterials.py
  tests/src/Mod/Material/App/TestMaterials.cpp
Labels: Materials

#13032 [PD] Fix crash related to SuppressibleExtension
  src/Gui/ViewProviderSuppressibleExtension.cpp
Labels: Core

#13060 Sketcher: Chamfer Fix #13049
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#13066 Fem: Improve post-processing object style - fixes #13017
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.h
Labels: WB FEM

#13077 Change default 2D element thickness from 20 to 1
  src/Mod/Fem/ObjectsFem.py
Labels: WB FEM

#13109 UI: Slightly adjusting Part Design icons incl. WB icon
  src/Mod/PartDesign/Gui/Resources/icons/PartDesignWorkbench.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_BaseFeature.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_Hole.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_InternalExternalGear.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_InvoluteGear.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_Migrate.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_MoveFeature.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_MoveTip.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_Point.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_Sprocket.svg
Labels: WB Part Design

#13130 UI: update FEM icons
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintBodyHeatSource.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintCentrif.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintCurrentDensity.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintInitialTemperature.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintMagnetization.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintPlaneRotation.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintTie.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ConstraintTransform.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ElementFluid1D.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ElementGeometry1D.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ElementGeometry2D.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_ElementRotation1D.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_EquationElectricforce.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_EquationElectrostatic.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_EquationFlux.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_EquationMagnetodynamic.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_EquationMagnetodynamic2D.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_MeshBoundaryLayer.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_MeshGroup.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_MeshRegion.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_PostFilterContours.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_SolverControl.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_SolverElmer.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_SolverMystran.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_SolverRun.svg
  src/Mod/Fem/Gui/Resources/icons/FEM_SolverStandard.svg
  src/Mod/Fem/Gui/Resources/icons/FemWorkbench.svg
  src/Mod/Fem/Gui/Resources/icons/fem-solver-analysis-buckling.svg
  src/Mod/Fem/Gui/Resources/icons/preferences-fem.svg
Labels: WB FEM

#13137 SpreadSheet: Double clicking a spreadsheet changes to spreadsheet wb
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.cpp
Labels: WB Spreadsheet

#13147 Sketcher: Add line mid-point auto-constraint
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
Labels: WB Sketcher

#13168 Sketcher: Symmetry fix #13164
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerSymmetry.h
Labels: WB Sketcher

#13180 Core: Std_ToggleTransparency: Fixes #11353
  src/Gui/CommandView.cpp
  src/Gui/Workbench.cpp
Labels: Core

#13187 Fix to WebGL export. Closes: #13186
  src/Mod/Arch/importWebGL.py
Labels: WB Arch, File format: WebGL

#13196 Toponaming/Part move in PyImps
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/App/TopoShapeCompSolidPyImp.cpp
  src/Mod/Part/App/TopoShapeFacePyImp.cpp
  src/Mod/Part/App/TopoShapePy.xml
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/Part/App/TopoShapeShellPyImp.cpp
  src/Mod/Part/App/TopoShapeSolidPyImp.cpp
  src/Mod/Part/parttests/TopoShapeTest.py
Labels: Core, WB FEM, WB Arch, WB Draft, WB TechDraw, WB Part, WB Sketcher, WB Mesh, WB ReverseEngineering, Toponaming, WB MeshPart

#13256 Base: expose a method to rename a parameter group to Python
  src/Base/ParameterPy.cpp
Labels: Core

#13260 FEM: Handle unknown exception when applying a constraint to a B-Spli…
  src/Mod/Fem/App/FemConstraint.cpp
Labels: WB FEM

#13257 Gui: fix compiler warning
  src/Gui/MDIView.cpp
Labels: Core

#13264 fix for yaml version
  src/Mod/Material/App/CMakeLists.txt
Labels: Materials

#13271 PD: replace static_cast with dynamic_cast
  src/Mod/PartDesign/Gui/TaskMultiTransformParameters.cpp
Labels: WB Part Design

#13261 PD: Fixes 12673: Transforming of sub-shape binder fails
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.h
Labels: WB Part Design

#13262 Gui: Fix Std_LinkActions
  src/Gui/CommandLink.cpp
Labels: Core

#13192 Sketcher: Fixes #13181
  src/Mod/Sketcher/Gui/CommandAlterGeometry.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/Resources/Sketcher.qrc
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_CreatePeriodicBSplineByInterpolation.svg
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_CreatePeriodicBSplineByInterpolation_Constr.svg
Labels: WB Sketcher

#12603 [ArchWall] getExtrusionData() fix normal problem by adding get_shape_normal()
  src/Mod/Arch/ArchWall.py
  src/Mod/Draft/DraftGeomUtils.py
  src/Mod/Draft/draftgeoutils/geometry.py
Labels: WB Arch, WB Draft

#13232 Arch: Arch_Pipe did not process Subtractions and Additions
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchPipe.py
Labels: WB Arch

#13273 Cam prefs
  src/Mod/CAM/Gui/Command.cpp
  src/Mod/CAM/Init.py
Labels: WB CAM

#13254 CAM/Drilling: Add feed retract option to drilling op settings for reaming/boring heads
  src/Mod/CAM/Gui/Resources/panels/PageOpDrillingEdit.ui
  src/Mod/CAM/Path/Base/Generator/drill.py
  src/Mod/CAM/Path/Op/Drilling.py
  src/Mod/CAM/Path/Op/Gui/Drilling.py
  src/Mod/CAM/Tests/TestPathDrillGenerator.py
Labels: WB CAM

#13221 [ArchRoof] Generate subVolume from base if solid
  src/Mod/Arch/ArchRoof.py
Labels: WB Arch

#13281 FEM: Fixed typos in one error message
  src/Mod/Fem/feminout/importToolsFem.py
Labels: WB FEM

#13200 Gui: Allow to unset modified state
  src/Gui/DocumentPy.xml
  src/Gui/DocumentPyImp.cpp
Labels: Core

#13218 Part/Toponaming: WireJoiner - use std::hash
  src/Mod/Part/App/WireJoiner.cpp
Labels: WB Part

#13265 [TD]fix fail on corrupt dimension reference
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
Labels: WB TechDraw

#13290 Correcting spelling of "address"
  src/Mod/Spreadsheet/importXLSX.py
Labels: WB Spreadsheet

#13233 Add an initial test to show TNP
  src/Mod/PartDesign/CMakeLists.txt
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  src/Mod/PartDesign/PartDesignTests/__init__.py
  src/Mod/PartDesign/TestPartDesignApp.py
Labels: WB Part Design

#13297 App/Toponaming: GeoFeature - fixes #13009 - fixes #13248
  src/App/GeoFeature.cpp
  tests/src/Mod/Sketcher/App/SketchObject.cpp
Labels: Toponaming

#13190 Sketcher: Translate Fixes #13189 horizontal/vertical lost.
  src/Mod/Sketcher/Gui/DrawSketchHandlerTranslate.h
Labels: WB Sketcher

#13301 Correcting spelling of "preferred"
  src/Mod/Material/materialtools/cardutils.py
Labels: Materials

#13304 Precommit: Update black
  .git-blame-ignore-revs
  .pre-commit-config.yaml
  src/Mod/AddonManager/Widgets/addonmanager_widget_progress_bar.py
  src/Mod/AddonManager/addonmanager_readme_controller.py
  src/Mod/AddonManager/manage_python_dependencies.py
  src/Mod/Drawing/DrawingPatterns.py
  src/Mod/Show/ShowUtils.py
  src/Mod/Show/mTempoVis.py
  src/Mod/Start/StartPage/StartPage.py
  src/Mod/Test/Document.py
  src/Mod/Test/TestGui.py
  src/Tools/SubWCRev.py
  src/Tools/doctools.py
  src/Tools/embedded/PySide/mainwindow.py
  src/Tools/embedded/PySide/mainwindow2.py
  src/Tools/embedded/PySide/mainwindow3.py
  src/Tools/generateBase/generateTools.py
  src/Tools/updateppa.py
Labels: WB FEM, Addon Manager, WB Test

#13327 Update default c++ version into sub_lint.yml
  .github/workflows/sub_lint.yml
Labels: :octocat:

#13353 [TD]fix templated autofill for sheet
  src/Mod/TechDraw/App/DrawSVGTemplate.cpp
  src/Mod/TechDraw/App/DrawSVGTemplate.h
  src/Mod/TechDraw/App/DrawTemplate.cpp
  src/Mod/TechDraw/Gui/ViewProviderTemplate.cpp
Labels: WB TechDraw

#12359 FEM: allow to Suppress the constraints
  src/Mod/Fem/App/FemConstraint.cpp
  src/Mod/Fem/App/FemConstraint.h
  src/Mod/Fem/Gui/ViewProviderFemConstraint.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraint.h
  src/Mod/Fem/femtools/membertools.py
Labels: WB FEM

#13179 Sketcher: Rectangle DSH Fixes #12297
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
Labels: WB Sketcher

#13229 Sketcher: Update Sketcher context menu commands
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#13245 Assembly: fix segfault when Part property of Joint Connector is missing
  src/Mod/Assembly/App/AssemblyObject.cpp
Labels: WB Assembly

#13278 Sketch: add command to context-menu to change value of constraint
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#13282 FEM: migrate calculix tests to ccxtools tests
  src/Mod/Fem/femtest/app/test_ccxtools.py
Labels: WB FEM

#13293 [ArchWall] Fix regression make block from DraftWire
  src/Mod/Arch/ArchWall.py
Labels: WB Arch

#13287 Arch: Upgraded reference tool
  src/Mod/Arch/ArchReference.py
Labels: WB Arch

#13330 Gui: Fix navigation with overlays
  src/Gui/OverlayManager.cpp
Labels: Core

#13358 Fem: Fix display modes order - fixes #13326
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
Labels: WB FEM

#13372 Mod: Show regressions in shape colouring
  src/Mod/Import/CMakeLists.txt
  src/Mod/Import/InitGui.py
  src/Mod/Import/TestImportGui.py
  src/Mod/Part/parttests/ColorPerFaceTest.py
  src/Mod/PartDesign/TestPartDesignGui.py
Labels: WB Part Design, WB Part

#13374 Toponaming/Part: Upgrade Part Design tests
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: WB Part Design

#13385 fix deprecation warning
  .github/workflows/actions/windows/getCcache/action.yml
  .github/workflows/actions/windows/getLibpack/action.yml
Labels: :octocat:

#13386 fix deprecation warning 2
  .github/workflows/labeler.yml
Labels: :octocat:

#13418 Add 'Mesh' option to issue template
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
Labels: :octocat:

#13426 [TD]handle odd projection cs in broken view
  src/Mod/TechDraw/App/DrawBrokenView.cpp
  src/Mod/TechDraw/App/DrawBrokenView.h
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/Gui/QGIBreakLine.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
Labels: WB TechDraw

#13440 Gui: fix crash in PythonCommand::isChecked()
  src/Gui/Command.cpp
Labels: Core

#13436 Gui: spelling: freezed -> frozen
  src/Gui/CommandFeat.cpp
Labels: Core

#13447 Toponaming/Part: Initialize the hasher so that it operates
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  tests/src/Mod/Part/App/FeatureOffset.cpp
Labels: WB Part Design, WB Part

#13456 Base: fix some linter warnings
  src/Base/Parameter.cpp
  src/Base/Parameter.h
Labels: Core

#13451 PD: Fixes #13446: Crash with hole in additive loft
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: WB Part Design

#13387 Toponaming/Part Transfer more python ElementMapVersion and add feature pad testing
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
  src/App/DocumentObjectPy.xml
  src/App/DocumentObjectPyImp.cpp
  src/App/ElementMap.cpp
  src/App/GeoFeaturePy.xml
  src/App/GeoFeaturePyImp.cpp
  src/Mod/Part/App/ExtrusionHelper.cpp
  src/Mod/Part/App/ExtrusionHelper.h
  src/Mod/Part/App/FaceMaker.cpp
  src/Mod/Part/App/FaceMaker.h
  src/Mod/Part/App/FeatureExtrusion.cpp
  src/Mod/Part/App/FeatureOffset.cpp
  src/Mod/Part/App/PartFeatures.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Core, WB Part Design, WB Part, WB Sketcher, Toponaming

#13283 Toponaming/Part: move in shape binder
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: WB Part Design, Toponaming

#13458 Addon Manager: Remove mentions of GitPython
  src/Mod/AddonManager/AddonManagerOptions.ui
  src/Mod/AddonManager/manage_python_dependencies.py
Labels: Addon Manager

#13411 Toponaming/Part: feature dressup and transform
  src/Mod/PartDesign/App/FeatureDressUp.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Toponaming

#13332 Fix material issues
  src/App/Material.cpp
  src/App/Material.h
  src/App/MaterialPy.xml
  src/App/MaterialPyImp.cpp
  src/App/PropertyStandard.cpp
  src/App/PropertyStandard.h
  src/Gui/CommandFeat.cpp
  src/Gui/ViewProviderGeoFeatureGroupExtension.cpp
  src/Gui/ViewProviderGeometryObject.cpp
  src/Gui/ViewProviderGroupExtension.cpp
  src/Gui/ViewProviderOriginGroupExtension.cpp
  src/Gui/ViewProviderSuppressibleExtension.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintPy.xml
  src/Mod/Fem/Gui/ViewProviderFemMeshPy.xml
  src/Mod/Mesh/Gui/ViewProvider.cpp
  src/Mod/Mesh/Gui/ViewProviderMeshPy.xml
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/CommandSimple.cpp
  src/Mod/Part/Gui/DlgProjectionOnSurface.cpp
  src/Mod/Part/Gui/ViewProviderAttachExtension.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/Part/Gui/ViewProviderExt.h
  src/Mod/PartDesign/Gui/ViewProviderDatum.cpp
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.cpp
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.h
Labels: Core, WB FEM, WB Part Design, WB Part, WB Mesh

#12929 New integration with 3Dconnexion devices
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  src/3rdParty/3Dconnexion/README.txt
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CActionInput.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CActionInputImpl.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CActionNode.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CCategory.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CCommand.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CCommandSet.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CCommandTreeNode.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CCookieCollection.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CHitTest.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CImage.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CNavigation3D.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CNavlibImpl.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CNavlibInterface.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/IAccessors.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/IActionAccessors.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/IEvents.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/IHit.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/IModel.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/INavlib.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/IPivot.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/ISpace3D.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/IState.hpp
  src/3rdParty/3Dconnexion/inc/SpaceMouse/IView.hpp
  src/3rdParty/3Dconnexion/inc/navlib/navlib.h
  src/3rdParty/3Dconnexion/inc/navlib/navlib_defines.h
  src/3rdParty/3Dconnexion/inc/navlib/navlib_error.h
  src/3rdParty/3Dconnexion/inc/navlib/navlib_operators.h
  src/3rdParty/3Dconnexion/inc/navlib/navlib_ostream.h
  src/3rdParty/3Dconnexion/inc/navlib/navlib_templates.h
  src/3rdParty/3Dconnexion/inc/navlib/navlib_types.h
  src/3rdParty/3Dconnexion/inc/siappcmd_types.h
  src/3rdParty/3Dconnexion/src/navlib_load.cpp
  src/3rdParty/3Dconnexion/src/navlib_stub.c
  src/Doc/CONTRIBUTORS
  src/Gui/3Dconnexion/navlib/NavlibCmds.cpp
  src/Gui/3Dconnexion/navlib/NavlibInterface.h
  src/Gui/3Dconnexion/navlib/NavlibNavigation.cpp
  src/Gui/3Dconnexion/navlib/NavlibPivot.cpp
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Gui/CMakeLists.txt
  src/Gui/Icons/3dx_pivot.png
  src/Gui/Icons/resource.qrc
Labels: Core

#13188 Sketcher: Trim tool, hold click and move. Fixes #6152
  src/Mod/Sketcher/Gui/DrawSketchHandlerTrimming.h
Labels: WB Sketcher

#13209 Toponaming/Base: Add ASCII stream output class
  src/Base/Stream.h
  tests/src/Base/CMakeLists.txt
  tests/src/Base/Stream.cpp
Labels: Core, Toponaming

#13483 [TD]fix BrokenView dimensions
  src/Mod/TechDraw/App/DrawBrokenView.cpp
  src/Mod/TechDraw/App/DrawBrokenView.h
  src/Mod/TechDraw/App/DrawViewDimension.cpp
Labels: WB TechDraw

#13484 [backport] Addon Manager: Remove mentions of GitPython
  src/Mod/AddonManager/AddonManagerOptions.ui
  src/Mod/AddonManager/manage_python_dependencies.py
Labels: Addon Manager

#13486 Toponaming/Part: Fix hashing, hasher mismatches, and adjust test results to match
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  tests/src/Mod/Part/App/FeatureMirroring.cpp
  tests/src/Mod/Part/App/FeatureOffset.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeMakeShape.cpp
  tests/src/Mod/Part/App/TopoShapeMakeShapeWithElementMap.cpp
  tests/src/Mod/Part/App/WireJoiner.cpp
Labels: WB Part Design, WB Part

#13379 Arch: Fix continue mode for Arch_Panel and Arch_Structure.
  src/Mod/Arch/ArchPanel.py
  src/Mod/Arch/ArchStructure.py
Labels: WB Arch

#13378 Arch: Fix several Arch_Wall issues
  src/Mod/Arch/ArchWall.py
Labels: WB Arch

#13380 Draft: Fix issue with get_shape_normal
  src/Mod/Draft/draftgeoutils/geometry.py
Labels: WB Draft

#13399 Arch: Arch_Structure beam could have wrong length
  src/Mod/Arch/ArchStructure.py
Labels: WB Arch

#13491 [TD]fix 3d dimension position on DetailView
  src/Mod/TechDraw/App/DimensionGeometry.cpp
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewDetail.h
Labels: WB TechDraw

#13500 [TD]fix merge issue from PR13369
  src/Mod/TechDraw/Templates/locale/ca/A0_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A0_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A1_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A1_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A2_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A2_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A3_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A3_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Portrait_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Portrait_ISO5457_minimal.svg
Labels: WB TechDraw

#13512 Tests: add more unit tests for ParameterGrp
  src/Base/Parameter.cpp
  tests/src/Base/Parameter.cpp
Labels: Core

#13514 [TD]fix crash on corrupt reference (fix #13448)
  src/Mod/TechDraw/App/DimensionReferences.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
Labels: WB TechDraw

#13516 [TD]Expose getVisibleVertexes/getHiddenVertexes to Python
  src/Mod/TechDraw/App/DrawViewPartPy.xml
  src/Mod/TechDraw/App/DrawViewPartPyImp.cpp
Labels: WB TechDraw

#13515 Base/Toponaming: Correct string hasher output
  src/App/StringHasher.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Core, WB Part, Toponaming

#13521 [TD]set Leader QGraphicsItem parentage on restore
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/QGSPage.h
Labels: WB TechDraw

#13528 [path] translation fixes
  src/Mod/CAM/Path/Main/Gui/JobDlg.py
  src/Mod/CAM/Path/Op/Gui/FeatureExtension.py
  src/Mod/CAM/Path/Op/Gui/Profile.py
  src/Mod/CAM/Path/Tool/Gui/Bit.py
  src/Mod/CAM/Path/Tool/Gui/BitLibrary.py
Labels: WB CAM

#13352 Bring Save dialog to the top
  src/Gui/MainWindow.cpp
Labels: Core

#12794 FEM Netgen Min. Size
  src/Mod/Fem/App/FemMeshShapeNetgenObject.cpp
  src/Mod/Fem/App/FemMeshShapeNetgenObject.h
  src/Mod/Fem/Gui/TaskTetParameter.cpp
  src/Mod/Fem/Gui/TaskTetParameter.h
  src/Mod/Fem/Gui/TaskTetParameter.ui
Labels: WB FEM

#13504 [App] Remove unused code in `App/MappedName.cpp`
  src/App/MappedName.cpp
Labels: Core

#13522 Base: Fix possible race condition when restarting the application
  src/Base/Parameter.cpp
  tests/src/Base/Parameter.cpp
Labels: Core

#13437 Material: Problems editing Quantity properties
  src/Mod/Material/App/Materials.cpp
  src/Mod/Material/App/Materials.h
  src/Mod/Material/Gui/BaseDelegate.cpp
  src/Mod/Material/Gui/BaseDelegate.h
  src/Mod/Material/Gui/ListDelegate.cpp
  src/Mod/Material/Gui/ListEdit.cpp
  src/Mod/Material/Gui/ListEdit.ui
  src/Mod/Material/Gui/ListModel.cpp
  src/Mod/Material/Gui/MaterialDelegate.cpp
  src/Mod/Material/Gui/MaterialDelegate.h
  src/Mod/Material/Gui/MaterialsEditor.cpp
  src/Mod/Material/Gui/MaterialsEditor.h
Labels: Materials

#13540 Draft: Draft_ToggleGrid should update the grid
  src/Mod/Draft/draftguitools/gui_grid.py
Labels: WB Draft

#13507 Part: fix shape projection of complex BSpline curves
  src/Mod/Part/App/TopoShapePyImp.cpp
Labels: WB Part

#13543 Draft: Fix error when deleting first digit of input
  src/Mod/Draft/DraftGui.py
Labels: WB Draft

#13546 Update Application.cpp
  src/App/Application.cpp
Labels: Core

#13545 App: clean
  src/App/GeoFeatureGroupExtension.cpp
Labels: Core

#13550 Part: add unit test for PR #13507
  src/Mod/Part/CMakeLists.txt
  src/Mod/Part/TestPartApp.py
  src/Mod/Part/parttests/BRep_tests.py
Labels: WB Part

#13559 OpenSCAD: Fix CSG computing geometry too early
  src/Mod/OpenSCAD/OpenSCADFeatures.py
Labels: WB OpenSCAD

#13580 Draft: Move MouseDelay pref to General group and set max value
  src/Mod/Draft/Resources/ui/preferences-draft.ui
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
Labels: WB Draft

#12993 Update sub_wrapup.yml
  .github/workflows/sub_wrapup.yml
Labels: :octocat:

#13274 Fem: Constraint symbol scaling
  src/Mod/Fem/App/FemConstraint.cpp
  src/Mod/Fem/App/FemConstraint.h
  src/Mod/Fem/App/FemConstraintPressure.cpp
  src/Mod/Fem/App/FemConstraintPressure.h
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Resources/symbols/ConstraintContact.iv
  src/Mod/Fem/Gui/Resources/symbols/ConstraintDisplacement.iv
  src/Mod/Fem/Gui/Resources/symbols/ConstraintFixed.iv
  src/Mod/Fem/Gui/Resources/symbols/ConstraintForce.iv
  src/Mod/Fem/Gui/Resources/symbols/ConstraintHeatFlux.iv
  src/Mod/Fem/Gui/Resources/symbols/ConstraintPlaneRotation.iv
  src/Mod/Fem/Gui/Resources/symbols/ConstraintPressure.iv
  src/Mod/Fem/Gui/Resources/symbols/ConstraintSpring.iv
  src/Mod/Fem/Gui/Resources/symbols/ConstraintTemperature.iv
  src/Mod/Fem/Gui/Resources/symbols/ConstraintTie.iv
  src/Mod/Fem/Gui/ViewProviderFemConstraint.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraint.h
  src/Mod/Fem/Gui/ViewProviderFemConstraintContact.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintFixed.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintForce.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintForce.h
  src/Mod/Fem/Gui/ViewProviderFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintPlaneRotation.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintPressure.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintPressure.h
  src/Mod/Fem/Gui/ViewProviderFemConstraintPy.xml
  src/Mod/Fem/Gui/ViewProviderFemConstraintPyImp.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintSpring.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintTemperature.cpp
  src/Mod/Fem/femviewprovider/view_base_femconstraint.py
  src/Mod/Fem/femviewprovider/view_constraint_tie.py
Labels: WB FEM

#13377 Core: Fix searching model tree does not work for numbers #12723
  src/App/ExpressionTokenizer.cpp
  tests/src/App/Expression.cpp
Labels: Core

#13397 FEM test INC value fix
  src/Mod/Fem/femsolver/calculix/solver.py
  src/Mod/Fem/femtest/data/calculix/box_static.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_circle.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_pipe.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_rect.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_hexa20.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad4.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad8.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg2.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria6.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_faceload.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_nodeload.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_prescribeddisplacement.inp
  src/Mod/Fem/femtest/data/calculix/constraint_contact_shell_shell.inp
  src/Mod/Fem/femtest/data/calculix/constraint_sectionprint.inp
  src/Mod/Fem/femtest/data/calculix/constraint_selfweight_cantilever.inp
  src/Mod/Fem/femtest/data/calculix/constraint_tie.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_beam_hinged.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_torque.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fiveboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fivefaces.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_tensionrod_twoboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_nonlinear.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_edgeforces.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_nodeforces.inp
Labels: WB FEM

#13453 Sketcher: Make constraints menu texts more consistent
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#13454 Sketcher: Make geometry menu texts more consistent
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
Labels: WB Sketcher

#13464 Fem: Add element types to ABAQUS writer
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/FemMesh.h
  src/Mod/Fem/App/FemMeshPy.xml
  src/Mod/Fem/App/FemMeshPyImp.cpp
  src/Mod/Fem/femmesh/meshtools.py
  src/Mod/Fem/femsolver/calculix/write_mesh.py
Labels: WB FEM

#13489 Draft: Use preference-stored colors for axes colors
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft, Color

#13496 Material: MaterialTreeWidget usability enhancements
  src/Mod/Material/App/AppMaterial.cpp
  src/Mod/Material/App/MaterialFilter.cpp
  src/Mod/Material/App/MaterialFilter.h
  src/Mod/Material/App/MaterialFilterPy.xml
  src/Mod/Material/App/MaterialFilterPyImpl.cpp
  src/Mod/Material/App/MaterialLibrary.cpp
  src/Mod/Material/App/MaterialLibrary.h
  src/Mod/Material/App/MaterialManager.cpp
  src/Mod/Material/App/MaterialManager.h
  src/Mod/Material/App/MaterialManagerPyImpl.cpp
  src/Mod/Material/Gui/AppMatGui.cpp
  src/Mod/Material/Gui/CMakeLists.txt
  src/Mod/Material/Gui/DlgDisplayProperties.ui
  src/Mod/Material/Gui/DlgDisplayPropertiesImp.cpp
  src/Mod/Material/Gui/DlgDisplayPropertiesImp.h
  src/Mod/Material/Gui/DlgSettingsMaterial.cpp
  src/Mod/Material/Gui/DlgSettingsMaterial.ui
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
  src/Mod/Material/Gui/MaterialTreeWidget.h
  src/Mod/Material/Gui/MaterialTreeWidgetPy.xml
  src/Mod/Material/Gui/MaterialTreeWidgetPyImpl.cpp
Labels: Materials

#13503 [Mod] removed duplicated pi
  src/Mod/CAM/App/PathSegmentWalker.cpp
Labels: WB CAM

#13519 Sketcher: Improve GUI texts in SketcherSettingsAppearance.ui
  src/Mod/Sketcher/Gui/SketcherSettingsAppearance.ui
Labels: WB Sketcher

#13520 Fix further material issues
  src/App/MaterialPyImp.cpp
  src/Mod/Arch/ArchFence.py
  src/Mod/Arch/ArchSpace.py
  src/Mod/CAM/Path/Dressup/Gui/Dogbone.py
  src/Mod/CAM/Path/Dressup/Gui/ZCorrect.py
  src/Mod/CAM/Path/Dressup/Tags.py
  src/Mod/CAM/Path/Main/Gui/Simulator.py
Labels: Core, WB Arch, WB CAM, Materials

#13554 PySide6: Fixes #13533: QSvgWidget is not a child of QtSvg in PySide6
  cMake/FreeCAD_Helpers/SetupShibokenAndPyside.cmake
  src/Mod/Arch/ArchPrecast.py
  src/Mod/Arch/ArchWindow.py
  src/Mod/Arch/importIFClegacy.py
  src/Mod/Draft/DraftGui.py
  src/Mod/Material/MaterialEditor.py
Labels: WB Arch, WB Draft, Materials

#13594 Gui: fix linter warnings in PropertyItem.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Gui/propertyeditor/PropertyItem.h
Labels: Core

#13590 TechDraw: Refractor tracker action with proper enum
  src/Mod/TechDraw/Gui/QGTracker.h
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
  src/Mod/TechDraw/Gui/TaskDetail.h
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
Labels: WB TechDraw

#13595 Gui: DlgSettingsDocument.ui change url to https
  src/Gui/PreferencePages/DlgSettingsDocument.ui
Labels: Core

#13219 TechDraw: Unify Insert View tools (View, ProjGroup, Sheet, Arch, svg, image)
  src/Mod/TechDraw/App/DrawProjGroup.cpp
  src/Mod/TechDraw/App/DrawProjGroup.h
  src/Mod/TechDraw/App/DrawProjGroupItem.cpp
  src/Mod/TechDraw/App/DrawProjGroupItem.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/QGIProjGroup.cpp
  src/Mod/TechDraw/Gui/Resources/TechDraw.qrc
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_CameraOrientation.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_View.svg
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
  src/Mod/TechDraw/Gui/TaskProjGroup.h
  src/Mod/TechDraw/Gui/TaskProjGroup.ui
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.h
  src/Mod/TechDraw/Gui/ViewProviderPageExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderProjGroupItem.cpp
  src/Mod/TechDraw/Gui/ViewProviderProjGroupItem.h
  src/Mod/TechDraw/Gui/ViewProviderViewClip.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: WB TechDraw

#13548 App: fix linked copy on change group out of scope problem
  src/App/Link.cpp
Labels: Core

#13612 Draft: Fix QImage object has no attribute 'byteCount'
  src/Mod/Draft/draftutils/gui_utils.py
Labels: WB Draft

#13639 TD: Fix compiler warning
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
Labels: WB TechDraw

#13640 3Dconnexion Navlib: Fix for removeMarkups() function (fixes #13635)
  src/Gui/3Dconnexion/navlib/NavlibCmds.cpp
Labels: Core, Hardware: 3dconnexion

#13653 Gui: Fix MainWindowPy::removeWindow
  src/Gui/MainWindowPy.cpp
Labels: Core

#13633 Draft: revert Draft WB changes from #13294
  src/Mod/Draft/draftfunctions/upgrade.py
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_layer.py
Labels: WB Draft

#13664 FEM: Make sure that points and normals array have equal size as other…
  src/Mod/Fem/Gui/ViewProviderFemConstraint.cpp
Labels: WB FEM

#13669 PD: Fixes crash if sub-element name of reference axis is empty
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
Labels: WB Part Design

#13648 [ArchWall] fix onChanged() length to support ArchSketch
  src/Mod/Arch/ArchWall.py
Labels: WB Arch

#13663 Fix issues with wrong color for preference page tooltips
  src/Gui/DlgPreferences.ui
Labels: Core

#13678 Import: C++ DXF importer wrongly scaled polyline bulges
  src/Mod/Import/App/dxf/dxf.cpp
Labels: Core, File format: DXF

#13689 Draft: legacy DXF importer fix group and layer behavior
  src/Mod/Draft/importDXF.py
Labels: WB Draft

#13692 Draft: legacy DXF importer: downloaded libs should be reloaded
  src/Mod/Draft/importDXF.py
Labels: WB Draft, File format: DXF

#13578 UI: Update context menu with a toggle for suppress property
  src/Gui/ViewProviderSuppressibleExtension.cpp
Labels: Core

#13579 UI: update icon for assembly recompute
  src/Mod/Assembly/Gui/Resources/icons/Assembly_SolveAssembly.svg
Labels: WB Assembly

#13586 Fem: Constraint symbol scaling based on shape size - fixes #7030
  src/Mod/Fem/App/FemConstraint.cpp
  src/Mod/Fem/App/FemConstraint.h
  src/Mod/Fem/App/FemConstraintTransform.cpp
Labels: WB FEM

#13569 Fem: Remove unused view properties
  src/Mod/Fem/Gui/ViewProviderFemConstraint.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraint.h
  src/Mod/Fem/Gui/ViewProviderFemConstraintContact.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintFixed.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintFluidBoundary.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintInitialTemperature.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintOnBoundary.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintPlaneRotation.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintPressure.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintSpring.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintTemperature.cpp
  src/Mod/Fem/femviewprovider/view_constraint_tie.py
Labels: WB FEM

#13466 Fem: Add radiation heat transfer
  src/Mod/Fem/App/FemConstraintHeatflux.cpp
  src/Mod/Fem/App/FemConstraintHeatflux.h
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.h
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.ui
  src/Mod/Fem/femsolver/calculix/write_constraint_heatflux.py
  src/Mod/Fem/femsolver/calculix/write_femelement_material.py
  src/Mod/Fem/femtest/data/calculix/box_frequency.inp
  src/Mod/Fem/femtest/data/calculix/box_static.inp
  src/Mod/Fem/femtest/data/calculix/ccx_buckling_flexuralbuckling.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_circle.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_pipe.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_rect.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_hexa20.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad4.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad8.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg2.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria6.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_faceload.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_nodeload.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_prescribeddisplacement.inp
  src/Mod/Fem/femtest/data/calculix/constraint_centrif.inp
  src/Mod/Fem/femtest/data/calculix/constraint_contact_shell_shell.inp
  src/Mod/Fem/femtest/data/calculix/constraint_contact_solid_solid.inp
  src/Mod/Fem/femtest/data/calculix/constraint_sectionprint.inp
  src/Mod/Fem/femtest/data/calculix/constraint_selfweight_cantilever.inp
  src/Mod/Fem/femtest/data/calculix/constraint_tie.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_beam_hinged.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_torque.inp
  src/Mod/Fem/femtest/data/calculix/frequency_beamsimple.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fiveboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fivefaces.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_tensionrod_twoboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_nonlinear.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_edgeforces.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_nodeforces.inp
  src/Mod/Fem/femtest/data/calculix/thermomech_bimetall.inp
Labels: WB FEM

#13624 Core: TabBar: fix issue following #13508
  src/Gui/WorkbenchSelector.cpp
Labels: Core

#13625 Sketcher: Fix possible crash inside ~CurveConverter()
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
Labels: WB Sketcher

#13642 Fix memory leaks
  src/App/Application.cpp
  src/App/CMakeLists.txt
  src/App/CleanupProcess.cpp
  src/App/CleanupProcess.h
  src/Base/Quantity.cpp
  src/Mod/Material/App/AppMaterial.cpp
  src/Mod/Material/App/MaterialManager.cpp
  src/Mod/Material/App/MaterialManager.h
  src/Mod/Material/App/ModelLoader.cpp
  src/Mod/Material/App/ModelManager.cpp
  src/Mod/Material/App/ModelManager.h
Labels: Core, Materials

#13655 TechDraw: remove 'Project Shape' from Techdraw toolbar
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: WB TechDraw

#13665 Core: fix possible memory leaks when using parser
  src/App/Expression.cpp
  src/Gui/SelectionFilter.cpp
Labels: Core

#13666 Gui: Clarify cache directory as read-only in prefs, add Browse tooltip
  src/Gui/PreferencePages/DlgSettingsCacheDirectory.ui
Labels: Core

#12573 Overlay fix for default windows style and other light theme's.
  src/Gui/OverlayWidgets.cpp
  src/Gui/Stylesheets/CMakeLists.txt
  src/Gui/Stylesheets/overlay/Default_Dark-theme_Light-background.qss
  src/Gui/Stylesheets/overlay/Default_Dark-theme_dark-background.qss
  src/Gui/Stylesheets/overlay/Default_Light-theme_dark-background.qss
  src/Gui/Stylesheets/overlay/Default_Light-theme_light-background.qss
Labels: Core, UI/UX, Stylesheets

#13644 Gui: expose ViewProviderGeometryObject::getUserDefinedMaterial() to Python
  src/App/Material.cpp
  src/App/PropertyStandard.cpp
  src/Gui/Application.cpp
  src/Gui/ViewProviderGeometryObject.cpp
  src/Gui/ViewProviderGeometryObject.h
  src/Gui/ViewProviderGeometryObjectPy.xml
  src/Gui/ViewProviderGeometryObjectPyImp.cpp
Labels: Core, Materials

#13684 [FEM] CCX Solver and Gmsh Mesh Task Panel Colour output improvements
  src/Mod/Fem/femsolver/reportdialog.py
  src/Mod/Fem/femtaskpanels/task_mesh_gmsh.py
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
  src/Mod/Fem/femtools/femutils.py
Labels: WB FEM

#13687 FEM: prevent python added properties to be removed
  src/Mod/Fem/femobjects/base_fempythonobject.py
  src/Mod/Fem/femobjects/constant_vacuumpermittivity.py
  src/Mod/Fem/femobjects/constraint_bodyheatsource.py
  src/Mod/Fem/femobjects/constraint_centrif.py
  src/Mod/Fem/femobjects/constraint_currentdensity.py
  src/Mod/Fem/femobjects/constraint_electrostaticpotential.py
  src/Mod/Fem/femobjects/constraint_flowvelocity.py
  src/Mod/Fem/femobjects/constraint_initialflowvelocity.py
  src/Mod/Fem/femobjects/constraint_initialpressure.py
  src/Mod/Fem/femobjects/constraint_magnetization.py
  src/Mod/Fem/femobjects/constraint_selfweight.py
  src/Mod/Fem/femobjects/element_fluid1D.py
  src/Mod/Fem/femobjects/element_geometry1D.py
  src/Mod/Fem/femobjects/element_geometry2D.py
  src/Mod/Fem/femobjects/element_rotation1D.py
  src/Mod/Fem/femobjects/material_common.py
  src/Mod/Fem/femobjects/material_mechanicalnonlinear.py
  src/Mod/Fem/femobjects/material_reinforced.py
  src/Mod/Fem/femobjects/mesh_boundarylayer.py
  src/Mod/Fem/femobjects/mesh_gmsh.py
  src/Mod/Fem/femobjects/mesh_group.py
  src/Mod/Fem/femobjects/mesh_region.py
  src/Mod/Fem/femobjects/result_mechanical.py
  src/Mod/Fem/femobjects/solver_ccxtools.py
Labels: WB FEM

#13647 Gui: Use Shiboken::Module::TypeInitStruct for module imports via Shiboken6
  src/Gui/PythonWrapper.cpp
Labels: Core

#13713 CI: Use --no-prune when installing the devenv on Windows to prevent errors.
  .github/workflows/sub_buildWindowsConda.yml
Labels: :octocat:

#13337 Fix run time errors with python3.12 and pyside6
  src/Mod/Arch/exportIFC.py
  src/Mod/Arch/importGBXML.py
  src/Mod/Arch/importIFC.py
  src/Mod/Arch/importIFClegacy.py
  src/Mod/Arch/importJSON.py
  src/Mod/Arch/importOBJ.py
  src/Mod/Arch/importSH3D.py
  src/Mod/Arch/importSHP.py
  src/Mod/Arch/importWebGL.py
  src/Mod/CAM/Path/Post/scripts/KineticNCBeamicon2_post.py
  src/Mod/CAM/Path/Post/scripts/centroid_post.py
  src/Mod/CAM/Path/Post/scripts/dumper_post.py
  src/Mod/CAM/Path/Post/scripts/dxf_post.py
  src/Mod/CAM/Path/Post/scripts/dynapath_4060_post.py
  src/Mod/CAM/Path/Post/scripts/dynapath_post.py
  src/Mod/CAM/Path/Post/scripts/estlcam_post.py
  src/Mod/CAM/Path/Post/scripts/example_post.py
  src/Mod/CAM/Path/Post/scripts/example_pre.py
  src/Mod/CAM/Path/Post/scripts/fablin_post.py
  src/Mod/CAM/Path/Post/scripts/fangling_post.py
  src/Mod/CAM/Path/Post/scripts/fanuc_post.py
  src/Mod/CAM/Path/Post/scripts/gcode_pre.py
  src/Mod/CAM/Path/Post/scripts/grbl_post.py
  src/Mod/CAM/Path/Post/scripts/heidenhain_post.py
  src/Mod/CAM/Path/Post/scripts/jtech_post.py
  src/Mod/CAM/Path/Post/scripts/linuxcnc_post.py
  src/Mod/CAM/Path/Post/scripts/mach3_mach4_post.py
  src/Mod/CAM/Path/Post/scripts/opensbp_post.py
  src/Mod/CAM/Path/Post/scripts/opensbp_pre.py
  src/Mod/CAM/Path/Post/scripts/philips_post.py
  src/Mod/CAM/Path/Post/scripts/rml_post.py
  src/Mod/CAM/Path/Post/scripts/slic3r_pre.py
  src/Mod/CAM/Path/Post/scripts/smoothie_post.py
  src/Mod/CAM/Path/Post/scripts/uccnc_post.py
  src/Mod/CAM/Path/Post/scripts/wedm_post.py
  src/Mod/Draft/importAirfoilDAT.py
  src/Mod/Draft/importDWG.py
  src/Mod/Draft/importDXF.py
  src/Mod/Draft/importOCA.py
  src/Mod/Draft/importSVG.py
  src/Mod/Fem/feminout/importCcxDatResults.py
  src/Mod/Fem/feminout/importCcxFrdResults.py
  src/Mod/Fem/feminout/importFenicsMesh.py
  src/Mod/Fem/feminout/importInpMesh.py
  src/Mod/Fem/feminout/importPyMesh.py
  src/Mod/Fem/feminout/importVTKResults.py
  src/Mod/Fem/feminout/importYamlJsonMesh.py
  src/Mod/Fem/feminout/importZ88Mesh.py
  src/Mod/Fem/feminout/importZ88O2Results.py
  src/Mod/Idf/Idf.py
  src/Mod/Material/importFCMat.py
  src/Mod/OpenSCAD/exportCSG.py
  src/Mod/OpenSCAD/importCSG.py
  src/Mod/OpenSCAD/prototype.py
  src/Mod/Sandbox/exportDRAWEXE.py
  src/Mod/Spreadsheet/importXLSX.py
Labels: WB Arch, WB Draft, WB CAM, WB Spreadsheet, WB OpenSCAD, 3rd party: Qt 6, Materials
