Repository FreeCAD/FreeCAD, pull requests merged in 2024-07, with the labels that each got.

#14873 [Icons]Revision of TechDraw Icons(Cascade-Coord)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCascadeHorizDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCascadeObliqueDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCascadeVertDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCreateHorizCoordDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCreateObliqueCoordDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCreateVertCoordDimension.svg
Labels: WB TechDraw

#14876 [Icons]Revision of TechDraw Icons(chain)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCreateHorizChainDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCreateObliqueChainDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCreateVertChainDimension.svg
Labels: WB TechDraw

#14877 [Icons]Revision of TechDraw Icons(Chamfer)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCreateHorizChamferDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCreateVertChamferDimension.svg
Labels: WB TechDraw

#14879 [Icons]Revision of TechDraw Icons(Decimal)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionDecreaseDecimal.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionIncreaseDecimal.svg
Labels: WB TechDraw

#14880 [Icons]Revision of TechDraw Icons(Dimension_Pointer)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_Dimension_Pointer.svg
Labels: WB TechDraw

#14883 [Icons]Revision of TechDraw Icons(Insert)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCreateLengthArc.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionInsertDiameter.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionInsertRepetition.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionInsertSquare.svg
Labels: WB TechDraw

#14894 [Icons]Revision of TechDraw Icons(tree)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_TreeHatch.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_TreeMulti.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_TreePage.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_TreePageSync.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_TreePageTemplate.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_TreePageUnsync.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_TreeProjGroup.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_TreeSection.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_TreeSpreadsheet.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_TreeSymbol.svg
Labels: WB TechDraw

#14891 [Icons]Revision of TechDraw Icons(Stack)
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_StackBottom.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_StackDown.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_StackTop.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_StackUp.svg
Labels: WB TechDraw

#14890 [Icons]Revision of TechDraw Icons(section)
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ComplexSection.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_SectionView.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/section-down.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/section-left.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/section-right.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/section-up.svg
Labels: WB TechDraw

#14889 [Icons]Revision of TechDraw Icons(proj)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ProjBottom.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ProjFront.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ProjFrontBottomLeft.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ProjFrontBottomRight.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ProjFrontTopLeft.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ProjFrontTopRight.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ProjLeft.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ProjRear.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ProjRight.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ProjTop.svg
Labels: WB TechDraw

#14941 BIM: Adeed missing menu entries
  src/Mod/BIM/InitGui.py
Labels: WB BIM

#14974 Preferences: Reorganize UI and Theme pages in Display group
  src/Gui/CMakeLists.txt
  src/Gui/PreferencePages/DlgSettingsAdvanced.cpp
  src/Gui/PreferencePages/DlgSettingsAdvanced.h
  src/Gui/PreferencePages/DlgSettingsAdvanced.py
  src/Gui/PreferencePages/DlgSettingsTheme.cpp
  src/Gui/PreferencePages/DlgSettingsTheme.h
  src/Gui/PreferencePages/DlgSettingsTheme.ui
  src/Gui/PreferencePages/DlgSettingsUI.cpp
  src/Gui/PreferencePages/DlgSettingsUI.h
  src/Gui/PreferencePages/DlgSettingsUI.ui
  src/Gui/TreeParams.py
  src/Gui/resource.cpp
Labels: Core, 1.0

#14982 Update Tree view mode tooltip and text in Preferences
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/PreferencePages/DlgSettingsGeneral.ui
Labels: Core, 1.0

#14921 [Gui] Preferences - workbenches advise user how to sort alphabetically
  src/Gui/PreferencePages/DlgSettingsWorkbenches.ui
Labels: Core, 1.0

#14790 Assembly: BOM follow up
  src/Mod/Assembly/CommandCreateBom.py
  src/Mod/Assembly/Gui/Resources/panels/TaskAssemblyCreateBom.ui
  src/Mod/Assembly/Gui/ViewProviderBom.cpp
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.cpp
Labels: WB Spreadsheet, 1.0, WB Assembly

#14455 Gui: Add dragging support for custom ToolBarAreas
  src/Gui/MainWindow.cpp
  src/Gui/ToolBarAreaWidget.cpp
  src/Gui/ToolBarManager.cpp
  src/Gui/ToolBarManager.h
  src/Gui/resource.cpp
  src/Mod/BIM/BimStatusBar.py
  src/Mod/BIM/bimcommands/BimIfcExplorer.py
  src/Mod/BIM/bimcommands/BimViews.py
  src/Mod/Draft/DraftGui.py
Labels: Core, 1.0

#14406 Activate Part/Part Design check and refine preferences by default
  src/Mod/Part/App/FeaturePartBoolean.cpp
  src/Mod/Part/App/FeaturePartCommon.cpp
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/Part/Gui/DlgSettingsGeneral.ui
  src/Mod/PartDesign/App/FeatureAddSub.cpp
  src/Mod/PartDesign/App/FeatureBoolean.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
Labels: WB Part Design, WB Part, 1.0

#14470 MeasureGui: Paint icons in textcolor
  src/Gui/SoTextLabel.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureBase.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureBase.h
Labels: Core

#14738 Assembly: Limits: Set one checkbox for each limit.
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.h
  src/Mod/Assembly/Gui/Resources/panels/TaskAssemblyCreateJoint.ui
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.h
  src/Mod/Assembly/Gui/ViewProviderAssemblyPy.xml
  src/Mod/Assembly/Gui/ViewProviderAssemblyPyImp.cpp
  src/Mod/Assembly/JointObject.py
  src/Mod/Assembly/UtilsAssembly.py
Labels: WB Assembly

#15076 Core: Update color bar when changing preferences
  src/Gui/CMakeLists.txt
  src/Gui/SoFCColorBar.cpp
  src/Gui/SoFCColorBar.h
  src/Gui/SoFCColorBarNotifier.cpp
  src/Gui/SoFCColorBarNotifier.h
  src/Gui/SoFCColorGradient.cpp
  src/Gui/SoFCColorGradient.h
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Inspection/Gui/ViewProviderInspection.cpp
  src/Mod/Mesh/Gui/ViewProviderCurvature.cpp
Labels: Core, WB FEM, WB Mesh

#14885 [Icons]Revision of TechDraw Icons(LineAttributes)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionChangeLineAttributes.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionSelectLineAttributes.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_DecorateLine.svg
Labels: WB TechDraw

#15074 Sketcher: New carbon copy icons
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_CarbonCopy.svg
  src/Mod/Sketcher/Gui/Resources/icons/geometry/Sketcher_CarbonCopy_Constr.svg
Labels: WB Sketcher

#14874 [Icons]Revision of TechDraw Icons(blue)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCircleCenterLines.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionDrawCosmArc.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionDrawCosmCircle.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionDrawCosmCircle3Points.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionHoleCircle.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionLineParallel.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionLinePerpendicular.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_CosmeticCircle.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_LeaderLine.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_Line2Points.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_Midpoints.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_Quadrants.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_RedrawPage.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_RichTextAnnotation.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_Symbol.svg
Labels: WB TechDraw

#14875 [Icons]Revision of TechDraw Icons(Centerline)
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_2LineCenterline.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_2PointCenterline.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_FaceCenterLine.svg
Labels: WB TechDraw

#14881 [Icons]Revision of TechDraw Icons(Dimensions)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_3PtAngleDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_AngleDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_Balloon.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_DiameterDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_Dimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_DimensionRepair.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_HorizontalDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_HorizontalExtentDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_LandmarkDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_LengthDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_LinkDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_RadiusDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_VerticalDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_VerticalExtentDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_AxoLengthDimension.svg
Labels: WB TechDraw

#14884 [Icons]Revision of TechDraw Icons(Line lengths)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionExtendLine.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionShortenLine.svg
Labels: WB TechDraw

#14896 [Icons]Revision of TechDraw Icons(view)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_CameraOrientation.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionPositionSectionView.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ActiveView.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_BrokenView.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ClipGroup.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_DetailView.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_Multiview.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ProjectShape.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ShareView.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_View.svg
Labels: WB TechDraw

#14895 [Icons]Revision of TechDraw Icons(Vertex)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionVertexAtIntersection.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_AddOffsetVertex.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_CosmeticVertex.svg
Labels: WB TechDraw

#14893 [Icons]Revision of TechDraw Icons(Thread)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadBoltBottom.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadBoltSide.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadHoleBottom.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadHoleSide.svg
Labels: WB TechDraw

#14827 (GUI) Delete dark behave.
  src/Gui/PreferencePacks/package.xml
  src/Gui/Stylesheets/Behave-dark.qss
  src/Gui/Stylesheets/CMakeLists.txt
  src/Gui/Stylesheets/overlay/DarkBehave_overlay.qss
Labels: Core

#15070 FEM: New Elmer solver icon
  src/Mod/Fem/Gui/Resources/icons/FEM_SolverElmer.svg
Labels: WB FEM

#14801 PD: Rename duplicated test method
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: WB Part Design

#14674 Assembly: TNP
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.h
  src/Mod/Assembly/AssemblyTests/TestCore.py
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/JointObject.py
  src/Mod/Assembly/UtilsAssembly.py
Labels: WB Assembly

#14461 [Part][Sketcher] Fix some B-spline trimming issues
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/Geometry.cpp
Labels: WB Part, WB Sketcher

#14926 Fem: Clean up TaskFemConstraint* classes
  src/Mod/Fem/Gui/TaskFemConstraint.cpp
  src/Mod/Fem/Gui/TaskFemConstraintContact.cpp
  src/Mod/Fem/Gui/TaskFemConstraintContact.h
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.h
  src/Mod/Fem/Gui/TaskFemConstraintFixed.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFixed.h
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.h
  src/Mod/Fem/Gui/TaskFemConstraintForce.cpp
  src/Mod/Fem/Gui/TaskFemConstraintForce.h
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.h
  src/Mod/Fem/Gui/TaskFemConstraintInitialTemperature.cpp
  src/Mod/Fem/Gui/TaskFemConstraintInitialTemperature.h
  src/Mod/Fem/Gui/TaskFemConstraintPlaneRotation.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPlaneRotation.h
  src/Mod/Fem/Gui/TaskFemConstraintPressure.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPressure.h
  src/Mod/Fem/Gui/TaskFemConstraintPulley.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPulley.h
  src/Mod/Fem/Gui/TaskFemConstraintRigidBody.cpp
  src/Mod/Fem/Gui/TaskFemConstraintRigidBody.h
  src/Mod/Fem/Gui/TaskFemConstraintSpring.cpp
  src/Mod/Fem/Gui/TaskFemConstraintSpring.h
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.h
  src/Mod/Fem/Gui/TaskFemConstraintTransform.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTransform.h
  src/Mod/Fem/Gui/ViewProviderFemConstraintOnBoundary.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintOnBoundary.h
Labels: WB FEM

#14892 [Icons]Revision of TechDraw Icons(symbol)
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_SurfaceFinishSymbols.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_WeldSymbol.svg
Labels: WB TechDraw

#14888 [Icons]Revision of TechDraw Icons(posChain)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionPosHorizChainDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionPosObliqueChainDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionPosVertChainDimension.svg
Labels: WB TechDraw

#14887 [Icons]Revision of TechDraw Icons(others)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_Pages.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_Annotation.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ArchView.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_DraftView.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ExportPageDXF.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ExportPageSVG.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_FaceDecor.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_FillTemplateFields.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_HoleShaftFit.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_Image.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_PageDefault.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_PageTemplate.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_PrintAll.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ProjectionGroup.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_SpreadsheetView.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ToggleFrame.svg
  src/Mod/TechDraw/Gui/Resources/icons/preferences-techdraw.svg
Labels: WB TechDraw

#14886 [Icons]Revision of TechDraw Icons(lock)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionLockUnlockView.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_Lock.svg
Labels: WB TechDraw

#14878 [Icons]Revision of TechDraw Icons(Char)
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_AreaDimension.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionArcLengthAnnotation.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionAreaAnnotation.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCustomizeFormat.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionRemovePrefixChar.svg
Labels: WB TechDraw

#14882 [Icons]Revision of TechDraw Icons(Hatch)
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_GeometricHatch.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_Hatch.svg
Labels: WB TechDraw

#14935 BIM: Fixed error when closing IfcExplorer tool
  src/Mod/BIM/bimcommands/BimIfcExplorer.py
Labels: WB BIM

#14958 BIM: Check for pip when running IfcOpenShell update
  src/Mod/BIM/nativeifc/ifc_openshell.py
Labels: WB BIM

#15146 Draft: fix Draft_Shape2DView warnings
  src/Mod/Draft/draftobjects/shape2dview.py
Labels: WB Draft

#15060 Sketcher: Fix format string in ExternalGeometryFacade::initExtensions()
  src/Mod/Sketcher/App/ExternalGeometryFacade.cpp
Labels: WB Sketcher

#15106 Gui: Fix crash when trying to calibrate image after document is closed
  src/Gui/TaskView/TaskImage.cpp
Labels: Core

#14986 Spreadsheet: Fix SheetPython::getViewProviderName() to return the cor…
  src/Mod/Spreadsheet/App/Sheet.cpp
Labels: WB Spreadsheet

#14989 Gui: Fix crash in QuarterWidgetP::removeFromCacheContext
  src/Gui/Quarter/QuarterWidgetP.cpp
Labels: Core

#15039 Fixes #14772: Random color problem
  src/Gui/CommandFeat.cpp
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
Labels: Core, WB Part Design

#15143 PD: Do not set hard-coded maximum for thickness parameter
  src/Mod/PartDesign/Gui/TaskThicknessParameters.cpp
  src/Mod/PartDesign/Gui/TaskThicknessParameters.h
Labels: WB Part Design

#15196 PD: Remove the Migrate tool from GUI
  src/Mod/PartDesign/Gui/Workbench.cpp
Labels: WB Part Design

#15209 Gui: Don't show Python console by default
  src/Gui/Workbench.cpp
Labels: Core

#15213 PD: Remove dead code from workbench class
  src/Mod/PartDesign/Gui/Workbench.cpp
  src/Mod/PartDesign/Gui/Workbench.h
Labels: WB Part Design

#15215 MSVC: Fix warning C4005: 'NOMINMAX': macro redefinition
  src/Mod/Fem/Gui/PreCompiled.h
  src/Mod/PartDesign/Gui/PreCompiled.h
  src/Mod/Sketcher/Gui/PreCompiled.h
  src/Mod/TechDraw/Gui/PreCompiled.h
Labels: WB FEM, WB TechDraw, WB Part Design, WB Sketcher

#15230 FEM: Fix a small typo in the Mystran error message
  src/Mod/Fem/feminout/exportNastranMesh.py
Labels: WB FEM

#15226 TD: fix TechDraw .svg autofill and editable tags
  src/Mod/TechDraw/Templates/A3_Landscape_TD.svg
  src/Mod/TechDraw/Templates/A3_Landscape_m52.svg
  src/Mod/TechDraw/Templates/A4_Landscape_TD.svg
  src/Mod/TechDraw/Templates/ANSIB.svg
  src/Mod/TechDraw/Templates/ANSIB_Landscape.svg
  src/Mod/TechDraw/Templates/ANSIB_Portrait.svg
  src/Mod/TechDraw/Templates/ANSIC_Portrait.svg
  src/Mod/TechDraw/Templates/ANSID_Landscape.svg
  src/Mod/TechDraw/Templates/ANSID_Portrait.svg
  src/Mod/TechDraw/Templates/ANSIE_Landscape.svg
  src/Mod/TechDraw/Templates/ANSIE_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_A_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_A_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_B_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_B_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_C_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_C_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_D_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_D_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E1_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E1_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E2_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E2_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E3_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E3_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E_Portrait.svg
  src/Mod/TechDraw/Templates/USLetter_Landscape.svg
  src/Mod/TechDraw/Templates/locale/ca/A0_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A0_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A1_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A1_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A2_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A2_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A3_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A3_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Portrait_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Portrait_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/de/A0_Landscape_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/locale/de/A1_Landscape_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/locale/de/A2_Landscape_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/locale/de/A3_Landscape_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/locale/de/A4_Landscape_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/locale/de/A4_Portrait_ISO7200_DE.svg
  src/Mod/TechDraw/Templates/locale/es-AR/A0.svg
  src/Mod/TechDraw/Templates/locale/es-AR/A1.svg
  src/Mod/TechDraw/Templates/locale/es-AR/A2.svg
  src/Mod/TechDraw/Templates/locale/es-AR/A3.svg
  src/Mod/TechDraw/Templates/locale/es-AR/A4.svg
  src/Mod/TechDraw/Templates/locale/fr/A3_Landscape_FR_m52.svg
  src/Mod/TechDraw/Templates/locale/it/A3_Landscape_IT_m52.svg
Labels: WB TechDraw

#15245 [TD]fix display of spreadsheet cells with no horiz alignment
  src/Mod/TechDraw/App/DrawViewSpreadsheet.cpp
Labels: WB TechDraw

#14942 Assembly: Enable Insert Component taskbox to grow
  src/Mod/Assembly/CommandInsertLink.py
  src/Mod/Assembly/Gui/Resources/panels/TaskAssemblyInsertLink.ui
Labels: WB Assembly

#14954 Sketcher: Handle PyException in createGeneratedAutoConstraints
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
Labels: WB Sketcher

#14951 Sketcher: BSpline: Fix crash when cancelled while only one autoconstrained point
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
Labels: WB Sketcher

#14962 Measure: Fix restoring/creating measurements of sketch elements
  src/Mod/Part/App/MeasureClient.cpp
Labels: WB Part

#14984 Sketcher: BSpline DSH: Fix crash #14964
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
Labels: WB Sketcher

#15008 fix unique ptr usage in sketch
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/CommandSketcherVirtualSpace.cpp
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Sketcher/Gui/Utils.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: WB Sketcher

#15007 Quarter: Update Quarter code
  src/Gui/Quarter/ContextMenu.h
  src/Gui/Quarter/DragDropHandler.cpp
  src/Gui/Quarter/EventFilter.cpp
  src/Gui/Quarter/FocusHandler.cpp
  src/Gui/Quarter/ImageReader.cpp
  src/Gui/Quarter/InputDevice.cpp
  src/Gui/Quarter/Keyboard.cpp
  src/Gui/Quarter/Mouse.cpp
  src/Gui/Quarter/QuarterWidget.cpp
  src/Gui/Quarter/QuarterWidget.h
  src/Gui/Quarter/QuarterWidgetP.cpp
  src/Gui/Quarter/SpaceNavigatorDevice.cpp
  src/Gui/Quarter/devices/InputDevice.h
  src/Gui/Quarter/devices/Keyboard.h
  src/Gui/Quarter/devices/Mouse.h
  src/Gui/Quarter/devices/SpaceNavigatorDevice.h
  src/Gui/Quarter/eventhandlers/DragDropHandler.h
  src/Gui/Quarter/eventhandlers/EventFilter.h
  src/Gui/Quarter/eventhandlers/FocusHandler.h
  src/Gui/SoTouchEvents.cpp
  src/Gui/View3DInventorViewer.cpp
Labels: Core

#14995 Fem: Check null shape in constraint bearing
  src/Mod/Fem/App/FemConstraintBearing.cpp
Labels: WB FEM

#15036 Sketcher: Resolve unsafe combination of bool and int in |
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
Labels: WB Sketcher

#15084 TechDraw: Fix 14038 and Refactor CommandCreateDims
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
Labels: WB TechDraw

#15075 Sketcher: Increase default width of dashed lines
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
  src/Mod/Sketcher/Gui/SketcherSettingsAppearance.ui
Labels: WB Sketcher

#15092 Toponaming: Tweak test framework to allow leaving documents for exami…
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: WB Part Design

#15093 Sketcher: scale/translate: fix OVP warning if disabled
  src/Mod/Sketcher/Gui/DrawSketchHandlerScale.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTranslate.h
Labels: WB Sketcher

#15096 Tests: Make PD and Sketcher tests independent of user settings
  src/Mod/Part/parttests/TopoShapeTest.py
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
Labels: WB Part Design, WB Part, WB Sketcher

#15029 Mesh: Allow to measure distances with a mesh
  src/Mod/Mesh/App/AppMesh.cpp
Labels: WB Mesh

#15112 BIM: Fixed possible filename ambiguity in Layers
  src/Mod/BIM/Resources/Arch.qrc
  src/Mod/BIM/Resources/ui/dialogLayersIFC.ui
  src/Mod/BIM/bimcommands/BimLayers.py
Labels: WB BIM

#14979 Sketcher: Dimension: Fix 2 bugs.
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#14985 Sketcher: Bspline: few fixes
  src/Mod/Sketcher/Gui/DrawSketchDefaultWidgetController.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
Labels: WB Sketcher

#15168 Remove QtStyle when applying Classic theme
  src/Gui/PreferencePacks/Classic/post.FCMacro
Labels: Core

#15299 [AddonManager] Fix transferTimeout AttributeError
  src/Mod/AddonManager/NetworkManager.py
Labels: Addon Manager

#15238 FEM: Fix typo in general preference
  src/Mod/Fem/Gui/DlgSettingsFemGeneral.ui
Labels: WB FEM

#15260 Fix various typos throughout the codebase
  src/App/MeasureManagerPy.xml
  src/Gui/ParamHandler.h
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/BomObject.cpp
  src/Mod/Assembly/CommandCreateView.py
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/BIM/nativeifc/ifc_generator.py
  src/Mod/BIM/nativeifc/ifc_materials.py
  src/Mod/BIM/nativeifc/ifc_tools.py
  src/Mod/BIM/utils/convertPsets.py
  src/Mod/CAM/Path/Main/Gui/SimulatorGL.py
  src/Mod/CAM/Path/Op/Adaptive.py
  src/Mod/CAM/Path/Op/Vcarve.py
  src/Mod/CAM/PathSimulator/AppGL/MillSimulation.cpp
  src/Mod/CAM/Tests/TestLinuxCNCPost.py
  src/Mod/Draft/draftgeoutils/offsets.py
  src/Mod/Measure/App/MeasureBase.cpp
  src/Mod/Measure/UtilsMeasure.py
  src/Mod/Part/parttests/ColorTransparencyTest.py
  src/Mod/Robot/App/kdl_cp/joint.hpp
Labels: Core, WB BIM, WB Draft, WB CAM, WB Part, WB Assembly

#15242 Assembly: Small fix of Assembly preference text
  src/Mod/Assembly/Gui/Resources/preferences/Assembly.ui
Labels: WB Assembly

#15273 Materials: Add tooltips to buttons
  src/Mod/Material/Gui/MaterialsEditor.ui
  src/Mod/Material/Gui/ModelSelect.ui
Labels: Materials

#15237 Fix confusing Persistent section cut window title
  src/Mod/Part/Gui/SectionCutting.ui
Labels: WB Part

#14561 Toponaming: Add missing TNP element name code; rough in more TNP tests
  src/App/ElementNamingUtils.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  tests/src/App/CMakeLists.txt
  tests/src/App/ElementNamingUtils.cpp
Labels: Core, WB Part Design

#15258 Adjust PropertyTopoShape::Save code for correctness.
  src/Mod/Part/App/PropertyTopoShape.cpp
Labels: WB Part

#15254 Test: Add test to validate correct XML output of Content attribute
  src/Mod/Test/Document.py
Labels: WB Test

#15214 Toponaming: Comment out console warnings triggered by ex…
  src/Mod/Sketcher/App/ExternalGeometryFacade.cpp
Labels: WB Sketcher

#15116 Gui: Extend TaskDialog
  src/Gui/TaskView/TaskDialog.cpp
  src/Gui/TaskView/TaskDialog.h
  src/Gui/TaskView/TaskDialogPython.cpp
  src/Gui/TaskView/TaskDialogPython.h
  src/Gui/TaskView/TaskView.cpp
  src/Gui/TaskView/TaskView.h
Labels: Core

#15118 Assembly: Create joint: prevent errors on undo/ctrl-Z
  src/Mod/Assembly/CommandCreateJoint.py
  src/Mod/Assembly/JointObject.py
Labels: WB Assembly

#15191 Core: In dialog to add property only list types that can be instantiated
  src/Base/BaseClass.h
  src/Base/Type.cpp
  src/Base/Type.h
  src/Gui/DlgAddProperty.cpp
Labels: Core

#15317 BIM: Fixed IfcOpenShell imports
  src/Mod/BIM/nativeifc/ifc_generator.py
  src/Mod/BIM/nativeifc/ifc_layers.py
  src/Mod/BIM/nativeifc/ifc_materials.py
  src/Mod/BIM/nativeifc/ifc_selftest.py
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: WB BIM

#15142 BIM: Fixed remaining warnings and popups
  src/Mod/BIM/nativeifc/ifc_generator.py
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: WB BIM

#15341 BIM: Added delay to ifc viewprovider drag and drop
  src/Mod/BIM/nativeifc/ifc_viewproviders.py
Labels: WB BIM

#15294 [Icons]TechDraw_GeometricHatch.svg fix
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_GeometricHatch.svg
Labels: WB TechDraw

#15269 [Icons]TechDraw_PageTemplate.svg fix
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_PageTemplate.svg
Labels: WB TechDraw

#15358 Addon Manager: Correct update button text regression
  src/Mod/AddonManager/Widgets/addonmanager_widget_global_buttons.py
Labels: Addon Manager

#15359 Addon Manager: Fix Python dependencies button
  src/Mod/AddonManager/AddonManager.py
Labels: Addon Manager

#15360 Addon Manager: Eliminate use of Qt::WindowStaysOnTopHint
  src/Mod/AddonManager/NetworkManager.py
  src/Mod/AddonManager/addonmanager_firstrun.py
  src/Mod/AddonManager/addonmanager_installer_gui.py
  src/Mod/AddonManager/addonmanager_update_all_gui.py
  src/Mod/AddonManager/change_branch.py
  src/Mod/AddonManager/install_to_toolbar.py
  src/Mod/AddonManager/manage_python_dependencies.py
Labels: Addon Manager

#15292 BIM: more tests in IfcOpenShell tool
  src/Mod/BIM/nativeifc/ifc_openshell.py
Labels: WB BIM

#15368 Material: Change "Custom Appearance" to sentence case in ui files
  src/Mod/Material/Gui/DlgDisplayProperties.ui
  src/Mod/Part/Gui/TaskFaceAppearances.ui
Labels: WB Part, Materials

#15165 Sketcher: Fix undo of external creation not working.
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#15290 Sketcher: Fix offset crash that was caused by coincident wires ...
  src/Mod/Sketcher/Gui/DrawSketchHandlerOffset.h
Labels: WB Sketcher

#15241 FEM: Remove empty preference list item
  src/Mod/Fem/Gui/DlgSettingsFemInOutVtk.ui
Labels: WB FEM

#15204 Gui: Minor cleanup related to obsolete Part_Measure tools
  src/Gui/Icons/Part_Measure_Clear_All.svg
  src/Gui/Icons/Part_Measure_Toggle_All.svg
  src/Gui/Icons/resource.qrc
  src/Gui/PreferencePackTemplates/Shortcuts.cfg
Labels: Core

#15199 Gui: fix icon name conflict related to Std_ViewScreenShot
  src/Gui/CommandView.cpp
  src/Gui/Icons/Std_ViewScreenShot.svg
  src/Gui/Icons/camera-photo.svg
  src/Gui/Icons/resource.qrc
Labels: Core

#15190 MeasureGui: Fix measure dependency violation
  src/Gui/CMakeLists.txt
  src/Gui/CommandView.cpp
  src/Gui/Workbench.cpp
  src/Mod/Measure/Gui/AppMeasureGui.cpp
  src/Mod/Measure/Gui/CMakeLists.txt
  src/Mod/Measure/Gui/Command.cpp
  src/Mod/Measure/Gui/TaskMeasure.cpp
  src/Mod/Measure/Gui/TaskMeasure.h
  src/Mod/Measure/Gui/WorkbenchManipulator.cpp
  src/Mod/Measure/Gui/WorkbenchManipulator.h
Labels: Core

#15185 Assembly: Insert link : Insert to origin if it is within view.
  src/Mod/Assembly/CommandInsertLink.py
Labels: WB Assembly

#15177 [TNP] Fix python get element. partially fixes #15095
  src/Mod/Part/App/TopoShapePy.xml
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: WB Part Design, WB Part

#15174 Core: Add a missing interpeter lock
  src/Base/SmartPtrPy.cpp
Labels: Core

#15171 Gui: Prevent invalid editors in VarSet dialog
  src/Gui/DlgAddPropertyVarSet.cpp
  src/Gui/DlgAddPropertyVarSet.h
Labels: Core

#15403 BIM: Trim trailing newlines
  CODE_OF_CONDUCT.md
  PRIVACY_POLICY.md
  src/Mod/BIM/ArchBuildingPart.py
  src/Mod/BIM/ArchRoof.py
  src/Mod/BIM/ArchSpace.py
  src/Mod/BIM/Resources/create_qrc.py
  src/Mod/BIM/bimcommands/BimArchUtils.py
  src/Mod/BIM/bimcommands/BimBeam.py
  src/Mod/BIM/bimcommands/BimClassification.py
  src/Mod/BIM/bimcommands/BimEquipment.py
  src/Mod/BIM/bimcommands/BimPipe.py
  src/Mod/BIM/bimcommands/BimProject.py
  src/Mod/BIM/bimcommands/BimRebar.py
  src/Mod/BIM/bimcommands/BimSectionPlane.py
  src/Mod/BIM/bimcommands/BimTogglePanels.py
  src/Mod/BIM/bimcommands/BimTruss.py
  src/Mod/BIM/bimcommands/BimViews.py
  src/Mod/BIM/nativeifc/ifc_openshell.py
  src/Mod/BIM/nativeifc/ifc_selftest.py
  src/Mod/BIM/utils/convertPsets.py
Labels: WB BIM

#15404 TD: Trim trailing newlines
  src/Mod/TechDraw/App/DrawViewCollection.cpp
  src/Mod/TechDraw/App/ShapeExtractor.cpp
  src/Mod/TechDraw/TechDrawTools/CommandAxoLengthDimension.py
  src/Mod/TechDraw/TechDrawTools/CommandPositionSectionView.py
Labels: WB TechDraw

#15406 Path (and PathSimulator): Trim trailing newlines
  src/Mod/CAM/Path/Main/Gui/SimulatorGL.py
  src/Mod/CAM/Path/Post/scripts/generic_post.py
  src/Mod/CAM/PathSimulator/AppGL/SimShapes.cpp
Labels: WB CAM

#15422 FEM: Fix further typo in Mystran error message
  src/Mod/Fem/femsolver/mystran/writer.py
Labels: WB FEM

#15420 FEM: New Erase elements icon
  src/Mod/Fem/Gui/Resources/icons/FEM_CreateElementsSet.svg
Labels: WB FEM

#15417 Measure: Fix memory leak in MeasureDistanceInfo
  src/Mod/Measure/App/MeasureDistance.cpp
  src/Mod/Part/App/MeasureClient.cpp
  src/Mod/Part/App/MeasureInfo.h
Labels: WB Part

#15414 Part: Fixes #15411: ColorPerFace test fails
  src/Mod/Part/parttests/ColorPerFaceTest.py
Labels: WB Part

#15288 Assembly: Prevent insertion of parent objects that cause dependency loop
  src/Mod/Assembly/CommandInsertLink.py
Labels: WB Assembly

#15167 Sketcher/Techdraw: add resetSettingsToDefaults to reset correctly dimension tool settings
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensionsImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensionsImp.h
Labels: WB Sketcher

#15179 FEM: Fix error with custom material card
  src/Mod/Fem/femtaskpanels/task_material_common.py
Labels: WB FEM

#15318 UI: Fix repeated names in UI files
  src/Gui/PreferencePages/DlgSettingsUI.ui
  src/Mod/Fem/Gui/TaskTetParameter.ui
Labels: Core, WB FEM

#15160 Sketcher: re-apply cursor of tool when clicking.
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#15010 MeasureGui: Add MeasureDistance X, Y and Z components back
  src/Gui/InventorAll.h
  src/Mod/Measure/App/MeasureDistance.cpp
  src/Mod/Measure/App/MeasureDistance.h
  src/Mod/Measure/Gui/AppMeasureGui.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureBase.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureBase.h
  src/Mod/Measure/Gui/ViewProviderMeasureDistance.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureDistance.h
Labels: 1.0

#15423 Materials: Trim trailing newlines
  src/Mod/Material/Gui/MaterialDelegate.cpp
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
  src/Mod/Material/materialtests/TestMaterialFilter.py
  src/Mod/Material/materialtools/Tools/ConvertFCMat.py
Labels: Materials

#15425 FEM: Fix poor visibility of frequency analysis icon
  src/Mod/Fem/Gui/Resources/icons/fem-solver-analysis-frequency.svg
Labels: WB FEM

#14495 Fem: fix searching 3rd-party binaries in system path
  src/Mod/Fem/App/FemTools.cpp
  src/Mod/Fem/App/PreCompiled.h
  src/Mod/Fem/Gui/DlgSettingsFemGeneralImp.cpp
  src/Mod/Fem/Gui/Workbench.cpp
Labels: WB FEM

#14688 Materials: Set MaterialTreeWidget minimum size
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
  src/Mod/Material/Gui/MaterialTreeWidget.h
Labels: Materials

#15333 Toponaming: Missing suppress property and code
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/Feature.h
Labels: WB Part Design, WB Part

#15347 Toponaming: Restore code for instant sketch position updates
  src/Mod/Part/App/AttachExtension.cpp
Labels: WB Part

#15085 Sketcher: Delete key in non-functional in macOS
  src/Gui/DlgParameterImp.cpp
  src/Gui/DownloadItem.cpp
  src/Mod/Material/Gui/Array2D.cpp
  src/Mod/Material/Gui/Array3D.cpp
  src/Mod/Material/Gui/MaterialSave.cpp
  src/Mod/Material/Gui/MaterialsEditor.cpp
  src/Mod/Sketcher/Gui/DrawSketchKeyboardManager.cpp
  src/Mod/Sketcher/Gui/ShortcutListener.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
Labels: Core, WB TechDraw, WB Sketcher, Materials

#15127 [Icons]Increasing the visibility of technical drawing icons in dark theme fix
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionChangeLineAttributes.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionCircleCenterLines.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionDecreaseDecimal.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionHoleCircle.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionIncreaseDecimal.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadBoltBottom.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadBoltSide.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadHoleBottom.svg
  src/Mod/TechDraw/Gui/Resources/icons/TechDraw_ExtensionThreadHoleSide.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_2LineCenterline.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_2PointCenterline.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_BrokenView.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_ComplexSection.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_DecorateLine.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_FaceCenterLine.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_SectionView.svg
Labels: WB TechDraw

#15356 Gui: Ability to target new file buttons via QSS.
  src/Gui/Stylesheets/Dark theme.qss
  src/Gui/Stylesheets/Light theme.qss
  src/Mod/Start/Gui/StartView.cpp
Labels: Core

#15367 BIM: Fix save tool
  src/Mod/BIM/nativeifc/ifc_commands.py
Labels: WB BIM

#15381 Toponaming: Process mapped names during selection
  src/App/PropertyLinks.cpp
  src/Gui/SoFCUnifiedSelection.cpp
Labels: Core

#15328 Gui: Fix background of non-alternate rows of Property View
  src/Gui/propertyeditor/PropertyEditor.cpp
  src/Gui/propertyeditor/PropertyEditor.h
Labels: Core

#15401 Gui: Reduce Transform Dragger size
  src/Gui/ViewParams.h
  src/Gui/ViewProviderDragger.cpp
  src/Gui/ViewProviderLink.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Core, WB Assembly

#15409 Core: Fix Python API name clash: do not expose the App::Part type to …
  src/App/Application.cpp
Labels: Core

#15396 Materials: Catch correct error
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
Labels: Materials

#15287 Sketcher: Fix bug of auto-constraints icon not clearing up on mouseMove.
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfHyperbola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfParabola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExtend.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLineSet.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPoint.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSlot.h
Labels: WB Sketcher

#15437 Sketcher: Dimension: Fix right click/esc so that it dismiss the dim
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#15315 GUI: Work around Shiboken 6 bug for CallTips
  src/Gui/CallTips.cpp
  src/Gui/CallTips.h
Labels: Core

#15441 Core: Image taskbox : close if document is closed.
  src/Gui/TaskView/TaskImage.cpp
Labels: Core

#15448 Material: Update translation paths
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/Gui/CMakeLists.txt
  src/Mod/Material/Gui/Resources/Material.qrc
  src/Mod/Material/Gui/Resources/translations/Material.ts
  src/Mod/Material/Gui/Resources/translations/Material_be.ts
  src/Mod/Material/Gui/Resources/translations/Material_ca.ts
  src/Mod/Material/Gui/Resources/translations/Material_cs.ts
  src/Mod/Material/Gui/Resources/translations/Material_da.ts
  src/Mod/Material/Gui/Resources/translations/Material_de.ts
  src/Mod/Material/Gui/Resources/translations/Material_el.ts
  src/Mod/Material/Gui/Resources/translations/Material_es-AR.ts
  src/Mod/Material/Gui/Resources/translations/Material_es-ES.ts
  src/Mod/Material/Gui/Resources/translations/Material_eu.ts
  src/Mod/Material/Gui/Resources/translations/Material_fi.ts
  src/Mod/Material/Gui/Resources/translations/Material_fr.ts
  src/Mod/Material/Gui/Resources/translations/Material_hr.ts
  src/Mod/Material/Gui/Resources/translations/Material_hu.ts
  src/Mod/Material/Gui/Resources/translations/Material_id.ts
  src/Mod/Material/Gui/Resources/translations/Material_it.ts
  src/Mod/Material/Gui/Resources/translations/Material_ja.ts
  src/Mod/Material/Gui/Resources/translations/Material_ka.ts
  src/Mod/Material/Gui/Resources/translations/Material_ko.ts
  src/Mod/Material/Gui/Resources/translations/Material_nl.ts
  src/Mod/Material/Gui/Resources/translations/Material_pl.ts
  src/Mod/Material/Gui/Resources/translations/Material_pt-BR.ts
  src/Mod/Material/Gui/Resources/translations/Material_pt-PT.ts
  src/Mod/Material/Gui/Resources/translations/Material_ro.ts
  src/Mod/Material/Gui/Resources/translations/Material_ru.ts
  src/Mod/Material/Gui/Resources/translations/Material_sl.ts
  src/Mod/Material/Gui/Resources/translations/Material_sr-CS.ts
  src/Mod/Material/Gui/Resources/translations/Material_sr.ts
  src/Mod/Material/Gui/Resources/translations/Material_sv-SE.ts
  src/Mod/Material/Gui/Resources/translations/Material_tr.ts
  src/Mod/Material/Gui/Resources/translations/Material_uk.ts
  src/Mod/Material/Gui/Resources/translations/Material_val-ES.ts
  src/Mod/Material/Gui/Resources/translations/Material_zh-CN.ts
  src/Mod/Material/Gui/Resources/translations/Material_zh-TW.ts
  src/Mod/Material/Gui/Resources/ui/materials-editor.ui
  src/Mod/Material/Resources/Material.qrc
  src/Mod/Material/Resources/icons/preview-rendered.svg
  src/Mod/Material/Resources/icons/preview-vector.svg
  src/Mod/Material/Resources/translations/Material.ts
  src/Tools/updatecrowdin.py
  src/Tools/updatets.py
Labels: Materials

#15376 Gui: Allow to set MSAA 4x option
  src/Gui/CMakeLists.txt
  src/Gui/Multisample.cpp
  src/Gui/Multisample.h
  src/Gui/PreferencePages/DlgSettings3DView.ui
  src/Gui/PreferencePages/DlgSettings3DViewImp.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
Labels: Core

#15455 Gui: Add missing include to PCH
  src/Gui/PreCompiled.h
Labels: Core

#15449 BIM: Arch_Fence add missing recompute
  src/Mod/BIM/bimcommands/BimFence.py
Labels: WB BIM

#15446 BIM: Fix Wavefront OBJ color export
  src/Mod/BIM/importers/importOBJ.py
Labels: WB BIM

#15434 Core: Add missing Python interpreter locks
  src/App/Document.cpp
  src/Gui/Document.cpp
Labels: Core

#15444 BIM: Fixed IFC import with None psets
  src/Mod/BIM/nativeifc/ifc_psets.py
Labels: WB BIM, 1.0

#15458 BIM: Fixed empty IFC decomposition
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: WB BIM, 1.0

#15460 [TD]translate line names at time of use (fix #15391)
  src/Mod/TechDraw/App/LineNameEnum.cpp
  src/Mod/TechDraw/App/LineNameEnum.h
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
Labels: WB TechDraw
