Repository FreeCAD/FreeCAD, pull requests merged in 2024-05, with the labels that each got.

#13742 Gui: fix possible build failure
  src/Gui/ArcEngine.cpp
Labels: Core

#13727 Fix compiler warnings
  src/App/MeasureManagerPy.xml
  src/App/MeasureManagerPyImp.cpp
  src/Gui/TaskMeasure.h
  src/Mod/Measure/App/MeasureBase.h
  src/Mod/Measure/App/MeasureLength.h
  src/Mod/Measure/Gui/Command.cpp
  src/Mod/Part/App/MeasureClient.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
  src/Mod/Start/App/ExamplesModel.cpp
  src/Mod/Start/Gui/AppStartGui.cpp
  src/Mod/Start/Gui/CMakeLists.txt
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeMakeShapeWithElementMap.cpp
Labels: Core, WB Part Design, WB Part, WB Sketcher

#13768 Make: use single dash argument for Apple toolchain
  cMake/FreeCAD_Helpers/CompilerChecksAndSetups.cmake
  src/Mod/CAM/libarea/CMakeLists.txt
Labels: WB CAM

#13759 Draft: update Draft Point viewprovider to account for ShapeAppearance
  src/Mod/Draft/draftviewproviders/view_point.py
Labels: WB Draft

#13778 Draft: Do not show temporary line object in tree
  src/Mod/Draft/draftguitools/gui_lines.py
Labels: WB Draft

#13798 [ArchCurtainWall] add self.Type definition like other Arch Objects
  src/Mod/Arch/ArchCurtainWall.py
Labels: WB Arch

#13799 Toponaming: merge in revolution code
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureRevolution.h
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Core, WB Part Design, WB Part

#13800 Toponaming: performance testing
  src/Mod/Test/TestPerf.py
  tools/profile/perftest.sh
Labels: Core, WB Part Design, WB Part, WB Test

#13784 [TD]add fallback default template
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/Templates/Default_Template_A4_Landscape.svg
Labels: WB TechDraw

#13803 Arch: Arch Schedule allow ^2 and ^3 in unit string
  src/Mod/Arch/ArchSchedule.py
Labels: WB Arch

#13809 Add <algorithm> include and remove explicit 3rdparty/GSL include reference
  src/Base/PreCompiled.h
  src/Base/Sequencer.cpp
  src/Mod/Start/Gui/GeneralSettingsWidget.h
  src/Mod/Start/Gui/ThemeSelectorWidget.cpp
Labels: Core

#13795 Core: Set tab title for MDIViewPyWrap
  src/Gui/MDIViewPyWrap.cpp
Labels: Core

#13773 Toponaming: Add toponaming missing methods in app
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
  src/App/GeoFeature.cpp
  src/App/GeoFeature.h
  src/App/PropertyLinks.cpp
  src/App/PropertyLinks.h
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Core, WB Part Design

#13790 [TechDraw] Issue #13661 - Split sheet autofill to separate values
  src/Mod/TechDraw/App/DrawTemplate.cpp
  src/Mod/TechDraw/App/DrawTemplate.h
Labels: WB TechDraw

#13824 Themes: Explicitly remove Editor/Text setting in Classic
  src/Gui/PreferencePacks/Classic/post.FCMacro
Labels: Core

#13830 Arch: adapt materials to new Materials path scheme
  src/Mod/Arch/ArchMaterial.py
Labels: WB Arch, Materials

#13842 [TD]fix dimension autocorrect
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/App/DimensionAutoCorrect.cpp
  src/Mod/TechDraw/App/DimensionAutoCorrect.h
  src/Mod/TechDraw/App/DimensionGeometry.cpp
  src/Mod/TechDraw/App/DimensionGeometry.h
  src/Mod/TechDraw/App/DimensionReferences.cpp
  src/Mod/TechDraw/App/DimensionReferences.h
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/Geometry.h
  src/Mod/TechDraw/App/GeometryMatcher.cpp
  src/Mod/TechDraw/App/GeometryMatcher.h
  src/Mod/TechDraw/App/GeometryObject.cpp
  src/Mod/TechDraw/App/ShapeUtils.cpp
  src/Mod/TechDraw/App/ShapeUtils.h
Labels: WB TechDraw

#13667 refactor Sanity
  src/Mod/CAM/CMakeLists.txt
  src/Mod/CAM/InitGui.py
  src/Mod/CAM/Path/GuiInit.py
  src/Mod/CAM/Path/Main/Gui/Job.py
  src/Mod/CAM/Path/Main/Gui/Sanity.py
  src/Mod/CAM/Path/Main/Gui/SanityCmd.py
  src/Mod/CAM/Path/Main/Sanity/HTMLTemplate.py
  src/Mod/CAM/Path/Main/Sanity/ImageBuilder.py
  src/Mod/CAM/Path/Main/Sanity/ReportGenerator.py
  src/Mod/CAM/Path/Main/Sanity/Sanity.py
  src/Mod/CAM/Path/Main/Sanity/Sanity_Bulb.svg
  src/Mod/CAM/Path/Main/Sanity/Sanity_Caution.svg
  src/Mod/CAM/Path/Main/Sanity/Sanity_Note.svg
  src/Mod/CAM/Path/Main/Sanity/Sanity_Warning.svg
  src/Mod/CAM/TestCAMApp.py
  src/Mod/CAM/Tests/TestCAMSanity.py
Labels: WB CAM, Refactor

#13686 PD: Fix crash when adding sketch to loft via tree view
  src/Gui/Tree.cpp
  src/Gui/Tree.h
Labels: Core

#13582 Ensure we set up a valid sketch even with invalid external references
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
Labels: WB Sketcher

#13529 Materials: Update Material Models
  src/Mod/Material/App/ModelUuids.cpp
  src/Mod/Material/App/ModelUuids.h
  src/Mod/Material/App/UUIDsPy.xml
  src/Mod/Material/App/UUIDsPyImpl.cpp
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/Resources/Materials/Standard/Metal/Titanium/Ti-6Al-4V.FCMat
  src/Mod/Material/Resources/Models/Mechanical/Hardness.yml
  src/Mod/Material/Resources/Models/Mechanical/LinearElastic.yml
  src/Mod/Material/materialtests/TestModels.py
Labels: Materials

#13556 Gui: Improve lookAtPoint
  src/Gui/BlenderNavigationStyle.cpp
  src/Gui/CADNavigationStyle.cpp
  src/Gui/GestureNavigationStyle.cpp
  src/Gui/GestureNavigationStyle.h
  src/Gui/InventorNavigationStyle.cpp
  src/Gui/MayaGestureNavigationStyle.cpp
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/OpenCascadeNavigationStyle.cpp
  src/Gui/OpenSCADNavigationStyle.cpp
  src/Gui/RevitNavigationStyle.cpp
  src/Gui/TinkerCADNavigationStyle.cpp
Labels: Core, UI/UX

#13675 Part: Create CompSolid/Compound/Shell if null before adding a sub-shape
  src/Mod/Part/App/TopoShapeCompSolidPyImp.cpp
  src/Mod/Part/App/TopoShapeCompoundPyImp.cpp
  src/Mod/Part/App/TopoShapeShellPyImp.cpp
Labels: WB Part

#13403 Sketcher: Dimension tool : add arc length following #12602
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#13698 Fem: Save and restore custom colors of elements in mesh - fixes #6131
  src/Mod/Fem/Gui/ViewProviderFemMesh.cpp
  src/Mod/Fem/Gui/ViewProviderFemMesh.h
  src/Mod/Fem/Gui/ViewProviderFemMeshPyImp.cpp
Labels: WB FEM

#13723 Fem: Rescaling and transparency fix for heat constraint symbols
  src/Mod/Fem/Gui/Resources/symbols/ConstraintHeatFlux.iv
  src/Mod/Fem/Gui/Resources/symbols/ConstraintTemperature.iv
Labels: WB FEM

#13726 Core: Fix crash when loading a file with v0.21 that was created with …
  src/App/PropertyStandard.cpp
  src/App/PropertyStandard.h
Labels: Core

#13643 Core: Disable document activation when right-clicking a doc
  src/Gui/Tree.cpp
Labels: Core

#13571 Gui: support toolbar drag and drop to status bar and menu bar
  src/Gui/Action.cpp
  src/Gui/CMakeLists.txt
  src/Gui/MainWindow.cpp
  src/Gui/MainWindow.h
  src/Gui/MenuManager.cpp
  src/Gui/MenuManager.h
  src/Gui/PreferencePages/DlgSettingsWorkbenches.ui
  src/Gui/PreferencePages/DlgSettingsWorkbenchesImp.cpp
  src/Gui/ToolBarManager.cpp
  src/Gui/ToolBarManager.h
  src/Gui/UserSettings.cpp
  src/Gui/UserSettings.h
  src/Gui/Workbench.cpp
  src/Gui/WorkbenchSelector.cpp
  src/Mod/Tux/PersistentToolbarsGui.py
Labels: Core

#13611 Fixups with Qt6 enums
  src/Gui/PythonWrapper.cpp
  src/Gui/PythonWrapper.h
  src/Gui/TaskView/TaskDialogPython.cpp
  src/Mod/Arch/ArchAxis.py
  src/Mod/Arch/ArchAxisSystem.py
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchComponent.py
  src/Mod/Arch/ArchCutPlane.py
  src/Mod/Arch/ArchRoof.py
  src/Mod/Arch/ArchSectionPlane.py
  src/Mod/Arch/ArchWindow.py
  src/Mod/CAM/Path/Dressup/Gui/Boundary.py
  src/Mod/CAM/Path/Dressup/Gui/Tags.py
  src/Mod/CAM/Path/Op/Gui/Base.py
  src/Mod/CAM/PathPythonGui/simple_edit_panel.py
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/drafttaskpanels/task_selectplane.py
  src/Mod/Fem/femsolver/solver_taskpanel.py
  src/Mod/Fem/femtaskpanels/task_mesh_gmsh.py
  src/Mod/Fem/femtaskpanels/task_result_mechanical.py
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
  src/Mod/OpenSCAD/OpenSCADCommands.py
  src/Mod/Part/AttachmentEditor/TaskAttachmentEditor.py
  src/Mod/PartDesign/InvoluteGearFeature.py
  src/Mod/PartDesign/SprocketFeature.py
  src/Mod/PartDesign/WizardShaft/WizardShaft.py
  src/Mod/TemplatePyMod/TaskPanel.py
Labels: Core, WB FEM, WB Arch, WB Draft, WB CAM, WB Part Design, WB Part, WB OpenSCAD, 3rd party: Qt 6

#13777 UI: Add Std_Measure command to menu
  src/Gui/Workbench.cpp
Labels: Core

#13779 Gui: simplify MainWindow::showDocumentation()
  src/Gui/MainWindow.cpp
Labels: Core

#13763 Sketcher / UI: Update Sketcher Toolbars
  src/Mod/Sketcher/Gui/CommandAlterGeometry.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.ui
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#13802 Sketcher: Add a guard for not asking information of a point of a curve which doesn't exist
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
Labels: WB Sketcher

#13820 Fem: Reset field color bar - fixes #13695
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
Labels: WB FEM

#13838 Gui: Remove redundant overlay header
  src/Gui/OverlayManager.cpp
Labels: Core

#13844 Sketcher: fix OVP placement issue #13827
  src/Mod/Sketcher/Gui/DrawSketchController.h
Labels: WB Sketcher

#13829 Material: Expanded Python API
  src/Mod/Material/App/MaterialManagerPy.xml
  src/Mod/Material/App/MaterialManagerPyImpl.cpp
  src/Mod/Material/App/MaterialPy.xml
  src/Mod/Material/App/MaterialPyImpl.cpp
  src/Mod/Material/App/ModelLibrary.cpp
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/TestMaterialsApp.py
  src/Mod/Material/materialtests/TestMaterialCreation.py
Labels: Materials

#13870 Fix #13858
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#13867 Toponaming/Part: Fix fillet/pad bug, add tests
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Core, WB Part Design, WB Part

#13896 Change property view panel title to sentence case
  src/Gui/PropertyView.cpp
Labels: Core

#13902 Gui: Fix PythonWrapper::toEnum() to also accept a Python int as argument
  src/Gui/PythonWrapper.cpp
Labels: Core

#13638 Draft: Add "legacy importer only" to DXF option
  src/Mod/Draft/Resources/ui/preferences-dxf.ui
Labels: WB Draft

#13917 Toponaming: Support saving the tnp recalculated file in profile testing
  src/Mod/Test/CMakeLists.txt
  src/Mod/Test/TestPerf.py
  tools/profile/perftest.sh
Labels: WB Test

#13933 PD: Fix ShapeBinder::execute() if Support is empty
  src/Mod/PartDesign/App/ShapeBinder.cpp
Labels: WB Part Design

#13928 include translations of the FreeCAD App & Base
  src/App/CMakeLists.txt
  src/Base/CMakeLists.txt
Labels: Core

#13934 Draft: Update v0.22 references to v1.0
  src/Mod/Draft/WorkingPlane.py
  src/Mod/Draft/draftobjects/patharray.py
  src/Mod/Draft/draftobjects/pathtwistedarray.py
  src/Mod/Draft/draftobjects/pointarray.py
  src/Mod/Draft/draftobjects/shapestring.py
Labels: WB Draft

#13948 Draft: minor refactor of layer code
  src/Mod/Draft/draftguitools/gui_layers.py
  src/Mod/Draft/draftmake/make_layer.py
Labels: WB Draft

#13962 Toponaming: Rework makeElementChamfer to match current parms, and add PartDesign …
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/PartDesign/App/FeatureChamfer.cpp
  src/Mod/PartDesign/App/FeatureDressUp.cpp
  src/Mod/PartDesign/App/FeatureDressUp.h
  src/Mod/PartDesign/App/FeaturePocket.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part Design, WB Part

#13963 Toponaming: missing code bits in App
  src/App/ComplexGeoData.h
  src/App/GeoFeature.cpp
  src/App/GeoFeature.h
  src/App/Link.cpp
  src/App/PropertyLinks.cpp
  src/App/PropertyLinks.h
Labels: Core, WB Part Design, WB Part

#13964 Toponaming Add missing code elements in Part
  src/Mod/Part/App/AttachExtension.cpp
  src/Mod/Part/App/AttachExtension.h
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/Attacher.h
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
  tests/src/Mod/Sketcher/App/SketchObject.cpp
Labels: Core, WB Part Design, WB Part

#13916 Draft: refactor TestDraftGeomUtils
  src/Mod/Draft/drafttests/test_draftgeomutils.py
Labels: WB Draft

#13965 Toponaming: Add missing code fragments in PartDesign
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/Feature.h
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
Labels: Core, WB Part Design, WB Part

#13682 Fix #13107
  src/Gui/Tree.cpp
  src/Gui/ViewProvider.h
  src/Gui/ViewProviderSuppressibleExtension.cpp
Labels: Core

#13857 MeasureGui: Improve measure task wording
  src/Gui/TaskMeasure.cpp
Labels: Core

#13907 Fix memory leaks with PySequence_GetItem
  src/App/DocumentObjectPyImp.cpp
  src/App/DocumentPyImp.cpp
  src/App/PropertyContainerPyImp.cpp
  src/App/PropertyStandard.cpp
  src/Base/RotationPyImp.cpp
  src/Gui/ViewProviderPyImp.cpp
  src/Mod/TechDraw/App/DrawViewPartPyImp.cpp
  src/Mod/TechDraw/App/PropertyCenterLineList.cpp
  src/Mod/TechDraw/App/PropertyCosmeticEdgeList.cpp
  src/Mod/TechDraw/App/PropertyCosmeticVertexList.cpp
  src/Mod/TechDraw/App/PropertyGeomFormatList.cpp
Labels: Core, WB TechDraw

#13921 FEM: Change the misleading constraint descriptions regarding the geometry selection
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.ui
  src/Mod/Fem/Gui/TaskFemConstraintFixed.ui
  src/Mod/Fem/Gui/TaskFemConstraintForce.ui
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.ui
Labels: WB FEM

#13909 fix some warnings
  cMake/FreeCAD_Helpers/SetGlobalCompilerAndLinkerSettings.cmake
  tests/src/Mod/Mesh/App/Core/KDTree.cpp
Labels: WB Sketcher

#13780 Core: Document getRootObjects : Fix bug of objects linked not returned.
  src/App/Document.cpp
  src/App/Document.h
  src/App/DocumentPy.xml
  src/App/DocumentPyImp.cpp
  src/Gui/Tree.cpp
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/CommandInsertLink.py
  src/Mod/Assembly/UtilsAssembly.py
Labels: Core

#13721 Gui: Move more button to the end WB TabBar
  src/Gui/Action.cpp
  src/Gui/Action.h
  src/Gui/ToolBarManager.cpp
  src/Gui/ToolBarManager.h
  src/Gui/WorkbenchSelector.cpp
  src/Gui/WorkbenchSelector.h
Labels: Core

#13985 Material: Material Preferences
  src/Mod/Material/App/MaterialFilter.cpp
  src/Mod/Material/App/MaterialManager.cpp
  src/Mod/Material/App/MaterialManager.h
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/Gui/AppMatGui.cpp
  src/Mod/Material/Gui/CMakeLists.txt
  src/Mod/Material/Gui/DlgSettingsDefaultMaterial.cpp
  src/Mod/Material/Gui/DlgSettingsDefaultMaterial.h
  src/Mod/Material/Gui/DlgSettingsDefaultMaterial.ui
  src/Mod/Material/Gui/DlgSettingsMaterial.cpp
  src/Mod/Material/Gui/DlgSettingsMaterial.ui
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
  src/Mod/Material/Gui/MaterialTreeWidget.h
  src/Mod/Material/Gui/MaterialsEditor.cpp
  src/Mod/Material/Gui/MaterialsEditor.h
  src/Mod/Material/MaterialEditor.py
  src/Mod/Material/materialtests/Materials/TestAcrylicLegacy.FCMat
  src/Mod/Material/materialtests/Materials/TestAluminumAppearance.FCMat
  src/Mod/Material/materialtests/Materials/TestAluminumMixed.FCMat
  src/Mod/Material/materialtests/Materials/TestAluminumPhysical.FCMat
  src/Mod/Material/materialtests/Materials/TestBrassAppearance.FCMat
Labels: Materials

#13585 Update Draft WB icons
  src/Gui/Icons/Std_UserEditModeColor.svg
  src/Gui/Icons/Std_UserEditModeCutting.svg
  src/Gui/Icons/Std_UserEditModeDefault.svg
  src/Gui/Icons/Std_UserEditModeTransform.svg
  src/Gui/Icons/colors.svg
  src/Gui/Icons/edit-cut.svg
  src/Mod/Draft/Resources/icons/Draft_CubicBezCurve.svg
  src/Mod/Draft/Resources/icons/Draft_Dimension.svg
  src/Mod/Draft/Resources/icons/Draft_Draft.svg
  src/Mod/Draft/Resources/icons/Draft_Edit.svg
  src/Mod/Draft/Resources/icons/Draft_Ellipse.svg
  src/Mod/Draft/Resources/icons/Draft_Grid.svg
  src/Mod/Draft/Resources/icons/Draft_Label.svg
  src/Mod/Draft/Resources/icons/Draft_Layer.svg
  src/Mod/Draft/Resources/icons/Draft_LayerManager.svg
  src/Mod/Draft/Resources/icons/Draft_N-Curve.svg
  src/Mod/Draft/Resources/icons/Draft_N-Linear.svg
  src/Mod/Draft/Resources/icons/Draft_N-Polygon.svg
  src/Mod/Draft/Resources/icons/Draft_Snap_Dimensions.svg
  src/Mod/Draft/Resources/icons/Draft_Snap_Grid.svg
  src/Mod/Draft/Resources/icons/Draft_SubelementHighlight.svg
  src/Mod/Draft/Resources/icons/Draft_VisGroup.svg
  src/Mod/TechDraw/Gui/Resources/icons/MRTE/edit-cut.svg
  src/Mod/TechDraw/Gui/Resources/icons/actions/TechDraw_RichTextAnnotation.svg
Labels: Core, WB Draft, WB TechDraw, UI/UX

#13914 Draft: Draft_SetStyle new Material handling
  src/Mod/Draft/Resources/ui/TaskPanel_SetStyle.ui
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftutils/params.py
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#13564 AddonManager: update icons for legibility on dark themes and update icons for WBs
  src/Mod/AddonManager/Resources/icons/CfdOF_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/Curves_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/FCGear_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/compact_view.svg
  src/Mod/AddonManager/Resources/icons/composite_view.svg
  src/Mod/AddonManager/Resources/icons/expanded_view.svg
  src/Mod/AddonManager/Resources/icons/fasteners_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/lattice2_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/sheetmetal_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/sort_ascending.svg
  src/Mod/AddonManager/Resources/icons/sort_descending.svg
Labels: Addon Manager, Stylesheets

#13697 New XP icons for Qsint dialog
  src/Gui/QSint/actionpanel/xp/FoldOver_Blue1.png
  src/Gui/QSint/actionpanel/xp/FoldOver_Blue2.png
  src/Gui/QSint/actionpanel/xp/Fold_Blue1.png
  src/Gui/QSint/actionpanel/xp/Fold_Blue2.png
  src/Gui/QSint/actionpanel/xp/UnfoldOver_Blue1.png
  src/Gui/QSint/actionpanel/xp/UnfoldOver_Blue2.png
  src/Gui/QSint/actionpanel/xp/Unfold_Blue1.png
  src/Gui/QSint/actionpanel/xp/Unfold_Blue2.png
Labels: Core

#13836 Fix backwards-compatible Qt6 warnings
  src/Gui/DlgParameterImp.cpp
  src/Gui/DlgPropertyLink.cpp
  src/Gui/DocumentModel.cpp
  src/Gui/DocumentRecovery.cpp
  src/Gui/GraphvizView.cpp
  src/Gui/Language/Translator.cpp
  src/Gui/Macro.cpp
  src/Gui/NotificationArea.cpp
  src/Gui/Splashscreen.cpp
  src/Gui/StartupProcess.cpp
  src/Gui/ToolBarManager.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Mod/Drawing/Gui/Command.cpp
  src/Mod/Material/App/Materials.cpp
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/Sketcher/Gui/TaskSketcherMessages.cpp
  src/Mod/Start/Gui/FlowLayout.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Tools/updatecrowdin.py
  src/Tools/xmlformat/main.cpp
Labels: Core, WB TechDraw, WB Spreadsheet, WB Sketcher, Materials

#13966 Toponaming: Missing code fragments in Sketcher
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
Labels: Core, WB Part Design, WB Part, WB Sketcher

#14000 TD: Fix several compiler warnings
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/TechDrawHandler.cpp
Labels: WB TechDraw

#14043 fix minor bugs with sanity report and job visibility
  src/Mod/CAM/Path/Main/Gui/Job.py
  src/Mod/CAM/Path/Main/Sanity/Sanity.py
Labels: WB CAM

#14041 Revert "AddonManager: update icons for legibility on dark themes and update icons for WBs"
  src/Mod/AddonManager/Resources/icons/CfdOF_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/Curves_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/FCGear_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/compact_view.svg
  src/Mod/AddonManager/Resources/icons/composite_view.svg
  src/Mod/AddonManager/Resources/icons/expanded_view.svg
  src/Mod/AddonManager/Resources/icons/fasteners_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/lattice2_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/sheetmetal_workbench_icon.svg
  src/Mod/AddonManager/Resources/icons/sort_ascending.svg
  src/Mod/AddonManager/Resources/icons/sort_descending.svg
Labels: Addon Manager

#14045 Toponaming: Fix point crash bug #13910
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#14060 Draft: Draft_Slope input did not obey Decimals pref
  src/Mod/Draft/draftguitools/gui_lineslope.py
Labels: WB Draft

#14059 Draft: Draft_Split fix unhandled exception
  src/Mod/Draft/draftguitools/gui_split.py
Labels: WB Draft

#13093 Update grid size nomenclature
  src/Mod/Draft/Resources/ui/TaskSelectPlane.ui
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
Labels: WB Draft

#14002 FEM: Further improvement of the misleading constraint descriptions regarding the geometry selection
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.ui
  src/Mod/Fem/Gui/TaskFemConstraintFixed.ui
  src/Mod/Fem/Gui/TaskFemConstraintForce.ui
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.ui
  src/Mod/Fem/Gui/TaskFemConstraintPressure.ui
  src/Mod/Fem/Gui/TaskFemConstraintSpring.ui
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.ui
Labels: WB FEM

#13738 Small stylesheet fix to issue in the preference menu
  src/Gui/Stylesheets/Dark-modern.qss
  src/Gui/Stylesheets/Dark.qss
  src/Gui/Stylesheets/Darker.qss
  src/Gui/Stylesheets/Light-modern.qss
  src/Gui/Stylesheets/Light.qss
Labels: Core

#13769 Update icons for legibility and consistency
  src/Gui/Icons/Feature.svg
  src/Gui/Icons/Group.svg
  src/Gui/Icons/InTray.svg
  src/Gui/Icons/InTray_missed_notifications.svg
  src/Gui/Icons/Invisible.svg
  src/Gui/Icons/Python.svg
  src/Gui/Icons/Std_MarkToRecompute.svg
  src/Gui/Icons/edit-redo.svg
  src/Gui/Icons/edit-undo.svg
  src/Gui/Icons/folder.svg
  src/Gui/Icons/resource.qrc
  src/Gui/Icons/view-refresh.svg
Labels: Core

#14028 Arch: Fixed trackers ending too soon
  src/Mod/BIM/ArchStructure.py
  src/Mod/BIM/bimcommands/BimWall.py
  src/Mod/BIM/bimcommands/BimWindow.py
Labels: WB Arch

#14018 Assembly: Fix possible build failure with PCH
  src/Mod/Assembly/App/PreCompiled.h
Labels: WB Assembly

#14071 Toponaming: Simplify offset tests
  src/Mod/Part/App/FeatureOffset.cpp
  tests/src/Mod/Part/App/FeatureOffset.cpp
Labels: WB Part

#14080 [TD]Expose DimExtent in Python (2nd attempt, replaces PR #13976)
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
Labels: WB TechDraw

#14089 Gui: Fix memory leak
  src/Gui/Action.cpp
Labels: Core

#14091 BIM: Renamed duplicate DialogIfcProperties
  src/Mod/BIM/ArchComponent.py
  src/Mod/BIM/Resources/Arch.qrc
  src/Mod/BIM/Resources/ui/dialogIfcPropertiesRedux.ui
Labels: WB BIM

#14109 [TD]revert to v0.21 hatch exporting (fix #14027)
  src/Mod/TechDraw/Gui/PagePrinter.cpp
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGSPage.h
Labels: WB TechDraw

#14111 [TD]fix #13992 - compile warnings
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/GeometryMatcher.h
Labels: WB TechDraw

#14100 Toponaming: Minor test tweaks, and small fixes to pass tests
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PropertyTopoShape.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part Design, WB Part

#14103 Draft: improved IsActive behavior
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_arrays.py
  src/Mod/Draft/draftguitools/gui_base.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_grid.py
  src/Mod/Draft/draftguitools/gui_hatch.py
  src/Mod/Draft/draftguitools/gui_layers.py
  src/Mod/Draft/draftguitools/gui_planeproxy.py
  src/Mod/Draft/draftguitools/gui_selectplane.py
  src/Mod/Draft/draftguitools/gui_styles.py
  src/Mod/Draft/draftutils/gui_utils.py
Labels: WB Draft

#14114 Draft: Draft_Hatch workaround for TD edge length limit
  src/Mod/Draft/draftobjects/hatch.py
Labels: WB Draft

#14115 [TechDraw] Added freecad:autofill attribute to ISO templates
  src/Mod/TechDraw/Templates/A0_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A0_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_1_minimal.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_2.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_3_advanced.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_4.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_5_maximal.svg
Labels: WB TechDraw

#14104 [Icons]Applying Icon Size Rules to TechDraw
  src/Mod/TechDraw/Gui/Resources/icons/arrow-ccw.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrow-cw.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrow-down.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrow-left.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrow-right.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrow-up.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrowdot.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrowfilled.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrowfork.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrownone.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrowopen.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrowopendot.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrowpyramid.svg
  src/Mod/TechDraw/Gui/Resources/icons/arrowtick.svg
  src/Mod/TechDraw/Gui/Resources/icons/bottomline.svg
  src/Mod/TechDraw/Gui/Resources/icons/circular.svg
  src/Mod/TechDraw/Gui/Resources/icons/continuous-line.svg
  src/Mod/TechDraw/Gui/Resources/icons/dash-line.svg
  src/Mod/TechDraw/Gui/Resources/icons/dashDot-line.svg
  src/Mod/TechDraw/Gui/Resources/icons/dashDotDot-line.svg
  src/Mod/TechDraw/Gui/Resources/icons/dot-line.svg
  src/Mod/TechDraw/Gui/Resources/icons/hexagon.svg
  src/Mod/TechDraw/Gui/Resources/icons/inspection.svg
  src/Mod/TechDraw/Gui/Resources/icons/none.svg
  src/Mod/TechDraw/Gui/Resources/icons/rectangle.svg
  src/Mod/TechDraw/Gui/Resources/icons/square.svg
  src/Mod/TechDraw/Gui/Resources/icons/triangle.svg
Labels: WB TechDraw

#14136 Toponaming: adjust tests
  src/Doc/CONTRIBUTORS
  src/Mod/Part/parttests/TopoShapeTest.py
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: WB Part Design, WB Part

#14138 [TD]assorted Preference updates (fix #12686, #12239)
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvanced.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvancedImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotation.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotationImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawColorsImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensionsImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneral.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneralImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawHLRImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawScaleImp.cpp
  src/Mod/TechDraw/Gui/QGISectionLine.cpp
  src/Mod/TechDraw/Gui/QGISectionLine.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/TaskHatch.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.h
Labels: WB TechDraw

#14141 AddonManager: Adapt to Qt6/PySide6
  src/Mod/AddonManager/NetworkManager.py
Labels: Addon Manager

#14095 Addon manager: update icons for legibility on dark themes
  src/Mod/AddonManager/Resources/icons/compact_view.svg
  src/Mod/AddonManager/Resources/icons/composite_view.svg
  src/Mod/AddonManager/Resources/icons/expanded_view.svg
  src/Mod/AddonManager/Resources/icons/sort_ascending.svg
  src/Mod/AddonManager/Resources/icons/sort_descending.svg
Labels: Addon Manager

#13987 Gui: Add privacy policy to About
  src/Gui/Icons/resource.qrc
  src/Gui/Splashscreen.cpp
  src/Gui/Splashscreen.h
Labels: Core

#13982 Gui: Add Std_ReloadStyleSheet command
  src/Gui/Application.cpp
  src/Gui/CommandStd.cpp
Labels: Core

#13995 Material: Material API fixes
  src/Mod/Material/App/MaterialFilter.cpp
  src/Mod/Material/App/MaterialFilter.h
  src/Mod/Material/App/Materials.cpp
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/materialtests/TestMaterialCreation.py
  tests/src/Mod/Material/App/CMakeLists.txt
  tests/src/Mod/Material/App/Materials/TestAcrylicLegacy.FCMat
  tests/src/Mod/Material/App/Materials/TestAluminumAppearance.FCMat
  tests/src/Mod/Material/App/Materials/TestAluminumMixed.FCMat
  tests/src/Mod/Material/App/Materials/TestAluminumPhysical.FCMat
  tests/src/Mod/Material/App/Materials/TestBrassAppearance.FCMat
  tests/src/Mod/Material/App/TestMaterialFilter.cpp
  tests/src/Mod/Material/App/TestMaterialFilter.py
Labels: Materials

#14004 Gui: move to new-style connect() in createEditor()
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Gui/propertyeditor/PropertyItem.h
  src/Gui/propertyeditor/PropertyItemDelegate.cpp
  src/Gui/propertyeditor/PropertyItemDelegate.h
  src/Mod/Fem/Gui/PropertyFemMeshItem.cpp
  src/Mod/Fem/Gui/PropertyFemMeshItem.h
  src/Mod/Mesh/Gui/PropertyEditorMesh.cpp
  src/Mod/Mesh/Gui/PropertyEditorMesh.h
  src/Mod/Part/Gui/PropertyEnumAttacherItem.cpp
  src/Mod/Part/Gui/PropertyEnumAttacherItem.h
  src/Mod/Sketcher/Gui/PropertyConstraintListItem.cpp
  src/Mod/Sketcher/Gui/PropertyConstraintListItem.h
Labels: Core, WB FEM, WB Part, WB Sketcher, WB Mesh

#13866 UI: update assembly icons to be consistent with main updates
  src/Mod/Assembly/Gui/Resources/icons/Assembly_ExplodedView.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_ExplodedViewGroup.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_ExportASMT.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_JointGroup.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_SolveAssembly.svg
  src/Mod/Assembly/InitGui.py
  src/Mod/Assembly/JointObject.py
Labels: WB Assembly

#14032 Tree: Add 'Go To Linked Obj' to context menu of Links
  src/Gui/ViewProviderLink.cpp
Labels: Core

#14011 Add measurement icons
  src/Gui/SoTextLabel.cpp
  src/Gui/SoTextLabel.h
  src/Gui/TaskMeasure.cpp
  src/Mod/Measure/App/MeasureArea.h
  src/Mod/Measure/App/MeasureLength.h
  src/Mod/Measure/App/MeasurePosition.h
  src/Mod/Measure/App/MeasureRadius.h
  src/Mod/Measure/Gui/AppMeasureGui.cpp
  src/Mod/Measure/Gui/DlgPrefsMeasureAppearanceImp.ui
  src/Mod/Measure/Gui/Resources/Measure.qrc
  src/Mod/Measure/Gui/Resources/icons/Measurement-Angle.svg
  src/Mod/Measure/Gui/Resources/icons/Measurement-Area.svg
  src/Mod/Measure/Gui/Resources/icons/Measurement-CenterOfMass.svg
  src/Mod/Measure/Gui/Resources/icons/Measurement-Distance.svg
  src/Mod/Measure/Gui/Resources/icons/Measurement-Group.svg
  src/Mod/Measure/Gui/Resources/icons/Measurement-Inertia.svg
  src/Mod/Measure/Gui/Resources/icons/Measurement-Position.svg
  src/Mod/Measure/Gui/Resources/icons/Measurement-Radius.svg
  src/Mod/Measure/Gui/Resources/icons/Measurement-Volume.svg
  src/Mod/Measure/Gui/ViewProviderMeasureAngle.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureBase.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureBase.h
  src/Mod/Measure/Gui/ViewProviderMeasureDistance.cpp
Labels: Core

#14050 PartGui: Remove remaining measure "clear all" and "toggle delta" commands
  src/Gui/CommandView.cpp
  src/Gui/PreferencePackTemplates/Shortcuts.cfg
  src/Gui/Workbench.cpp
Labels: Core

#14019 Fem: Load heat flux from CalculiX results - fixes #12117
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/feminout/importCcxFrdResults.py
  src/Mod/Fem/feminout/importToolsFem.py
  src/Mod/Fem/femobjects/result_mechanical.py
  src/Mod/Fem/femsolver/calculix/write_step_output.py
  src/Mod/Fem/femtest/data/calculix/thermomech_bimetall.inp
Labels: WB FEM

#13627 Gui: Fix datum label
  src/Gui/SoDatumLabel.cpp
  src/Gui/SoDatumLabel.h
Labels: Core

#14075 Gray out all columns in the tree if an item is invisible
  src/Gui/Tree.cpp
Labels: Core

#14015 Gui: Fix ToolBarManager review remarks
  src/Gui/ToolBarManager.cpp
  src/Gui/ToolBarManager.h
Labels: Core

#14099 Sketcher: Fix line to arc point distance movement problem
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#14106 TechDraw: make the dimension tool the default
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensionsImp.cpp
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: WB TechDraw

#14053 Gui: fix SoDatumLabel arrow and text disappear
  src/Gui/SoDatumLabel.cpp
Labels: Core

#14167 [TD]allow custom format for hidden lines
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
Labels: WB TechDraw

#14124 FEM: Update selection tip of rigid body constraint
  src/Mod/Fem/Gui/TaskFemConstraintRigidBody.ui
Labels: WB FEM

#13906 Align camera to faces and edges
  src/App/GeoFeature.cpp
  src/App/GeoFeature.h
  src/Gui/CommandView.cpp
  src/Gui/Icons/align-to-selection.svg
  src/Gui/Icons/resource.qrc
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/Workbench.cpp
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
Labels: Core, WB Part

#14125 FEM: Update static analysis check for boundary conditions
  src/Mod/Fem/femtools/checksanalysis.py
Labels: WB FEM

#14112 PartDesign: hide Suppressed property with FC_USE_TNP_FIX flag
  src/Mod/PartDesign/App/Feature.cpp
Labels: WB Part Design

#11027 Gui: fixes #11016: Taskview could resize automatically to minimum size
  src/Gui/MainWindow.cpp
  src/Gui/TaskView/TaskView.cpp
  src/Gui/TaskView/TaskView.h
Labels: Core

#14142 Sketch: Refactor Sketch::updateGeometry()
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/Sketch.h
Labels: WB Sketcher

#14074 Change PartDesign Pad and Revolution tree icons
  src/Mod/Part/BasicShapes/CommandShapes.py
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/CommandParametric.cpp
  src/Mod/Part/Gui/CommandSimple.cpp
  src/Mod/Part/Gui/Resources/Part.qrc
  src/Mod/Part/Gui/Resources/icons/create/Part_Box.svg
  src/Mod/Part/Gui/Resources/icons/create/Part_Cone.svg
  src/Mod/Part/Gui/Resources/icons/create/Part_Cylinder.svg
  src/Mod/Part/Gui/Resources/icons/create/Part_Primitives.svg
  src/Mod/Part/Gui/Resources/icons/create/Part_Shapebuilder.svg
  src/Mod/Part/Gui/Resources/icons/create/Part_Sphere.svg
  src/Mod/Part/Gui/Resources/icons/create/Part_Torus.svg
  src/Mod/Part/Gui/Resources/icons/create/Part_Tube.svg
  src/Mod/PartDesign/Gui/Resources/PartDesign.qrc
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_Body_Tree.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_Body_old.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_InvoluteGear.svg
  src/Mod/PartDesign/Gui/Resources/icons/PartDesign_Pad.svg
  src/Mod/PartDesign/Gui/Resources/icons/Tree_PartDesign_Pad.svg
  src/Mod/PartDesign/Gui/Resources/icons/Tree_PartDesign_Revolution.svg
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
  src/Mod/PartDesign/Gui/ViewProviderPad.cpp
  src/Mod/PartDesign/Gui/ViewProviderRevolution.cpp
  src/Mod/PartDesign/Gui/Workbench.cpp
  src/Mod/TemplatePyMod/TaskPanel.py
Labels: WB Part Design

#13996 UI : Update Spreadsheet icons
  src/Mod/Spreadsheet/Gui/Resources/icons/Spreadsheet.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetAlignBottom.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetAlignCenter.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetAlignLeft.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetAlignRight.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetAlignTop.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetAlignVCenter.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetController.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetExport.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetImport.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetMergeCells.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetSplitCell.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/SpreadsheetWorkbench.svg
  src/Mod/Spreadsheet/Gui/Resources/icons/preferences-spreadsheet.svg
Labels: WB Spreadsheet

#14070 Fix typo in TechDraw tooltip
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
Labels: WB TechDraw

#14160 BIM : update icons with Document element
  src/Mod/BIM/Resources/icons/Arch_Project_IFC.svg
  src/Mod/BIM/Resources/icons/Arch_Reference.svg
  src/Mod/BIM/Resources/icons/BIM_Classification.svg
  src/Mod/BIM/Resources/icons/BIM_IfcElements.svg
  src/Mod/BIM/Resources/icons/BIM_IfcProperties.svg
  src/Mod/BIM/Resources/icons/BIM_IfcQuantities.svg
  src/Mod/BIM/Resources/icons/BIM_Layers.svg
  src/Mod/BIM/Resources/icons/BIM_Material.svg
  src/Mod/BIM/Resources/icons/BIM_Phases.svg
  src/Mod/BIM/Resources/icons/BIM_Preflight.svg
  src/Mod/BIM/Resources/icons/BIM_Windows.svg
  src/Mod/BIM/Resources/icons/IFC_document.svg
  src/Mod/BIM/Resources/icons/Part_document.svg
Labels: WB BIM

#14162 BIM : fix typos in UI strings
  src/Mod/BIM/Resources/ui/ArchMultiMaterial.ui
  src/Mod/BIM/Resources/ui/dialogCreateProject.ui
  src/Mod/BIM/Resources/ui/dialogImport.ui
  src/Mod/BIM/Resources/ui/dialogPreflight.ui
  src/Mod/BIM/Resources/ui/dialogSetup.ui
  src/Mod/BIM/Resources/ui/dialogSpaces.ui
  src/Mod/BIM/Resources/ui/dialogWelcome.ui
Labels: WB BIM

#14009 Assembly: JCS selection: cones surfaces offers the cone's apex.
  src/Mod/Assembly/UtilsAssembly.py
Labels: WB Assembly

#14169 Toponaming: replace MultiFuse implementation to fix face colors
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/Part/parttests/TopoShapeTest.py
Labels: WB Part

#14178 Toponaming: Cleanup verified face calls
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: WB Part Design

#14163 [BIM] fix BIM Project Manager import error
  src/Mod/BIM/bimcommands/BimProjectManager.py
Labels: WB BIM

#14094 BIM: Allow to export groups as assemblies
  src/Mod/BIM/Resources/ui/preferences-ifc-export.ui
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: WB BIM

#14188 BIM: Reworked preferences and setup screens
  src/Mod/BIM/InitGui.py
  src/Mod/BIM/Resources/Arch.qrc
  src/Mod/BIM/Resources/icons/preferences-bim.svg
  src/Mod/BIM/Resources/ui/dialogSetup.ui
  src/Mod/BIM/Resources/ui/dialogWelcome.ui
  src/Mod/BIM/Resources/ui/preferences-ifc-export.ui
  src/Mod/BIM/Resources/ui/preferences-ifc.ui
  src/Mod/BIM/bimcommands/BimSetup.py
Labels: WB BIM

#14187 BIM: Restored original copyright header of ArchCutPlane command
  src/Mod/BIM/bimcommands/BimCutPlane.py
Labels: WB BIM

#14201 [ArchCurtainWall] Add OverrideEdges & ArchSketch Support
  src/Mod/BIM/ArchCurtainWall.py
Labels: WB BIM

#14186 BIM: Reapplied #13648
  src/Mod/BIM/ArchWall.py
Labels: WB BIM

#14205 Sheet: Make ViewProviderSpreadsheet.h self-contained
  src/Mod/Spreadsheet/Gui/AppSpreadsheetGui.cpp
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.cpp
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.h
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheetPyImp.cpp
Labels: WB Spreadsheet

#14159 Gui: Fix NaviCube drawing and interaction with Qt6
  src/Gui/NaviCube.cpp
Labels: Core

#14223 [Cam] fix warning
  src/Mod/CAM/PathSimulator/AppGL/EndMill.cpp
  src/Mod/CAM/PathSimulator/AppGL/SimShapes.cpp
  src/Mod/CAM/PathSimulator/AppGL/SimShapes.h
Labels: WB CAM

#14210 BIM: Fix BIM tutorial issues
  src/Mod/BIM/bimcommands/BimTutorial.py
Labels: WB BIM

#14220 Adding parallel running to the multi_fuse operation
  src/Mod/Part/App/FeaturePartFuse.cpp
Labels: WB Part

#14216 [TD]Cosmetic function overhaul
  src/Mod/TechDraw/App/AppTechDraw.cpp
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/App/CenterLinePyImp.cpp
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/Cosmetic.h
  src/Mod/TechDraw/App/CosmeticEdgePy.xml
  src/Mod/TechDraw/App/CosmeticEdgePyImp.cpp
  src/Mod/TechDraw/App/CosmeticExtension.cpp
  src/Mod/TechDraw/App/CosmeticExtension.h
  src/Mod/TechDraw/App/CosmeticVertex.cpp
  src/Mod/TechDraw/App/CosmeticVertex.h
  src/Mod/TechDraw/App/DrawLeaderLine.cpp
  src/Mod/TechDraw/App/DrawLeaderLine.h
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawViewPartPyImp.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/Geometry.h
  src/Mod/TechDraw/App/GeometryObject.cpp
  src/Mod/TechDraw/App/LineFormat.cpp
  src/Mod/TechDraw/App/LineFormat.h
  src/Mod/TechDraw/App/LineGroup.h
  src/Mod/TechDraw/ConversionUtilities/moveViews.py
  src/Mod/TechDraw/ConversionUtilities/updateLeaderLines.py
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.h
  src/Mod/TechDraw/Gui/PathBuilder.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.h
  src/Mod/TechDraw/Gui/QGEPath.cpp
  src/Mod/TechDraw/Gui/QGEPath.h
  src/Mod/TechDraw/Gui/QGILeaderLine.cpp
  src/Mod/TechDraw/Gui/QGILeaderLine.h
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGTracker.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.cpp
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.h
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.ui
  src/Mod/TechDraw/Gui/TaskCosmeticLine.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticLine.ui
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
  src/Mod/TechDraw/Gui/TaskLeaderLine.h
  src/Mod/TechDraw/Gui/TaskLineDecor.cpp
  src/Mod/TechDraw/Gui/TaskSelectLineAttributes.cpp
  src/Mod/TechDraw/Gui/TaskSelectLineAttributes.h
  src/Mod/TechDraw/Gui/ViewProviderLeader.cpp
  src/Mod/TechDraw/Gui/ViewProviderLeader.h
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.h
Labels: WB TechDraw

#14243 Toponaming use mapped index to find shape. fix #14194
  src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#14266 [TD]Fix selection issue in DimensionRepair(partial fix #14051)
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.h
  src/Mod/TechDraw/Gui/TaskDimRepair.cpp
Labels: WB TechDraw

#14271 [Arch] Fix bug at Arch.py : makeStairs & makeRailing
  src/Mod/BIM/Arch.py
Labels: WB BIM

#14235 BIM: Removed duplicate Part icons
  src/Mod/BIM/Resources/Arch.qrc
  src/Mod/BIM/Resources/icons/Part_Common.svg
  src/Mod/BIM/Resources/icons/Part_Compound.svg
  src/Mod/BIM/Resources/icons/Part_Cut.svg
  src/Mod/BIM/Resources/icons/Part_Extrude.svg
  src/Mod/BIM/Resources/icons/Part_Fuse.svg
  src/Mod/BIM/Resources/icons/Part_Offset2D.svg
  src/Mod/BIM/Resources/icons/Part_Shapebuilder.svg
  src/Mod/BIM/bimcommands/__init__.py
Labels: WB BIM

#14229 BIM: Fixed decimal separator error
  src/Mod/BIM/bimcommands/BimViews.py
Labels: WB BIM

#14231 BIM: Fixed grid settings in setup tool
  src/Mod/BIM/bimcommands/BimSetup.py
Labels: WB BIM

#14273 Resolves missing TechDraw include for GCC14 compilers
  src/Mod/TechDraw/App/LineGenerator.h
Labels: WB TechDraw

#14297 Stage 1 improving the CAM tool system
  src/Mod/CAM/CMakeLists.txt
  src/Mod/CAM/Gui/Resources/panels/ToolBitSelector.ui
  src/Mod/CAM/Path/Base/Util.py
  src/Mod/CAM/Path/Tool/Bit.py
  src/Mod/CAM/Path/Tool/Gui/BitLibrary.py
Labels: WB CAM

#14306 Fix translate function typo for IfcOpenShell installer
  src/Mod/BIM/nativeifc/ifc_openshell.py
Labels: WB BIM

#14304 Sketcher: Fixes #14240
  src/Mod/Sketcher/App/SketchAnalysis.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/Gui/TaskSketcherValidation.cpp
  src/Mod/Sketcher/Gui/TaskSketcherValidation.h
Labels: WB Sketcher

#14296 Draft: update fuse behavior in facebinder.py
  src/Mod/Draft/draftobjects/facebinder.py
Labels: WB Draft

#14311 CAMSim: Fix build failure with Qt6
  src/Mod/CAM/PathSimulator/AppGL/DlgCAMSimulator.cpp
  src/Mod/CAM/PathSimulator/AppGL/DlgCAMSimulator.h
Labels: WB CAM

#14157 Fem: Don't hide input filter with DataAtPoint and DataAlongLine - fixes #14135
  src/Mod/Fem/Gui/Command.cpp
Labels: WB FEM

#14158 Fem: Increase size of reference node symbol in rigid body constraint - fixes #14133
  src/Mod/Fem/Gui/Resources/symbols/ConstraintRigidBody.iv
Labels: WB FEM
