Repository FreeCAD/FreeCAD, pull requests merged in 2024-10, with the labels that each got.

#16969 FEM: Translation error causing a crash
  src/Mod/Fem/Gui/Resources/translations/Fem_it.ts
Labels: Mod: FEM, Priority: High, Needs backport

#16952 Fix build error with Makefiles for missing Version h
  src/Build/CMakeLists.txt
Labels: Mod: Core

#16949 Gui: Fix segfault in Expression Editor/VarSet
  src/Gui/DlgExpressionInput.cpp
Labels: Mod: Core, Needs backport

#16941 Materials: Correct DiffuseColor custom attribute
  src/App/PropertyStandard.cpp
  src/App/PropertyStandard.h
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/InitGui.py
  src/Mod/Material/TestMaterialsGui.py
  src/Mod/Material/materialtests/TestMaterialDocument.py
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/Part/Gui/ViewProviderPartExtPyImp.cpp
Labels: Mod: Core, Mod: Part, Mod: Materials, Needs backport

#16930 Core: Do not save changes of a text object if the GUI document is abo…
  src/Gui/Document.cpp
  src/Gui/Document.h
  src/Gui/TextDocumentEditorView.cpp
  src/Gui/TextDocumentEditorView.h
Labels: Mod: Core, Needs backport

#16906 Measurement: Fix macos crashes caused by unhandled exceptions reaching qt
  src/Mod/Measure/Gui/QuickMeasure.cpp
Labels: Mod: Measurement, Needs backport

#16872 Core: Fix macro recording when using module_io
  src/Ext/freecad/module_io.py
  src/Gui/Application.cpp
Labels: Mod: Core, Needs backport

#16880 Fix nested groups and dependency edges for groups in the dependency graph
  src/App/Graphviz.cpp
Labels: Mod: Core, 3rd party: Graphviz, Needs backport

#16964 BIM: check if Width and Height of window are not zero
  src/Mod/BIM/ArchWindowPresets.py
Labels: Mod: BIM, Needs backport

#16921 QuickMeasure: Prevent crash by limiting selection to Part::Features
  src/Mod/Measure/Gui/QuickMeasure.cpp
  src/Mod/Measure/Gui/QuickMeasure.h
Labels: Mod: Measurement, Needs backport

#16977 [AddonManager] Set default filter to ANY package type
  src/Mod/AddonManager/addonmanager_preferences_defaults.json
  src/Mod/AddonManager/package_list.py
Labels: Mod: Addon Manager, Needs backport

#15854 CI: cpplint exclusions update
  .github/workflows/sub_lint.yml
Labels: Mod: Sketcher, :octocat:

#16982 Placement Dialog: Use default tab order (Fix #16944)
  src/Gui/Placement.ui
Labels: Mod: Core, Needs backport

#16986 Gui: fix warning with duplicate name in DlgSettingsLightSources
  src/Gui/PreferencePages/DlgSettingsLightSources.ui
Labels: Mod: Core, Needs backport

#16726 Assembly: Correctly build reference from selection subname
  src/App/PropertyLinks.cpp
  src/Mod/Assembly/JointObject.py
Labels: Mod: Core, Mod: Assembly, Needs backport

#16877 [PD Helix] allow the operation to succes even with a failing refine
  src/Mod/PartDesign/App/FeatureAddSub.cpp
  src/Mod/PartDesign/App/FeatureAddSub.h
  src/Mod/PartDesign/App/FeatureHelix.cpp
Labels: Mod: Part Design, Needs backport

#16985 [Sketcher] Fix #16321.
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
Labels: Mod: Sketcher, Needs backport

#17001 BIM: Compatibility fix for walls based on wire or face with -Z normal
  src/Mod/BIM/ArchWall.py
Labels: Mod: BIM, Needs backport

#16994 Prepend a single quote to BOM index to be interpreted as a string in …
  src/Mod/Assembly/App/BomObject.cpp
Labels: Mod: Assembly, Needs backport

#16778 Update images on XDGData and README
  .github/images/assembly-dark.png
  .github/images/assembly.png
  .github/images/bim-dark.png
  .github/images/bim.png
  .github/images/fem.png
  .github/images/partdesign-dark.png
  .github/images/partdesign.png
  README.md
  src/XDGData/org.freecad.FreeCAD.metainfo.xml.in
Labels: :octocat:

#17064 Draft: Stop draftToolBar.escape() executing multiple times
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft, Needs backport

#16860 Core: Disallow end_all_events in Gesture Nav Style
  src/Mod/Draft/draftutils/gui_utils.py
Labels: Mod: Core, Mod: Draft, Needs backport, Topic: Navigation

#16852 Draft: avoid confusing SVG warning for nested circles and ellipses
  src/Mod/Draft/draftfunctions/svgshapes.py
Labels: Mod: Draft

#17012 BIM: BimWall add missing imports
  src/Mod/BIM/bimcommands/BimWall.py
Labels: Mod: BIM, Needs backport

#17060 Changed QuickMeasurement to be conservative
  src/Mod/Measure/Gui/QuickMeasure.cpp
Labels: Mod: Measurement, Needs backport

#17055 [Material][1.0] Fix issue #17035
  src/Mod/Material/App/Materials.cpp
Labels: Mod: Materials, Needs backport

#16917 [PartDesign AllowCompound] recompute all features when AllowCompound …
  src/Mod/PartDesign/App/Body.cpp
Labels: Mod: Part Design, Needs backport

#17020 [Sketcher] If origin selected: don't do distance to origin
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: Mod: Sketcher, Needs backport

#16918 [TD]fix parallel edge test (fix #16851)
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
Labels: Mod: TechDraw, Needs backport

#16742 Update SurfaceSupport.py
  src/Mod/CAM/Path/Op/SurfaceSupport.py
Labels: Mod: CAM, Needs backport

#16963 PartDesign: Fix primitive placement
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
Labels: Mod: Part Design, Needs backport

#16943 TD: Fix compiler warnings
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
Labels: Mod: TechDraw, Needs backport

#16919 Start: little layout tweak to First Start Region
  src/Mod/Start/Gui/FirstStartWidget.cpp
  src/Mod/Start/Gui/StartView.cpp
Labels: Needs backport

#16859 [Step Import] fix issue with non-latin characters in import path
  src/Gui/Application.cpp
Labels: Mod: Core, Needs backport

#16939 [Part Workbench] Fix issue with Sketcher_NewSketch icon moving on cha…
  src/Mod/Part/Gui/Workbench.cpp
  src/Mod/Part/Gui/Workbench.h
  src/Mod/Part/InitGui.py
Labels: Mod: Part, Needs backport

#16900 Fem: Use default size for mesh task panel quantity spin boxes
  src/Mod/Fem/Gui/Resources/ui/MeshGmsh.ui
  src/Mod/Fem/Gui/Resources/ui/MeshNetgen.ui
Labels: Mod: FEM, Needs backport

#17053 [Gui] TextEdit, zoom on Ctrl + wheel
  src/Gui/TextEdit.cpp
  src/Gui/TextEdit.h
Labels: Mod: Core, Needs backport

#17011 Fem: Add option to use old Netgen mesher implementation
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/Resources/ui/DlgSettingsNetgen.ui
  src/Mod/Fem/InitGui.py
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femtest/app/test_object.py
Labels: Mod: FEM, Needs backport

#17057 Gui: Fix Touchpad navigation style panning in edit mode
  src/Gui/NavigationStyle.h
  src/Gui/TouchpadNavigationStyle.cpp
Labels: Mod: Core, Needs backport

#17010 Assembly: Fix migrationScript2 error with bad joints
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly, Needs backport

#17013 Core: Fix #7580
  src/Mod/Part/Gui/TaskAttacher.cpp
Labels: Mod: Part, Needs backport

#17101 Sketcher: Fix double click of wire and remove selection
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Sketcher, Needs backport

#17146 [Arch] Bug Fix : ArchRemove Creates Cyclic Dependency and TNP
  src/Mod/BIM/ArchCommands.py
Labels: Mod: BIM, Needs backport

#17164 BIM: Remove calls to end_all_events to avoid Linux crash
  src/Mod/BIM/ArchStructure.py
  src/Mod/BIM/bimcommands/BimWall.py
  src/Mod/BIM/bimcommands/BimWindow.py
Labels: Mod: BIM, Needs backport

#17178 Make sure splasher is stopped before showing recompute dialog
  src/Gui/Application.cpp
Labels: Mod: Core

#17152 [Gui] Disable the ability to change themes and preference packs...
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Mod/Start/Gui/StartView.cpp
Labels: Mod: Core, Needs backport

#17131 Assembly: Fix gear/belt switch on checkbox toggle
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly, Needs backport

#17108 Assembly: Fix joint labels bad auto-rename issue.
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly, Needs backport

#17063 Gui: Fix showing multiple dialogs when adding properties to VarSet
  src/Gui/DlgAddPropertyVarSet.cpp
  src/Gui/DlgAddPropertyVarSet.h
Labels: Mod: Core, Needs backport

#17227 PD: Fix crash when clicking on invalid edge in task panel
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.h
Labels: Mod: Part Design, Needs backport

#17233 Fixing the checked toolbutton issue in Qsint
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
Labels: Mod: Core, Topic: Stylesheets, Needs backport

#17225 Draft: Fix upgrade function: delete argument was ignored in case of draftify
  src/Mod/Draft/draftfunctions/upgrade.py
Labels: Mod: Draft, Needs backport

#16998 Assembly: Remove JointObject camera callbacks. And fix lock highlight.
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly, Needs backport

#17092 Assembly: Fix context menu 'Activate object' not working and causing crash
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.h
  src/Mod/Assembly/Gui/ViewProviderAssemblyPy.xml
  src/Mod/Assembly/Gui/ViewProviderAssemblyPyImp.cpp
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly, Needs backport

#17203 Fem: Remove highlighted nodes if ccx finish without error - fixes #14855
  src/Mod/Fem/femtools/ccxtools.py
Labels: Mod: FEM, Needs backport

#17236 [Cam simulator][1.0] Fix shader compilation error on linux.
  src/Mod/CAM/PathSimulator/AppGL/Shader.cpp
Labels: Mod: CAM, Needs backport

#17204 Fem: Fix examples affected by Part workbench preference parameter
  src/Mod/Fem/femexamples/constraint_centrif.py
  src/Mod/Fem/femexamples/constraint_contact_solid_solid.py
Labels: Mod: FEM, Needs backport

#17118 Fem: Use default height for mesh task panel quantity spin boxes
  src/Mod/Fem/Gui/Resources/ui/MeshGmsh.ui
  src/Mod/Fem/Gui/Resources/ui/MeshNetgen.ui
Labels: Mod: FEM, Needs backport

#17244 Part: Fix XML output of PropertyGeometryList::Save
  src/Mod/Part/App/PropertyGeometryList.cpp
Labels: Mod: Part, Needs backport

#16967 Gui: Workaround for crash on close of MDI window
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Gui/MainWindow.cpp
  src/Mod/Test/Document.py
Labels: Mod: Core, Needs backport

#17080 [PartDesign] Disable closed Loft for less than 3 profiles
  src/Mod/PartDesign/App/FeatureLoft.cpp
Labels: Mod: Part Design, Needs backport

#17093 BIM: Fixed missing object creation in IFC document conversion
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/nativeifc/ifc_status.py
Labels: Mod: BIM, Needs backport

#17068 Fix tab order in Add Property Dialog (VarSets)
  src/Gui/DlgAddPropertyVarSet.ui
Labels: Mod: Core, Needs backport

#17179 Gui: add Qt Platform name to splashscreen information dump
  src/Gui/Splashscreen.cpp
Labels: Mod: Core, Needs backport

#17211 [TD]throttle over aggressive dimension autocorrect (fix #17189)
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.h
Labels: Mod: TechDraw, Needs backport

#17182 [TD]Fix bad circles (fix #16980)
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/GeometryMatcher.cpp
Labels: Mod: TechDraw, Needs backport

#17151 Resize external link overlays relative to the device's pixel ratio
  src/Gui/Icons/LinkOverlay.xpm
  src/Gui/Icons/resource.qrc
  src/Gui/Tree.cpp
Labels: Mod: Core, FDWG, Needs backport

#17140 Change to enclose field values ​​with quotation character in exported CSV file if they contain delimiters in Spreadsheet workbench
  src/Mod/Spreadsheet/App/Sheet.cpp
Labels: Mod: Spreadsheet

#17109 MeasureGui: Revert temporary measure object creation
  src/Mod/Measure/Gui/TaskMeasure.cpp
  src/Mod/Measure/Gui/TaskMeasure.h
Labels: Mod: Measurement, Needs backport

#17231 PD: Disable PartDesign_CompDatums & PartDesign_CompSketches if dialog…
  src/Mod/PartDesign/Gui/Command.cpp
Labels: Mod: Part Design, Needs backport

#17084 Fix crashes when importing and opening .csv files on macOS
  src/Mod/Spreadsheet/Gui/AppSpreadsheetGui.cpp
  src/Mod/Start/Gui/StartView.cpp
Labels: Mod: Spreadsheet, Needs backport

#17240 Core: Directly store text changes made in text object
  src/Gui/TextDocumentEditorView.cpp
  src/Gui/TextDocumentEditorView.h
Labels: Mod: Core, Needs backport

#17073 [Gui] Fix isBad asserts by removing old monkey patch
  src/Gui/FreeCADGuiInit.py
Labels: Mod: Core

#17229 Bim remove py2 compatibility code
  conda/environment-qt6.devenv.yml
  conda/environment.devenv.yml
  src/Mod/BIM/bimcommands/BimIfcExplorer.py
Labels: Mod: BIM

#17252 [TechDraw] Fix error for some compilers
  src/Mod/TechDraw/App/Geometry.cpp
Labels: Mod: TechDraw, Needs backport

#17172 Marlin Post Processor not able to write to disk - PR
  src/Mod/CAM/Path/Post/scripts/marlin_post.py
Labels: Mod: CAM, Needs backport

#17273 Sketch: Fix creating the shape of a sketch
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#17278 Fem: Do not use main window widget from another thread - fixes #17255
  src/Mod/Fem/femtools/femutils.py
Labels: Mod: FEM, Needs backport

#17248 PartDesign: Fix body shape not updated
  src/Mod/PartDesign/Gui/TaskFeatureParameters.cpp
Labels: Mod: Part Design, Needs backport

#17275 Use Qt built-in to determine the system's preferred fixed-width font
  src/Gui/PreferencePages/DlgSettingsEditor.cpp
Labels: Mod: Core, Needs backport

#17288 BIM: Fix BIM_Leader callback bug
  src/Mod/BIM/bimcommands/BimLeader.py
Labels: Mod: BIM, Needs backport

#17304 Draft: Improve layer drag-drop fix.
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftviewproviders/view_layer.py
Labels: Mod: Draft, Needs backport

#17267 Assembly: Fix regressions of #16726
  src/Mod/Assembly/JointObject.py
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly, Needs backport

#17215 Core: Fix VarSet add property dialog Esc segfault
  src/Gui/DlgAddPropertyVarSet.cpp
  src/Gui/DlgAddPropertyVarSet.h
Labels: Mod: Core, Needs backport

#17295 GUI: Added dedication to @bgbsww in about dialog/credits
  src/Gui/Splashscreen.cpp
Labels: Mod: Core, Needs backport

#17289 Assembly: Fix limits disappearing on edit
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly, Needs backport

#17269 Fix uptoshape crash when selecting a face without assigned shape
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
Labels: Mod: Part Design, Needs backport

#17121 Gui: try calling graphviz binaries from PATH by default [fix #15224]
  src/Gui/GraphvizView.cpp
Labels: Mod: Core, Needs backport

#17259 [PartDesign DuplicateSelected] do not put duplicated feature into act…
  src/Mod/PartDesign/Gui/CommandBody.cpp
Labels: Mod: Part Design, Needs backport

#17265 Core: Add convenience class ModuleIO to open files
  src/Gui/Action.cpp
  src/Gui/CMakeLists.txt
  src/Gui/MainWindow.cpp
  src/Gui/ModuleIO.cpp
  src/Gui/ModuleIO.h
  src/Mod/Start/Gui/StartView.cpp
Labels: Mod: Core, Needs backport

#17253 Sketch: refactor GeoHistory, make more members private
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#17197 Fem: Netgen meshing parameters improvements
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femmesh/netgentools.py
  src/Mod/Fem/femobjects/base_fempythonobject.py
  src/Mod/Fem/femobjects/mesh_netgen.py
  src/Mod/Fem/femtaskpanels/task_mesh_netgen.py
Labels: Mod: FEM

#17293 Part/PD: Fix cone creation if both radii are equal
  src/Mod/Part/App/PrimitiveFeature.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
Labels: Mod: Part Design, Mod: Part, Needs backport

#17321 Part: Task attacher : Fix datum not being cancelled
  src/Mod/Part/Gui/TaskAttacher.cpp
Labels: Mod: Part, Needs backport

#17341 Gui: Set spin projector sphere depending on rotation center
  src/Gui/NavigationStyle.cpp
Labels: Mod: Core, Needs backport

#17354 Export Dialog:Switch back to default filename
  src/Gui/CommandDoc.cpp
Labels: Mod: Core, Needs backport

#17344 CMake: Add inter-module dependency of Part on Material
  cMake/FreeCAD_Helpers/CheckInterModuleDependencies.cmake
Labels: Packaging/building, Needs backport

#17364 PD: Explicitly switch off AllowCompound for some tests to make them s…
  src/Mod/PartDesign/PartDesignTests/TestInvoluteGear.py
  src/Mod/PartDesign/PartDesignTests/TestMultiTransform.py
Labels: Mod: Part Design, Needs backport

#17369 CMake: Add inter-module dependency of ReverseEngineering on Points
  cMake/FreeCAD_Helpers/CheckInterModuleDependencies.cmake
Labels: Packaging/building, Needs backport

#17367 Workaround for macOS crash when loading FreeCAD by opening a `.FCStd` file from Finder
  src/Gui/Application.cpp
  src/Gui/GuiApplication.cpp
Labels: Mod: Core, OS: macOS, Needs backport

#17366 Core: Set unit scheme when switching between unsaved documents
  src/Gui/Application.cpp
Labels: Mod: Core, Topic: Units, Needs backport

#17378 Core: Fix Ctrl-deselection issue
  src/Gui/SoFCUnifiedSelection.cpp
Labels: Mod: Core, Needs backport

#17381 Gui: extend warning filters
  src/Gui/Application.cpp
Labels: Mod: Core, Needs backport

#17119 Fix boolean operations
  src/Mod/Part/App/AppPart.cpp
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/App/CrossSection.cpp
  src/Mod/Part/App/ExtrusionHelper.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.h
  src/Mod/Part/App/FCBRepAlgoAPI_Common.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_Common.h
  src/Mod/Part/App/FCBRepAlgoAPI_Cut.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_Cut.h
  src/Mod/Part/App/FCBRepAlgoAPI_Fuse.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_Fuse.h
  src/Mod/Part/App/FCBRepAlgoAPI_Section.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_Section.h
  src/Mod/Part/App/FeaturePartBoolean.cpp
  src/Mod/Part/App/FeaturePartBoolean.h
  src/Mod/Part/App/FeaturePartCommon.cpp
  src/Mod/Part/App/FeaturePartCut.cpp
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/Part/App/FeaturePartSection.cpp
  src/Mod/Part/App/FuzzyHelper.cpp
  src/Mod/Part/App/FuzzyHelper.h
  src/Mod/Part/App/OpenCascadeAll.h
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
  src/Mod/Part/App/PropertyTopoShape.h
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Part/Gui/DlgSettingsGeneral.cpp
  src/Mod/Part/Gui/DlgSettingsGeneral.ui
  src/Mod/PartDesign/App/FeatureBoolean.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  src/Mod/Sketcher/App/PreCompiled.h
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/TechDraw/App/DrawBrokenView.cpp
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawGeomHatch.cpp
  src/Mod/TechDraw/App/DrawProjectSplit.cpp
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/ShapeExtractor.cpp
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/FuzzyBoolean.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/brepfiles/cylinder1.brep
  tests/src/Mod/Part/App/brepfiles/helix1.brep
Labels: Mod: TechDraw, Mod: Part Design, Mod: Part, Mod: Sketcher, Needs backport

#17309 Fem: Set startupinfo for gmsh subprocess - fixes #17298
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtools/femutils.py
Labels: Mod: FEM, Needs backport

#17383 Remove broken robot example file
  data/examples/CMakeLists.txt
  data/examples/RobotExample.FCStd
Labels: Needs backport

#17385 Draft: suppress patharray offset warnings if values are already zero
  src/Mod/Draft/draftobjects/patharray.py
Labels: Mod: Draft, Needs backport

#17388 Tux: Avoid warning on startup when BIM is not installed
  src/Mod/Tux/InitGui.py
Labels: Needs backport

#17306 Revert "Horrible hack to work around bug in OCCT7.7.2"
  src/Mod/Part/App/PrimitiveFeature.cpp
Labels: Mod: Part, Needs backport

#17397 Fix compiler warning [-Wmisleading-indentation]
  src/Mod/Part/App/TopoShape.cpp
Labels: Mod: Part

#17430 Add safe mode description to issue template and guide in readme
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
  README.md
Labels: :octocat:

#17424 Draft: fix errors in draft_test_objects.py
  src/Mod/Draft/drafttests/draft_test_objects.py
Labels: Mod: Draft, Needs backport

#17302 [Python Console] prevent crash on autocomplete if python module is in…
  src/Gui/CallTips.cpp
Labels: Mod: Core, Needs backport

#17416 Measure: When measuring the distance between circles then use the cen…
  src/Mod/Measure/App/MeasureDistance.cpp
  src/Mod/Measure/App/MeasureDistance.h
  tests/CMakeLists.txt
  tests/src/Mod/CMakeLists.txt
  tests/src/Mod/Measure/App/CMakeLists.txt
  tests/src/Mod/Measure/App/MeasureDistance.cpp
  tests/src/Mod/Measure/CMakeLists.txt
Labels: Mod: Measurement, Needs backport

#17435 PD: Fix TwoLengths and Midplane both enabled
  src/Mod/PartDesign/App/FeatureExtrude.cpp
Labels: Mod: Part Design, Needs backport

#17434 Disable Qt bug 129596 workeround for Qt >= 6.8.1
  src/Gui/Application.h
Labels: Mod: Core, Needs backport

#17433 Sketcher: Symmetric: Do not copy names of constraints
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher, Needs backport

#17446 Gui: Fix tooltip/documentation in VarSet dialog
  src/Gui/DlgAddPropertyVarSet.cpp
  src/Gui/DlgAddPropertyVarSet.h
Labels: Mod: Core, Needs backport

#17453 Assembly: CommandInsertLink: Hide hidden objects
  src/Mod/Assembly/CommandInsertLink.py
Labels: Mod: Assembly, Needs backport

#17467 Core: Handle possible nested calls of TreeWidget::onUpdateStatus()
  src/Gui/Tree.cpp
Labels: Mod: Core, Needs backport

#17436 [Part RuledSurface] fix issue where ruled surface is failing if both …
  src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Mod: Part, Needs backport

#17417 Sketcher: Fix circle tangent issue
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
Labels: Mod: Sketcher, Needs backport

#17470 Fem: Do not try to set EndStep property for legacy Netgen
  src/Mod/Fem/femcommands/commands.py
Labels: Mod: FEM, Needs backport

#17499 Fix compiler warnings
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/CommandPrimitive.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Part Design, Mod: Sketcher

#17350 [PartDesign Groove/Revolution] minor dialog improvements, addresses i…
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.h
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.ui
  src/Mod/PartDesign/Gui/ViewProviderGroove.cpp
Labels: Mod: Part Design

#17490 Core: Refactor Document::setEdit
  src/Gui/Document.cpp
  src/Gui/Document.h
Labels: Mod: Core, Needs backport

#17488 [TD]do not mark document as changed after print
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.h
  src/Mod/TechDraw/Gui/PagePrinter.cpp
Labels: Mod: TechDraw, Needs backport

#17495 [TD]fix line style regression from #17331 (fix #17494)
  src/Mod/TechDraw/Gui/QGIEdge.cpp
  src/Mod/TechDraw/Gui/QGIEdge.h
Labels: Mod: TechDraw, Needs backport

#17522 [TD]remove spurious mouseReleaseEvent (fix #17519)
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/QGSPage.h
Labels: Mod: TechDraw, Needs backport

#17466 Gui: Correct spin sensitivity
  src/Gui/NavigationStyle.cpp
Labels: Mod: Core, Needs backport

#17376 [Gui] Make styles update on paint
  src/Gui/PreferencePacks/FreeCAD Classic/FreeCAD Classic.cfg
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
  src/Gui/PreferencePacks/FreeCAD Light/FreeCAD Light.cfg
  src/Mod/Start/Gui/FileCardDelegate.cpp
  src/Mod/Start/Gui/StartView.cpp
  src/Mod/Start/Gui/StartView.h
Labels: Mod: Core, Needs backport

#17454 Draft: Fixed trimex bug when snapping to itself
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: Needs backport

#17455 BIM: Fixed export of boolean IFC properties
  src/Mod/BIM/importers/exportIFC.py
Labels: Mod: BIM

#17448 Sketcher: Rotate : Fix exploding sketches when rotating.
  src/Mod/Sketcher/App/PythonConverter.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerRotate.h
Labels: Mod: Sketcher, Needs backport

#17395 [Macros Dialog] Fix broken toolbar walkthrough
  src/Gui/DlgMacroExecuteImp.cpp
  src/Gui/DlgToolbarsImp.cpp
  src/Gui/DlgToolbarsImp.h
Labels: Mod: Core, Needs backport

#17437 Fem: Remove unnecessary system name check
  src/Mod/Fem/femsolver/elmer/tasks.py
  src/Mod/Fem/femsolver/z88/tasks.py
  src/Mod/Fem/femtools/ccxtools.py
Labels: Mod: FEM

#17456 Draft: Warn user if using trimex on unsupported curve type
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: Mod: Draft

#17421 Updated Tolerance feature to optionally restrict maximum tolerance and repair shapes
  src/Mod/Part/BOPTools/ToleranceFeatures.py
Labels: Mod: Part

#17524 Sketch: Make sure that variable 'ActiveSketch' is defined in macro
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
Labels: Mod: Sketcher, Needs backport

#17432 Sketcher: Dimension: Handle case of vertical/horizontal lines
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: Mod: Sketcher, Needs backport

#17538 Core: Extend DocumentObjectPy
  src/App/DocumentObjectPy.xml
  src/App/DocumentObjectPyImp.cpp
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: Mod: Core

#17537 Gui: Make VarSet dialog modal
  src/Gui/CommandStructure.cpp
  src/Gui/DlgAddPropertyVarSet.cpp
  src/Gui/DlgAddPropertyVarSet.h
  src/Gui/ViewProviderVarSet.cpp
Labels: Mod: Core, Needs backport

#17540 Fix OpenSCAD test failing when using pipe transfer mechanism
  src/Mod/OpenSCAD/OpenSCADTest/app/test_importCSG.py
Labels: Mod: OpenSCAD, Needs backport

#17546 Gui: use wildcard for some warnings filters. Fix #16687
  src/Gui/Application.cpp
Labels: Mod: Core, Needs backport

#17551 [1.0] Fix crashes when importing and opening .csv files on macOS (#17084)
  src/Mod/Spreadsheet/Gui/AppSpreadsheetGui.cpp
Labels: Mod: Spreadsheet

#17541 Gui: show cpu architecture in version info instead of word size
  src/Gui/AboutApplication.ui
  src/Gui/Splashscreen.cpp
Labels: Mod: Core, Needs backport

#17532 Materials: Selectively apply appearances when changing materials
  src/Gui/ViewProviderGeometryObject.cpp
  src/Gui/ViewProviderGeometryObject.h
Labels: Mod: Core, Needs backport

#17492 [BIM] Fix IFC export elevation with wrong unit
  src/Mod/BIM/importers/exportIFC.py
Labels: Mod: BIM, Needs backport

#17373 Core: Enable TaskDialogs to associate view
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Gui/EditableDatumLabel.h
  src/Gui/MDIView.cpp
  src/Gui/TaskView/TaskDialog.cpp
  src/Gui/TaskView/TaskDialog.h
  src/Gui/TaskView/TaskImage.cpp
  src/Gui/TaskView/TaskView.cpp
  src/Gui/TaskView/TaskView.h
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.cpp
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.h
Labels: Mod: Core, Mod: Sketcher, Needs backport

#17498 Help: Fix function return to avoid error when clicking URL on built-in browser
  src/Mod/Help/Help.py
Labels: Needs backport
