Repository FreeCAD/FreeCAD, pull requests merged in 2024-12, with the labels that each got.

#18224 Disable python2 support
  src/Base/PyObjectBase.h
Labels: Mod: Core

#18222 Fix compile on FreeBSD with spnav
  src/Gui/GuiApplicationNativeEventAware.cpp
Labels: Mod: Core

#18217 Gui: Do not ignore alpha channel when converting QImage to SoSFImage
  src/Gui/BitmapFactory.cpp
Labels: Mod: Core

#18190 Fixing OfflineRenderingUtils.guidata on BIMExample.FCstd
  src/Mod/BIM/OfflineRenderingUtils.py
Labels: Mod: BIM

#18018 Spreadsheet: use 'text' instead of 'foreground' in tooltip
  src/Mod/Spreadsheet/Gui/Workbench.cpp
Labels: Mod: Spreadsheet

#17362 App: Property.h correct comment for NoRecompute status
  src/App/Property.h
Labels: Mod: Core

#17264 BIM: ensure the Base has the correct type
  src/Mod/BIM/ArchComponent.py
  src/Mod/BIM/ArchCurtainWall.py
  src/Mod/BIM/ArchEquipment.py
  src/Mod/BIM/ArchFrame.py
  src/Mod/BIM/ArchPanel.py
  src/Mod/BIM/ArchPipe.py
  src/Mod/BIM/ArchRebar.py
  src/Mod/BIM/ArchRoof.py
  src/Mod/BIM/ArchSpace.py
  src/Mod/BIM/ArchStairs.py
  src/Mod/BIM/ArchStructure.py
  src/Mod/BIM/ArchTruss.py
  src/Mod/BIM/ArchWall.py
  src/Mod/BIM/ArchWindow.py
Labels: Mod: BIM

#18121 BIM: Set opening name
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: Mod: BIM

#17008 PartDesign: decouple refine and other geometric computation
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/Feature.h
  src/Mod/PartDesign/App/FeatureAddSub.cpp
  src/Mod/PartDesign/App/FeatureAddSub.h
  src/Mod/PartDesign/App/FeatureChamfer.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureFillet.cpp
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureThickness.cpp
Labels: Mod: Part Design

#18014 add local OndselSolver includes only when not external
  src/Mod/Assembly/App/CMakeLists.txt
Labels: Mod: Assembly

#18041 Assembly: Fix explosion view group deletion issue.
  src/Mod/Assembly/CommandCreateView.py
Labels: Mod: Assembly, Needs backport

#17993 Gui: Fix VarSet dialog 2 digit problem
  src/Gui/DlgAddPropertyVarSet.cpp
Labels: Mod: Core, Needs backport

#16301 [TechDraw] Translations and grammer
  src/Mod/TechDraw/App/DrawViewDimExtent.cpp
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
  src/Mod/TechDraw/Gui/DlgPageChooser.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensions.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneral.ui
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/PagePrinter.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.ui
  src/Mod/TechDraw/Gui/TaskCosVertex.ui
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.ui
  src/Mod/TechDraw/Gui/TaskCosmeticLine.ui
  src/Mod/TechDraw/Gui/TaskDetail.ui
  src/Mod/TechDraw/Gui/TaskDimRepair.cpp
  src/Mod/TechDraw/Gui/TaskDimension.cpp
  src/Mod/TechDraw/Gui/TaskHatch.ui
  src/Mod/TechDraw/Gui/TaskHoleShaftFit.ui
  src/Mod/TechDraw/Gui/TaskLineDecor.ui
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
  src/Mod/TechDraw/Gui/TaskSectionView.ui
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.ui
  src/Mod/TechDraw/Gui/TaskWeldingSymbol.ui
Labels: Translation, Mod: TechDraw

#18074 GitHub: add actions/stale to keep the GitHub backlog tidy
  .github/stale_issues
Labels: :octocat:

#17922 Assembly: Insert new part
  src/Mod/Assembly/CMakeLists.txt
  src/Mod/Assembly/CommandInsertLink.py
  src/Mod/Assembly/CommandInsertNewPart.py
  src/Mod/Assembly/InitGui.py
  src/Mod/Assembly/JointObject.py
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly

#18259 Sketcher: remove auto-generated 'enum value' comments
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfHyperbola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfParabola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLineSet.h
Labels: Mod: Sketcher

#18246 Base: Drop QString-std::string conversion functions from Tools
  src/Base/Tools.h
  src/Gui/DlgExpressionInput.cpp
  src/Gui/ExpressionCompleter.cpp
  src/Gui/InputField.cpp
  src/Gui/SpinBox.cpp
  src/Gui/Widgets.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.cpp
  src/Mod/Fem/Gui/TaskFemConstraintSpring.cpp
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Spreadsheet/App/Cell.cpp
  src/Mod/Spreadsheet/App/Sheet.cpp
  src/Mod/Spreadsheet/Gui/PropertiesDialog.cpp
  src/Mod/Spreadsheet/Gui/SheetModel.cpp
  src/Mod/Spreadsheet/Gui/SpreadsheetView.cpp
  src/Mod/TechDraw/App/DimensionFormatter.cpp
  src/Mod/TechDraw/App/DrawSVGTemplate.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawViewSpreadsheet.cpp
  src/Mod/TechDraw/Gui/AppTechDrawGui.cpp
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
  src/Mod/TechDraw/Gui/DlgPageChooser.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensionsImp.cpp
  src/Mod/TechDraw/Gui/DlgStringListEditor.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/PagePrinter.cpp
  src/Mod/TechDraw/Gui/QGIHighlight.cpp
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
  src/Mod/TechDraw/Gui/QGISectionLine.cpp
  src/Mod/TechDraw/Gui/QGITile.cpp
  src/Mod/TechDraw/Gui/QGIWeldSymbol.cpp
  src/Mod/TechDraw/Gui/TaskActiveView.cpp
  src/Mod/TechDraw/Gui/TaskCenterLine.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.cpp
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
  src/Mod/TechDraw/Gui/TaskCustomizeFormat.cpp
  src/Mod/TechDraw/Gui/TaskDetail.cpp
  src/Mod/TechDraw/Gui/TaskDimRepair.cpp
  src/Mod/TechDraw/Gui/TaskGeomHatch.cpp
  src/Mod/TechDraw/Gui/TaskHatch.cpp
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
  src/Mod/TechDraw/Gui/TaskLineDecor.cpp
  src/Mod/TechDraw/Gui/TaskRichAnno.cpp
  src/Mod/TechDraw/Gui/TaskSectionView.cpp
  src/Mod/TechDraw/Gui/TemplateTextField.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.cpp
  src/Mod/TechDraw/Gui/Widgets/CompassDialWidget.cpp
  src/Mod/TechDraw/Gui/Widgets/VectorEditWidget.cpp
  src/Mod/TechDraw/Gui/mrichtextedit.cpp
Labels: Mod: Core, Mod: FEM, Mod: TechDraw, Mod: Spreadsheet, Mod: Sketcher

#18261 Fix compiler warnings
  src/Gui/DlgAddPropertyVarSet.cpp
  src/Mod/Assembly/App/AssemblyUtils.cpp
Labels: Mod: Core, Mod: Assembly

#18221 BIM: import ToDo from correct file
  src/Mod/BIM/Arch.py
  src/Mod/BIM/ArchBuilding.py
  src/Mod/BIM/ArchFloor.py
  src/Mod/BIM/ArchReference.py
  src/Mod/BIM/InitGui.py
  src/Mod/BIM/bimcommands/BimConvert.py
  src/Mod/BIM/bimcommands/BimLibrary.py
  src/Mod/BIM/bimcommands/BimMaterial.py
  src/Mod/BIM/bimcommands/BimPreflight.py
  src/Mod/BIM/bimcommands/BimTutorial.py
  src/Mod/BIM/bimcommands/BimUnclone.py
Labels: Mod: BIM

#18067 BIM: Support for property sets in Native IFC
  src/Mod/BIM/BimStatus.py
  src/Mod/BIM/CMakeLists.txt
  src/Mod/BIM/Presets/properties_conversion.csv
  src/Mod/BIM/Resources/Arch.qrc
  src/Mod/BIM/Resources/ui/dialogAddPSet.ui
  src/Mod/BIM/Resources/ui/dialogAddProperty.ui
  src/Mod/BIM/bimcommands/BimIfcProperties.py
  src/Mod/BIM/nativeifc/ifc_observer.py
  src/Mod/BIM/nativeifc/ifc_psets.py
  src/Mod/BIM/nativeifc/ifc_status.py
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: Mod: BIM

#15811 [Sketcher] Round 1 of refactors
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry.h
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  src/Mod/Sketcher/App/Constraint.cpp
  src/Mod/Sketcher/App/Constraint.h
  src/Mod/Sketcher/App/GeometryFacade.cpp
  src/Mod/Sketcher/App/GeometryFacade.h
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  tests/src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Part Design, Mod: Sketcher

#18269 BIM: Fixed lock-unlock mode when opening IFC files
  src/Mod/BIM/nativeifc/ifc_import.py
Labels: Mod: BIM

#17004 BIM: Added NativeIFC support to Add/remove tools
  src/Mod/BIM/bimcommands/BimArchUtils.py
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/nativeifc/ifc_diff.py
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: Mod: BIM, File format: IFC

#18286 Fix: Ensure IFC context menu actions are displayed correctly
  src/Mod/BIM/nativeifc/ifc_viewproviders.py
Labels: Mod: BIM

#18129 Draft: Legacy DXF importer: fix layer block behavior
  src/Mod/Draft/importDXF.py
Labels: Mod: Draft

#18294 Fix compiler warnings
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
Labels: Mod: Sketcher

#18256 Fix incorrect displayed default compression level in preferences
  src/Gui/PreferencePages/DlgSettingsDocument.ui
Labels: Mod: Core

#18212 Draft: Fix finish behavior of commands on doc close
  src/Mod/Draft/draftguitools/gui_circulararray.py
  src/Mod/Draft/draftguitools/gui_edit.py
  src/Mod/Draft/draftguitools/gui_orthoarray.py
  src/Mod/Draft/draftguitools/gui_points.py
  src/Mod/Draft/draftguitools/gui_polararray.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/drafttaskpanels/task_circulararray.py
  src/Mod/Draft/drafttaskpanels/task_orthoarray.py
  src/Mod/Draft/drafttaskpanels/task_polararray.py
Labels: Mod: Draft

#18307 Draft: Fix make_point color regression
  src/Mod/Draft/draftmake/make_point.py
Labels: Mod: Draft, Needs backport

#18299 Draft: change position of 'Scale multiplier' field in UI
  src/Mod/Draft/Resources/ui/TaskPanel_SetStyle.ui
  src/Mod/Draft/Resources/ui/dialog_AnnotationStyleEditor.ui
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
Labels: Mod: Draft

#18313 Sketcher: Fix first external geo deletion failure.
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#18314 Draft: make Trimex extrude mode link-aware
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: Mod: Draft

#18321 FEM: Correct typos in error messages
  src/Mod/Fem/femtools/checksanalysis.py
Labels: Mod: FEM

#18320 Draft: allow point for Trimex extrusion to be co-planar with the face
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: Mod: Draft

#18031 PartDesign: revert c09ef94 and a3c4f4b to fix 17949
  src/Mod/PartDesign/Gui/Utils.cpp
Labels: Mod: Part Design

#18183 App: Extend/change color API:
  src/App/Color.h
  src/Gui/TaskElementColors.cpp
Labels: Mod: Core

#15843 Fem: Add box and elliptical beam section types - fixes #12614
  src/Mod/Fem/Gui/Resources/ui/ElementGeometry1D.ui
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/femobjects/element_geometry1D.py
  src/Mod/Fem/femsolver/calculix/write_femelement_geometry.py
  src/Mod/Fem/femtaskpanels/task_element_geometry1D.py
Labels: Mod: FEM

#16666 Gui: Added SendToPythonConsole item in PartDesign tree view right-click menu.
  src/Mod/PartDesign/Gui/Workbench.cpp
Labels: Mod: Part Design, FDWG

#16518 [PartDesign]: Sort sketches in Attach sketch tool alphabetically
  src/Mod/Sketcher/Gui/Command.cpp
Labels: Mod: Sketcher

#16510 [Mod] clean JoinFeatures.py
  src/Mod/Part/JoinFeatures.py
Labels: Mod: Part

#15467 Clean ElementMap.h
  src/Mod/Import/App/ImportOCAF2.cpp
Labels: Mod: Core

#12856 [Core] Fix for frozen status
  src/App/DocumentObject.cpp
  src/Gui/CommandDoc.cpp
  src/Gui/CommandFeat.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Core

#17315 [Spreadsheet] avoid removing user dynamic properties when clearing ce…
  src/Mod/Spreadsheet/App/PropertySheet.cpp
  src/Mod/Spreadsheet/App/PropertySheet.h
  src/Mod/Spreadsheet/App/Sheet.cpp
  tests/CMakeLists.txt
  tests/src/Mod/CMakeLists.txt
  tests/src/Mod/Spreadsheet/App/CMakeLists.txt
  tests/src/Mod/Spreadsheet/App/PropertySheet.cpp
  tests/src/Mod/Spreadsheet/CMakeLists.txt
Labels: Mod: Spreadsheet

#17379 Draft: better check for Gui object
  src/Mod/Draft/Draft.py
  src/Mod/Draft/draftobjects/bezcurve.py
  src/Mod/Draft/draftobjects/block.py
  src/Mod/Draft/draftobjects/bspline.py
  src/Mod/Draft/draftobjects/circle.py
  src/Mod/Draft/draftobjects/clone.py
  src/Mod/Draft/draftobjects/dimension.py
  src/Mod/Draft/draftobjects/draft_annotation.py
  src/Mod/Draft/draftobjects/draftlink.py
  src/Mod/Draft/draftobjects/ellipse.py
  src/Mod/Draft/draftobjects/facebinder.py
  src/Mod/Draft/draftobjects/fillet.py
  src/Mod/Draft/draftobjects/hatch.py
  src/Mod/Draft/draftobjects/label.py
  src/Mod/Draft/draftobjects/layer.py
  src/Mod/Draft/draftobjects/point.py
  src/Mod/Draft/draftobjects/polygon.py
  src/Mod/Draft/draftobjects/rectangle.py
  src/Mod/Draft/draftobjects/shape2dview.py
  src/Mod/Draft/draftobjects/shapestring.py
  src/Mod/Draft/draftobjects/text.py
  src/Mod/Draft/draftobjects/wire.py
  src/Mod/Draft/draftobjects/wpproxy.py
  src/Mod/Draft/draftutils/gui_utils.py
Labels: Mod: Draft

#17799 Gui: Remove rogue preferences from PreferencePacks (Light theme should not change PickRadius)
  src/Gui/PreferencePacks/FreeCAD Classic/FreeCAD Classic.cfg
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
  src/Gui/PreferencePacks/FreeCAD Light/FreeCAD Light.cfg
Labels: Mod: Core, Topic: Stylesheets, FDWG, Needs backport

#18126 Core datums : Card2 : Core implementation
  src/App/Application.cpp
  src/App/CMakeLists.txt
  src/App/Datums.cpp
  src/App/Datums.h
  src/App/GeoFeatureGroupExtension.cpp
  src/App/Graphviz.cpp
  src/App/Origin.cpp
  src/App/Origin.h
  src/App/OriginFeature.cpp
  src/App/OriginFeature.h
  src/App/OriginGroupExtension.cpp
  src/Gui/Application.cpp
  src/Gui/CMakeLists.txt
  src/Gui/ViewProviderCoordinateSystem.cpp
  src/Gui/ViewProviderCoordinateSystem.h
  src/Gui/ViewProviderDatum.cpp
  src/Gui/ViewProviderDatum.h
  src/Gui/ViewProviderLine.cpp
  src/Gui/ViewProviderLine.h
  src/Gui/ViewProviderOriginFeature.cpp
  src/Gui/ViewProviderOriginGroupExtension.cpp
  src/Gui/ViewProviderOriginGroupExtension.h
  src/Gui/ViewProviderPlane.cpp
  src/Gui/ViewProviderPlane.h
  src/Gui/ViewProviderPoint.cpp
  src/Gui/ViewProviderPoint.h
  src/Mod/Fem/App/FemConstraint.cpp
  src/Mod/Fem/Gui/TaskFemConstraintForce.cpp
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/FeatureMirroring.cpp
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/Gui/Mirroring.cpp
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/Part/parttests/ColorTransparencyTest.py
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/FeatureDraft.cpp
  src/Mod/PartDesign/App/FeatureLinearPattern.cpp
  src/Mod/PartDesign/App/FeatureMirrored.cpp
  src/Mod/PartDesign/App/FeaturePolarPattern.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/PartDesign/Gui/ReferenceSelection.cpp
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
  src/Mod/PartDesign/Gui/TaskFeaturePick.cpp
  src/Mod/PartDesign/Gui/TaskFeaturePick.h
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskMirroredParameters.cpp
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskPrimitiveParameters.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.h
  src/Mod/PartDesign/Gui/Utils.cpp
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
  src/Mod/PartDesign/Gui/ViewProviderBody.h
  src/Mod/PartDesign/Gui/ViewProviderDatum.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/Command.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerExternal.h
Labels: Mod: Core, Mod: FEM, Mod: Part Design, Mod: Part, Mod: Sketcher, Mod: Test

#18090 Fem: Fix references assignment in centrif example
  src/Mod/Fem/femexamples/constraint_centrif.py
Labels: Mod: FEM, Needs backport

#18100 Assembly: migrationScript2 and migrationScript4 improved and refactored
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly, Needs backport

#15207 Improve Notification Area settings
  src/Gui/PreferencePages/DlgSettingsNotificationArea.cpp
  src/Gui/PreferencePages/DlgSettingsNotificationArea.h
  src/Gui/PreferencePages/DlgSettingsNotificationArea.ui
Labels: Mod: Core

#8069 Path: Add G84/G74 Tapping Operation
  src/Mod/CAM/CAMTests/TestPathTapGenerator.py
  src/Mod/CAM/CMakeLists.txt
  src/Mod/CAM/Gui/Resources/Path.qrc
  src/Mod/CAM/Gui/Resources/icons/CAM_Tapping.svg
  src/Mod/CAM/Gui/Resources/panels/PageOpTappingEdit.ui
  src/Mod/CAM/InitGui.py
  src/Mod/CAM/Path/Base/Generator/tapping.py
  src/Mod/CAM/Path/GuiInit.py
  src/Mod/CAM/Path/Op/Gui/Selection.py
  src/Mod/CAM/Path/Op/Gui/Tapping.py
  src/Mod/CAM/Path/Op/Tapping.py
  src/Mod/CAM/TestCAMApp.py
  src/Mod/CAM/Tools/Bit/375-16_Tap.fctb
  src/Mod/CAM/Tools/Shape/tap.fcstd
Labels: Mod: CAM

#18081 cam: remove imghdr import
  src/Mod/CAM/CAMTests/TestCAMSanity.py
Labels: Mod: CAM

#18267 BIM: Fixed lock button with no doc
  src/Mod/BIM/nativeifc/ifc_status.py
Labels: Mod: BIM

#18328 FEM: ResultsPurge - delete all results objects including pipelines and filters
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femresult/resulttools.py
Labels: Mod: FEM

#18327 Update stale_issues.yml
  .github/workflows/auto-close_stale_issues_and_pull-requests.yml
Labels: :octocat:

#18342 Add exception for actions/stale for `no-auto-close` label
  .github/workflows/auto-close_stale_issues_and_pull-requests.yml
Labels: :octocat:

#17282 [Points WB] fix issue where points are inaccurately imported when the…
  src/Mod/Points/Gui/Command.cpp
Labels: Mod: Points, Needs backport

#15332 Apply result of calculations with copy on change properties
  src/Mod/PartDesign/App/ShapeBinder.cpp
Labels: Mod: Part Design

#18271 Materials: Check if m_uuid is empty before adding to recents
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
Labels: Mod: Materials

#18268 Fem: Fix FemPostPipeline base class
  src/Mod/Fem/App/FemPostPipeline.cpp
  src/Mod/Fem/App/FemPostPipeline.h
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
Labels: Mod: FEM

#18377 Update auto-close_stale_issues_and_pull-requests.yml
  .github/workflows/auto-close_stale_issues_and_pull-requests.yml
Labels: :octocat:

#18362 BIM: Improve onChanged Placement code
  src/Mod/BIM/ArchBuildingPart.py
  src/Mod/BIM/ArchComponent.py
Labels: Mod: BIM, Needs backport

#18344 Arch/Draft: Fix transparency vs. alpha issues
  src/Mod/BIM/ArchBuildingPart.py
  src/Mod/BIM/ArchCurtainWall.py
  src/Mod/BIM/ArchPanel.py
  src/Mod/BIM/ArchWall.py
  src/Mod/BIM/ArchWindow.py
  src/Mod/BIM/importers/importIFC.py
  src/Mod/BIM/importers/importIFCHelper.py
  src/Mod/BIM/nativeifc/ifc_tools.py
  src/Mod/Draft/draftutils/gui_utils.py
Labels: Mod: BIM, Mod: Draft

#18336 [ArchStructure] Variant PropertrySet Support in ArchSketch
  src/Mod/BIM/ArchStructure.py
Labels: Mod: BIM

#18288 cMake: Update for LibPack 3.1
  cMake/FreeCAD_Helpers/CopyLibpackDirectories.cmake
  cMake/UseLibPack3.cmake
  src/Mod/MeshPart/App/CMakeLists.txt
Labels: Packaging/building, Mod: MeshPart

#18312 BIM: Fixed copy-paste bug in nativeifc psets
  src/Mod/BIM/nativeifc/ifc_psets.py
Labels: Mod: BIM

#18244 Gui: Add runtime check to choose between modern and legacy space mous…
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  src/Gui/Application.cpp
  src/Gui/CMakeLists.txt
  src/Gui/PreferencePages/DlgSettingsNavigation.cpp
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
  src/Gui/resource.cpp
Labels: Mod: Core, Hardware: 3dconnexion

#18282 [TD]add shape validation tool for debugging
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/App/ShapeExtractor.cpp
  src/Mod/TechDraw/App/ShapeExtractor.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvanced.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAdvancedImp.cpp
Labels: Mod: TechDraw

#18099 Gui: allow LineEdit to grow with text - fixes #17747
  src/Gui/Tree.cpp
Labels: Mod: Core

#18284 [TD]fix #18050 hidden line color
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
Labels: Mod: TechDraw

#17720 Fix Arc length look for angle > pi
  src/Gui/SoDatumLabel.cpp
Labels: Mod: Core

#18303 PartDesign: fix testGiantHelix*
  src/Mod/PartDesign/PartDesignTests/TestHelix.py
Labels: Mod: Part Design

#18306 PD: Fix error "duplicate command PartDesign_InvoluteGear"
  src/Mod/PartDesign/Gui/Workbench.cpp
  src/Mod/PartDesign/InitGui.py
  src/Mod/PartDesign/InvoluteGearFeature.py
  src/Mod/PartDesign/SprocketFeature.py
Labels: Mod: Part Design

#18182 Add pixi package manager support.
  .github/workflows/CI_master.yml
  .github/workflows/sub_buildMacOSCondaApple.yml
  .github/workflows/sub_buildMacOSCondaIntel.yml
  .github/workflows/sub_buildPixi.yml
  .github/workflows/sub_buildUbuntu2204Conda.yml
  .github/workflows/sub_buildUbuntu2204CondaQt6.yml
  .github/workflows/sub_buildWindowsConda.yml
  .gitignore
  CMakePresets.json
  pixi.lock
  pixi.toml
Labels: :octocat:

#18245 CMake: Report use of ccache in the summary
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
Labels: Packaging/building

#16803 Toponaming: Add a plane matching based heuristic to TNP mitigation
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part

#17972 Fem: Add options for Elmer solver output file - fixes #17569
  src/Mod/Fem/Gui/DlgSettingsFemElmer.ui
  src/Mod/Fem/Gui/DlgSettingsFemElmerImp.cpp
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femsolver/elmer/solver.py
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femtest/data/elmer/box_static_0_mm.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_faceload_0_mm.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_faceload_1_si.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_nodeload_0_mm.sif
  src/Mod/Fem/femtest/data/elmer/ccxcantilever_prescribeddisplacement_0_mm.sif
Labels: Mod: FEM

#17717 Add possiblity to autosave current measurement and restarting new measurement
  src/Mod/Measure/Gui/TaskMeasure.cpp
  src/Mod/Measure/Gui/TaskMeasure.h
Labels: :octocat:, Mod: Measurement

#18322 CMake: Decouple internal SMESH build from Fem build - fixes #18287
  cMake/FreeCAD_Helpers/CheckInterModuleDependencies.cmake
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  cMake/FreeCAD_Helpers/SetupSalomeSMESH.cmake
  src/3rdParty/CMakeLists.txt
  src/Mod/MeshPart/App/CMakeLists.txt
  src/Mod/MeshPart/Gui/CMakeLists.txt
  tests/src/Mod/Measure/CMakeLists.txt
Labels: Packaging/building, Mod: MeshPart

#18324 Addon Manager: Refactor progress reporting
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_widget_progress_bar.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_progress_bar.py
  src/Mod/AddonManager/addonmanager_workers_installation.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
  src/Mod/AddonManager/package_list.py
Labels: Mod: Addon Manager

#17851 [core] add copy table and paste table context menu items to App::Prop…
  src/Gui/VectorListEditor.cpp
  src/Gui/VectorListEditor.h
Labels: Mod: Core

#18275 Assembly: fix gears created with null radius and de-sync
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly

#15594 [Sketcher] [Post 1.0] Allow CarbonCopy to work with SketchObjectPython
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerCarbonCopy.h
Labels: Mod: Sketcher

#18325 FEM: Allow shell faces for tie constraint
  src/Mod/Fem/femmesh/meshtools.py
Labels: Mod: FEM

#18404 Points: add QMessageBox to PreCompiled.h
  src/Mod/Points/Gui/PreCompiled.h
Labels: Mod: Points

#18401 PartDesign: Fix failing TNP test.
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part Design

#18340 Gui: Rename ViewProviderDatum::getRoot() to ViewProviderDatum::getDat…
  src/Gui/ViewProviderDatum.h
  src/Gui/ViewProviderLine.cpp
  src/Gui/ViewProviderPlane.cpp
  src/Gui/ViewProviderPoint.cpp
Labels: Mod: Core

#18418 Sketcher: Fix warning [-Wmaybe-uninitialized]
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#18415 Core: Fix pre-selection of coordinate system
  src/Gui/ViewProviderDatum.cpp
Labels: Mod: Core

#18429 BIM: Fixes appearance defects
  src/Mod/BIM/nativeifc/ifc_generator.py
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: Mod: BIM

#18438 fixed loading of bim tutorial images
  src/Mod/BIM/bimcommands/BimTutorial.py
Labels: Mod: BIM

#18468 Dark theme: tweak error color
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
Labels: Mod: Core

#18449 Part: Fix compiler warnings [-Wodr]
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Mod: Part

#18433 Update for 3Dconnexion NavLib integration
  src/Gui/3Dconnexion/navlib/NavlibInterface.h
  src/Gui/3Dconnexion/navlib/NavlibNavigation.cpp
  src/Gui/3Dconnexion/navlib/NavlibPivot.cpp
Labels: Mod: Core, Hardware: 3dconnexion, Needs backport

#18346 Fix SketchObjectPy::addExternal
  src/Mod/Sketcher/App/SketchObjectPy.xml
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
Labels: Mod: Sketcher

#15532 Fix and add menu accelerators
  src/Gui/Action.cpp
  src/Gui/Application.h
  src/Gui/CommandDoc.cpp
  src/Gui/CommandFeat.cpp
  src/Gui/CommandLink.cpp
  src/Gui/CommandMacro.cpp
  src/Gui/CommandStd.cpp
  src/Gui/CommandView.cpp
  src/Gui/CommandWindow.cpp
  src/Gui/DocumentRecovery.cpp
  src/Gui/OnlineDocumentation.cpp
  src/Gui/Workbench.cpp
  src/Mod/Material/Gui/Command.cpp
  src/Mod/Part/Gui/Command.cpp
  src/Mod/PartDesign/Gui/CommandBody.cpp
  src/Mod/Spreadsheet/Gui/Command.cpp
  src/Mod/Start/Gui/Manipulator.cpp
Labels: Mod: Core

#18200 Refactor and optimize PLY reader
  src/Mod/Mesh/App/CMakeLists.txt
  src/Mod/Mesh/App/Core/IO/ReaderPLY.cpp
  src/Mod/Mesh/App/Core/IO/ReaderPLY.h
  src/Mod/Mesh/App/Core/MeshIO.cpp
Labels: Mod: Mesh

#17769 TopoNaming: Refine - mark joined faces as modified not generated
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part

#15235 Add export config directory specification feature
  src/Gui/DlgCreateNewPreferencePack.ui
  src/Gui/DlgCreateNewPreferencePackImp.cpp
  src/Gui/DlgCreateNewPreferencePackImp.h
  src/Gui/PreferencePackManager.cpp
  src/Gui/PreferencePackManager.h
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
Labels: Mod: Core

#18379 cmake fixes for external OndselSolver building
  src/Mod/Assembly/App/AssemblyObject.h
  src/Mod/Assembly/App/CMakeLists.txt
  src/Mod/Assembly/CMakeLists.txt
  tests/src/Mod/Assembly/CMakeLists.txt
Labels: Mod: Assembly

#18392 Base: Add electromagnetic potential unit
  src/App/Application.cpp
  src/App/PropertyUnits.cpp
  src/App/PropertyUnits.h
  src/Base/Unit.cpp
  src/Base/Unit.h
  src/Base/UnitsSchemaInternal.cpp
  src/Base/UnitsSchemaMKS.cpp
Labels: Mod: Core

#18400 Fem: Make it possible to run CalculiX with one core - fixes #18339
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
Labels: Mod: FEM

#16130 [Spreadsheet] Enable zoom in Spreadsheet
  src/Mod/Spreadsheet/Gui/CMakeLists.txt
  src/Mod/Spreadsheet/Gui/DlgSettings.ui
  src/Mod/Spreadsheet/Gui/DlgSettingsImp.cpp
  src/Mod/Spreadsheet/Gui/Sheet.ui
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
  src/Mod/Spreadsheet/Gui/SheetTableView.h
  src/Mod/Spreadsheet/Gui/SpreadsheetView.cpp
  src/Mod/Spreadsheet/Gui/ZoomableView.cpp
  src/Mod/Spreadsheet/Gui/ZoomableView.h
Labels: Topic: User Interface, Mod: Spreadsheet, Topic: Zoom

#17944 Address the poor performance of the existing unique-name generation
  src/App/Application.cpp
  src/App/Application.h
  src/App/Document.cpp
  src/App/Document.h
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
  src/App/DynamicProperty.cpp
  src/App/DynamicProperty.h
  src/App/Extension.cpp
  src/App/Extension.h
  src/App/ExtensionContainer.cpp
  src/App/ExtensionContainer.h
  src/App/PropertyContainer.cpp
  src/App/PropertyContainer.h
  src/App/PropertyStandard.cpp
  src/App/private/DocumentP.h
  src/Base/Reader.cpp
  src/Base/Reader.h
  src/Base/Tools.cpp
  src/Base/Tools.h
  src/Base/Writer.cpp
  src/Base/Writer.h
  src/Gui/Document.cpp
  src/Gui/ViewProviderLink.cpp
  src/Gui/ViewProviderLink.h
  src/Mod/Spreadsheet/App/Sheet.cpp
  src/Mod/Spreadsheet/App/Sheet.h
  tests/src/Base/Tools.cpp
Labels: Mod: Core, Mod: Spreadsheet

#18424 [Gui] Tree, set FontSize on start of application
  src/Gui/Tree.cpp
Labels: Mod: Core, Needs backport

#18323 Base: Add Services and ServiceProvider
  src/Base/CMakeLists.txt
  src/Base/ServiceProvider.cpp
  src/Base/ServiceProvider.h
  tests/src/Base/CMakeLists.txt
  tests/src/Base/ServiceProvider.cpp
Labels: Mod: Core

#18132 [TD]respect locale for date autofill
  src/Mod/TechDraw/App/DrawTemplate.cpp
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotation.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotationImp.cpp
  src/Mod/TechDraw/Gui/TemplateTextField.cpp
Labels: Mod: TechDraw

#18381 Sketch: Fix possible crash in BSpline::splineValue
  src/Mod/Sketcher/App/planegcs/Geo.cpp
Labels: Needs backport

#18435 PD: Fix possible crash in up to shape
  src/Mod/PartDesign/App/FeatureExtrude.cpp
Labels: Mod: Part Design, Needs backport

#17326 [CAM] implement multipass profile operations
  src/Mod/CAM/App/Area.cpp
  src/Mod/CAM/Gui/Resources/panels/PageOpProfileFullEdit.ui
  src/Mod/CAM/Path/Op/Gui/Profile.py
  src/Mod/CAM/Path/Op/Profile.py
Labels: Mod: CAM

#18471 BIM: Fixed shape loading
  src/Mod/BIM/nativeifc/ifc_viewproviders.py
Labels: Mod: BIM

#18407 Clean ViewProviderAssembly.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Mod: Assembly

#18258 Sketcher: Fix double RMB to quit polyline after closed shape
  src/Mod/Sketcher/Gui/DrawSketchHandlerLineSet.h
Labels: Mod: Sketcher

#16789 Gui: add method to select objects with a 3D ray
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventor.h
  src/Gui/View3DPy.cpp
  src/Gui/View3DPy.h
Labels: Mod: Core, 3rd party: Coin3D

#16509 [Mod] Clean AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.cpp
Labels: Coding: Refactor, Mod: Assembly

#17368 Remove mentions of FLANN
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
Labels: Packaging/building, Mod: Reverse Engineering

#18332 Core Datums: Card4 : implement part subclasses.
  src/App/Datums.cpp
  src/App/Datums.h
  src/App/GeoFeature.cpp
  src/App/GeoFeature.h
  src/Gui/CommandStructure.cpp
  src/Gui/ViewProviderCoordinateSystem.cpp
  src/Gui/ViewProviderCoordinateSystem.h
  src/Gui/ViewProviderLine.cpp
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.h
  src/Mod/Assembly/App/AssemblyUtils.cpp
  src/Mod/Assembly/CommandCreateJoint.py
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/JointObject.py
  src/Mod/Assembly/UtilsAssembly.py
  src/Mod/Part/App/AppPart.cpp
  src/Mod/Part/App/AttachExtension.cpp
  src/Mod/Part/App/AttachExtension.h
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/Attacher.h
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/App/Datums.cpp
  src/Mod/Part/App/Datums.h
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/Gui/AppPartGui.cpp
  src/Mod/Part/Gui/CMakeLists.txt
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/Part/Gui/TaskAttacher.h
  src/Mod/Part/Gui/ViewProviderAttachExtension.cpp
  src/Mod/Part/Gui/ViewProviderAttachExtension.h
  src/Mod/Part/Gui/ViewProviderDatum.cpp
  src/Mod/Part/Gui/ViewProviderDatum.h
  src/Mod/Part/Gui/WorkbenchManipulator.cpp
  src/Mod/Part/Gui/WorkbenchManipulator.h
  src/Mod/PartDesign/App/Body.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/PartDesign/Gui/ReferenceSelection.cpp
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
  src/Mod/PartDesign/Gui/ViewProviderDatum.cpp
  src/Mod/PartDesign/Gui/ViewProviderDatum.h
  src/Mod/PartDesign/Gui/Workbench.cpp
  src/Mod/Test/Document.py
Labels: Mod: Core, Mod: Part Design, Mod: Part, Mod: Test, Mod: Assembly

#18482 Fix several compiler warnings:
  src/Base/Tools.cpp
  src/Base/Tools.h
  src/Gui/View3DInventor.cpp
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
Labels: Mod: Core, Mod: Spreadsheet

#18488 Gui: Rename variable to eliminate macro conflict
  src/Gui/View3DInventor.cpp
Labels: Mod: Core

#18485 Base: Add missing PCH include to ServiceProvider
  src/Base/ServiceProvider.cpp
Labels: Mod: Core

#18472 Addon Manager: Support case of repo=None in worker
  src/Mod/AddonManager/addonmanager_workers_startup.py
Labels: Mod: Addon Manager

#18486 App: Fix encoding of Datums.cpp
  src/App/Datums.cpp
Labels: Mod: Core

#18489 CI: Enable GitHub Problem Matchers for compiler warnings.
  .github/problemMatcher/gcc.json
  .github/problemMatcher/msvc.json
  .github/workflows/sub_buildPixi.yml
Labels: :octocat:

#18494 Disable external zipios usage for Debian builds
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
Labels: Packaging/building

#18503 Part: Fix crash due to infinite recursion
  src/Mod/Part/Gui/TaskAttacher.cpp
Labels: Mod: Part

#18517 BIM: Fix ArchReference problem caused by TNP code
  src/Mod/BIM/ArchReference.py
Labels: Mod: BIM, Needs backport

#18546 Revert "Address the poor performance of the existing unique-name generation (#17944)"
  src/App/Application.cpp
  src/App/Application.h
  src/App/Document.cpp
  src/App/Document.h
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
  src/App/DynamicProperty.cpp
  src/App/DynamicProperty.h
  src/App/Extension.cpp
  src/App/Extension.h
  src/App/ExtensionContainer.cpp
  src/App/ExtensionContainer.h
  src/App/PropertyContainer.cpp
  src/App/PropertyContainer.h
  src/App/PropertyStandard.cpp
  src/App/private/DocumentP.h
  src/Base/Reader.cpp
  src/Base/Reader.h
  src/Base/Tools.cpp
  src/Base/Tools.h
  src/Base/Writer.cpp
  src/Base/Writer.h
  src/Gui/Document.cpp
  src/Gui/ViewProviderLink.cpp
  src/Gui/ViewProviderLink.h
  src/Mod/Spreadsheet/App/Sheet.cpp
  src/Mod/Spreadsheet/App/Sheet.h
  tests/src/Base/Tools.cpp
Labels: Mod: Core, Mod: Spreadsheet, Priority: High

#18528 Core: Move LCS migration warning to Std_Open command
  src/App/Datums.cpp
  src/App/Datums.h
  src/App/Document.h
  src/Gui/CommandDoc.cpp
  src/Gui/ViewProviderCoordinateSystem.cpp
  src/Gui/ViewProviderCoordinateSystem.h
Labels: Mod: Core

#18088 Fem: Add smoothing filter extension to contours filter
  src/Mod/Fem/App/AppFem.cpp
  src/Mod/Fem/App/FemPostFilter.cpp
  src/Mod/Fem/App/FemPostFilter.h
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/Fem/Gui/TaskPostBoxes.h
  src/Mod/Fem/Gui/TaskPostContours.ui
Labels: Mod: FEM

#18354 [PartDesign] Hole: restore missing call to FeatureAddSub::refineShapeIfActive()
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/PartDesignTests/TestHole.py
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
Labels: Mod: Part Design, Mod: Sketcher, Topic: Toponaming, Needs backport

#18459 [Gui] Show Preferences page by name rather than index
  src/Gui/Application.h
  src/Gui/ApplicationPy.cpp
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/DlgPreferencesImp.h
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/importers/importIFCHelper.py
  src/Mod/Draft/importDXF.py
Labels: Mod: Core, Mod: BIM, Mod: Draft, Topic: Preferences, Needs backport

#18490 Addon Manager: Arch->BIM in list of known internal WBs
  src/Mod/AddonManager/Addon.py
  src/Mod/AddonManager/AddonManagerTest/data/depends_on_all_workbenches.xml
Labels: Mod: Addon Manager

#18507 [TD]Fix transparent area in pdf (fix #18443)
  src/Mod/TechDraw/Gui/PagePrinter.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
Labels: Mod: TechDraw

#18374 Addon Manager: Correct run_interruptable_subprocess
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/AddonManagerTest/app/test_utilities.py
  src/Mod/AddonManager/AddonManagerTest/gui/gui_mocks.py
  src/Mod/AddonManager/AddonManagerTest/gui/test_python_deps_gui.py
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/addonmanager_freecad_interface.py
  src/Mod/AddonManager/addonmanager_python_deps_gui.py
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Mod: Addon Manager

#16520 Sketcher: clean-up geometry history configuation
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
Labels: Mod: Sketcher

#18539 CAM: Linting Path/Post/Processor.py
  src/Mod/CAM/Path/Post/Processor.py
Labels: Mod: CAM

#18548 Part: Fix segmentation fault in Feature::getExportElementName
  src/Mod/Part/App/PartFeature.cpp
Labels: Mod: Part

#18544 TechDraw: Assembly exploded views : revert #17726
  src/Mod/TechDraw/App/ShapeExtractor.cpp
Labels: Mod: TechDraw, Needs backport

#18541 TechDraw: Ensure tolerance font size is > 0
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
Labels: Mod: TechDraw

#18558 Draft: Fix handling of coin nodes
  src/Mod/Draft/draftguitools/gui_subelements.py
  src/Mod/Draft/draftguitools/gui_trackers.py
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftviewproviders/view_base.py
Labels: Mod: Draft

#18572 BIM: add docstrings to Arch.py
  src/Mod/BIM/Arch.py
Labels: Mod: BIM, Documentation

#18514 Fem: Add electrostatic constraint symbol
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Resources/symbols/ConstraintElectrostaticPotential.iv
  src/Mod/Fem/femviewprovider/view_constraint_electrostaticpotential.py
Labels: Mod: FEM

#18502 BIM: fix Wiki links in BIM Tutorial
  src/Mod/BIM/bimcommands/BimTutorial.py
Labels: Mod: BIM

#18591 Placement::tostring Fix fmt expression
  src/Base/Placement.cpp
Labels: Mod: Core

#18611 Core: Format Placement::toString() and fix const correctness
  src/Base/Placement.cpp
  src/Base/Placement.h
Labels: Mod: Core

#17165 Improved SweetHome 3D importer
  src/Mod/BIM/CMakeLists.txt
  src/Mod/BIM/Init.py
  src/Mod/BIM/InitGui.py
  src/Mod/BIM/Resources/Arch.qrc
  src/Mod/BIM/Resources/ui/preferences-sh3d-import.ui
  src/Mod/BIM/TestArch.py
  src/Mod/BIM/importers/importSH3D.py
  src/Mod/BIM/importers/importSH3DHelper.py
  src/Mod/BIM/importers/samples/Sample.sh3d
  src/Mod/Draft/draftgeoutils/arcs.py
  src/Mod/Draft/draftgeoutils/general.py
  src/Mod/Draft/draftgeoutils/intersections.py
  src/Mod/Draft/draftgeoutils/offsets.py
  src/Mod/Draft/draftutils/params.py
Labels: Mod: Core, Mod: BIM, Mod: Draft

#18578 BIM: Several fixes to nativeIFC lock/unlock system
  src/Mod/BIM/ArchSite.py
  src/Mod/BIM/nativeifc/ifc_diff.py
  src/Mod/BIM/nativeifc/ifc_export.py
  src/Mod/BIM/nativeifc/ifc_status.py
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: Mod: BIM

#18334 Materials: Change display of Quantity values
  src/App/PropertyUnits.cpp
  src/App/PropertyUnits.h
  src/Mod/Material/App/MaterialLoader.cpp
  src/Mod/Material/App/MaterialValue.cpp
  src/Mod/Material/App/MaterialValue.h
  src/Mod/Material/App/Materials.cpp
  src/Mod/Material/App/Materials.h
  src/Mod/Material/Gui/ArrayModel.cpp
  src/Mod/Material/materialtests/TestMaterialCreation.py
  src/Mod/Material/materialtests/TestMaterials.py
  src/Mod/Part/App/PartFeature.cpp
  tests/src/Mod/Material/App/TestMaterials.cpp
Labels: Mod: Core, Mod: Part, Mod: Materials

#18547 Assembly: Joint creation presolve: fix #18369
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly

#18580 BIM: Fixed structures calculation mode
  src/Mod/BIM/ArchStructure.py
Labels: Mod: BIM

#16622 Fem: Fix mesh export to vtk formats
  src/Mod/Fem/App/AppFemPy.cpp
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/FemMesh.h
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/App/FemVTKTools.h
  src/Mod/Fem/Gui/DlgSettingsFemInOutVtk.ui
  src/Mod/Fem/Gui/DlgSettingsFemInOutVtkImp.cpp
  src/Mod/Fem/Gui/DlgSettingsFemInOutVtkImp.h
Labels: Mod: FEM
