Repository FreeCAD/FreeCAD, pull requests merged in 2024-09, with the labels that each got.

#16138 Draft: Fix error handling of Draft_Trimex
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: Mod: Draft

#16075 [TD]fix balloon drag on rotated view (fix #15726)
  src/Mod/TechDraw/App/DrawView.h
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.h
Labels: Mod: TechDraw

#15959 Correct element map support in Revolution
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureRevolution.h
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part Design

#16090 Fix #16013
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Mod: Part

#16089 Remove version "v0.21" from the old backup format warning message
  src/Gui/Application.cpp
Labels: Mod: Core

#16095 [TD]fix page margins on pdf export (fix #15848)
  src/Mod/TechDraw/Gui/PagePrinter.cpp
Labels: Mod: TechDraw

#16096 cMake: Add option to use C++23
  cMake/FreeCAD_Helpers/CompilerChecksAndSetups.cmake
Labels: Packaging/building

#16097 clean Measurement.cpp
  src/Mod/Measure/App/Measurement.cpp
Labels: Mod: Measurement

#16123 add BOPFeatures to BOPTools __init__.py
  src/Mod/Part/BOPTools/__init__.py
Labels: Mod: Part

#16076 Fem: Use regex to search gmsh groups items and fix physical group item id
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtest/data/elmer/group_mesh.geo
Labels: Mod: FEM, Mod: Measurement

#16196 [TD]fix projection group detection (fix #16179)
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
Labels: Mod: TechDraw

#16194 [TD]fix dim text wrong side of dim line (fix #16172)
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
Labels: Mod: TechDraw

#16203 Toponaming: Fix ctrl selection issues by looking up element names and…
  src/Gui/SoFCUnifiedSelection.cpp
  src/Mod/PartDesign/PartDesignTests/TestBoolean.py
Labels: Mod: Core, Mod: Part Design

#16118 [CAM SIMULATOR] Bug fixes for Issues #16073 and #16052
  src/Mod/CAM/Path/Main/Gui/SimulatorGL.py
  src/Mod/CAM/PathSimulator/AppGL/DlgCAMSimulator.cpp
  src/Mod/CAM/PathSimulator/AppGL/DlgCAMSimulator.h
  src/Mod/CAM/PathSimulator/AppGL/GlUtils.h
  src/Mod/CAM/PathSimulator/AppGL/MillPathSegment.cpp
  src/Mod/CAM/PathSimulator/AppGL/MillSimulation.cpp
  src/Mod/CAM/PathSimulator/AppGL/MillSimulation.h
  src/Mod/CAM/PathSimulator/AppGL/SimDisplay.cpp
  src/Mod/CAM/PathSimulator/AppGL/SimDisplay.h
Labels: Mod: CAM

#16042 Set QTstyle to fusion for light and dark theme
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
  src/Gui/PreferencePacks/FreeCAD Light/FreeCAD Light.cfg
Labels: Mod: Core

#16209 Measure: Fix crash when removing referenced element
  src/Mod/Measure/App/MeasureArea.cpp
  src/Mod/Measure/App/MeasureArea.h
  src/Mod/Measure/App/MeasureBase.h
  src/Mod/Measure/App/MeasureLength.cpp
  src/Mod/Measure/App/MeasureLength.h
  src/Mod/Measure/App/MeasurePosition.cpp
  src/Mod/Measure/App/MeasurePosition.h
  src/Mod/Measure/App/MeasureRadius.cpp
  src/Mod/Measure/App/MeasureRadius.h
Labels: Mod: Measurement

#16212 Draft: Fix regression with layer drag-and-drop behavior
  src/Mod/Draft/draftviewproviders/view_layer.py
Labels: Mod: Draft

#15450 [TD]Fix section snapping (fix #15961)
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawView.h
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/DrawViewSection.h
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneral.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneralImp.cpp
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIView.h
Labels: Mod: TechDraw

#16145 [TD]fix outer torus edge not rendered (fix #16136)
  src/Mod/TechDraw/App/Geometry.cpp
Labels: Mod: TechDraw

#16060 [TechDraw] Make dimension labels centered
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.h
Labels: Mod: TechDraw

#16117 BIM: fix invalid converesion of button to int
  src/Mod/BIM/bimcommands/BimLibrary.py
  src/Mod/BIM/bimcommands/BimPreflight.py
  src/Mod/BIM/bimcommands/BimWindows.py
Labels: Mod: BIM

#16256 TD: Fix warnings
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.cpp
Labels: Mod: TechDraw

#16260 Test: remove unecessary toggle that is failing the test
  src/Mod/Part/parttests/regression_tests.py
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerPoint.h
Labels: Mod: Part

#16273 Update Windows CI to LibPack 3
  .github/workflows/actions/windows/getLibpack/action.yml
  .github/workflows/sub_buildWindows.yml
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CCommandTreeNode.hpp
Labels: :octocat:

#16265 Gui: Fix issues with icons in sketcher elements panel
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.ui
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.ui
Labels: Mod: Core, Mod: Sketcher

#16283 Draft: fix snapping to endpoints of dimension lines (V0.19 regression)
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: Mod: Draft

#16306 Draft: fix snapping to endpoints of dimension lines (V0.19 regression)
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: Mod: Draft

#16318 Materials: UI updates for transparency
  src/Gui/DlgMaterialProperties.ui
  src/Gui/DlgMaterialPropertiesImp.cpp
  src/Gui/DlgMaterialPropertiesImp.h
  src/Mod/Material/Gui/DlgInspectAppearance.cpp
Labels: Mod: Core, Mod: Materials

#16380 FEM: Fluid material properties fix
  src/Mod/Fem/Gui/Resources/ui/Material.ui
  src/Mod/Fem/femsolver/calculix/write_femelement_material.py
  src/Mod/Fem/femtaskpanels/task_material_common.py
Labels: Mod: FEM

#16225 [Measure] Disable QuickMeasure for TechDraw, Spreadsheet, Part Container and Origin objects
  src/Mod/Measure/Gui/QuickMeasure.cpp
Labels: Mod: Measurement

#16281 [Gui] Add style, theme and qtstyle info to clipboard about info
  src/Doc/CONTRIBUTORS
  src/Gui/PreferencePacks/FreeCAD Classic/post.FCMacro
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
  src/Gui/PreferencePacks/FreeCAD Light/FreeCAD Light.cfg
  src/Gui/Splashscreen.cpp
  src/Gui/StartupProcess.cpp
Labels: Mod: Core

#16240 App::Link: fix crash with Draft Array
  src/Gui/ViewProviderLink.cpp
Labels: Mod: Core

#16341 OverlayManager: fix unititialized hideTab variable
  src/Gui/OverlayManager.cpp
Labels: Mod: Core

#16343 PD: Xerces-C++ - Prepare for the latest version (backward compatible)
  src/App/Metadata.cpp
  src/App/MetadataPyImp.cpp
  src/App/ProjectFile.cpp
  src/App/ProjectFile.h
  src/Base/InputSource.cpp
  src/Base/InputSource.h
  src/Base/Parameter.cpp
  src/Base/Parameter.h
  src/Base/Reader.cpp
  src/Base/Reader.h
  src/Base/XMLTools.cpp
  src/Base/XMLTools.h
  src/Mod/Mesh/App/Core/IO/Reader3MF.cpp
  src/Mod/Mesh/App/Core/IO/Reader3MF.h
  tests/src/App/Metadata.cpp
  tests/src/Base/Reader.cpp
Labels: Mod: Core, Mod: Mesh

#16327 BIM: Fix window transparency
  src/Mod/BIM/ArchWindow.py
Labels: Mod: BIM

#16275 [TD]fix initial balloon placement on rotated view (fix #16234)
  src/Mod/TechDraw/Gui/QGSPage.cpp
Labels: Mod: TechDraw

#16268 Updated selection colors to be better visible.
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
  src/Gui/PreferencePacks/FreeCAD Light/FreeCAD Light.cfg
Labels: Mod: Core

#16304 [BIM] Separate profile name from label number
  src/Mod/BIM/Arch.py
Labels: Mod: BIM

#16309 BIM: BimWindow.py add missing imports
  src/Mod/BIM/bimcommands/BimWindow.py
Labels: Mod: BIM

#16307 BIM: ArchFence: Fix some color issues
  src/Mod/BIM/ArchFence.py
Labels: Mod: BIM

#16285 BIM: ArchFence: Fix some color issues
  src/Mod/BIM/ArchFence.py
Labels: Mod: BIM

#16336 Spreadsheet XLSX import: Fix bug causing xls import failing for some operators
  src/Mod/Spreadsheet/CMakeLists.txt
  src/Mod/Spreadsheet/importXLSX.py
  src/Mod/Spreadsheet/test_importXLSX.py
Labels: Mod: Spreadsheet

#16346 Gui: Use Coin 4.0.3 fix for orthographic camera clipping
  src/Gui/NavigationAnimation.cpp
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/View3DInventorViewer.cpp
Labels: Mod: Core

#16345 Gui: Fix orthographic camera standard views in an empty scene
  src/Gui/NavigationStyle.cpp
Labels: Mod: Core

#16350 Port: Include some important changes of the OpenBSD port
  src/3rdParty/libE57Format/src/CheckedFile.cpp
  src/App/Application.cpp
  src/Mod/MeshPart/App/CMakeLists.txt
Labels: Mod: Core, Mod: MeshPart, OS: OpenBSD

#16356 [Spreadsheet] Fix CSV import by insert
  src/Mod/Spreadsheet/Gui/AppSpreadsheetGui.cpp
Labels: Mod: Spreadsheet

#16358 App/Toponaming: Call ensureElementMap() in ComplexGeoData::readElements()
  src/App/ComplexGeoData.cpp
Labels: Mod: Core, Topic: Toponaming

#16302 Sketcher: AutoColor should update only colors
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: Mod: Sketcher

#16226 [PD] Fix helix placement
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part Design, Topic: Helix

#16140 Sketcher: Fix round corner + thickness issue if radius + thickness = 0
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
Labels: Mod: Sketcher

#16220 Core: Expose Placement dialog to Python
  src/Gui/Application.cpp
  src/Gui/CommandDoc.cpp
  src/Gui/Placement.cpp
  src/Gui/Placement.h
  src/Gui/Placement.ui
  src/Gui/SelectionObject.cpp
  src/Gui/SelectionObject.h
  src/Gui/Transform.cpp
Labels: Mod: Core

#16208 [GUI] Enable sort of zoom in Light Sources dialog
  src/Gui/PreferencePages/DlgSettingsLightSources.cpp
  src/Gui/PreferencePages/DlgSettingsLightSources.h
  src/Gui/PreferencePages/DlgSettingsLightSources.ui
Labels: Mod: Core

#16351 Fem: Allow only one shape type per mesh group - Partially revert #16076
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtaskpanels/task_mesh_group.py
  src/Mod/Fem/femtest/data/elmer/group_mesh.geo
Labels: Mod: FEM

#16394 Fem: Set Elmer result output format to Ascii
  src/Mod/Fem/femsolver/elmer/writer.py
  src/Mod/Fem/femtest/data/elmer/box_static_0_mm.sif
Labels: Mod: FEM

#16396 Sketcher: AutoColor should update only colors
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: Mod: Sketcher

#16379 Measure: Show delta option also in interactive mode
  src/Mod/Measure/Gui/TaskMeasure.cpp
  src/Mod/Measure/Gui/TaskMeasure.h
Labels: Mod: Measurement

#16374 Core: Fix duplicated extensions (see #16299)
  src/Gui/FileDialog.cpp
  src/Gui/FileDialog.h
Labels: Mod: Core

#16305 Get working plane when picking a point
  src/Mod/BIM/bimcommands/BimProfile.py
Labels: Mod: BIM

#15934 CAM Fix minor sanity bugs
  src/Mod/CAM/Path/Main/Gui/SanityCmd.py
Labels: Mod: CAM

#16230 Fixes: CAM ToolBit Library NOT always saved #15284
  src/Mod/CAM/Path/Tool/Gui/BitLibrary.py
Labels: Mod: CAM

#16421 [GUI] Make some strings untranslatable in Light Sources dialog
  src/Gui/PreferencePages/DlgSettingsLightSources.ui
Labels: Mod: Core

#16280 [TechDraw] Fix uncentered balloon label
  src/Mod/TechDraw/Gui/QGCustomText.cpp
  src/Mod/TechDraw/Gui/QGCustomText.h
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.h
Labels: Mod: TechDraw

#16461 BIM: fix BIM_Setup license issue
  src/Mod/BIM/bimcommands/BimSetup.py
Labels: Mod: BIM, Needs backport

#16448 MSVC: Fix several compiler warnings
  src/Gui/DlgAddPropertyVarSet.cpp
  src/Gui/MainWindow.cpp
  src/Mod/CAM/PathSimulator/AppGL/DlgCAMSimulator.h
  src/Mod/CAM/PathSimulator/AppGL/SimDisplay.cpp
Labels: Mod: Core, Mod: CAM

#16453 StartPage: Make sure to pass a container widget to the QScrollArea
  src/Mod/Start/Gui/StartView.cpp
Labels: Mod: Start

#16469 DXF importer (Python): allow importing dimensions
  src/Mod/Draft/importDXF.py
Labels: Mod: Draft

#16475 BIM: Fixed bug in BimViews
  src/Mod/BIM/bimcommands/BimViews.py
Labels: Mod: BIM

#16355 Sketcher/Toponaming: import SketchObject::checkSubName() from LS3
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
Labels: Mod: Sketcher

#16496 consistent preposition
  src/Mod/BIM/ArchGrid.py
Labels: Mod: BIM

#16492 [Gui] Handle unset style preferences in clipboard about info
  src/Gui/Splashscreen.cpp
Labels: Mod: Core

#16451 Fix Qt6 warnings
  src/Gui/MainWindow.cpp
  src/Gui/Splashscreen.cpp
  src/Gui/ToolBarManager.cpp
  src/Gui/View3DPy.cpp
  src/Mod/CAM/PathSimulator/AppGL/DlgCAMSimulator.cpp
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
Labels: Mod: Core, Mod: CAM, Mod: Spreadsheet, 3rd party: Qt 6

#16465 fix CXX standard selection
  cMake/FreeCAD_Helpers/CompilerChecksAndSetups.cmake
Labels: Packaging/building

#16428 fix splashscreen for single image
  src/Gui/MainWindow.cpp
Labels: Mod: Core

#16476 Draft: fix division by zero and count is zero for path arrays
  src/Mod/Draft/draftgeoutils/geo_arrays.py
  src/Mod/Draft/draftobjects/patharray.py
Labels: Mod: Draft, Needs backport

#16418 [BIM] fix arch material task panel bug
  src/Mod/BIM/ArchMaterial.py
  src/Mod/BIM/Resources/ui/ArchMaterial.ui
Labels: Mod: BIM

#15835 Draft: Fixes error in Draft trackers when not on a 3D view
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: Mod: Draft

#16480 [Measure] Redirect enter key press to apply button
  src/Mod/Measure/Gui/TaskMeasure.cpp
Labels: Mod: Measurement

#16483 GUI: Fix tree visibility click issue
  src/Gui/Tree.cpp
Labels: Mod: Core

#16404 Base: switch header include type for consistency with codebase.
  src/Base/Parameter.cpp
Labels: Mod: Core

#16399 Windows: Make FreeCAD.exe debuggable on PDB builds.
  cMake/FreeCAD_Helpers/SetGlobalCompilerAndLinkerSettings.cmake
Labels: Packaging/building

#15262 Move getGlobalPlacement() and fix alignment direction for transformed objects
  src/App/DocumentObject.h
  src/App/GeoFeature.cpp
  src/App/GeoFeature.h
  src/App/Link.cpp
  src/App/Link.h
  src/Base/Tools.cpp
  src/Base/Tools.h
  src/Gui/View3DInventorViewer.cpp
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.h
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Mod: Part

#16434 Draft: Fixed restrained movement
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft, Needs backport

#16018 Gui: Use FreeCAD Theme only for FreeCAD stuff
  src/Gui/BitmapFactory.cpp
  src/Gui/BitmapFactory.h
  src/Gui/StartupProcess.cpp
Labels: Mod: Core

#16521 Gui: Use FreeCAD Theme only for FreeCAD stuff
  src/Gui/BitmapFactory.cpp
  src/Gui/BitmapFactory.h
  src/Gui/StartupProcess.cpp
Labels: Mod: Core

#16529 [BIM] fix Material TaskPanel Load Preset not working bug
  src/Mod/BIM/ArchMaterial.py
Labels: Mod: BIM

#16546 Draft: Fix regression with layer print color
  src/Mod/Draft/draftfunctions/svg.py
Labels: Mod: Draft, Needs backport

#16571 BIM: exportIFC.py fix UnboundLocalError
  src/Mod/BIM/importers/exportIFC.py
Labels: Mod: BIM, Needs backport

#16486 [TD]allow SaveCopy from MDIViewPage (fix #16447)
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
Labels: Mod: TechDraw

#16337 Sketcher: initialize geometry history limit variable
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#16416 [Cam Simulator][1.0] Limit anti alias samples for better compatibility.
  src/Mod/CAM/PathSimulator/AppGL/DlgCAMSimulator.cpp
Labels: Mod: CAM

#16548 Gui: Update about dialog thumbnail image
  src/Gui/Icons/freecadabout.png
Labels: Mod: Core

#16500 BIM: Support for IfcOpenShell 0.8
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/nativeifc/ifc_generator.py
  src/Mod/BIM/nativeifc/ifc_layers.py
  src/Mod/BIM/nativeifc/ifc_materials.py
  src/Mod/BIM/nativeifc/ifc_selftest.py
  src/Mod/BIM/nativeifc/ifc_tools.py
  src/Mod/BIM/nativeifc/ifc_viewproviders.py
Labels: Mod: BIM, Needs backport

#16515 Fem: Enable cancel meshing for Gmsh - fixes #5914
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/Gui/Resources/ui/MeshGmsh.ui
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femtaskpanels/base_femmeshtaskpanel.py
  src/Mod/Fem/femtaskpanels/task_mesh_gmsh.py
Labels: Mod: FEM

#16558 Sketcher/Toponaming: call SketchObject::convertSubName() in Gui selections
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Sketcher

#16251 Measure: Use getGlobalPlacement method
  src/Mod/Part/App/MeasureClient.cpp
Labels: Mod: Part

#16556 Gui: fix size of ComboBox in Preferences/Navigtion
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
Labels: Mod: Core

#16490 Main: simplify banner
  src/Main/MainCmd.cpp
  src/Main/MainGui.cpp
Labels: ✋ On hold

#16585 [Backport] App: Return root object placement if target and root object are the same in getGlobalPlacement
  src/App/GeoFeature.cpp
Labels: Mod: Core

#16614 Core: Bad programmer. Use C++ syntax to not upset some compilers
  src/Gui/Application.cpp
Labels: Mod: Core

#16606 PartDesign: When creating Sketch inside a Body in a link, use link position
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
Labels: Mod: Part Design

#16588 Revert "[Measure] Fix redundant variable assignment"
  src/Mod/Measure/Gui/TaskMeasure.cpp
Labels: Mod: Measurement

#16576 Base: fix XMLReader non-closing character stream
  src/Base/Reader.cpp
Labels: Mod: Core

#16608 MeasureGui: Auto close task on document deletion
  src/Mod/Measure/Gui/Command.cpp
  src/Mod/Measure/Gui/TaskMeasure.cpp
Labels: Mod: Measurement

#16590 Sketcher: Do not consider missing external geometry to be an error; highlight i…
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/EditModeGeometryCoinManager.cpp
  src/Mod/Sketcher/SketcherTests/TestSketchValidateCoincidents.py
Labels: Mod: Sketcher

#16603 [Draft] Improve the color activation and ability to change…
  src/Mod/Draft/draftguitools/gui_trackers.py
  src/Mod/Draft/draftutils/params.py
Labels: Mod: Draft

#16657 BIM: show AutoUpdate of existing ArchSchedule
  src/Mod/BIM/ArchSchedule.py
Labels: Mod: BIM, Needs backport

#16651 Addon Manager: Don't crash on bad XML
  src/Mod/AddonManager/Addon.py
  src/Mod/AddonManager/addonmanager_workers_installation.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
Labels: Mod: Addon Manager

#16648 Spreadsheet: Removes unnecessary fixme comment and closes issue
  src/Mod/Spreadsheet/importXLSX.py
Labels: Mod: Spreadsheet

#16601 Measure: Fix quickmeasure globalplacement.
  src/Mod/Measure/App/Measurement.cpp
  src/Mod/Measure/Gui/QuickMeasure.cpp
Labels: Mod: Assembly, Mod: Measurement

#16647 Core: Move the recompute dialog to after Gui opens not on per doc signal
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Mod/Start/Gui/StartView.cpp
Labels: Mod: Core

#16030 [PD] fix pad uptoface and uptoshape
  src/Mod/Part/App/Tools.cpp
  src/Mod/Part/App/Tools.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureExtrude.h
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.h
  src/Mod/PartDesign/PartDesignTests/TestPad.py
Labels: Mod: Part Design, Mod: Part

#16661 Materials: ShapeMaterial not properly restored
  src/Mod/Material/App/PropertyMaterial.cpp
Labels: Mod: Materials

#16664 Gui: Fix segfault in align to selection tool
  src/Gui/View3DInventorViewer.cpp
Labels: Mod: Core

#16649 Part: fix ruled surface
  src/Mod/Part/App/PartFeatures.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Mod: Core, Mod: Part

#16642 Issue 16454 workaround: PropertyEditor selection colors
  src/Gui/Widgets.cpp
Labels: Mod: Core

#16613 Filter out infinite objects from Part Loft and Sweep
  src/Mod/Part/Gui/TaskLoft.cpp
  src/Mod/Part/Gui/TaskSweep.cpp
Labels: Mod: Part

#16610 [GUI] Move the Push In and Pull Out buttons to the left side
  src/Gui/PreferencePages/DlgSettingsLightSources.ui
Labels: Mod: Core

#16378 Sketcher/Gui: check if there's a 3D view while executing ViewProviderSketch::unsetEdit()
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Sketcher

#16562 Gui: Fix path to QRC file in PreferencePages UI file
  src/Gui/PreferencePages/DlgSettingsCacheDirectory.ui
Labels: Mod: Core

#16692 Materials: Set transparency from DiffuseColor
  src/App/PropertyStandard.cpp
  src/App/PropertyStandard.h
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: Mod: Core, Mod: Part

#16691 Toponaming: Correct error in resolveElement
  src/App/GeoFeature.cpp
Labels: Mod: Core

#16679 Use backspace as default to delete on mac
  src/Gui/CommandDoc.cpp
Labels: Mod: Core, OS: macOS, Topic: Shortcut

#16713 Toponaming: transfer feature hole
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureHole.h
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
Labels: Mod: Part Design

#16723 Correct tree icon for TechDraw_AreaDimension
  src/Mod/TechDraw/Gui/ViewProviderDimension.cpp
Labels: Mod: TechDraw, Needs backport

#16734 [PD] Fix Pad uptoshape and add unit test
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/PartDesignTests/TestPad.py
Labels: Mod: Part Design, Mod: Part

#16600 [MeasureGui] Store measure type as local variable
  src/Mod/Measure/Gui/TaskMeasure.cpp
  src/Mod/Measure/Gui/TaskMeasure.h
Labels: Mod: Measurement

#16611 DXF: Remove O(n^2) time on DXF import with the legacy importer
  src/Mod/Draft/importDXF.py
Labels: Mod: Draft

#16514 BIM: Fix tabstop order for Project Manager dialog
  src/Mod/BIM/Resources/ui/dialogProjectManager.ui
Labels: Mod: BIM

#16673 Fem: Use reference subshape transformation on the underlying geometry when finding points for constraint symbols
  src/Mod/Fem/App/FemConstraint.cpp
Labels: Mod: FEM

#16714 Fem: Fix flickering between faces and wireframe in FemMesh view provider
  src/Mod/Fem/Gui/ViewProviderFemMesh.cpp
Labels: Mod: FEM

#16705 Fem: Use shape global placement in Mesh Netgen new implementation
  src/Mod/Fem/femmesh/netgentools.py
Labels: Mod: FEM

#16698 [TD]fix double pdf file on win (fix #16538)
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
Labels: Mod: TechDraw

#16686 [TD]fix torus render (fix #16646)
  src/Mod/TechDraw/App/Geometry.cpp
Labels: Mod: TechDraw

#16618 [TD]respect camera direction preference (fix #16593)
  src/Mod/TechDraw/Gui/Command.cpp
Labels: Mod: TechDraw

#16621 Help: Don't open 404 documentation pages
  src/Mod/Help/Help.py
Labels: Translation, Documentation

#16583 CAM Catch other exceptions with Camotics on import.
  src/Mod/CAM/InitGui.py
Labels: Mod: CAM

#16641 [TD]fix BrokenView selection (fix #16693)
  src/Mod/TechDraw/Gui/Command.cpp
Labels: Mod: TechDraw

#16665 [Cam Simulator][1.0] Fix minor Ambient Occlusion bug.
  src/Mod/CAM/Gui/Resources/panels/TaskCAMSimulator.ui
  src/Mod/CAM/PathSimulator/AppGL/Shader.cpp
Labels: Mod: CAM

#16689 [TD] Fix win file spec backslash (fix #16646)
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
  src/Mod/TechDraw/Gui/PagePrinter.cpp
  src/Mod/TechDraw/Gui/TaskActiveView.cpp
  src/Mod/TechDraw/Gui/TaskGeomHatch.cpp
  src/Mod/TechDraw/Gui/TaskHatch.cpp
Labels: Mod: TechDraw

#16740 TechDraw: Buggy Wayland custom cursors workaround
  src/Gui/View3DInventorViewer.cpp
  src/Mod/TechDraw/Gui/QGVPage.cpp
Labels: Mod: Core, Mod: TechDraw

#16752 Toponaming: Match LS3 opcodes for sketch shape
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#16682 Reuse Std_Delete shortcut instead of hardcoding Delete
  src/Mod/Fem/Gui/TaskFemConstraint.cpp
  src/Mod/Material/Gui/Array2D.cpp
  src/Mod/Material/Gui/MaterialSave.cpp
  src/Mod/PartDesign/Gui/TaskBooleanParameters.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskLoftParameters.cpp
  src/Mod/PartDesign/Gui/TaskPipeParameters.cpp
  src/Mod/PartDesign/Gui/TaskShapeBinder.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.cpp
  src/Mod/Surface/Gui/TaskSections.cpp
Labels: Mod: FEM, Mod: Part Design, Mod: Materials, Needs backport

#16753 BIM: Fixed adding missing windows when converting to IFC
  src/Mod/BIM/nativeifc/ifc_status.py
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: Mod: BIM, Needs backport

#16671 Assembly: Support macros and console logs in Assembly
  src/App/DocumentPy.xml
  src/App/DocumentPyImp.cpp
  src/App/GeoFeature.cpp
  src/Gui/Application.h
  src/Gui/ApplicationPy.cpp
  src/Mod/Assembly/CommandCreateAssembly.py
  src/Mod/Assembly/CommandCreateBom.py
  src/Mod/Assembly/CommandCreateJoint.py
  src/Mod/Assembly/CommandCreateView.py
  src/Mod/Assembly/CommandExportASMT.py
  src/Mod/Assembly/CommandInsertLink.py
  src/Mod/Assembly/CommandSolveAssembly.py
  src/Mod/Assembly/JointObject.py
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Core, Mod: Assembly

#16685 Splash Screen minimal show time. Issue #16264
  src/Gui/MainWindow.cpp
  src/Gui/StartupProcess.cpp
  src/Gui/StartupProcess.h
Labels: Mod: Core

#16777 [BIM] Fix error starting BIM Wb for certain new users
  src/Mod/BIM/bimcommands/BimViews.py
Labels: Mod: BIM

#16780 Swaps out the hard coded icon to the standard svg icon
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.cpp
Labels: Mod: Spreadsheet

#16539 [PD] Fix Pad uptoface with custom direction
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.h
  src/Mod/PartDesign/PartDesignTests/TestPad.py
Labels: Mod: Part Design

#16784 #15329 add missing include to resolve build error
  src/Mod/Part/App/TopoShape.h
Labels: Mod: Part

#16799 Measurement: Correctly handle unknown selections to avoid segfaults ( Fix #16794 )
  src/Mod/Measure/App/Measurement.cpp
Labels: Mod: Measurement
