Repository FreeCAD/FreeCAD, pull requests merged in 2024-08, with the labels that each got.

#15708 BIM: Fix calculation of wall blocks
  src/Mod/BIM/ArchWall.py
Labels: Type: Bug, Mod: BIM

#15725 Fix typos on Assembly & Sketcher WBs
  src/Mod/Assembly/CommandCreateBom.py
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
Labels: Mod: Sketcher, Mod: Assembly

#15712 Toponaming: bring in code to fix delExternal breakage.
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#15736 Toponaming: use correct face maker
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#15688 [AddonManager] Fix regression introduced by #15676 (me)...
  src/Mod/AddonManager/Widgets/addonmanager_widget_view_selector.py
Labels: Mod: Addon Manager

#14218 CI: Add Conda Python 3.12 Qt6 to CI.
  .github/workflows/CI_master.yml
  .github/workflows/sub_buildUbuntu2204CondaQt6.yml
  cMake/FreeCAD_Helpers/SetupShibokenAndPyside.cmake
  conda/conda-env-qt6.yaml
  conda/environment-qt6.devenv.yml
  conda/setup-environment-qt6.sh
Labels: :octocat:

#15761 Add text to readme and the issue template to record macros for bugs
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
  README.md
Labels: :octocat:

#15750 labels.yml: Add Stylesheets + Differenitate between Mod and Topic labels
  .github/labels.yml
Labels: :octocat:

#15678 [PD] Revert 316506f, back to shell algo for some helix cases
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHelix.h
  src/Mod/PartDesign/PartDesignTests/TestHelix.py
Labels: Mod: Part Design

#15588 Remove icon ThemeSearchPaths option on Linux
  src/Gui/StartupProcess.cpp
Labels: Mod: Core

#15669 Fem: Fix link scope for Python objects
  src/App/Application.cpp
  src/App/PropertyContainerPyImp.cpp
  src/Base/Exception.cpp
  src/Base/Exception.h
  src/Base/PyObjectBase.cpp
  src/Base/PyObjectBase.h
  src/Mod/Fem/femobjects/base_femelement.py
  src/Mod/Fem/femobjects/base_femmeshelement.py
  src/Mod/Fem/femobjects/base_fempythonobject.py
  src/Mod/Fem/femobjects/constraint_bodyheatsource.py
  src/Mod/Fem/femobjects/constraint_sectionprint.py
  src/Mod/Fem/femobjects/constraint_tie.py
  src/Mod/Fem/femobjects/material_common.py
  src/Mod/Fem/femobjects/material_reinforced.py
  src/Mod/Fem/femobjects/mesh_gmsh.py
Labels: Mod: FEM

#15698 FEM: Remove obsolete "Fix" property from a few examples to repair them
  src/Mod/Fem/femexamples/buckling_lateraltorsionalbuckling.py
  src/Mod/Fem/femexamples/buckling_platebuckling.py
  src/Mod/Fem/femexamples/equation_deformation_spring_elmer.py
  src/Mod/Fem/femexamples/rc_wall_2d.py
Labels: Mod: FEM

#15740 Toponaming: add code to implement guessing missing references
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskFilletParameters.cpp
Labels: Mod: Part Design, Mod: Part

#15767 Fem: Remove callback on right click during point marker selection - fixes #13694
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
Labels: Mod: FEM

#15773 BIM: Fixed nativeIFC psets loading -
  src/Mod/BIM/nativeifc/ifc_psets.py
Labels: Mod: BIM

#15742 Stylesheet-fixes V: The final frontier
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
  src/Gui/PreferencePacks/FreeCAD Light/FreeCAD Light.cfg
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
  src/Gui/Stylesheets/images_classic/Qsint_header_fold_black.png
  src/Gui/Stylesheets/images_classic/Qsint_header_fold_darkgray.png
  src/Gui/Stylesheets/images_classic/Qsint_header_fold_lightgray.png
  src/Gui/Stylesheets/images_classic/Qsint_header_fold_white.png
  src/Gui/Stylesheets/images_classic/Qsint_header_unfold_black.png
  src/Gui/Stylesheets/images_classic/Qsint_header_unfold_darkgray.png
  src/Gui/Stylesheets/images_classic/Qsint_header_unfold_lightgray.png
  src/Gui/Stylesheets/images_classic/Qsint_header_unfold_white.png
  src/Gui/Stylesheets/images_classic/icons classic.svg
Labels: Mod: Core, Topic: Stylesheets

#15769 Assembly: Fix migrationScript2
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly

#15774 labels.yml: Add 'Packaging/building' label for CMake related changes
  .github/labels.yml
Labels: :octocat:

#15734 Toponaming: make sure TopoShapes have Hashers
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
  src/App/Document.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Core

#15790 Revert "[PD] Revert 316506f, back to shell algo for some helix cases"
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHelix.h
  src/Mod/PartDesign/PartDesignTests/TestHelix.py
Labels: Mod: Part Design

#15783 Toponaming: Fix PropertyTopoShape restore; tweak Loft test; missing T…
  src/App/StringHasher.cpp
  src/Mod/Part/App/PropertyTopoShape.cpp
  src/Mod/Part/App/PropertyTopoShape.h
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/PartDesignTests/TestLoft.py
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Core, Mod: Part Design, Mod: Part

#15350 [DraftBind] Bug-fix Consecutive Face Touch at Corner
  src/Mod/Draft/draftgeoutils/faces.py
Labels: Mod: Draft

#15745 Draft: Fix cursor scaling
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: Mod: Draft

#15808 Toponaming: Additional element map changes to transform
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/App/FeatureTransformed.h
  src/Mod/PartDesign/PartDesignTests/TestLinearPattern.py
  src/Mod/PartDesign/PartDesignTests/TestPolarPattern.py
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Part Design, Mod: Sketcher

#15809 Toponaming: fix loft mistake and complete test
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/PartDesignTests/TestLoft.py
Labels: Mod: Part Design

#15812 Toponaming: Make FeatureThickness elementMap aware
  src/Mod/PartDesign/App/FeatureThickness.cpp
  src/Mod/PartDesign/PartDesignTests/TestThickness.py
Labels: Mod: Part Design

#15679 Toponaming: Refactor out duplicated code using elementMap()
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Mod: Core, Mod: Part

#15859 Fix various typos
  src/Base/DualNumber.h
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
  src/Mod/Draft/draftgeoutils/faces.py
Labels: Mod: Core, Mod: Draft, Topic: Stylesheets

#15841 Addon Manager: Ensure metadata exists before use
  src/Mod/AddonManager/addonmanager_installer.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
Labels: Mod: Addon Manager

#15851 fix for the FeatureLoft compile issue
  src/Mod/PartDesign/App/FeatureLoft.cpp
Labels: Mod: Part Design

#15845 Toponaming: Fix transformed; abstract index element name generation
  src/App/ElementNamingUtils.cpp
  src/App/ElementNamingUtils.h
  src/App/StringHasher.cpp
  src/Mod/Part/App/CrossSection.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/PartDesignTests/TestMultiTransform.py
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Core, Mod: Part Design, Mod: Part

#15862 Addon Manager: Fix Qt6 button name
  src/Mod/AddonManager/AddonManager.py
Labels: Mod: Addon Manager

#15733 GUI: Update MacOS detection macro
  src/Gui/Application.cpp
  src/Gui/Assistant.cpp
  src/Gui/CommandView.cpp
  src/Gui/DlgExpressionInput.cpp
  src/Gui/FileDialog.cpp
  src/Gui/GuiApplicationNativeEventAware.cpp
  src/Gui/PythonConsole.cpp
  src/Gui/QSint/actionpanel/freecadscheme.cpp
  src/Gui/SoFCCSysDragger.cpp
  src/Gui/ToolHandler.cpp
  src/Gui/Widgets.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Mod/TechDraw/Gui/QGVPage.cpp
Labels: Mod: Core

#15754 Change default preference to not include the FreeCAD icon to the file thumbnail / Update example files
  data/examples/AssemblyExample.FCStd
  data/examples/BIMExample.FCStd
  data/examples/DrawingExample.FCStd
  data/examples/EngineBlock.FCStd
  data/examples/Fem.FCStd
  data/examples/Fem2.FCStd
  data/examples/FemCalculixCantilever1D.FCStd
  data/examples/FemCalculixCantilever2D.FCStd
  data/examples/FemCalculixCantilever3D.FCStd
  data/examples/PartDesignExample.FCStd
  data/examples/RobotExample.FCStd
  data/examples/draft_test_objects.FCStd
  src/Gui/PreferencePages/DlgSettingsDocument.ui
  src/Gui/Thumbnail.cpp
Labels: Mod: Core

#15796 Assembly: Fix bug where double-clicking on a joint would unselect edge
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.h
Labels: Mod: Assembly

#15798 Assembly: Fix joints not being deleted when component removed.
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Mod: Assembly

#15784 Core: Fix a missing interpreter lock
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Sketcher

#15813 Assembly: Fix distance joints
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.h
Labels: Mod: Assembly

#15826 Assembly: Fix objects in group would not have the dragger appear
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly

#15838 Core: Fix export extension problem
  src/Gui/FileDialog.cpp
  src/Gui/FileDialog.h
Labels: Mod: Core

#15828 print exception if loading a result in fem failes
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
Labels: Mod: FEM

#15806 Stylesheet fixes-part VI: The return of the comma
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/overlay/Dark Theme + Dark Background.qss
  src/Gui/Stylesheets/overlay/Dark Theme + Light Background.qss
  src/Gui/Stylesheets/overlay/Light Theme + Dark Background.qss
  src/Gui/Stylesheets/overlay/Light Theme + Light Background.qss
Labels: Mod: Core, Topic: Stylesheets

#15829 Toponaming: Match findSubShapesWithSharedVertex exception suppression
  src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Mod: Part

#15844 CAM: Fixes #15637 Attributes are ignored when using ToolBitFactory() Creat…
  src/Mod/CAM/Path/Tool/Bit.py
Labels: Mod: CAM

#15786 FEM: Start examples rework
  data/examples/CMakeLists.txt
  data/examples/FEMExample.FCStd
  data/examples/FemCalculixCantilever1D.FCStd
  data/examples/FemCalculixCantilever2D.FCStd
  data/examples/FemCalculixCantilever3D.FCStd
  src/Mod/Fem/femmesh/femmesh2mesh.py
  src/Mod/Fem/femtest/app/test_result.py
  src/Mod/Fem/femtest/test_information.md
  src/Mod/Material/MaterialEditor.py
Labels: Mod: FEM, Mod: Materials

#15869 Toponaming: Missing shape hasher line; fixed cleaned Transformed
  src/App/StringHasher.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/PartDesignTests/TestLinearPattern.py
  src/Mod/PartDesign/PartDesignTests/TestPolarPattern.py
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  tests/src/App/StringHasher.cpp
Labels: Mod: Core, Mod: Part Design

#15893 Revert "CI: Disable Windows conda due to mamba bug."
  .github/workflows/CI_master.yml
Labels: :octocat:

#15496 [CAM] Fix numeric sorting of drill diameters
  src/Mod/CAM/Path/Op/Gui/CircularHoleBase.py
Labels: Mod: CAM

#15257 [Mod] clean Area.cpp
  src/Mod/CAM/App/Area.cpp
Labels: Mod: CAM

#15921 [CAM] Fix Gcode import
  src/Mod/CAM/Gui/AppPathGuiPy.cpp
Labels: Mod: CAM

#15924 MacOS: Modify OS detection macro
  src/Gui/Assistant.cpp
  src/Gui/PythonConsole.cpp
  src/Gui/SoFCCSysDragger.cpp
  src/Gui/ToolHandler.cpp
Labels: Mod: Core

#15897 Toponaming: Fuse call makeElementRefine; remove deprecated refineSha…
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  tests/src/Mod/Part/App/FeaturePartFuse.cpp
Labels: Mod: Part Design, Mod: Part

#15942 PD: Make PD tests more robust
  src/Mod/PartDesign/PartDesignTests/TestLinearPattern.py
  src/Mod/PartDesign/PartDesignTests/TestPolarPattern.py
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part Design

#15949 CI: Disable Windows conda due to mamba bug.
  .github/workflows/CI_master.yml
Labels: :octocat:

#15895 Use portable text to set shortcut
  src/Gui/DlgKeyboardImp.cpp
Labels: Mod: Core, OS: macOS, Topic: Shortcut

#15923 BIM: Fix oversight in #15530
  src/Mod/BIM/importers/exportIFC.py
Labels: Type: Bug, Mod: BIM

#15922 Add Feedrate to G85 command moves
  src/Mod/CAM/Path/Geom.py
Labels: Mod: CAM

#15930 Removeoldmaterials
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/Resources/Materials/Machining/Aluminum-6061.FCMat
  src/Mod/Material/Resources/Materials/Machining/Aluminum-7075.FCMat
  src/Mod/Material/Resources/Materials/Machining/Aluminum-Cast.FCMat
  src/Mod/Material/Resources/Materials/Machining/Brass-Hard.FCMat
  src/Mod/Material/Resources/Materials/Machining/Brass-Medium.FCMat
  src/Mod/Material/Resources/Materials/Machining/Brass-Soft.FCMat
  src/Mod/Material/Resources/Materials/Machining/CarbonSteel.FCMat
  src/Mod/Material/Resources/Materials/Machining/HardPlastics.FCMat
  src/Mod/Material/Resources/Materials/Machining/Hardwood.FCMat
  src/Mod/Material/Resources/Materials/Machining/SoftPlastics.FCMat
  src/Mod/Material/Resources/Materials/Machining/Softwood.FCMat
  src/Mod/Material/Resources/Materials/Machining/Stainless-303.FCMat
  src/Mod/Material/Resources/Materials/Machining/Stainless-304.FCMat
  src/Mod/Material/Resources/Materials/Machining/Stainless-316.FCMat
Labels: Mod: Materials

#15932 fixes #15902
  src/Mod/CAM/Tools/Shape/ballend.fcstd
  src/Mod/CAM/Tools/Shape/bullnose.fcstd
  src/Mod/CAM/Tools/Shape/chamfer.fcstd
  src/Mod/CAM/Tools/Shape/dovetail.fcstd
  src/Mod/CAM/Tools/Shape/drill.fcstd
  src/Mod/CAM/Tools/Shape/endmill.fcstd
  src/Mod/CAM/Tools/Shape/probe.fcstd
  src/Mod/CAM/Tools/Shape/slittingsaw.fcstd
  src/Mod/CAM/Tools/Shape/thread-mill.fcstd
  src/Mod/CAM/Tools/Shape/v-bit.fcstd
Labels: Mod: CAM

#15935 [TD]fix asCircle error calculation (fixes #15901)
  src/Mod/TechDraw/App/Geometry.cpp
Labels: Mod: TechDraw

#15953 Addon Manager: Fix ZIP installation
  src/Mod/AddonManager/addonmanager_installer.py
Labels: Mod: Addon Manager

#15954 CMake: Use RelWithDebInfo for Conda Windows Debug builds.
  CMakePresets.json
Labels: OS: Windows, Packaging: Conda

#15947 Gui: Correct repeated extension
  src/Gui/FileDialog.cpp
Labels: Mod: Core

#15945 [TD]fix crash on Cosmetic line > 10m (fix #15724)
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/Geometry.h
Labels: Mod: TechDraw

#15914 labels.yml: add Measurement label
  .github/labels.yml
Labels: :octocat:

#15993 Part: Make ViewProviderPart::applyMaterial more robust
  src/Mod/Part/Gui/ViewProvider.cpp
Labels: Mod: Part

#15900 Toponaming: Support disabling hashing; getting element history
  src/App/Document.cpp
  src/App/Document.h
  src/Mod/Part/App/PartFeaturePy.xml
  src/Mod/Part/App/PartFeaturePyImp.cpp
Labels: Mod: Core, Mod: Part

#16004 Building: Boost dependency errors
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/PreCompiled.h
  src/Mod/Sketcher/App/Constraint.cpp
  src/Mod/Sketcher/App/PreCompiled.h
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/CosmeticVertex.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/PreCompiled.h
Labels: Mod: TechDraw, Mod: Part, Mod: Sketcher

#15976 Toponaming fix #15969 following LS3 code change
  src/Mod/Part/App/TopoShapeMapper.cpp
Labels: Mod: Part

#15956 Fix shape color / materials issues in fuse
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part Design, Mod: Part

#15965 Measure: fix linting TaskMeasure.cpp
  src/Mod/Measure/Gui/TaskMeasure.cpp
Labels: Mod: Measurement

#15877 Reimplementation of Light source dialog
  src/Gui/PreferencePages/DlgSettingsLightSources.cpp
  src/Gui/PreferencePages/DlgSettingsLightSources.h
  src/Gui/PreferencePages/DlgSettingsLightSources.ui
Labels: Mod: Core

#16014 Part: Fix compilation with Qt6/MSVC
  src/Mod/Part/App/PartFeaturePyImp.cpp
Labels: Mod: Part

#16033 Addon Manager: Adjust button reference for Qt6 compatibility
  src/Mod/AddonManager/AddonManager.py
Labels: Mod: Addon Manager, 3rd party: Qt 6

#15980 Fem: Disconnect slot when destroying Constraint object
  src/Mod/Fem/App/FemConstraint.cpp
Labels: Mod: FEM

#15967 [FEM] fix compile warnings ->ViewProviderFemMesh.cpp
  src/Mod/Fem/Gui/ViewProviderFemMesh.cpp
Labels: Mod: FEM

#16009 [PD] helix fix
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHelix.h
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part Design

#15944 Gui: Workaround for #14350
  src/Gui/propertyeditor/PropertyEditor.cpp
Labels: Mod: Core, OS: macOS

#15887 fix(PD): threadtype combobox too small for metric fine
  src/Mod/PartDesign/Gui/TaskHoleParameters.ui
Labels: Mod: Part Design

#15933 Gui: Fix issue with missing icons in sketcher
  src/Gui/Action.cpp
Labels: Mod: Core

#15958 [Sketcher] Attempt to fix #14736
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: Mod: Sketcher

#15977 BIM: Arch_Survey: Fix concatenate bytes bug
  src/Mod/BIM/ArchCommands.py
Labels: Mod: BIM

#15982 Fix crash when using box selection with Arch Survey (issue #15981)
  src/Gui/CommandView.cpp
Labels: Mod: Core

#15989 Linux: Fix regression with mask of cursors if platform name is 'xcb'
  src/Gui/View3DInventorViewer.cpp
Labels: Mod: Core

#16021 Material: Add wood cards with machining model
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/Resources/Materials/Appearance/Wood.FCMat
  src/Mod/Material/Resources/Materials/Machining/BalsaWood.FCMat
  src/Mod/Material/Resources/Materials/Machining/HardWood.FCMat
  src/Mod/Material/Resources/Materials/Machining/MDF.FCMat
  src/Mod/Material/Resources/Materials/Machining/ParticleBoard.FCMat
  src/Mod/Material/Resources/Materials/Machining/SoftWood.FCMat
  src/Mod/Material/Resources/Materials/Standard/Wood/Wood-Generic.FCMat
Labels: Mod: Materials

#15886 Overlay blur fix + slightly less white background
  src/Gui/Stylesheets/overlay/Dark Theme + Dark Background.qss
  src/Gui/Stylesheets/overlay/Dark Theme + Light Background.qss
  src/Gui/Stylesheets/overlay/Light Theme + Dark Background.qss
  src/Gui/Stylesheets/overlay/Light Theme + Light Background.qss
Labels: Mod: Core, Topic: Stylesheets

#16019 Gui: Ensure minimum size of preferences dialog
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/DlgPreferencesImp.h
Labels: Mod: Core

#16036 Update to Toposhape versions and fix shapebinder references with test
  src/Mod/Part/App/FeatureRevolution.cpp
  src/Mod/Part/App/FeatureScale.cpp
  src/Mod/Part/App/PartFeatures.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/PartDesignTests/TestShapeBinder.py
  src/Mod/TechDraw/App/ShapeExtractor.cpp
Labels: Mod: TechDraw, Mod: Part Design, Mod: Part

#16037 Ignore standalone points in sketches when building faces
  src/Mod/Part/App/FaceMaker.cpp
Labels: Mod: Part

#16046 Part: Prepare for clang-format
  src/Mod/Part/App/AppPart.cpp
  src/Mod/Part/Gui/DlgExtrusion.cpp
  src/Mod/Part/Gui/DlgFilletEdges.cpp
  src/Mod/Part/Gui/DlgProjectionOnSurface.cpp
  src/Mod/Part/Gui/DlgRevolution.cpp
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/Part/Gui/TaskFaceAppearances.cpp
  src/Mod/Part/Gui/TaskLoft.cpp
  src/Mod/Part/Gui/TaskOffset.cpp
  src/Mod/Part/Gui/TaskSweep.cpp
  src/Mod/Part/Gui/TaskThickness.cpp
Labels: Mod: Part

#16027 [TD]fix false positives in isCircle (fix #15979)
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/Geometry.h
Labels: Mod: TechDraw

#15931 Horrible hack to work around bug in OCCT7.7.2
  src/Mod/Part/App/PrimitiveFeature.cpp
Labels: Mod: Part

#14182 Toponaming: Remove all FC_USE_TNP_FIX protected old code
  src/App/ComplexGeoDataPyImp.cpp
  src/App/GeoFeature.cpp
  src/App/GeoFeature.h
  src/App/PropertyLinks.cpp
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/App/AttachExtension.cpp
  src/Mod/Part/App/AttachExtension.h
  src/Mod/Part/App/FaceMaker.cpp
  src/Mod/Part/App/FeatureChamfer.cpp
  src/Mod/Part/App/FeatureCompound.cpp
  src/Mod/Part/App/FeatureExtrusion.cpp
  src/Mod/Part/App/FeatureFillet.cpp
  src/Mod/Part/App/FeatureMirroring.cpp
  src/Mod/Part/App/FeatureOffset.cpp
  src/Mod/Part/App/FeaturePartBoolean.cpp
  src/Mod/Part/App/FeaturePartCommon.cpp
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/Part/App/FeatureRevolution.cpp
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
  src/Mod/Part/App/PartFeatures.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShapeCompSolidPyImp.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Part/App/TopoShapeFacePyImp.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/Part/App/TopoShapeShellPyImp.cpp
  src/Mod/Part/App/TopoShapeSolidPyImp.cpp
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/FeatureChamfer.cpp
  src/Mod/PartDesign/App/FeatureDressUp.cpp
  src/Mod/PartDesign/App/FeatureFillet.cpp
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureRevolution.h
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  tests/src/Mod/Part/App/FeatureMirroring.cpp
  tests/src/Mod/Part/App/FeatureOffset.cpp
  tests/src/Mod/Part/App/FeaturePartCommon.cpp
  tests/src/Mod/Part/App/FeaturePartCut.cpp
  tests/src/Mod/Part/App/PartFeature.cpp
  tests/src/Mod/Part/App/PropertyTopoShape.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Core, Mod: Part Design, Mod: Part, Mod: Sketcher

#15940 Core: Rename ViewProviderPythonFeature to ViewProviderFeaturePython
  src/App/FeaturePython.cpp
  src/App/FeaturePython.h
  src/Gui/Application.cpp
  src/Gui/CMakeLists.txt
  src/Gui/ViewProviderDocumentObjectGroup.cpp
  src/Gui/ViewProviderDocumentObjectGroup.h
  src/Gui/ViewProviderFeaturePython.cpp
  src/Gui/ViewProviderFeaturePython.h
  src/Gui/ViewProviderGeoFeatureGroup.cpp
  src/Gui/ViewProviderGeoFeatureGroup.h
  src/Gui/ViewProviderLink.cpp
  src/Gui/ViewProviderLink.h
  src/Gui/ViewProviderMaterialObject.cpp
  src/Gui/ViewProviderMaterialObject.h
  src/Gui/ViewProviderPart.cpp
  src/Gui/ViewProviderPart.h
  src/Gui/ViewProviderPlacement.cpp
  src/Gui/ViewProviderPlacement.h
  src/Mod/CAM/Gui/ViewProviderArea.cpp
  src/Mod/CAM/Gui/ViewProviderArea.h
  src/Mod/CAM/Gui/ViewProviderPath.cpp
  src/Mod/CAM/Gui/ViewProviderPath.h
  src/Mod/CAM/Gui/ViewProviderPathCompound.cpp
  src/Mod/CAM/Gui/ViewProviderPathCompound.h
  src/Mod/Draft/draftviewproviders/view_base.py
  src/Mod/Drawing/Gui/ViewProviderView.cpp
  src/Mod/Drawing/Gui/ViewProviderView.h
  src/Mod/Fem/App/FemAnalysis.cpp
  src/Mod/Fem/Gui/ViewProviderAnalysis.cpp
  src/Mod/Fem/Gui/ViewProviderAnalysis.h
  src/Mod/Fem/Gui/ViewProviderFemConstraint.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraint.h
  src/Mod/Fem/Gui/ViewProviderFemMesh.cpp
  src/Mod/Fem/Gui/ViewProviderFemMesh.h
  src/Mod/Fem/Gui/ViewProviderFemMeshShape.cpp
  src/Mod/Fem/Gui/ViewProviderFemMeshShape.h
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.h
  src/Mod/Fem/Gui/ViewProviderResult.cpp
  src/Mod/Fem/Gui/ViewProviderResult.h
  src/Mod/Fem/Gui/ViewProviderSolver.cpp
  src/Mod/Fem/Gui/ViewProviderSolver.h
  src/Mod/Mesh/Gui/ViewProviderPython.cpp
  src/Mod/Mesh/Gui/ViewProviderPython.h
  src/Mod/Part/Gui/ViewProvider2DObject.cpp
  src/Mod/Part/Gui/ViewProvider2DObject.h
  src/Mod/Part/Gui/ViewProviderPython.cpp
  src/Mod/Part/Gui/ViewProviderPython.h
  src/Mod/PartDesign/Gui/ViewProvider.cpp
  src/Mod/PartDesign/Gui/ViewProvider.h
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.cpp
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.h
  src/Mod/Points/Gui/ViewProvider.cpp
  src/Mod/Points/Gui/ViewProvider.h
  src/Mod/Sketcher/Gui/ViewProviderPython.cpp
  src/Mod/Sketcher/Gui/ViewProviderPython.h
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.cpp
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.h
Labels: Mod: Core, Mod: FEM, Mod: Draft, Mod: CAM, Mod: Part Design, Mod: Part, Mod: Spreadsheet, Mod: Sketcher, Mod: Mesh, Mod: Points, Coding: Refactor

#15987 Fix FreeCAD Classic cfg file to explicitly reassign theme defaults.
  src/Gui/PreferencePacks/FreeCAD Classic/FreeCAD Classic.cfg
Labels: Mod: Core

#16061 Toponaming: Run black on the entire toponaming python test file.
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part Design

#15739 Gui: Do not show overlay panels in Start
  src/Gui/GraphvizView.cpp
  src/Gui/ImageView.cpp
  src/Gui/OverlayWidgets.cpp
  src/Gui/SplitView3DInventor.cpp
  src/Gui/View3DInventor.cpp
  src/Mod/Drawing/Gui/DrawingView.cpp
  src/Mod/Spreadsheet/Gui/SpreadsheetView.cpp
  src/Mod/Start/Gui/StartView.cpp
  src/Mod/Start/Gui/StartView.h
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
Labels: Mod: Core

#16040 cmake: update BUILD_PATH to BUILD_CAM
  cMake/FreeCAD_Helpers/CheckInterModuleDependencies.cmake
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  src/Mod/CMakeLists.txt
Labels: Mod: CAM, Packaging/building

#16044 Material: Prepare for clang-format
  src/Mod/Material/App/AppMaterial.cpp
Labels: Mod: Materials

#16154 Assembly: Make sure the subnames index are valid
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly

#16169 Update post.FCMacro to allow proper application of Classic theme
  src/Gui/PreferencePacks/FreeCAD Classic/post.FCMacro
Labels: Mod: Core

#16129 Fix incorrect Compound merge tip
  src/Mod/Import/Resources/ui/preferences-import.ui
  src/Mod/Part/Gui/DlgImportStep.ui
Labels: Translation, Mod: Part

#16165 FEM: Fix UseNonCcxIterationParam preference property type
  src/Mod/Fem/femcommands/commands.py
Labels: Mod: FEM

#16162 Gui: Add maximum width for font picker in navigation settings
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
Labels: Mod: Core

#16143 BIM: Fix Python 3.12 run time error with importers
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/importers/importIFC.py
  src/Mod/BIM/importers/importIFClegacy.py
  src/Mod/BIM/importers/importJSON.py
  src/Mod/BIM/importers/importOBJ.py
  src/Mod/BIM/importers/importSH3D.py
  src/Mod/BIM/importers/importSHP.py
  src/Mod/BIM/importers/importWebGL.py
Labels: Mod: BIM

#16141 Draft: Fix max value of Scale multiplier in ui files
  src/Mod/Draft/Resources/ui/TaskPanel_SetStyle.ui
  src/Mod/Draft/Resources/ui/dialog_AnnotationStyleEditor.ui
Labels: Mod: Draft

#16128 [planegcs] Fix error gradient check in `ConstraintTangentCircumf`
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
Labels: Mod: Sketcher

#16120 [Material] Prefs - User Directory - set to Directory chooser
  src/Mod/Material/Gui/DlgSettingsMaterial.ui
Labels: Mod: Materials

#16115 Toponaming: Remove remaining FC_USE_TNP_FIX ifdefs
  cMake/FreeCAD_Helpers/SetGlobalCompilerAndLinkerSettings.cmake
  src/App/ElementNamingUtils.cpp
  src/Gui/SoFCUnifiedSelection.cpp
  src/Gui/View3DInventorSelection.cpp
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/PropertyTopoShape.cpp
  src/Mod/Part/App/PropertyTopoShapeList.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/Feature.h
  src/Mod/PartDesign/App/FeatureAddSub.cpp
  src/Mod/PartDesign/App/FeatureAddSub.h
  src/Mod/PartDesign/App/FeatureBoolean.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  tests/CMakeLists.txt
Labels: Mod: Core, Mod: Part Design, Mod: Part, Packaging/building, Mod: Sketcher

#16133 Sketcher: Fix autoconstraint issue
  src/Mod/Sketcher/Gui/DrawSketchController.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
Labels: Mod: Sketcher
