Repository FreeCAD/FreeCAD, pull requests merged in 2024-06, with the labels that each got.

#14429 Toponaming: Restore use of AttachmentSupport
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
Labels: WB Part Design

#13792 Material: Appearance Updates 2
  src/App/Material.cpp
  src/App/Material.h
  src/App/PropertyStandard.cpp
  src/App/PropertyStandard.h
  src/Base/Stream.cpp
  src/Base/Stream.h
  src/Gui/Application.h
  src/Gui/DlgMaterialProperties.ui
  src/Gui/DlgMaterialPropertiesImp.cpp
  src/Gui/DlgMaterialPropertiesImp.h
  src/Gui/ViewProviderGeometryObject.cpp
  src/Gui/ViewProviderGeometryObject.h
  src/Gui/ViewProviderGeometryObjectPyImp.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintOnBoundary.cpp
  src/Mod/Import/Gui/ExportOCAFGui.cpp
  src/Mod/Import/Gui/ImportOCAFGui.cpp
  src/Mod/Material/App/Materials.cpp
  src/Mod/Material/App/Materials.h
  src/Mod/Material/Gui/AppearancePreview.cpp
  src/Mod/Material/Gui/AppearancePreview.h
  src/Mod/Material/Gui/DlgDisplayProperties.ui
  src/Mod/Material/Gui/DlgDisplayPropertiesImp.cpp
  src/Mod/Material/Gui/DlgDisplayPropertiesImp.h
  src/Mod/Material/Gui/DlgMaterialImp.cpp
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
  src/Mod/Material/Gui/MaterialsEditor.cpp
  src/Mod/Material/Gui/MaterialsEditor.h
  src/Mod/Material/Gui/PreCompiled.h
  src/Mod/Material/Resources/Models/Rendering/TextureRendering.yml
  src/Mod/MeshPart/Gui/Tessellation.cpp
  src/Mod/Part/Gui/AppPartGui.cpp
  src/Mod/Part/Gui/CMakeLists.txt
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/DlgProjectionOnSurface.cpp
  src/Mod/Part/Gui/ReferenceHighlighter.cpp
  src/Mod/Part/Gui/ReferenceHighlighter.h
  src/Mod/Part/Gui/TaskFaceAppearances.cpp
  src/Mod/Part/Gui/TaskFaceAppearances.h
  src/Mod/Part/Gui/TaskFaceAppearances.ui
  src/Mod/Part/Gui/ViewProvider.cpp
  src/Mod/Part/Gui/ViewProvider.h
  src/Mod/Part/Gui/ViewProviderBoolean.cpp
  src/Mod/Part/Gui/ViewProviderCompound.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/Part/Gui/ViewProviderExt.h
  src/Mod/Part/Gui/ViewProviderExtPy.xml
  src/Mod/Part/Gui/ViewProviderExtPyImp.cpp
  src/Mod/Part/Gui/ViewProviderMirror.cpp
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
  src/Mod/PartDesign/Gui/ViewProviderDressUp.cpp
  src/Mod/PartDesign/Gui/ViewProviderDressUp.h
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.cpp
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.h
  src/Mod/Surface/Gui/TaskFilling.cpp
  src/Mod/Surface/Gui/TaskSections.cpp
Labels: Core, WB FEM, WB Part Design, WB Part, Materials, WB MeshPart

#14421 Toponaming: fix bug with points in sketches
  src/Mod/PartDesign/Gui/Command.cpp
Labels: WB Part Design

#14459 Toponaming: remove unused method with compile warnings
  src/App/GeoFeature.cpp
  src/App/GeoFeature.h
Labels: Core

#14468 Part: Rename ViewProviderPartExtPy class files
  src/Mod/Part/Gui/CMakeLists.txt
  src/Mod/Part/Gui/ViewProviderPartExtPy.xml
  src/Mod/Part/Gui/ViewProviderPartExtPyImp.cpp
Labels: WB Part

#14469 App: Prepare for clang-format
  .pre-commit-config.yaml
  src/App/Application.cpp
  src/App/Application.h
  src/App/Color.cpp
  src/App/ElementNamingUtils.h
  src/App/ExtensionContainer.cpp
  src/App/ExtensionContainer.h
  src/App/FeaturePythonPyImp.h
  src/App/FeaturePythonPyImp.inl
  src/App/FreeCADInit.py
  src/App/MeasureDistance.cpp
  src/App/Origin.cpp
  src/App/Property.cpp
  src/App/PropertyContainer.h
  src/App/PropertyGeo.cpp
Labels: Core

#13317 Core: Add properties to variable sets
  src/Gui/CMakeLists.txt
  src/Gui/CommandStructure.cpp
  src/Gui/DlgAddPropertyVarSet.cpp
  src/Gui/DlgAddPropertyVarSet.h
  src/Gui/DlgAddPropertyVarSet.ui
  src/Gui/ViewProviderVarSet.cpp
  src/Gui/ViewProviderVarSet.h
  src/Gui/Workbench.cpp
  src/Mod/PartDesign/App/Body.cpp
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
Labels: Core

#13626 Gui: Add VarSet support to expression dialog
  src/Gui/DlgExpressionInput.cpp
  src/Gui/DlgExpressionInput.h
  src/Gui/DlgExpressionInput.ui
Labels: Core

#14316 UI Icons: Changed icon size back to 17px due to scaling issue.
  src/Gui/QSint/actionpanel/xp/FoldOver_Blue1.png
  src/Gui/QSint/actionpanel/xp/FoldOver_Blue2.png
  src/Gui/QSint/actionpanel/xp/Fold_Blue1.png
  src/Gui/QSint/actionpanel/xp/Fold_Blue2.png
  src/Gui/QSint/actionpanel/xp/UnfoldOver_Blue1.png
  src/Gui/QSint/actionpanel/xp/UnfoldOver_Blue2.png
  src/Gui/QSint/actionpanel/xp/Unfold_Blue1.png
  src/Gui/QSint/actionpanel/xp/Unfold_Blue2.png
Labels: Core

#14320 [Sketcher] Respect Auto/Diameter/Radius settings for Circles when using OVP
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
Labels: WB Sketcher

#12589 Add a new mode to PD patterns that will transform the base feature's shape instead of the tool shapes
  src/Mod/PartDesign/App/Body.cpp
  src/Mod/PartDesign/App/Body.h
  src/Mod/PartDesign/App/FeatureMultiTransform.cpp
  src/Mod/PartDesign/App/FeatureMultiTransform.h
  src/Mod/PartDesign/App/FeatureScaled.cpp
  src/Mod/PartDesign/App/FeatureScaled.h
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/App/FeatureTransformed.h
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.h
  src/Mod/PartDesign/Gui/TaskTransformedParameters.ui
Labels: WB Part Design

#14336 UI: Add Std_AlignToSelevtion to menu bar and context menu
  src/Gui/NaviCube.cpp
  src/Gui/Workbench.cpp
Labels: Core

#14337 Sketch: Refactor SketchAnalysis
  src/Mod/Sketcher/App/SketchAnalysis.cpp
  src/Mod/Sketcher/App/SketchAnalysis.h
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#14355 Materials: Tree Widget selection change
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
Labels: Materials

#14359 TechDraw: Smart Dimension: Fix cannot pan with middle mouse click.
  src/Mod/TechDraw/Gui/QGVPage.cpp
Labels: WB TechDraw

#14382 UI: Change transform tool task box icon and heading
  src/Gui/TaskCSysDragger.cpp
Labels: Core

#14383 Assembly: Fix bad limits automatically
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/JointObject.py
Labels: WB Assembly

#14341 Fix visibility icon for link elements
  src/Gui/Tree.cpp
Labels: Core

#14322 Gui: Update sketcher colors after file load
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: WB Sketcher

#14398 Part: Not needed translation for STEP
  src/Mod/Part/Gui/DlgExportHeaderStep.ui
  src/Mod/Part/Gui/DlgExportStep.ui
  src/Mod/Part/Gui/DlgImportStep.ui
  src/Mod/Part/Gui/DlgPartImportStepImp.cpp
  src/Mod/Part/Gui/DlgSettingsGeneral.cpp
Labels: WB Part

#14399 Materials: Inheritance API
  src/Mod/Material/App/MaterialManagerPy.xml
  src/Mod/Material/App/MaterialManagerPyImpl.cpp
Labels: Materials

#14402 Part: Add AttacherEngine of type PropertyEnumeration
  src/Mod/Part/App/AttachExtension.cpp
  src/Mod/Part/App/AttachExtension.h
  tests/src/Mod/Part/App/AttachExtension.cpp
Labels: WB Part

#11392 PD: Extrude to face or shape
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.h
Labels: WB Part Design

#14303 Gui: Fix rendering order of transorm gizmo
  src/Gui/CMakeLists.txt
  src/Gui/So3DAnnotation.cpp
  src/Gui/So3DAnnotation.h
  src/Gui/SoFCCSysDragger.cpp
  src/Gui/SoFCCSysDragger.h
  src/Gui/SoFCDB.cpp
Labels: Core

#13807 Gui: Fix document tree background rendering with overlay (Qt6)
  src/Gui/Tree.cpp
Labels: Core

#14408 Part: Add FaceMakerMode of type PropertyEnumeration
  src/Mod/Part/App/FeatureExtrusion.cpp
  src/Mod/Part/App/FeatureExtrusion.h
Labels: WB Part

#14489 Toponaming: defend against uninitialized elementMap in getElementHistory
  src/App/ComplexGeoData.h
Labels: Core

#14485 Toponaming fix dress up shadow subs
  src/Mod/PartDesign/App/FeatureDressUp.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
Labels: WB Part Design

#14483 Fix compiler warnings
  src/Gui/Tree.cpp
Labels: Core

#14505 Fix compiler warnings
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
Labels: WB Part Design

#14491 Fem: Set compatible license in test files - fixes #8894
  src/Mod/Fem/femexamples/manager.py
  src/Mod/Fem/femtest/data/calculix/thermomech_flow1D.FCStd
Labels: WB FEM

#14509 [ArchWall] Disable Input (ReadyOny) if Base (ArchSketch) Provided
  src/Mod/BIM/ArchWall.py
Labels: WB BIM

#14501 BIM: Fix BimImagePlane.py imports
  src/Mod/BIM/bimcommands/BimImagePlane.py
Labels: WB BIM

#14490 BIM: Update WP commands
  src/Mod/BIM/bimcommands/BimWPCommands.py
Labels: WB BIM

#14481 [BIM] Add fallback ifcOpenShell installation fix for Python 3.10, 3.11 & 3.12 systems
  src/Mod/BIM/bimcommands/BimSetup.py
Labels: WB BIM

#14506 Draft: Fix two Layer warnings
  src/Mod/Draft/draftobjects/layer.py
Labels: WB Draft

#14434 UI: Updated GUI icons
  src/Gui/Icons/AddonManager.svg
  src/Gui/Icons/document-open.svg
  src/Gui/Icons/document-package.svg
  src/Gui/Icons/preferences-display.svg
  src/Gui/Icons/preferences-import-export.svg
  src/Gui/Icons/preferences-workbenches.svg
  src/Gui/Icons/tree-sync-view.svg
  src/Gui/Icons/zoom-all.svg
Labels: Core

#14213 App: Add readline-based tab-completion
  src/App/FreeCADInit.py
Labels: Core

#14454 MeasureGui: Don't resolve selection objects in TaskMeasure
  src/Gui/TaskMeasure.cpp
Labels: Core

#14456 Gui: Add QtStyle user parameter
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/StartupProcess.cpp
  src/Gui/StartupProcess.h
Labels: Core

#14537 [TD]Change template svg_namespace to www.freecad.org
  src/Mod/TechDraw/Templates/A0_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A0_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/ANSIC_Landscape.svg
  src/Mod/TechDraw/Templates/ANSIC_Portrait.svg
  src/Mod/TechDraw/Templates/ANSID_Landscape.svg
  src/Mod/TechDraw/Templates/ANSID_Portrait.svg
  src/Mod/TechDraw/Templates/ANSIE_Landscape.svg
  src/Mod/TechDraw/Templates/ANSIE_Portrait.svg
  src/Mod/TechDraw/Templates/ISO 5457/A0_Landscape_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/A1_Landscape_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/A2_Landscape_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/A3_Landscape_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/A4_Landscape_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/A4_Portrait_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_1_minimal.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_2.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_3_advanced.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_4.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_5_maximal.svg
  src/Mod/TechDraw/Templates/locale/ca/A0_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A0_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A1_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A1_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A2_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A2_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A3_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A3_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Portrait_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/locale/ca/A4_Portrait_ISO5457_minimal.svg
Labels: WB TechDraw

#14449 Core: fix import of FreeCAD in a Python 3.12 interpreter
  src/App/Application.cpp
Labels: Core

#14522 [AddonManager] Fix Error on Existing Python Additional Packages Folder
  src/Mod/AddonManager/manage_python_dependencies.py
Labels: Addon Manager

#14462 Speedup sketcher item selection
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
Labels: WB Sketcher

#14318 Part: Add Sketcher_NewSketch to Part toolbar
  src/Mod/Part/Gui/Workbench.cpp
  src/Mod/Part/InitGui.py
Labels: WB Part

#14417 Fem: Add body heat source to CalculiX writer - fixes #11650
  src/Base/UnitsSchemaInternal.cpp
  src/Base/UnitsSchemaMKS.cpp
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/Gui/Resources/ui/BodyHeatSource.ui
  src/Mod/Fem/femmesh/meshsetsgetter.py
  src/Mod/Fem/femmesh/meshtools.py
  src/Mod/Fem/femobjects/constraint_bodyheatsource.py
  src/Mod/Fem/femsolver/calculix/write_constraint_bodyheatsource.py
  src/Mod/Fem/femsolver/calculix/writer.py
  src/Mod/Fem/femsolver/elmer/equations/heat_writer.py
  src/Mod/Fem/femtaskpanels/task_constraint_bodyheatsource.py
  src/Mod/Fem/femtools/membertools.py
Labels: WB FEM

#14372 Part: Add ParallelPlane attachment mode
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/Attacher.h
  src/Mod/Part/Gui/AttacherTexts.cpp
  tests/src/Mod/Part/App/Attacher.cpp
Labels: WB Part

#14477 Update issue-metrics to v3
  .github/workflows/issue-metrics.yml
Labels: :octocat:

#14480 Gui: Refactor DlgMaterialPropertiesImp
  src/Gui/DlgMaterialPropertiesImp.cpp
  src/Gui/DlgMaterialPropertiesImp.h
  src/Mod/Material/Gui/DlgDisplayPropertiesImp.cpp
  src/Mod/Material/Gui/DlgDisplayPropertiesImp.h
  src/Mod/Part/Gui/TaskFaceAppearances.cpp
  src/Mod/Part/Gui/TaskFaceAppearances.h
Labels: Core, WB Part, Materials

#14493 [Gui] Fix BehaveDark StatusBar Flickering Border...
  src/Gui/Stylesheets/Behave-dark.qss
Labels: Core

#14496 Sketcher: Fix default value of dimConstrDeactivatedColor
  src/Mod/Sketcher/Gui/SketcherSettingsAppearance.ui
Labels: WB Sketcher

#14497 Guard all uses of basic_random_generator for thread safety
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Sketcher/App/Constraint.cpp
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/CosmeticVertex.cpp
  src/Mod/TechDraw/App/Geometry.cpp
Labels: WB TechDraw, WB Part, WB Sketcher

#14502 Assembly: Add preference to enable debug files of dragging
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/Gui/Resources/preferences/Assembly.ui
  src/Mod/Assembly/Preferences.py
Labels: WB Assembly

#14345 Fix SubElements selection for PropertyLinkSubList
  src/Gui/DlgPropertyLink.cpp
Labels: Core

#14397 Fix can't pad a sketch on datum plane
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/PartDesignTests/TestPad.py
Labels: WB Part Design

#14211 ArchSpace - Correct computed dimensions (floor area and perimeter length)
  src/Mod/BIM/ArchComponent.py
  src/Mod/BIM/ArchSpace.py
Labels: WB BIM

#14542 Base: Fix compiler warning
  src/Base/MatrixPyImp.cpp
Labels: Core

#14544 Base: Support virtual environment in Py>=3.11
  src/Base/Interpreter.cpp
Labels: Core

#14430 BIM: add missing imports for Arch_CutPlane
  src/Mod/BIM/bimcommands/BimCutPlane.py
Labels: WB BIM

#14237 Displaying internal names in the tree view
  src/Gui/PreferencePages/DlgSettingsUI.cpp
  src/Gui/PreferencePages/DlgSettingsUI.h
  src/Gui/PreferencePages/DlgSettingsUI.py
  src/Gui/Tree.cpp
  src/Gui/TreeParams.cpp
  src/Gui/TreeParams.h
  src/Gui/TreeParams.py
Labels: Core

#14549 Assembly: Add validation step during dragging to ignore bad solves
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.h
Labels: WB Assembly

#14594 Gui: Fix use of no longer existing DiffuseColor property
  src/Mod/PartDesign/Gui/ViewProviderExtrude.cpp
Labels: WB Part Design

#14610 Fix several compiler warnings
  src/Mod/Fem/App/FemConstraintTransform.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
Labels: WB FEM, WB Part Design

#14476 [MOD] clean Finite.cpp
  src/Mod/CAM/libarea/kurve/Finite.cpp
Labels: WB CAM

#14630 MSVC: Fix warnings and build failure
  src/Gui/DlgExpressionInput.cpp
  src/Gui/SoDatumLabel.cpp
  src/Mod/Fem/App/PreCompiled.h
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
Labels: Core, WB FEM, WB Part Design

#14364 CAM: Rename CW/CCW to Climb/Conventional for consistency
  src/Mod/CAM/Gui/Resources/panels/PageOpDeburrEdit.ui
  src/Mod/CAM/Gui/Resources/panels/PageOpHelixEdit.ui
  src/Mod/CAM/Path/Base/Generator/helix.py
  src/Mod/CAM/Path/Dressup/Gui/LeadInOut.py
  src/Mod/CAM/Path/Geom.py
  src/Mod/CAM/Path/Op/Area.py
  src/Mod/CAM/Path/Op/Deburr.py
  src/Mod/CAM/Path/Op/Helix.py
  src/Mod/CAM/Path/Op/PocketBase.py
  src/Mod/CAM/Path/Op/Profile.py
  src/Mod/CAM/Path/Post/scripts/heidenhain_post.py
  src/Mod/CAM/Tests/PathTestUtils.py
  src/Mod/CAM/Tests/TestPathDressupDogbone.py
  src/Mod/CAM/Tests/TestPathGeom.py
  src/Mod/CAM/Tests/TestPathHelixGenerator.py
  src/Mod/CAM/Tests/TestPathProfile.py
Labels: WB CAM

#14539 BIM: Fix move BuildingPart error
  src/Mod/BIM/ArchBuildingPart.py
Labels: WB BIM

#14540 BIM: Fix handling of Wall normal
  src/Mod/BIM/ArchWall.py
Labels: WB BIM

#14560 BIM: minor icon cleanup
  src/Mod/BIM/Resources/Arch.qrc
  src/Mod/BIM/Resources/icons/ArchWorkbench.svg
  src/Mod/BIM/Resources/icons/Arch_Opening_Experimental.svg
  src/Mod/BIM/Resources/icons/Arch_Project_IFC.svg
  src/Mod/BIM/Resources/icons/Arch_Wall_Experimental.svg
  src/Mod/BIM/Resources/icons/Arch_Window_Experimental.svg
  src/Mod/BIM/Resources/icons/BIM_Door_Experimental.svg
  src/Mod/BIM/Resources/icons/BIM_ImagePlane.svg
  src/Mod/BIM/Resources/icons/BIM_Project.svg
  src/Mod/BIM/Resources/icons/BIM_ProjectManager.svg
  src/Mod/BIM/Resources/icons/preferences-arch.svg
  src/Mod/BIM/Resources/icons/warning.svg
  src/Mod/BIM/bimcommands/BimImagePlane.py
  src/Mod/BIM/bimcommands/BimProject.py
  src/Mod/BIM/bimcommands/BimProjectManager.py
Labels: WB BIM

#14644 BIM: Fix Arch Panel imports
  src/Mod/BIM/ArchPanel.py
  src/Mod/BIM/bimcommands/BimPanel.py
Labels: WB BIM

#14646 Draft: _get_shapes in shape2dview.py did not handle null shapes
  src/Mod/Draft/draftobjects/shape2dview.py
Labels: WB Draft

#14452 Draft toggle grid as a toggle button to indicate grid visibility
  src/Mod/BIM/InitGui.py
  src/Mod/Draft/CMakeLists.txt
  src/Mod/Draft/InitGui.py
  src/Mod/Draft/draftutils/grid_observer.py
Labels: WB BIM, WB Draft

#14656 Sketcher: Fix ESC not working in 2 situations
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#14655 Sketcher: Fix circle diameter OVP
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
Labels: WB Sketcher

#14631 Core: Make sure that PropertyMaterialList cannot become empty
  src/App/PropertyStandard.cpp
  src/App/PropertyStandard.h
Labels: Core

#14707 Core: Remove superfluous + operator
  src/Gui/MainWindow.cpp
Labels: Core

#14665 Draft: revert #14206 to fix WP alignment
  src/Mod/Draft/WorkingPlane.py
Labels: WB Draft

#14713 [TD]fix segfault on confused selection
  src/Mod/TechDraw/App/DrawDimHelper.cpp
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
Labels: WB TechDraw

#14699 Toponaming: fix secondElementSelection and SelectionView
  src/Gui/SelectionView.cpp
  src/Gui/SoFCUnifiedSelection.cpp
  src/Gui/View3DInventorSelection.cpp
Labels: Core

#14648 Fix conversion of StandardButton enum and int
  src/Gui/PythonWrapper.cpp
  src/Gui/PythonWrapper.h
  src/Gui/TaskView/TaskDialogPython.cpp
Labels: Core

#14615 Materials: Render Transparency
  src/Gui/ViewProviderGeometryObject.cpp
Labels: Core

#14611 PD: Fix Qt warning at runtime
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
Labels: WB Part Design

#14731 [BIM] Fix QSvgWidget is not a child of QtSvg in PySide6
  src/Mod/BIM/ArchPrecast.py
  src/Mod/BIM/ArchWindow.py
  src/Mod/BIM/bimcommands/BimWindow.py
Labels: WB BIM

#14551 BIM; Removed BIMBots
  src/Mod/BIM/InitGui.py
Labels: WB BIM

#14574 Fem: Write reaction force from rigid body nodes - fixes #14558
  src/Mod/Fem/femsolver/calculix/write_constraint_rigidbody.py
  src/Mod/Fem/femsolver/calculix/write_step_output.py
Labels: WB FEM

#14579 Preselection preference text improvement
  src/Gui/CommandView.cpp
  src/Gui/PreferencePages/DlgSettingsSelection.ui
Labels: Core

#14416 Select code page during STEP Import
  src/Mod/Import/App/AppImportPy.cpp
  src/Mod/Import/App/ReaderStep.cpp
  src/Mod/Import/App/ReaderStep.h
  src/Mod/Import/Gui/AppImportGuiPy.cpp
  src/Mod/Part/App/OCAF/ImportExportSettings.cpp
  src/Mod/Part/App/OCAF/ImportExportSettings.h
  src/Mod/Part/Gui/DlgImportStep.cpp
  src/Mod/Part/Gui/DlgImportStep.ui
Labels: WB Part

#14503 Gui: Move texture handling to ViewProviderTextureExtension
  src/Gui/Application.cpp
  src/Gui/CMakeLists.txt
  src/Gui/ViewProviderGeometryObject.cpp
  src/Gui/ViewProviderGeometryObject.h
  src/Gui/ViewProviderTextureExtension.cpp
  src/Gui/ViewProviderTextureExtension.h
  src/Mod/Part/Gui/ViewProvider.cpp
  src/Mod/Part/Gui/ViewProvider.h
  src/Mod/Part/Gui/ViewProviderBoolean.cpp
  src/Mod/Part/Gui/ViewProviderCompound.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/Part/Gui/ViewProviderExt.h
  src/Mod/Part/Gui/ViewProviderMirror.cpp
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
Labels: Core

#14591 Measure: Fix MeasureLength failure when measuring circles/arcs
  src/Mod/Part/App/MeasureClient.cpp
Labels: WB Part

#13810 Integrate Std_MeasureDistance into unified measurement facility
  src/App/Application.cpp
  src/App/CMakeLists.txt
  src/App/MeasureDistance.cpp
  src/App/MeasureDistance.h
  src/Gui/Application.cpp
  src/Gui/CMakeLists.txt
  src/Gui/CommandStd.cpp
  src/Gui/CommandView.cpp
  src/Gui/ViewProviderMeasureDistance.cpp
  src/Gui/ViewProviderMeasureDistance.h
  src/Gui/Workbench.cpp
  src/Mod/Measure/App/AppMeasure.cpp
  src/Mod/Measure/App/MeasureDistance.cpp
  src/Mod/Measure/App/MeasureDistance.h
  src/Mod/Measure/Gui/ViewProviderMeasureBase.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureDistance.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureDistance.h
Labels: Core

#14627 Adjust names of two Sketcher tools to make their functions discoverable
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
Labels: WB Sketcher

#14619 Fem: Force z=0 for plane stress, plane strain and axisymmetric elements in writeABAQUS - fixes #12875
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/FemMeshPy.xml
Labels: WB FEM

#14614 Assembly: deleting a component deletes its joints.
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.h
  src/Mod/Assembly/JointObject.py
Labels: WB Assembly

#14554 Fem: Remove dependency of calculix solver classes on user parameters - fixes #13383
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femobjects/solver_ccxtools.py
  src/Mod/Fem/femsolver/calculix/solver.py
Labels: WB FEM

#14388 Core: Add Gui::Document::getTreeRootObjects() Fixes #14373
  src/Gui/Document.cpp
  src/Gui/Document.h
  src/Gui/DocumentPy.xml
  src/Gui/DocumentPyImp.cpp
  src/Gui/Tree.cpp
  src/Mod/Assembly/CommandInsertLink.py
  src/Mod/Assembly/UtilsAssembly.py
  src/Mod/Test/CMakeLists.txt
  src/Mod/Test/GuiDocument.py
  src/Mod/Test/InitGui.py
Labels: Core, WB Assembly

#14439 Sketcher: Fix importing arcs and elliptical arcs as external geometry
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#11492 Version 4 of the Erasing Elements Code
  src/Gui/PreferencePackTemplates/Shortcuts.cfg
  src/Mod/Fem/App/AppFem.cpp
  src/Mod/Fem/App/CMakeLists.txt
  src/Mod/Fem/App/FemSetElementNodesObject.cpp
  src/Mod/Fem/App/FemSetElementNodesObject.h
  src/Mod/Fem/Gui/AppFemGui.cpp
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/Resources/icons/FEM_CreateElementsSet.svg
  src/Mod/Fem/Gui/TaskCreateElementSet.cpp
  src/Mod/Fem/Gui/TaskCreateElementSet.h
  src/Mod/Fem/Gui/TaskCreateElementSet.ui
  src/Mod/Fem/Gui/TaskDlgCreateElementSet.cpp
  src/Mod/Fem/Gui/TaskDlgCreateElementSet.h
  src/Mod/Fem/Gui/ViewProviderSetElementNodes.cpp
  src/Mod/Fem/Gui/ViewProviderSetElementNodes.h
  src/Mod/Fem/Gui/Workbench.cpp
  src/Mod/Fem/femmesh/femmesh2mesh.py
Labels: Core, WB FEM

#14679 PD: Fixes issue #14598: FreeCAD crashes on Undo
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
Labels: WB Part Design

#14681 BIM: fix extrusion vector scaling for IFC export
  src/Mod/BIM/importers/exportIFC.py
Labels: WB BIM

#14682 [Part] Attachment Editor correct Python 2 reference
  src/Mod/Part/AttachmentEditor/TaskAttachmentEditor.py
Labels: WB Part

#14596 Part: Handle zero scale in TopoShape::_makeTransform
  src/Mod/Part/App/TopoShape.cpp
Labels: WB Part

#14691 Fem: Fix height of reference list widget in spring constraint task panel
  src/Mod/Fem/Gui/TaskFemConstraintSpring.ui
Labels: WB FEM

#14695 Remove unusable Help button from Preferences
  src/Gui/DlgPreferences.ui
Labels: Core

#14698 Fix too large spaces in two Draft Shape2DView property descriptions
  src/Mod/Draft/draftobjects/shape2dview.py
Labels: WB Draft

#14714 Draft: Draft_Split put focus on 3D view
  src/Mod/Draft/draftguitools/gui_split.py
Labels: WB Draft

#14716 Draft: Draft_Hatch put focus on task panel
  src/Mod/Draft/draftguitools/gui_hatch.py
Labels: WB Draft

#14460 Machining model and materials
  src/Mod/CAM/Gui/Resources/panels/PathEdit.ui
  src/Mod/CAM/Path/Main/Gui/Job.py
  src/Mod/CAM/Path/Main/Sanity/HTMLTemplate.py
  src/Mod/CAM/Path/Main/Sanity/ReportGenerator.py
  src/Mod/CAM/Path/Main/Sanity/Sanity.py
  src/Mod/CAM/Path/Main/Stock.py
  src/Mod/Material/App/ModelUuids.cpp
  src/Mod/Material/App/ModelUuids.h
  src/Mod/Material/App/UUIDsPy.xml
  src/Mod/Material/App/UUIDsPyImpl.cpp
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/Gui/DlgInspectAppearance.ui
  src/Mod/Material/Resources/Materials/Machining/Aluminum-6061.FCMat
  src/Mod/Material/Resources/Materials/Machining/Aluminum-7075.FCMat
  src/Mod/Material/Resources/Materials/Machining/Aluminum-Cast.FCMat
  src/Mod/Material/Resources/Materials/Machining/Brass-Hard.FCMat
  src/Mod/Material/Resources/Materials/Machining/Brass-Medium.FCMat
  src/Mod/Material/Resources/Materials/Machining/Brass-Soft.FCMat
  src/Mod/Material/Resources/Materials/Machining/CarbonSteel.FCMat
  src/Mod/Material/Resources/Materials/Machining/HardPlastics.FCMat
  src/Mod/Material/Resources/Materials/Machining/Hardwood.FCMat
  src/Mod/Material/Resources/Materials/Machining/SoftPlastics.FCMat
  src/Mod/Material/Resources/Materials/Machining/Softwood.FCMat
  src/Mod/Material/Resources/Materials/Machining/Stainless-303.FCMat
  src/Mod/Material/Resources/Materials/Machining/Stainless-304.FCMat
  src/Mod/Material/Resources/Materials/Machining/Stainless-316.FCMat
  src/Mod/Material/Resources/Materials/Machining/ToolSteel.FCMat
  src/Mod/Material/Resources/Models/Machining/Machinability.yml
Labels: WB CAM, Materials

#14718 Fix crash described in 14370 (issue comment)
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
Labels: WB Part Design

#14741 Toponaming: Fix crash with invalid external geometry
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#14494 Part: Fix AttachmentSupport when loading files from previous versions
  src/Mod/Part/App/AttachExtension.cpp
  src/Mod/Part/App/AttachExtension.h
Labels: WB Part

#14543 TD: Use new Qt6.5 interface for setContent
  src/Mod/TechDraw/App/DrawViewSymbol.cpp
Labels: WB TechDraw

#14730 Assembly: InsertLink: Use doc.Label instead of doc.Name
  src/Mod/Assembly/CommandInsertLink.py
Labels: WB Assembly

#14737 [TD]fix scene and tree selection sync
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.h
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/QGSPage.h
Labels: WB TechDraw

#14755 Fem/Sketcher: Fix missing PreCompiled.h files
  src/Mod/Fem/Gui/PreCompiled.h
  src/Mod/Sketcher/App/PreCompiled.h
Labels: WB FEM, WB Sketcher

#14767 PD: Fix crash in ViewProviderBody::unifyVisualProperty
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
Labels: WB Part Design

#14773 FEM: Fix linking errors & clean-up code
  src/Mod/Fem/App/AppFem.cpp
  src/Mod/Fem/App/FemSetElementNodesObject.cpp
  src/Mod/Fem/App/FemSetElementNodesObject.h
  src/Mod/Fem/Gui/AppFemGui.cpp
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/TaskCreateElementSet.cpp
  src/Mod/Fem/Gui/TaskCreateElementSet.h
  src/Mod/Fem/Gui/TaskDlgCreateElementSet.cpp
  src/Mod/Fem/Gui/TaskDlgCreateElementSet.h
  src/Mod/Fem/Gui/ViewProviderSetElementNodes.cpp
  src/Mod/Fem/Gui/ViewProviderSetElementNodes.h
  src/Mod/Fem/Gui/Workbench.cpp
Labels: WB FEM

#14768 Gui: Move ToolBarAreaWidget to its own files
  src/Gui/CMakeLists.txt
  src/Gui/ToolBarAreaWidget.cpp
  src/Gui/ToolBarAreaWidget.h
  src/Gui/ToolBarManager.cpp
  src/Gui/ToolBarManager.h
  src/Gui/WorkbenchSelector.cpp
Labels: Core

#14780 Fix several compiler warnings
  src/Gui/OverlayManager.cpp
  src/Gui/Tree.cpp
  src/Mod/Import/App/PreCompiled.h
  src/Mod/Import/App/ReaderGltf.cpp
  src/Mod/Import/App/WriterGltf.cpp
  src/Mod/Import/App/dxf/ImpExpDxf.cpp
  src/Mod/Mesh/App/WildMagic4/Wm4System.cpp
  src/Mod/Part/App/WireJoiner.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerOffset.h
  src/Mod/Sketcher/Gui/EditModeGeometryCoinConverter.cpp
  src/Mod/Sketcher/Gui/EditModeGeometryCoinConverter.h
  src/Mod/Spreadsheet/Gui/SheetModel.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
Labels: Core, WB TechDraw, WB Part, WB Spreadsheet, WB Sketcher, WB Mesh

#14809 Draft: Fix onChanged in view_point.py
  src/Mod/Draft/draftviewproviders/view_point.py
Labels: WB Draft

#14778 BIM: Fix base edge direction for Arch_Stairs
  src/Mod/BIM/ArchStairs.py
Labels: WB BIM

#14774 Draft: Fix 2 issues to make Draft_Fillet handle arcs properly
  src/Mod/Draft/draftgeoutils/fillets.py
  src/Mod/Draft/draftmake/make_fillet.py
Labels: WB Draft

#14761 BIM: ArchComponent Only counts planar surfaces as vertical areas
  src/Mod/BIM/ArchComponent.py
Labels: WB BIM

#14750 Draft: Add type check to Draft_Join
  src/Mod/Draft/draftguitools/gui_join.py
Labels: WB Draft

#14660 BIM: Fix Copy tool stealing copy mode
  src/Mod/BIM/bimcommands/BimCopy.py
Labels: WB BIM

#14661 BIM: IFC: Export non-solids as Breps
  src/Mod/BIM/importers/exportIFC.py
Labels: WB BIM

#14389 BIM: Added square and rectangular profiles to pipes
  src/Mod/BIM/Arch.py
  src/Mod/BIM/ArchPipe.py
Labels: WB BIM

#14754 [TD]fix weld symbol position
  src/Mod/TechDraw/Gui/QGIWeldSymbol.cpp
Labels: WB TechDraw

#14816 MSVC: Fix compiler warnings
  src/Mod/Assembly/Gui/CMakeLists.txt
  src/Mod/Assembly/Gui/PreCompiled.h
  src/Mod/CAM/PathSimulator/AppGL/EndMill.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureBase.cpp
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
  tests/src/Mod/Material/App/TestMaterials.cpp
  tests/src/Mod/Part/App/FeatureChamfer.cpp
  tests/src/Mod/Part/App/FeatureFillet.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB CAM, WB TechDraw, WB Assembly

#14813 Only adjust found element names
  src/Gui/SoFCUnifiedSelection.cpp
  src/Gui/View3DInventorSelection.cpp
Labels: Core

#14812 Fix Ubuntu 20.04 CI failing
  src/Mod/Assembly/CommandCreateBom.py
Labels: WB Spreadsheet, WB Assembly

#14753 Addon Manager: Remember scroll position on Back
  src/Mod/AddonManager/composite_view.py
Labels: Addon Manager

#14519 Fem: Remove selection observer - fixes #14001
  src/Mod/Fem/femguiutils/selection_widgets.py
  src/Mod/Fem/femtaskpanels/task_constraint_bodyheatsource.py
  src/Mod/Fem/femtaskpanels/task_constraint_centrif.py
  src/Mod/Fem/femtaskpanels/task_constraint_currentdensity.py
  src/Mod/Fem/femtaskpanels/task_constraint_electrostaticpotential.py
  src/Mod/Fem/femtaskpanels/task_constraint_flowvelocity.py
  src/Mod/Fem/femtaskpanels/task_constraint_initialflowvelocity.py
  src/Mod/Fem/femtaskpanels/task_constraint_initialpressure.py
  src/Mod/Fem/femtaskpanels/task_constraint_magnetization.py
  src/Mod/Fem/femtaskpanels/task_constraint_sectionprint.py
  src/Mod/Fem/femtaskpanels/task_constraint_tie.py
  src/Mod/Fem/femtaskpanels/task_element_fluid1D.py
  src/Mod/Fem/femtaskpanels/task_element_geometry1D.py
  src/Mod/Fem/femtaskpanels/task_element_geometry2D.py
  src/Mod/Fem/femtaskpanels/task_element_rotation1D.py
  src/Mod/Fem/femtaskpanels/task_material_common.py
  src/Mod/Fem/femtaskpanels/task_mesh_boundarylayer.py
  src/Mod/Fem/femtaskpanels/task_mesh_group.py
  src/Mod/Fem/femtaskpanels/task_mesh_region.py
Labels: WB FEM

#14835 Gui: Silence unused variable
  src/Gui/Tree.cpp
Labels: Core

#14814 Toolcreatebug
  src/Mod/CAM/Path/Tool/Gui/BitLibrary.py
Labels: WB CAM, WB Part Design

#14781 CAM: replace import of PySide2 with PySide
  src/Mod/CAM/Path/Main/Gui/SimulatorGL.py
Labels: WB CAM

#14771 Fem: Create own base class for Python objects - fixes #14637
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femobjects/base_femelement.py
  src/Mod/Fem/femobjects/base_femmeshelement.py
  src/Mod/Fem/femobjects/element_fluid1D.py
  src/Mod/Fem/femobjects/element_geometry1D.py
  src/Mod/Fem/femobjects/element_geometry2D.py
  src/Mod/Fem/femobjects/element_rotation1D.py
  src/Mod/Fem/femobjects/mesh_boundarylayer.py
  src/Mod/Fem/femobjects/mesh_group.py
  src/Mod/Fem/femobjects/mesh_region.py
  src/Mod/Fem/femviewprovider/view_base_femconstraint.py
  src/Mod/Fem/femviewprovider/view_base_femelement.py
  src/Mod/Fem/femviewprovider/view_base_femmaterial.py
  src/Mod/Fem/femviewprovider/view_base_femmeshelement.py
  src/Mod/Fem/femviewprovider/view_base_femobject.py
  src/Mod/Fem/femviewprovider/view_element_fluid1D.py
  src/Mod/Fem/femviewprovider/view_element_geometry1D.py
  src/Mod/Fem/femviewprovider/view_element_geometry2D.py
  src/Mod/Fem/femviewprovider/view_element_rotation1D.py
  src/Mod/Fem/femviewprovider/view_material_common.py
  src/Mod/Fem/femviewprovider/view_material_mechanicalnonlinear.py
  src/Mod/Fem/femviewprovider/view_material_reinforced.py
  src/Mod/Fem/femviewprovider/view_mesh_boundarylayer.py
  src/Mod/Fem/femviewprovider/view_mesh_group.py
  src/Mod/Fem/femviewprovider/view_mesh_region.py
Labels: WB FEM

#14854 Toponaming: Check for selection mapped element name
  src/Gui/SoFCUnifiedSelection.cpp
  src/Gui/View3DInventorSelection.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Core, WB Part Design

#14868 Sketcher: Rename OVP preference options
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
Labels: WB Sketcher

#14828 Draft: Remove Draft_Fillet chamfer recalculation
  src/Mod/Draft/draftgeoutils/fillets.py
Labels: WB Draft

#14859 Draft: remove code related to obsolete Std_MeasureDistance objects
  src/Mod/Draft/draftguitools/gui_dimensions.py
Labels: WB Draft

#14870 BIM: fix SwitchWB preference by switching to BIM WB
  src/Mod/BIM/Resources/ui/preferencesNativeIFC.ui
  src/Mod/BIM/nativeifc/ifc_import.py
Labels: WB BIM

#14387 BIM: Simplificed BimViews.getTreeViewItem
  src/Mod/BIM/bimcommands/BimViews.py
Labels: WB BIM

#14861 BIM: fix BIM_Setup unit system issue
  src/Mod/BIM/bimcommands/BimSetup.py
Labels: WB BIM

#14437 [Sketcher] Fix external edges selection
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#14079 Sketcher: BSpline DSH: implement OVP/widget
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/DrawSketchController.h
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSplineByInterpolation.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
Labels: WB Sketcher

#14252 [MOD:PART] removed unused parameter
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
Labels: WB Part Design, WB Part

#14733 Core: Tree: Remove mode that creates copy automatically.
  src/Gui/Tree.cpp
Labels: Core

#14031 PD: improve hole dialog layout
  src/Mod/PartDesign/Gui/TaskHoleParameters.ui
Labels: WB Part Design

#14386 Sketcher: Changes override draw style when entering sketch edit mode.
  src/Gui/View3DSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.ui
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Core, WB Sketcher

#14423 Fix the crash when closing a document
  src/Gui/Quarter/QuarterWidget.cpp
  src/Gui/Quarter/QuarterWidget.h
  src/Gui/View3DInventorViewer.h
Labels: Core
