Repository FreeCAD/FreeCAD, pull requests merged in 2024-11, with the labels that each got.

#17277 [TD]fix scaling of large hatch tiles (fix #17276)
  src/Mod/TechDraw/Gui/QGIFace.cpp
Labels: Mod: TechDraw

#17649 BIM: IFC explorer Qt 6 compatibility and other fixes
  src/Mod/BIM/bimcommands/BimIfcExplorer.py
  src/Mod/BIM/importers/importIFClegacy.py
Labels: Mod: BIM, Needs backport

#17592 BIM: Fix Ifc Spatial Element Default Composition Type should be 'Element'
  src/Mod/BIM/Arch.py
  src/Mod/BIM/ArchSite.py
  src/Mod/BIM/ArchSpace.py
Labels: Mod: BIM

#17559 BIM: Fixed case bug in library tool
  src/Mod/BIM/bimcommands/BimLibrary.py
Labels: Mod: BIM, Needs backport

#17567 Mat: Tmp. block signals of material widget
  src/Mod/Material/Gui/DlgDisplayPropertiesImp.cpp
  src/Mod/Material/Gui/DlgDisplayPropertiesImp.h
Labels: Mod: Materials, Needs backport

#17599 Materials: Disable editor right click menu
  src/Mod/Material/Gui/MaterialsEditor.cpp
Labels: Mod: Materials, Needs backport

#17410 macOS+win+qt6.4+: Hide classic and auto choose light or dark mode depending on os setting
  src/Mod/Start/Gui/CMakeLists.txt
  src/Mod/Start/Gui/PreCompiled.h
  src/Mod/Start/Gui/ThemeSelectorWidget.cpp
  src/Mod/Start/Gui/ThemeSelectorWidget.h
Labels: Needs backport

#17581 DAG: Add method hasRecord() and use it in Model::slotChangeObject
  src/Gui/DAGView/DAGModel.cpp
  src/Gui/DAGView/DAGModelGraph.cpp
  src/Gui/DAGView/DAGModelGraph.h
Labels: Mod: Core, Needs backport

#17639 Gui: Fix camera behavior when rotation center is far from object
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
Labels: Mod: Core, Needs backport

#17640 Safe mode message added as per #17580
  src/App/Application.cpp
Labels: Mod: Core, Needs backport

#17630 [TD]handle short&wide hatch area
  src/Mod/TechDraw/App/DrawGeomHatch.cpp
  src/Mod/TechDraw/App/DrawGeomHatch.h
Labels: Mod: TechDraw, Needs backport

#17653 [Part Booleans] fix issue with copying visuals when doing Part workbe…
  src/Mod/Part/BOPTools/BOPFeatures.py
Labels: Mod: Part, Needs backport

#17406 Assembly: Allow entering expressions in joint task panel
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly, Needs backport

#17609 Core: Don't freeze application if lock file already exists
  src/App/Application.cpp
  src/App/Application.h
  src/App/Document.cpp
  src/Gui/Application.cpp
  src/Gui/DocumentRecovery.cpp
Labels: Mod: Core, Needs backport

#17632 Fixes #17553
  src/App/Document.cpp
  src/App/Graphviz.cpp
  src/Mod/PartDesign/CMakeLists.txt
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
  src/Mod/PartDesign/PartDesignTests/TestSketch.py
  src/Mod/PartDesign/TestPartDesignApp.py
Labels: Mod: Core, Mod: Part Design, Needs backport

#17664 Assembly: Fix double click of joints error
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly, Needs backport

#17663 Assembly: Fix reverse button in joint task
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly, Needs backport

#17666 Fem: Print real-time log messages in mesher task panels - fixes #17594
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femmesh/netgentools.py
  src/Mod/Fem/femtaskpanels/base_femmeshtaskpanel.py
  src/Mod/Fem/femtaskpanels/task_mesh_gmsh.py
  src/Mod/Fem/femtaskpanels/task_mesh_netgen.py
Labels: Mod: FEM, Needs backport

#17676 BIM: Fix imports of Python importers
  src/Mod/BIM/ArchCommands.py
  src/Mod/BIM/OfflineRenderingUtils.py
  src/Mod/BIM/bimcommands/BimIfcExplorer.py
  src/Mod/BIM/bimcommands/BimLibrary.py
Labels: Mod: BIM

#17687 BIM: Fixed imports of IfcOpenShell 0.8
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/importers/exportIFCHelper.py
Labels: Mod: BIM, Needs backport

#17657 [Sketcher] Address issue #17629, where Attach sketch command allows s…
  src/Mod/Sketcher/Gui/Command.cpp
Labels: Mod: Sketcher, Needs backport

#17654 Fix excessive selection pruning in dae exporter for PartDesign Objects (#17529)
  src/Mod/BIM/ArchCommands.py
  src/Mod/BIM/importers/importDAE.py
  src/Mod/BIM/importers/importIFClegacy.py
  src/Mod/BIM/importers/importOBJ.py
Labels: Mod: BIM, Needs backport

#17562 FEM: Allow assigning materials to compounds to avoid having to assign the same material by hand to all subsolids
  src/Mod/Fem/femmesh/meshtools.py
  src/Mod/Fem/femtools/checksanalysis.py
Labels: Mod: FEM, Needs backport

#17693 PD: Fix default display mode of ViewProviderBoolean
  src/Mod/PartDesign/Gui/ViewProviderBoolean.cpp
  src/Mod/PartDesign/Gui/ViewProviderBoolean.h
Labels: Mod: Part Design, Needs backport

#17565 [Gui] Fix 100% CPU usage due to StartView
  src/Mod/Start/Gui/StartView.cpp
  src/Mod/Start/Gui/StartView.h
Labels: Needs backport

#17713 Core: Generate a static random number in Application::applicationPid()
  src/App/Application.cpp
  src/App/PreCompiled.h
Labels: Mod: Core, Needs backport

#17706 Import: Fix index error with legacy STEP export
  src/Mod/Import/App/ExportOCAF.cpp
Labels: Needs backport

#17681 Fem: Prevent race condition between signals in timer update
  src/Mod/Fem/femtaskpanels/base_femmeshtaskpanel.py
Labels: Mod: FEM, Needs backport

#17703 Draft: avoid race condition in todo code
  src/Mod/Draft/draftutils/todo.py
Labels: Mod: Draft

#17742 Fem: Fix exception if last step in Netgen mesher is geometry analysis
  src/Mod/Fem/femmesh/netgentools.py
  src/Mod/Fem/femobjects/mesh_netgen.py
Labels: Mod: FEM, Needs backport

#17751 Draft: Fix _param_observer_callback_scalemultiplier error
  src/Mod/Draft/draftutils/params.py
Labels: Mod: Draft, Needs backport

#17790 Draft: Fix Shape2DView finish bug
  src/Mod/Draft/draftguitools/gui_shape2dview.py
Labels: Mod: Draft, Needs backport

#17496 ArchWall : Bug Fix Length Property Accuracy Problem
  src/Mod/BIM/ArchWall.py
  src/Mod/Draft/draftgeoutils/intersections.py
  src/Mod/Draft/draftgeoutils/offsets.py
Labels: Mod: BIM, Mod: Draft, Needs backport

#17325 Backport PR #17119 into 1.0
  src/Mod/Part/App/AppPart.cpp
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/App/CrossSection.cpp
  src/Mod/Part/App/ExtrusionHelper.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.h
  src/Mod/Part/App/FCBRepAlgoAPI_Common.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_Common.h
  src/Mod/Part/App/FCBRepAlgoAPI_Cut.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_Cut.h
  src/Mod/Part/App/FCBRepAlgoAPI_Fuse.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_Fuse.h
  src/Mod/Part/App/FCBRepAlgoAPI_Section.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_Section.h
  src/Mod/Part/App/FeaturePartBoolean.cpp
  src/Mod/Part/App/FeaturePartBoolean.h
  src/Mod/Part/App/FeaturePartCommon.cpp
  src/Mod/Part/App/FeaturePartCut.cpp
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/Part/App/FeaturePartSection.cpp
  src/Mod/Part/App/FuzzyHelper.cpp
  src/Mod/Part/App/FuzzyHelper.h
  src/Mod/Part/App/OpenCascadeAll.h
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
  src/Mod/Part/App/PropertyTopoShape.h
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Part/Gui/DlgSettingsGeneral.cpp
  src/Mod/Part/Gui/DlgSettingsGeneral.ui
  src/Mod/PartDesign/App/FeatureBoolean.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  src/Mod/Sketcher/App/PreCompiled.h
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/TechDraw/App/DrawBrokenView.cpp
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawGeomHatch.cpp
  src/Mod/TechDraw/App/DrawProjectSplit.cpp
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/ShapeExtractor.cpp
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/FuzzyBoolean.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/brepfiles/cylinder1.brep
  tests/src/Mod/Part/App/brepfiles/helix1.brep
Labels: Mod: TechDraw, Mod: Part Design, Mod: Part, Mod: Sketcher

#17356 increase tolerance on helical shapes to avoid crash / broken geometry
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHelix.h
  src/Mod/PartDesign/PartDesignTests/TestHelix.py
Labels: Mod: Part Design, Mod: Part, Needs backport

#17469 Part: bugfix #17468 recursively unpack compounds for boolean fuse
  src/Mod/Part/App/FeaturePartFuse.cpp
  src/Mod/Part/Gui/Command.cpp
  tests/src/Mod/Part/App/FeaturePartFuse.cpp
Labels: Mod: Part, Needs backport

#17782 Unhandled std exception dragging Cylindrical joint
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.h
Labels: Mod: Core, Mod: Assembly, Needs backport

#17778 Fem: Use new material editor in materials task panels - fixes #16814
  src/Mod/Fem/Gui/Resources/ui/Material.ui
  src/Mod/Fem/femobjects/material_common.py
  src/Mod/Fem/femtaskpanels/task_material_common.py
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
Labels: Mod: FEM, Mod: Materials, Needs backport

#17655 CAM: Fix CW/CCW to Climb/Conventional rename
  src/Mod/CAM/CAMTests/Fixtures/OpHelix_v0-21.FCStd
  src/Mod/CAM/CAMTests/PathTestUtils.py
  src/Mod/CAM/CAMTests/TestPathDressupDogbone.py
  src/Mod/CAM/CAMTests/TestPathGeom.py
  src/Mod/CAM/CAMTests/TestPathHelix.py
  src/Mod/CAM/CAMTests/TestPathHelixGenerator.py
  src/Mod/CAM/CAMTests/TestPathProfile.py
  src/Mod/CAM/CMakeLists.txt
  src/Mod/CAM/Gui/Resources/panels/PageOpDeburrEdit.ui
  src/Mod/CAM/Gui/Resources/panels/PageOpHelixEdit.ui
  src/Mod/CAM/Path/Base/Generator/helix.py
  src/Mod/CAM/Path/Dressup/Gui/LeadInOut.py
  src/Mod/CAM/Path/Geom.py
  src/Mod/CAM/Path/Op/Area.py
  src/Mod/CAM/Path/Op/Deburr.py
  src/Mod/CAM/Path/Op/Gui/Helix.py
  src/Mod/CAM/Path/Op/Helix.py
  src/Mod/CAM/Path/Op/PocketBase.py
  src/Mod/CAM/Path/Op/Profile.py
  src/Mod/CAM/Path/Post/scripts/heidenhain_post.py
  src/Mod/CAM/TestCAMApp.py
Labels: Mod: CAM

#16017 Update dxf.cpp with missing new line character
  src/Mod/Import/App/dxf/dxf.cpp
Labels: File format: DXF

#17701 Measure: Fix quickmeasure problem with Part::Line objects
  src/Mod/Measure/App/Measurement.cpp
Labels: Mod: Measurement

#16522 fix(PD): initialization of thread class and fit
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
Labels: Mod: Part Design

#16427 DependencyGraph: Tweak dot flags to prevent overlaped edges
  src/Gui/GraphvizView.cpp
Labels: Mod: Core

#16923 Core: QuantitySpinbox: Reduce minimum width.
  src/Gui/QuantitySpinBox.cpp
  src/Gui/QuantitySpinBox.h
Labels: Mod: Core

#17794 Gui: extend version info to specify flatpak and conda builds
  src/Gui/CMakeLists.txt
  src/Gui/Splashscreen.cpp
Labels: Mod: Core, Needs backport

#17707 PD: Add test case for #17184
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part Design, Needs backport

#16813 Core: Remove unecessary ':' cluttering Placement.ui
  src/Gui/Placement.ui
Labels: Mod: Core

#17758 Draft: Fix AnnotationStyleEditor delete last style error
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
Labels: Mod: Draft

#17766 [ArchCurtainWall] Bug-fix Sketch as Base
  src/Mod/BIM/ArchCurtainWall.py
Labels: Mod: BIM

#17838 Coverity scan: Uninitialized scalar variable
  src/Mod/Assembly/Gui/ViewProviderAssembly.h
  src/Mod/CAM/libarea/Adaptive.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
Labels: Mod: CAM, Mod: Sketcher, Mod: Assembly

#15188 Fix enabling/disabling notificationWidth
  src/Gui/PreferencePages/DlgSettingsNotificationArea.cpp
Labels: Mod: Core

#15415 FEM: FEM_CreateElementsSet menu text in sentence case
  src/Mod/Fem/Gui/Command.cpp
Labels: Mod: FEM, Topic: User Interface

#15338 Replace inconsistent Color per face with Appearance per face
  src/Mod/Part/Gui/Command.cpp
Labels: Mod: Part

#15556 Add Ctrl+{B,I,U} to Spreadsheet; remap File/Import
  src/Gui/CommandDoc.cpp
  src/Mod/Spreadsheet/Gui/Command.cpp
Labels: Mod: Core, Mod: Spreadsheet

#15536 Add shortcut: Ctrl+,: Preferences
  src/Gui/CommandStd.cpp
Labels: Mod: Core, Topic: Shortcut, Topic: Preferences

#15601 Remove xpmMap from BitmapFactory
  src/Gui/BitmapFactory.cpp
  src/Gui/BitmapFactory.h
Labels: Mod: Core

#15440 Draft: Implement unhandled svg text rotation
  src/Mod/Draft/draftfunctions/svgtext.py
Labels: Mod: Draft

#15184 [Sketcher] (Post 1.0) Assist user in finding the sketch with either of the following errors...
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#15229 [Base] [Post 1.0] Give constructive user feedback on failing to read StringHasherTable
  src/Base/Reader.cpp
Labels: Mod: Core

#15986 Core: Extend Color API
  src/App/Color.cpp
  src/App/Color.h
  src/App/ColorModel.h
  src/App/Part.cpp
  src/App/PropertyStandard.h
  src/Gui/TaskElementColors.cpp
  src/Gui/Tools/color_traits.h
  src/Mod/Mesh/App/Core/MeshIO.cpp
  src/Mod/Mesh/Gui/ViewProviderCurvature.cpp
  src/Mod/Part/Gui/ViewProvider.cpp
  src/Mod/Test/Document.py
  tests/src/App/Color.cpp
Labels: Mod: Core, Mod: Mesh

#16535 [TD] Translation fixes (fix #317 fix #335)
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/TaskSectionView.cpp
Labels: Mod: TechDraw

#15957 TechDraw: Fix capitalization of 2D and 3D
  src/Gui/CommandDoc.cpp
  src/Gui/PreferencePages/DlgSettingsMacro.ui
  src/Gui/SelectionView.cpp
  src/Gui/TextureMapping.cpp
  src/Mod/AddonManager/AddonManagerOptions.ui
  src/Mod/AddonManager/addonmanager_git.py
  src/Mod/AddonManager/addonmanager_workers_startup.py
  src/Mod/CAM/Gui/Resources/panels/DlgJobTemplateExport.ui
  src/Mod/CAM/Gui/Resources/panels/DressupPathBoundary.ui
  src/Mod/CAM/Gui/Resources/panels/PageBaseGeometryEdit.ui
  src/Mod/CAM/Gui/Resources/panels/PageBaseHoleGeometryEdit.ui
  src/Mod/CAM/Gui/Resources/panels/PageOpProfileFullEdit.ui
  src/Mod/CAM/Gui/Resources/panels/PageOpVcarveEdit.ui
  src/Mod/CAM/Gui/Resources/panels/PathEdit.ui
  src/Mod/Draft/Resources/ui/TaskShapeString.ui
  src/Mod/Draft/Resources/ui/preferences-draftinterface.ui
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
  src/Mod/OpenSCAD/importCSG.py
  src/Mod/Part/Gui/DlgExtrusion.ui
  src/Mod/Part/Gui/TaskSweep.cpp
  src/Mod/Sketcher/Gui/TaskSketcherValidation.cpp
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawColors.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneral.ui
  src/Mod/TechDraw/Gui/TaskActiveView.ui
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.ui
  src/Mod/TechDraw/Gui/TaskCosmeticLine.ui
  src/Mod/TechDraw/Gui/TaskDimension.ui
Labels: Mod: TechDraw, Mod: OpenSCAD

#16602 Fem: Minor change to MeshGmsh task panel and renaming mesh properties group
  src/Mod/Fem/Gui/Resources/ui/MeshGmsh.ui
  src/Mod/Fem/Gui/Resources/ui/MeshNetgen.ui
  src/Mod/Fem/femobjects/mesh_gmsh.py
Labels: Mod: FEM

#17077 [Gui] Vertically center method icon in calltips
  src/Gui/Icons/ClassBrowser/method.png
  src/Gui/Icons/ClassBrowser/method.svg
Labels: Mod: Core

#17449 Moved items in the Help menubar
  src/Gui/Workbench.cpp
  src/Mod/Start/Gui/Manipulator.cpp
Labels: Mod: Core

#17674 Reword error log to be more verbose
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly

#17450 Modified text of all items on help menu
  src/Gui/CommandStd.cpp
  src/Gui/OnlineDocumentation.cpp
  src/Mod/Start/Gui/Manipulator.cpp
Labels: Mod: Core

#17296 Fix various typos
  src/Gui/Icons/Std_DemoMode.svg
  src/Gui/PreferencePages/DlgSettingsUI.ui
  src/Gui/Stylesheets/images_classic/icons classic.svg
  src/Mod/AddonManager/package_list.py
  src/Mod/CAM/CAMTests/TestPathPost.py
  src/Mod/CAM/Path/Op/Drilling.py
  src/Mod/CAM/Path/Tool/Gui/BitEdit.py
  src/Mod/Measure/Gui/ViewProviderMeasureDistance.cpp
  src/Mod/MeshPart/App/MeshFlatteningLscmRelax.cpp
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/FeatureExtrusion.h
  src/Mod/Part/App/FeatureRevolution.h
  src/Mod/Part/BOPTools/GeneralFuseResult.py
  src/Mod/Start/README.md
  src/Mod/TechDraw/App/CosmeticExtension.cpp
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
Labels: Mod: Core, Mod: CAM, Mod: TechDraw, Mod: Part, Mod: Addon Manager, Topic: Stylesheets, Mod: MeshPart, Mod: Measurement

#17637 Reword rigid/flexible sub-assemblies tooltip.
  src/Mod/Assembly/Gui/Resources/panels/TaskAssemblyInsertLink.ui
Labels: Mod: Assembly

#17896 Fem: Adapt FemPostObject transparency to changes made in #ffa3fa5b5a
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
Labels: Mod: FEM

#17910 Fem: Set mesher task panel log text to read-only
  src/Mod/Fem/Gui/Resources/ui/MeshGmsh.ui
  src/Mod/Fem/Gui/Resources/ui/MeshNetgen.ui
Labels: Mod: FEM

#17715 Draft: Fix extra_scale error in hatch.py
  src/Mod/Draft/draftobjects/hatch.py
Labels: Mod: Draft

#17793 Draft: minor fixes
  src/Mod/Draft/draftobjects/shape2dview.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
Labels: Mod: Draft

#17819 [Draft] add font path relative
  src/Mod/Draft/draftobjects/shapestring.py
Labels: Mod: Draft

#17886 Draft: fix tray construction mode button for Light and Dark themes
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft

#17310 BIM: Optimized leader UI
  src/Mod/BIM/bimcommands/BimLeader.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_splines.py
Labels: Mod: BIM, Mod: Draft

#17912 Core: Fix flaw in XMLReader class
  src/App/Document.cpp
  src/App/private/DocumentP.h
  src/Base/Reader.cpp
  src/Base/Reader.h
Labels: Mod: Core

#17878 BIM: Fixed image loading of the tutorial
  src/Mod/BIM/bimcommands/BimTutorial.py
Labels: Mod: BIM, Needs backport

#16645 Addon Manager: Show involved branches' names on branch change operation
  src/Mod/AddonManager/addonmanager_package_details_controller.py
  src/Mod/AddonManager/change_branch.py
Labels: Mod: Addon Manager

#16667 Addon Manager: Show repository URL if it exists on the metadata
  src/Mod/AddonManager/Widgets/addonmanager_widget_package_details_view.py
  src/Mod/AddonManager/addonmanager_metadata.py
  src/Mod/AddonManager/addonmanager_package_details_controller.py
Labels: Mod: Addon Manager

#16296 Spreadsheet: Double click separator/handle to resize column to content
  src/Mod/Spreadsheet/Gui/SpreadsheetDelegate.cpp
  src/Mod/Spreadsheet/Gui/SpreadsheetDelegate.h
Labels: Mod: Spreadsheet

#17938 Assembly: fix drag problem with fixed joints
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.h
Labels: Priority: High, Mod: Assembly, Needs backport

#16508 [Mod] clean FemMesh.cpp
  src/Mod/Fem/App/FemMesh.cpp
Labels: Mod: FEM, Coding: Refactor

#16992 [cmake] clean InitializeFreeCADBuildOptions.cmake
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
Labels: Packaging/building

#17039 Sketcher: refactor, drop return in void returning functions
  src/Mod/Sketcher/App/GeometryFacade.cpp
Labels: Mod: Sketcher

#16504 [TechDraw] Return logic simplification
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/CosmeticExtension.cpp
  src/Mod/TechDraw/App/DrawBrokenView.cpp
  src/Mod/TechDraw/App/HatchLine.cpp
  src/Mod/TechDraw/App/LineGenerator.cpp
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/ShapeExtractor.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/QGILeaderLine.cpp
  src/Mod/TechDraw/Gui/QGIRichAnno.cpp
  src/Mod/TechDraw/Gui/QGTracker.cpp
Labels: Mod: TechDraw, Coding: Refactor

#18048 Mesh: Fix linter warnings
  src/Mod/Mesh/Gui/SoFCIndexedFaceSet.cpp
Labels: Mod: Mesh

#18034 App: Apply clang format (part 2)
  src/App/Color.cpp
  src/App/Color.h
  src/App/ColorModel.cpp
  src/App/ColorModel.h
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
  src/App/Document.cpp
  src/App/Document.h
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
  src/App/ExpressionParser.h
  src/App/ExpressionTokenizer.cpp
  src/App/ExpressionTokenizer.h
  src/App/ExpressionVisitors.h
  src/App/FeatureTest.cpp
  src/App/FeatureTest.h
  src/App/GeoFeature.cpp
  src/App/GeoFeature.h
  src/App/Link.cpp
  src/App/Link.h
  src/App/LinkBaseExtensionPyImp.cpp
  src/App/LinkParams.py
  src/App/Metadata.h
  src/App/ObjectIdentifier.cpp
  src/App/ObjectIdentifier.h
  src/App/Property.cpp
  src/App/Property.h
  src/App/PropertyContainerPy.xml
  src/App/PropertyContainerPyImp.cpp
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyExpressionEngine.h
  src/App/PropertyFile.cpp
  src/App/PropertyFile.h
  src/App/PropertyGeo.cpp
  src/App/PropertyGeo.h
  src/App/PropertyLinks.cpp
  src/App/PropertyLinks.h
  src/App/PropertyPythonObject.cpp
  src/App/PropertyPythonObject.h
  src/App/PropertyStandard.cpp
  src/App/PropertyStandard.h
  src/App/PropertyUnits.cpp
  src/App/PropertyUnits.h
  src/App/private/DocumentP.h
Labels: Mod: Core

#18059 Update PROBLEM_REPORT.yml
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
Labels: :octocat:

#15088 PD: Fix convoluted event handling of dress-up task boxes
  src/Mod/PartDesign/Gui/TaskChamferParameters.cpp
  src/Mod/PartDesign/Gui/TaskChamferParameters.h
  src/Mod/PartDesign/Gui/TaskDraftParameters.cpp
  src/Mod/PartDesign/Gui/TaskDraftParameters.h
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.h
  src/Mod/PartDesign/Gui/TaskFilletParameters.cpp
  src/Mod/PartDesign/Gui/TaskFilletParameters.h
  src/Mod/PartDesign/Gui/TaskThicknessParameters.cpp
  src/Mod/PartDesign/Gui/TaskThicknessParameters.h
Labels: Mod: Part Design

#18066 MSVC: Fix compiler warnings
  src/Gui/NavigationStyle.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Core, Mod: Part Design, Mod: Sketcher

#17969 Core: Fix dangling pointer in SoFCUnifiedSelection::setSelection
  src/Gui/SoFCUnifiedSelection.cpp
Labels: Mod: Core, Needs backport

#17091 Add help message about customizing BOM export file format in Assembly workbench
  src/Mod/Assembly/CommandCreateBom.py
Labels: Mod: Assembly

#15195 [ArchWall] Bug-fix import ArchSketchObject & add ArchSketchEdges groundwork
  src/Mod/Assembly/CommandCreateBom.py
Labels: Mod: BIM

#17003 Improve/fix debian docker build
  tools/build/Docker/Dockerfile.Debian
  tools/build/Docker/README.rst
  tools/build/Docker/debian.sh
Labels: Packaging/building

#16948 BIM: Support for additions/subtractions in NativeIFC
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: Mod: BIM, File format: IFC

#17258 [PartDesign] change claimChildren() function to include all profile o…
  src/Mod/PartDesign/Gui/ViewProviderSketchBased.cpp
Labels: Mod: Part Design

#17407 Clean FindKDL.cmake
  cMake/FindKDL.cmake
Labels: Packaging/building

#17520 PD: Cleanup code of TaskRevolutionParameters
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.h
Labels: Mod: Part Design

#17480 Gui: Improve localization support in VarSet dialog
  src/Gui/DlgAddPropertyVarSet.cpp
  src/Gui/DlgAddPropertyVarSet.h
Labels: Mod: Core

#17534 Gui: Add overloaded function Document::openEditingView3D(const App::D…
  src/Gui/Document.cpp
  src/Gui/Document.h
Labels: Mod: Core

#17170 Fem: Add local refinement and second order linear for Netgen meshing
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femmesh/netgentools.py
  src/Mod/Fem/femobjects/mesh_netgen.py
  src/Mod/Fem/femviewprovider/view_mesh_netgen.py
Labels: Mod: FEM

#16805 Gui: Remove newline from dialog string
  src/Gui/DlgAddPropertyVarSet.cpp
Labels: Mod: Core

#17866 Assembly: Pressing Esc while a task is active will not escape edit mode
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Topic: Shortcut, Mod: Assembly

#15307 Repair XML Files - fixes #10730
  src/Mod/Part/App/Geom2d/ArcOfCircle2dPy.xml
  src/Mod/Part/App/Geom2d/ArcOfConic2dPy.xml
  src/Mod/Part/App/Geom2d/ArcOfEllipse2dPy.xml
  src/Mod/Part/App/Geom2d/ArcOfHyperbola2dPy.xml
  src/Mod/Part/App/Geom2d/ArcOfParabola2dPy.xml
  src/Mod/Part/App/Geom2d/BSplineCurve2dPy.xml
  src/Mod/Part/App/Geom2d/BezierCurve2dPy.xml
  src/Mod/Part/App/Geom2d/Circle2dPy.xml
  src/Mod/Part/App/Geom2d/Conic2dPy.xml
  src/Mod/Part/App/Geom2d/Curve2dPy.xml
  src/Mod/Part/App/Geom2d/Ellipse2dPy.xml
  src/Mod/Part/App/Geom2d/Geometry2dPy.xml
  src/Mod/Part/App/Geom2d/Hyperbola2dPy.xml
  src/Mod/Part/App/Geom2d/Line2dPy.xml
  src/Mod/Part/App/Geom2d/Line2dSegmentPy.xml
  src/Mod/Part/App/Geom2d/Parabola2dPy.xml
Labels: Mod: Part

#15855 Gui: improve performance of macro execution and fix time measurement
  src/Gui/PythonTracing.cpp
Labels: Mod: Core

#17631 [Part CheckGeometry] add results entry for valid shapes without any e…
  src/Mod/Part/BasicShapes/ShapeContent.py
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
  src/Mod/Part/Gui/TaskCheckGeometry.h
Labels: Mod: Part

#17699 Fem: Add preference entry to set Gmsh log verbosity - fixes #17673
  src/Mod/Fem/Gui/DlgSettingsFemGmsh.ui
  src/Mod/Fem/Gui/DlgSettingsFemGmshImp.cpp
  src/Mod/Fem/Gui/DlgSettingsFemGmshImp.h
  src/Mod/Fem/femmesh/gmshtools.py
Labels: Mod: FEM

#17837 Fem: Avoid legacy Netgen meshing if there is no referenced shape - fixes #17814
  src/Mod/Fem/App/FemMeshShapeNetgenObject.cpp
Labels: Mod: FEM

#18087 App: Set PropertyColor to opaque by default
  src/App/PropertyStandard.h
Labels: Mod: Core

#18042 BIM: Fix calculation of fence sections
  src/Mod/BIM/ArchFence.py
Labels: Mod: BIM, Needs backport

#17970 Draft: minor improvements for gui_edit.py
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: Mod: Draft

#17854 BIM+Draft: Bring back human figure
  src/Mod/BIM/Resources/create_qrc.py
  src/Mod/BIM/Resources/geometry/HumanFigure.brep
  src/Mod/BIM/bimcommands/BimProjectManager.py
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: Mod: BIM, Mod: Draft, Needs backport

#18063 [Draft Gui_Stretch] Improve Stretch Rectangle Behaviour
  src/Mod/Draft/draftguitools/gui_stretch.py
Labels: Mod: Draft

#16007 [Part] [Post 1.0] Preferences > Shape view > Maximum angle deflection warn user...
  src/Mod/Part/Gui/DlgSettings3DViewPartImp.cpp
  src/Mod/Part/Gui/DlgSettings3DViewPartImp.h
Labels: Mod: Part

#17615 Sketcher: Offset & tranforms: enable external geos input.
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
Labels: Mod: Sketcher

#17438 Materials: Physical property attributes
  src/Mod/Material/App/MaterialFilter.cpp
  src/Mod/Material/App/MaterialFilter.h
  src/Mod/Material/App/Materials.cpp
  src/Mod/Material/App/Materials.h
  src/Mod/Material/Gui/DlgMaterialImp.cpp
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
Labels: Mod: Part, Mod: Materials

#17870 BIM: Replace use of ArchWorkbench in ArchSelectionObserver
  src/Mod/BIM/ArchComponent.py
Labels: Mod: BIM, Needs backport

#17859 Fem: Check empty remaining femelements array - fixes #17570
  src/Mod/Fem/femmesh/meshtools.py
Labels: Mod: FEM

#14362 Fem: Fix deprecated import style
  src/Mod/Fem/femguiutils/migrate_gui.py
  src/Mod/Fem/femtools/migrate_app.py
Labels: Mod: FEM

#17908 Part: Fix alpha <> transparency conversion
  src/Mod/Import/TestImportGui.py
  src/Mod/Material/materialtests/TestMaterialDocument.py
  src/Mod/Part/Gui/ViewProviderPartExtPyImp.cpp
  src/Mod/Part/parttests/ColorPerFaceTest.py
Labels: Mod: Part

#16586 Add options to disable addons
  src/App/Application.cpp
  src/App/FreeCADInit.py
  src/Gui/FreeCADGuiInit.py
Labels: Mod: Core

#17941 Assembly: Fix joints not being deleted when subassembly is deleted.
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Mod: Assembly, Needs backport

#17945 Draft: Allow selection of subelements for Draft_Fillet
  src/Mod/Draft/draftgeoutils/fillets.py
  src/Mod/Draft/draftguitools/gui_fillets.py
Labels: Mod: Draft

#17954 Core: Do not detach object from document before the call of breakDepe…
  src/App/Document.cpp
Labels: Mod: Core, Needs backport

#15161 Sketcher: ViewProviderSketch remove unecessary updateColor and applyCursor
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Sketcher, Coding: Refactor

#17312 [Feature] Sketcher infinite axes
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManager.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: Mod: Core, Mod: Sketcher

#17493 Assembly: Refactor get/setDraggerPlacement
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Mod: Assembly

#17696 Change button text to confirm copy.
  src/Gui/DlgAbout.cpp
Labels: Mod: Core

#18127 Core: Core datum: Card 3: GetGlobalPlacement issue
  src/App/GeoFeature.cpp
Labels: Mod: Core

#18117 Fixes to Mesh: WildMagic4 to build on Windows MSVC++
  src/Mod/Mesh/App/WildMagic4/Wm4TRational.inl
Labels: Mod: Mesh

#18116 App: Reduce BOOST_VERSION workaround to fix boost symbol linker error on Win-Qt5.
  src/App/Application.cpp
Labels: Mod: Core

#18068 Core: Fix unicode path names under Windows
  src/Gui/PreferencePackManager.cpp
Labels: Mod: Core, Needs backport

#18118 CMake: Add missing target_link_directories() for OCCT.
  src/Mod/Assembly/Gui/CMakeLists.txt
  tests/src/Mod/Assembly/CMakeLists.txt
  tests/src/Mod/Material/CMakeLists.txt
  tests/src/Mod/Measure/CMakeLists.txt
  tests/src/Mod/Mesh/CMakeLists.txt
  tests/src/Mod/MeshPart/CMakeLists.txt
  tests/src/Mod/Part/CMakeLists.txt
  tests/src/Mod/PartDesign/CMakeLists.txt
  tests/src/Mod/Points/CMakeLists.txt
  tests/src/Mod/Sketcher/CMakeLists.txt
Labels: Mod: Assembly

#17660 Gui: take in account module-path argument
  src/Gui/DlgPreferencePackManagementImp.cpp
  src/Gui/PreferencePackManager.cpp
  src/Gui/PreferencePackManager.h
Labels: Mod: Core, Topic: CLI

#18157 Gui: Refactor PreferencePackManager & DlgPreferencePackManagementImp
  src/Gui/DlgPreferencePackManagementImp.cpp
  src/Gui/DlgPreferencePackManagementImp.h
  src/Gui/PreferencePackManager.cpp
  src/Gui/PreferencePackManager.h
Labels: Mod: Core

#17330 PD: Avoid touching the document when opening pad or pocket dialog
  src/Mod/PartDesign/Gui/TaskDressUpParameters.cpp
  src/Mod/PartDesign/Gui/TaskDressUpParameters.h
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
Labels: Mod: Part Design

#17760 Gui: Fixes #16637: Can no longer set transparency of Link faces
  src/Gui/TaskElementColors.cpp
Labels: Mod: Core

#18158 Gui: Allow to override onBeforeChange in view objects
  src/Gui/ViewProviderFeaturePython.cpp
  src/Gui/ViewProviderFeaturePython.h
Labels: Mod: Core

#18162 Gui: Add a new display mode for image without shading
  src/Gui/ViewProviderImagePlane.cpp
Labels: Mod: Core

#18166 Gui: Support of converting 64-bit images
  src/Gui/BitmapFactory.cpp
Labels: Mod: Core

#18061 App: Apply clang format (part 3)
  src/App/Application.h
  src/App/DynamicProperty.h
  src/App/Expression.h
  src/App/Extension.cpp
  src/App/Extension.h
  src/App/PropertyContainer.h
Labels: Mod: Core

#18057 [ArchWall] Variant PropertrySet Support in ArchSketch
  src/Mod/BIM/ArchWall.py
Labels: Mod: BIM

#18172 Draft: Sort AutoGroup dropdown menu alphabetically
  src/Mod/Draft/draftguitools/gui_groups.py
Labels: Mod: Draft

#18175 Draft: fix handling of Links in TD DraftViews
  src/Mod/Draft/draftfunctions/svg.py
Labels: Mod: Draft

#18167 Draft: Draft_Split: apply original view props to split off object
  src/Mod/Draft/draftfunctions/split.py
  src/Mod/Draft/draftguitools/gui_split.py
Labels: Mod: Draft

#18123 Draft: fix color of arrays
  src/Mod/Draft/draftviewproviders/view_array.py
Labels: Mod: Draft, Needs backport

#17923 Gui: use utf-8 encoding for saving recorded macros
  src/Gui/Macro.cpp
Labels: Mod: Core

#18164 Draft: Fix cursor scaling for xcb platform
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: Mod: Draft, Needs backport

#18039 PartDesign: Fix newSketch not working when editing a body an external file
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
Labels: Mod: Part Design
