Repository FreeCAD/FreeCAD, pull requests merged in 2024-03, with the labels that each got.

#12676 Part: Add BRepOffsetAPI_MakeEvolved.hxx to OpenCascadeAll.h
  src/Mod/Part/App/OpenCascadeAll.h
Labels: WB Part

#12677 Part: Add BRepOffsetAPI_MakeFilling.hxx to OpenCascadeAll.h
  src/Mod/Part/App/OpenCascadeAll.h
Labels: WB Part

#12562 FEM CalculiX 2D mechanical analyses (plane stress, plane strain and axisymmetric)
  src/Mod/Fem/femmesh/meshtools.py
  src/Mod/Fem/femsolver/calculix/solver.py
  src/Mod/Fem/femsolver/calculix/write_femelement_geometry.py
  src/Mod/Fem/femsolver/calculix/write_mesh.py
Labels: WB FEM

#12718 About info: remove code block quotes / copy plain text
  src/Gui/Splashscreen.cpp
Labels: Core

#12741 Gui: Enable SoModelMatrixElement
  src/Gui/SoFCUnifiedSelection.cpp
Labels: Core

#12739 Draft: Translate annotation styles editor
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
Labels: WB Draft

#12734 PD: Translate wire not closed exception
  src/Mod/Part/App/FaceMakerBullseye.cpp
Labels: WB Part

#12745 Draft: applyConstructionStyle was missing in params.py
  src/Mod/Draft/draftutils/params.py
Labels: WB Draft

#12711 Path: fix error in Tag dressup when adding a point.
  src/Mod/Path/Path/Base/Gui/GetPoint.py
Labels: WB Path

#12693 Addon Manager: Refactor primary view and enable composite
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/TODO.md
  src/Mod/AddonManager/Widgets/addonmanager_widget_addon_buttons.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_package_details_view.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_readme_browser.py
  src/Mod/AddonManager/Widgets/addonmanager_widget_view_selector.py
  src/Mod/AddonManager/addonmanager_git.py
  src/Mod/AddonManager/addonmanager_package_details_controller.py
  src/Mod/AddonManager/addonmanager_preferences_defaults.json
  src/Mod/AddonManager/composite_view.py
  src/Mod/AddonManager/package_list.py
Labels: Addon Manager

#12205 Gui: Add easing to navigation animations
  src/Gui/NavigationAnimation.cpp
  src/Gui/NavigationAnimation.h
  src/Gui/PreferencePackTemplates/View.cfg
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
  src/Gui/View3DInventorViewer.cpp
Labels: Core

#12580 Introduce object freeze
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
  src/Gui/CommandFeat.cpp
  src/Gui/Icons/Std_ToggleFreeze.svg
  src/Gui/Icons/resource.qrc
  src/Gui/Tree.cpp
  src/Gui/Workbench.cpp
Labels: Core

#12607 Sketcher: Improve Join Curves
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.h
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Sketcher/App/planegcs/GCS.h
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
Labels: WB Sketcher

#12646 Elmer FEM 2D electromagnetic examples fix
  src/Mod/Fem/femexamples/equation_magnetodynamics_2D_elmer.py
  src/Mod/Fem/femexamples/equation_magnetostatics_2D_elmer.py
Labels: WB FEM

#12652 Add G43 tool height compensation to centroid post
  src/Mod/Path/Path/Post/scripts/centroid_post.py
  src/Mod/Path/PathTests/TestCentroidPost.py
Labels: WB Path

#12660 Gui: Set rotation center when entering dragging in TinkerCAD style
  src/Gui/TinkerCADNavigationStyle.cpp
Labels: Core

#12661 PATH: Fix adaptive glitch by removing coincident points
  src/Mod/Path/libarea/Adaptive.cpp
Labels: WB Path

#12666 FEM CalculiX isotropic and kinematic hardening
  src/Mod/Fem/femobjects/material_mechanicalnonlinear.py
  src/Mod/Fem/femsolver/calculix/write_femelement_material.py
Labels: WB FEM

#12694 Part/Toponaming: Transfer Part::Feature::create()
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
  tests/src/Mod/Part/App/PartFeature.cpp
Labels: WB Part

#12703 Remove the need to include geometrical nonlinearity when nonlinear material is used in CalculiX FEM
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femtools/checksanalysis.py
Labels: WB FEM

#12704 [Sketcher] Add description of colinear function to Sketcher_ConstrainTangent
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: WB Sketcher

#12714 Part: Rename AttachExtension::Support property - fixes #7052
  src/Mod/Arch/ArchCommands.py
  src/Mod/Arch/ArchRebar.py
  src/Mod/Arch/ArchWindow.py
  src/Mod/Arch/TestArch.py
  src/Mod/Draft/draftmake/make_bezcurve.py
  src/Mod/Draft/draftmake/make_bspline.py
  src/Mod/Draft/draftmake/make_circle.py
  src/Mod/Draft/draftmake/make_ellipse.py
  src/Mod/Draft/draftmake/make_polygon.py
  src/Mod/Draft/draftmake/make_rectangle.py
  src/Mod/Draft/draftmake/make_wire.py
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
  src/Mod/Draft/drafttests/test_modification.py
  src/Mod/Fem/femexamples/equation_deformation_spring_elmer.py
  src/Mod/Fem/femexamples/equation_electrostatics_electricforce_elmer_nongui6.py
  src/Mod/Part/App/AttachEnginePyImp.cpp
  src/Mod/Part/App/AttachExtension.cpp
  src/Mod/Part/App/AttachExtension.h
  src/Mod/Part/App/AttachExtensionPy.xml
  src/Mod/Part/App/Attacher.h
  src/Mod/Part/App/DatumFeature.cpp
  src/Mod/Part/App/DatumFeature.h
  src/Mod/Part/App/Part2DObject.cpp
  src/Mod/Part/App/Part2DObject.h
  src/Mod/Part/App/PrimitiveFeature.cpp
  src/Mod/Part/App/PrimitiveFeature.h
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/Part/Gui/ViewProviderAttachExtension.cpp
  src/Mod/Part/Gui/ViewProviderGridExtension.cpp
  src/Mod/PartDesign/App/DatumLine.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.h
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/CommandBody.cpp
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
  src/Mod/PartDesign/Gui/TaskDatumParameters.cpp
  src/Mod/PartDesign/Gui/TaskFeaturePick.cpp
  src/Mod/PartDesign/Gui/Utils.cpp
  src/Mod/PartDesign/PartDesignTests/TestDatum.py
  src/Mod/PartDesign/PartDesignTests/TestDraft.py
  src/Mod/PartDesign/PartDesignTests/TestHelix.py
  src/Mod/PartDesign/PartDesignTests/TestHole.py
  src/Mod/PartDesign/PartDesignTests/TestLoft.py
  src/Mod/PartDesign/PartDesignTests/TestPad.py
  src/Mod/PartDesign/PartDesignTests/TestPipe.py
  src/Mod/PartDesign/PartDesignTests/TestPocket.py
  src/Mod/PartDesign/PartDesignTests/TestShapeBinder.py
  src/Mod/PartDesign/TestPartDesignGui.py
  src/Mod/Sandbox/exportDRAWEXE.py
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/Command.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/TechDraw/App/CosmeticExtension.h
Labels: WB FEM, WB Arch, WB Draft, WB TechDraw, WB PartDesign, WB Part, WB Sketcher

#12725 Part: fixes #12274: Incorrect calls in ConePyImp
  src/Mod/Part/App/ConePyImp.cpp
Labels: WB Part

#12740 Fem: Use mixed cell types in pipeline unstructured grid - fixes #12581
  src/Mod/Fem/App/FemVTKTools.cpp
Labels: WB FEM

#12683 Toponaming/Part: property topo shape
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
  src/App/Property.cpp
  src/App/PropertyContainer.h
  src/App/PropertyGeo.cpp
  src/App/PropertyGeo.h
  src/Mod/Part/App/AppPart.cpp
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/PropertyTopoShape.cpp
  src/Mod/Part/App/PropertyTopoShape.h
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/FeaturePartCommon.cpp
  tests/src/Mod/Part/App/PartFeature.cpp
  tests/src/Mod/Part/App/PartFeatures.cpp
  tests/src/Mod/Part/App/PropertyTopoShape.cpp
Labels: Core, WB FEM, WB Part, Toponaming

#12751 Addon Manager: Fix score pref path
  src/Mod/AddonManager/AddonManager.py
  src/Mod/AddonManager/AddonManagerOptions.ui
  src/Mod/AddonManager/addonmanager_preferences_defaults.json
Labels: Addon Manager

#12736 A set of ISO 7200/ISO 5457 templates for TechDraw
  src/Mod/TechDraw/Templates/A0_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A0_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A0_Landscape_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A0_Landscape_ISO7200_Pep.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO7200_Pep.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO7200_Pep.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO7200_Pep.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO7200TD.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO7200_Pep.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO7200Pep.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO7200TD.svg
  src/Mod/TechDraw/Templates/ISO 5457/A0_Landscape_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/A1_Landscape_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/A2_Landscape_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/A3_Landscape_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/A4_Landscape_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/A4_Portrait_ISO5457_notitleblock.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_1_minimal.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_2.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_3.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_4.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_5_maximal.svg
Labels: WB TechDraw

#12759 Sketch: fix compiler warning
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#12763 Gui: Fix translation strings for Part, Group, and Link
  src/Gui/CommandLink.cpp
  src/Gui/CommandStructure.cpp
Labels: Core

#12761 Part: Correct context for selection filter
  src/Mod/Part/Gui/CommandFilter.cpp
Labels: WB Part

#12750 Toponaming/Part element cache extras
  src/App/ComplexGeoData.cpp
  src/App/ComplexGeoData.h
  src/App/ElementMap.cpp
  src/App/ElementMap.h
  src/Mod/Part/App/FeaturePartCommon.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/App/ComplexGeoData.cpp
  tests/src/App/ElementMap.cpp
  tests/src/Mod/Part/App/FeaturePartCommon.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Core, WB Part

#12769 Gui: fix -Wlogical-op-parentheses
  src/Gui/BlenderNavigationStyle.cpp
Labels: Core

#12768 Sketcher: fix crash when trying to edit malformed sketch
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: WB Sketcher

#12775 [TD]correct s/s cell format
  src/Mod/TechDraw/App/DrawViewSpreadsheet.cpp
Labels: WB TechDraw

#12749 [TechDraw] Reimplement Leader Line parent linking
  src/Gui/DlgPropertyLink.cpp
  src/Mod/TechDraw/App/DrawLeaderLine.h
  src/Mod/TechDraw/Gui/QGILeaderLine.cpp
  src/Mod/TechDraw/Gui/QGILeaderLine.h
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIView.h
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/QGSPage.h
  src/Mod/TechDraw/Gui/ViewProviderLeader.cpp
  src/Mod/TechDraw/Gui/ViewProviderLeader.h
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
Labels: Core, WB TechDraw

#12762 TD: Clean up translations of HoleShaftFit
  src/Mod/TechDraw/TechDrawTools/CommandHoleShaftFit.py
Labels: WB TechDraw

#12764 TD: Fix translation of pending updates string
  src/Mod/TechDraw/Gui/TaskSectionView.cpp
Labels: WB TechDraw

#12765 TD: Add missing translation strings to menu
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: WB TechDraw

#12066 Base: Use std::chrono for time manipulation
  src/App/Document.cpp
  src/Base/CMakeLists.txt
  src/Base/PreCompiled.h
  src/Base/TimeInfo.cpp
  src/Base/TimeInfo.h
  src/Base/Tools.cpp
  src/Base/Tools.h
  src/Gui/AutoSaver.cpp
  src/Gui/DAGView/DAGModel.cpp
  src/Mod/Cloud/App/AppCloud.cpp
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/Gui/ViewProviderFemMesh.cpp
  src/Mod/Fem/Gui/ViewProviderFemMeshPyImp.cpp
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  tests/src/Base/TimeInfo.cpp
Labels: Core, WB FEM, WB Part, WB Sketcher

#12783 Part: Add class BRepMesh
  src/Mod/MeshPart/App/Mesher.cpp
  src/Mod/Part/App/BRepMesh.cpp
  src/Mod/Part/App/BRepMesh.h
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/App/TopoShape.cpp
Labels: WB Part, WB MeshPart

#12812 [TechDraw] Reimplement Weld Symbol parent linking
  src/Mod/TechDraw/App/DrawWeldSymbol.cpp
  src/Mod/TechDraw/App/DrawWeldSymbol.h
  src/Mod/TechDraw/Gui/QGIWeldSymbol.cpp
  src/Mod/TechDraw/Gui/QGIWeldSymbol.h
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/TaskWeldingSymbol.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
Labels: WB TechDraw

#12811 Fix the crash described in #12785
  src/Gui/ExpressionCompleter.cpp
Labels: Core

#12854 Update PROBLEM_REPORT.yml
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
Labels: :octocat:

#12855 Update PROBLEM_REPORT.yml
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
Labels: :octocat:

#12863 Remove placeholder title from PROBLEM_REPORT.yml issue report template
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
Labels: :octocat:

#12874 Fix segmentation fault in Sketcher
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#12830 Gui: Fix using context-menu of ExpressionLineEdit
  src/Gui/DlgExpressionInput.cpp
  src/Gui/DlgExpressionInput.h
Labels: Core

#12624 Draft: Introduce mouse delay
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_tool_utils.py
Labels: WB Draft

#12672 FEM CalculiX output frequency setting
  src/Mod/Fem/femsolver/calculix/solver.py
  src/Mod/Fem/femsolver/calculix/write_step_output.py
  src/Mod/Fem/femtest/data/calculix/box_frequency.inp
  src/Mod/Fem/femtest/data/calculix/box_static.inp
  src/Mod/Fem/femtest/data/calculix/ccx_buckling_flexuralbuckling.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_circle.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_pipe.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_rect.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_hexa20.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad4.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad8.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg2.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria6.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_faceload.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_nodeload.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_prescribeddisplacement.inp
  src/Mod/Fem/femtest/data/calculix/constraint_contact_shell_shell.inp
  src/Mod/Fem/femtest/data/calculix/constraint_sectionprint.inp
  src/Mod/Fem/femtest/data/calculix/constraint_selfweight_cantilever.inp
  src/Mod/Fem/femtest/data/calculix/constraint_tie.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_beam_hinged.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_torque.inp
  src/Mod/Fem/femtest/data/calculix/frequency_beamsimple.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fiveboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fivefaces.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_tensionrod_twoboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_nonlinear.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_edgeforces.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_nodeforces.inp
  src/Mod/Fem/femtest/data/calculix/thermomech_bimetall.inp
Labels: WB FEM

#12698 Fem: Add partial support for hexahedral elements
  src/Mod/Fem/femmesh/gmshtools.py
  src/Mod/Fem/femobjects/mesh_gmsh.py
  src/Mod/Fem/femtest/data/elmer/group_mesh.geo
Labels: WB FEM

#12731 Sketcher: Translate menu entries for rectangle spec
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
Labels: WB Sketcher

#12732 Sketcher: Fix missing translations in DSH tools
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerOffset.h
Labels: WB Sketcher

#12733 PD: Translate attachment task title
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/Part/Gui/TaskAttacher.h
Labels: Translation, WB Part

#12738 Fix missing translations in task panel
  src/Mod/Draft/DraftGui.py
  src/Mod/PartDesign/Gui/Workbench.cpp
Labels: WB Draft, WB PartDesign

#12754 [MOD] clean SMESH
  src/Mod/Fem/App/AppFem.cpp
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/HypothesisPy.cpp
  src/Mod/Fem/App/HypothesisPy.h
  src/Mod/Fem/App/PreCompiled.h
Labels: WB FEM

#12760 Sketcher: Translate rendering order menu
  src/Mod/Sketcher/Gui/Command.cpp
Labels: WB Sketcher

#12766 Sketcher: Fix missing translation of 'Sketcher visual'
  src/Mod/Sketcher/Gui/Command.cpp
Labels: WB Sketcher

#12777 Elmer FEM 2D flow examples fix
  src/Mod/Fem/femexamples/equation_flow_elmer_2D.py
  src/Mod/Fem/femexamples/equation_flow_initial_elmer_2D.py
  src/Mod/Fem/femexamples/equation_flow_turbulent_elmer_2D.py
Labels: WB FEM

#12782 Fix #12780: An additional visibility icon is shown for features in groups
  src/Gui/Tree.cpp
Labels: Core

#12797 Core: Fix unselectable area in SoDatumLabel
  src/Gui/SoDatumLabel.cpp
Labels: Core

#12803 Part: fixes #12744: mesh export creates open edges
  src/Mod/Part/App/BRepMesh.cpp
  tests/src/Mod/Part/App/BRepMesh.cpp
  tests/src/Mod/Part/App/CMakeLists.txt
Labels: WB Part

#12809 Sketcher: correct position of ConstrainLock and ConstrainRadiam in GUI
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: WB Sketcher

#12810 Draft: Allow to prevent layers to claim children
  src/Mod/Draft/draftviewproviders/view_layer.py
Labels: WB Draft

#12857 Addon Manager: Strip some HTML tags from Markdown
  src/Mod/AddonManager/Widgets/addonmanager_widget_readme_browser.py
Labels: Addon Manager

#12858 Addon Manager: Fix README fetch for macros
  src/Mod/AddonManager/addonmanager_package_details_controller.py
  src/Mod/AddonManager/addonmanager_readme_controller.py
Labels: Addon Manager

#12860 Addon Manager: Python package installer wait for thread
  src/Mod/AddonManager/manage_python_dependencies.py
Labels: Backport todo, Addon Manager

#12882 Relabel Path to CAM in GitHub template and label action
  .github/ISSUE_TEMPLATE/PROBLEM_REPORT.yml
  .github/labels.yml
Labels: :octocat:

#12804 Toponaming/Part: methods in part feature and dependencies for correct elementMaps
  src/App/MappedElement.cpp
  src/App/MappedElement.h
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
  src/Mod/Part/App/PropertyTopoShape.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
  tests/src/Mod/Part/App/FeaturePartCommon.cpp
  tests/src/Mod/Part/App/PartFeature.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Core, WB Part, Toponaming

#12879 [TD] Solve scale issue in AxoLengthDimension
  src/Mod/TechDraw/TechDrawTools/CommandAxoLengthDimension.py
Labels: WB TechDraw

#12905 CAM: fix edgecase with missing toolshape
  src/Mod/CAM/Path/Main/Gui/Sanity.py
Labels: WB CAM

#12893 Addon Manager: Fix relative external links
  src/Mod/AddonManager/Widgets/addonmanager_widget_readme_browser.py
  src/Mod/AddonManager/addonmanager_readme_controller.py
Labels: Addon Manager

#12911 PR for issue #12910
  src/Mod/TechDraw/TechDrawTools/TaskFillTemplateFields.py
Labels: WB TechDraw

#12923 TechDraw: Add space before tolerance class for hole/shaft fits
  src/Mod/TechDraw/TechDrawTools/TaskHoleShaftFit.py
Labels: WB TechDraw

#12737 Clean trailing spaces for translation
  src/Gui/DlgKeyboard.ui
  src/Gui/DlgLocationPos.ui
  src/Gui/NotificationArea.cpp
  src/Gui/PreferencePages/DlgSettings3DView.ui
  src/Gui/PreferencePages/DlgSettingsPythonConsole.ui
  src/Gui/QuantitySpinBox_p.h
  src/Mod/AddonManager/addonmanager_installer_gui.py
  src/Mod/AddonManager/addonmanager_uninstaller.py
  src/Mod/CAM/Gui/Resources/panels/DogboneEdit.ui
  src/Mod/CAM/Gui/Resources/panels/HoldingTagsEdit.ui
  src/Mod/CAM/Gui/Resources/panels/PageOpSlotEdit.ui
  src/Mod/CAM/Gui/Resources/panels/PathEdit.ui
  src/Mod/CAM/Gui/Resources/panels/ToolEditor.ui
  src/Mod/CAM/Gui/Resources/preferences/PathDressupHoldingTags.ui
  src/Mod/CAM/Gui/Resources/preferences/PathJob.ui
  src/Mod/Draft/Resources/ui/preferences-dxf.ui
  src/Mod/Draft/Resources/ui/preferences-svg.ui
  src/Mod/Draft/draftmake/make_label.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
  src/Mod/Fem/Gui/Resources/ui/ElectrostaticPotential.ui
  src/Mod/Fem/Gui/Resources/ui/ElementFluid1D.ui
  src/Mod/Fem/Gui/Resources/ui/ElementGeometry1D.ui
  src/Mod/Fem/Gui/Resources/ui/ElementGeometry2D.ui
  src/Mod/Fem/Gui/Resources/ui/ElementRotation1D.ui
  src/Mod/Fem/Gui/Resources/ui/Material.ui
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.ui
  src/Mod/Fem/Gui/TaskPanelConstraintTemperature.ui
  src/Mod/Fem/Gui/TaskTetParameter.ui
  src/Mod/Part/Gui/TaskDimension.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Spreadsheet/Gui/DlgSettings.ui
  src/Mod/TechDraw/Gui/PagePrinter.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticCircle.ui
  src/Mod/TechDraw/Gui/TaskLinkDim.ui
Labels: Core, WB FEM, Translation, WB Draft, WB CAM, WB TechDraw, WB Part, WB Spreadsheet, WB Sketcher, Addon Manager

#12918 Fem: Partial transparency fix in FemPostObject display modes
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.h
  src/Mod/Fem/femtest/data/mesh/tetra10_mesh.vtk
Labels: WB FEM

#12940 labels.yml: Add Materials label
  .github/labels.yml
Labels: :octocat:

#12932 Fem: Format force constraint in CalculiX writer - fixes #12805
  src/Mod/Fem/femsolver/calculix/write_constraint_force.py
  src/Mod/Fem/femtest/data/calculix/box_static.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_circle.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_pipe.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_rect.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_hexa20.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad4.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad8.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg2.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria6.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_faceload.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_nodeload.inp
  src/Mod/Fem/femtest/data/calculix/constraint_contact_shell_shell.inp
  src/Mod/Fem/femtest/data/calculix/constraint_tie.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_torque.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fiveboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fivefaces.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_edgeforces.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_nodeforces.inp
  src/Mod/Fem/femtest/data/calculix/thermomech_flow1D.FCStd
Labels: WB FEM

#12962 FEM: Correct property description after #12703
  src/Mod/Fem/femsolver/calculix/solver.py
Labels: WB FEM

#12945 Material: Call to import_materials only returning solids
  src/Mod/Material/materialtools/cardutils.py
Labels: Materials

#12937 Material: Removes localization from the material card dictionary
  src/Mod/Material/App/MaterialPyImpl.cpp
  src/Mod/Material/App/Materials.cpp
  src/Mod/Material/App/Materials.h
  src/Mod/Material/materialtests/TestMaterials.py
Labels: Materials

#12961 DRAFT: Fixed typos in the mouse delay preference description
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
Labels: WB Draft

#12885 Toponaming/Part: Bring over attacher differences
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/Attacher.h
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/TestPartApp.py
  tests/src/Mod/Part/App/Attacher.cpp
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/TopoShape.cpp
Labels: WB Part, Toponaming

#12862 App: Fix segmentation fault while dragging object
  src/App/GroupExtension.h
Labels: Backport todo

#12926 Mesh: add test for mesh export
  src/Mod/Mesh/App/Exporter.h
  tests/src/Mod/Mesh/App/CMakeLists.txt
  tests/src/Mod/Mesh/App/Exporter.cpp
  tests/src/Mod/Mesh/App/Mesh.cpp
Labels: WB Mesh

#12927 Mesh: fixes #12798: Macro not recording mesh decimation
  src/Mod/Mesh/App/MeshFeaturePy.xml
  src/Mod/Mesh/App/MeshFeaturePyImp.cpp
  src/Mod/Mesh/Gui/DlgDecimating.cpp
Labels: WB Mesh

#12986 TD: fixes #12984: Doing Ctrl-Z in TechDraw reliably causes a segfault
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
Labels: WB TechDraw

#12998 Update labels.yml for correct GH label
  .github/labels.yml
Labels: :octocat:

#12999 Sketch: fixes #12480: Sketcher_CreateBSplineByInterpolation Unhandled…
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSplineByInterpolation.h
Labels: WB Sketcher

#12947 [TechDraw] Unify Projection Group parent linking
  src/Mod/TechDraw/App/DrawProjGroupItem.cpp
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawView.h
  src/Mod/TechDraw/Gui/QGIProjGroup.cpp
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIView.h
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
Labels: WB TechDraw

#12981 [TD] AxoLengthDimension: use getScale() instead of Scale
  src/Mod/TechDraw/TechDrawTools/CommandAxoLengthDimension.py
Labels: WB TechDraw

#13007 [TD]Refactor LTNP correction code for Dimensions
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/App/DimensionAutoCorrect.cpp
  src/Mod/TechDraw/App/DimensionAutoCorrect.h
  src/Mod/TechDraw/App/DimensionReferences.cpp
  src/Mod/TechDraw/App/DimensionReferences.h
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/Geometry.h
  src/Mod/TechDraw/App/GeometryMatcher.cpp
  src/Mod/TechDraw/App/GeometryMatcher.h
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
Labels: WB TechDraw, Refactor

#13014 [TD]use weak_ptr as deletion guard in Dimension dialog
  src/Mod/TechDraw/Gui/TaskDimension.cpp
  src/Mod/TechDraw/Gui/TaskDimension.h
Labels: WB TechDraw

#12354 Navicube : Add missing view menu entries.
  src/Gui/NaviCube.cpp
Labels: Core, Navigation Cube

#12833 FEA: fix 1d beam cross section orientation
  src/Mod/Fem/femmesh/meshtools.py
  src/Mod/Fem/femsolver/calculix/write_femelement_geometry.py
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_circle.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_pipe.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_rect.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg2.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg3.inp
Labels: WB FEM

#12878 UI/UX: Create a toolbar command group for default views
  src/Gui/CommandView.cpp
  src/Gui/Workbench.cpp
Labels: Core

#12897 Sketcher: Contextual right click menu: add perpendicular for line and conic selection
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: WB Sketcher

#12899 Arch: Fixed IFC export of arrays
  src/Mod/Arch/exportIFC.py
  src/Mod/Arch/exportIFCHelper.py
Labels: WB Arch

#13006 UI: Assembly - update too similar icons
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointCylindrical.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointRevolute.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_CreateJointSlider.svg
  src/Mod/Assembly/Gui/Resources/icons/Assembly_SolveAssembly.svg
Labels: WB Assembly

#12954 Arch: Allow the IFC exporter to append to an existing IFC file
  src/Mod/Arch/exportIFC.py
Labels: WB Arch

#12924 [Draft] Made get_type aware of IFC objects
  src/Mod/Draft/draftutils/utils.py
Labels: WB Draft

#12909 [Link] Fix SIGSEGV with LinkCopyOnChange=Tracking
  src/App/Link.cpp
Labels: Core

#12957 Toponaming/Part make element offset
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: WB Part

#13029 Fix various typos throughout the codebase
  src/Doc/BuildDocDoxyFull.cfg
  src/Gui/Action.cpp
  src/Gui/CommandFeat.cpp
  src/Gui/DlgPreferencesImp.cpp
  src/Gui/SoFCUnifiedSelection.cpp
  src/Gui/Tree.cpp
  src/Mod/Arch/ArchBuildingPart.py
  src/Mod/Arch/ArchWall.py
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/CAM/App/AreaParams.h
  src/Mod/Fem/femobjects/constraint_tie.py
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Sketcher/App/planegcs/Geo.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  tests/src/Mod/Part/App/PartFeature.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Core, WB FEM, WB Arch, WB CAM, WB Part, WB Sketcher, WB Assembly

#13033 Gui: fix several regressions caused by PR #12035
  src/Gui/Application.cpp
  src/Gui/MDIView.cpp
  src/Gui/MDIView.h
  src/Gui/MainWindow.cpp
Labels: Core

#12943 Toponaming/part features chamfer, fillet; dependencies and test updates
  src/App/ComplexGeoData.h
  src/App/IndexedName.h
  src/Mod/Part/App/FeatureChamfer.cpp
  src/Mod/Part/App/FeatureFillet.cpp
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Part/Gui/DlgFilletEdges.cpp
  tests/src/Mod/Part/App/FeatureChamfer.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Core, WB Part, Toponaming

#13039 Arch: Added longname and description to ArchSpace Text variables
  src/Mod/Arch/ArchSpace.py
Labels: WB Arch

#13050 Issue #11989: Segfault on "Move Object to Other Body"
  src/Mod/PartDesign/Gui/Utils.cpp
Labels: WB Part Design

#13059 Base: enable user site-packages for Py >= 3.11
  src/Base/Interpreter.cpp
Labels: Core

#12982 Toponaming/Part feature mirroring and offset
  src/Mod/Part/App/FeatureMirroring.cpp
  src/Mod/Part/App/FeatureOffset.cpp
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/FeatureMirroring.cpp
  tests/src/Mod/Part/App/FeatureOffset.cpp
  tests/src/Mod/Part/App/PartTestHelpers.cpp
Labels: WB Part, Toponaming

#13082 Toponaming/Part: Move missed attacher code into place
  src/Mod/Part/App/AttachEnginePyImp.cpp
  src/Mod/Part/App/AttachExtension.cpp
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/App/Attacher.h
  src/Mod/PartDesign/Gui/Command.cpp
Labels: WB Part Design, WB Part, Toponaming

#12987 Fem: Export post-processing data to VTK - fixes #5816
  src/Mod/Fem/App/CMakeLists.txt
  src/Mod/Fem/App/FemPostObject.cpp
  src/Mod/Fem/App/FemPostObject.h
  src/Mod/Fem/App/FemPostObjectPy.xml
  src/Mod/Fem/App/FemPostObjectPyImp.cpp
  src/Mod/Fem/App/FemPostPipelinePy.xml
  src/Mod/Fem/Gui/ViewProviderFemConstraintPy.xml
  src/Mod/Fem/Init.py
  src/Mod/Fem/feminout/importVTKResults.py
Labels: WB FEM

#13086 FEM: fix some linter warnings
  src/Mod/Fem/App/FemPostObject.cpp
  src/Mod/Fem/App/FemPostObject.h
Labels: WB FEM

#13041 Fixes #11861: Gui::PrefUnitSpinBox requires restart after unit system…
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/PreferencePages/DlgSettingsGeneral.h
Labels: Core

#13045 Fixes #12186: Two new Sketcher preferences should show "Restart requi…
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.h
Labels: WB Sketcher

#13068 Fixes #11970: Return values of FreeCAD.get*Dir and FreeCAD.get*Path f…
  src/App/Application.cpp
  src/App/ApplicationPy.cpp
Labels: Core

#13079 Arch: Register interactive arch tools to draft
  src/Mod/Arch/ArchStructure.py
  src/Mod/Arch/ArchWall.py
Labels: WB Arch

#13064 Draft: Improve logic of Draft_Label texts
  src/Mod/Draft/draftobjects/label.py
Labels: WB Draft

#13062 Add Missing API documentation/Update API Documentation for various files.
  src/App/ComplexGeoDataPy.xml
  src/Base/TypePy.xml
  src/Mod/CAM/App/AreaPy.xml
  src/Mod/Part/App/GeomPlate/BuildPlateSurfacePy.xml
Labels: Core, WB CAM, WB Part

#13095 Gui: clear the title bar after closing the last MDI window
  src/Gui/MainWindow.cpp
Labels: Core

#13030 Toponaming/Part Move in feature extrusion
  src/Mod/Part/App/ExtrusionHelper.cpp
  src/Mod/Part/App/ExtrusionHelper.h
  src/Mod/Part/App/FeatureExtrusion.cpp
  src/Mod/Part/App/FeatureExtrusion.h
  tests/src/Mod/Part/App/FeatureExtrusion.cpp
  tests/src/Mod/Part/App/PartTestHelpers.cpp
Labels: WB TechDraw, WB Part, Toponaming

#13103 [Gui] Allow to create an ExpLineEdit widget with python
  src/Gui/resource.cpp
Labels: Core

#13101 Toponaming/Part: Additional testing for attacher
  tests/src/Mod/Part/App/Attacher.cpp
Labels: WB Part, Toponaming

#13091 Add leading plus (+) in hole/shaft fit limit
  src/Mod/TechDraw/TechDrawTools/TaskHoleShaftFit.py
Labels: WB TechDraw

#13005 [TechDraw] Issue #5903 - Autofill template information
  src/Mod/TechDraw/App/DrawSVGTemplate.cpp
  src/Mod/TechDraw/App/DrawTemplate.cpp
  src/Mod/TechDraw/App/DrawTemplate.h
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawViewSymbol.cpp
  src/Mod/TechDraw/App/XMLQuery.cpp
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
  src/Mod/TechDraw/Gui/TaskProjGroup.h
  src/Mod/TechDraw/Templates/A4_LandscapeTD.svg
  src/Mod/TechDraw/Templates/ANSIC_Landscape.svg
Labels: WB TechDraw

#13115 Gui: Apply clang-format on DlgProjectionOnSurface and fix linter warn…
  src/Mod/Part/Gui/DlgProjectionOnSurface.cpp
  src/Mod/Part/Gui/DlgProjectionOnSurface.h
Labels: WB Part

#13076 Arch: Allow to write IFC objects without owner history
  src/Mod/Arch/exportIFC.py
Labels: WB Arch

#12450 [Sketcher] Symmetry tool rework.
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerSymmetry.h
  src/Mod/Sketcher/Gui/Resources/Sketcher.qrc
  src/Mod/Sketcher/Gui/Resources/icons/pointers/Sketcher_Pointer_Create_Symmetry.svg
Labels: WB Sketcher

#12662 New FEM CalculiX incrementation settings
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
  src/Mod/Fem/Gui/DlgSettingsFemCcxImp.cpp
  src/Mod/Fem/femexamples/thermomech_bimetall.py
  src/Mod/Fem/femsolver/calculix/solver.py
  src/Mod/Fem/femsolver/calculix/write_step_equation.py
  src/Mod/Fem/femtest/data/calculix/box_static.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_circle.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_pipe.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_beam_rect.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_hexa20.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad4.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_quad8.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg2.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_seg3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria3.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_ele_tria6.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_faceload.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_nodeload.inp
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_prescribeddisplacement.inp
  src/Mod/Fem/femtest/data/calculix/constraint_contact_shell_shell.inp
  src/Mod/Fem/femtest/data/calculix/constraint_sectionprint.inp
  src/Mod/Fem/femtest/data/calculix/constraint_selfweight_cantilever.inp
  src/Mod/Fem/femtest/data/calculix/constraint_tie.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_beam_hinged.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_torque.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fiveboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_bendingbeam_fivefaces.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_tensionrod_twoboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_nonlinear.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_edgeforces.inp
  src/Mod/Fem/femtest/data/calculix/square_pipe_end_twisted_nodeforces.inp
  src/Mod/Fem/femtest/data/calculix/thermomech_bimetall.inp
Labels: WB FEM

#12948 Fixes #5609: Add MSAA 6x option
  src/Gui/PreferencePages/DlgSettings3DView.ui
  src/Gui/PreferencePages/DlgSettings3DViewImp.cpp
  src/Gui/PreferencePages/DlgSettings3DViewImp.h
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
Labels: Core

#12975 Update issue-metrics.yml
  .github/workflows/issue-metrics.yml
Labels: :octocat:

#12977 [PartDesign] Still a helix fix
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHelix.h
  src/Mod/PartDesign/PartDesignTests/TestHelix.py
Labels: WB Part Design

#13056 fedora.spec: Drop dos2unix dependency
  package/fedora/freecad.spec
  src/Mod/Test/unittestgui.py
Labels: Packaging/building, WB Test

#13096 Toponaming/Part Bring in Python layer for ComplexGeoData
  src/App/ComplexGeoDataPy.xml
  src/App/ComplexGeoDataPyImp.cpp
  src/Mod/Part/CMakeLists.txt
  src/Mod/Part/TestPartApp.py
  src/Mod/Part/parttests/TopoShapeTest.py
  tests/src/Mod/Part/App/FeaturePartCut.cpp
Labels: Core, WB Part, Toponaming

#13157 Add QOffscreenSurface to QtAll.h
  src/Gui/QtAll.h
Labels: Core

#13155 TD: Add missing files to PreCompiled.h
  src/Mod/TechDraw/App/PreCompiled.h
Labels: WB TechDraw

#13135 Sketcher: Spelling colinear -> collinear
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
  src/Mod/Sketcher/SketcherTests/TestSketchFillet.py
Labels: WB Sketcher

#13159 Sketcher: fix typo in function name -> areCollinear
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Sketcher/Gui/Utils.h
Labels: WB Sketcher

#13100 Draft: fix handling of shapes in shape2dview.py
  src/Mod/Draft/draftobjects/shape2dview.py
Labels: WB Draft

#13051 Draft: Allow to change grid color in WP taskpanel
  src/Mod/Draft/Resources/ui/TaskSelectPlane.ui
  src/Mod/Draft/draftguitools/gui_selectplane.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: WB Draft

#13153 fix: BoundBox exception when inserting BIM section plan into TechDraw.
  src/Mod/Arch/ArchSectionPlane.py
Labels: WB Arch

#13138 TechDraw: Remove "cosmetic eraser" from toolbar
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: WB TechDraw

#13174 FEM: Rename vtkWriter to femVTKWriter to make MSVC happy
  src/Mod/Fem/App/FemPostObject.cpp
Labels: WB FEM

#13172 Draft: add Fuse property to pointarray
  src/Mod/Draft/draftobjects/pointarray.py
Labels: WB Draft

#13170 [TD]fix fail on undo of cosmetic delete
  src/Mod/TechDraw/App/CosmeticExtension.cpp
  src/Mod/TechDraw/Gui/QGIEdge.cpp
  src/Mod/TechDraw/Gui/QGIEdge.h
  src/Mod/TechDraw/Gui/QGIPrimPath.cpp
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.h
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/QGVNavStyle.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleTouchpad.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
Labels: WB TechDraw

#13184 Toponaming/Part: Bug fix for #13169 while we sort out required sketcher changes.
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: WB Sketcher

#13176 Gui: add overloaded method pixmapFromSvg() to pass the device pixel r…
  src/Gui/BitmapFactory.cpp
  src/Gui/BitmapFactory.h
Labels: Core

#13037 Sketcher: Improve menu text of Sketcher_MapSketch
  src/Mod/Sketcher/Gui/Command.cpp
Labels: WB Sketcher

#12994 Part Design: add missing commands to tree context menu
  src/Mod/PartDesign/Gui/Workbench.cpp
Labels: WB Part Design

#12535 Part/Toponaming: Transfer WireJoiner
  src/Mod/CAM/App/Area.cpp
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/App/WireJoiner.cpp
  src/Mod/Part/App/WireJoiner.h
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/App/WireJoiner.cpp
Labels: WB Part, Toponaming

#13156 Toponaming/Part: move ToposhapePyImp get methods into place
  src/Mod/Part/App/TopoShapePyImp.cpp
Labels: WB Part, Toponaming
