Repository FreeCAD/FreeCAD, pull requests merged in 2025-03, with the labels that each got.

#19923 Add Start label for Start page PRs
  .github/labels.yml
Labels: :octocat:

#19845 fix #19723 SVG: transform attribute is not handled collectly
  src/Mod/Draft/importSVG.py
Labels: Mod: Draft

#19789 Spreadsheet: Break down large tests into smaller units
  src/Mod/Spreadsheet/TestSpreadsheet.py
Labels: Mod: Spreadsheet

#19925 Draft: fix Draft_Edit issue with Gesture navigation
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: Mod: Draft, Approved

#19856 Clean AppPartPy.cpp
  src/Mod/Part/App/AppPartPy.cpp
Labels: Mod: Part, Approved

#19761 Base: Coverity fixes from February 2025 run (round 1)
  src/App/Application.cpp
  src/Base/Console.h
  src/Mod/Spreadsheet/App/Cell.cpp
  src/Mod/Spreadsheet/App/DisplayUnit.h
  src/Mod/Spreadsheet/App/PropertySheet.cpp
  src/Mod/Spreadsheet/App/Sheet.cpp
  src/Mod/Spreadsheet/Gui/DlgBindSheet.cpp
  src/Mod/Spreadsheet/Gui/ZoomableView.h
Labels: Mod: Core, Mod: Spreadsheet, Approved

#19747 fix #18894 Sketcher: Create external projection geometry not working with datum objects
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerExternal.h
Labels: Mod: Sketcher, Approved

#19626 Gui: Remove QtOpenGL.h.
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  src/Gui/Document.cpp
  src/Gui/Flag.cpp
  src/Gui/Flag.h
  src/Gui/GLPainter.cpp
  src/Gui/GLPainter.h
  src/Gui/MainWindow.cpp
  src/Gui/ManualAlignment.cpp
  src/Gui/MouseSelection.cpp
  src/Gui/NaviCube.cpp
  src/Gui/Quarter/QuarterWidget.cpp
  src/Gui/Quarter/QuarterWidget.h
  src/Gui/Quarter/QuarterWidgetP.cpp
  src/Gui/Quarter/QuarterWidgetP.h
  src/Gui/Quarter/SoQTQuarterAdaptor.cpp
  src/Gui/Quarter/SoQTQuarterAdaptor.h
  src/Gui/Selection/SoFCSelection.cpp
  src/Gui/Selection/SoFCUnifiedSelection.cpp
  src/Gui/SoFCInteractiveElement.cpp
  src/Gui/SoFCInteractiveElement.h
  src/Gui/SoFCOffscreenRenderer.cpp
  src/Gui/SoFCOffscreenRenderer.h
  src/Gui/SoTextLabel.cpp
  src/Gui/SplitView3DInventor.cpp
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventor.h
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Mod/Mesh/Gui/SoFCIndexedFaceSet.cpp
  src/Mod/Sandbox/Gui/Overlay.cpp
  src/Mod/Sandbox/Gui/Overlay.h
  src/Mod/Sandbox/Gui/Workbench.cpp
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/QtOpenGL.h.cmake
Labels: Mod: Core, Packaging/building, Mod: Mesh, Approved

#19450 Base: Modernize Python bindings APIs
  cMake/FreeCadMacros.cmake
  src/Base/Axis.pyi
  src/Base/BaseClass.pyi
  src/Base/BoundBox.pyi
  src/Base/CMakeLists.txt
  src/Base/CoordinateSystem.pyi
  src/Base/Matrix.pyi
  src/Base/Persistence.pyi
  src/Base/Placement.pyi
  src/Base/Precision.pyi
  src/Base/PyObjectBase.pyi
  src/Base/Quantity.pyi
  src/Base/Rotation.pyi
  src/Base/Type.pyi
  src/Base/Unit.pyi
  src/Base/Vector.pyi
  src/Tools/bindings/generate.py
  src/Tools/bindings/model/generateModel_Python.py
  src/Tools/bindings/templates/templateClassPyExport.py
Labels: Mod: Core, Approved

#19616 CI: Extract `apt` packages installation into a script.
  .github/workflows/sub_buildUbuntu.yml
  package/ubuntu/install-apt-packages.sh
Labels: :octocat:, Approved

#19951 Misc. compilation fixes
  src/Gui/Inventor/SoFCPlacementIndicatorKit.cpp
  src/Mod/Spreadsheet/App/Sheet.cpp
Labels: Mod: Core, Mod: Spreadsheet

#19959 Gui: Add QOpenGLWidget to QtAll.h
  src/Gui/QtAll.h
Labels: Mod: Core

#19965 Draft: fix polar coords regression
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft

#19927 Draft: fix NaN issue with Draft_Rotate
  src/Mod/Draft/draftguitools/gui_rotate.py
Labels: Mod: Draft

#19942 Draft: fix Draft_Edit isAttachedToDocument issue
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: Mod: Draft

#19970 Fix precompiled build
  src/Base/PreCompiled.h
Labels: Mod: Core

#19971 [Spreadsheet] Fix unset zoom level
  src/Mod/Spreadsheet/Gui/ZoomableView.h
Labels: Mod: Spreadsheet

#19930 Fem: Improve current density boundary condition
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Resources/symbols/ConstraintCurrentDensity.iv
  src/Mod/Fem/Gui/Resources/ui/CurrentDensity.ui
  src/Mod/Fem/Gui/ViewProviderFemConstraint.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraint.h
  src/Mod/Fem/femexamples/equation_magnetodynamics_2D_elmer.py
  src/Mod/Fem/femobjects/constraint_currentdensity.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D_writer.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic_writer.py
  src/Mod/Fem/femsolver/elmer/equations/staticcurrent_writer.py
  src/Mod/Fem/femtaskpanels/task_constraint_currentdensity.py
  src/Mod/Fem/femviewprovider/view_constraint_currentdensity.py
Labels: Mod: FEM, Approved

#19688 Broken view no compress19647
  src/Mod/TechDraw/App/DrawBrokenView.cpp
  src/Mod/TechDraw/App/DrawBrokenView.h
Labels: Mod: TechDraw, Approved

#19753 TechDraw: centralize tag functionality
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/App/CenterLine.h
  src/Mod/TechDraw/App/CenterLinePyImp.cpp
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/Cosmetic.h
  src/Mod/TechDraw/App/CosmeticEdgePyImp.cpp
  src/Mod/TechDraw/App/CosmeticVertex.cpp
  src/Mod/TechDraw/App/CosmeticVertex.h
  src/Mod/TechDraw/App/CosmeticVertexPyImp.cpp
  src/Mod/TechDraw/App/GeomFormatPyImp.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/Geometry.h
  src/Mod/TechDraw/App/PreCompiled.h
  src/Mod/TechDraw/App/Tag.cpp
  src/Mod/TechDraw/App/Tag.h
Labels: Mod: TechDraw, Approved

#19411 TechDraw: hard type enums, part 2
  src/Mod/TechDraw/App/ArrowPropEnum.h
  src/Mod/TechDraw/App/BalloonPropEnum.h
  src/Mod/TechDraw/App/DrawProjGroup.cpp
  src/Mod/TechDraw/App/DrawProjGroup.h
  src/Mod/TechDraw/App/DrawProjGroupItem.h
  src/Mod/TechDraw/App/DrawViewBalloon.cpp
  src/Mod/TechDraw/App/DrawViewDimExtent.h
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewDimension.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/App/LandmarkDimension.cpp
  src/Mod/TechDraw/App/LandmarkDimension.h
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotationImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotationImp.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensionsImp.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawDimensionsImp.h
  src/Mod/TechDraw/Gui/PreferencesGui.cpp
  src/Mod/TechDraw/Gui/PreferencesGui.h
  src/Mod/TechDraw/Gui/QGIArrow.cpp
  src/Mod/TechDraw/Gui/QGIArrow.h
  src/Mod/TechDraw/Gui/QGILeaderLine.cpp
  src/Mod/TechDraw/Gui/QGISectionLine.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.h
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/TaskDimRepair.cpp
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
  src/Mod/TechDraw/Gui/TaskLinkDim.cpp
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
  src/Mod/TechDraw/Gui/ViewProviderDimension.cpp
Labels: Mod: TechDraw, Approved

#19916 CMake: Add GCC/Clang `-fdiagnostics=color` compiler option.
  cMake/FreeCAD_Helpers/CompilerChecksAndSetups.cmake
Labels: Packaging/building

#19974 Add support of compile/link jobs pooling
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
Labels: Packaging/building

#19982 TD: Add missing Boost headers to PCH
  src/Mod/TechDraw/App/PreCompiled.h
Labels: Mod: TechDraw

#19985 Draft: fix Trimex visibility change
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: Mod: Draft

#19979 Update actions/stale
  .github/workflows/auto-close_stale_issues_and_pull-requests.yml
Labels: :octocat:

#19823 BIM: make ifcopenshell version upgrade more robust
  src/Mod/BIM/nativeifc/ifc_openshell.py
Labels: Mod: BIM

#19975 Addon Manager: Adjust use of QDialogButtonBox
  src/Mod/AddonManager/update_all.ui
Labels: Mod: Addon Manager, Approved

#19933 CI: Refactor generic whitespace checks linting setup.
  .github/workflows/sub_lint.yml
  tools/lint/generic_checks.py
  tools/lint/utils.py
Labels: :octocat:

#19755 clean FindOCC.cmake
  cMake/FindOCC.cmake
Labels: Packaging/building

#19932 Start: fix fileview use scrollbars as needed
  src/Mod/Start/Gui/FileCardView.cpp
Labels: Mod: Start

#19992 About: Add build date to clipboard data.
  src/Gui/Dialogs/DlgAbout.cpp
Labels: Mod: Core, Approved

#19997 CI: Add merge_group as trigger
  .github/workflows/CI_master.yml
Labels: :octocat:

#19211 [Gui] Trigger the same checks for Drag & Dropping files as File > Open
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Gui/CommandDoc.cpp
Labels: Mod: Core

#19889 fix #18356 Sketcher: External reference line defaults to geometry, but vertex does not
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#19977 Application tidy up (the easy ones)
  src/App/Application.cpp
Labels: Mod: Core, Approved

#20007 FEM: Add Joule heating to FEM Examples
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femexamples/equation_staticcurrent_elmer.py
Labels: Mod: FEM

#19995 Fixes light direction configuration issues between 1.0 and 1.1dev
  src/Gui/PreferencePages/DlgSettingsLightSources.cpp
  src/Gui/PreferencePages/DlgSettingsLightSources.h
  src/Gui/View3DSettings.cpp
Labels: Mod: Core, Approved

#20002 Fem: Some changes in static current features
  src/Mod/Fem/Gui/Resources/symbols/ConstraintCurrentDensity.iv
  src/Mod/Fem/femsolver/elmer/equations/staticcurrent.py
  src/Mod/Fem/femsolver/elmer/equations/staticcurrent_writer.py
Labels: Mod: FEM, Approved

#20013 Add devicePixelRatio to about info
  src/Gui/Dialogs/DlgAbout.cpp
Labels: Mod: Core

#19948 Start: enable multiple custom folder paths
  src/Mod/Start/App/CustomFolderModel.cpp
  src/Mod/Start/App/CustomFolderModel.h
  src/Mod/Start/Gui/DlgStartPreferences.ui
  src/Mod/Start/Gui/PreCompiled.h
  src/Mod/Start/Gui/StartView.cpp
  src/Mod/Start/StartMigrator.py
Labels: Mod: Start

#20016 Fix the Measure Tool which will crash the app with a stack overflow if you measure the same amount twice
  src/App/Document.cpp
  src/App/PropertyStandard.cpp
Labels: Mod: Core, Needs backport

#20019 Core: Text object: Fix icon of the tab.
  src/Gui/TextDocumentEditorView.cpp
Labels: Mod: Core, Needs backport

#20026 Assembly: Fix use of datum axis in joints
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly

#20015 Add GitHub files to precommit
  .github/codespellignore
  .github/problemMatcher/blackWarning.json
  .github/problemMatcher/clang.json
  .github/problemMatcher/codespell.json
  .github/problemMatcher/cpplint.json
  .github/problemMatcher/grepMatcherWarning.json
  .github/problemMatcher/msvc.json
  .github/problemMatcher/pylintError.json
  .github/problemMatcher/pylintWarning.json
  .github/workflows/auto-close_stale_issues_and_pull-requests.yml
  .pre-commit-config.yaml
Labels: :octocat:

#20028 Assembly: Make it possible to select LCS elements when the LCS is in a body
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly

#20017 App: Cleanup parameter names in Application.*
  src/App/Application.cpp
  src/App/Application.h
Labels: Mod: Core, Approved

#20055 Fem: Improve magnetization
  src/Mod/Fem/Gui/Resources/ui/Magnetization.ui
  src/Mod/Fem/femexamples/equation_magnetodynamics_elmer.py
  src/Mod/Fem/femexamples/equation_magnetostatics_2D_elmer.py
  src/Mod/Fem/femobjects/constraint_magnetization.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D_writer.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic_writer.py
  src/Mod/Fem/femtaskpanels/task_constraint_magnetization.py
Labels: Mod: FEM

#20008 QuantitySpinbox: Fix right padding when not bound
  src/Gui/ExpressionBinding.cpp
Labels: Mod: Core, Needs backport, Approved

#20011 FEM: Add ccx rigid body constraint example
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femexamples/ccx_rigid_body.py
Labels: Mod: FEM, Approved

#20030 PartDesign: Fix App::Line as ref for polar pattern
  src/Mod/PartDesign/App/FeaturePolarPattern.cpp
Labels: Mod: Part Design

#20058 App: Fix regression for document creation requests coming from the main document.
  src/App/Application.cpp
  src/App/Application.h
  src/App/ApplicationPy.cpp
  src/Gui/Application.cpp
  src/Mod/Import/App/ImportOCAF2.cpp
  src/Mod/PartDesign/App/ShapeBinder.cpp
Labels: Mod: Core, Mod: Part Design

#20052 removed old python code <3.10
  src/App/FeaturePythonPyImp.h
  src/App/FeaturePythonPyImp.inl
  src/Base/Interpreter.cpp
  src/Base/PyObjectBase.cpp
  src/Base/PyTools.c
  src/Gui/PythonConsole.cpp
  src/Gui/PythonDebugger.cpp
  src/Gui/WidgetFactory.cpp
  src/Mod/CAM/App/VoronoiPyImp.cpp
Labels: Mod: Core, Mod: CAM

#20077 Fem: Use left alignment in Gmsh task panel
  src/Mod/Fem/Gui/Resources/ui/MeshGmsh.ui
Labels: Mod: FEM

#19976 CAM: Fix an error in CAM/Path/Post/UtilsParse.py
  src/Mod/CAM/Path/Post/UtilsParse.py
Labels: Mod: CAM, Approved

#19998 CMake: Silence Coin3D deprecation warning
  cMake/FreeCAD_Helpers/SetupCoin3D.cmake
Labels: Packaging/building, Approved

#20053 Fem: Use disambiguation for solid references in Elmer equation task panels
  src/Mod/Fem/femguiutils/selection_widgets.py
  src/Mod/Fem/femsolver/elmer/equations/equation.py
Labels: Mod: FEM, Approved

#20064 [App] Application remove some using namespace
  src/App/Application.cpp
Labels: Mod: Core, Approved

#20059 Fem: Change from radio buttons to combo box to reduce space in heat flux task panel
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.h
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.ui
Labels: Mod: FEM, Approved

#19649 refactor(Gui): improve the taskpanel
  src/Gui/CMakeLists.txt
  src/Gui/QSint/actionpanel/actionbox.cpp
  src/Gui/QSint/actionpanel/actionbox.h
  src/Gui/QSint/actionpanel/actiongroup.cpp
  src/Gui/QSint/actionpanel/actiongroup.h
  src/Gui/QSint/actionpanel/actionlabel.cpp
  src/Gui/QSint/actionpanel/actionlabel.h
  src/Gui/QSint/actionpanel/actionpanel.cpp
  src/Gui/QSint/actionpanel/actionpanel.h
  src/Gui/QSint/actionpanel/actionpanelscheme.cpp
  src/Gui/QSint/actionpanel/actionpanelscheme.h
  src/Gui/QSint/actionpanel/android/Fold.png
  src/Gui/QSint/actionpanel/android/FoldOver.png
  src/Gui/QSint/actionpanel/android/Unfold.png
  src/Gui/QSint/actionpanel/android/UnfoldOver.png
  src/Gui/QSint/actionpanel/androidpanelscheme.cpp
  src/Gui/QSint/actionpanel/androidpanelscheme.h
  src/Gui/QSint/actionpanel/default/Fold.png
  src/Gui/QSint/actionpanel/default/FoldOver.png
  src/Gui/QSint/actionpanel/default/Unfold.png
  src/Gui/QSint/actionpanel/default/UnfoldOver.png
  src/Gui/QSint/actionpanel/freecadscheme.cpp
  src/Gui/QSint/actionpanel/freecadscheme.h
  src/Gui/QSint/actionpanel/mac/FoldOver.png
  src/Gui/QSint/actionpanel/mac/UnfoldOver.png
  src/Gui/QSint/actionpanel/macpanelscheme.cpp
  src/Gui/QSint/actionpanel/macpanelscheme.h
  src/Gui/QSint/actionpanel/schemes.qrc
  src/Gui/QSint/actionpanel/taskgroup_p.cpp
  src/Gui/QSint/actionpanel/taskgroup_p.h
  src/Gui/QSint/actionpanel/taskheader_p.cpp
  src/Gui/QSint/actionpanel/taskheader_p.h
  src/Gui/QSint/actionpanel/vista/Fold.png
  src/Gui/QSint/actionpanel/vista/FoldOver.png
  src/Gui/QSint/actionpanel/vista/Unfold.png
  src/Gui/QSint/actionpanel/vista/UnfoldOver.png
  src/Gui/QSint/actionpanel/winvistapanelscheme.cpp
  src/Gui/QSint/actionpanel/winvistapanelscheme.h
  src/Gui/QSint/actionpanel/winxppanelscheme.cpp
  src/Gui/QSint/actionpanel/winxppanelscheme.h
  src/Gui/QSint/actionpanel/xp/FoldOver_Blue1.png
  src/Gui/QSint/actionpanel/xp/FoldOver_Blue2.png
  src/Gui/QSint/actionpanel/xp/Fold_Blue1.png
  src/Gui/QSint/actionpanel/xp/Fold_Blue2.png
  src/Gui/QSint/actionpanel/xp/UnfoldOver_Blue1.png
  src/Gui/QSint/actionpanel/xp/UnfoldOver_Blue2.png
  src/Gui/QSint/actionpanel/xp/Unfold_Blue1.png
  src/Gui/QSint/actionpanel/xp/Unfold_Blue2.png
  src/Gui/QSint/include/QSint
  src/Gui/TaskView/TaskView.cpp
Labels: Mod: Core, Approved

#20049 Refactor static type checks
  src/App/PropertyContainer.h
Labels: Mod: Core, Help wanted

#20031 App::Link : deleting it deletes its elements if any
  src/Gui/ViewProviderLink.cpp
Labels: Mod: Core

#20050 TechDraw: removed gp_* conversion code from TechDraw workbench
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/DimensionGeometry.cpp
  src/Mod/TechDraw/App/DrawBrokenView.cpp
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawGeomHatch.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/GeometryMatcher.cpp
  src/Mod/TechDraw/App/ShapeUtils.cpp
  src/Mod/TechDraw/Gui/CommandExtensionPack.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.cpp
Labels: Mod: TechDraw, Approved

#20108 BIM: fix adding/removing boundaries to BIM Spaces
  src/Mod/BIM/Arch.py
Labels: Mod: BIM

#20118 Draft: Correct Near snap override behavior
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: Mod: Draft

#20109 [BIM] Correct styling of DeleteIFCProperties button and add GroupBox for the two lower comboboxes and the button
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
  src/Mod/BIM/Resources/ui/dialogIfcProperties.ui
  src/Mod/BIM/bimcommands/BimIfcProperties.py
Labels: Mod: Core, Mod: BIM, Topic: Stylesheets

#20072 Draft: Implement Dim Auto Flip Text
  src/Mod/Draft/draftmake/make_dimension.py
  src/Mod/Draft/draftutils/params.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
Labels: Mod: Draft

#20113 Remove unnecessary check (duplicated)
  src/Mod/Assembly/Gui/PreCompiled.h
  src/Mod/Cloud/Gui/PreCompiled.h
  src/Mod/Import/Gui/PreCompiled.h
  src/Mod/Material/Gui/PreCompiled.h
  src/Mod/Measure/Gui/PreCompiled.h
  src/Mod/Mesh/Gui/Command.cpp
  src/Mod/Mesh/Gui/PreCompiled.h
  src/Mod/Part/Gui/PreCompiled.h
  src/Mod/PartDesign/Gui/PreCompiled.h
  src/Mod/Sketcher/Gui/PreCompiled.h
  src/Mod/Spreadsheet/Gui/PreCompiled.h
  src/Tools/_TEMPLATE_/Gui/PreCompiled.h
Labels: Mod: Part Design, Mod: Part, Mod: Spreadsheet, Mod: Sketcher, Mod: Mesh, Mod: Assembly, Mod: Materials, Mod: Measurement

#19946 TechDraw: Fix double free when resetting line formats
  src/Mod/TechDraw/App/CosmeticExtension.cpp
Labels: Mod: TechDraw, Needs backport

#19926 Gui: clean up PropertyItem::toString
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Gui/propertyeditor/PropertyItem.h
  src/Mod/Sketcher/Gui/PropertyConstraintListItem.cpp
  src/Mod/Sketcher/Gui/PropertyConstraintListItem.h
Labels: Mod: Core, Mod: Sketcher

#20117 Sketcher: Move getStandardButtons to cpp file
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.cpp
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.h
Labels: Mod: Sketcher

#19911 Part: fix infinite recursion in boolean cut
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.h
Labels: Mod: Part

#19929 Gui: HiDPI NaviCube fix
  src/Gui/NaviCube.cpp
Labels: Mod: Core

#19843 fix #19831 Sketcher: Create external Intersection geometry not working with complex surfaces
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#20136 Mesh: Fix mistaken deletion of #include <Gui/InventorAll.h>
  src/Mod/Mesh/Gui/PreCompiled.h
Labels: Mod: Mesh

#20125 Draft: Fix error in #20118
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: Mod: Draft

#20138 [BIM] Material dialog - fix the minimum width of four buttons in new …
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
  src/Mod/BIM/bimcommands/BimMaterial.py
Labels: Mod: Core, Mod: BIM, Topic: Stylesheets

#20097 Sketcher: Clean up compiler warnings
  src/Mod/Sketcher/App/ExternalGeometryExtension.cpp
  src/Mod/Sketcher/App/SketchGeometryExtension.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.h
Labels: Mod: Sketcher

#20154 CAM: add Snapmaker postprocessor
  src/Mod/CAM/CAMTests/TestSnapmakerPost.py
  src/Mod/CAM/CMakeLists.txt
  src/Mod/CAM/Path/Post/scripts/snapmaker_post.py
  src/Mod/CAM/TestCAMApp.py
Labels: Mod: CAM

#19428 Base: Add Tracy frame profiling support.
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  src/3rdParty/CMakeLists.txt
  src/App/CMakeLists.txt
  src/App/Document.cpp
  src/Base/CMakeLists.txt
  src/Base/Profiler.h
  src/Gui/Application.cpp
  src/Gui/CMakeLists.txt
  src/Gui/Quarter/QuarterWidget.cpp
  src/Gui/Quarter/SoQTQuarterAdaptor.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Mod/Part/CMakeLists.txt
  src/Mod/Part/Gui/CMakeLists.txt
  src/Mod/Part/Gui/SoBrepFaceSet.cpp
Labels: Mod: Core, Mod: Part, Packaging/building, Approved

#20178 Measure: add translation source file for uploading to Crowdin
  src/Mod/Measure/Gui/Resources/translations/Measure_es-ES.ts
  src/Tools/updatets.py
Labels: Mod: Measurement

#20202 Fix regression in Python setup with old Shiboken.
  cMake/FreeCAD_Helpers/SetupPython.cmake
Labels: Packaging/building, Approved

#20173 Fix various typos
  src/Gui/CommandView.cpp
  src/Gui/Dialogs/DlgMacroExecuteImp.cpp
  src/Gui/Selection/Selection.h
  src/Gui/Selection/SoFCUnifiedSelection.cpp
  src/Mod/BIM/Resources/ui/dialogImport.ui
  src/Mod/BIM/Resources/ui/dialogProjectManager.ui
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/importers/importSH3DHelper.py
  src/Mod/CAM/Path/Main/Gui/Simulator.py
  src/Mod/CAM/Path/Main/Gui/SimulatorGL.py
  src/Mod/CAM/Path/Post/UtilsParse.py
  src/Mod/Draft/draftobjects/patharray.py
  src/Mod/Part/Gui/SoBrepFaceSet.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerSplitting.h
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.h
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.cpp
  src/Mod/TechDraw/Gui/QGIFace.cpp
  tools/build/WindowsInstaller/include/gui.nsh
  tools/build/WindowsInstaller/include/init.nsh
Labels: Mod: Core, Mod: BIM, Mod: Draft, Mod: CAM, Mod: TechDraw, Mod: Part, Mod: Sketcher, Approved

#20191 clean Gui/CMakeLists.txt
  src/Gui/CMakeLists.txt
Labels: Mod: Core, Approved

#20207 BIM: Fixed space text display
  src/Mod/BIM/ArchSpace.py
Labels: Mod: BIM, Approved

#20184 Package: Fix apt install script to handle VTK for newer Ubuntu releases.
  package/ubuntu/install-apt-packages.sh
Labels: Approved

#20179 Update sub_lint.yml
  .github/workflows/sub_lint.yml
Labels: :octocat:, Approved

#20165 Sketcher: Add parameter to combine line and polyline
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.ui
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: Mod: Sketcher, Approved

#20141 Change IfcElements window width
  src/Mod/BIM/Resources/ui/dialogIfcElements.ui
Labels: Mod: BIM, Approved

#20105 Sketcher: DSH: add OVP constraints before AutoConstraints.
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
Labels: Mod: Sketcher, Approved

#19917 Core: Refactor code around document and feature recompute
  src/App/Document.cpp
  src/App/private/DocumentP.h
  src/Gui/Command.cpp
  src/Gui/Command.h
  src/Gui/CommandDoc.cpp
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/TaskFeatureParameters.cpp
  src/Mod/PartDesign/Gui/ViewProviderTransformed.cpp
  src/Mod/PartDesign/Gui/ViewProviderTransformed.h
  src/Mod/TechDraw/Gui/TaskBalloon.cpp
  src/Mod/TechDraw/Gui/TaskDimension.cpp
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
Labels: Mod: Core, Mod: TechDraw, Mod: Part Design, Mod: Part, Approved

#19890 Sketcher: Preference color added for External defining geometry
  src/Gui/PreferencePackTemplates/Sketcher_Colors.cfg
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.h
  src/Mod/Sketcher/Gui/EditModeGeometryCoinManager.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettingsAppearance.ui
Labels: Mod: Core, Mod: Sketcher, Approved

#19252 PartDesign: explicitly thread pitch for regular profile ISO threads
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/PartDesignTests/TestHole.py
Labels: Mod: Part Design, Approved

#17779 Remove support for Boost.Python
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  cMake/FreeCAD_Helpers/SetupPybind11.cmake
  cMake/UseLibPack3.cmake
  package/ubuntu/install-apt-packages.sh
  src/Mod/CAM/libarea/CMakeLists.txt
  src/Mod/CAM/libarea/PythonStuff.cpp
  src/Mod/CAM/libarea/PythonStuff.h
  src/Mod/MeshPart/App/CMakeLists.txt
  src/Mod/MeshPart/App/MeshFlatteningBoostPython.cpp
Labels: Mod: CAM, :octocat:, Mod: MeshPart

#19661 CAM: Improve warning text for improper unit scheme
  src/Mod/CAM/Path/Main/Gui/JobDlg.py
Labels: Mod: CAM

#20140 BIM: Fixed classification dialog's Cancel button
  src/Mod/BIM/Resources/ui/dialogClassification.ui
Labels: Mod: BIM

#19924 Gui: avoid code duplication in PythonEditor
  src/Gui/PythonEditor.cpp
  src/Gui/TextEdit.cpp
  src/Gui/TextEdit.h
Labels: Mod: Core

#19788 TechDraw: remove unneeded state, part 1
  src/Mod/TechDraw/Gui/PATPathMaker.cpp
  src/Mod/TechDraw/Gui/PATPathMaker.h
  src/Mod/TechDraw/Gui/QGCustomText.cpp
  src/Mod/TechDraw/Gui/QGCustomText.h
  src/Mod/TechDraw/Gui/QGIArrow.cpp
  src/Mod/TechDraw/Gui/QGIBreakLine.cpp
  src/Mod/TechDraw/Gui/QGICMark.cpp
  src/Mod/TechDraw/Gui/QGICMark.h
  src/Mod/TechDraw/Gui/QGICenterLine.cpp
  src/Mod/TechDraw/Gui/QGIDecoration.cpp
  src/Mod/TechDraw/Gui/QGIDecoration.h
  src/Mod/TechDraw/Gui/QGIDimLines.cpp
  src/Mod/TechDraw/Gui/QGIEdge.cpp
  src/Mod/TechDraw/Gui/QGIEdge.h
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIFace.h
  src/Mod/TechDraw/Gui/QGIHighlight.cpp
  src/Mod/TechDraw/Gui/QGIPrimPath.cpp
  src/Mod/TechDraw/Gui/QGIPrimPath.h
  src/Mod/TechDraw/Gui/QGISectionLine.cpp
  src/Mod/TechDraw/Gui/QGITile.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
Labels: Mod: TechDraw

#20172 Sketcher: Fix negative angle rendering negative bug
  src/Gui/SoDatumLabel.cpp
Labels: Mod: Core

#19583 Refactor Base::Type
  src/App/Extension.cpp
  src/App/Extension.h
  src/App/ProjectFile.cpp
  src/App/PropertyContainer.h
  src/App/PropertyStandard.cpp
  src/Base/BaseClass.cpp
  src/Base/BaseClass.h
  src/Base/BaseClassPyImp.cpp
  src/Base/Type.cpp
  src/Base/Type.h
  src/Base/TypePyImp.cpp
  src/Gui/DAGView/DAGFilter.cpp
  src/Gui/DAGView/DAGModel.cpp
  src/Gui/Dialogs/DlgAddPropertyVarSet.cpp
  src/Gui/Dialogs/DlgExpressionInput.cpp
  src/Gui/Selection/Selection.cpp
  src/Mod/Measure/App/MeasureDistance.cpp
  src/Mod/Part/App/GeometryDefaultExtension.h
  src/Mod/Part/App/GeometryPyImp.cpp
  src/Mod/Sketcher/App/ExternalGeometryFacadePyImp.cpp
  src/Mod/Sketcher/App/GeometryFacadePyImp.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
Labels: Mod: Core, Mod: Part, Mod: Sketcher, Mod: Measurement, Approved

#20160 Add missing parent for messagbox and other popups.
  src/Gui/CommandStd.cpp
  src/Gui/Dialogs/DlgMacroExecuteImp.cpp
  src/Gui/Dialogs/DlgPreferencesImp.cpp
  src/Gui/Placement.cpp
  src/Gui/TaskView/TaskDialog.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
  src/Mod/PartDesign/Gui/TaskDatumParameters.cpp
  src/Mod/PartDesign/Gui/ViewProvider.cpp
  src/Mod/PartDesign/Gui/ViewProviderBoolean.cpp
  src/Mod/PartDesign/Gui/ViewProviderDatum.cpp
  src/Mod/PartDesign/Gui/ViewProviderHole.cpp
  src/Mod/PartDesign/Gui/ViewProviderPrimitive.cpp
  src/Mod/PartDesign/Gui/ViewProviderShapeBinder.cpp
  src/Mod/Points/Gui/Command.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
  src/Mod/TechDraw/Gui/TemplateTextField.cpp
Labels: Mod: Core, Mod: FEM, Mod: TechDraw, Mod: Part Design, Mod: Sketcher, Mod: Points, Mod: Assembly, Approved

#20040 QuickMeasure: Do not measure datums
  src/Mod/Measure/Gui/QuickMeasure.cpp
Labels: Mod: Measurement, Needs backport, Approved

#20177 TechDraw: Fix flickering cursor issue
  src/Mod/TechDraw/Gui/QGVNavStyleTouchpad.cpp
Labels: Mod: TechDraw, Needs backport, Approved

#20201 Draft: make Draft_Edit also detect key up events
  src/Mod/Draft/draftguitools/gui_edit.py
Labels: Mod: Draft, Needs backport

#20095 TechDraw: changed CosmeticVertex point picker dashed circle to filled dot.
  .gitignore
  src/Mod/TechDraw/Gui/QGEPath.cpp
  src/Mod/TechDraw/Gui/QGEPath.h
  src/Mod/TechDraw/Gui/QGIVertex.cpp
  src/Mod/TechDraw/Gui/QGIVertex.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.h
  src/Mod/TechDraw/Gui/QGTracker.cpp
Labels: Mod: TechDraw

#20051 Assembly: Fix: Select datum should not show dragger.
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Mod: Assembly

#20133 [Base] improve enum size setting
  src/Base/FileInfo.h
Labels: Mod: Core

#20226 [App] fix MacOS build reported in #20068
  src/App/Application.cpp
Labels: Mod: Core

#19955 CAM: Added three command line options to the refactored postprocessors code base, with tests
  src/Mod/CAM/CAMTests/TestRefactoredGrblPost.py
  src/Mod/CAM/CAMTests/TestRefactoredTestPost.py
  src/Mod/CAM/CAMTests/TestRefactoredTestPostGCodes.py
  src/Mod/CAM/Path/Post/UtilsArguments.py
  src/Mod/CAM/Path/Post/UtilsParse.py
Labels: Mod: CAM, Approved

#20033 Fix crash while taking measurement
  src/App/PropertyStandard.cpp
Labels: Mod: Core

#20256 TechDraw: Backported the fix for flickering cursor issue
  src/Mod/TechDraw/Gui/QGVNavStyleTouchpad.cpp
Labels: Mod: TechDraw

#20283 CI: Temporarily disable Clazy checks.
  .github/workflows/sub_lint.yml
Labels: :octocat:

#20223 [App] Fix the crash reported in #20212
  src/App/PropertyLinks.cpp
Labels: Mod: Core

#20156 FreeCAD: Compiler warning fixes
  src/Base/StackWalker.cpp
  src/Base/Tools.h
  src/Gui/Dialogs/DlgPreferencePackManagementImp.cpp
  src/Gui/SoDatumLabel.cpp
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/ViewProviderPlane.cpp
  src/Mod/CAM/libarea/pyarea.cpp
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Mesh/App/Core/MeshKernel.cpp
  src/Mod/Spreadsheet/App/PropertySheet.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  tests/src/Base/Reader.cpp
  tests/src/Mod/Part/App/FuzzyBoolean.cpp
Labels: Mod: Core, Mod: FEM, Mod: CAM, Mod: TechDraw, Mod: Spreadsheet, Mod: Mesh, Approved

#20158 BIM: allow boundaries to be defined from a single object (e.g. wall)
  src/Mod/BIM/Arch.py
  src/Mod/BIM/TestArch.py
  src/Mod/BIM/bimcommands/BimSpace.py
Labels: Mod: BIM

#20241 fix dialogs button size in case of long text (fix for #18019)
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
Labels: Mod: Core, Topic: Stylesheets

#20248 PCL: Follow rename and deprecation of `point_traits.h` header
  src/Mod/ReverseEngineering/App/SurfaceTriangulation.cpp
Labels: Mod: Reverse Engineering

#20227 Base: Remove XML binding files.
  src/Base/AxisPy.xml
  src/Base/BaseClassPy.xml
  src/Base/BoundBoxPy.xml
  src/Base/CMakeLists.txt
  src/Base/CoordinateSystemPy.xml
  src/Base/MatrixPy.xml
  src/Base/PersistencePy.xml
  src/Base/PlacementPy.xml
  src/Base/PrecisionPy.xml
  src/Base/QuantityPy.xml
  src/Base/RotationPy.xml
  src/Base/TypePy.xml
  src/Base/UnitPy.xml
  src/Base/VectorPy.xml
  src/Tools/bindings/templates/templateClassPyExport.py
Labels: Mod: Core

#20200 Draft: make Near snap obey 'Always snap' setting
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: Mod: Draft

#20069 [ArchStairs] ArchSketch Support and Refactoring Phase 1
  src/Mod/BIM/ArchStairs.py
  src/Mod/BIM/bimcommands/BimStairs.py
Labels: Mod: BIM

#20146 BIM: add unit test for addSpaceBoundaries
  src/Mod/BIM/TestArch.py
Labels: Mod: BIM

#20222 BIM: move add/removeSpace boundaries implementation to Arch module
  src/Mod/BIM/Arch.py
  src/Mod/BIM/ArchSpace.py
Labels: Mod: BIM

#20274 BIM_Classification dialgue - change tooltips and text to better represent their functions
  src/Mod/BIM/Resources/ui/dialogClassification.ui
  src/Mod/BIM/bimcommands/BimClassification.py
Labels: Mod: BIM

#20319 Sketcher: Remove unecessary if in DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
Labels: Mod: Sketcher

#20022 PartDesign: clone tooltip
  src/Mod/PartDesign/Gui/Command.cpp
Labels: Mod: Part Design, Needs backport

#19630 Core: raise exception when no space left on disk at document save
  src/App/Document.cpp
  src/Base/Writer.cpp
  src/Base/Writer.h
Labels: Mod: Core

#20084 remove support to oldest occ <7.5
  cMake/FindOCC.cmake
  src/Mod/Import/App/AppImportPy.cpp
  src/Mod/Import/App/ImportOCAF2.cpp
  src/Mod/Import/App/ReaderGltf.cpp
  src/Mod/Import/App/ReaderIges.cpp
  src/Mod/Import/App/ReaderStep.cpp
  src/Mod/Import/App/StepShape.cpp
  src/Mod/Import/App/Tools.cpp
  src/Mod/Import/App/WriterGltf.cpp
  src/Mod/Import/Gui/AppImportGuiPy.cpp
  src/Mod/Part/App/CMakeLists.txt
  src/Mod/Part/App/HLRBRep/HLRBRep_PolyAlgoPy.xml
  src/Mod/Part/App/HLRBRep/HLRBRep_PolyAlgoPyImp.cpp
  src/Mod/Part/App/ImportIges.cpp
  src/Mod/Part/App/ImportStep.cpp
  src/Mod/Part/App/OpenCascadeAll.h
  src/Mod/Part/App/ProgressIndicator.cpp
  src/Mod/Part/App/ProgressIndicator.h
  src/Mod/Part/App/ShapeFix/ShapeFix_SolidPyImp.cpp
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
  src/Mod/Part/Gui/TaskCheckGeometry.h
  src/Mod/Part/Gui/ViewProviderExt.cpp
  tests/src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Mod: Part, Packaging/building

#20359 Base: Silence do-while warning at source
  src/Base/Console.h
Labels: Mod: Core

#20360 Replace std::endl with '\n'
  src/Base/Console.h
Labels: Mod: Core

#20370 cmake: remove distutils usage for python < 3.10
  src/Ext/freecad/CMakeLists.txt
  src/Mod/CAM/libarea/CMakeLists.txt
Labels: Mod: CAM

#20122 [TD]fix view loses dimensions (fix #19968)
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
Labels: Mod: TechDraw

#20023 PartDesign : Subshapebinder tooltip
  src/Mod/PartDesign/Gui/Command.cpp
Labels: Mod: Part Design, Needs backport

#19934 [Spreadsheet] Fix input in expression editor
  src/Gui/ExpressionCompleter.cpp
  src/Gui/ExpressionCompleter.h
  src/Mod/Spreadsheet/Gui/LineEdit.cpp
  src/Mod/Spreadsheet/Gui/LineEdit.h
Labels: Mod: Core, Mod: Spreadsheet

#20186 Mesh: change context for strings on task panel
  src/Mod/Mesh/Gui/Workbench.cpp
Labels: Mod: Mesh

#20088 Gui: Align to selection using a smaller rotation
  src/Gui/View3DInventorViewer.cpp
Labels: Mod: Core

#20295 BIM: Fixed project manager's save/restore
  src/Mod/BIM/bimcommands/BimProjectManager.py
Labels: Mod: BIM

#20267 Sketcher: Line tool: Enforce correctly when angle is set
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
Labels: Mod: Sketcher

#20110 [TD]Headless view creation (fix #20024)
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewSection.cpp
Labels: Mod: TechDraw

#20269 Sketcher: Slot tool: Enforce correctly when angle is set
  src/Mod/Sketcher/Gui/DrawSketchHandlerSlot.h
Labels: Mod: Sketcher

#20253 Assembly: ignore joints in error
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly

#20215 Start: fix filecards black background under some themes
  src/Mod/Start/Gui/FileCardDelegate.cpp
  src/Mod/Start/Gui/FileCardDelegate.h
Labels: Mod: Start

#20361 Do not specify a version in FindOCC.cmake
  cMake/FindOCC.cmake
Labels: Packaging/building

#20343 [Spreadsheet] Code base update in SheetModel.cpp
  src/Mod/Spreadsheet/Gui/SheetModel.cpp
  src/Mod/Spreadsheet/Gui/SheetModel.h
Labels: Mod: Spreadsheet

#20394 Gui: Check return value
  src/Gui/AutoSaver.cpp
Labels: Mod: Core

#20392 App: Prevent exceptions in destructors
  src/App/PropertyLinks.cpp
  src/App/PropertyPythonObject.cpp
Labels: Mod: Core

#20388 Fem: remove unused variable in Command
  src/Mod/Fem/Gui/Command.cpp
Labels: Mod: FEM

#20386 FEM: myStudyId not needed when SMESH >= 9
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/App/FemMesh.h
Labels: Mod: FEM

#20354 Draft: show and hide Tray with delay
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft, Needs backport

#20399 Part: remove rogue margins from ui file
  src/Mod/Part/Gui/DlgExportHeaderStep.ui
  src/Mod/Part/Gui/DlgImportStep.ui
Labels: Mod: Part

#20216 Start: fix newbuttons vertical sizing
  src/Mod/Start/Gui/CMakeLists.txt
  src/Mod/Start/Gui/FlowLayout.cpp
  src/Mod/Start/Gui/NewFileButton.cpp
  src/Mod/Start/Gui/NewFileButton.h
  src/Mod/Start/Gui/StartView.cpp
Labels: Mod: Start
