Repository FreeCAD/FreeCAD, pull requests merged in 2025-07, with the labels that each got.

#22301 FEM: Correct "Qquations" typo in the menu
  src/Mod/Fem/Gui/Command.cpp
Labels: Mod: FEM

#22293 Materials: Add support for embedded images
  src/Mod/Material/Gui/BaseDelegate.cpp
  src/Mod/Material/Gui/ImageEdit.cpp
  src/Mod/Material/Gui/MaterialsEditor.cpp
Labels: Mod: Materials

#22300 Core: Remove outdated tooltip from light source preferences
  src/Gui/PreferencePages/DlgSettingsLightSources.ui
Labels: Mod: Core

#22319 Materials: Add import for unimplemented fields
  src/Mod/Material/App/MaterialLoader.cpp
  src/Mod/Material/App/Materials.cpp
  src/Mod/Material/App/Materials.h
Labels: Mod: Materials

#22334 Fix various typos
  src/Mod/BIM/ArchRoof.py
  src/Mod/Robot/Gui/TaskTrajectoryDressUpParameter.ui
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
Labels: Mod: BIM, Mod: Sketcher

#22354 CAM: Fix origin indicator for Job
  src/Base/PyObjectBase.h
  src/Gui/Application.cpp
  src/Gui/InputHintPy.cpp
  src/Mod/CAM/Path/Main/Gui/Job.py
Labels: Mod: Core, Mod: CAM

#22240 Draft: DraftGui.py replace QtCore.QObject.connect
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft, Coding: Python

#22138 Compiler warning cleanup
  src/Gui/CommandView.cpp
  src/Gui/MainWindow.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Mod/CAM/PathSimulator/AppGL/GuiDisplay.cpp
  src/Mod/CAM/PathSimulator/AppGL/MillSimulation.h
  src/Mod/Fem/Gui/TaskPostBoxes.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewSection.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.h
Labels: Mod: Core, Mod: FEM, Mod: CAM, Mod: TechDraw

#22355 [TechDraw] Fix Qt6 compatability of FillTemplateFields tool
  src/Mod/TechDraw/TechDrawTools/TaskFillTemplateFields.py
Labels: Mod: TechDraw

#22359 Gui: Fix too small link icon on high dpi
  src/Gui/ViewProviderLink.cpp
Labels: Mod: Core, Approved

#22308 Sketcher: Autoscale: do not scale dimension's position if it is a radius or diameter
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
Labels: Mod: Sketcher

#20668 Gui: Add Style Parameter Manager to contain theme parameters
  src/Base/Tools.h
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Gui/CMakeLists.txt
  src/Gui/CommandStd.cpp
  src/Gui/Dialogs/DlgThemeEditor.cpp
  src/Gui/Dialogs/DlgThemeEditor.h
  src/Gui/Dialogs/DlgThemeEditor.ui
  src/Gui/OverlayManager.cpp
  src/Gui/PreCompiled.h
  src/Gui/PreferencePackManager.cpp
  src/Gui/PreferencePages/DlgSettingsUI.cpp
  src/Gui/PreferencePages/DlgSettingsUI.h
  src/Gui/PreferencePages/DlgSettingsUI.ui
  src/Gui/StyleParameters/ParameterManager.cpp
  src/Gui/StyleParameters/ParameterManager.h
  src/Gui/StyleParameters/Parser.cpp
  src/Gui/StyleParameters/Parser.h
  src/Gui/Tools.h
  tests/src/Gui/CMakeLists.txt
  tests/src/Gui/StyleParameters/ParameterManagerTest.cpp
  tests/src/Gui/StyleParameters/ParserTest.cpp
  tests/src/Gui/StyleParameters/StyleParametersApplicationTest.cpp
Labels: Mod: Core

#22223 BIM: fix profile selection
  src/Mod/BIM/ArchStructure.py
  src/Mod/BIM/bimcommands/BimProfile.py
  src/Mod/Draft/draftutils/params.py
Labels: Mod: BIM, Mod: Draft

#22260 BIM: fix visibility handling of objects hosted by additions
  src/Mod/BIM/ArchComponent.py
Labels: Mod: BIM

#22280 BIM: check OutListRecursive in addComponents
  src/Mod/BIM/ArchCommands.py
Labels: Mod: BIM

#21450 BIM: Add an option to preload IFC types during document opening
  src/Mod/BIM/Resources/ui/dialogImport.ui
  src/Mod/BIM/Resources/ui/preferencesNativeIFC.ui
  src/Mod/BIM/nativeifc/ifc_import.py
  src/Mod/BIM/nativeifc/ifc_tools.py
  src/Mod/BIM/nativeifc/ifc_types.py
Labels: Mod: BIM, Approved

#22295 Draft: gui_utils.py minor improvement for autogroup
  src/Mod/Draft/draftutils/gui_utils.py
Labels: Mod: Draft

#21341 CAM: Changes in warnings of old Array
  src/Mod/CAM/Path/Op/Gui/Array.py
Labels: Mod: CAM

#22134 FEM: Swap Width and Height for beam box section
  src/Mod/Fem/Gui/Resources/ui/ElementGeometry1D.ui
Labels: Mod: FEM, DWG approved

#22330 CAM: Fix for Fanuc Post-Processor
  src/Mod/CAM/Path/Post/scripts/fanuc_post.py
Labels: Mod: CAM

#22425 Draft: 1st downgrade of lofts and sweep should be de-parametrization
  src/Mod/Draft/draftfunctions/downgrade.py
Labels: Mod: Draft

#22045 Import: improve DXF C++ importer support for BLOCK and INSERT entities
  src/Mod/Draft/importDXF.py
  src/Mod/Import/App/dxf/ImpExpDxf.cpp
  src/Mod/Import/App/dxf/ImpExpDxf.h
  src/Mod/Import/App/dxf/dxf.cpp
  src/Mod/Import/App/dxf/dxf.h
  src/Mod/Import/Gui/dxf/ImpExpDxfGui.cpp
  src/Mod/Import/Gui/dxf/ImpExpDxfGui.h
Labels: Mod: Draft

#21995 Extract BackupPolicy class into its own file to facilitate automated testing
  .github/workflows/actions/runCPPTests/runAllTests/action.yml
  src/App/BackupPolicy.cpp
  src/App/BackupPolicy.h
  src/App/CMakeLists.txt
  src/App/Document.cpp
  tests/CMakeLists.txt
  tests/src/App/BackupPolicy.cpp
  tests/src/App/CMakeLists.txt
  tests/src/Base/CMakeLists.txt
  tests/src/Gui/CMakeLists.txt
  tests/src/Misc/CMakeLists.txt
  tests/src/Misc/fmt.cpp
  tests/src/Mod/Assembly/App/CMakeLists.txt
  tests/src/Mod/Assembly/CMakeLists.txt
  tests/src/Mod/Material/App/CMakeLists.txt
  tests/src/Mod/Material/CMakeLists.txt
  tests/src/Mod/Measure/App/CMakeLists.txt
  tests/src/Mod/Measure/CMakeLists.txt
  tests/src/Mod/Mesh/App/CMakeLists.txt
  tests/src/Mod/Mesh/CMakeLists.txt
  tests/src/Mod/MeshPart/App/CMakeLists.txt
  tests/src/Mod/MeshPart/CMakeLists.txt
  tests/src/Mod/Part/App/CMakeLists.txt
  tests/src/Mod/Part/CMakeLists.txt
  tests/src/Mod/PartDesign/App/CMakeLists.txt
  tests/src/Mod/PartDesign/CMakeLists.txt
  tests/src/Mod/Points/App/CMakeLists.txt
  tests/src/Mod/Points/CMakeLists.txt
  tests/src/Mod/Sketcher/App/CMakeLists.txt
  tests/src/Mod/Sketcher/CMakeLists.txt
  tests/src/Mod/Spreadsheet/App/CMakeLists.txt
  tests/src/Mod/Spreadsheet/CMakeLists.txt
  tests/src/Mod/Start/App/CMakeLists.txt
  tests/src/Mod/Start/CMakeLists.txt
  tests/src/zipios++/CMakeLists.txt
Labels: Mod: Core

#22460 [ArchWindowPresets] Further Fix Sill Change
  src/Mod/BIM/ArchWindowPresets.py
Labels: Mod: BIM

#22379 BIM: fix Height and Width inversion for rectangular pipes
  src/Mod/BIM/ArchPipe.py
Labels: Mod: BIM, Needs backporting macro

#22472 [TechDraw] fix regression from PR19502
  src/Mod/TechDraw/App/DimensionFormatter.cpp
Labels: Mod: TechDraw

#22279 [ArchWindow] subVolume Support Multi-Material (bug fix)
  src/Mod/BIM/ArchWindow.py
Labels: Mod: BIM

#22382 [TD]Revert property type changes (fix #22329)
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewDetail.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/DrawViewSection.h
Labels: Mod: TechDraw

#22121 FEM: Add thermal contact with CalculiX
  src/Mod/Fem/App/FemConstraintContact.cpp
  src/Mod/Fem/App/FemConstraintContact.h
  src/Mod/Fem/femsolver/calculix/write_constraint_contact.py
Labels: Mod: FEM

#22119 Gui: refactor SoRotationDragger
  src/Gui/CMakeLists.txt
  src/Gui/Inventor/Draggers/SoLinearDragger.cpp
  src/Gui/Inventor/Draggers/SoLinearDragger.h
  src/Gui/Inventor/Draggers/SoRotationDragger.cpp
  src/Gui/Inventor/Draggers/SoRotationDragger.h
  src/Gui/Inventor/Draggers/SoTransformDragger.cpp
  src/Gui/Inventor/Draggers/SoTransformDragger.h
  src/Gui/Inventor/SoToggleSwitch.cpp
  src/Gui/Inventor/SoToggleSwitch.h
  src/Gui/SoFCDB.cpp
  src/Gui/Utilities.h
Labels: Mod: Core

#22473 Part: Fix regression introduced by #21257
  src/Mod/Part/App/PartFeature.cpp
Labels: Mod: Part

#22462 [Measure] Revert one specific piece of code from PR19142
  src/Mod/Measure/Gui/TaskMeasure.cpp
Labels: Mod: Measurement

#22459 Stylesheet: Various fixes
  src/Gui/Dialogs/DlgPreferences.ui
  src/Gui/FileDialog.cpp
  src/Gui/PreferencePacks/CMakeLists.txt
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
  src/Gui/PreferencePacks/FreeCAD Light/FreeCAD Light.cfg
  src/Gui/PreferencePacks/package.xml
  src/Gui/QSint/actionpanel/actiongroup.cpp
  src/Gui/StyleParameters/Parser.cpp
  src/Gui/Stylesheets/CMakeLists.txt
  src/Gui/Stylesheets/FreeCAD.qss
Labels: Mod: Core, Topic: Stylesheets, DWG approved

#22067 Core: Remember export information on a per document basis
  src/App/Document.cpp
  src/App/Document.h
  src/App/ExportInfo.h
  src/App/private/DocumentP.h
  src/Gui/CommandDoc.cpp
Labels: Mod: Core

#22454 Gui: NaviCube recreate frame buffer if invalid
  src/Gui/NaviCube.cpp
Labels: Mod: Core

#22427 Sketcher: Fix #13927
  src/Gui/ToolBarManager.cpp
  src/Gui/ToolBarManager.h
Labels: Mod: Core

#22072 Sketcher: Fix Constraint Filter Handling
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.h
Labels: Mod: Sketcher

#22415 Assembly: Fixes bug for origins in Sub-`AssemblyLink`
  src/Mod/Assembly/App/AssemblyLink.cpp
  src/Mod/Assembly/App/AssemblyLink.h
Labels: Mod: Assembly

#22374 CAM: Fixing Length Check in CommandPathInspect class
  src/Mod/CAM/Path/Main/Gui/Inspect.py
  src/Mod/CAM/Path/Main/Gui/SanityCmd.py
Labels: Mod: CAM

#22203 Sketcher: manage legacy negative circle-line distance
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
Labels: Mod: Sketcher

#22538 Assembly: Fix crash 20614
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.h
Labels: Mod: Assembly, Needs backport

#22513 FEM: Add hard contact with CalculiX
  src/Mod/Fem/App/FemConstraintContact.cpp
  src/Mod/Fem/App/FemConstraintContact.h
  src/Mod/Fem/femsolver/calculix/write_constraint_contact.py
Labels: Mod: FEM

#22419 Sketcher: Only autoscale if the datum being edited is the scale defining datum
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
Labels: Mod: Sketcher, Approved

#22524 CAM: remove redundant move after drilling
  src/Mod/CAM/Path/Op/Drilling.py
Labels: Mod: CAM

#22562 Assembly: Fix error message flexible assembly #22561
  src/Mod/Assembly/JointObject.py
Labels: Mod: Assembly

#22365 Part: Align to selection - implement for 1 non-planar face selection
  src/Mod/Part/App/PartFeature.cpp
Labels: Mod: Part, Approved

#22556 CMake: Explictly add QtOpenGLWidgets
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  cMake/FreeCAD_Helpers/SetupQt.cmake
  src/Gui/CMakeLists.txt
Labels: Mod: Core, Packaging/building

#22583 CMake: Move creation of qt.conf
  cMake/FreeCAD_Helpers/CopyLibpackDirectories.cmake
Labels: Packaging/building

#22596 [Stylesheet] Update dark theme tree color and tab bar background
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
  src/Gui/Stylesheets/FreeCAD.qss
Labels: Mod: Core, Topic: Stylesheets

#22502 Sketcher: Fix random gray icon
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: Mod: Sketcher

#22227 Sketcher: Refactor Tool Hints
  src/Gui/InputHint.h
  src/Mod/Sketcher/Gui/DrawSketchHandler.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfHyperbola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfParabola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCarbonCopy.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExtend.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExternal.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerFillet.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLineSet.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerOffset.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPoint.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRotate.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerScale.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSplitting.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSymmetry.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTranslate.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTrimming.h
  tests/src/Gui/CMakeLists.txt
  tests/src/Gui/InputHintTest.cpp
Labels: Mod: Core, Mod: Sketcher, Approved

#22579 Sketcher: Add second arc helper on diameter constraint
  src/Gui/SoDatumLabel.cpp
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.h
Labels: Mod: Core, Mod: Sketcher, Approved

#22604 Gui: Fix compiler warnings
  src/Gui/Inventor/Draggers/SoLinearDragger.cpp
  src/Gui/Inventor/Draggers/SoRotationDragger.cpp
  src/Gui/StyleParameters/Parser.cpp
Labels: Mod: Core

#22601 Base: Switch from toTimeSpec to toTimeZone for Qt 6.9 compatibility
  src/Base/Tools.cpp
Labels: Mod: Core

#22505 BIM: BimBox: improve length, width and height inputs
  src/Mod/BIM/bimcommands/BimBox.py
Labels: Mod: BIM

#22383 Draft: fix hang on snapping to large point cloud
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: Mod: Draft

#22398 CAM: Adaptive: Fix NULL input shapes when top of stock equals top of model
  src/Mod/CAM/Path/Op/Adaptive.py
Labels: Mod: CAM

#22647 Assembly: Fix unconnected Joints always touched
  src/Mod/Assembly/App/AssemblyObject.cpp
Labels: Mod: Assembly

#22656 Base: Add missing header to PCH
  src/Base/PreCompiled.h
Labels: Mod: Core

#22649 PartDesign: Add migration tag
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: Mod: Part Design

#22661 TD: Remove incorrect allocation failure handler
  src/Mod/TechDraw/App/CenterLine.cpp
Labels: Mod: TechDraw

#22624 Core: Generation of Spreadsheet interface bindings
  src/Mod/Spreadsheet/App/CMakeLists.txt
  src/Mod/Spreadsheet/App/PropertyColumnWidthsPy.pyi
  src/Mod/Spreadsheet/App/PropertyRowHeightsPy.pyi
  src/Mod/Spreadsheet/App/PropertySheetPy.pyi
  src/Mod/Spreadsheet/App/SheetPy.pyi
  src/Mod/Spreadsheet/Gui/CMakeLists.txt
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheetPy.pyi
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheetPy.xml
Labels: Mod: Spreadsheet

#22623 Core: Generation of Mesh interface bindings
  src/Mod/Mesh/App/CMakeLists.txt
  src/Mod/Mesh/App/EdgePy.pyi
  src/Mod/Mesh/App/FacetPy.pyi
  src/Mod/Mesh/App/MeshFeaturePy.pyi
  src/Mod/Mesh/App/MeshFeaturePy.xml
  src/Mod/Mesh/App/MeshPointPy.pyi
  src/Mod/Mesh/App/MeshPy.pyi
  src/Mod/Mesh/App/MeshPy.xml
  src/Mod/Mesh/Gui/CMakeLists.txt
  src/Mod/Mesh/Gui/ViewProviderMeshPy.pyi
Labels: Mod: Mesh

#22668 Part: Feature Offset2D fix #22563
  src/Mod/Part/App/FeatureOffset.cpp
  tests/src/Mod/Part/App/FeatureOffset.cpp
Labels: Mod: Part

#22638 Add "Clear Recent files list" item
  src/Gui/Action.cpp
  src/Gui/Action.h
  src/Mod/Start/Gui/StartView.cpp
Labels: Mod: Core

#22620 CAM: Add missing initializers
  src/Mod/CAM/PathSimulator/AppGL/GuiDisplay.h
  src/Mod/CAM/PathSimulator/AppGL/MillSimulation.cpp
Labels: Mod: CAM

#22687 codespell: add 'DocumentIn' to list
  .github/codespellignore
Labels: :octocat:

#22698 CMake: remove unused FREECAD_USE_OCC_VARIANT.
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  package/rattler-build/build.bat
  package/rattler-build/build.sh
Labels: Packaging/building

#22697 Gui: Replace use of traceback with sys._getframe()
  src/Gui/ApplicationPy.cpp
Labels: Mod: Core

#22465 BIM: hide base of railings
  src/Mod/BIM/ArchStairs.py
Labels: Mod: BIM, Approved

#22705 [Sketcher] Ensure All Reference Constraints are Read Only…
  src/Mod/Sketcher/Gui/PropertyConstraintListItem.cpp
Labels: Mod: Sketcher

#22677 Assembly: Fix insert sub-assemblies positioning issues
  src/Mod/Assembly/CommandInsertLink.py
Labels: Mod: Assembly

#22658 Base: Disable default entity resolution
  src/Base/Parameter.cpp
Labels: Mod: Core

#22685 Assembly: Fix infinite loop with subassembly. Fix #19319
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.h
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Mod: Assembly

#22577 Sketcher: Avoid crash when using trim as described in #22352
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#22544 Gui: Allow undocking and fullscreen for all MDI windows
  src/Gui/CommandView.cpp
  src/Gui/Document.cpp
  src/Gui/Document.h
  src/Gui/MDIView.cpp
  src/Gui/MDIView.h
  src/Gui/MainWindow.cpp
  src/Gui/MainWindow.h
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/TextureMapping.cpp
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventor.h
  src/Gui/ViewProvider.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.h
Labels: Mod: Core, Mod: TechDraw, DWG approved

#22723 Fix build error on ubuntu
  src/Gui/ApplicationPy.cpp
Labels: Mod: Core

#22735 Fix various source comment typos
  src/Mod/BIM/bimcommands/BimLayers.py
  src/Mod/BIM/importers/importWebGL.py
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
Labels: Mod: BIM, Mod: Sketcher

#22748 Assembly: utils: tiny fix
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly

#22745 Part: Add error handling to TopoShape::isLinearEdge
  src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Mod: Part

#22662 Assembly: unconnected joints: icon overlay instead of annoying warning.
  src/Gui/Application.cpp
  src/Gui/ViewProviderFeaturePython.cpp
  src/Gui/ViewProviderFeaturePython.h
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.h
  src/Mod/Assembly/JointObject.py
Labels: Mod: Core, Mod: Assembly, DWG approved

#22750 TaskView: Add 'Permanent task box' framework.
  src/Gui/TaskView/TaskView.cpp
  src/Gui/TaskView/TaskView.h
Labels: Mod: Core, Approved

#22082 Gui: add 'Select group contents' context menu item
  src/Gui/Icons/Std_SelectGroupContents.svg
  src/Gui/Icons/resource.qrc
  src/Gui/ViewProviderDocumentObjectGroup.cpp
  src/Gui/ViewProviderDocumentObjectGroup.h
Labels: Mod: Core, DWG approved

#22393 PartDesign: Hole: get direction from cylindrical surface rather than normal
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureHole.h
Labels: Mod: Part Design

#22407 Sketcher: Change the style of the curves in creation to match the construction/defining flag
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManager.h
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.h
  src/Mod/Sketcher/Gui/Utils.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Sketcher, DWG approved

#22631 Core: Generation of misc interface bindings
  src/Mod/Import/App/CMakeLists.txt
  src/Mod/Import/App/StepShapePy.pyi
  src/Mod/Measure/App/CMakeLists.txt
  src/Mod/Measure/App/MeasureBasePy.pyi
  src/Mod/Measure/App/MeasurementPy.pyi
  src/Mod/Measure/Gui/CMakeLists.txt
  src/Mod/Measure/Gui/QuickMeasurePy.pyi
  src/Mod/Points/App/CMakeLists.txt
  src/Mod/Points/App/PointsPy.pyi
  src/Mod/Points/App/PointsPy.xml
  src/Mod/Robot/App/CMakeLists.txt
  src/Mod/Robot/App/Robot6AxisPy.pyi
  src/Mod/Robot/App/RobotObjectPy.pyi
  src/Mod/Robot/App/RobotObjectPy.xml
  src/Mod/Robot/App/TrajectoryPy.pyi
  src/Mod/Robot/App/TrajectoryPy.xml
  src/Mod/Robot/App/WaypointPy.pyi
  src/Mod/Surface/App/Blending/BlendCurvePy.pyi
  src/Mod/Surface/App/Blending/BlendCurvePy.xml
  src/Mod/Surface/App/Blending/BlendPointPy.pyi
  src/Mod/Surface/App/Blending/BlendPointPy.xml
  src/Mod/Surface/App/CMakeLists.txt
Labels: Mod: Surface, Mod: Points, Mod: Measurement, Approved

#22578 Core: Generation of python bindings for CAM
  src/Mod/CAM/App/AreaPy.pyi
  src/Mod/CAM/App/AreaPy.xml
  src/Mod/CAM/App/CMakeLists.txt
  src/Mod/CAM/App/CommandPy.pyi
  src/Mod/CAM/App/CommandPy.xml
  src/Mod/CAM/App/FeatureAreaPy.pyi
  src/Mod/CAM/App/FeaturePathCompoundPy.pyi
  src/Mod/CAM/App/PathPy.pyi
  src/Mod/CAM/App/VoronoiCellPy.pyi
  src/Mod/CAM/App/VoronoiEdgePy.pyi
  src/Mod/CAM/App/VoronoiPy.pyi
  src/Mod/CAM/App/VoronoiVertexPy.pyi
Labels: Mod: CAM, Approved

#22251 Redesign DXF import UI, add Part primitives and Draft object import modes
  src/Gui/ApplicationPy.cpp
  src/Gui/ApplicationPy.h
  src/Gui/WaitCursor.cpp
  src/Gui/WaitCursor.h
  src/Mod/Draft/CMakeLists.txt
  src/Mod/Draft/DxfImportDialog.py
  src/Mod/Draft/Resources/Draft.qrc
  src/Mod/Draft/Resources/ui/preferences-dxf-import.ui
  src/Mod/Draft/Resources/ui/preferences-dxf.ui
  src/Mod/Draft/importDXF.py
  src/Mod/Import/App/dxf/ImpExpDxf.cpp
  src/Mod/Import/App/dxf/ImpExpDxf.h
  src/Mod/Import/App/dxf/dxf.cpp
  src/Mod/Import/App/dxf/dxf.h
  src/Mod/Import/Gui/AppImportGuiPy.cpp
Labels: Mod: Core, Mod: Draft

#22504 Draft: fix handling of MouseDelay
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_mirror.py
  src/Mod/Draft/draftguitools/gui_offset.py
  src/Mod/Draft/draftguitools/gui_points.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftguitools/gui_splines.py
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: Mod: Draft

#22509 Draft: show dotted lineTracker in Trimex extrude mode
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: Mod: Draft

#22633 [TD]fix BrokenView does not handle shells
  src/Mod/TechDraw/App/DrawBrokenView.cpp
  src/Mod/TechDraw/App/DrawBrokenView.h
Labels: Mod: TechDraw

#22749 AssemblyGui: CmakeLists typo
  src/Mod/Assembly/Gui/CMakeLists.txt
Labels: Mod: Assembly

#22823 Assembly: Fix 22815
  src/Mod/Assembly/App/AssemblyObjectPyImp.cpp
Labels: Mod: Assembly

#22833 Gui: Support enum editor in VarSet dialog
  src/Gui/Dialogs/DlgAddPropertyVarSet.cpp
  src/Gui/Dialogs/DlgAddPropertyVarSet.h
Labels: Mod: Core

#22356 [1.0] [TechDraw] Fix Qt6 compatability of FillTemplateFields tool
  src/Mod/TechDraw/TechDrawTools/TaskFillTemplateFields.py
Labels: Mod: TechDraw

#22450 [1.0] [Points] Add e57 to import file extensions
  src/Mod/Points/Gui/Command.cpp
Labels: Mod: Points

#22530 [1.0] [GUI] Remove dark fringe around letters
  src/Gui/SoDatumLabel.cpp
  src/Gui/SoDatumLabel.h
Labels: Mod: Core
