Repository FreeCAD/FreeCAD, pull requests merged in 2025-10, with the labels that each got.

#24376 Repr fix
  src/App/DocumentPyImp.cpp
  src/Gui/DocumentPyImp.cpp
  src/Gui/TaskView/TaskDialogPython.cpp
Labels: Mod: Core, Type: Other

#23680 Assembly: Isolate joint components during selection and edit.
  src/App/AutoTransaction.cpp
  src/Mod/Assembly/Gui/Resources/panels/TaskAssemblyCreateJoint.ui
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.h
  src/Mod/Assembly/Gui/ViewProviderAssembly.pyi
  src/Mod/Assembly/Gui/ViewProviderAssemblyPyImp.cpp
  src/Mod/Assembly/JointObject.py
Labels: Type: Bug, Mod: Assembly

#24216 CAM: LeadInOut - Fix RetractThreshold in Task panel
  src/Mod/CAM/Path/Dressup/Gui/LeadInOut.py
  src/Mod/CAM/PathPythonGui/simple_edit_panel.py
Labels: Type: Bug, Mod: CAM

#24350 [ArchStairs] Fix Blondel Ratio and Winders
  src/Mod/BIM/ArchStairs.py
Labels: Type: Bug, Mod: BIM

#23844 BIM: Fix ArchSite View Provider lifecycle, property constraints and defaults
  src/Mod/BIM/ArchSite.py
  src/Mod/BIM/CMakeLists.txt
  src/Mod/BIM/TestArchGui.py
  src/Mod/BIM/bimtests/TestArchBaseGui.py
  src/Mod/BIM/bimtests/TestArchSiteGui.py
  src/Mod/BIM/bimtests/fixtures/FC_site_simple-102.FCStd
Labels: Type: Bug, Mod: BIM, Approved

#24273 BIM: fix update behavior of BIM views panel
  src/Mod/BIM/bimcommands/BimViews.py
Labels: Type: Bug, Mod: BIM

#24286 ipatch: fix mac app bundling with homebrew
  src/MacAppBundle/CMakeLists.txt
  src/Tools/MakeMacBundleRelocatable.py
Labels: Type: Other

#24229 Sketcher: remove edit tools from toolbar
  src/Mod/Sketcher/Gui/Workbench.cpp
  src/Mod/Sketcher/Gui/Workbench.h
Labels: Topic: User Interface, Mod: Sketcher, DWG approved, Type: Other

#24385 BIM: fix BimMaterial dialog regression
  src/Mod/BIM/bimcommands/BimMaterial.py
Labels: Type: Bug, Mod: BIM

#24435 Core: FreeCadMacros.cmake:fc_copy_sources ensure parent directory is …
  cMake/FreeCadMacros.cmake
Labels: Type: Bug, Packaging/building

#24395 TechDraw: Make TaskWeldingSymbol buttons resizeable (fixes #24288)
  src/Mod/TechDraw/Gui/TaskWeldingSymbol.ui
Labels: Type: Bug, Mod: TechDraw, DWG approved

#24069 CAM: LeadInOut - Fix SafeHeight
  src/Mod/CAM/Path/Dressup/Gui/LeadInOut.py
Labels: Type: Bug, Mod: CAM

#24285 Gui: Fix unreadable button in Customize Dialog
  src/Gui/Dialogs/DlgActions.ui
Labels: Mod: Core, Topic: User Interface, Type: Other

#24014 Gui: Ensure menus don't get moved inadvertently
  src/Gui/Command.cpp
Labels: Type: Bug, Mod: Core, Approved

#24374 Part/PD: Send user edit mode to cmdSetEdit
  src/Mod/Part/Gui/ViewProvider.cpp
  src/Mod/PartDesign/Gui/ViewProvider.cpp
  src/Mod/PartDesign/Gui/ViewProviderBase.cpp
Labels: Type: Bug, Mod: Part Design, Mod: Part

#24447 Added GPL-3.0-or-later to the list of licenses
  src/App/License.h
Labels: Mod: Core, Type: Other

#24449 Fix & update license to LGPLv2.1
  LICENSE
Labels: Type: Other

#24458 Assembly: Fix dragger when assembly is transformed
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Type: Bug, Mod: Assembly, Approved

#24494 SPDX [ 2 ][ Src / GUI / TaskView ]
  src/Gui/TaskView/TaskAppearance.cpp
  src/Gui/TaskView/TaskAppearance.h
  src/Gui/TaskView/TaskDialog.cpp
  src/Gui/TaskView/TaskDialog.h
  src/Gui/TaskView/TaskDialogPython.cpp
  src/Gui/TaskView/TaskDialogPython.h
  src/Gui/TaskView/TaskEditControl.cpp
  src/Gui/TaskView/TaskEditControl.h
  src/Gui/TaskView/TaskSelectLinkProperty.cpp
  src/Gui/TaskView/TaskSelectLinkProperty.h
  src/Gui/TaskView/TaskSolverMessages.cpp
  src/Gui/TaskView/TaskSolverMessages.h
  src/Gui/TaskView/TaskView.cpp
  src/Gui/TaskView/TaskView.h
  src/Gui/TaskView/TaskWatcher.cpp
  src/Gui/TaskView/TaskWatcher.h
Labels: Mod: Core, Type: Other

#24500 SPDX [ 8 ][ Src / GUI / QSint ]
  src/Gui/QSint/actionpanel/actionbox.cpp
  src/Gui/QSint/actionpanel/actionbox.h
  src/Gui/QSint/actionpanel/actiongroup.cpp
  src/Gui/QSint/actionpanel/actiongroup.h
  src/Gui/QSint/actionpanel/actionlabel.cpp
  src/Gui/QSint/actionpanel/actionlabel.h
  src/Gui/QSint/actionpanel/actionpanel.cpp
  src/Gui/QSint/actionpanel/actionpanel.h
  src/Gui/QSint/actionpanel/actionpanelscheme.cpp
  src/Gui/QSint/actionpanel/actionpanelscheme.h
  src/Gui/QSint/actionpanel/qsint_global.h
  src/Gui/QSint/actionpanel/taskgroup_p.cpp
  src/Gui/QSint/actionpanel/taskgroup_p.h
  src/Gui/QSint/actionpanel/taskheader_p.cpp
  src/Gui/QSint/actionpanel/taskheader_p.h
  src/Gui/QSint/include/QSint
Labels: Mod: Core, Type: Other
