Repository FreeCAD/FreeCAD, pull requests merged in 2025-04, with the labels that each got.

#20411 Fem: Add method to rename pipeline VTK data arrays
  src/Mod/Fem/App/FemPostPipeline.cpp
  src/Mod/Fem/App/FemPostPipeline.h
  src/Mod/Fem/App/FemPostPipelinePy.xml
  src/Mod/Fem/App/FemPostPipelinePyImp.cpp
Labels: Mod: FEM, Approved

#20562 fix: Task overlay HiDPI vertical alignment
  src/Gui/OverlayManager.cpp
Labels: Mod: Core

#20565 CMake: Allow external libE57Format
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  cMake/UseLibPack3.cmake
  src/3rdParty/CMakeLists.txt
  src/Mod/Points/App/CMakeLists.txt
Labels: Packaging/building, Mod: Points

#20529 Draft: fix alignment of dim arrows
  src/Mod/Draft/draftviewproviders/view_dimension.py
Labels: Mod: Draft

#20395 [Draft-Faces] Bind: Improve fuse and warning
  src/Mod/Draft/draftgeoutils/faces.py
Labels: Mod: Draft

#20581 Build: force CMake to 3.31.6 version in CI
  .github/workflows/sub_buildUbuntu.yml
  .github/workflows/sub_buildWindows.yml
Labels: :octocat:

#20527 App: Change element name warning to log
  src/App/PropertyLinks.cpp
Labels: Mod: Core

#20548 Fem: Update modifcation time for FemFrameSourceAlgorithm - fixes #20543
  src/Mod/Fem/App/FemPostPipeline.cpp
Labels: Mod: FEM

#20596 Fix home_dir regression in addonmanager
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Mod: Addon Manager

#20558 MOD: OPENSCAD clean
  src/Mod/OpenSCAD/InitGui.py
  src/Mod/OpenSCAD/OpenSCADCommands.py
  src/Mod/OpenSCAD/OpenSCADUtils.py
  src/Mod/OpenSCAD/colorcodeshapes.py
  src/Mod/OpenSCAD/expandplacements.py
  src/Mod/OpenSCAD/exportCSG.py
  src/Mod/OpenSCAD/importCSG.py
  src/Mod/OpenSCAD/prototype.py
Labels: Mod: OpenSCAD

#20555 MOD: ReverseEngineering clean
  src/Mod/ReverseEngineering/App/BSplineFitting.cpp
  src/Mod/ReverseEngineering/App/SurfaceTriangulation.cpp
Labels: Mod: Reverse Engineering

#20442 GUI: Fix Toggle Freeze Behavior
  src/Gui/CommandFeat.cpp
Labels: Mod: Core

#20574 Draft: fix source typo in draftobjects/patharray.py
  src/Mod/Draft/draftobjects/patharray.py
Labels: Mod: Draft

#20636 3Dconnexion - Fixed crashing on some commands
  src/Gui/3Dconnexion/navlib/NavlibCmds.cpp
Labels: Mod: Core

#20605 Sketcher: Convert XML binding files to Python API bindings model.
  src/Mod/Sketcher/App/CMakeLists.txt
  src/Mod/Sketcher/App/Constraint.pyi
  src/Mod/Sketcher/App/ExternalGeometryExtension.pyi
  src/Mod/Sketcher/App/ExternalGeometryExtensionPy.xml
  src/Mod/Sketcher/App/ExternalGeometryFacade.pyi
  src/Mod/Sketcher/App/ExternalGeometryFacadePy.xml
  src/Mod/Sketcher/App/GeometryFacade.pyi
  src/Mod/Sketcher/App/GeometryFacadePy.xml
  src/Mod/Sketcher/App/Sketch.pyi
  src/Mod/Sketcher/App/SketchGeometryExtension.pyi
  src/Mod/Sketcher/App/SketchObject.pyi
  src/Mod/Sketcher/App/SketchObjectPy.xml
  src/Mod/Sketcher/App/SketchObjectSF.pyi
  src/Mod/Sketcher/App/SketchPy.xml
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/ViewProviderSketchGeometryExtension.pyi
Labels: Mod: Sketcher

#20606 PartGui: Convert XML bindings to Python bindings model.
  src/Mod/Part/Gui/CMakeLists.txt
  src/Mod/Part/Gui/ViewProviderPartExt.pyi
  src/Mod/Part/Gui/ViewProviderPartExtPy.xml
Labels: Mod: Part

#20594 Gui: make BitmapFactory::pixmapFromSvg dpi aware
  src/Gui/BitmapFactory.cpp
  src/Gui/BitmapFactory.h
  src/Gui/CommandView.cpp
  src/Gui/ToolHandler.cpp
  src/Gui/Tree.cpp
  src/Gui/ViewProviderLink.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/Mod/TechDraw/Gui/QGVPage.h
Labels: Mod: Core

#20634 Draft: make Draft_SelectPlane recognize the new Part_DatumPlane object
  src/Mod/Draft/WorkingPlane.py
Labels: Mod: Draft

#20645 Sketcher: Remove XML binding files.
  src/Mod/Sketcher/App/CMakeLists.txt
  src/Mod/Sketcher/App/ConstraintPy.xml
  src/Mod/Sketcher/App/ExternalGeometryExtensionPy.xml
  src/Mod/Sketcher/App/ExternalGeometryFacadePy.xml
  src/Mod/Sketcher/App/GeometryFacadePy.xml
  src/Mod/Sketcher/App/SketchGeometryExtensionPy.xml
  src/Mod/Sketcher/App/SketchObjectPy.xml
  src/Mod/Sketcher/App/SketchObjectSF.pyi
  src/Mod/Sketcher/App/SketchObjectSFPy.xml
  src/Mod/Sketcher/App/SketchPy.xml
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/ViewProviderSketchGeometryExtensionPy.xml
  src/Tools/bindings/templates/templateClassPyExport.py
Labels: Mod: Sketcher

#20552 Check for a null scene object
  src/Gui/View3DPy.cpp
Labels: Mod: Core

#20570 [Core] Show units in the VarSet add property dialog
  src/Gui/Dialogs/DlgAddPropertyVarSet.cpp
  src/Gui/Dialogs/DlgAddPropertyVarSet.h
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Gui/propertyeditor/PropertyItem.h
Labels: Mod: Core, Approved

#20651 Fix various typos
  src/Doc/BuildWebDoc.cfg.in
  src/Mod/CAM/App/Area.cpp
  src/Mod/Draft/importAirfoilDAT.py
  src/Mod/Part/App/PropertyTopoShape.cpp
  src/Mod/Part/App/WireJoiner.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Spreadsheet/Gui/LineEdit.cpp
  src/Mod/TechDraw/Gui/QGILeaderLine.cpp
  tests/src/App/DocumentObserver.cpp
  tests/src/Mod/Part/App/PartFeature.cpp
  tests/src/Mod/Part/App/WireJoiner.cpp
Labels: Mod: Draft, Mod: CAM, Mod: TechDraw, Mod: Part, Mod: Spreadsheet, Mod: Sketcher

#20650 Draft: fix source typo
  src/Mod/Draft/draftutils/gui_utils.py
Labels: Mod: Draft

#20652 CMake: Cosmetic Fix
  cMake/FindOCC.cmake
Labels: Packaging/building

#20553 Preferences: Fixed a bug in 'Animation curve type' label position
  src/Gui/PreferencePages/DlgSettingsAdvanced.cpp
Labels: Mod: Core

#20660 Mesh: Fix source typo
  src/Mod/Mesh/App/Mesh.cpp
  src/Mod/MeshPart/App/MeshAlgos.cpp
Labels: Mod: Mesh, Mod: MeshPart

#20612 TechDraw: Moved DrawUtil.cpp member functions to DrawViewPart.cpp
  src/Mod/TechDraw/App/CosmeticExtension.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
Labels: Mod: TechDraw

#20531 Application tidy up (two more)
  src/App/Application.cpp
Labels: Mod: Core

#20675 Gui: Fix operator mistake in previous c++constant refactoring
  src/Gui/SoDatumLabel.cpp
Labels: Mod: Core, Approved

#20453 PartDesign: Fix use of App::Planes to create sketches
  src/App/Datums.cpp
  src/App/Datums.h
  src/App/Document.cpp
  src/App/Document.h
  src/Gui/Selection/Selection.cpp
  src/Gui/Selection/Selection.h
  src/Gui/Selection/SelectionFilter.cpp
  src/Gui/Selection/SelectionFilter.h
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
Labels: Mod: Core, Mod: Part Design, Approved

#20368 BIM: add missing ifc_tools import
  src/Mod/BIM/bimcommands/BimProjectManager.py
Labels: Mod: BIM

#20405 Assembly: Fix hasher missing ref warning and speed bug.
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly

#20611 TechDraw: Removed unused functions
  src/Mod/TechDraw/Gui/CommandHelpers.cpp
  src/Mod/TechDraw/Gui/CommandHelpers.h
  src/Mod/TechDraw/Gui/PATPathMaker.cpp
  src/Mod/TechDraw/Gui/PATPathMaker.h
Labels: Mod: TechDraw

#20631 CMake: Only set /NODEFAULTLIB for MSVC < 19.30
  cMake/FreeCAD_Helpers/SetGlobalCompilerAndLinkerSettings.cmake
Labels: Packaging/building

#20604 Base: Remove FileTemplate class
  src/Base/CMakeLists.txt
  src/Base/FileTemplate.cpp
  src/Base/FileTemplate.h
Labels: Mod: Core

#20643 Tools: Add PyCXX includes to generated Python binding files.
  src/Base/PyObjectBase.h
  src/Tools/bindings/templates/templateClassPyExport.py
Labels: Mod: Core

#20647 [PartDesign] Fix spelling of auxiliary and curvilinear…
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeaturePipe.h
  src/Mod/PartDesign/Gui/TaskPipeOrientation.ui
  src/Mod/PartDesign/Gui/TaskPipeParameters.cpp
  src/Mod/PartDesign/Gui/TaskPipeParameters.h
  src/Mod/PartDesign/Gui/Utils.cpp
  src/Mod/PartDesign/Gui/ViewProviderPipe.cpp
Labels: Mod: Part Design, Needs backporting macro

#20358 [CAM] change design of origin axis
  src/Mod/CAM/Path/Main/Gui/Job.py
  src/Mod/CAM/Path/Main/Stock.py
Labels: Mod: CAM, Approved

#20512 Gui: Rename generated lexer files use .lex.cpp suffix .
  src/Gui/Selection/SelectionFilter.cpp
  src/Gui/Selection/SelectionFilter.l
  src/Gui/Selection/SelectionFilter.lex.cpp
Labels: Mod: Core

#20199 parametrize Draft vector utils precision
  src/Mod/Draft/DraftVecUtils.py
Labels: ✋ On hold, Mod: Draft

#20700 PartDesign : New sketch: Fix regression
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
Labels: Mod: Part Design

#20695 Gui: fix Quantity spinbox margin without an icon
  src/Gui/QuantitySpinBox_p.h
  src/Gui/SpinBox.cpp
Labels: Mod: Core

#20715 CAM: Multiline POSTAMBLE and PREAMBLE arguments in old postprocessors
  src/Mod/CAM/Path/Post/scripts/KineticNCBeamicon2_post.py
  src/Mod/CAM/Path/Post/scripts/dynapath_4060_post.py
  src/Mod/CAM/Path/Post/scripts/dynapath_post.py
  src/Mod/CAM/Path/Post/scripts/estlcam_post.py
  src/Mod/CAM/Path/Post/scripts/fangling_post.py
  src/Mod/CAM/Path/Post/scripts/fanuc_post.py
  src/Mod/CAM/Path/Post/scripts/grbl_post.py
  src/Mod/CAM/Path/Post/scripts/jtech_post.py
  src/Mod/CAM/Path/Post/scripts/linuxcnc_post.py
  src/Mod/CAM/Path/Post/scripts/mach3_mach4_post.py
  src/Mod/CAM/Path/Post/scripts/marlin_post.py
  src/Mod/CAM/Path/Post/scripts/rrf_post.py
  src/Mod/CAM/Path/Post/scripts/smoothie_post.py
  src/Mod/CAM/Path/Post/scripts/uccnc_post.py
  src/Mod/CAM/Path/Post/scripts/wedm_post.py
Labels: Mod: CAM

#20737 [Doc] Fix unassociated doc strings
  src/Mod/Import/App/SketchExportHelper.h
  src/Mod/TechDraw/Gui/CommandHelpers.h
Labels: Mod: TechDraw

#20696 Sketcher: Refactor and fix `DrawSketchDefaultHandler.h`
  src/Mod/Sketcher/Gui/DrawSketchDefaultHandler.h
Labels: Mod: Sketcher

#20415 CI/CD: Implement weekly builds.
  .github/workflows/sub_weeklyBuild.yml
  CMakePresets.json
  package/rattler-build/build.bat
  package/rattler-build/build.sh
  package/rattler-build/conda_build_config.yaml
  package/rattler-build/linux/AppDir/AppRun
  package/rattler-build/linux/create_bundle.sh
  package/rattler-build/osx/Info.plist.template
  package/rattler-build/osx/create_bundle.sh
  package/rattler-build/osx/dmg_settings.py
  package/rattler-build/osx/entitlements.plist
  package/rattler-build/osx/launcher/CMakeLists.txt
  package/rattler-build/osx/launcher/FreeCAD.cpp
  package/rattler-build/osx/macos_sign_and_notarize.zsh
  package/rattler-build/osx/resources/freecad-doc.icns
  package/rattler-build/osx/resources/freecad-script.icns
  package/rattler-build/osx/resources/freecad.icns
  package/rattler-build/pixi.lock
  package/rattler-build/pixi.toml
  package/rattler-build/recipe.yaml
  package/rattler-build/scripts/disable_git_info.patch
  package/rattler-build/scripts/fix_macos_lib_paths.py
  package/rattler-build/scripts/get_freecad_version.py
  package/rattler-build/scripts/make_version_file.py
  package/rattler-build/windows/create_bundle.bat
  package/rattler-build/windows/create_bundle.sh
  package/rattler-build/windows/ssl-patch.py
Labels: :octocat:

#20603 Gui: Show Placement Indicator - several fixes
  src/Gui/ViewProviderDragger.cpp
  src/Gui/ViewProviderDragger.h
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/Part/Gui/ViewProviderExt.h
  src/Mod/PartDesign/Gui/ViewProvider.cpp
  src/Mod/PartDesign/Gui/ViewProviderBody.cpp
Labels: Mod: Core, Approved

#20777 Fix various typos
  package/rattler-build/linux/create_bundle.sh
  package/rattler-build/windows/ssl-patch.py
  src/Base/CoordinateSystem.pyi
Labels: Mod: Core

#20667 Gui: moved dragger classes to separate folder and files and renamed them to be more descriptive
  src/Gui/CMakeLists.txt
  src/Gui/Inventor/Draggers/SoLinearDragger.cpp
  src/Gui/Inventor/Draggers/SoLinearDragger.h
  src/Gui/Inventor/Draggers/SoPlanarDragger.cpp
  src/Gui/Inventor/Draggers/SoPlanarDragger.h
  src/Gui/Inventor/Draggers/SoRotationDragger.cpp
  src/Gui/Inventor/Draggers/SoRotationDragger.h
  src/Gui/Inventor/Draggers/SoTransformDragger.cpp
  src/Gui/Inventor/Draggers/SoTransformDragger.h
  src/Gui/SoFCCSysDragger.cpp
  src/Gui/SoFCDB.cpp
  src/Gui/SoFCDB.h
  src/Gui/TaskCSysDragger.cpp
  src/Gui/TaskCSysDragger.h
  src/Gui/ViewProviderDragger.cpp
  src/Gui/ViewProviderDragger.h
  src/Gui/ViewProviderLink.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.h
  src/Mod/Assembly/Gui/ViewProviderAssemblyPy.xml
  src/Mod/Assembly/Gui/ViewProviderAssemblyPyImp.cpp
Labels: Mod: Core

#20765 CAM: Less warning with new Array Dressup
  src/Mod/CAM/Path/Op/Gui/Array.py
Labels: Mod: CAM

#20578 Add cmake to Ubuntu package dependencies.
  package/ubuntu/install-apt-packages.sh
Labels: Approved

#20648 BIM: BIM_Leader would create a wire with fewer than 2 points
  src/Mod/BIM/bimcommands/BimLeader.py
Labels: Mod: BIM

#20649 [Core] Allow setting visibility toggling in the ViewProvider
  src/Gui/FreeCADGuiInit.py
  src/Gui/Tree.cpp
  src/Gui/ViewProvider.cpp
  src/Gui/ViewProvider.h
  src/Gui/ViewProvider.pyi
  src/Gui/ViewProviderPyImp.cpp
  src/Gui/ViewProviderVarSet.cpp
  src/Mod/Fem/Gui/ViewProviderAnalysis.cpp
  src/Mod/Fem/Gui/ViewProviderAnalysis.h
  src/Mod/Fem/Gui/ViewProviderSolver.cpp
  src/Mod/Fem/Gui/ViewProviderSolver.h
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.cpp
  src/Mod/Spreadsheet/Gui/ViewProviderSpreadsheet.h
Labels: Mod: Core, Mod: FEM, Mod: Spreadsheet

#20577 BIM: HorizontalArea prop did not detect islands
  src/Mod/BIM/ArchComponent.py
Labels: Mod: BIM

#20557 MOD: assembly clean
  src/Mod/Assembly/App/AssemblyLink.cpp
  src/Mod/Assembly/AssemblyTests/TestTEMPLATE.py
  src/Mod/Assembly/CommandCreateSimulation.py
  src/Mod/Assembly/CommandCreateView.py
  src/Mod/Assembly/CommandExportASMT.py
  src/Mod/Assembly/CommandInsertLink.py
  src/Mod/Assembly/CommandSolveAssembly.py
  src/Mod/Assembly/UtilsAssembly.py
Labels: Mod: Assembly

#20476 Sketcher: Refactor DrawSketchHandler::seekAutoConstraint
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.h
Labels: Mod: Sketcher

#20374 Use longest edge in face for horizontal/vertical alignment
  src/App/Datums.cpp
  src/App/Datums.h
  src/App/GeoFeature.cpp
  src/App/GeoFeature.h
  src/Gui/View3DInventorViewer.cpp
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
Labels: Mod: Core, Mod: Part

#20729 BIM: fix Arch_Schedule column width handling
  src/Mod/BIM/ArchSchedule.py
Labels: Mod: BIM

#20549 Material: Interface with an external module
  src/Mod/Material/App/CMakeLists.txt
  src/Mod/Material/App/ExternalManager.cpp
  src/Mod/Material/App/ExternalManager.h
  src/Mod/Material/App/Library.cpp
  src/Mod/Material/App/Library.h
  src/Mod/Material/App/MaterialAPI/MaterialManagerExternal.py
  src/Mod/Material/App/MaterialAPI/__init__.py
  src/Mod/Material/App/MaterialManagerLocal.cpp
Labels: Packaging/building, Mod: Materials

#20780 CMake: set optimization of debug builds to -Og.
  cMake/FreeCAD_Helpers/SetGlobalCompilerAndLinkerSettings.cmake
Labels: Packaging/building

#20713 Tighten up types in Base/Tools.h math functions
  src/Base/Tools.h
Labels: Mod: Core

#20747 Use toDegrees and toRadians
  src/App/Expression.cpp
  src/Base/PlacementPyImp.cpp
  src/Base/Rotation.cpp
  src/Gui/SoDatumLabel.cpp
  src/Gui/SoTouchEvents.cpp
  src/Gui/Transform.cpp
  src/Mod/CAM/App/Area.cpp
  src/Mod/CAM/App/PathSegmentWalker.cpp
  src/Mod/CAM/App/Voronoi.cpp
  src/Mod/Drawing/App/DrawingExport.cpp
  src/Mod/Drawing/Gui/TaskOrthoViews.cpp
  src/Mod/Fem/App/FemConstraintTransform.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintGear.cpp
  src/Mod/Fem/Gui/ViewProviderFemConstraintPulley.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureAngle.cpp
  src/Mod/Part/App/FeatureExtrusion.cpp
  src/Mod/Part/App/FeatureRevolution.cpp
  src/Mod/Part/Gui/DlgRevolution.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/Gui/ViewProviderAddSub.cpp
  src/Mod/PartDesign/Gui/ViewProviderTransformed.cpp
  src/Mod/ReverseEngineering/App/RegionGrowing.cpp
  src/Mod/Robot/Gui/ViewProviderRobotObject.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerTranslate.h
  src/Mod/Sketcher/Gui/SnapManager.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawGeomHatch.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/HatchLine.cpp
  src/Mod/TechDraw/App/ShapeUtils.cpp
  src/Mod/TechDraw/App/TechDrawExport.cpp
  src/Mod/TechDraw/Gui/CommandExtensionDims.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
  src/Mod/TechDraw/Gui/QGIHighlight.cpp
  src/Mod/TechDraw/Gui/QGISectionLine.cpp
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.cpp
  src/Mod/TechDraw/Gui/TaskCosmeticLine.cpp
  src/Mod/TechDraw/Gui/TaskDimension.cpp
  src/Mod/TechDraw/Gui/TaskSectionView.cpp
  tests/src/Mod/Part/App/FeatureExtrusion.cpp
Labels: Mod: Core, Mod: FEM, Mod: CAM, Mod: TechDraw, Mod: Part Design, Mod: Part, Mod: Sketcher, Mod: Reverse Engineering, Mod: Measurement

#20791 CMake: use job pools to restrict number of concurrent compilers and linkers.
  CMakePresets.json
  cMake/FreeCAD_Helpers/CompilerChecksAndSetups.cmake
Labels: Packaging/building

#20738 Gui: inputfield only show invalid states
  src/Gui/InputField.cpp
Labels: Mod: Core, Approved

#20705 BIM: Fix 'Convert to type' dialogue typo #20676
  src/Mod/BIM/nativeifc/ifc_types.py
Labels: Mod: BIM

#20544 Sketcher: Refactor SketchObject::Fillet()
  src/Mod/Part/App/Geometry.cpp
  src/Mod/Part/App/Geometry.h
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Part, Approved

#20745 Stylesheets: fix undo button arrows on Light and Dark themes
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
Labels: Mod: Core, Topic: Stylesheets

#20814 CI: make daily build occur at 18:00 UTC.
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#20793 PartDesign: TaskFeaturePick : Fix LCS temporary visibility
  src/Mod/PartDesign/Gui/TaskFeaturePick.cpp
Labels: Mod: Part Design

#20816 CI: make daily build occur every other hour on the odd hours.
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#20819 Enable Weekly Builds
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#20788 CI: Update to LibPack 3.1.1
  .github/workflows/actions/windows/getLibpack/action.yml
Labels: :octocat:

#20487 App: Running FreeCAD in verbose mode information to reflect Gui -> Help -> About Dialog info
  src/App/Application.cpp
  src/App/Application.h
  src/Gui/Application.cpp
  src/Gui/Application.h
  src/Gui/Dialogs/DlgAbout.cpp
  src/Main/MainCmd.cpp
  src/Main/MainGui.cpp
Labels: Mod: Core

#20792 CAM: Fix postprocessors Help arguments --postamble and --preamble
  src/Mod/CAM/Path/Post/scripts/KineticNCBeamicon2_post.py
  src/Mod/CAM/Path/Post/scripts/centroid_post.py
  src/Mod/CAM/Path/Post/scripts/dynapath_4060_post.py
  src/Mod/CAM/Path/Post/scripts/dynapath_post.py
  src/Mod/CAM/Path/Post/scripts/estlcam_post.py
  src/Mod/CAM/Path/Post/scripts/fablin_post.py
  src/Mod/CAM/Path/Post/scripts/fangling_post.py
  src/Mod/CAM/Path/Post/scripts/fanuc_post.py
  src/Mod/CAM/Path/Post/scripts/grbl_post.py
  src/Mod/CAM/Path/Post/scripts/jtech_post.py
  src/Mod/CAM/Path/Post/scripts/linuxcnc_post.py
  src/Mod/CAM/Path/Post/scripts/mach3_mach4_post.py
  src/Mod/CAM/Path/Post/scripts/marlin_post.py
  src/Mod/CAM/Path/Post/scripts/rrf_post.py
  src/Mod/CAM/Path/Post/scripts/smoothie_post.py
  src/Mod/CAM/Path/Post/scripts/uccnc_post.py
  src/Mod/CAM/Path/Post/scripts/wedm_post.py
Labels: Mod: CAM

#20770 PartDesign: Fix #20205 where Placement changes at Suppression
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/Feature.h
Labels: Mod: Part Design

#20786 [Spreadsheet] Add usage of override cursor in SheetViewHeader
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
  src/Mod/Spreadsheet/Gui/SheetTableView.h
Labels: Mod: Spreadsheet

#20228 Add a GitHub template for Pull Requests
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: :octocat:

#20813 BIM change BIM_Setup dialogue default width
  src/Mod/BIM/Resources/ui/dialogSetup.ui
Labels: Mod: BIM

#20839 Remove unused code: verbosity
  src/App/Application.cpp
  src/Base/Console.cpp
  src/Base/Console.h
Labels: Mod: Core

#20855 [GUI] Layout fixes in DlgActions.ui
  src/Gui/Dialogs/DlgActions.ui
Labels: Mod: Core

#20858 App: Use the legacy macOS version functionality for About FreeCAD dialog
  src/App/Application.cpp
Labels: Mod: Core

#20748 Draft/BIM: Change Continue behavior and caching among commands
  src/Mod/BIM/ArchStructure.py
  src/Mod/BIM/bimcommands/BimBeam.py
  src/Mod/BIM/bimcommands/BimColumn.py
  src/Mod/BIM/bimcommands/BimPanel.py
  src/Mod/BIM/bimcommands/BimWall.py
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftutils/params.py
Labels: Mod: Draft

#20875 Gui: forward declare SoTransformDragger in ViewProviderDragger.h
  src/Gui/ViewProviderDragger.h
Labels: Mod: Core

#20866 Sketcher: Auto-scroll to selected geometry elements
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/Sketcher/Gui/Utils.h
Labels: Mod: Sketcher

#20878 CI: Update to LibPack 3.1.1.2
  .github/workflows/actions/windows/getLibpack/action.yml
Labels: :octocat:

#20719 Draft: close task panels on doc close
  src/Mod/Draft/CMakeLists.txt
  src/Mod/Draft/InitGui.py
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_base.py
  src/Mod/Draft/draftguitools/gui_circulararray.py
  src/Mod/Draft/draftguitools/gui_orthoarray.py
  src/Mod/Draft/draftguitools/gui_polararray.py
  src/Mod/Draft/draftguitools/gui_shapestrings.py
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
  src/Mod/Draft/draftutils/doc_observer.py
Labels: Mod: Draft

#18880 [CAM] Adaptive roughing/overhang detection
  src/Mod/CAM/CAMTests/TestPathAdaptive.py
  src/Mod/CAM/Gui/Resources/panels/PageOpAdaptiveEdit.ui
  src/Mod/CAM/Path/Op/Adaptive.py
  src/Mod/CAM/Path/Op/Gui/Adaptive.py
Labels: Mod: CAM, Approved

#20840 CAM: Dressup combined menu in toolbar
  src/Mod/CAM/InitGui.py
Labels: Mod: CAM

#20888 CAM: Increased moveEye in New Simulator
  src/Mod/CAM/PathSimulator/AppGL/SimDisplay.cpp
Labels: Mod: CAM

#20690 Backport of PR19377 and PR19765 to releases/1.0 branch
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/importAirfoilDAT.py
  src/Mod/Draft/importDXF.py
  src/Mod/Draft/importOCA.py
  src/Mod/Draft/importSVG.py
Labels: Mod: Draft

#19869 refactor: add disambiguation to clearance hole names and use names from the standard
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureHole.h
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
Labels: Mod: Part Design

#20789 BIM: cleanup encoding
  src/Mod/BIM/ArchBuilding.py
  src/Mod/BIM/ArchBuildingPart.py
  src/Mod/BIM/ArchCommands.py
  src/Mod/BIM/ArchCurtainWall.py
  src/Mod/BIM/ArchEquipment.py
  src/Mod/BIM/ArchFloor.py
  src/Mod/BIM/ArchNesting.py
  src/Mod/BIM/ArchPipe.py
  src/Mod/BIM/ArchProject.py
  src/Mod/BIM/ArchSchedule.py
  src/Mod/BIM/ArchSite.py
  src/Mod/BIM/ArchSpace.py
  src/Mod/BIM/ArchTruss.py
  src/Mod/BIM/BimStatus.py
  src/Mod/BIM/OfflineRenderingUtils.py
  src/Mod/BIM/bimcommands/BimBackground.py
  src/Mod/BIM/bimcommands/BimBeam.py
  src/Mod/BIM/bimcommands/BimBuilder.py
  src/Mod/BIM/bimcommands/BimClone.py
  src/Mod/BIM/bimcommands/BimColumn.py
  src/Mod/BIM/bimcommands/BimCommon.py
  src/Mod/BIM/bimcommands/BimCompound.py
  src/Mod/BIM/bimcommands/BimConvert.py
  src/Mod/BIM/bimcommands/BimCopy.py
  src/Mod/BIM/bimcommands/BimCut.py
  src/Mod/BIM/bimcommands/BimDimensions.py
  src/Mod/BIM/bimcommands/BimDoor.py
  src/Mod/BIM/bimcommands/BimEmptyTrash.py
  src/Mod/BIM/bimcommands/BimExamples.py
  src/Mod/BIM/bimcommands/BimExtrude.py
  src/Mod/BIM/bimcommands/BimFuse.py
  src/Mod/BIM/bimcommands/BimGlue.py
  src/Mod/BIM/bimcommands/BimHelp.py
  src/Mod/BIM/bimcommands/BimIfcElements.py
  src/Mod/BIM/bimcommands/BimIfcProperties.py
  src/Mod/BIM/bimcommands/BimIfcQuantities.py
  src/Mod/BIM/bimcommands/BimImagePlane.py
  src/Mod/BIM/bimcommands/BimLeader.py
  src/Mod/BIM/bimcommands/BimLibrary.py
  src/Mod/BIM/bimcommands/BimMoveView.py
  src/Mod/BIM/bimcommands/BimOffset.py
  src/Mod/BIM/bimcommands/BimProject.py
  src/Mod/BIM/bimcommands/BimReextrude.py
  src/Mod/BIM/bimcommands/BimResetCloneColors.py
  src/Mod/BIM/bimcommands/BimRewire.py
  src/Mod/BIM/bimcommands/BimShape2DView.py
  src/Mod/BIM/bimcommands/BimSimpleCopy.py
  src/Mod/BIM/bimcommands/BimSketch.py
  src/Mod/BIM/bimcommands/BimSlab.py
  src/Mod/BIM/bimcommands/BimTDPage.py
  src/Mod/BIM/bimcommands/BimTDView.py
  src/Mod/BIM/bimcommands/BimText.py
  src/Mod/BIM/bimcommands/BimTogglePanels.py
  src/Mod/BIM/bimcommands/BimTrash.py
  src/Mod/BIM/bimcommands/BimUnclone.py
  src/Mod/BIM/bimcommands/BimUngroup.py
  src/Mod/BIM/bimcommands/BimWPCommands.py
  src/Mod/BIM/importers/importSHP.py
  src/Mod/BIM/nativeifc/ifc_openshell.py
  src/Mod/BIM/nativeifc/ifc_status.py
Labels: Mod: BIM

#20790 Update sub_lint.yml
  .github/workflows/sub_lint.yml
Labels: :octocat:, Approved

#20683 FEM: fix source typos
  src/Mod/Fem/femexamples/ccx_cantilever_prescribeddisplacement.py
  src/Mod/Fem/femexamples/constraint_transform_beam_hinged.py
  src/Mod/Fem/femexamples/rc_wall_2d.py
  src/Mod/Fem/femtest/data/calculix/ccx_cantilever_prescribeddisplacement.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_beam_hinged.inp
Labels: Mod: FEM, Approved

#20666 Core: Part::PartFeature should be Part::Feature
  src/Base/Type.h
  src/Mod/BIM/Arch.py
  src/Mod/BIM/bimcommands/BimWall.py
  src/Mod/BIM/bimtests/TestArchSpace.py
  src/Mod/Draft/draftobjects/facebinder.py
  src/Mod/Draft/importDXF.py
  src/Mod/Fem/femmesh/meshtools.py
  src/Mod/Part/App/PartFeaturePyImp.cpp
  src/Mod/TechDraw/App/ShapeExtractor.cpp
Labels: Mod: Core, Mod: FEM, Mod: BIM, Mod: Draft, Mod: TechDraw, Mod: Part

#20717 Sketcher: Prevent bad constraint names
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
  src/Mod/Sketcher/Gui/EditDatumDialog.h
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
Labels: Mod: Sketcher

#20609 Fem: SolverCalculiX refactor - Add option to import results as pipeline - Fixes #20541
  src/Mod/Fem/App/AppFemPy.cpp
  src/Mod/Fem/App/FemSolverObject.cpp
  src/Mod/Fem/App/FemSolverObject.h
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/App/FemVTKTools.h
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
  src/Mod/Fem/Gui/DlgSettingsFemCcxImp.cpp
  src/Mod/Fem/Gui/Resources/ui/SolverCalculiX.ui
  src/Mod/Fem/Gui/TaskPostBoxes.cpp
  src/Mod/Fem/Gui/TaskPostDisplay.ui
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.h
  src/Mod/Fem/Gui/Workbench.cpp
  src/Mod/Fem/ObjectsFem.py
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femmesh/meshsetsgetter.py
  src/Mod/Fem/femobjects/solver_calculix.py
  src/Mod/Fem/femsolver/calculix/calculixtools.py
  src/Mod/Fem/femtaskpanels/base_femlogtaskpanel.py
  src/Mod/Fem/femtaskpanels/task_mesh_gmsh.py
  src/Mod/Fem/femtaskpanels/task_mesh_netgen.py
  src/Mod/Fem/femtaskpanels/task_solver_calculix.py
  src/Mod/Fem/femtest/app/test_object.py
  src/Mod/Fem/femtest/app/test_open.py
  src/Mod/Fem/femtest/gui/test_open.py
  src/Mod/Fem/femviewprovider/view_solver_calculix.py
Labels: Mod: FEM

#20861 [Core] Fix Color transparency misinterpretation
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: Mod: Part

#20863 fix: fedora build
  src/App/CMakeLists.txt
Labels: Mod: Core, Packaging/building

#20913 Fix SolverCalculiX object refactor
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/Resources/Fem.qrc
  src/Mod/Fem/Gui/Resources/ui/SolverCcxTools.ui
  src/Mod/Fem/femtaskpanels/task_solver_ccxtools.py
Labels: Mod: FEM

#20915 [Gui] Fix "Select dependent objects" with cycles
  src/Gui/Tree.cpp
Labels: Mod: Core

#19786 Fix: Only add objects when multiple are selected
  src/Gui/CommandStructure.cpp
Labels: Mod: Core

#20946 Draft: adjust formatting of params.py
  src/Mod/Draft/draftutils/params.py
Labels: Mod: Draft

#20824 Gui: Fix value field for DlgAddPropertyVarSet
  src/Gui/Dialogs/DlgAddPropertyVarSet.cpp
  src/Gui/Dialogs/DlgAddPropertyVarSet.h
Labels: Mod: Core

#20944 Core: Fix to sanity checking of ElementMap::restore()
  src/App/ElementMap.cpp
Labels: Mod: Core

#20949 CI: Update to LibPack 3.1.1.3
  .github/workflows/actions/windows/getLibpack/action.yml
Labels: :octocat:

#20952 Draft: Change 'Chain Mode' GUI text to sentence case
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft

#20959 Add `locked` keyword to Document::addProperty
  src/App/Document.pyi
  src/App/DocumentPyImp.cpp
Labels: Mod: Core

#20905 Gui: Use a perceptually uniform color map for Std_RandomColor
  src/Gui/CommandFeat.cpp
  src/Gui/cet_lut.hpp
Labels: Mod: Core

#20977 github: Remove description header
  .github/pull_request_template.md
Labels: :octocat:

#20976 App: Fix inheritance information for PropertyEnumeration
  src/App/PropertyStandard.cpp
Labels: Mod: Core

#20983 Base, Gui: remove lefovers from xml -> pyi conversion
  src/Base/AxisPyImp.cpp
  src/Base/BaseClassPyImp.cpp
  src/Base/BoundBoxPyImp.cpp
  src/Base/CMakeLists.txt
  src/Base/MatrixPyImp.cpp
  src/Base/PersistencePyImp.cpp
  src/Base/PlacementPyImp.cpp
  src/Base/QuantityPyImp.cpp
  src/Base/RotationPyImp.cpp
  src/Base/UnitPyImp.cpp
  src/Base/VectorPyImp.cpp
  src/Gui/CMakeLists.txt
  src/Gui/CommandPyImp.cpp
  src/Gui/DocumentPyImp.cpp
  src/Gui/Navigation/NavigationStylePyImp.cpp
  src/Gui/PythonWorkbenchPyImp.cpp
  src/Gui/ViewProviderDocumentObjectPyImp.cpp
  src/Gui/ViewProviderExtensionPyImp.cpp
  src/Gui/ViewProviderLinkPyImp.cpp
  src/Gui/ViewProviderPyImp.cpp
Labels: Mod: Core

#20658 BIM: Improve grid handling for some commands
  src/Mod/BIM/bimcommands/BimBox.py
  src/Mod/BIM/bimcommands/BimCurtainwall.py
  src/Mod/BIM/bimcommands/BimImagePlane.py
  src/Mod/BIM/bimcommands/BimPanel.py
  src/Mod/BIM/bimcommands/BimProfile.py
  src/Mod/BIM/bimcommands/BimTruss.py
  src/Mod/BIM/bimcommands/BimWindow.py
Labels: Mod: BIM

#20689 BIM: Hidden objects used for variant Links should not be hosted
  src/Mod/BIM/ArchComponent.py
Labels: Mod: BIM

#20990 [Gui] Fix warning in Qt6.9.0 due to invalid index
  src/Gui/propertyeditor/PropertyModel.cpp
Labels: Mod: Core

#20732 Assembly: enable BOM columns to be autopopulated with given properties
  src/Mod/Assembly/App/BomObject.cpp
  src/Mod/Assembly/App/BomObject.h
  src/Mod/Assembly/CommandCreateBom.py
Labels: Mod: Assembly

#20860 Core: Introduce PDF Import-Export dialog
  src/Gui/ApplicationPy.cpp
  src/Gui/CMakeLists.txt
  src/Gui/EditorView.cpp
  src/Gui/MDIView.cpp
  src/Gui/PreferencePages/DlgSettingsPDF.cpp
  src/Gui/PreferencePages/DlgSettingsPDF.h
  src/Gui/PreferencePages/DlgSettingsPDF.ui
  src/Gui/View3DInventor.cpp
  src/Gui/resource.cpp
  src/Mod/Spreadsheet/Gui/SpreadsheetView.cpp
  src/Mod/TechDraw/Gui/PagePrinter.cpp
Labels: Mod: Core, Mod: TechDraw, Mod: Spreadsheet

#21029 Misc: Fix various typos
  src/App/PropertyContainer.h
  src/Mod/CAM/Path/Op/Adaptive.py
  src/Mod/Draft/SVGPath.py
  src/Mod/Material/App/MaterialAPI/MaterialManagerExternal.py
Labels: Mod: Core, Mod: Draft, Mod: CAM, Mod: Materials

#21023 BIM: Update working plane related code
  src/Mod/BIM/bimcommands/BimDimensions.py
  src/Mod/BIM/bimcommands/BimImagePlane.py
  src/Mod/BIM/bimcommands/BimLibrary.py
  src/Mod/BIM/bimcommands/BimNudge.py
  src/Mod/BIM/bimcommands/BimProjectManager.py
  src/Mod/BIM/bimcommands/BimSetup.py
  src/Mod/BIM/bimcommands/BimSketch.py
  src/Mod/BIM/bimcommands/BimViews.py
Labels: Mod: BIM

#21025 [ArchStairs] ArchSketch Support and Refactoring Phase 2
  src/Mod/BIM/ArchStairs.py
Labels: Mod: BIM

#20894 FEM:making the buttons of the temperature constrain expandable
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.ui
Labels: Mod: FEM, Approved, DWG Approved

#20921 CAM: Fix array warning 2
  src/Mod/CAM/Path/Op/Gui/Array.py
Labels: Mod: CAM

#20931 Update helix.py
  src/Mod/CAM/Path/Base/Generator/helix.py
Labels: Mod: CAM

#20948 Gui: MayaGesture navigation fixes
  src/Gui/Navigation/GestureNavigationStyle.cpp
  src/Gui/Navigation/MayaGestureNavigationStyle.cpp
  src/Gui/Navigation/NavigationStyle.h
Labels: Mod: Core, Topic: Navigation

#20554 Core: Fixed a bug where an empty document disappears
  src/App/Document.cpp
  src/App/Document.h
  src/App/Document.pyi
  src/App/DocumentPyImp.cpp
  src/Gui/Application.cpp
  src/Gui/MainWindow.cpp
  src/Mod/Test/Document.py
Labels: Mod: Core, Mod: Test

#21004 Draft: Add Global mode to ShapeString task panel
  src/Mod/Draft/Resources/ui/TaskShapeString.ui
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
Labels: Mod: Draft

#20903 CI: Check file name case sensitivity in lint workflow.
  .github/workflows/sub_lint.yml
Labels: :octocat:

#20951 Sketcher: Avoid an unnecessary geometry update when trimming
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#20980 BIM: Allow CurtainWall to have Window being assigned upon Remove/Add ops
  src/Mod/BIM/ArchCommands.py
Labels: Mod: BIM

#20991 [1.0] [Gui] Fix warning in Qt6.9.0 due to invalid index
  src/Gui/propertyeditor/PropertyModel.cpp
Labels: Mod: Core, Approved

#20876 Gui: rename TaskCSysDragger to TaskTransformDragger
  src/Gui/CMakeLists.txt
  src/Gui/TaskTransform.cpp
  src/Gui/TaskTransform.h
  src/Gui/TaskTransform.ui
  src/Gui/ViewProviderDragger.cpp
  src/Gui/ViewProviderLink.cpp
Labels: Mod: Core

#21057 BIM: Fix Python syntax error
  src/Mod/BIM/ArchPanel.py
Labels: Mod: BIM

#21047 Materials: External Module Support
  src/Mod/Material/App/AppMaterial.cpp
  src/Mod/Material/App/CMakeLists.txt
  src/Mod/Material/App/ExternalManager.cpp
  src/Mod/Material/App/MaterialLibrary.cpp
  src/Mod/Material/App/MaterialLibrary.h
  src/Mod/Material/App/MaterialManager.cpp
  src/Mod/Material/App/MaterialManager.h
  src/Mod/Material/App/MaterialManagerExternal.cpp
  src/Mod/Material/App/MaterialManagerExternal.h
  src/Mod/Material/App/MaterialPyImp.cpp
  src/Mod/Material/App/MaterialValue.h
  src/Mod/Material/App/ModelLibrary.h
  src/Mod/Material/App/ModelManagerLocal.cpp
  src/Mod/Material/Gui/AppMatGui.cpp
  src/Mod/Material/Gui/CMakeLists.txt
  src/Mod/Material/Gui/Command.cpp
  src/Mod/Material/Gui/DlgSettingsExternal.cpp
  src/Mod/Material/Gui/DlgSettingsExternal.h
  src/Mod/Material/Gui/DlgSettingsExternal.ui
  src/Mod/Material/Gui/TaskMigrateExternal.cpp
  src/Mod/Material/Gui/TaskMigrateExternal.h
  src/Mod/Material/Gui/TaskMigrateExternal.ui
  src/Mod/Material/materialtests/TestMaterialFilter.py
Labels: Mod: Materials

#21067 clean SoFCSelection.cpp
  src/Gui/Selection/SoFCSelection.cpp
Labels: Mod: Core

#21065 Doc: Improve App::PropertyContainer documentation
  src/App/PropertyContainer.h
  src/App/core-app.dox
Labels: Mod: Core

#21062 Removed unused function
  src/Gui/Selection/SelectionFilter.h
Labels: Mod: Core

#21053 CI: rename Weekly Build weekly-<date> to Development Build weekly-<date>.
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#20998 GUI: Refactor - removed soft dependency from freeze toggle
  src/Gui/CommandFeat.cpp
Labels: Mod: Core

#21080 CI: Add weekly build notes.
  .github/workflows/sub_weeklyBuild.yml
  .github/workflows/weekly-build-notes.md
Labels: :octocat:
