Repository FreeCAD/FreeCAD, pull requests merged in 2025-01, with the labels that each got.

#18841 Draft: Make test_modification tests independent of fillmode
  src/Mod/Draft/drafttests/test_modification.py
Labels: Mod: Draft

#18857 Draft: Minor cosmetic changes to test files
  src/Mod/Draft/drafttests/auxiliary.py
  src/Mod/Draft/drafttests/draft_test_objects.py
  src/Mod/Draft/drafttests/test_airfoildat.py
  src/Mod/Draft/drafttests/test_array.py
  src/Mod/Draft/drafttests/test_base.py
  src/Mod/Draft/drafttests/test_creation.py
  src/Mod/Draft/drafttests/test_draftgeomutils.py
  src/Mod/Draft/drafttests/test_dwg.py
  src/Mod/Draft/drafttests/test_dxf.py
  src/Mod/Draft/drafttests/test_import.py
  src/Mod/Draft/drafttests/test_import_gui.py
  src/Mod/Draft/drafttests/test_import_tools.py
  src/Mod/Draft/drafttests/test_modification.py
  src/Mod/Draft/drafttests/test_oca.py
  src/Mod/Draft/drafttests/test_pivy.py
  src/Mod/Draft/drafttests/test_svg.py
Labels: Mod: Draft

#18863 Draft: comment out 3 test files with only dummy tests
  src/Mod/Draft/TestDraft.py
Labels: Mod: Draft

#18739 BIM: getDefaultColor: change transparency to alpha
  src/Mod/BIM/ArchCommands.py
Labels: Mod: BIM

#18829 BIM: fixes stirrups placement in ifc export
  src/Mod/BIM/ArchRebar.py
Labels: Mod: BIM

#18875 [ArchStairs] Improve Stairs Creation and ensureBase
  src/Mod/BIM/Arch.py
  src/Mod/BIM/ArchStairs.py
  src/Mod/BIM/bimcommands/BimStairs.py
Labels: Mod: BIM

#18864 [ArchWall] Fix Regression - EnsureBase prevent creation without Base
  src/Mod/BIM/ArchWall.py
Labels: Mod: BIM, Needs backport

#18709 BIM: Fixed nativeIFC license
  src/Mod/BIM/ifc_objects.py
  src/Mod/BIM/ifc_viewproviders.py
  src/Mod/BIM/nativeifc/ifc_commands.py
  src/Mod/BIM/nativeifc/ifc_diff.py
  src/Mod/BIM/nativeifc/ifc_export.py
  src/Mod/BIM/nativeifc/ifc_generator.py
  src/Mod/BIM/nativeifc/ifc_geometry.py
  src/Mod/BIM/nativeifc/ifc_import.py
  src/Mod/BIM/nativeifc/ifc_layers.py
  src/Mod/BIM/nativeifc/ifc_materials.py
  src/Mod/BIM/nativeifc/ifc_objects.py
  src/Mod/BIM/nativeifc/ifc_observer.py
  src/Mod/BIM/nativeifc/ifc_openshell.py
  src/Mod/BIM/nativeifc/ifc_performance_test.py
  src/Mod/BIM/nativeifc/ifc_psets.py
  src/Mod/BIM/nativeifc/ifc_selftest.py
  src/Mod/BIM/nativeifc/ifc_status.py
  src/Mod/BIM/nativeifc/ifc_tools.py
  src/Mod/BIM/nativeifc/ifc_tree.py
  src/Mod/BIM/nativeifc/ifc_types.py
  src/Mod/BIM/nativeifc/ifc_viewproviders.py
Labels: Mod: BIM, Needs backport

#18805 Draft: make_sketch.py: Use sketcher methods to add constraints
  src/Mod/Draft/draftmake/make_sketch.py
Labels: Mod: Draft

#18697 Sketcher: Add an option to always add ext. geometry as reference
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerExternal.h
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.ui
Labels: Mod: Sketcher

#18719 Stylesheets spreadsheets visual fix.
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
Labels: Mod: Core, Topic: Stylesheets, Needs backport

#18689 BIM: Quantities support for nativeIFC objects
  src/Mod/BIM/Arch.py
  src/Mod/BIM/ArchCommands.py
  src/Mod/BIM/ArchSchedule.py
  src/Mod/BIM/CMakeLists.txt
  src/Mod/BIM/Presets/pset_definitions.csv
  src/Mod/BIM/Presets/qto_definitions.csv
  src/Mod/BIM/Resources/ui/ArchSchedule.ui
  src/Mod/BIM/Resources/ui/dialogIfcQuantities.ui
  src/Mod/BIM/bimcommands/BimIfcQuantities.py
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/nativeifc/ifc_export.py
  src/Mod/BIM/nativeifc/ifc_objects.py
  src/Mod/BIM/nativeifc/ifc_observer.py
  src/Mod/BIM/nativeifc/ifc_psets.py
  src/Mod/BIM/nativeifc/ifc_tools.py
  src/Mod/BIM/utils/buildPsets.py
  src/Mod/BIM/utils/convertPsets.py
  src/Mod/BIM/utils/pset_definitions.csv
  src/Mod/BIM/utils/pset_definitions.xml
Labels: Mod: BIM

#18757 [TD]Symbol scaling (fix #14400)
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/QGIViewSymbol.cpp
  src/Mod/TechDraw/Gui/QGIViewSymbol.h
Labels: Mod: TechDraw

#18758 Part: Fix doc string of TopoShape.inTolerance
  src/Mod/Part/App/TopoShapePy.xml
Labels: Mod: Part

#18764 Clean OpenSCAD2Dgeom.py
  src/Mod/OpenSCAD/OpenSCAD2Dgeom.py
Labels: Mod: OpenSCAD

#18769 Materials: Physical properties reversion
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
Labels: Mod: Part

#18754 Gui: Check for exising layout before accessing it
  src/Gui/DlgPreferencesImp.cpp
Labels: Needs backport

#18768 [TD]Fix RichText parent in scene (fix #18283)
  src/Mod/TechDraw/App/DrawViewAnnotation.cpp
  src/Mod/TechDraw/App/DrawViewAnnotation.h
  src/Mod/TechDraw/App/DrawViewImage.cpp
  src/Mod/TechDraw/App/DrawViewImage.h
  src/Mod/TechDraw/App/DrawViewSpreadsheet.cpp
  src/Mod/TechDraw/App/DrawViewSpreadsheet.h
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/CommandDecorate.cpp
  src/Mod/TechDraw/Gui/CommandHelpers.cpp
  src/Mod/TechDraw/Gui/CommandHelpers.h
  src/Mod/TechDraw/Gui/QGIViewBalloon.cpp
  src/Mod/TechDraw/Gui/QGSPage.cpp
  src/Mod/TechDraw/Gui/QGSPage.h
  src/Mod/TechDraw/Gui/ViewProviderBalloon.cpp
  src/Mod/TechDraw/Gui/ViewProviderBalloon.h
  src/Mod/TechDraw/Gui/ViewProviderDimension.cpp
  src/Mod/TechDraw/Gui/ViewProviderDimension.h
  src/Mod/TechDraw/Gui/ViewProviderLeader.cpp
  src/Mod/TechDraw/Gui/ViewProviderProjGroup.cpp
  src/Mod/TechDraw/Gui/ViewProviderProjGroup.h
  src/Mod/TechDraw/Gui/ViewProviderRichAnno.cpp
  src/Mod/TechDraw/Gui/ViewProviderRichAnno.h
  src/Mod/TechDraw/Gui/ZVALUE.h
Labels: Mod: TechDraw, Needs backport

#18525 Macro: allow to specify extra system paths for macro
  src/App/Application.cpp
  src/App/FreeCADInit.py
  src/Gui/DlgMacroExecuteImp.cpp
  src/Gui/DlgMacroExecuteImp.h
Labels: Mod: Core

#18738 Center text in spreadsheet vertical headers
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
Labels: Mod: Spreadsheet

#18762 Part: copy_visual_attributes did not handle Draft Link arrays
  src/Mod/Part/BOPTools/BOPFeatures.py
Labels: Mod: Draft, Mod: Part, Needs backport

#18790 FEM: Add accuracy parameter for CalculiX buckling analysis
  src/Mod/Fem/femsolver/calculix/solver.py
  src/Mod/Fem/femsolver/calculix/write_step_equation.py
Labels: Mod: FEM

#18899 Draft: props_changed_placement_only should ignore material props
  src/Mod/Draft/draftobjects/base.py
Labels: Mod: Draft

#18901 Draft: Closed corners for extruded Facebinders
  src/Mod/Draft/draftobjects/facebinder.py
Labels: Mod: Draft

#18444 BIM: Added classifications support to nativeifc
  src/Mod/BIM/ArchCurtainWall.py
  src/Mod/BIM/CMakeLists.txt
  src/Mod/BIM/bimcommands/BimClassification.py
  src/Mod/BIM/bimcommands/BimMaterial.py
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/nativeifc/ifc_classification.py
  src/Mod/BIM/nativeifc/ifc_objects.py
  src/Mod/BIM/nativeifc/ifc_status.py
  src/Mod/BIM/nativeifc/ifc_tools.py
  src/Mod/BIM/nativeifc/ifc_types.py
  src/Mod/BIM/nativeifc/ifc_viewproviders.py
Labels: Mod: BIM

#18843 BIM: Speedup and refactor WebGL exporting
  src/Mod/BIM/importers/importWebGL.py
Labels: Mod: BIM

#18948 Draft: fix axis calculation in make_sketch
  src/Mod/Draft/draftmake/make_sketch.py
Labels: Mod: Draft, Needs backport

#18942 Draft: fix selection for FacebinderTaskPanel
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft, Needs backport

#18905 Part: Rename new datum commands
  src/Mod/Part/Gui/Command.cpp
Labels: Mod: Part

#18959 Core: fix sWhatsThis for Std_LinkActions
  src/Gui/CommandLink.cpp
Labels: Mod: Core

#18949 Draft (and Pref Packs): fix snapcolor
  src/Gui/PreferencePacks/Dark behave/Dark behave.cfg
  src/Gui/PreferencePacks/FreeCAD Classic/FreeCAD Classic.cfg
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
  src/Gui/PreferencePacks/FreeCAD Light/FreeCAD Light.cfg
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
Labels: Mod: Core, Mod: Draft

#18965 BIM: Colors in DAE import + code improvements
  src/Mod/BIM/importers/importDAE.py
Labels: Mod: BIM

#18950 [ArchSpace] Improve Space Creation and ensureBase
  src/Mod/BIM/ArchSpace.py
Labels: Mod: BIM, Needs backport

#18988 Draft and BIM: Layer manager did not accept zero transparency
  src/Mod/BIM/bimcommands/BimLayers.py
  src/Mod/Draft/draftguitools/gui_layers.py
Labels: Mod: BIM, Mod: Draft, Needs backport

#19014 BIM: improve roof getSubVolume function
  src/Mod/BIM/ArchRoof.py
Labels: Mod: BIM

#18804 Extend branding options
  src/App/Branding.cpp
  src/Main/MainGui.cpp
Labels: Mod: Core

#18800 Fix issues in ellipse creation
  src/Mod/Sketcher/Gui/DrawSketchController.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
Labels: Mod: Sketcher, Needs backport

#18704 App: Add methods to get base and direction of datum element
  src/App/Datums.cpp
  src/App/Datums.h
  src/App/Origin.h
  src/Gui/CommandDoc.cpp
  src/Gui/ViewProviderLine.cpp
  src/Mod/Fem/App/FemConstraint.cpp
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/PartDesign/App/FeatureLinearPattern.cpp
  src/Mod/PartDesign/App/FeatureMirrored.cpp
  src/Mod/PartDesign/App/FeaturePolarPattern.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/Test/Document.py
Labels: Mod: Core, Mod: FEM, Mod: Part Design

#18589 Address the poor performance of the existing unique-name generation (part 1)
  src/Base/CMakeLists.txt
  src/Base/UniqueNameManager.cpp
  src/Base/UniqueNameManager.h
  tests/src/Base/CMakeLists.txt
  tests/src/Base/UniqueNameManager.cpp
Labels: Mod: Core

#18827 TechDraw: Component Drawing as default document type
  src/Mod/TechDraw/Templates/A0_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A0_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO5457_advanced.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_1_minimal.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_2.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_3_advanced.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_4.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_5_maximal.svg
Labels: Mod: TechDraw

#18855 PD: Make InvoluteGearTests independent of "single solid" setting
  src/Mod/PartDesign/PartDesignTests/TestInvoluteGear.py
Labels: Mod: Part Design

#18771 [TD]Dimension font clipping (fix #11452)
  src/Mod/TechDraw/Gui/QGCustomText.cpp
  src/Mod/TechDraw/Gui/QGCustomText.h
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
Labels: Mod: TechDraw, Needs backport

#18831 Stylesheet toolbar background
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
Labels: Mod: Core, Topic: Stylesheets, Needs backport

#19032 [TD]use transformShape instead of transformGeometry
  src/Mod/Measure/App/ShapeFinder.cpp
Labels: Mod: Measurement

#18781 Gui: Scene inspector improvements
  src/Gui/SceneInspector.cpp
  src/Gui/SceneInspector.ui
  src/Gui/View3DInventorSelection.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/ViewProvider.cpp
  src/Gui/ViewProviderGeometryObject.cpp
  src/Gui/ViewProviderTextureExtension.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: Mod: Core, Mod: Part

#19053 MSVC: Add missing PreCompiled.h includes
  src/App/Services.cpp
  src/Mod/Part/App/Services.cpp
Labels: Mod: Core, Mod: Part

#19034 BIM: Only import `TechDraw` when its actually needed.
  src/Mod/BIM/ArchComponent.py
Labels: Mod: BIM

#19063 BIM: Fixed late global declaration
  src/Mod/BIM/importers/exportIFC.py
Labels: Mod: BIM

#19061 Update sub_buildPixi.yml
  .github/workflows/sub_buildPixi.yml
Labels: :octocat:

#19065 Fix several compiler warnings
  src/Gui/TaskCSysDragger.cpp
  src/Gui/ViewProviderDragger.cpp
  src/Gui/ViewProviderLink.cpp
  src/Mod/Part/App/PartFeature.cpp
Labels: Mod: Core, Mod: Part

#19040 Gui: Rename `View3DInventorPy::getView3DIventorPtr()` due to typo.
  src/Gui/View3DPy.cpp
  src/Gui/View3DPy.h
  src/Gui/ViewProviderPyImp.cpp
Labels: Mod: Core

#19038 Gui: Bind `NavigationStyle` to Python.
  src/Gui/CMakeLists.txt
  src/Gui/NavigationStyle.cpp
  src/Gui/NavigationStyle.h
  src/Gui/NavigationStylePy.xml
  src/Gui/NavigationStylePyImp.cpp
  src/Gui/View3DViewerPy.cpp
  src/Gui/View3DViewerPy.h
Labels: Mod: Core

#19035 CMake: Issue a non-fatal error when module dependency is not found.
  cMake/FreeCAD_Helpers/CheckInterModuleDependencies.cmake
Labels: Packaging/building

#19019 Refactor countObjectsOfType in selection and document
  src/App/Document.cpp
  src/App/Document.h
  src/Gui/CommandDoc.cpp
  src/Gui/Selection.cpp
  src/Gui/Selection.h
  src/Gui/Workbench.cpp
  src/Mod/Drawing/Gui/Command.cpp
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Inspection/Gui/Command.cpp
  src/Mod/Measure/Gui/Command.cpp
  src/Mod/Mesh/Gui/Command.cpp
  src/Mod/Mesh/Gui/Workbench.cpp
  src/Mod/MeshPart/Gui/Command.cpp
  src/Mod/Part/App/FeatureMirroring.h
  src/Mod/Part/Gui/Command.cpp
  src/Mod/Part/Gui/CommandSimple.cpp
  src/Mod/Part/Gui/Mirroring.cpp
  src/Mod/PartDesign/Gui/Command.cpp
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
  src/Mod/PartDesign/Gui/Utils.cpp
  src/Mod/PartDesign/Gui/Workbench.cpp
  src/Mod/Points/Gui/Command.cpp
  src/Mod/ReverseEngineering/Gui/Command.cpp
  src/Mod/Robot/Gui/CommandExport.cpp
  src/Mod/Robot/Gui/CommandTrajectory.cpp
  src/Mod/Sketcher/Gui/Command.cpp
  src/Mod/Sketcher/Gui/CommandAlterGeometry.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/CommandSketcherVirtualSpace.cpp
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Surface/Gui/Command.cpp
Labels: Mod: Core, Mod: FEM, Mod: Part Design, Mod: Part, Mod: Sketcher, Mod: Mesh, Mod: Points, Mod: MeshPart, Mod: Reverse Engineering, Mod: Measurement

#18907 File export: generate a default filename if the selected object chang…
  src/Gui/CommandDoc.cpp
Labels: Mod: Core

#19078 Addon Manager: Improve proxy URL parsing & enhanced the error messaging
  src/Mod/AddonManager/NetworkManager.py
Labels: Mod: Addon Manager

#19083 BIM: ArchWall use moveGeometry to move sketch point
  src/Mod/BIM/ArchWall.py
Labels: Mod: BIM

#19067 Draft: Save fillet settings
  src/Mod/Draft/draftguitools/gui_fillets.py
  src/Mod/Draft/draftutils/params.py
Labels: Mod: Draft

#19089 Draft: Clone: avoid B-spline faces in more cases
  src/Mod/Draft/draftobjects/clone.py
Labels: Mod: Draft

#18665 [Sketcher] Round 2 of refactors
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/App/planegcs/GCS.cpp
  src/Mod/Sketcher/App/planegcs/GCS.h
  tests/src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#18946 Macros: Save last used debugger
  src/Gui/RemoteDebugger.py
Labels: Mod: Core

#19042 Gui: Avoid unnecessary exception in `View3DSettings::OnChange`.
  src/Gui/View3DSettings.cpp
Labels: Mod: Core

#19044 Gui: Bind `View3DInventorViewer::setOverrideMode` to Python.
  src/Gui/View3DViewerPy.cpp
  src/Gui/View3DViewerPy.h
Labels: Mod: Core

#19037 Gui: Introduce `Gui::Document::createView` to Python.
  src/Gui/Document.cpp
  src/Gui/DocumentPy.xml
  src/Gui/DocumentPyImp.cpp
Labels: Mod: Core

#19114 PartDesign: replace part design datum commands by the core ones
  src/Mod/PartDesign/Gui/Workbench.cpp
Labels: Mod: Part Design

#18783 CMake: Coin3D build fixes
  CMakeLists.txt
  cMake/FreeCAD_Helpers/SetupCoin3D.cmake
  src/Gui/CMakeLists.txt
Labels: Mod: Core, Packaging/building

#19111 fixed small typo
  src/Mod/Assembly/CommandCreateJoint.py
Labels: Mod: Assembly

#18766 Contributing: Add information about breaking changes
  CONTRIBUTING.md
Labels: review

#19052 feat(PD): Hole UI Taskpanel: hide elements that are not applicable or useful
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.ui
Labels: Mod: Part Design, approved

#19076 BIM: Make sure we have a context when exporting to IFC
  src/Mod/BIM/nativeifc/ifc_export.py
Labels: Mod: BIM, approved

#19036 CMake: Improve Import dependency check for TechDraw module.
  cMake/FreeCAD_Helpers/CheckInterModuleDependencies.cmake
  src/Mod/TechDraw/App/CMakeLists.txt
Labels: Mod: TechDraw, Packaging/building, approved

#18992 Gui: Fix camera position shift when starting rotation
  src/Gui/NavigationStyle.cpp
Labels: Mod: Core, Needs backport, approved

#18990 Readme docker path
  tools/build/Docker/README.conda.rst
Labels: approved

#18919 PartDesign: Fix context menu
  src/Mod/PartDesign/Gui/Workbench.cpp
Labels: Mod: Part Design, approved

#18910 Gui: Add Show Plane utility to 2D Objects
  src/Mod/Part/Gui/ViewProvider2DObject.cpp
  src/Mod/Part/Gui/ViewProvider2DObject.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Part, Mod: Sketcher, approved

#18893 Fem: Use new material editor in Reinforced material task panel - fixes #18692
  src/Mod/Fem/Gui/Resources/ui/MaterialReinforcement.ui
  src/Mod/Fem/femexamples/rc_wall_2d.py
  src/Mod/Fem/femobjects/material_common.py
  src/Mod/Fem/femobjects/material_reinforced.py
  src/Mod/Fem/femtaskpanels/task_material_common.py
  src/Mod/Fem/femtaskpanels/task_material_reinforced.py
Labels: Mod: FEM, approved

#18809 Datum fixes
  src/Gui/ViewProviderCoordinateSystem.cpp
  src/Gui/ViewProviderCoordinateSystem.h
  src/Gui/ViewProviderPlane.cpp
  src/Gui/ViewProviderPlane.h
  src/Mod/PartDesign/Gui/TaskFeaturePick.cpp
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
  src/Mod/PartDesign/Gui/TaskLinearPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskMirroredParameters.cpp
  src/Mod/PartDesign/Gui/TaskPolarPatternParameters.cpp
  src/Mod/PartDesign/Gui/TaskPrimitiveParameters.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.cpp
Labels: Mod: Core, Mod: Part Design, approved

#18807 Fem: Use property constraints on mesh netgen object
  src/App/PropertyStandard.cpp
  src/Mod/Fem/femobjects/mesh_netgen.py
Labels: Mod: Core, Mod: FEM, approved

#18716 [Python console] add Execute in console context menu item
  src/Gui/PythonEditor.cpp
  src/Gui/PythonEditor.h
Labels: Mod: Core, approved

#18726 Fix the crash in the interface for managing preference packs
  src/Gui/DlgPreferencePackManagementImp.cpp
  src/Gui/DlgPreferencePackManagementImp.h
Labels: Mod: Core

#18896 Gui: Fix crash on scrolling workbench tab bar in Qt < 5.15.6
  src/Gui/WorkbenchSelector.h
Labels: Mod: Core

#18878 Gui: Fix render order of datum planes
  src/Gui/Inventor/So3DAnnotation.cpp
  src/Gui/Inventor/So3DAnnotation.h
  src/Gui/SoFCDB.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/ViewProviderDatum.cpp
Labels: Mod: Core

#18986 [Gui] Allow power users to set their own max toggle transparency...
  src/Gui/CommandView.cpp
Labels: Mod: Core

#19075 Update sub_buildPixi.yml
  .github/workflows/sub_buildPixi.yml
Labels: :octocat:

#18971 Sketcher: Fixed mapping error when attempting to create a sketch inside a group.
  src/Mod/Sketcher/Gui/Command.cpp
Labels: Mod: Sketcher, Needs backport

#19028 Fix missing constrain type in 'type2str'
  src/Mod/Sketcher/App/Constraint.h
Labels: Mod: Sketcher

#18795 Draft: make move, rotate and scale commands link-aware
  src/Mod/Draft/Draft.py
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftfunctions/join.py
  src/Mod/Draft/draftfunctions/move.py
  src/Mod/Draft/draftfunctions/rotate.py
  src/Mod/Draft/draftfunctions/scale.py
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftguitools/gui_trackers.py
  src/Mod/Draft/draftobjects/clone.py
  src/Mod/Draft/draftobjects/dimension.py
  src/Mod/Draft/draftobjects/layer.py
  src/Mod/Draft/drafttaskpanels/task_scale.py
  src/Mod/Draft/drafttests/test_modification.py
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_text.py
Labels: Mod: Draft

#19096 Draft: DXF export: add handling of text justification
  src/Mod/Draft/importDXF.py
Labels: Mod: Draft, File format: DXF

#18441 PartDesign New sketch : Open attachment dialog
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/Part/Gui/TaskAttacher.h
  src/Mod/Part/Gui/ViewProviderAttachExtension.cpp
  src/Mod/Part/Gui/ViewProviderAttachExtension.h
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
Labels: Mod: Core, Mod: Part Design, Mod: Part, Mod: Test, Mod: Assembly

#19164 Fix call to setTemporaryVisibility() post API change.
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
Labels: Mod: Part Design

#19159 Part: Fix wrong attachment of datum lines
  src/Mod/Part/App/Datums.cpp
Labels: Mod: Part, approved

#19148 Sketcher: Refactor C++20 code
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#19166 Draft: DraftGui.py improve some tooltips
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft

#18859 Auto scroll to constraint on click
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
Labels: Mod: Sketcher, approved

#19043 CMake: Allow using symlinks for installed files.
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  cMake/FreeCadMacros.cmake
Labels: Packaging/building

#19179 Draft: DraftGui.py fix updateSnapper and implement display_point_active
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft

#19180 Draft: updates related to transparency to alpha change
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
  src/Mod/Draft/draftguitools/gui_groups.py
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_draft_annotation.py
  src/Mod/Draft/draftviewproviders/view_layer.py
  src/Mod/Draft/draftviewproviders/view_wpproxy.py
Labels: Mod: Draft

#19168 BIM: Fix BIM Schedule
  src/Mod/BIM/ArchSchedule.py
Labels: Mod: BIM

#19178 SH3DImporter: Miscellaneous improvements
  src/Mod/BIM/Resources/ui/preferences-sh3d-import.ui
  src/Mod/BIM/importers/importSH3DHelper.py
  src/Mod/Part/App/BRepOffsetAPI_MakePipeShellPy.xml
  src/Mod/Part/App/BRepOffsetAPI_MakePipeShellPyImp.cpp
Labels: Mod: BIM, Mod: Part

#18989 Draft and BIM: Layer manager minor code improvements
  src/Mod/BIM/bimcommands/BimLayers.py
  src/Mod/Draft/draftguitools/gui_layers.py
Labels: Mod: BIM, Mod: Draft

#17058 [Gui] Make autocompletion global
  src/Gui/CallTips.h
  src/Gui/PythonConsole.cpp
  src/Gui/PythonConsole.h
  src/Gui/TextEdit.cpp
  src/Gui/TextEdit.h
Labels: Mod: Core, approved

#19193 Fem: return from Python setEdit methods
  src/Mod/Fem/femviewprovider/view_constraint_bodyheatsource.py
  src/Mod/Fem/femviewprovider/view_constraint_centrif.py
  src/Mod/Fem/femviewprovider/view_constraint_currentdensity.py
  src/Mod/Fem/femviewprovider/view_constraint_electrostaticpotential.py
  src/Mod/Fem/femviewprovider/view_constraint_flowvelocity.py
  src/Mod/Fem/femviewprovider/view_constraint_initialflowvelocity.py
  src/Mod/Fem/femviewprovider/view_constraint_initialpressure.py
  src/Mod/Fem/femviewprovider/view_constraint_magnetization.py
  src/Mod/Fem/femviewprovider/view_constraint_sectionprint.py
  src/Mod/Fem/femviewprovider/view_constraint_tie.py
  src/Mod/Fem/femviewprovider/view_element_fluid1D.py
  src/Mod/Fem/femviewprovider/view_element_geometry1D.py
  src/Mod/Fem/femviewprovider/view_element_geometry2D.py
  src/Mod/Fem/femviewprovider/view_material_common.py
  src/Mod/Fem/femviewprovider/view_material_reinforced.py
  src/Mod/Fem/femviewprovider/view_mesh_boundarylayer.py
  src/Mod/Fem/femviewprovider/view_mesh_group.py
  src/Mod/Fem/femviewprovider/view_mesh_region.py
  src/Mod/Fem/femviewprovider/view_result_mechanical.py
  src/Mod/Fem/femviewprovider/view_solver_ccxtools.py
Labels: Mod: FEM

#19143 Add units to some spinboxes on preferences pages
  src/Gui/PreferencePages/DlgSettingsEditor.ui
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
  src/Gui/PreferencePages/DlgSettingsSelection.ui
  src/Gui/PreferencePages/DlgSettingsViewColor.ui
  src/Mod/CAM/Gui/DlgSettingsPathColor.ui
  src/Mod/CAM/Gui/Resources/preferences/PathDressupHoldingTags.ui
  src/Mod/Draft/Resources/ui/preferences-svg.ui
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.ui
  src/Mod/Part/Gui/DlgSettingsObjectColor.ui
  src/Mod/Sketcher/Gui/SketcherSettingsAppearance.ui
  src/Mod/Sketcher/Gui/SketcherSettingsGrid.ui
Labels: Mod: Core, Mod: FEM, Mod: Draft, Mod: CAM, Mod: Part, Mod: Sketcher

#19196 Draft: DraftGui.py fix displayPoint
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft

#19215 Backport version. Sketcher: Fixed mapping error when attempting to create a sketch inside a group.
  src/Mod/Sketcher/Gui/Command.cpp
Labels: Mod: Sketcher

#17000 Enabling 3Dconnexion NavLib integration for MacOS
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  src/Gui/3Dconnexion/navlib/NavlibNavigation.cpp
  src/Gui/3Dconnexion/navlib/NavlibPivot.cpp
  src/Gui/CMakeLists.txt
Labels: Mod: Core, Packaging/building, review

#19237 Clean importCSG.py
  src/Mod/OpenSCAD/importCSG.py
Labels: Mod: OpenSCAD

#19242 [AddonManager] Fix construct_git_url return urls with '.git'.
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Mod: Addon Manager

#19212 Sketcher: fix seg-fault on loading sketch with redundant constraints
  src/Mod/Sketcher/App/planegcs/GCS.cpp
Labels: Mod: Sketcher, Review

#19245 PrefPacks: Add spreadsheet colors to classic theme
  src/Gui/PreferencePacks/FreeCAD Classic/FreeCAD Classic.cfg
Labels: Mod: Core, Topic: Stylesheets, Needs backport

#19277 SH3DImporter: surface decoration and slab improvments
  src/Mod/BIM/Resources/ui/preferences-sh3d-import.ui
  src/Mod/BIM/importers/importSH3DHelper.py
Labels: Mod: BIM

#19229 [ArchWall] Fix Regression Single-edge Wall w/ Multi-Material
  src/Mod/BIM/ArchWall.py
Labels: Mod: BIM, Approved

#19110 [TD]fix front view position in projection group (fix #19085)
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
  src/Mod/TechDraw/Gui/ViewProviderProjGroup.cpp
  src/Mod/TechDraw/Gui/ViewProviderProjGroup.h
Labels: Mod: TechDraw

#18746 [CAM Simulator] Add ifdef to fix OpenGL compatibility on linux. issue #18707
  src/Mod/CAM/PathSimulator/AppGL/DlgCAMSimulator.cpp
Labels: Mod: CAM, Needs backport, Approved

#17155 [CAM] Make adaptive operations use actual stock outline
  src/Mod/CAM/Path/Op/Adaptive.py
Labels: Mod: CAM, Approved

#19154 Gui: show tooltips when window is not focused
  src/Gui/MainWindow.cpp
Labels: Mod: Core, Approved

#18876 Main: Avoid Popups in Console Mode
  src/App/Application.cpp
  src/App/PreCompiled.h
  src/Main/MainGui.cpp
Labels: Mod: Core, Approved

#19118 Gui: Fix invalid scene graph mutation in `EditableDatumLabel`.
  src/Gui/EditableDatumLabel.cpp
  src/Gui/EditableDatumLabel.h
Labels: Mod: Core, Approved

#18984 CAM: improved checks in `Path/Gui/Jobs.py/claimChildren`
  src/Mod/CAM/Path/Main/Gui/Job.py
Labels: Mod: CAM, Needs backport, Approved

#19003 TechDraw: Fix finding outlines consisting of a single closed edge
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
Labels: Mod: TechDraw, Approved

#19208 TechDraw: rename user-facing strings Arch to BIM
  src/Mod/BIM/bimcommands/BimTDView.py
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawViewArch.cpp
  src/Mod/TechDraw/Gui/Command.cpp
Labels: Mod: BIM, Mod: TechDraw, Approved

#19073 [VectorListEditor] Set precision to 12 digits when copying table data
  src/Gui/VectorListEditor.cpp
Labels: Mod: Core, Approved

#17960 CAM: Fix finishing pass
  src/Mod/CAM/CAMTests/TestPathVcarve.py
  src/Mod/CAM/Path/Op/Vcarve.py
Labels: Mod: CAM, Needs backport, Approved

#19170 TechDraw: Fix dimension aligment issue.
  src/Mod/TechDraw/Gui/QGCustomText.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.h
Labels: Mod: TechDraw, Approved

#19011 Fem: Electromagnetic boundary condition
  src/App/Application.cpp
  src/App/PropertyUnits.cpp
  src/App/PropertyUnits.h
  src/Base/Unit.cpp
  src/Base/Unit.h
  src/Base/UnitsSchemaInternal.cpp
  src/Base/UnitsSchemaMKS.cpp
  src/Mod/Fem/Gui/Resources/ui/ElectrostaticPotential.ui
  src/Mod/Fem/femexamples/equation_magnetodynamics_elmer.py
  src/Mod/Fem/femobjects/constraint_electrostaticpotential.py
  src/Mod/Fem/femsolver/elmer/equations/electrostatic_writer.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic_writer.py
  src/Mod/Fem/femtaskpanels/task_constraint_electrostaticpotential.py
Labels: Mod: Core, Mod: FEM, Approved

#19259 [Units]fix bad length multiplier in MeterDecimal
  src/Base/UnitsSchemaMeterDecimal.cpp
Labels: Mod: Core

#19287 Draft: remove faulty code from importDXF.py
  src/Mod/Draft/importDXF.py
Labels: Mod: Draft, Approved

#19298 Draft: Increase max value for gridEvery in ui.
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
Labels: Mod: Draft

#19296 Draft: fix handling of annotation Links in TD DraftViews
  src/Mod/Draft/draftfunctions/svg.py
Labels: Mod: Draft

#19207 Draft: allow objects in layers to have overrides
  src/Mod/Draft/draftobjects/layer.py
  src/Mod/Draft/draftviewproviders/view_layer.py
Labels: Mod: Draft

#19303 Fix typos
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
  src/Mod/BIM/bimcommands/BimIfcQuantities.py
  src/Mod/BIM/importers/importDAE.py
  src/Mod/BIM/importers/importSH3DHelper.py
  src/Mod/Measure/App/ShapeFinder.cpp
Labels: Mod: Core, Mod: BIM, Topic: Stylesheets, Mod: Measurement

#19301 Helix tooltip spelling update in FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
Labels: Mod: Part Design

#19130 Ext: Correct user preference specified in comment
  src/Ext/freecad/utils.py
Labels: Needs backport

#19285 FEM: Thermal expansion reference temperature for CalculiX analyses
  src/Mod/Fem/Gui/Resources/ui/Material.ui
  src/Mod/Fem/femexamples/thermomech_bimetal.py
  src/Mod/Fem/femsolver/calculix/write_femelement_material.py
  src/Mod/Fem/femtaskpanels/task_material_common.py
  src/Mod/Fem/femtest/data/calculix/thermomech_bimetal.inp
Labels: Mod: FEM

#19218 Gui: Add bounding box data to scene inspector.
  src/Gui/SceneInspector.cpp
  src/Gui/SceneInspector.ui
Labels: Mod: Core, 3rd party: Coin3D

#19309 Remove superflous whitespace + trailing newlines
  cMake/FindKDL.cmake
  src/Mod/BIM/importers/importSH3DHelper.py
  src/Mod/OpenSCAD/OpenSCAD2Dgeom.py
Labels: Mod: BIM, Packaging/building, Mod: OpenSCAD, Priority: Low, Approved

#19280 #18458 Fix SVG import error at non-utf8 native environment.
  src/Mod/Draft/importSVG.py
Labels: Mod: Draft
