Repository FreeCAD/FreeCAD, pull requests merged in 2025-02, with the labels that each got.

#19362 PrefPacks: reset tree view font size in FreeCAD Classic theme
  src/Gui/PreferencePacks/FreeCAD Classic/FreeCAD Classic.cfg
Labels: Mod: Core

#19342 [Gui] Fix Close without Saving button size
  src/Gui/Dialogs/DlgMacroExecuteImp.cpp
  src/Gui/MainWindow.cpp
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
Labels: Mod: Core, Topic: Stylesheets

#19033 TechDraw: Export with default filename
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/MDIViewPage.h
  src/Mod/TechDraw/Templates/A0_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A1_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A2_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A3_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A3_Landscape_TD.svg
  src/Mod/TechDraw/Templates/A4_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/A4_Portrait_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/ANSIA_Landscape.svg
  src/Mod/TechDraw/Templates/ANSIA_Portrait.svg
  src/Mod/TechDraw/Templates/ANSIB.svg
  src/Mod/TechDraw/Templates/ANSIB_Landscape.svg
  src/Mod/TechDraw/Templates/ANSIB_Portrait.svg
  src/Mod/TechDraw/Templates/ANSIC_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_A_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_A_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_B_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_B_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_C_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_C_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_D_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_D_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E1_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E1_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E2_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E2_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E3_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E3_Portrait.svg
  src/Mod/TechDraw/Templates/Arch_E_Landscape.svg
  src/Mod/TechDraw/Templates/Arch_E_Portrait.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_1_minimal.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_2.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_4.svg
  src/Mod/TechDraw/Templates/ISO 5457/ISO7200_titleblock_5_maximal.svg
  src/Mod/TechDraw/Templates/USLetter_Landscape.svg
  src/Mod/TechDraw/Templates/locale/ca/A1_Landscape_ISO5457_minimal.svg
  src/Mod/TechDraw/Templates/locale/ca/A2_Landscape_ISO5457_minimal.svg
Labels: Mod: TechDraw

#19192 FEM: Constraint transform - selection error message update
  src/Mod/Fem/Gui/TaskFemConstraintTransform.cpp
Labels: Mod: FEM

#19119 Add CLion pixi toolchain script
  contrib/clion/pixi/pixi-default.bash
  contrib/clion/pixi/pixi-default.bat
Labels: Packaging/building, Approved

#18973 CAM: Tool Bit Library Fixes
  src/Mod/CAM/Path/Tool/Gui/BitLibrary.py
Labels: Mod: CAM, Needs backport, Approved

#18682 refactor(PD): ThreadSize enum simplification
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureHole.h
  src/Mod/PartDesign/PartDesignTests/TestHole.py
Labels: Mod: Part Design, Approved

#19136 App: Provide temporary document creation flag to Python `App.loadDocument`.
  src/App/Application.cpp
  src/App/Application.h
  src/App/ApplicationPy.cpp
  src/Gui/Application.cpp
  src/Mod/Import/App/ImportOCAF2.cpp
  src/Mod/PartDesign/App/ShapeBinder.cpp
Labels: Mod: Core, Mod: Part Design, Approved

#16995 [Gui] Axis colors changeable
  src/Gui/Inventor/SoAxisCrossKit.cpp
  src/Gui/NaviCube.cpp
  src/Gui/NaviCube.h
  src/Gui/PreferencePackTemplates/View.cfg
  src/Gui/PreferencePages/DlgSettings3DView.ui
  src/Gui/PreferencePages/DlgSettings3DViewImp.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/View3DSettings.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.h
Labels: Mod: Core, Approved

#19214 Change FocusPolicy of some PrefWidgets to StrongFocus
  src/Gui/PrefWidgets.cpp
  src/Gui/PrefWidgets.h
Labels: Mod: Core

#19220 Material: rename Materials_Edit command
  src/Mod/Material/Gui/CMakeLists.txt
  src/Mod/Material/Gui/Command.cpp
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
  src/Mod/Material/Gui/Resources/Material.qrc
  src/Mod/Material/Gui/Resources/icons/Material_Edit.svg
  src/Mod/Material/Gui/Workbench.cpp
  src/Mod/Material/MaterialEditor.py
Labels: Mod: Materials

#19233 [Part TopoShapeExpansion] move shape transform from make element copy…
  src/Mod/Part/App/TopoShapeExpansion.cpp
Labels: Mod: Part, Needs backport

#19244 [Mesh Python] Mesh.show() returns python object, update documentation…
  src/Mod/Mesh/App/AppMeshPy.cpp
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Points/App/AppPointsPy.cpp
Labels: Mod: Part, Mod: Mesh, Mod: Points

#19377 * Move pyopen with encoding to utils.
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/importAirfoilDAT.py
  src/Mod/Draft/importDXF.py
  src/Mod/Draft/importOCA.py
  src/Mod/Draft/importSVG.py
Labels: Mod: Draft

#19343 Draft: fix three issues with DraftGui.py
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft

#19201 BIM: Connect "only visible" checkbox signal to corresponding slot
  src/Mod/BIM/Resources/ui/dialogClassification.ui
  src/Mod/BIM/bimcommands/BimClassification.py
Labels: Mod: BIM

#19202 BIM: Webgl threejs upgrade , add hiding shape option, fix uncompressed read
  src/Mod/BIM/importers/importWebGL.py
Labels: Mod: BIM

#19406 Fix: Linux builds fail at link time referencing missing symbols from 3DConnexions SDK
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  src/Gui/CMakeLists.txt
Labels: Mod: Core, Packaging/building, Approved

#19405 Draft: Avoid setRadiusValue error message
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft, Needs backport

#19388 Addon Manager: Use FreeCAD QUiLoader wrapper when available
  src/Mod/AddonManager/addonmanager_python_deps_gui.py
Labels: Mod: Addon Manager

#19384 Addon manager: pip on snap fix
  src/Mod/AddonManager/AddonManagerTest/app/test_dependency_installer.py
  src/Mod/AddonManager/addonmanager_dependency_installer.py
  src/Mod/AddonManager/addonmanager_installer_gui.py
  src/Mod/AddonManager/addonmanager_python_deps_gui.py
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Mod: Addon Manager, Needs backport

#19421 BIM: Improve checking of IfcOpenShell imports in `ifc_tools.py` .
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: Mod: BIM

#19364 BIM: fix unassigned variable reference
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: Mod: BIM

#19306 [Draft_shape2dview] Fix Bug : Closed Wall Wrong Fill
  src/Mod/Draft/draftobjects/shape2dview.py
Labels: Mod: Draft

#19219 BIM: add support for array elements in BIM Schedule
  src/Mod/BIM/ArchSchedule.py
Labels: Mod: BIM

#19264 Core: add Ifcopenshell version in about info clipboard
  src/Gui/Dialogs/DlgAbout.cpp
Labels: Mod: Core

#19424 Fem: Check reference temperature - fixes #19375
  src/Mod/Fem/femsolver/calculix/write_femelement_material.py
Labels: Mod: FEM

#19017 Draft: New path array features - reverse path, etc
  src/Mod/Draft/draftobjects/patharray.py
Labels: Review

#19414 Revert classic change backport
  src/Gui/QSint/actionpanel/actionpanel.cpp
  src/Gui/QSint/actionpanel/freecadscheme.cpp
  src/Gui/QSint/actionpanel/freecadscheme.h
Labels: Mod: Core, Approved

#19376 [Start page] Implement ShowExamples parameter
  src/Mod/Start/Gui/StartView.cpp
  src/Mod/Start/Gui/StartView.h
Labels: Mod: Start

#19391 Gui: Reorganize the navigation files into a top `Navigation` folder.
  src/Gui/CMakeLists.txt
  src/Gui/CommandDoc.cpp
  src/Gui/CommandView.cpp
  src/Gui/Navigation/BlenderNavigationStyle.cpp
  src/Gui/Navigation/CADNavigationStyle.cpp
  src/Gui/Navigation/GestureNavigationStyle-state-machine-diagram.docx
  src/Gui/Navigation/GestureNavigationStyle.cpp
  src/Gui/Navigation/GestureNavigationStyle.h
  src/Gui/Navigation/InventorNavigationStyle.cpp
  src/Gui/Navigation/MayaGestureNavigationStyle.cpp
  src/Gui/Navigation/NavigationAnimation.cpp
  src/Gui/Navigation/NavigationAnimation.h
  src/Gui/Navigation/NavigationAnimator.cpp
  src/Gui/Navigation/NavigationAnimator.h
  src/Gui/Navigation/NavigationStyle.cpp
  src/Gui/Navigation/NavigationStyle.h
  src/Gui/Navigation/NavigationStylePy.xml
  src/Gui/Navigation/NavigationStylePyImp.cpp
  src/Gui/Navigation/OpenCascadeNavigationStyle.cpp
  src/Gui/Navigation/OpenSCADNavigationStyle.cpp
  src/Gui/Navigation/RevitNavigationStyle.cpp
  src/Gui/Navigation/TinkerCADNavigationStyle.cpp
  src/Gui/Navigation/TouchpadNavigationStyle.cpp
  src/Gui/PreferencePages/DlgSettingsNavigation.cpp
  src/Gui/SoFCDB.cpp
  src/Gui/SplitView3DInventor.cpp
  src/Gui/View3DInventor.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DPy.cpp
  src/Gui/View3DSettings.cpp
  src/Gui/View3DViewerPy.cpp
  src/Mod/Mesh/Gui/Command.cpp
  src/Mod/Mesh/Gui/MeshSelection.cpp
  src/Mod/Sandbox/Gui/Overlay.cpp
  src/Mod/Start/Gui/GeneralSettingsWidget.cpp
  src/Mod/TechDraw/Gui/QGVPage.cpp
Labels: Mod: Core, Mod: TechDraw, Mod: Mesh

#19438 Draft: improved handling of 'crazy' edges in hatch
  src/Mod/Draft/draftobjects/hatch.py
Labels: Mod: Draft

#19423 Draft: Fixed small bug in draftgeoutils.edges
  src/Mod/Draft/draftgeoutils/edges.py
Labels: Mod: Draft

#19433 Gui: General code cleanups
  src/Base/Interpreter.cpp
  src/Gui/Selection/Selection.h
  src/Gui/View3DInventorViewer.cpp
  src/Gui/ViewProvider.cpp
  src/Gui/ViewProvider.h
  src/Gui/ViewProviderExtension.h
  src/Gui/ViewProviderLink.cpp
  src/Gui/ViewProviderLink.h
  src/Mod/BIM/ArchBuildingPart.py
  src/Mod/BIM/bimcommands/BimViews.py
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: Mod: Core, Mod: BIM, Mod: Draft

#19407 Gui: Disable spacemouse init if not legacy
  src/Gui/GuiApplicationNativeEventAware.cpp
Labels: Mod: Core

#19432 Material: Add the polycarbonate material physical property #19431
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/Resources/Materials/Standard/Thermoplast/PC-Molded.FCMat
Labels: Mod: Materials

#19445 BIM: PipeConnector does not require a Base
  src/Mod/BIM/ArchPipe.py
Labels: Mod: BIM, Mod: Draft

#19453 CI: Make black line length match pre-commit
  .github/workflows/sub_lint.yml
Labels: :octocat:

#19461 Draft: Fix line length input issue
  src/Mod/Draft/draftobjects/wire.py
Labels: Mod: Draft, Needs backport

#19427 Draft: implement Draft_AddToLayer command
  src/Mod/Draft/Resources/Draft.qrc
  src/Mod/Draft/Resources/icons/Draft_AddToLayer.svg
  src/Mod/Draft/draftguitools/gui_layers.py
  src/Mod/Draft/draftutils/init_tools.py
Labels: Mod: Draft

#19444 Addon manager: change branch cleanup
  src/Mod/AddonManager/AddonManagerTest/gui/test_change_branch.py
  src/Mod/AddonManager/addonmanager_freecad_interface.py
  src/Mod/AddonManager/addonmanager_package_details_controller.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/change_branch.py
Labels: Mod: Addon Manager

#19470 Draft: add some checks for font file of shapestring
  src/Mod/Draft/draftobjects/shapestring.py
Labels: Mod: Draft

#18812 Fem: Display popup menu when MeshGroup solid selection is ambiguous
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/femguiutils/disambiguate_solid_selection.py
  src/Mod/Fem/femguiutils/selection_widgets.py
Labels: Mod: FEM, Approved

#19241 Assembly: Fix the crash described in #18475
  src/Gui/CommandDoc.cpp
Labels: Mod: Core, Review

#19501 CI: Adjust linter settings
  .github/workflows/sub_lint.yml
Labels: Mod: Spreadsheet, :octocat:

#17909 Bim project manager upgrade
  src/Mod/BIM/ArchBuildingPart.py
  src/Mod/BIM/Resources/ui/dialogProjectManager.ui
  src/Mod/BIM/bimcommands/BimProjectManager.py
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/nativeifc/ifc_export.py
  src/Mod/BIM/nativeifc/ifc_objects.py
  src/Mod/BIM/nativeifc/ifc_observer.py
  src/Mod/BIM/nativeifc/ifc_tools.py
  src/Mod/BIM/nativeifc/ifc_viewproviders.py
Labels: Mod: BIM, Mod: Draft

#19512 BIM: ifc_viewproviders.py make context menus translatable
  src/Mod/BIM/ArchPanel.py
Labels: Mod: BIM

#19515 BIM: fix error on double-clicking on non-IFC objects
  src/Mod/BIM/bimcommands/BimViews.py
Labels: Mod: BIM

#19487 Draft: make arrays explodable
  src/Mod/Draft/draftfunctions/downgrade.py
  src/Mod/Draft/draftobjects/array.py
  src/Mod/Draft/draftobjects/draftlink.py
  src/Mod/Draft/draftobjects/patharray.py
  src/Mod/Draft/draftobjects/pathtwistedarray.py
  src/Mod/Draft/draftobjects/pointarray.py
Labels: Mod: Draft

#19477 Draft: Introduce Edit option for Draft Clone scaling
  src/Mod/Draft/drafttaskpanels/task_scale.py
  src/Mod/Draft/draftviewproviders/view_clone.py
Labels: Mod: Draft

#18779 feat(PD): Auto find closest size when changing thread standards
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureHole.h
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
Labels: Mod: Part Design, Approved

#19412 Gui: Check if document exists in `View3DInventorViewer::setOverrideMode`.
  src/Gui/View3DInventorViewer.cpp
Labels: Mod: Core, Needs backport, Approved

#18724 CAM: Fix bug that incorrectly calculates corner radiusUpdate SurfaceSupport.py
  src/Mod/CAM/Path/Op/SurfaceSupport.py
Labels: Mod: CAM, Needs backport, Approved

#19041 CMake: Improve Pivy Coin3D version mismatch checking.
  CMakeLists.txt
  cMake/FreeCAD_Helpers/SetupCoin3D.cmake
Labels: Packaging/building

#19140 Base: Remove Boost-based filesystem and switch to standard `<filesystem>`
  cMake/FreeCAD_Helpers/SetupBoost.cmake
  src/3rdParty/salomesmesh/src/DriverSTL/SMESH_File.cpp
  src/3rdParty/salomesmesh/src/SMESH/DriverGMF.cpp
  src/App/Application.cpp
  src/App/Document.cpp
  src/App/Metadata.cpp
  src/App/Metadata.h
  src/App/PropertyStandard.cpp
  src/App/PropertyStandard.h
  src/App/StringHasher.cpp
  src/Base/FileInfo.cpp
  src/Base/FileInfo.h
  src/Base/Unit.cpp
  src/Gui/Dialogs/DlgAbout.cpp
  src/Gui/Dialogs/DlgPreferencePackManagementImp.cpp
  src/Gui/Dialogs/DlgPreferencePackManagementImp.h
  src/Gui/Dialogs/DlgRevertToBackupConfigImp.cpp
  src/Gui/PreferencePackManager.cpp
  src/Gui/PreferencePackManager.h
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/Window.h
  src/Mod/Material/App/MaterialManager.h
  src/Mod/Test/Document.py
  tests/src/Base/Reader.cpp
Labels: Mod: Core, Packaging/building, Mod: Test, Mod: Materials

#19420 Gui: Selection code cleanups
  src/Gui/3Dconnexion/navlib/NavlibPivot.cpp
  src/Gui/Selection/Selection.h
  src/Gui/Selection/SoFCSelection.cpp
  src/Gui/Selection/SoFCSelection.h
  src/Gui/Selection/SoFCSelectionAction.cpp
  src/Gui/Selection/SoFCSelectionAction.h
  src/Gui/Selection/SoFCUnifiedSelection.cpp
  src/Gui/Selection/SoFCUnifiedSelection.h
  src/Gui/SoFCDB.cpp
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DSettings.cpp
  src/Gui/ViewProviderBuilder.cpp
  src/Gui/ViewProviderGeometryObject.cpp
  src/Gui/ViewProviderVRMLObject.cpp
  src/Mod/Robot/Gui/ViewProviderRobotObject.cpp
  src/Mod/Robot/Gui/ViewProviderTrajectory.cpp
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/CommandHelpers.cpp
Labels: Mod: Core, Mod: FEM, Mod: TechDraw, Mod: Part Design, Mod: Part, Mod: Assembly, Mod: Materials, Mod: MeshPart, Mod: Measurement

#19419 App: Improve `Document.copyObject` Python API.
  src/App/DocumentPy.xml
  src/App/DocumentPyImp.cpp
Labels: Mod: Core

#15728 clean SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher, Coding: Refactor

#17082 [TechDraw] Use templates
  src/Mod/TechDraw/App/CenterLine.cpp
  src/Mod/TechDraw/App/Cosmetic.cpp
  src/Mod/TechDraw/App/DimensionGeometry.cpp
  src/Mod/TechDraw/App/DrawBrokenView.cpp
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawGeomHatch.cpp
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/App/DrawViewDimension.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.cpp
Labels: Mod: TechDraw, Help wanted

#18594 Base: Improved FindElement performance by reducing call of transcode
  src/App/Metadata.cpp
  src/App/ProjectFile.cpp
  src/Base/Parameter.cpp
  src/Base/XMLTools.h
  src/Mod/Mesh/App/Core/IO/Reader3MF.cpp
Labels: Mod: Core, File format: DXF

#16342 [TechDraw] Align points to direction by rotation
  src/Mod/TechDraw/App/DrawUtil.cpp
  src/Mod/TechDraw/App/DrawUtil.h
  src/Mod/TechDraw/Gui/AppTechDrawGui.cpp
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/CommandAlign.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.cpp
  src/Mod/TechDraw/Gui/DrawGuiUtil.h
  src/Mod/TechDraw/Gui/QGIVertex.cpp
  src/Mod/TechDraw/Gui/QGIVertex.h
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIView.h
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: Mod: TechDraw

#19499 Workaround for transparency problems on wayland.
  src/Gui/View3DInventorViewer.cpp
Labels: Mod: Core

#19491 [ Doxygen ] Improved parameter attribute methods
  src/Base/Parameter.h
Labels: Mod: Core

#19430 Measurement: save 'Show Delta' state between commands #19204
  src/Mod/Measure/Gui/TaskMeasure.cpp
Labels: Mod: Measurement

#19385 [Gui] fix the FPS text visibilty issues raised in #19371
  src/Gui/PreferencePages/DlgSettings3DView.ui
  src/Gui/Quarter/SoQTQuarterAdaptor.cpp
  src/Gui/Quarter/SoQTQuarterAdaptor.h
  src/Gui/View3DInventorViewer.cpp
Labels: Mod: Core, Needs backport

#19167 feat(PD): hole taskpanel: new image based cut panel
  src/Gui/CMakeLists.txt
  src/Gui/ElideCheckBox.cpp
  src/Gui/ElideCheckBox.h
  src/Gui/ElideLabel.cpp
  src/Gui/ElideLabel.h
  src/Gui/FontScaledSVG.cpp
  src/Gui/FontScaledSVG.h
  src/Gui/QuantitySpinBox.cpp
  src/Mod/PartDesign/App/FeatureHole.h
  src/Mod/PartDesign/Gui/Resources/PartDesign.qrc
  src/Mod/PartDesign/Gui/Resources/images/hole_counterbore_angled.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_counterbore_angled_included.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_counterbore_flat.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_counterdrill_angled.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_counterdrill_angled_included.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_counterdrill_flat.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_countersink_angled.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_countersink_angled_included.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_countersink_flat.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_none_angled.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_none_angled_included.svg
  src/Mod/PartDesign/Gui/Resources/images/hole_none_flat.svg
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.h
  src/Mod/PartDesign/Gui/TaskHoleParameters.ui
Labels: Mod: Core, Mod: Part Design, Approved

#19523 PartDesign: fix crash when opening a file with a metric hole
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: Mod: Part Design

#19548 CI: Update Ubuntu 20.04 to Ubuntu 22.04
  .github/workflows/CI_master.yml
  .github/workflows/sub_buildUbuntu.yml
Labels: :octocat:

#19547 TD: Add missing #include "PreCompiled.h"
  src/Mod/TechDraw/Gui/CommandAlign.cpp
Labels: Mod: TechDraw

#19539 Draft: gui_utils.py fix error in select function
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/utils.py
Labels: Mod: Draft

#19574 Draft: task_scale.py fix circular imports
  src/Mod/Draft/drafttaskpanels/task_scale.py
Labels: Mod: Draft

#19518 BIM: fix ability to cancel file dialog on BIM_TDPage command
  src/Mod/BIM/bimcommands/BimTDPage.py
Labels: Mod: BIM

#19378 [ArchSketchObject / Window] Links of Window to support Individual Hosts
  src/Mod/BIM/ArchSketchObject.py
Labels: Mod: BIM

#19549 App: Clean up XML bindings.
  src/App/ComplexGeoDataPy.xml
  src/App/DocumentObjectPy.xml
  src/App/DocumentPy.xml
  src/App/GroupExtensionPy.xml
  src/App/MetadataPy.xml
  src/App/MetadataPyImp.cpp
  src/App/PropertyContainerPy.xml
  src/App/StringIDPy.xml
Labels: Mod: Core, Approved

#19507 TechDraw: Set symbol dir
  src/Mod/TechDraw/App/Preferences.cpp
Labels: Mod: TechDraw, Approved

#19525 CAM: Fix finish passes by avoiding fuzzy in Area.cpp
  src/Mod/CAM/App/Area.cpp
  src/Mod/Part/App/FuzzyHelper.cpp
  src/Mod/Part/App/FuzzyHelper.h
Labels: Mod: CAM, Mod: Part, Needs backport, Approved

#19292 fix: linux Freecad classic hotfix
  src/Gui/QSint/actionpanel/freecadscheme.cpp
Labels: Mod: Core

#18791 [Toponaming] Import code releted to _ElementMapVersion from LS3
  src/App/GeoFeature.cpp
  src/App/GeoFeature.h
  src/Mod/Part/App/PartFeature.cpp
  src/Mod/Part/App/PartFeature.h
  src/Mod/Part/App/PropertyTopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  tests/src/Mod/PartDesign/App/BackwardCompatibility.cpp
  tests/src/Mod/PartDesign/App/CMakeLists.txt
  tests/src/Mod/PartDesign/App/TestModels/ModelFromV021.FCStd
Labels: Mod: Core, Mod: Part

#19120 Core: Remove link from tooltip
  src/Gui/PreferencePages/DlgSettingsDocument.ui
  src/Gui/PreferencePages/DlgSettingsDocumentImp.cpp
Labels: Mod: Core

#19550 Gui: Clean up XML bindings.
  src/Gui/LinkViewPy.xml
  src/Gui/ViewProviderGeometryObjectPy.xml
  src/Gui/ViewProviderPy.xml
Labels: Mod: Core

#19544 Add [[nodiscard]] to Vector3
  src/Base/Vector3D.h
Labels: Mod: Core

#19468 Part: OCCWrapper: Fix compound cuts
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.h
  src/Mod/Part/parttests/TopoShapeTest.py
Labels: Mod: Part

#19584 PartDesign: Allow Draft negative angles
  src/Mod/PartDesign/App/FeatureDraft.cpp
Labels: Mod: Part Design, Approved

#19607 Add Vtk to cmake report
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
Labels: Packaging/building

#19622 change MIN_boost_version
  cMake/FreeCAD_Helpers/CompilerChecksAndSetups.cmake
  src/App/Application.h
  src/App/DocumentObserver.h
  src/App/PreCompiled.h
  src/App/PropertyExpressionEngine.h
  src/Base/Parameter.h
  src/Base/Tools.h
  src/Gui/AutoSaver.h
  src/Gui/Command.h
  src/Gui/DAGView/DAGModel.h
  src/Gui/DAGView/DAGModelGraph.h
  src/Gui/DAGView/DAGView.h
  src/Gui/Document.h
  src/Gui/DocumentObserver.h
  src/Gui/ExpressionBinding.h
  src/Gui/MDIView.cpp
  src/Gui/MDIView.h
  src/Gui/ParamHandler.h
  src/Gui/PreCompiled.h
  src/Gui/ToolBarAreaWidget.h
  src/Gui/ToolBarManager.h
  src/Gui/ViewProvider.h
  src/Mod/CAM/App/Area.cpp
  src/Mod/CAM/libarea/PythonStuff.cpp
  src/Mod/Drawing/Gui/TaskOrthoViews.h
  src/Mod/Fem/Gui/ViewProviderFemPostFunction.h
  src/Mod/Material/Gui/DlgDisplayPropertiesImp.cpp
  src/Mod/Material/Gui/DlgMaterialImp.cpp
  src/Mod/Part/App/WireJoiner.cpp
  src/Mod/Sketcher/App/PreCompiled.h
  src/Mod/Sketcher/App/PropertyConstraintList.h
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/SketcherToolDefaultWidget.h
  src/Mod/Sketcher/Gui/TaskDlgEditSketch.h
  src/Mod/Sketcher/Gui/TaskSketcherElements.h
  src/Mod/Sketcher/Gui/TaskSketcherMessages.h
  src/Mod/Sketcher/Gui/TaskSketcherTool.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
  src/Mod/TechDraw/App/DrawPage.h
  src/Mod/TechDraw/App/DrawView.h
  src/Mod/TechDraw/Gui/MDIViewPage.cpp
  src/Mod/TechDraw/Gui/QGIView.h
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.h
  src/Mod/TechDraw/Gui/ViewProviderPage.cpp
  src/Mod/TechDraw/Gui/ViewProviderPage.h
  src/Tools/params_utils.py
  src/boost_geometry.hpp
  src/boost_python.hpp
  src/boost_signals2.hpp
Labels: Mod: Core, Mod: FEM, Mod: CAM, Mod: TechDraw, Mod: Part, Packaging/building, Mod: Sketcher, Mod: Materials

#19627 refactor(PD): Featurehole optimizations and cleanups
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: Mod: Part Design, Approved

#19557 Part: Clean up XML bindings.
  src/Mod/Part/App/ArcOfParabolaPy.xml
  src/Mod/Part/App/AttachExtensionPy.xml
  src/Mod/Part/App/BRepOffsetAPI_MakeFillingPy.xml
  src/Mod/Part/App/BRepOffsetAPI_MakePipeShellPy.xml
  src/Mod/Part/App/BSplineCurvePy.xml
  src/Mod/Part/App/BSplineCurvePyImp.cpp
  src/Mod/Part/App/BSplineSurfacePy.xml
  src/Mod/Part/App/BezierCurvePy.xml
  src/Mod/Part/App/BezierSurfacePy.xml
  src/Mod/Part/App/ConePy.xml
  src/Mod/Part/App/ConicPy.xml
  src/Mod/Part/App/CylinderPy.xml
  src/Mod/Part/App/EllipsePy.xml
  src/Mod/Part/App/GeometryCurvePy.xml
  src/Mod/Part/App/GeometryPy.xml
  src/Mod/Part/App/GeometrySurfacePy.xml
  src/Mod/Part/App/HyperbolaPy.xml
  src/Mod/Part/App/ParabolaPy.xml
  src/Mod/Part/App/RectangularTrimmedSurfacePy.xml
  src/Mod/Part/App/TopoShapeEdgePy.xml
  src/Mod/Part/App/TopoShapeFacePy.xml
  src/Mod/Part/App/TopoShapePy.xml
  src/Mod/Part/App/TopoShapeShellPy.xml
  src/Mod/Part/App/TopoShapeSolidPy.xml
  src/Mod/Part/App/TopoShapeSolidPyImp.cpp
  src/Mod/Part/App/TopoShapeWirePy.xml
Labels: Mod: Part, Approved

#19473 Start: add optional custom folder view
  src/Mod/Start/App/CMakeLists.txt
  src/Mod/Start/App/CustomFolderModel.cpp
  src/Mod/Start/App/CustomFolderModel.h
  src/Mod/Start/Gui/StartView.cpp
  src/Mod/Start/Gui/StartView.h
Labels: Approved

#19524 Fem: Add Z-refinement support for Netgen
  src/Mod/Fem/femmesh/netgentools.py
  src/Mod/Fem/femobjects/mesh_netgen.py
  src/Mod/Fem/femtaskpanels/base_femmeshtaskpanel.py
Labels: Mod: FEM, Approved

#18496 FEM: Animation of Results
  src/Mod/Fem/CMakeLists.txt
  src/Mod/Fem/CreateLabels.py
  src/Mod/Fem/Gui/Resources/ui/ResultShow.ui
  src/Mod/Fem/femtaskpanels/task_result_mechanical.py
  src/Mod/Fem/femviewprovider/view_result_mechanical.py
Labels: Mod: FEM, Approved

#19591 Use QStringLiteral 2
  src/Base/UnitsSchema.cpp
  src/Gui/3Dconnexion/navlib/NavlibPivot.cpp
  src/Gui/Dialogs/DlgMacroExecuteImp.cpp
  src/Gui/MainWindow.cpp
  src/Mod/Material/App/MaterialConfigLoader.cpp
  src/Mod/Material/App/MaterialConfigLoader.h
  src/Mod/Material/App/MaterialLibrary.cpp
  src/Mod/Material/App/MaterialLoader.cpp
  src/Mod/Material/App/MaterialManager.cpp
  src/Mod/Material/App/MaterialValue.cpp
  src/Mod/Material/App/Model.h
  src/Mod/Material/App/ModelLibrary.cpp
  src/Mod/Material/App/ModelLoader.cpp
  src/Mod/Material/App/ModelManager.cpp
  src/Mod/Material/App/ModelManagerPyImp.cpp
  src/Mod/Material/App/ModelUuids.cpp
  src/Mod/Material/Gui/ArrayDelegate.cpp
  src/Mod/Material/Gui/ArrayModel.cpp
  src/Mod/Material/Gui/BaseDelegate.cpp
  src/Mod/Material/Gui/ImageEdit.cpp
  src/Mod/Material/Gui/MaterialDelegate.cpp
  src/Mod/Material/Gui/MaterialSave.cpp
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
  src/Mod/Material/Gui/MaterialsEditor.cpp
  src/Mod/Material/Gui/ModelSelect.cpp
  src/Mod/TechDraw/App/DimensionFormatter.cpp
  tests/src/Mod/Material/App/TestMaterialCards.cpp
  tests/src/Mod/Material/App/TestMaterialProperties.cpp
  tests/src/Mod/Material/App/TestMaterialValue.cpp
  tests/src/Mod/Material/App/TestMaterials.cpp
  tests/src/Mod/Material/App/TestModel.cpp
  tests/src/Mod/Material/App/TestModelProperties.cpp
Labels: Mod: Core, Mod: TechDraw, Mod: Materials, Approved

#15690 Toponaming add feature refine class
  src/Mod/PartDesign/App/AppPartDesign.cpp
  src/Mod/PartDesign/App/CMakeLists.txt
  src/Mod/PartDesign/App/FeatureAddSub.cpp
  src/Mod/PartDesign/App/FeatureAddSub.h
  src/Mod/PartDesign/App/FeatureBoolean.cpp
  src/Mod/PartDesign/App/FeatureBoolean.h
  src/Mod/PartDesign/App/FeatureChamfer.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureFillet.cpp
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureHelix.cpp
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/App/FeatureRefine.cpp
  src/Mod/PartDesign/App/FeatureRefine.h
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureThickness.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
  src/Mod/PartDesign/App/FeatureTransformed.h
  src/Mod/PartDesign/App/ShapeBinder.cpp
  src/Mod/PartDesign/App/ShapeBinder.h
  src/Mod/PartDesign/PartDesignTests/TestInvoluteGear.py
  src/Mod/PartDesign/PartDesignTests/TestMultiTransform.py
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
Labels: Mod: Part Design, Topic: Toponaming, Approved

#18685 CAM: Fixed F parameter handling for only rotary axes, with tests
  src/Mod/CAM/CAMTests/TestRefactoredTestPostGCodes.py
  src/Mod/CAM/Path/Post/UtilsParse.py
Labels: Mod: CAM, Needs backport

#19393 TechDraw: Add a format spec. to round a value
  src/Mod/TechDraw/App/DimensionFormatter.cpp
  src/Mod/TechDraw/App/DimensionFormatter.h
Labels: Mod: TechDraw, Approved

#19546 [ Doxygen ] Improved Param Group Subgroup Methods
  src/Base/Parameter.h
Labels: Mod: Core

#19672 Backport: Core: Implement SoFCTransform node
  src/Gui/CMakeLists.txt
  src/Gui/Inventor/SoFCTransform.cpp
  src/Gui/Inventor/SoFCTransform.h
  src/Gui/SoFCDB.cpp
  src/Gui/ViewProvider.cpp
Labels: Mod: Core

#19673 FEM: Misc. uniformity fix in CreateLabels.py
  src/Mod/Fem/CreateLabels.py
Labels: Mod: FEM

#19335 [BIM] SH3DImporter: miscellaneous improvments
  src/Mod/BIM/Resources/ui/preferences-sh3d-import.ui
  src/Mod/BIM/importers/importSH3DHelper.py
Labels: Mod: BIM

#19680 BIM: Do not change important pref options without user's consent
  src/Mod/BIM/bimcommands/BimSetup.py
Labels: Mod: BIM, Needs backport

#19676 [Spreadsheet] Fix popup close issue
  src/Mod/Spreadsheet/Gui/ZoomableView.cpp
  src/Mod/Spreadsheet/Gui/ZoomableView.h
Labels: Mod: Spreadsheet

#19718 add option to disable check for pivy at build-time
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  cMake/FreeCAD_Helpers/SetupCoin3D.cmake
Labels: Packaging/building

#19699 style: simplify fx icon to be more legible at small sizes
  src/Gui/Icons/bound-expression-unset.svg
  src/Gui/Icons/bound-expression.svg
Labels: Mod: Core

#19634 CMake: Update minimum Python version to 3.10
  cMake/FreeCAD_Helpers/SetupPython.cmake
Labels: Packaging/building

#19739 Base: Add isNullOrEmpty string helper
  src/App/Application.cpp
  src/App/Datums.cpp
  src/App/Document.cpp
  src/App/License.h
  src/App/Link.cpp
  src/App/MetadataPyImp.cpp
  src/App/Property.cpp
  src/App/PropertyFile.cpp
  src/App/PropertyLinks.cpp
  src/Base/ConsoleObserver.cpp
  src/Base/FileInfo.cpp
  src/Base/ParameterPy.cpp
  src/Base/Tools.h
  src/Gui/Command.cpp
  src/Gui/CommandLink.cpp
  src/Gui/Dialogs/DlgPropertyLink.cpp
  src/Gui/Document.cpp
  src/Gui/Selection/Selection.cpp
  src/Gui/Selection/SelectionFilter.cpp
  src/Gui/ShortcutManager.cpp
  src/Gui/ViewProvider.cpp
  src/Gui/ViewProviderLink.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Gui/propertyeditor/PropertyModel.cpp
  src/Mod/Fem/Gui/FemSelectionGate.cpp
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/Part/Gui/BoxSelection.cpp
  src/Mod/Part/Gui/DlgExtrusion.cpp
  src/Mod/Part/Gui/DlgFilletEdges.cpp
  src/Mod/Part/Gui/DlgRevolution.cpp
  src/Mod/Part/Gui/TaskFaceAppearances.cpp
  src/Mod/Part/Gui/TaskShapeBuilder.cpp
  src/Mod/Part/Gui/TaskSweep.cpp
  src/Mod/Part/Gui/TaskThickness.cpp
  src/Mod/PartDesign/Gui/ReferenceSelection.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandlerExtend.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExternal.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerFillet.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSplitting.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTrimming.h
  src/Mod/Surface/Gui/TaskFilling.cpp
  src/Mod/Surface/Gui/TaskFillingEdge.cpp
  src/Mod/Surface/Gui/TaskFillingVertex.cpp
  src/Mod/Surface/Gui/TaskGeomFillSurface.cpp
  src/Mod/Surface/Gui/TaskSections.cpp
Labels: Mod: Core, Mod: FEM, Mod: Part Design, Mod: Part, Mod: Sketcher, Approved

#19674 Remove second vtk listing. See #19607
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
Labels: Packaging/building

#19608 Remove OpenCascade Community Edition
  cMake/FindOCC.cmake
  cMake/FreeCAD_Helpers/SetupOpenCasCade.cmake
Labels: Packaging/building

#19561 Fem: Add check that the solid_name is valid
  src/Mod/Fem/femguiutils/disambiguate_solid_selection.py
Labels: Mod: FEM

#19624 update conda
  conda/conda-env-qt6.yaml
  conda/conda-env.yaml
  conda/environment-qt6.devenv.yml
  conda/environment.devenv.yml
Labels: Approved

#19782 Fixed #16423: Links in DlgAbout
  src/Gui/Dialogs/DlgAbout.cpp
Labels: Mod: Core, Needs backport

#19766 Addon Manager: Fix pip usage on Snap and Appimage
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Mod: Addon Manager

#19772 CMake: Remove unsupported CMake function from macros causing warnings.
  cMake/FreeCadMacros.cmake
Labels: Packaging/building

#19794 clean QGSPage.cpp
  src/Mod/TechDraw/Gui/QGSPage.cpp
Labels: Mod: TechDraw, Approved

#19803 [Gui] Expression dialog OK button capitalised and Alt+O shortcut applied
  src/Gui/Dialogs/DlgExpressionInput.ui
Labels: Mod: Core

#19806 CI: fix assembly unit tests executable name
  .github/workflows/actions/runCPPTests/runAllTests/action.yml
Labels: :octocat:

#19800 Assembly: Make 2 menu texts more consistent
  src/Mod/Assembly/CommandCreateJoint.py
  src/Mod/Assembly/CommandInsertNewPart.py
Labels: Mod: Assembly

#19253 Sketcher: Fixed Inconsistency between button tooltips and labeling for shortcuts.
  .git-blame-ignore-revs
  src/Gui/Command.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
Labels: Mod: Core, Mod: Sketcher, Approved

#19814 Add-On Manager: generalize removal of non-compatible pip options for the snap package
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Mod: Addon Manager, Needs backport

#19805 Gui: "Open File Location/Reveal in Finder" in Tree view
  src/Gui/Tree.cpp
  src/Gui/Tree.h
Labels: Mod: Core, Approved

#19700 fixes #19582 Sketcher - cannot project BSpline from another sketch
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Part, Mod: Sketcher, Approved

#19642 Clean StartupProcess.cpp
  src/Gui/StartupProcess.cpp
Labels: Mod: Core, Approved

#19397 Add three-point lighting
  src/App/Material.cpp
  src/Base/Builder3D.cpp
  src/Base/Builder3D.h
  src/Base/Tools.h
  src/Gui/Dialogs/DlgMaterialPropertiesImp.cpp
  src/Gui/PreferencePages/DlgSettings3DView.ui
  src/Gui/PreferencePages/DlgSettings3DViewImp.cpp
  src/Gui/PreferencePages/DlgSettingsLightSources.cpp
  src/Gui/PreferencePages/DlgSettingsLightSources.h
  src/Gui/PreferencePages/DlgSettingsLightSources.ui
  src/Gui/Utilities.h
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Gui/View3DSettings.cpp
  src/Gui/View3DSettings.h
  src/Gui/ViewProviderGeometryObject.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Material/App/MaterialManager.cpp
  src/Mod/Mesh/Gui/ViewProvider.cpp
  src/Mod/Part/Gui/ViewProvider.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Core, Mod: Sketcher, Approved

#19813 CMake: Support building 1.0 with LibPack 3.1.0
  cMake/FreeCAD_Helpers/CopyLibpackDirectories.cmake
  cMake/UseLibPack3.cmake
Labels: Packaging/building

#19426 Fem: Add frd format converter to VTK
  src/Mod/Fem/App/AppFemPy.cpp
  src/Mod/Fem/App/FemVTKTools.cpp
  src/Mod/Fem/App/FemVTKTools.h
Labels: Mod: FEM, Approved

#19084 Gui: Provide `ViewProviderFeaturePython` selection callbacks
  src/Gui/Selection/Selection.cpp
  src/Gui/Selection/SelectionObserverPython.cpp
  src/Gui/Selection/SelectionObserverPython.h
  src/Gui/ViewProvider.h
  src/Gui/ViewProviderFeaturePython.cpp
  src/Gui/ViewProviderFeaturePython.h
Labels: Mod: Core, Approved

#19563 [ Doxygen ] Improved Parameter Group - Copy & Insert
  src/Base/Parameter.h
Labels: Mod: Core

#19568 Add SolidWorks navigation style
  src/Gui/CMakeLists.txt
  src/Gui/Navigation/NavigationStyle.h
  src/Gui/Navigation/SolidWorksNavigationStyle.cpp
  src/Gui/SoFCDB.cpp
  src/Mod/TechDraw/Gui/CMakeLists.txt
  src/Mod/TechDraw/Gui/QGVNavStyleSolidWorks.cpp
  src/Mod/TechDraw/Gui/QGVNavStyleSolidWorks.h
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/Mod/Tux/NavigationIndicatorGui.py
  src/Mod/Tux/Resources/Tux.qrc
  src/Mod/Tux/Resources/icons/NavigationSolidWorks_dark.svg
  src/Mod/Tux/Resources/icons/NavigationSolidWorks_light.svg
Labels: Mod: Core

#19418 TechDraw: hard type enums, part 3
  src/Mod/TechDraw/App/LineNameEnum.h
  src/Mod/TechDraw/Gui/Enums.h
  src/Mod/TechDraw/Gui/QGIDecoration.cpp
  src/Mod/TechDraw/Gui/QGIDecoration.h
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIFace.h
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
  src/Mod/TechDraw/Gui/QGIViewDimension.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewSection.cpp
  src/Mod/TechDraw/Gui/QGTracker.h
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/Mod/TechDraw/Gui/QGVPage.h
  src/Mod/TechDraw/Gui/TaskCosVertex.cpp
  src/Mod/TechDraw/Gui/TaskCosVertex.h
  src/Mod/TechDraw/Gui/TaskLeaderLine.cpp
  src/Mod/TechDraw/Gui/TaskLeaderLine.h
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.cpp
  src/Mod/TechDraw/Gui/TaskSurfaceFinishSymbols.h
Labels: Mod: TechDraw, Approved

#19640 Fixes "Surface - Fill boundary curves not honor SplitCurve edge if it's part of BSpline" #19581
  src/Mod/Surface/App/FeatureGeomFillSurface.cpp
Labels: Mod: Surface, Needs backport

#19068 Always update the element map version if it's not valid or unknown
  src/Mod/Part/App/PropertyTopoShape.cpp
Labels: Mod: Part

#19738 Draft: change 'Filled' to 'Make face' in UI
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/Resources/ui/preferences-draftinterface.ui
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftobjects/bezcurve.py
  src/Mod/Draft/draftobjects/bspline.py
  src/Mod/Draft/draftobjects/circle.py
  src/Mod/Draft/draftobjects/ellipse.py
  src/Mod/Draft/draftobjects/polygon.py
  src/Mod/Draft/draftobjects/rectangle.py
  src/Mod/Draft/draftobjects/wire.py
  src/Mod/Draft/drafttests/test_modification.py
  src/Mod/Draft/draftutils/params.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/importDXF.py
Labels: Mod: Draft

#19765 Draft: fix alignment of sketches in SVG and legacy DXF export
  src/Mod/Draft/importDXF.py
  src/Mod/Draft/importSVG.py
Labels: Mod: Draft

#19719 Gui: Accumulate orientation for NaviCube flat button animations
  src/Gui/NaviCube.cpp
  src/Gui/Navigation/NavigationAnimation.cpp
  src/Gui/Navigation/NavigationAnimation.h
  src/Gui/Navigation/NavigationStyle.cpp
  src/Gui/Navigation/NavigationStyle.h
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
Labels: Mod: Core

#19828 Add-On Manager: collapse up-level vendor_path reference for better legibility
  src/Mod/AddonManager/addonmanager_utilities.py
Labels: Mod: Addon Manager

#19844 Gui: Fix regression in `SelectionObserverPython::removeObserver`.
  src/Gui/Selection/SelectionObserverPython.cpp
  src/Gui/Selection/SelectionObserverPython.h
Labels: Mod: Core

#19859 FEM Update PreCompiled.h to fix build
  src/Mod/Fem/App/PreCompiled.h
Labels: Mod: FEM

#19671 Gui: Add Show Placement helper
  src/Base/Tools2D.h
  src/Base/Vector3D.h
  src/Gui/CMakeLists.txt
  src/Gui/Inventor/SoFCPlacementIndicatorKit.cpp
  src/Gui/Inventor/SoFCPlacementIndicatorKit.h
  src/Gui/SoFCDB.cpp
  src/Gui/SoTextLabel.cpp
  src/Gui/SoTextLabel.h
  src/Gui/ViewProviderDragger.cpp
  src/Gui/ViewProviderDragger.h
  src/Mod/Part/Gui/ViewProvider2DObject.cpp
  src/Mod/Part/Gui/ViewProvider2DObject.h
Labels: Mod: Core, Mod: Part, Approved

#19860 CMake: Force OpenGL to use legacy
  cMake/FreeCAD_Helpers/SetupOpenGL.cmake
Labels: Packaging/building

#19861 Do not decrease reference counting for string
  src/Gui/Dialogs/DlgAbout.cpp
Labels: Mod: Core, Approved

#19875 CMake: Fix PySide search
  cMake/FindPySide6.cmake
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  cMake/FreeCAD_Helpers/SetupShibokenAndPyside.cmake
Labels: Packaging/building

#19781 [Spreadsheet] Remove prepended apostrophe if cell content is copied into clipboard
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
Labels: Mod: Spreadsheet, Needs backport

#19886 TD: Adding missing PCH include
  src/3rdParty/3Dconnexion/inc/SpaceMouse/CCookieCollection.hpp
  src/Mod/TechDraw/Gui/QGIDatumLabel.cpp
Labels: Mod: TechDraw

#19874 BIM: fix ArchAxis index errors
  src/Mod/BIM/ArchAxis.py
Labels: Mod: BIM

#19896 Draft: Fix error in #19738
  src/Mod/Draft/draftguitools/gui_base_original.py
Labels: Mod: Draft

#19897 Gui: put SolidWorks navigation style in A-Z order
  src/Mod/Tux/NavigationIndicatorGui.py
Labels: Mod: Core

#19865 Fixed CMake files
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  src/Gui/CMakeLists.txt
Labels: Mod: Core, Packaging/building

#19790 Addon Manager: Add <bundle> and <other>
  src/Mod/AddonManager/Addon.py
  src/Mod/AddonManager/AddonManagerTest/app/test_addon.py
  src/Mod/AddonManager/AddonManagerTest/app/test_metadata.py
  src/Mod/AddonManager/AddonManagerTest/data/bundle_only.xml
  src/Mod/AddonManager/AddonManagerTest/data/combination.xml
  src/Mod/AddonManager/AddonManagerTest/data/other_only.xml
  src/Mod/AddonManager/CMakeLists.txt
  src/Mod/AddonManager/Widgets/addonmanager_widget_filter_selector.py
  src/Mod/AddonManager/addonmanager_devmode_add_content.py
  src/Mod/AddonManager/addonmanager_metadata.py
  src/Mod/AddonManager/package_list.py
Labels: Mod: Addon Manager

#19791 Addon Manager: Show versions in update all
  src/Mod/AddonManager/AddonManagerTest/gui/test_update_all_gui.py
  src/Mod/AddonManager/addonmanager_update_all_gui.py
  src/Mod/AddonManager/update_all.ui
Labels: Mod: Addon Manager

#19811 Addon Manager (1.0 backport): Fix pip on Snap and AppImage
  src/Mod/AddonManager/AddonManagerTest/app/test_dependency_installer.py
  src/Mod/AddonManager/addonmanager_dependency_installer.py
  src/Mod/AddonManager/addonmanager_freecad_interface.py
  src/Mod/AddonManager/addonmanager_installer_gui.py
  src/Mod/AddonManager/addonmanager_utilities.py
  src/Mod/AddonManager/manage_python_dependencies.py
Labels: Mod: Addon Manager

#19395 Clean ifc_tools.py
  src/Mod/BIM/nativeifc/ifc_tools.py
Labels: Mod: BIM

#19316 [BimShape2DView] Bug-Fix : Shape2DCut Not Working
  src/Mod/BIM/bimcommands/BimShape2DView.py
Labels: Mod: BIM
