Repository FreeCAD/FreeCAD, pull requests merged in 2025-05, with the labels that each got.

#21106 CI: unify the location of GitHub release creation.
  .github/workflows/sub_weeklyBuild.yml
  package/rattler-build/linux/create_bundle.sh
  package/rattler-build/osx/create_bundle.sh
  package/rattler-build/windows/create_bundle.sh
Labels: :octocat:

#20746 Gui: Create tests for the hardcoded axonometric rotations
  src/Gui/Camera.cpp
  tests/CMakeLists.txt
  tests/src/Gui/CMakeLists.txt
  tests/src/Gui/Camera.cpp
Labels: Mod: Core

#21100 Fem: Use string format to round Elmer quantity values - fixes #20938
  src/Mod/Fem/femobjects/constraint_electricchargedensity.py
  src/Mod/Fem/femsolver/elmer/equations/electrostatic_writer.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic2D_writer.py
  src/Mod/Fem/femsolver/elmer/equations/magnetodynamic_writer.py
  src/Mod/Fem/femsolver/elmer/sifio.py
Labels: Mod: FEM

#21046 Update module dependencies
  cMake/FreeCAD_Helpers/CheckInterModuleDependencies.cmake
  src/Mod/Material/materialtests/TestMaterialDocument.py
  src/Mod/Part/TestPartApp.py
  src/Mod/Part/parttests/regression_tests.py
  src/Mod/Sketcher/SketcherTests/TestSketchValidateCoincidents.py
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
  src/Mod/Test/Document.py
Labels: Packaging/building

#21051 [TD]Complex section crash (fix #20155)
  src/Mod/TechDraw/App/DrawComplexSection.cpp
  src/Mod/TechDraw/App/DrawComplexSection.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/App/DrawViewSection.h
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.cpp
  src/Mod/TechDraw/Gui/TaskComplexSection.h
Labels: Mod: TechDraw

#21133 CMake: Do not optimize debug builds.
  cMake/FreeCAD_Helpers/SetGlobalCompilerAndLinkerSettings.cmake
Labels: Packaging/building

#20877 CAM: fix postprocessor errors
  src/Mod/CAM/Path/Post/scripts/KineticNCBeamicon2_post.py
  src/Mod/CAM/Path/Post/scripts/snapmaker_post.py
Labels: Mod: CAM

#20449 Avoid using `count` and `std::find` where `contains` and `isEmpty` express intent better
  src/App/Application.cpp
  src/App/Branding.cpp
  src/App/Document.cpp
  src/App/DocumentObject.cpp
  src/App/DynamicProperty.cpp
  src/App/Expression.cpp
  src/App/GeoFeatureGroupExtension.cpp
  src/App/Graphviz.cpp
  src/App/Link.cpp
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyLinks.cpp
  src/App/Transactions.cpp
  src/Gui/Application.cpp
  src/Gui/Command.cpp
  src/Gui/CommandLink.cpp
  src/Gui/DAGView/DAGModel.cpp
  src/Gui/Dialogs/DlgObjectSelection.cpp
  src/Gui/Dialogs/DlgOnlineHelpImp.cpp
  src/Gui/Document.cpp
  src/Gui/DocumentRecovery.cpp
  src/Gui/ExpressionCompleter.cpp
  src/Gui/MDIViewPyWrap.cpp
  src/Gui/MenuManager.cpp
  src/Gui/OverlayManager.cpp
  src/Gui/PropertyView.cpp
  src/Gui/Selection/SoFCSelectionContext.cpp
  src/Gui/ToolBarManager.cpp
  src/Gui/Tree.cpp
  src/Gui/ViewProviderGeoFeatureGroupExtension.cpp
  src/Mod/CAM/App/Command.cpp
  src/Mod/CAM/App/CommandPyImp.cpp
  src/Mod/Import/App/dxf/ImpExpDxf.cpp
  src/Mod/Import/App/dxf/dxf.cpp
  src/Mod/Material/App/MaterialLibrary.cpp
  src/Mod/Material/App/ModelLibrary.cpp
  src/Mod/Material/App/ModelLoader.cpp
  src/Mod/Material/Gui/MaterialSave.cpp
  src/Mod/Part/App/TopoShapeCache.cpp
  src/Mod/Part/App/TopoShapeCache.h
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/Part/Gui/TaskAttacher.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Spreadsheet/Gui/qtcolorpicker.cpp
Labels: Mod: Core, Mod: CAM, Mod: Part, Mod: Spreadsheet, Mod: Sketcher, Mod: Materials, Approved

#20906 BIM: add missing license
  src/Mod/BIM/BimSelect.py
  src/Mod/BIM/Dice3DS/dom3ds.py
  src/Mod/BIM/Dice3DS/util.py
  src/Mod/BIM/Resources/create_qrc.py
  src/Mod/BIM/bimcommands/__init__.py
  src/Mod/BIM/utils/getIfcElements.py
Labels: Mod: BIM

#20591 CAM: snapmaker improve support for different machine variants and toolheads
  src/Mod/CAM/CAMTests/TestSnapmakerPost.py
  src/Mod/CAM/Path/Post/scripts/snapmaker_post.py
Labels: Mod: CAM

#21027 [CAM Simulator] Auto resizing of simulator slider based on window size
  src/Mod/CAM/PathSimulator/AppGL/GuiDisplay.cpp
  src/Mod/CAM/PathSimulator/AppGL/GuiDisplay.h
Labels: Mod: CAM

#21073 BIM: close task panels on doc close
  src/Mod/BIM/ArchStructure.py
  src/Mod/BIM/InitGui.py
  src/Mod/BIM/bimcommands/BimBox.py
  src/Mod/BIM/bimcommands/BimCurtainwall.py
  src/Mod/BIM/bimcommands/BimImagePlane.py
  src/Mod/BIM/bimcommands/BimPanel.py
  src/Mod/BIM/bimcommands/BimProfile.py
  src/Mod/BIM/bimcommands/BimTruss.py
  src/Mod/BIM/bimcommands/BimWall.py
  src/Mod/BIM/bimcommands/BimWindow.py
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftutils/doc_observer.py
Labels: Mod: BIM, Mod: Draft

#20974 Draft: Preserve direction vector upon Continue Mode for Dimension
  src/Mod/BIM/bimcommands/BimDimensions.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
Labels: Mod: BIM, Mod: Draft

#21113 Draft: fix dim unit override for Building US unit system
  src/Mod/Draft/draftviewproviders/view_dimension.py
Labels: Mod: Draft

#20941 BIM: group 2D view creation commands
  src/Mod/BIM/InitGui.py
Labels: Mod: BIM, DWG Approved

#21124 Draft: ShapeString: use an actual font file as default, allow TTC files
  src/Mod/Draft/Resources/ui/TaskShapeString.ui
  src/Mod/Draft/draftobjects/shapestring.py
  src/Mod/Draft/draftutils/params.py
Labels: Mod: Draft

#21130 BIM: Pass correct object for Compass while updating Visibility property
  src/Mod/BIM/ArchSite.py
Labels: Mod: BIM

#20909 Materials: Default units
  src/Mod/Material/App/MaterialLoader.cpp
  src/Mod/Material/App/Materials.cpp
  src/Mod/Material/Gui/MaterialDelegate.cpp
  src/Mod/Material/Gui/MaterialSave.cpp
  src/Mod/Material/Gui/ModelSelect.cpp
  src/Mod/Material/materialtests/TestMaterialCreation.py
Labels: Mod: Materials

#21138 Base: use nullptr instead of 0 in Base.
  src/Base/BaseClass.h
Labels: Mod: Core

#20754 Sketcher: Fix some of the coverity issues in SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
Labels: Mod: Sketcher

#21082 Gui: fix warning in NavigationStyle
  src/Gui/Navigation/NavigationStyle.cpp
Labels: Mod: Core

#21143 CI: add missing token to fix weekly build.
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#21148 [TD]fix hidden line regression
  src/Mod/TechDraw/Gui/QGIEdge.cpp
  src/Mod/TechDraw/Gui/QGIEdge.h
Labels: Mod: TechDraw

#21155 Doc: Improve App::Property documentation
  src/App/Property.cpp
  src/App/Property.h
Labels: Mod: Core, Documentation

#21152 Core: restoreContent not restoring expressions
  src/App/DocumentObject.cpp
  src/App/DocumentObject.h
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
Labels: Mod: Core, Mod: Sketcher

#21098 Gui: HiDPI fixes for Sketcher (tweaks to tringenbach's PR)
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManager.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
  src/Mod/Sketcher/Gui/ViewProviderSketchCoinAttorney.h
Labels: Mod: Sketcher

#21151 Update weekly-build-notes.md
  .github/workflows/weekly-build-notes.md
Labels: :octocat:, Approved

#21166 Gui: use 'C.UTF-8' for locale as Qt requires UTF-8.
  src/Gui/StartupProcess.cpp
Labels: Mod: Core

#21186 Doc: Fix warnings App::Property
  src/App/Property.h
Labels: Mod: Core

#21183 CAM: Simulator Fix thumb right position with speed > 1
  src/Mod/CAM/PathSimulator/AppGL/MillSimulation.cpp
Labels: Mod: CAM

#21189 BIM: add docstrings for all functions in the Arch module, refactor whitespace
  src/Mod/BIM/Arch.py
Labels: Mod: BIM

#21188 [BIM} remove incorrect check which was stopping the default Pipe…
  src/Mod/BIM/ArchPipe.py
Labels: Mod: BIM

#21175 BIM: show units in Arch_Roof task panel
  src/Mod/BIM/ArchRoof.py
Labels: Mod: BIM

#21015 Fixes hole thread pitch
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: Mod: Part Design

#21184 Doc: Improve App::ObjectIdentifier documentation
  src/App/ObjectIdentifier.cpp
  src/App/ObjectIdentifier.h
  src/App/PropertyExpressionEngine.cpp
  src/App/PropertyLinks.cpp
  src/App/PropertyLinks.h
Labels: Mod: Core

#21200 Doc: Improve App::ExtensionContainer documentation
  src/App/ExtensionContainer.cpp
  src/App/ExtensionContainer.h
Labels: Mod: Core

#21099 [TD]Allow non-shape views to have children (#20768)
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawView.h
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.h
Labels: Mod: TechDraw

#21030 PartDesign: Fix no longer possible to make a hole from one selected circle in a sketch
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.cpp
  src/Mod/PartDesign/App/FeatureSketchBased.h
Labels: Mod: Part Design, Mod: Part

#21215 TD: Fix capitalization of Console calls
  src/Mod/TechDraw/App/CosmeticExtension.cpp
  src/Mod/TechDraw/App/DrawRichAnno.cpp
  src/Mod/TechDraw/App/DrawTile.cpp
  src/Mod/TechDraw/Gui/ViewProviderDrawingView.cpp
Labels: Mod: TechDraw

#21190 add FREECAD_USE_EXTERNAL_GTEST cmake option and fix build with extern…
  cMake/FreeCAD_Helpers/InitializeFreeCADBuildOptions.cmake
  tests/CMakeLists.txt
Labels: Packaging/building

#21168 FEM: Fix test if VTK or VTK python is not available
  src/Mod/Fem/App/FemMesh.cpp
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/feminout/importCcxFrdResults.py
  src/Mod/Fem/femtest/app/test_common.py
  src/Mod/Fem/femtest/app/test_object.py
Labels: Mod: FEM

#21135 Add switching to the document when closing FreeCAD
  src/Gui/Document.cpp
  src/Gui/MainWindow.cpp
  src/Gui/MainWindow.h
Labels: Mod: Core

#20943 [FreeCAD-20111] Sketcher: Scaling of a sketch containing BSplines doesn't work
  src/Mod/Sketcher/App/PythonConverter.cpp
Labels: Mod: Sketcher

#21223 CAM: Simulator window title
  src/Mod/CAM/PathSimulator/AppGL/DlgCAMSimulator.cpp
Labels: Mod: CAM

#21226 Update sub_lint.yml
  .github/workflows/sub_lint.yml
Labels: :octocat:

#21227 Update sub_weeklyBuild.yml
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#21198 Macro: Button to open folder with macros
  src/Gui/Dialogs/DlgMacroExecute.ui
  src/Gui/Dialogs/DlgMacroExecuteImp.cpp
  src/Gui/Dialogs/DlgMacroExecuteImp.h
Labels: Mod: Core, DWG Approved

#21264 CAM: Simulator - Add document name to title
  src/Mod/CAM/PathSimulator/AppGL/DlgCAMSimulator.cpp
Labels: Mod: CAM

#21267 CI: use the exact same source for weekly builds.
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#21128 CAM: bring Array dressup in line with existing dressups
  src/Mod/CAM/CMakeLists.txt
  src/Mod/CAM/Path/Dressup/Array.py
  src/Mod/CAM/Path/Dressup/Base.py
Labels: Mod: CAM

#21177 CAM: Fix adaptive repeating cuts excessively at various depths
  src/Mod/CAM/Path/Op/Adaptive.py
Labels: Mod: CAM

#21222 CAM: Simulator - Decrease speed button
  src/Mod/CAM/Gui/Resources/Path.qrc
  src/Mod/CAM/Gui/Resources/gl_simulator/0.png
  src/Mod/CAM/Gui/Resources/gl_simulator/1.png
  src/Mod/CAM/Gui/Resources/gl_simulator/10.png
  src/Mod/CAM/Gui/Resources/gl_simulator/25.png
  src/Mod/CAM/Gui/Resources/gl_simulator/4.png
  src/Mod/CAM/Gui/Resources/gl_simulator/5.png
  src/Mod/CAM/Gui/Resources/gl_simulator/50.png
  src/Mod/CAM/Gui/Resources/gl_simulator/Faster.png
  src/Mod/CAM/Gui/Resources/gl_simulator/Slower.png
  src/Mod/CAM/Gui/Resources/gl_simulator/X.png
  src/Mod/CAM/Gui/Resources/gl_simulator/x.png
  src/Mod/CAM/PathSimulator/AppGL/GuiDisplay.cpp
  src/Mod/CAM/PathSimulator/AppGL/GuiDisplay.h
  src/Mod/CAM/PathSimulator/AppGL/MillSimulation.cpp
  src/Mod/CAM/PathSimulator/AppGL/TextureLoader.cpp
Labels: Mod: CAM, DWG review

#20828 CAM: Keep tool down in DressupPathBoundary
  src/Mod/CAM/Path/Dressup/Boundary.py
Labels: Mod: CAM, Code review

#21265 CAM: updated opensbp post to work with current Processor.py
  src/Mod/CAM/Path/Post/scripts/opensbp_post.py
Labels: Mod: CAM

#21159 BIM: set DoubleClickActivates property true by default
  src/Mod/BIM/ArchBuildingPart.py
Labels: Mod: BIM

#20914 BIM: fix some imports and cleanup miscellaneous
  src/Mod/BIM/ArchBuildingPart.py
  src/Mod/BIM/OfflineRenderingUtils.py
  src/Mod/BIM/bimcommands/BimDiff.py
  src/Mod/BIM/bimcommands/BimEquipment.py
  src/Mod/BIM/bimcommands/BimLibrary.py
  src/Mod/BIM/bimcommands/BimUnclone.py
Labels: Mod: BIM

#20873 CAM: Fixes PickStartPoint
  src/Mod/CAM/Gui/Resources/Path.qrc
  src/Mod/CAM/Gui/Resources/icons/CAM_StartPoint.svg
  src/Mod/CAM/InitGui.py
  src/Mod/CAM/Path/Op/Gui/Base.py
Labels: Mod: CAM

#21247 Draft: aux.fake_function should not overwrite functions
  src/Mod/Draft/drafttests/test_airfoildat.py
  src/Mod/Draft/drafttests/test_dwg.py
  src/Mod/Draft/drafttests/test_dxf.py
  src/Mod/Draft/drafttests/test_modification.py
  src/Mod/Draft/drafttests/test_oca.py
  src/Mod/Draft/drafttests/test_svg.py
Labels: Mod: Draft

#21253 BIM: close BIM_Library task panel on doc close
  src/Mod/BIM/bimcommands/BimLibrary.py
Labels: Mod: BIM

#21239 BIM: Introduce Activate for BIM Views
  src/Mod/BIM/bimcommands/BimViews.py
Labels: Mod: BIM

#21249 Update sub_weeklyBuild.yml
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#21193 [CAM] Adaptive helix fixes
  src/Mod/CAM/Path/Op/Adaptive.py
Labels: Mod: CAM

#21276 FEM: Fix typos in the newly refactored CalculiX solver preferences
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
Labels: Mod: FEM

#21277 TD: Fix hatch size constraint
  src/Mod/TechDraw/Gui/ViewProviderHatch.cpp
Labels: Mod: TechDraw

#21275 [1.0] [App] add MeterDecimal to Unit Scheme Enum
  src/App/FreeCADInit.py
Labels: Mod: Core

#21279 Gui: Remove default init of shared_ptr
  src/Gui/Selection/SelectionFilter.cpp
Labels: Mod: Core

#21280 Gui: Make variable more local
  src/Gui/CommandView.cpp
Labels: Mod: Core

#21281 Gui: Manually specify correct QVariant conversion
  src/Gui/Dialogs/DlgCustomizeSpaceball.cpp
Labels: Mod: Core

#21282 BIM: change Snapping menu order for workplane commands
  src/Mod/BIM/InitGui.py
Labels: Mod: BIM

#21287 Update sub_weeklyBuild.yml
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#21294 CI: checkout source prior to installing pixi on weekly builds.
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#21295 Gui: Eliminate double->float truncations
  src/Gui/Inventor/SoFCPlacementIndicatorKit.h
  src/Gui/SoDatumLabel.cpp
  src/Gui/View3DInventorViewer.cpp
Labels: Mod: Core

#21296 CI: fix weekly builds.
  .github/workflows/sub_weeklyBuild.yml
  package/rattler-build/scripts/make_version_file.py
Labels: :octocat:

#21266 CAM: Simulator - Improve camera limits
  src/Mod/CAM/PathSimulator/AppGL/SimDisplay.cpp
Labels: Mod: CAM

#21270 CAM: Fix Existing Stock from resetting
  src/Mod/CAM/Path/Main/Gui/Job.py
Labels: Mod: CAM

#21020 BIM: Hide all objects that aren't selected during Isolate
  src/Mod/BIM/bimcommands/BimViews.py
Labels: Mod: BIM

#21005 BIM: Allow changing Sill parameter in Properties for Window
  src/Mod/BIM/ArchWindow.py
  src/Mod/BIM/ArchWindowPresets.py
  src/Mod/BIM/bimcommands/BimWindow.py
Labels: Mod: BIM

#21088 [BimWindow] Interactive Creation Tool: Check if SketchArch is Enabled (ArchSketchLock)
  src/Mod/BIM/bimcommands/BimWindow.py
Labels: Mod: BIM

#21123 [ArchStairs] ArchSketch Support and Refactoring Phase 3 + Regression
  src/Mod/BIM/ArchStairs.py
Labels: Mod: BIM

#20970 Draft: Finish command if user deselected Chained Mode
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
Labels: Mod: Draft

#21059 Document tidyup
  src/App/Document.cpp
  src/App/Document.h
  src/App/private/DocumentP.h
Labels: Mod: Core

#21174 Base: fix Unit scheme management regressions
  src/Base/UnitsApiPy.cpp
  src/Base/UnitsSchema.cpp
  src/Base/UnitsSchemas.cpp
  src/Base/UnitsSchemasData.h
  tests/src/Base/SchemaTests.cpp
Labels: Mod: Core, Mod: Test

#21171 Fix finding hdf5 on CMake reconfigure
  cMake/FreeCAD_Helpers/SetupSalomeSMESH.cmake
Labels: Packaging/building

#21323 Gui: Eliminate signed-to-unsigned comparison
  src/Gui/SpinBox.cpp
Labels: Mod: Core

#21319 Materials: Clean up unused variables
  src/Mod/Material/App/MaterialLoader.cpp
  src/Mod/Material/Gui/MaterialDelegate.cpp
Labels: Mod: Materials

#21321 UI: Remove qPixmapFromMimeSource pixmap function
  src/Gui/PreferencePages/DlgSettingsPDF.ui
  src/Gui/TaskView/TaskAppearance.ui
  src/Mod/BIM/Resources/ui/preferences-arch.ui
  src/Mod/BIM/Resources/ui/preferences-archdefaults.ui
  src/Mod/BIM/Resources/ui/preferences-dae.ui
  src/Mod/BIM/Resources/ui/preferences-ifc-export.ui
  src/Mod/BIM/Resources/ui/preferences-ifc.ui
  src/Mod/BIM/Resources/ui/preferences-sh3d-import.ui
  src/Mod/CAM/Gui/Resources/preferences/PathJob.ui
  src/Mod/Draft/Resources/ui/preferences-draft.ui
  src/Mod/Draft/Resources/ui/preferences-draftinterface.ui
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
  src/Mod/Draft/Resources/ui/preferences-draftvisual.ui
  src/Mod/Draft/Resources/ui/preferences-dwg.ui
  src/Mod/Draft/Resources/ui/preferences-dxf.ui
  src/Mod/Draft/Resources/ui/preferences-oca.ui
  src/Mod/Draft/Resources/ui/preferences-svg.ui
  src/Mod/Import/Resources/ui/preferences-import.ui
  src/Mod/OpenSCAD/Resources/ui/openscadprefs-base.ui
  src/Mod/Part/Gui/DlgBlock.ui
Labels: Mod: Core, Mod: BIM, Mod: Draft, Mod: CAM, Mod: Part, Mod: OpenSCAD

#21293 Material: Fix warnings in `ModelManager` code.
  src/Mod/Material/App/ModelManager.cpp
Labels: Mod: Materials

#21232 TechDraw: fix face color not working
  src/Mod/TechDraw/Gui/QGIFace.cpp
Labels: Mod: TechDraw, Approved

#21300 Create codeql.yml
  .github/workflows/codeql.yml
Labels: :octocat:

#21331 Fix a cyclic build dependency
  cMake/FreeCAD_Helpers/CheckInterModuleDependencies.cmake
Labels: Packaging/building

#20563 Base: Fixed segfault on destructing cached string
  src/Base/PreCompiled.h
  src/Base/XMLTools.cpp
  src/Base/XMLTools.h
Labels: Mod: Core

#21333 PD: Move hole base profiles types to the top
  src/Mod/PartDesign/Gui/TaskHoleParameters.ui
Labels: Mod: Part Design, DWG Approved

#21324 [1.0] Standardize on Py::Long type for Python bindings.
  src/App/ApplicationPy.cpp
  src/App/ComplexGeoDataPy.xml
  src/App/ComplexGeoDataPyImp.cpp
  src/App/DocumentObjectPy.xml
  src/App/DocumentObjectPyImp.cpp
  src/App/DocumentPy.xml
  src/App/DocumentPyImp.cpp
  src/App/FeaturePython.cpp
  src/App/Link.cpp
  src/App/LinkBaseExtensionPyImp.cpp
  src/App/ObjectIdentifier.cpp
  src/App/PropertyContainerPyImp.cpp
  src/App/PropertyStandard.cpp
  src/App/StringHasherPy.xml
  src/App/StringIDPy.xml
  src/Base/MatrixPyImp.cpp
  src/Base/PersistencePy.xml
  src/Base/PersistencePyImp.cpp
  src/Base/QuantityPyImp.cpp
  src/Gui/Command.cpp
  src/Gui/DocumentPy.xml
  src/Gui/DocumentPyImp.cpp
  src/Gui/LinkViewPy.xml
  src/Gui/LinkViewPyImp.cpp
  src/Gui/PythonConsolePy.cpp
  src/Gui/View3DPy.cpp
  src/Gui/View3DViewerPy.cpp
  src/Gui/ViewProviderFeaturePython.cpp
  src/Gui/ViewProviderPy.xml
  src/Gui/ViewProviderPyImp.cpp
  src/Gui/WidgetFactory.cpp
  src/Mod/CAM/App/AreaPyImp.cpp
  src/Mod/CAM/App/VoronoiCellPy.xml
  src/Mod/CAM/App/VoronoiCellPyImp.cpp
  src/Mod/Material/App/Array2DPy.xml
  src/Mod/Material/App/Array2DPyImp.cpp
  src/Mod/Material/App/Array3DPy.xml
  src/Mod/Material/App/Array3DPyImp.cpp
  src/Mod/Part/App/AppPartPy.cpp
  src/Mod/Part/App/PartFeaturePyImp.cpp
  src/Mod/Part/App/TopoShapePyImp.cpp
  src/Mod/Sandbox/Gui/AppSandboxGui.cpp
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
  src/Mod/Sketcher/App/SketchPyImp.cpp
Labels: Mod: Core, Mod: CAM, Mod: Part, Mod: Sketcher, Mod: Materials, Needs backport, Approved

#21230 Gui: fix ElideCheckbox
  src/Gui/ElideCheckBox.cpp
Labels: Mod: Core

#21370 Draft: params.py: do not report missing UI files
  src/Mod/Draft/draftutils/params.py
Labels: Mod: Draft

#21388 Update codeql.yml
  .github/workflows/codeql.yml
Labels: :octocat:

#21404 Draft: use different color for WPProxy to avoid BIM dependency
  src/Mod/Draft/draftviewproviders/view_wpproxy.py
Labels: Mod: Draft

#21415 App: fix exported object dynamic property type identifier
  src/App/Document.cpp
Labels: Mod: Core

#21418 Sketcher: remove "SecondIcon" logs on constraint icon hover
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: Mod: Sketcher

#21320 TD: Remove unused variable
  src/Mod/TechDraw/App/Geometry.cpp
Labels: Mod: TechDraw, Approved

#21312 TechDraw: decorateLine fix
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
Labels: Mod: TechDraw, Approved

#21108 CAM: PathShape with Tool Controller
  src/Mod/CAM/CMakeLists.txt
  src/Mod/CAM/Gui/Resources/Path.qrc
  src/Mod/CAM/Gui/Resources/icons/CAM_ShapeTC.svg
  src/Mod/CAM/InitGui.py
  src/Mod/CAM/Path/GuiInit.py
  src/Mod/CAM/Path/Op/Gui/PathShapeTC.py
Labels: Mod: CAM

#21408 CAM: fix loading Array dressup with unused properties
  src/Mod/CAM/Path/Dressup/Array.py
Labels: Mod: CAM

#21129 CAM: fix handling of Active state and CoolantMode with nested dressups
  src/Mod/CAM/CAMTests/TestRefactoredCentroidPost.py
  src/Mod/CAM/CAMTests/TestRefactoredTestDressupPost.py
  src/Mod/CAM/CAMTests/TestRefactoredTestPost.py
  src/Mod/CAM/CAMTests/TestRefactoredTestPostGCodes.py
  src/Mod/CAM/CAMTests/dressuptest.FCStd
  src/Mod/CAM/CMakeLists.txt
  src/Mod/CAM/Path/Base/Util.py
  src/Mod/CAM/Path/Post/Processor.py
  src/Mod/CAM/Path/Post/UtilsArguments.py
  src/Mod/CAM/Path/Post/UtilsExport.py
  src/Mod/CAM/Path/Post/scripts/dynapath_4060_post.py
  src/Mod/CAM/Path/Post/scripts/estlcam_post.py
  src/Mod/CAM/Path/Post/scripts/fangling_post.py
  src/Mod/CAM/Path/Post/scripts/fanuc_post.py
  src/Mod/CAM/Path/Post/scripts/grbl_post.py
  src/Mod/CAM/Path/Post/scripts/linuxcnc_post.py
  src/Mod/CAM/Path/Post/scripts/mach3_mach4_post.py
  src/Mod/CAM/Path/Post/scripts/marlin_post.py
  src/Mod/CAM/Path/Post/scripts/rrf_post.py
  src/Mod/CAM/Path/Post/scripts/snapmaker_post.py
  src/Mod/CAM/Path/Post/scripts/uccnc_post.py
  src/Mod/CAM/Path/Post/scripts/wedm_post.py
  src/Mod/CAM/TestCAMApp.py
Labels: Mod: CAM, Approved

#21251 BIM: Avoid traceback if there is no Classification selected
  src/Mod/BIM/bimcommands/BimClassification.py
Labels: Mod: BIM

#21273 Add Navigation Style/Orbit Style/Rotation Mode to About info
  src/App/Application.cpp
Labels: Mod: Core

#21042 BIM: add Offset input to wall creation task panel
  src/Mod/BIM/Arch.py
  src/Mod/BIM/bimcommands/BimWall.py
  src/Mod/Draft/draftutils/params.py
Labels: Mod: BIM, Mod: Draft, DWG Approved

#21375 Fem: Add support for VTK < 9.1 in calculator filter - fixes #21346
  src/Mod/Fem/App/FemPostFilter.cpp
Labels: Mod: FEM

#21397 FEM: Add more glyph types for the Glyph filter
  src/Mod/Fem/Gui/Resources/ui/TaskPostGlyph.ui
  src/Mod/Fem/femobjects/post_glyphfilter.py
Labels: Mod: FEM

#21413 Update codeql.yml
  .github/workflows/codeql.yml
Labels: :octocat:

#21447 Remove oldFuse funcion
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShape.h
  src/Mod/Part/App/TopoShape.pyi
  src/Mod/Part/App/TopoShapePyImp.cpp
Labels: Mod: Part

#21452 Removed empty functions
  src/Base/Interpreter.cpp
  src/Base/Interpreter.h
Labels: Mod: Core

#21445 SpreadSheet: remove function
  src/Mod/Spreadsheet/App/PropertySheet.cpp
  src/Mod/Spreadsheet/App/Sheet.cpp
  src/Mod/Spreadsheet/App/Sheet.h
Labels: Mod: Spreadsheet

#21443 App: Invoke `signalBeforeRecompute()` on the GUI thread
  src/App/Document.cpp
  src/App/Document.h
  src/App/private/DocumentP.h
  src/Gui/Document.cpp
  src/Gui/Document.h
Labels: Mod: Core

#21455 Measure: Add MeasureElementType::Surface
  src/App/MeasureManager.h
  src/Mod/Measure/App/MeasureArea.cpp
  src/Mod/Part/App/MeasureClient.cpp
Labels: Mod: Core, Mod: Part, Mod: Measurement

#21467 Measure: Fix delta label text size scaling
  src/Mod/Measure/Gui/ViewProviderMeasureBase.cpp
  src/Mod/Measure/Gui/ViewProviderMeasureBase.h
  src/Mod/Measure/Gui/ViewProviderMeasureDistance.cpp
Labels: Mod: Measurement

#21468 Doc: Create a separate topic for App::Extension
  src/App/Extension.h
  src/App/ExtensionContainer.h
  src/App/core-app.dox
Labels: Mod: Core

#20833 CAM: added three command line arguments, with tests
  src/Mod/CAM/CAMTests/TestRefactoredTestPost.py
  src/Mod/CAM/Path/Post/Command.py
  src/Mod/CAM/Path/Post/UtilsArguments.py
  src/Mod/CAM/Path/Post/UtilsExport.py
  src/Mod/CAM/Path/Post/UtilsParse.py
  src/Mod/CAM/Path/Post/scripts/snapmaker_post.py
Labels: Mod: CAM

#21437 Update clipper lib
  src/Mod/CAM/CAMTests/TestPathProfile.py
  src/Mod/CAM/libarea/clipper.cpp
  src/Mod/CAM/libarea/clipper.hpp
Labels: Mod: CAM

#21462 Base: Add some tests for units and minor fixes
  src/Base/UnitsApiPy.cpp
  tests/src/Base/SchemaTests.cpp
Labels: Mod: Core

#21465 Core: Correct unit merge errors
  src/Base/UnitsSchemasData.h
Labels: Mod: Core

#21466 Start: fix restoring of user saved Unit schema
  src/Mod/Start/Gui/GeneralSettingsWidget.cpp
Labels: Mod: Start

#21456 Draft: avoid redundant constraints in make_sketch.py (improved)
  src/Mod/Draft/draftmake/make_sketch.py
Labels: Mod: Draft

#21049 Gui: fix light/dark switch when on classic
  src/Gui/OverlayWidgets.cpp
  src/Gui/QSint/actionpanel/actionbox.cpp
  src/Gui/QSint/actionpanel/actiongroup.cpp
  src/Gui/QSint/actionpanel/actiongroup.h
  src/Gui/QSint/actionpanel/actionlabel.cpp
  src/Gui/QSint/actionpanel/actionlabel.h
  src/Gui/QSint/actionpanel/actionpanel.cpp
  src/Gui/QSint/actionpanel/actionpanelscheme.cpp
  src/Gui/QSint/actionpanel/actionpanelscheme.h
  src/Gui/QSint/actionpanel/taskgroup_p.cpp
  src/Gui/QSint/actionpanel/taskgroup_p.h
  src/Gui/QSint/actionpanel/taskheader_p.cpp
  src/Gui/Stylesheets/overlay/Dark Theme + Dark Background.qss
  src/Gui/Stylesheets/overlay/Dark Theme + Light Background.qss
  src/Gui/Stylesheets/overlay/Light Theme + Dark Background.qss
  src/Gui/Stylesheets/overlay/Light Theme + Light Background.qss
Labels: Mod: Core

#18961 Gui: Add support for hints in status bar
  src/Gui/Application.cpp
  src/Gui/BitmapFactory.cpp
  src/Gui/CMakeLists.txt
  src/Gui/FreeCADGuiInit.py
  src/Gui/Icons/resource.qrc
  src/Gui/Icons/user-input/mouse-left.svg
  src/Gui/Icons/user-input/mouse-middle.svg
  src/Gui/Icons/user-input/mouse-move.svg
  src/Gui/Icons/user-input/mouse-right.svg
  src/Gui/Icons/user-input/mouse-scroll-down.svg
  src/Gui/Icons/user-input/mouse-scroll-up.svg
  src/Gui/Icons/user-input/mouse-scroll.svg
  src/Gui/InputHint.h
  src/Gui/InputHintPy.cpp
  src/Gui/InputHintPy.h
  src/Gui/InputHintWidget.cpp
  src/Gui/InputHintWidget.h
  src/Gui/MainWindow.cpp
  src/Gui/MainWindow.h
  src/Gui/MainWindowPy.cpp
  src/Gui/MainWindowPy.h
  src/Gui/ToolHandler.cpp
  src/Gui/ToolHandler.h
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_base_original.py
  src/Mod/Sketcher/Gui/DrawSketchControllableHandler.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLineSet.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
Labels: Mod: Core, Mod: Sketcher, DWG Approved

#21500 Sketcher: remove surplus push_back to shapes (fixes #21499)
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#21517 Core: Typo in ViewProviderGeometryObject.cpp
  src/Gui/ViewProviderGeometryObject.cpp
Labels: Mod: Core

#21518 Draft: Tweak polygonTracker code
  src/Mod/Draft/draftguitools/gui_trackers.py
Labels: Mod: Draft

#21349 BIM: Add support to import lines from obj files
  src/Mod/BIM/importers/importOBJ.py
Labels: Mod: BIM, File format: OBJ

#21522 Draft: ShapeString fix sticky font check for small character
  src/Mod/Draft/draftobjects/shapestring.py
Labels: Mod: Draft

#21470 Update codeql.yml
  .github/workflows/codeql.yml
Labels: :octocat:

#21513 Update LineGroup.csv
  src/Mod/TechDraw/LineGroup/LineGroup.csv
Labels: Mod: TechDraw

#21488 BIM: allow deleting locked IFC properties when needed
  src/Mod/BIM/nativeifc/ifc_status.py
Labels: Mod: BIM

#21332 Draft: Implementation of 'Align to face' checkbox in Hatch task panel
  src/Mod/Draft/Resources/ui/dialogHatch.ui
  src/Mod/Draft/draftguitools/gui_hatch.py
  src/Mod/Draft/draftmake/make_hatch.py
  src/Mod/Draft/draftutils/params.py
  src/Mod/Draft/draftviewproviders/view_hatch.py
Labels: Mod: Draft, DWG review

#21428 BIM/Help: Access DockWidgetArea QFlag enum correctly
  src/Mod/BIM/bimcommands/BimViews.py
  src/Mod/Help/Help.py
Labels: Mod: BIM, Approved

#21291 BIM: Additional improvements for Activate button in BIM Views
  src/Mod/BIM/bimcommands/BimViews.py
Labels: Mod: BIM, DWG Approved

#21289 BIM: Change from RGBT to RGBA for IFC
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/importers/exportIFCHelper.py
Labels: Mod: BIM

#21523 Update codeql.yml
  .github/workflows/codeql.yml
Labels: :octocat:

#21554 Draft: Fix typo in arc input hint ("staring" → "starting")
  src/Mod/Draft/draftguitools/gui_arcs.py
Labels: Mod: Draft

#21524 Materials: External interface refinements
  src/Mod/Material/App/Exceptions.h
  src/Mod/Material/App/ExternalManager.cpp
  src/Mod/Material/App/ExternalManager.h
  src/Mod/Material/App/FolderTree.h
  src/Mod/Material/App/Library.cpp
  src/Mod/Material/App/Library.h
  src/Mod/Material/App/Material.pyi
  src/Mod/Material/App/MaterialAPI/MaterialManagerExternal.py
  src/Mod/Material/App/MaterialLibrary.cpp
  src/Mod/Material/App/MaterialLibrary.h
  src/Mod/Material/App/MaterialLibrary.pyi
  src/Mod/Material/App/MaterialLibraryPyImp.cpp
  src/Mod/Material/App/MaterialManager.cpp
  src/Mod/Material/App/MaterialManager.h
  src/Mod/Material/App/MaterialManagerExternal.cpp
  src/Mod/Material/App/MaterialManagerExternal.h
  src/Mod/Material/App/MaterialManagerLocal.cpp
  src/Mod/Material/App/MaterialManagerLocal.h
  src/Mod/Material/App/MaterialManagerPyImp.cpp
  src/Mod/Material/App/MaterialPyImp.cpp
  src/Mod/Material/App/Model.pyi
  src/Mod/Material/App/ModelLibrary.cpp
  src/Mod/Material/App/ModelLibrary.h
  src/Mod/Material/App/ModelManager.cpp
  src/Mod/Material/App/ModelManager.h
  src/Mod/Material/App/ModelManagerExternal.cpp
  src/Mod/Material/App/ModelManagerExternal.h
  src/Mod/Material/App/ModelManagerLocal.cpp
  src/Mod/Material/App/ModelManagerLocal.h
  src/Mod/Material/App/ModelManagerPyImp.cpp
  src/Mod/Material/App/ModelPyImp.cpp
  src/Mod/Material/Gui/MaterialSave.cpp
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
  src/Mod/Material/Gui/MaterialsEditor.cpp
  src/Mod/Material/Gui/MaterialsEditor.h
  src/Mod/Material/Gui/ModelSelect.cpp
  src/Mod/Material/Gui/TaskMigrateExternal.cpp
Labels: Mod: Materials

#20619 Draft: remove 'CTRL to snap' from tooltips
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftguitools/gui_beziers.py
  src/Mod/Draft/draftguitools/gui_circles.py
  src/Mod/Draft/draftguitools/gui_dimensions.py
  src/Mod/Draft/draftguitools/gui_ellipses.py
  src/Mod/Draft/draftguitools/gui_lines.py
  src/Mod/Draft/draftguitools/gui_move.py
  src/Mod/Draft/draftguitools/gui_offset.py
  src/Mod/Draft/draftguitools/gui_polygons.py
  src/Mod/Draft/draftguitools/gui_rectangles.py
  src/Mod/Draft/draftguitools/gui_rotate.py
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/draftguitools/gui_splines.py
  src/Mod/Draft/draftguitools/gui_texts.py
  src/Mod/Draft/draftguitools/gui_trimex.py
Labels: Mod: Draft

#21525 Materials: Correct model spelling errors
  src/Mod/Material/Resources/Models/Mechanical/ReducedPolynomialN1.yml
  src/Mod/Material/Resources/Models/Mechanical/ReducedPolynomialN2.yml
  src/Mod/Material/Resources/Models/Mechanical/ReducedPolynomialN3.yml
Labels: Mod: Materials

#21504 Sketcher: Remove unused variables
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Spreadsheet/App/PropertySheet.cpp
Labels: Mod: Spreadsheet, Mod: Sketcher

#21401 [ArchWall] Fix SetLength Error When Base Sketch has External Geometry
  src/Mod/BIM/ArchWall.py
Labels: Mod: BIM

#21169 TechDraw: fix positioning and state handling of dimension
  src/Mod/TechDraw/Gui/QGIDatumLabel.cpp
  src/Mod/TechDraw/Gui/QGIDatumLabel.h
  src/Mod/TechDraw/Gui/QGIViewDimension.cpp
Labels: Mod: TechDraw, Approved

#21355 [App] Use consistent unit schema names
  src/App/FreeCADInit.py
  src/Mod/Fem/femsolver/elmer/writer.py
Labels: Mod: Core, Mod: FEM, Mod: Start

#21322 CAM: Ensure float constants are single-precision
  src/Mod/CAM/PathSimulator/AppGL/SimDisplay.cpp
Labels: Mod: CAM

#21577 Fix various typos
  src/Mod/CAM/Path/Op/Vcarve.py
  src/Mod/CAM/libarea/clipper.cpp
  src/Mod/CAM/libarea/clipper.hpp
Labels: Mod: CAM

#21379 Gui: Set QStyle to Fusion if not set
  src/Gui/StartupProcess.cpp
Labels: Mod: Core

#21131 TechDraw: fix incorrect transform of editable fields
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
Labels: Mod: TechDraw
