Repository FreeCAD/FreeCAD, pull requests merged in 2025-09, with the labels that each got.

#23192 Sketcher: Copy expressions when rotating/moving geometry
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/DrawSketchHandlerRotate.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerScale.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTranslate.h
  src/Mod/Sketcher/Gui/SketcherTransformationExpressionHelper.cpp
  src/Mod/Sketcher/Gui/SketcherTransformationExpressionHelper.h
Labels: Type: Bug, Mod: Sketcher

#23369 [TD]allow finding child view outside clip rectangle
  src/Mod/TechDraw/Gui/QGIViewClip.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewClip.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewClip.h
Labels: Type: Bug, Mod: TechDraw

#22998 Navigation: Prevent showing context menu after panning or rubber band selection
  src/Gui/Navigation/BlenderNavigationStyle.cpp
  src/Gui/Navigation/CADNavigationStyle.cpp
  src/Gui/Navigation/InventorNavigationStyle.cpp
  src/Gui/Navigation/NavigationStyle.cpp
  src/Gui/Navigation/OpenCascadeNavigationStyle.cpp
  src/Gui/Navigation/OpenSCADNavigationStyle.cpp
  src/Gui/Navigation/RevitNavigationStyle.cpp
  src/Gui/Navigation/SolidWorksNavigationStyle.cpp
  src/Gui/Navigation/TinkerCADNavigationStyle.cpp
  src/Gui/Navigation/TouchpadNavigationStyle.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: Type: Bug, Mod: Core, Mod: Sketcher, Topic: Navigation

#23442 Core: Datums: Make getDirection and getBasePoint aware of LCS position
  src/App/Datums.cpp
Labels: Type: Bug, Mod: Core

#23500 Part: remove trailing whitespace
  src/Mod/Part/App/BRepOffsetAPI_MakePipeShell.pyi
  src/Mod/Part/App/BSplineSurface.pyi
  src/Mod/Part/App/BezierSurface.pyi
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.cpp
  src/Mod/Part/App/Geom2d/BSplineCurve2d.pyi
  src/Mod/Part/App/Geom2d/BezierCurve2d.pyi
  src/Mod/Part/App/Geom2d/Circle2d.pyi
  src/Mod/Part/App/Geom2d/Curve2d.pyi
  src/Mod/Part/App/Geom2d/Ellipse2d.pyi
  src/Mod/Part/App/Geom2d/Line2dSegment.pyi
  src/Mod/Part/App/MeasureClient.cpp
  src/Mod/Part/App/ShapeFix/ShapeFix_EdgeConnect.pyi
  src/Mod/Part/App/ShapeFix/ShapeFix_FixSmallFace.pyi
  src/Mod/Part/App/ShapeFix/ShapeFix_FreeBounds.pyi
  src/Mod/Part/App/ShapeFix/ShapeFix_ShapeTolerance.pyi
  src/Mod/Part/App/ShapeUpgrade/UnifySameDomain.pyi
  src/Mod/Part/App/TopoShape.pyi
  src/Mod/Part/App/TopoShapeEdge.pyi
  src/Mod/Part/App/TopoShapeFace.pyi
  src/Mod/Part/App/TopoShapeShell.pyi
  src/Mod/Part/App/TopoShapeSolid.pyi
  src/Mod/Part/App/TopoShapeWire.pyi
  src/Mod/Part/Gui/TaskCheckGeometry.cpp
  src/Mod/Part/Gui/TaskThickness.cpp
  src/Mod/Part/Gui/ViewProviderPartExt.pyi
Labels: Mod: Part, Type: Other

#23503 Fix STEP import with bad string behavior
  src/App/PropertyStandard.cpp
  src/Base/Persistence.cpp
  src/Base/Persistence.h
  src/Base/PreCompiled.h
  src/Mod/Test/Document.py
  tests/src/Base/Reader.cpp
Labels: Type: Bug, Mod: Core, Mod: Test

#23101 TechDraw: random fixes
  src/Mod/TechDraw/App/DrawView.cpp
  src/Mod/TechDraw/App/DrawView.h
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewSection.cpp
  src/Mod/TechDraw/Gui/CommandCreateDims.cpp
  src/Mod/TechDraw/Gui/QGIFace.cpp
  src/Mod/TechDraw/Gui/QGIFace.h
  src/Mod/TechDraw/Gui/TechDrawHandler.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.h
Labels: Type: Bug, Mod: TechDraw

#23531 FEM: Fix typo in Z88 preference tooltip
  src/Mod/Fem/Gui/DlgSettingsFemZ88.ui
Labels: Type: Bug, Mod: FEM, Approved

#22868 BIM: Remove wrong IfcType for Column/Beam
  src/Mod/BIM/ArchStructure.py
Labels: Type: Bug, Mod: BIM, Approved

#23428 PartDesign: Enable selecting a sketch as base plane of another sketch
  src/Mod/Part/App/Attacher.cpp
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
  src/Mod/PartDesign/Gui/SketchWorkflow.h
Labels: Type: Bug, Mod: Part Design

#23468 Mesh: fix #18801 - simply call `gmsh` if gmsh executable path is empty
  src/Mod/Mesh/Gui/RemeshGmsh.cpp
  src/Mod/Mesh/Gui/RemeshGmsh.ui
Labels: Type: Bug, Mod: Mesh

#23477 PartDesign: Highlight profile for profile based features
  src/Mod/Part/Gui/DlgSettingsGeneral.cpp
  src/Mod/Part/Gui/DlgSettingsGeneral.ui
  src/Mod/PartDesign/Gui/StyleParameters.h
  src/Mod/PartDesign/Gui/ViewProviderSketchBased.cpp
  src/Mod/PartDesign/Gui/ViewProviderSketchBased.h
Labels: Mod: Part Design, Mod: Part, Type: Feature

#23526 Update clang-tidy checks to remove avoid-do-while
  .clang-tidy
Labels: Type: Other

#23439 CAM: use dict constructor for Command in VCarve
  src/Mod/CAM/Path/Op/Vcarve.py
Labels: Type: Bug, Mod: CAM

#23399 Measure: Fix quick measure command
  src/Gui/Workbench.cpp
  src/Mod/Measure/Gui/Command.cpp
  src/Mod/Measure/Gui/QuickMeasure.h
Labels: Type: Bug, Mod: Core, DWG review, Mod: Measurement

#23552 Gui: Add a binding for the Delete key to remove a property
  src/Gui/propertyeditor/PropertyEditor.cpp
  src/Gui/propertyeditor/PropertyEditor.h
Labels: Mod: Core

#23420 Assembly: Solver message taskbox. UI setup, App not implemented yet.
  src/Mod/Assembly/App/AssemblyLink.cpp
  src/Mod/Assembly/App/AssemblyLink.h
  src/Mod/Assembly/App/AssemblyObject.cpp
  src/Mod/Assembly/App/AssemblyObject.h
  src/Mod/Assembly/Gui/CMakeLists.txt
  src/Mod/Assembly/Gui/TaskAssemblyMessages.cpp
  src/Mod/Assembly/Gui/TaskAssemblyMessages.h
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
  src/Mod/Assembly/Gui/ViewProviderAssembly.h
Labels: Type: Feature, Mod: Assembly

#23519 Gui: Show Axis Cross on top
  src/Gui/Inventor/SoFCPlacementIndicatorKit.h
  src/Gui/View3DInventorViewer.cpp
Labels: Type: Bug, Mod: Core, DWG approved

#23517 CAM: Fix missed gcode save dialog
  src/Mod/CAM/Path/Post/Command.py
Labels: Type: Bug, Mod: CAM

#23194 CAM: Fix uccnc postprocessor for G2|G3
  src/Mod/CAM/Path/Post/scripts/uccnc_post.py
Labels: Type: Bug, Mod: CAM

#23573 Draft: Fix some prefs GUI texts (related to Title Case)
  src/Mod/Draft/Resources/ui/preferences-draft.ui
  src/Mod/Draft/Resources/ui/preferences-draftinterface.ui
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
Labels: Mod: Draft, Approved, Type: Other

#23572 App: Fix safe mode and home directory
  src/App/Application.cpp
  src/App/ApplicationDirectories.cpp
  src/App/ApplicationDirectories.h
Labels: Type: Bug, Mod: Core

#23582 PartDesign: fix the draggers for pad type and hole
  src/Mod/Part/Gui/DlgSettingsGeneral.ui
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
Labels: Type: Bug, Mod: Part Design

#23614 Fix missed string update
  src/Mod/Part/Gui/TaskAttacher.ui
Labels: Mod: Part, Type: Other

#23611 CI: Add new entries to codespellignore file
  .github/codespellignore
Labels: :octocat:, Type: Other

#23530 FEM: Amplitude support for final temperature field
  src/Mod/Fem/App/FemConstraintInitialTemperature.cpp
  src/Mod/Fem/App/FemConstraintInitialTemperature.h
  src/Mod/Fem/femsolver/calculix/write_amplitude.py
  src/Mod/Fem/femsolver/calculix/write_constraint_finaltemperature.py
Labels: Mod: FEM, Type: Feature

#23633 PartDesign: Polar pattern: Spacings off by one.
  src/Mod/PartDesign/App/FeaturePolarPattern.cpp
Labels: Mod: Part Design

#23615 Part: Make dragger attach to the midpoint / axis
  src/Mod/Part/App/Attacher.cpp
Labels: Mod: Part, Type: Feature

#23677 Part: do not copy visual of sketch
  src/Mod/Part/Gui/DlgExtrusion.cpp
  src/Mod/Part/Gui/DlgRevolution.cpp
Labels: Type: Bug, Mod: Part

#23584 Gui: Fix preview rendering issues
  src/Mod/Part/Gui/ViewProviderPreviewExtension.cpp
  src/Mod/Part/Gui/ViewProviderPreviewExtension.h
Labels: Type: Bug, Mod: Core, Mod: Part, Approved

#23692 [CAM] change default TC name to 5mm endmill
  src/Mod/CAM/Path/Tool/Controller.py
Labels: Mod: CAM, Type: Other

#23691 [CAM] fix to ensure tool change command is issued for SpindleSpeed changes
  src/Mod/CAM/Path/Post/Processor.py
Labels: Type: Bug, Mod: CAM

#23445 Link: Fix MaterialOverride 0.0 transparency bug
  src/Gui/Selection/SoFCUnifiedSelection.cpp
Labels: Type: Bug

#22964 Core: Enhance 'Expression editor' input and resize behavior
  src/Gui/Dialogs/DlgExpressionInput.cpp
  src/Gui/Dialogs/DlgExpressionInput.h
  src/Gui/Dialogs/DlgExpressionInput.ui
  src/Gui/ExpressionCompleter.cpp
  src/Gui/ExpressionCompleter.h
  src/Gui/QuantitySpinBox.cpp
  src/Gui/SpinBox.cpp
  src/Gui/Stylesheets/FreeCAD.qss
  src/Gui/Widgets.cpp
Labels: Mod: Core, Type: Feature, Approved, DWG approved

#23024 Sketcher: fix invalid constraint on first dimension
  src/Mod/Sketcher/App/SketchAnalysis.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/App/SketchObject.pyi
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerScale.h
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
Labels: Type: Bug, Mod: Sketcher

#23551 Fem: Add support for 2D geometries to Centrif constraint
  src/Mod/Fem/femmesh/meshsetsgetter.py
  src/Mod/Fem/femsolver/calculix/write_constraint_centrif.py
  src/Mod/Fem/femtaskpanels/task_constraint_centrif.py
Labels: Mod: FEM, Type: Feature, Approved

#22340 Gui: Change navigation cursors to SVG
  src/Gui/Icons/cursor-pan.svg
  src/Gui/Icons/cursor-rotate.svg
  src/Gui/Icons/cursor-zoom.svg
  src/Gui/Icons/resource.qrc
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Mod/TechDraw/Gui/QGVPage.cpp
  src/Mod/TechDraw/Gui/QGVPage.h
Labels: Mod: Core, Mod: TechDraw, Type: Feature, Approved, DWG approved

#23494 Fem: Use default CalculiX time increments for thermo-mechanical steady state analysis
  src/Mod/Fem/Gui/DlgSettingsFemCcx.ui
  src/Mod/Fem/Gui/DlgSettingsFemCcxImp.cpp
  src/Mod/Fem/femcommands/commands.py
  src/Mod/Fem/femexamples/thermomech_bimetal.py
  src/Mod/Fem/femobjects/solver_calculix.py
  src/Mod/Fem/femobjects/solver_ccxtools.py
  src/Mod/Fem/femsolver/calculix/write_step_equation.py
  src/Mod/Fem/femtest/data/calculix/thermomech_bimetal.inp
Labels: Type: Bug, Mod: FEM, Approved

#23553 FEM: Better defaults for mesh export
  src/Mod/Fem/App/AppFemPy.cpp
  src/Mod/Fem/Gui/DlgSettingsFemExportAbaqus.ui
  src/Mod/Fem/Gui/DlgSettingsFemExportAbaqusImp.cpp
  src/Mod/Fem/femobjects/mesh_gmsh.py
Labels: Mod: FEM, Approved, Type: Other

#23583 Fem: Update old ElementGeometry*D with new properties
  src/Mod/Fem/femobjects/element_geometry1D.py
  src/Mod/Fem/femobjects/element_geometry2D.py
Labels: Type: Bug, Mod: FEM, Approved

#23527 [TD]fix horizontal/vertical test for dimensions
  src/Mod/TechDraw/Gui/DimensionValidators.cpp
  src/Mod/TechDraw/Gui/DimensionValidators.h
Labels: Type: Bug, Mod: TechDraw

#23351 Core: Modernize Fileinfo
  src/Base/FileInfo.cpp
  src/Base/FileInfo.h
  tests/src/Base/CMakeLists.txt
  tests/src/Base/FileInfo.cpp
Labels: Mod: Core, Coding: Refactor, Type: Other

#23295 Draft: Improve ShapeString execute function
  src/Mod/Draft/draftobjects/shapestring.py
Labels: Mod: Draft, Type: Feature

#23630 Draft: fix focus on Length input behavior
  src/Mod/Draft/DraftGui.py
Labels: Type: Bug, Mod: Draft

#23716 Draft: Remove relative to WP option from Draft_Scale
  src/Mod/Draft/draftguitools/gui_scale.py
  src/Mod/Draft/drafttaskpanels/task_scale.py
Labels: Type: Bug, Mod: Draft

#23622 TD: Finish removal of Link and Landmark from GUI
  src/Mod/TechDraw/Gui/Workbench.cpp
Labels: Mod: TechDraw, Approved, Type: Other

#23532 Core: Fix alpha-transparency issue in face color override.
  src/Gui/Selection/SoFCSelectionContext.cpp
  src/Gui/TaskElementColors.cpp
Labels: Type: Bug, Mod: Core

#23761 Revert "Part: Remove mode from Offset, keep in Offset2D"
  src/Mod/Part/App/FeatureOffset.cpp
  src/Mod/Part/App/FeatureOffset.h
  src/Mod/Part/Gui/TaskOffset.cpp
  src/Mod/Part/Gui/TaskOffset.ui
Labels: Mod: Part, Type: Other

#23781 Core: Add btn_rotate.svg
  src/Gui/Icons/button_rotate.svg
  src/Gui/Icons/resource.qrc
Labels: Type: Bug, Mod: Core

#23812 PartDesign: Extrude: Fix twoLength/uptoshape broken
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeaturePad.cpp
  src/Mod/PartDesign/App/FeaturePocket.cpp
  src/Mod/PartDesign/PartDesignTests/TestPad.py
Labels: Mod: Part Design

#23822 Sketcher: Remove redundant title case from task panel option of the Mirror tool
  src/Mod/Sketcher/Gui/DrawSketchHandlerSymmetry.h
Labels: Mod: Sketcher

#23426 Gui: Reconcile Add Property Dialogs
  src/Gui/CMakeLists.txt
  src/Gui/CommandStructure.cpp
  src/Gui/Dialogs/DlgAddProperty.cpp
  src/Gui/Dialogs/DlgAddProperty.h
  src/Gui/Dialogs/DlgAddProperty.ui
  src/Gui/Dialogs/DlgAddPropertyVarSet.cpp
  src/Gui/Dialogs/DlgAddPropertyVarSet.h
  src/Gui/Dialogs/DlgAddPropertyVarSet.ui
  src/Gui/Dialogs/DlgExpressionInput.cpp
  src/Gui/Dialogs/DlgExpressionInput.h
  src/Gui/Tree.cpp
  src/Gui/Tree.h
  src/Gui/ViewProviderVarSet.cpp
  src/Gui/ViewProviderVarSet.h
  src/Gui/propertyeditor/PropertyEditor.cpp
Labels: Type: Bug, Mod: Core, Type: Feature, Approved, DWG approved

#23869 PartDesign: remove duplicate scale during sketch creation with attach…
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
Labels: Type: Bug, Mod: Part Design

#23865 Sketcher: Coin resize when screen change. Fix #23267
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManager.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.h
Labels: Type: Bug, Mod: Sketcher, Approved

#23820 Materials: Add POM-(Homopolymer|Copolymer)-Generic
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/Resources/Materials/Standard/Thermoplast/POM-Copolymer-Generic.FCMat
  src/Mod/Material/Resources/Materials/Standard/Thermoplast/POM-Homopolymer-Generic.FCMat
Labels: Mod: Materials, Type: Other

#23921 Sketcher: Update text in prefs (Title Case related)
  src/Mod/Sketcher/Gui/SketcherSettings.ui
Labels: Mod: Sketcher

#23924 Sketcher change "don't attach"
  src/Mod/Sketcher/Gui/Command.cpp
Labels: Mod: Sketcher

#23925 Sketcher: QMessageBox titles to Title Case
  src/Mod/Sketcher/Gui/Command.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/TaskSketcherValidation.cpp
Labels: Mod: Sketcher

#23587 TechDraw: Fix selections not clearing
  src/Mod/TechDraw/Gui/QGSPage.cpp
Labels: Type: Bug, Mod: TechDraw, Approved

#23922 Materials: Add POM-(Homopolymer|Copolymer)-Generic followup
  src/Mod/Material/Resources/Materials/Standard/Thermoplast/POM-Copolymer-Generic.FCMat
  src/Mod/Material/Resources/Materials/Standard/Thermoplast/POM-Homopolymer-Generic.FCMat
Labels: Mod: Materials, Type: Other

#23501 TechDraw: Add number decimals and reference dimension options to dimension task panel
  src/Mod/TechDraw/Gui/TaskDimension.cpp
  src/Mod/TechDraw/Gui/TaskDimension.h
  src/Mod/TechDraw/Gui/TaskDimension.ui
Labels: Mod: TechDraw, Type: Feature, DWG review

#23796 BIM: ArchAxisSystem, fix double click both editing label and opening task panel
  src/Mod/BIM/ArchAxisSystem.py
Labels: Type: Bug, Mod: BIM

#22500 CAM: select rows instead of cells in drilling panel
  src/Mod/CAM/Gui/Resources/panels/PageBaseHoleGeometryEdit.ui
Labels: Mod: CAM, Type: Feature

#23981 Sketcher: context menu of Elements section in task panel to Title Case
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
Labels: Type: Bug, Mod: Sketcher

#23987 TechDraw: Update missed UI strings to Title Case
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
Labels: Mod: TechDraw

#23976 Materials: Add Aluminum-7075-T6
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/Resources/Materials/Standard/Metal/Aluminum/Aluminum-7075-T6.FCMat
Labels: Mod: Materials, Type: Other

#23977 Materials: Update Aluminum-6061-T6
  src/Mod/Material/Resources/Materials/Standard/Metal/Aluminum/Aluminum-6061-T6.FCMat
Labels: Mod: Materials, Type: Other

#24006 Material PMMA generic
  src/Mod/Material/CMakeLists.txt
  src/Mod/Material/Resources/Materials/Standard/Thermoplast/PMMA-Generic.FCMat
Labels: Mod: Materials, Type: Other

#23902 CAM: fix library import in snapmaker postprocessor
  src/Mod/CAM/Path/Post/scripts/snapmaker_post.py
Labels: Type: Bug, Mod: CAM

#23724 [CAM] regression fix: re-enable adaptive profile mode
  src/Mod/CAM/Path/Op/Adaptive.py
Labels: Type: Bug, Mod: CAM

#23993 Sketcher: Fix trim regression
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Type: Bug, Mod: Sketcher

#23991 Gui: Fix segfault DlgPropertyLink
  src/Gui/Dialogs/DlgPropertyLink.cpp
Labels: Type: Bug, Mod: Core

#24020 PartDesign: fix crash when creating new sketch (#24019)
  src/Mod/PartDesign/Gui/SketchWorkflow.cpp
Labels: Mod: Part Design

#23933 CI: run exclusively GUI tests in the GUI test steps
  .github/scripts/run_gui_tests.py
  .github/workflows/sub_buildUbuntu.yml
Labels: :octocat:, Type: Other

#23821 App: Sanitize all paths for null characters
  src/App/ApplicationDirectories.cpp
  src/App/ApplicationDirectories.h
  tests/src/App/ApplicationDirectories.cpp
Labels: Mod: Core, Type: Other

#24053 Sketcher: Offset: fix bad arcs
  src/Mod/Sketcher/Gui/DrawSketchHandlerOffset.h
Labels: Type: Bug, Mod: Sketcher

#24048 Core: Add beforeDelete python interface.
  src/Gui/ViewProviderFeaturePython.cpp
  src/Gui/ViewProviderFeaturePython.h
Labels: Mod: Core, Type: Other

#24040 Draft: fix working plane tooltip
  src/Mod/Draft/WorkingPlane.py
Labels: Type: Bug, Mod: Draft

#21578 CAM: Dragknife dressup adds unnecessary maneuvers
  src/Mod/CAM/Path/Dressup/Gui/Dragknife.py
Labels: Type: Bug, Mod: CAM

#23720 [CAM] add missing migration from intermediate version for lead in/out dressup
  src/Mod/CAM/Path/Dressup/Gui/LeadInOut.py
Labels: Type: Bug, Mod: CAM

#23718 CAM: PocketShape defaults to Offset and 50% StepOver
  src/Mod/CAM/Path/Op/PocketShape.py
Labels: Mod: CAM, Type: Other

#24087 App: Fix the Python wrapper for isVersionedPath
  src/App/ApplicationDirectoriesPyImp.cpp
Labels: Mod: Core

#23636 Sketcher: improve Make Internals property tooltip
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Topic: User Interface, Mod: Sketcher, Type: Other

#23569 Sketcher: Improve circle constraint position
  src/Mod/Sketcher/Gui/DrawSketchController.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
Labels: Type: Bug, Mod: Sketcher, Approved

#24045 [ArchCurtainWall] Fix Regression Curve Support
  src/Mod/BIM/ArchCurtainWall.py
Labels: Type: Bug, Mod: BIM

#24081 Draft: fix snapper lagging
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: Type: Bug, Mod: Draft, Type: Regression

#23367 Toponaming: Don't add empty tags past the threshold.
  src/App/ElementMap.cpp
Labels: Type: Bug, Mod: Core, Topic: Toponaming

#24073 [CAM] reorder job tabs to put Setup first
  src/Mod/CAM/Gui/Resources/panels/PathEdit.ui
  src/Mod/CAM/Path/Main/Gui/Job.py
Labels: Mod: CAM, Topic: User Interface, DWG review, Type: Other

#23659 PartDesign: Hole: Print error when no axis was found
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: Mod: Part Design, Topic: User Interface, Type: Other

#23648 Gui: Fix issues with Expr dialog with VarSets
  src/Gui/Dialogs/DlgExpressionInput.cpp
  src/Gui/Dialogs/DlgExpressionInput.h
  src/Gui/Dialogs/DlgExpressionInput.ui
Labels: Type: Bug, Mod: Core, Topic: User Interface

#23187 Sketcher: Fix "Display only filtered Constraints" option
  src/Mod/Sketcher/App/Constraint.cpp
  src/Mod/Sketcher/App/Constraint.h
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/App/SketchObject.pyi
  src/Mod/Sketcher/App/SketchObjectPyImp.cpp
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.h
Labels: Type: Bug, Topic: User Interface, Mod: Sketcher, DWG approved

#23696 PD: hole prefer finding closest diameter if pitch is 0
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: Type: Bug, Mod: Part Design

#23707 Gui: Fix transform of link sub-elements
  src/Gui/ViewProviderDragger.cpp
  src/Gui/ViewProviderLink.cpp
Labels: Type: Bug, Mod: Core

#23167 Gui: Remove references to the Addon Manager if no Std_AddonMgr
  src/Gui/Dialogs/DlgMacroExecuteImp.cpp
  src/Gui/Dialogs/DlgPreferencePackManagementImp.cpp
  src/Gui/PreferencePages/DlgSettingsGeneral.cpp
  src/Gui/Workbench.cpp
  src/Mod/Start/Gui/ThemeSelectorWidget.cpp
Labels: Type: Bug, Mod: Core, Mod: Start, DWG approved

#23957 CAM: LeadInOut - Fix for rapid move in end
  src/Mod/CAM/Path/Dressup/Gui/LeadInOut.py
Labels: Type: Bug, Mod: CAM

#23544 Link: make OverrideMaterial use the per-face override.
  src/Gui/ViewProviderLink.cpp
  src/Mod/Part/Gui/ViewProviderExt.cpp
Labels: Type: Bug, Mod: Core

#24161 Assembly: Fix subassembly linkgroups not moving with dragger
  src/Mod/Assembly/Gui/ViewProviderAssembly.cpp
Labels: Mod: Assembly

#24124 Sketcher: Fix is active.
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
  src/Mod/Sketcher/Gui/CommandSketcherOverlay.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/Utils.cpp
  src/Mod/Sketcher/Gui/Utils.h
Labels: Type: Bug, Mod: Sketcher

#24192 Sketcher: Fix crash on constraint selection
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
Labels: Mod: Sketcher

#24098 fix issue #23829 build with boost v1.89 and greater
  cMake/FreeCAD_Helpers/SetupBoost.cmake
Labels: Type: Bug, Packaging/building

#23803 Py3.13: fix warnings
  src/3rdParty/PyCXX/CXX/Python3/Config.hxx
  src/3rdParty/PyCXX/CXX/Python3/Objects.hxx
  src/3rdParty/PyCXX/CXX/Python3/cxxsupport.cxx
  src/App/FeaturePythonPyImp.h
  src/App/FeaturePythonPyImp.inl
Labels: Type: Bug, Mod: Core, 3rd party component

#23823 Fem: Remove dependency of the ViewProviderFemPostObject class on user parameters
  src/Mod/Fem/App/CMakeLists.txt
  src/Mod/Fem/App/FemPostPipeline.cpp
  src/Mod/Fem/App/FemPostPipeline.h
  src/Mod/Fem/App/PreCompiled.h
  src/Mod/Fem/App/VTKExtensions/vtkCleanUnstructuredGrid.cxx
  src/Mod/Fem/App/VTKExtensions/vtkCleanUnstructuredGrid.h
  src/Mod/Fem/App/VTKExtensions/vtkFemFrameSourceAlgorithm.cpp
  src/Mod/Fem/App/VTKExtensions/vtkFemFrameSourceAlgorithm.h
  src/Mod/Fem/App/VTKExtensions/vtkSMPTools.h
  src/Mod/Fem/Gui/DlgSettingsFemElmer.ui
  src/Mod/Fem/Gui/DlgSettingsFemElmerImp.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostObject.h
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.cpp
Labels: Mod: FEM, Approved, Type: Other

#23794 Assembly: fix delete shortcut parameter mismatch
  src/Mod/Assembly/JointObject.py
Labels: Type: Bug, Mod: Assembly

#23729 Fem: Better error handling in task panels with logging
  src/Mod/Fem/femmesh/netgentools.py
  src/Mod/Fem/femtaskpanels/base_femlogtaskpanel.py
Labels: Mod: FEM, Approved, Type: Other

#23672 Theme: bring back visual feedback on toolbar button press and hover
  src/Gui/Stylesheets/FreeCAD.qss
Labels: Type: Bug, Mod: Core, Topic: User Interface, Topic: Stylesheets, DWG review

#24225 FEM: Fix small title case typo with "all"
  src/Mod/Fem/femcommands/commands.py
Labels: Type: Bug, Mod: FEM, Topic: User Interface

#23984 Fem: Remove pipeline from analysis highlighter - fixes #23466
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.cpp
  src/Mod/Fem/Gui/ViewProviderFemPostPipeline.h
Labels: Type: Bug, Mod: FEM, Approved

#24122 Sketcher.Scale: Add case for distance of a single curve
  src/Mod/Sketcher/Gui/DrawSketchHandlerScale.h
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
Labels: Type: Bug, Mod: Sketcher

#24266 Fix Refine in Cut Compound test
  src/App/ComplexGeoDataPyImp.cpp
  src/Mod/Part/parttests/TopoShapeTest.py
Labels: Mod: Core, Mod: Part, Type: Other

#23926 Gui: Render profile preview in proper coordinate space
  src/Mod/PartDesign/Gui/ViewProviderSketchBased.cpp
Labels: Type: Bug, Mod: Part Design, Approved

#24169 BIM: fix linked document of BIM_Library task panel
  src/Mod/BIM/bimcommands/BimLibrary.py
Labels: Type: Bug, Mod: BIM

#23962 [TD]fix uncommanded leader position change
  src/Mod/TechDraw/Gui/QGILeaderLine.h
  src/Mod/TechDraw/Gui/QGIView.cpp
  src/Mod/TechDraw/Gui/QGIView.h
Labels: Type: Bug, Mod: TechDraw

#24256 [Part] Fix Part Boolean operations Refine incorrectly set for new users
  src/Mod/Part/App/FeaturePartBoolean.cpp
  tests/src/Mod/Part/App/FeatureChamfer.cpp
  tests/src/Mod/Part/App/FeatureFillet.cpp
  tests/src/Mod/Part/App/FeatureMirroring.cpp
  tests/src/Mod/Part/App/FeaturePartFuse.cpp
  tests/src/Mod/Part/App/PartFeatures.cpp
  tests/src/Mod/Part/App/TopoShapeMakeElementRefine.cpp
Labels: Type: Bug, Mod: Part

#24282 PartDesign: Fix warnings
  src/Mod/PartDesign/App/FeatureLinearPattern.cpp
  src/Mod/PartDesign/App/FeaturePolarPattern.cpp
Labels: Type: Bug, Mod: Part Design

#24289 GUI: Fix some translatable text
  src/Gui/Tree.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/TechDraw/Gui/Command.cpp
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawAnnotation.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneral.ui
Labels: Mod: Core, Mod: TechDraw, Mod: Sketcher

#23771 Draft: update Group icons
  src/Gui/Icons/Std_SelectGroupContents.svg
  src/Mod/Draft/Resources/icons/Draft_AddConstruction.svg
  src/Mod/Draft/Resources/icons/Draft_AddNamedGroup.svg
  src/Mod/Draft/Resources/icons/Draft_AddToGroup.svg
  src/Mod/Draft/Resources/icons/Draft_AddToLayer.svg
  src/Mod/Draft/Resources/icons/Draft_Construction.svg
  src/Mod/Draft/Resources/icons/Draft_NewLayer.svg
  src/Mod/Draft/Resources/icons/Draft_SelectGroup.svg
Labels: Mod: Core, Mod: Draft, Topic: User Interface, DWG review, Type: Other

#24024 Fem: Add tensor components to calculator variables
  src/Mod/Fem/App/FemPostFilter.cpp
Labels: Type: Bug, Mod: FEM, Approved

#23946 Don't inform Coin to use EGL for Coin 4.0.6+
  src/Gui/Application.cpp
Labels: Mod: Core, Approved, Type: Other

#24292 Sketcher: Do not force visibility of planes on edit
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Type: Bug, Mod: Sketcher, Approved

#23678 FEM: Restore and harmonize FEM Task selection hints
  src/Mod/Fem/Gui/TaskFemConstraintContact.cpp
  src/Mod/Fem/Gui/TaskFemConstraintContact.ui
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.ui
  src/Mod/Fem/Gui/TaskFemConstraintFixed.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFixed.ui
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.ui
  src/Mod/Fem/Gui/TaskFemConstraintForce.cpp
  src/Mod/Fem/Gui/TaskFemConstraintForce.ui
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.ui
  src/Mod/Fem/Gui/TaskFemConstraintPlaneRotation.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPlaneRotation.ui
  src/Mod/Fem/Gui/TaskFemConstraintPressure.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPressure.ui
  src/Mod/Fem/Gui/TaskFemConstraintRigidBody.cpp
  src/Mod/Fem/Gui/TaskFemConstraintRigidBody.ui
  src/Mod/Fem/Gui/TaskFemConstraintSpring.cpp
  src/Mod/Fem/Gui/TaskFemConstraintSpring.ui
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.ui
  src/Mod/Fem/Gui/TaskFemConstraintTransform.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTransform.ui
  src/Mod/Fem/femguiutils/selection_widgets.py
Labels: Mod: FEM, Topic: User Interface, Approved, DWG approved

#24243 Assembly: Fix translatable strings
  src/Mod/Assembly/CommandCreateBom.py
  src/Mod/Assembly/CommandCreateJoint.py
  src/Mod/Assembly/CommandCreateSimulation.py
  src/Mod/Assembly/CommandCreateView.py
  src/Mod/Assembly/CommandInsertLink.py
  src/Mod/Assembly/CommandInsertNewPart.py
  src/Mod/Assembly/CommandSolveAssembly.py
Labels: Type: Bug, Topic: User Interface, Mod: Assembly

#24234 CAM: Fix SpindleDirection and Material not updating from toolbit files; reduce log noise
  src/Mod/CAM/Path/Tool/shape/doc.py
  src/Mod/CAM/Path/Tool/toolbit/models/base.py
Labels: Type: Bug, Mod: CAM, Approved

#24148 CAM: Convert tapping operation to experimental feature, Add tap pitch / spindle speed, Fix toolbit schema bugs, update legacy linuxcnc post
  src/Mod/CAM/App/PathSegmentWalker.cpp
  src/Mod/CAM/InitGui.py
  src/Mod/CAM/Path/Base/Generator/tapping.py
  src/Mod/CAM/Path/Op/Tapping.py
  src/Mod/CAM/Path/Post/scripts/linuxcnc_post.py
  src/Mod/CAM/Path/Tool/shape/models/tap.py
  src/Mod/CAM/Path/Tool/toolbit/models/tap.py
  src/Mod/CAM/Path/Tool/toolbit/util.py
  src/Mod/CAM/Tools/Bit/375-16_Tap.fctb
  src/Mod/CAM/Tools/Shape/tap.fcstd
Labels: Mod: CAM, Approved, Type: Other

#24021 TechDraw: Fix selections not clearing when subelements are also selected
  src/Mod/TechDraw/Gui/QGIView.cpp
Labels: Type: Bug, Mod: TechDraw

#24166 CAM: increase direction arrow size. Fixes #11163
  src/Mod/CAM/Gui/ViewProviderPath.cpp
Labels: Mod: CAM, DWG review, Type: Other

#24311 Assembly: Fix errors on solve when limits
  src/Mod/Assembly/App/AssemblyObject.cpp
Labels: Type: Bug, Mod: Assembly

#24343 PartDesign: iso10642-fine.json wrong M5 diameter
  src/Mod/PartDesign/Resources/Hole/iso10642-fine.json
Labels: Type: Bug, Mod: Part Design

#24214 Sketcher: Force OVP visibility for offset and scale.
  src/Gui/EditableDatumLabel.h
  src/Mod/Sketcher/Gui/DrawSketchController.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerOffset.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerScale.h
Labels: Type: Bug, Mod: Core, Mod: Sketcher

#24118 Build: Don't remove the doc directory
  package/rattler-build/build.bat
Labels: Type: Bug

#22894 Sketcher: Unset labels that are below confusion point before enforcing
  src/Mod/Sketcher/Gui/DrawSketchController.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerOffset.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRotate.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTranslate.h
Labels: Type: Bug, Mod: Core, Mod: Sketcher

#24291 Addon Manager: Add defusedxml dependency
  package/fedora/freecad.spec
  package/rattler-build/recipe.yaml
  package/ubuntu/install-apt-packages.sh
  pixi.lock
  pixi.toml
Labels: Mod: Addon Manager, Type: Other

#24108 [TD]fix no dimension in DXF export
  src/Mod/TechDraw/App/AppTechDrawPy.cpp
  src/Mod/TechDraw/App/DrawPagePyImp.cpp
  src/Mod/TechDraw/Gui/QGIProjGroup.cpp
  src/Mod/TechDraw/Gui/ViewProviderPageExtension.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewClip.cpp
Labels: Type: Bug, Mod: TechDraw
