Repository FreeCAD/FreeCAD, pull requests merged in 2025-08, with the labels that each got.

#22773 [Spreadsheet] Add icons to the context menu
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
Labels: Mod: Spreadsheet, DWG approved

#22136 Part: Enable SwitchToTask as a preference
  src/Mod/Part/Gui/DlgSettingsGeneral.cpp
  src/Mod/Part/Gui/DlgSettingsGeneral.ui
Labels: Mod: Part, DWG approved

#21920 Sketcher: Make SoDatumLabel constraints more interactable
  src/Gui/SoDatumLabel.cpp
  src/Gui/SoDatumLabel.h
Labels: Mod: Core, DWG approved

#22899 CI: ccache fix
  .github/workflows/sub_buildPixi.yml
  .github/workflows/sub_buildUbuntu.yml
Labels: :octocat:

#22165 PD: Fix loft between curved faces
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/PartDesignTests/TestLoft.py
Labels: Mod: Part Design

#22565 Core: Generation of python bindings for Techdraw
  src/Mod/TechDraw/App/CMakeLists.txt
  src/Mod/TechDraw/App/CenterLinePy.pyi
  src/Mod/TechDraw/App/CosmeticEdgePy.pyi
  src/Mod/TechDraw/App/CosmeticExtensionPy.pyi
  src/Mod/TechDraw/App/CosmeticVertexPy.pyi
  src/Mod/TechDraw/App/DrawBrokenViewPy.pyi
  src/Mod/TechDraw/App/DrawGeomHatchPy.pyi
  src/Mod/TechDraw/App/DrawGeomHatchPy.xml
  src/Mod/TechDraw/App/DrawHatchPy.pyi
  src/Mod/TechDraw/App/DrawHatchPy.xml
  src/Mod/TechDraw/App/DrawLeaderLinePy.pyi
  src/Mod/TechDraw/App/DrawPagePy.pyi
  src/Mod/TechDraw/App/DrawPagePy.xml
  src/Mod/TechDraw/App/DrawParametricTemplatePy.pyi
  src/Mod/TechDraw/App/DrawProjGroupItemPy.pyi
  src/Mod/TechDraw/App/DrawProjGroupPy.pyi
  src/Mod/TechDraw/App/DrawRichAnnoPy.pyi
  src/Mod/TechDraw/App/DrawSVGTemplatePy.pyi
  src/Mod/TechDraw/App/DrawSVGTemplatePy.xml
  src/Mod/TechDraw/App/DrawTemplatePy.pyi
  src/Mod/TechDraw/App/DrawTilePy.pyi
  src/Mod/TechDraw/App/DrawTileWeldPy.pyi
  src/Mod/TechDraw/App/DrawViewAnnotationPy.pyi
  src/Mod/TechDraw/App/DrawViewClipPy.pyi
  src/Mod/TechDraw/App/DrawViewCollectionPy.pyi
  src/Mod/TechDraw/App/DrawViewDimExtentPy.pyi
  src/Mod/TechDraw/App/DrawViewDimensionPy.pyi
  src/Mod/TechDraw/App/DrawViewPartPy.pyi
  src/Mod/TechDraw/App/DrawViewPartPy.xml
  src/Mod/TechDraw/App/DrawViewPy.pyi
  src/Mod/TechDraw/App/DrawViewPy.xml
  src/Mod/TechDraw/App/DrawViewSymbolPy.pyi
  src/Mod/TechDraw/App/DrawWeldSymbolPy.pyi
  src/Mod/TechDraw/App/GeomFormatPy.pyi
  src/Tools/bindings/model/generateModel_Python.py
  src/Tools/bindings/model/typedModel.py
Labels: Mod: TechDraw, Approved

#22116 Part: Remove redundant Part Import and Export tools from the menu
  src/Mod/Part/Gui/Workbench.cpp
Labels: Mod: Part, DWG approved

#22581 Core: Generation of FEM interface bindings
  src/Mod/Fem/App/CMakeLists.txt
  src/Mod/Fem/App/FemMeshPy.pyi
  src/Mod/Fem/App/FemPostBranchFilterPy.pyi
  src/Mod/Fem/App/FemPostFilterPy.pyi
  src/Mod/Fem/App/FemPostObjectPy.pyi
  src/Mod/Fem/App/FemPostPipelinePy.pyi
  src/Mod/Fem/Gui/CMakeLists.txt
  src/Mod/Fem/Gui/ViewProviderFemConstraintPy.pyi
  src/Mod/Fem/Gui/ViewProviderFemMeshPy.pyi
  src/Mod/Fem/Gui/ViewProviderFemPostFilterPy.pyi
  src/Mod/Fem/Gui/ViewProviderFemPostPipelinePy.pyi
Labels: Mod: FEM

#22740 PartDesign: Try to auto-fix any invalid generated helix
  src/Mod/PartDesign/App/FeatureHelix.cpp
Labels: Mod: Part Design

#22569 CAM: revert grbl_post regression
  src/Mod/CAM/Path/Post/scripts/grbl_post.py
Labels: Mod: CAM

#22787 BIM: ArchPanel: FontFile parameter name has changed
  src/Mod/BIM/ArchPanel.py
Labels: Mod: BIM

#22798 Draft: fix display of cross-shaped cursor
  src/Mod/Draft/draftguitools/gui_snapper.py
Labels: Mod: Draft

#22744 Base: Clean up ParameterManager::LoadDocument
  src/Base/Parameter.cpp
  src/Base/PreCompiled.h
Labels: Mod: Core

#22804 Draft: fix size of file button in Hatch task panel
  src/Mod/Draft/Resources/ui/dialogHatch.ui
Labels: Mod: Draft

#22836 Fix various typos
  src/Mod/BIM/bimcommands/BimWindow.py
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
Labels: Mod: BIM, Mod: Sketcher

#22506 [Core] Add Boolean Functions to expressions (AND, OR, NOT)
  src/App/Expression.cpp
  src/App/Expression.lex.c
  src/App/Expression.tab.c
  src/App/Expression.y
  src/App/ExpressionParser.h
  src/Mod/Spreadsheet/TestSpreadsheet.py
  tests/src/App/Expression.cpp
Labels: Mod: Core

#22933 Sketcher: Fix drawing of angle constraints
  src/Gui/SoDatumLabel.cpp
Labels: Mod: Core

#18599 Gui: Add about image for dev version
  src/App/Application.cpp
  src/App/Application.h
  src/Gui/Dialogs/DlgAbout.cpp
  src/Gui/Icons/freecadaboutdev.png
  src/Gui/Icons/resource.qrc
  src/Main/MainGui.cpp
Labels: Mod: Core, DWG approved

#22942 Gui: Fix about image path
  src/Gui/Dialogs/DlgAbout.cpp
Labels: Mod: Core

#22426 Core: Fix 'Expression' and 'Vector' editor outhanging the screen
  src/Gui/QuantitySpinBox.cpp
  src/Gui/SpinBox.cpp
  src/Gui/Widgets.cpp
  src/Gui/Widgets.h
  src/Gui/propertyeditor/PropertyItem.cpp
Labels: Mod: Core

#22930 Update sub_weeklyBuild.yml
  .github/workflows/sub_weeklyBuild.yml
Labels: :octocat:

#22897 Sketcher: Add missing finishEditing() for points
  src/Mod/Sketcher/Gui/EditModeGeometryCoinManager.cpp
Labels: Mod: Sketcher

#22980 [Gui] Add carriage return to ParameterManager warnings
  src/Gui/StyleParameters/ParameterManager.cpp
Labels: Mod: Core

#21576 App: Fix ExtensionPython macro
  src/App/Extension.cpp
  src/App/Extension.pyi
  src/App/ExtensionPyImp.cpp
  src/App/ExtensionPython.h
  src/Mod/Test/Document.py
Labels: Mod: Core, Mod: Test

#22856 Py3.13: Update PyCXX to version 7.1.11
  src/3rdParty/PyCXX/CXX/Python3/Objects.hxx
  src/3rdParty/PyCXX/CXX/Python3/cxxsupport.cxx
  src/3rdParty/PyCXX/CXX/Version.hxx
Labels: 3rd party component

#22780 Sketcher: Fix crash on set constraints to virtual space
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
Labels: Mod: Sketcher

#23000 Fem: Fix VTK submodule import
  src/Mod/Fem/femguiutils/data_extraction.py
Labels: Mod: FEM

#21976 Gui: Add support for renaming properties
  src/Gui/PropertyView.cpp
  src/Gui/PropertyView.h
  src/Gui/propertyeditor/PropertyEditor.cpp
  src/Gui/propertyeditor/PropertyEditor.h
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Gui/propertyeditor/PropertyItem.h
  src/Gui/propertyeditor/PropertyModel.cpp
  src/Gui/propertyeditor/PropertyModel.h
Labels: Mod: Core

#23017 Draft: toolbar names to title case
  src/Mod/Draft/InitGui.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftutils/init_draft_statusbar.py
Labels: Mod: Draft

#22691 Measure: resolve compound shapes in some cases
  src/Mod/Measure/App/Measurement.cpp
  src/Mod/Measure/App/Measurement.h
Labels: Mod: Measurement

#22873 Core: Fit all : Do not process SoSkipBoundingGroup
  src/Gui/View3DInventorViewer.cpp
Labels: Mod: Core

#22728 CAM: Fix seach tool controller in Operations group
  src/Mod/CAM/Path/Op/Base.py
Labels: Mod: CAM

#22688 [TD]fix editable fields click handles
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
  src/Mod/TechDraw/Gui/TemplateTextField.cpp
  src/Mod/TechDraw/Gui/TemplateTextField.h
Labels: Mod: TechDraw

#22985 Core: Fix renaming a property with an expression
  src/App/DocumentObject.cpp
  tests/src/App/Property.cpp
Labels: Mod: Core

#22874 Sketcher: Move root point to a SoSkipBoundingGroup
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.h
  src/Mod/Sketcher/Gui/EditModeGeometryCoinConverter.cpp
  src/Mod/Sketcher/Gui/EditModeGeometryCoinManager.cpp
Labels: Mod: Sketcher

#22857 Core: Add setting to hide the TaskWatcher
  src/Gui/PreferencePages/DlgSettingsUI.cpp
  src/Gui/PreferencePages/DlgSettingsUI.ui
  src/Gui/TaskView/TaskView.cpp
  src/Gui/TaskView/TaskView.h
Labels: Mod: Core, DWG approved

#22788 Core: Fix expression function simplify
  src/App/Expression.cpp
  tests/src/App/Expression.cpp
Labels: Mod: Core

#23057 Fix various typos
  src/Mod/CAM/Roadmap/Functionality/Job Management.md
  src/Mod/CAM/Roadmap/Functionality/Output Generation.md
  src/Mod/CAM/Roadmap/Functionality/Simulation and Verification.md
  src/Mod/Draft/draftguitools/gui_groups.py
  src/Mod/Measure/App/Measurement.h
  src/Mod/PartDesign/Gui/CommandBody.cpp
  src/Mod/TechDraw/App/DrawComplexSection.cpp
Labels: Mod: Draft, Mod: CAM, Mod: TechDraw, Mod: Part Design, Mod: Measurement

#23019 Gui: Add theming abilities to Transparent Previews
  src/Base/Color.cpp
  src/Base/Color.h
  src/Gui/Dialogs/DlgThemeEditor.cpp
  src/Gui/StyleParameters/ParameterManager.cpp
  src/Gui/StyleParameters/ParameterManager.h
  src/Gui/StyleParameters/Parser.cpp
  src/Gui/StyleParameters/Parser.h
  src/Mod/PartDesign/Gui/CMakeLists.txt
  src/Mod/PartDesign/Gui/StyleParameters.h
  src/Mod/PartDesign/Gui/ViewProvider.cpp
  src/Mod/PartDesign/Gui/ViewProviderDressUp.cpp
  tests/src/Gui/StyleParameters/ParameterManagerTest.cpp
  tests/src/Gui/StyleParameters/ParserTest.cpp
Labels: Mod: Core, Mod: Part Design, Topic: Stylesheets

#11941 [Feature Request] [Draft] [UI/UX] Allow to turn dimension arrows on/off individually
  src/Mod/BIM/bimcommands/BimLeader.py
  src/Mod/Draft/Resources/ui/TaskPanel_SetStyle.ui
  src/Mod/Draft/Resources/ui/dialog_AnnotationStyleEditor.ui
  src/Mod/Draft/Resources/ui/preferences-drafttexts.ui
  src/Mod/Draft/draftfunctions/svg.py
  src/Mod/Draft/draftguitools/gui_annotationstyleeditor.py
  src/Mod/Draft/draftguitools/gui_setstyle.py
  src/Mod/Draft/draftmake/make_dimension.py
  src/Mod/Draft/draftobjects/dimension.py
  src/Mod/Draft/draftobjects/draft_annotation.py
  src/Mod/Draft/draftobjects/label.py
  src/Mod/Draft/draftobjects/text.py
  src/Mod/Draft/draftobjects/wire.py
  src/Mod/Draft/drafttests/draft_test_objects.py
  src/Mod/Draft/draftutils/gui_utils.py
  src/Mod/Draft/draftutils/utils.py
  src/Mod/Draft/draftviewproviders/view_dimension.py
  src/Mod/Draft/draftviewproviders/view_draft_annotation.py
  src/Mod/Draft/draftviewproviders/view_label.py
  src/Mod/Draft/draftviewproviders/view_wire.py
Labels: Mod: Draft, no-auto-close, Needs backporting macro

#23115 Sketcher: Remove Edit Value Option from Right Click Menu for non dimensional Constraints
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Sketcher, Approved, DWG approved

#23109 PartDesign: Hole: fallback to getProfileNormal on flat surface
  src/Mod/PartDesign/App/FeatureHole.cpp
Labels: Mod: Part Design

#23090 Part: Prevent crash on cross-section of invalid object
  src/Mod/Part/Gui/CrossSections.cpp
  src/Mod/Part/Gui/CrossSections.h
Labels: Mod: Part

#23159 OpenSCAD: tweak tooltips
  src/Mod/OpenSCAD/OpenSCADCommands.py
Labels: Mod: OpenSCAD

#23152 OpenSCAD: fix executable path lookup
  src/Mod/OpenSCAD/OpenSCADUtils.py
Labels: Mod: OpenSCAD

#23132 Sketcher: fix cropping of some icons on hidpi screens
  src/Gui/ToolHandler.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: Mod: Sketcher

#23003 PartDesign: Change default preference to enable compounds for PD bodies
  src/Mod/Part/Gui/DlgSettingsGeneral.ui
  src/Mod/PartDesign/App/Body.cpp
Labels: Mod: Part Design, Mod: Part

#23188 PartDesign: Change 1 missed dialog title to Title Case
  src/Mod/PartDesign/Gui/CommandBody.cpp
Labels: Mod: Part Design, Approved

#23177 TechDraw: Fix tooltip in Gui/CommandAnnotate.cpp
  src/Mod/TechDraw/Gui/CommandAnnotate.cpp
Labels: Mod: TechDraw, Approved

#23229 Fem: Fix module import in solver CalculiX object
  src/Mod/Fem/femobjects/solver_calculix.py
Labels: Mod: FEM

#23195 Gui: Don't use this pointer after valueChanged in EditableDatumLabel
  src/Gui/EditableDatumLabel.cpp
Labels: Mod: Core

#23237 Sketcher: Revert DPI adjustment error #22941
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
Labels: Mod: Sketcher

#23240 Sheet: Verify that UnitExpression is valid
  src/Mod/Spreadsheet/Gui/PropertiesDialog.cpp
Labels: Mod: Spreadsheet

#23246 Draft: Make Draft_Label tooltip consistent
  src/Mod/Draft/draftguitools/gui_labels.py
Labels: Mod: Draft

#23241 Part: Fix WireJoiner error handling
  src/Mod/Part/App/WireJoiner.cpp
Labels: Mod: Part

#23001 CAM: Roadmap epic for circular hole improvements
  src/Mod/CAM/Roadmap/Epics/Circular Holes Improvement.md
  src/Mod/CAM/Roadmap/README.md
Labels: Mod: CAM, Type: Feature

#23253 [CAM] Add roadmap epic for fixing user pain points
  src/Mod/CAM/Roadmap/README.md
Labels: Mod: CAM, Type: Feature

#23286 PartDesign: Update error message about multiple solids
  src/Mod/PartDesign/App/FeatureBoolean.cpp
  src/Mod/PartDesign/App/FeatureChamfer.cpp
  src/Mod/PartDesign/App/FeatureDraft.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureFillet.cpp
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
Labels: Mod: Part Design, Type: Feature, Approved

#23332 Draft: fix regression in params.py
  src/Mod/Draft/draftutils/params.py
Labels: Type: Bug, Mod: Draft, Type: Regression

#23338 BIM: change shortcut for Arch_Space
  src/Mod/BIM/bimcommands/BimSpace.py
Labels: Mod: BIM, Approved

#23106 PartDesign: Prevent Hole from claiming other features as children
  src/Mod/PartDesign/Gui/ViewProviderHole.cpp
Labels: Type: Bug, Mod: Part Design

#23141 FEM: Fix xdmf export of second-order meshes
  src/Mod/Fem/feminout/writeFenicsXDMF.py
Labels: Type: Bug, Mod: FEM

#23102 Part: Relax boolean requirements
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.cpp
Labels: Type: Bug, Mod: Part

#23034 Gui: Change default WB list and default preferences
  src/Gui/PreferencePages/DlgSettingsWorkbenchesImp.cpp
Labels: Mod: Core, Type: Feature

#23127 FEM: Extract postprocessing data only if available. Fixes #22193
  src/Mod/Fem/App/FemPostFilter.cpp
  src/Mod/Fem/App/FemPostFilter.h
Labels: Type: Bug, Mod: FEM, Approved

#23207 Gui: Hold the GIL when clearing the form attribute
  src/Gui/TaskView/TaskDialogPython.cpp
Labels: Type: Bug, Mod: Core

#23215 [TD]fix crash in vertex show/hide
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.h
Labels: Type: Bug, Mod: TechDraw

#23098 Gui: Fix Document Recovery screen
  src/Gui/DocumentRecovery.ui
  src/Gui/Stylesheets/FreeCAD.qss
Labels: Mod: Core, Type: Feature, Topic: Stylesheets, Approved, DWG approved

#23104 Split Material Exceptions.h into source and header
  src/Mod/Material/App/CMakeLists.txt
  src/Mod/Material/App/Exceptions.cpp
  src/Mod/Material/App/Exceptions.h
  src/Mod/Material/Gui/MaterialTreeWidget.cpp
Labels: Type: Bug, Mod: Materials

#23054 Core: Fixing missing python bindings.
  src/Mod/Assembly/Gui/CMakeLists.txt
  src/Mod/Assembly/Gui/ViewProviderAssemblyPy.pyi
  src/Mod/CAM/PathSimulator/App/CMakeLists.txt
  src/Mod/CAM/PathSimulator/App/PathSimPy.pyi
  src/Mod/CAM/PathSimulator/AppGL/CAMSimPy.pyi
  src/Mod/CAM/PathSimulator/AppGL/CMakeLists.txt
  src/Mod/Fem/App/CMakeLists.txt
  src/Mod/Fem/App/FemMeshPy.pyi
Labels: Type: Bug, Mod: FEM, Mod: CAM, Mod: Assembly

#23287 Sketcher: Fix construction lines becoming solid after box selection
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Type: Bug, Mod: Sketcher, Approved

#23232 Assembly: Allow editing joint references
  src/Mod/Assembly/JointObject.py
Labels: Type: Bug, Mod: Assembly, Approved

#23199 FEM: Print rigid body reference point displacements
  src/Mod/Fem/femsolver/calculix/write_step_output.py
Labels: Mod: FEM, Type: Feature, Approved

#23217 Clean SoDatumLabel.cpp
  src/Gui/SoDatumLabel.cpp
Labels: Mod: Core, Type: Feature, Approved

#23235 BIM: Load QIcon for Material Editor from bytes
  src/Mod/Material/MaterialEditor.py
Labels: Type: Bug, Mod: Materials, Approved

#23297 Fix UI strings reported on Crowdin
  src/Gui/Dialogs/DlgObjectSelection.cpp
  src/Gui/Placement.ui
  src/Gui/PreferencePages/DlgSettingsNavigation.ui
  src/Gui/Tree.cpp
  src/Gui/ViewProviderDocumentObjectGroup.cpp
  src/Mod/BIM/ArchComponent.py
  src/Mod/BIM/ArchMaterial.py
  src/Mod/BIM/ArchSite.py
  src/Mod/BIM/ArchWall.py
  src/Mod/BIM/ArchWindow.py
  src/Mod/BIM/Resources/ui/dialogLayersIFC.ui
  src/Mod/BIM/bimcommands/BimMaterial.py
  src/Mod/BIM/bimcommands/BimViews.py
  src/Mod/BIM/nativeifc/ifc_viewproviders.py
  src/Mod/CAM/Gui/Resources/panels/PageOpAdaptiveEdit.ui
  src/Mod/Draft/Resources/ui/TaskSelectPlane.ui
  src/Mod/Fem/Gui/Command.cpp
  src/Mod/Part/App/Attacher.cpp
  src/Mod/Part/AttachmentEditor/TaskAttachmentEditor.ui
  src/Mod/Part/Gui/AttacherTexts.cpp
  src/Mod/Part/Gui/TaskAttacher.ui
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/Gui/CommandBody.cpp
  src/Mod/PartDesign/Gui/DlgActiveBody.ui
  src/Mod/PartDesign/Gui/TaskChamferParameters.cpp
  src/Mod/PartDesign/Gui/TaskDraftParameters.cpp
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
  src/Mod/PartDesign/Gui/TaskHelixParameters.ui
  src/Mod/PartDesign/Gui/TaskPrimitiveParameters.ui
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.ui
  src/Mod/PartDesign/Gui/TaskShapeBinder.cpp
  src/Mod/PartDesign/Gui/TaskTransformedParameters.cpp
  src/Mod/PartDesign/Gui/Utils.cpp
Labels: Type: Bug, Mod: Core, Mod: BIM, Mod: Part Design

#22991 Gui: Update header in about dialog before the 1.1 release
  src/Doc/CONTRIBUTORS
  src/Doc/LICENSE.html
  src/Gui/Dialogs/DlgAbout.cpp
  src/Main/FreeCADGuiPy.cpp
  src/Main/MainGui.cpp
Labels: Mod: Core, Type: Feature

#23014 [ArchWindow] Clone and Link to Support Sill Change
  src/Mod/BIM/ArchWindow.py
Labels: Type: Bug, Mod: BIM

#23213 Mesh: Fix crash MeshPy::setPoint & MeshPy::movePoint
  src/Mod/Mesh/App/MeshPyImp.cpp
Labels: Type: Bug, Mod: Mesh

#23266 Assembly: Move label change logic to onChange
  src/Mod/Assembly/JointObject.py
Labels: Type: Feature, Mod: Assembly

#23333 Draft: fix 2 issues with Draft_SelectPlane
  src/Mod/Draft/draftguitools/gui_selectplane.py
Labels: Type: Bug, Mod: Draft

#23361 MeshPart: "Trim by plane" -> "Trim With Plane"
  src/Mod/MeshPart/Gui/Command.cpp
Labels: Type: Feature, Mod: MeshPart, Approved

#22862 Sketcher: Circle DSH: move diameter constraint. Fix #22267
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
Labels: Type: Feature, Mod: Sketcher

#23263 Toponaming: Remove updateElementReferences call in PropertyLinkSub
  src/App/Application.cpp
  src/App/PropertyLinks.cpp
  src/App/PropertyLinks.h
Labels: Type: Bug, Mod: Core

#23370 Fix autouic warnings about duplicate names in ui files
  src/Gui/PreferencePages/DlgSettingsUI.ui
  src/Mod/Part/Gui/DlgSettingsGeneral.ui
Labels: Type: Bug, Mod: Core, Mod: Part

#23067 CAM: QTableView height too small in tasks panel
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
  src/Gui/Stylesheets/FreeCAD.qss
Labels: Type: Bug, Mod: Core, Topic: Stylesheets

#23374 Exporting mesh to Z88 format no longer breaks all export and configs
  src/Gui/FileDialog.cpp
  src/Mod/Fem/Init.py
Labels: Type: Bug, Mod: Core, Mod: FEM

#23392 PartDesign: Update missed error message about multiple solids
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
Labels: Mod: Part Design

#22859 [ArchStructure] Fix Regression : FaceMaker
  src/Mod/BIM/ArchStructure.py
Labels: Type: Bug, Mod: BIM

#23388 Fem: Acquire the GIL before running Python code
  src/Mod/Fem/App/FemMesh.cpp
Labels: Type: Bug, Mod: FEM

#22923 Stylesheet fixes
  src/Gui/PreferencePacks/FreeCAD Dark/FreeCAD Dark.cfg
  src/Gui/PreferencePacks/FreeCAD Light/FreeCAD Light.cfg
  src/Gui/Stylesheets/CMakeLists.txt
  src/Gui/Stylesheets/FreeCAD.qss
  src/Gui/Stylesheets/overlay/Freecad Overlay.qss
  src/Gui/Stylesheets/parameters/FreeCAD Dark.yaml
  src/Gui/Stylesheets/parameters/FreeCAD Light.yaml
  src/Mod/Start/Gui/Resources/thumbnails/Theme_thumbnail_dark.png
  src/Mod/Start/Gui/Resources/thumbnails/Theme_thumbnail_light.png
  src/Mod/Start/Gui/Resources/thumbnails/Thumbnails_themes.svg
Labels: Type: Bug, Mod: Core, Topic: Stylesheets, DWG approved

#23365 Gui: Do not compute preview while restoring
  src/Mod/Part/Gui/ViewProviderPreviewExtension.cpp
  src/Mod/PartDesign/Gui/ViewProviderTransformed.cpp
Labels: Type: Bug, Mod: Part Design, Mod: Part

#23422 Mesh: Change 1 missed dialog title to Title Case
  src/Mod/Mesh/Gui/Command.cpp
Labels: Mod: Mesh, Approved

#23352 Draft: Add edge-face intersection snap
  src/Mod/Draft/draftgeoutils/intersections.py
  src/Mod/Draft/draftguitools/gui_snapper.py
  src/Mod/Draft/draftutils/params.py
Labels: Mod: Draft, Type: Feature

#23431 Update UI strings from Crowdin reports for consistency
  src/Base/CoordinateSystem.cpp
  src/Mod/CAM/Path/Dressup/Array.py
  src/Mod/CAM/Path/Main/Stock.py
  src/Mod/CAM/Path/Op/Gui/Array.py
  src/Mod/CAM/Path/Op/Probe.py
  src/Mod/Draft/Resources/ui/TaskPanel_OrthoArray.ui
  src/Mod/Draft/Resources/ui/TaskSelectPlane.ui
  src/Mod/Draft/Resources/ui/preferences-draftsnap.ui
  src/Mod/Draft/draftobjects/array.py
  src/Mod/Draft/draftobjects/patharray.py
  src/Mod/Fem/App/FemConstraintDisplacement.cpp
  src/Mod/Fem/App/FemConstraintRigidBody.cpp
  src/Mod/Fem/femobjects/constraint_flowvelocity.py
  src/Mod/Fem/femobjects/constraint_initialflowvelocity.py
  src/Mod/Fem/femobjects/result_mechanical.py
  src/Mod/Measure/App/MeasureDistance.cpp
  src/Mod/Part/App/AttachExtension.cpp
  src/Mod/Part/App/FeatureScale.cpp
  src/Mod/Part/AttachmentEditor/TaskAttachmentEditor.ui
  src/Mod/Part/Gui/DlgRevolution.ui
  src/Mod/PartDesign/App/FeaturePrimitive.cpp
  src/Mod/PartDesign/Gui/TaskPrimitiveParameters.ui
Labels: Mod: Core, Mod: FEM, Mod: Draft, Mod: CAM, Mod: Part Design, Mod: Part, Type: Feature, Mod: Measurement

#23418 PartDesign: Fix symmetric regression & LengthAlongSketchNormal
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureExtrude.h
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
Labels: Type: Bug, Mod: Part Design

#23438 Fix various typos
  src/Gui/CommandView.cpp
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
  src/Gui/Stylesheets/FreeCAD.qss
  src/Mod/BIM/ArchWindow.py
Labels: Type: Bug, Mod: Core, Mod: BIM, Topic: Stylesheets, Approved

#23435 PD: Fix creation of pad from base feature
  src/Mod/PartDesign/App/Feature.cpp
  src/Mod/PartDesign/App/FeatureBase.cpp
Labels: Type: Bug, Mod: Part Design

#23289 Sketcher: Introduce Select All (Ctrl + A)
  src/Gui/CommandDoc.cpp
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Core, Type: Feature, Mod: Sketcher, Approved

#23448 Link: MaterialOverride: fix transparency inversion
  src/Gui/Selection/SoFCUnifiedSelection.h
Labels: Type: Bug, Mod: Core, Topic: Link

#22880 Add interactive controls for the Part Design workbench (GSoC)
  src/Base/Tools.h
  src/Base/Vector3D.cpp
  src/Base/Vector3D.h
  src/Gui/CMakeLists.txt
  src/Gui/Inventor/Draggers/Gizmo.cpp
  src/Gui/Inventor/Draggers/Gizmo.h
  src/Gui/Inventor/Draggers/GizmoHelper.h
  src/Gui/Inventor/Draggers/SoLinearDragger.cpp
  src/Gui/Inventor/Draggers/SoLinearDragger.h
  src/Gui/Inventor/Draggers/SoLinearDraggerGeometry.cpp
  src/Gui/Inventor/Draggers/SoLinearDraggerGeometry.h
  src/Gui/Inventor/Draggers/SoRotationDragger.cpp
  src/Gui/Inventor/Draggers/SoRotationDragger.h
  src/Gui/Inventor/Draggers/SoRotationDraggerGeometry.cpp
  src/Gui/Inventor/Draggers/SoRotationDraggerGeometry.h
  src/Gui/Inventor/Draggers/SoTransformDragger.cpp
  src/Gui/Inventor/Draggers/SoTransformDragger.h
  src/Gui/Inventor/So3DAnnotation.h
  src/Gui/Inventor/SoToggleSwitch.h
  src/Gui/SoFCDB.cpp
  src/Gui/TaskTransform.cpp
  src/Gui/TaskTransform.h
  src/Mod/Part/Gui/DlgSettingsGeneral.cpp
  src/Mod/Part/Gui/DlgSettingsGeneral.ui
  src/Mod/Part/Gui/TaskThickness.cpp
  src/Mod/Part/Gui/TaskThickness.h
  src/Mod/Part/Gui/ViewProvider.cpp
  src/Mod/Part/Gui/ViewProvider.h
  src/Mod/PartDesign/App/FeatureHole.h
  src/Mod/PartDesign/App/FeatureRevolution.cpp
  src/Mod/PartDesign/Gui/TaskChamferParameters.cpp
  src/Mod/PartDesign/Gui/TaskChamferParameters.h
  src/Mod/PartDesign/Gui/TaskDraftParameters.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.cpp
  src/Mod/PartDesign/Gui/TaskExtrudeParameters.h
  src/Mod/PartDesign/Gui/TaskFeatureParameters.h
  src/Mod/PartDesign/Gui/TaskFilletParameters.cpp
  src/Mod/PartDesign/Gui/TaskFilletParameters.h
  src/Mod/PartDesign/Gui/TaskHelixParameters.cpp
  src/Mod/PartDesign/Gui/TaskHelixParameters.h
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.h
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.cpp
  src/Mod/PartDesign/Gui/TaskRevolutionParameters.h
  src/Mod/PartDesign/Gui/TaskThicknessParameters.cpp
  src/Mod/PartDesign/Gui/TaskThicknessParameters.h
  src/Mod/PartDesign/Gui/ViewProvider.cpp
Labels: Mod: Core, Mod: Part Design, Mod: Part, Type: Feature

#23472 Mesh: Add boost/agorithm/string.hpp to PCH
  src/Mod/Mesh/App/PreCompiled.h
Labels: Type: Bug, Mod: Mesh

#23453 Fem: Add support for 2D loads with CalculiX
  src/Mod/Fem/Gui/TaskFemConstraintContact.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPressure.cpp
  src/Mod/Fem/femmesh/meshsetsgetter.py
  src/Mod/Fem/femmesh/meshtools.py
  src/Mod/Fem/femsolver/calculix/write_constraint_bodyheatsource.py
  src/Mod/Fem/femsolver/calculix/write_constraint_contact.py
  src/Mod/Fem/femsolver/calculix/write_constraint_electricchargedensity.py
  src/Mod/Fem/femsolver/calculix/write_constraint_electrostatic.py
  src/Mod/Fem/femsolver/calculix/write_constraint_heatflux.py
  src/Mod/Fem/femsolver/calculix/write_constraint_pressure.py
  src/Mod/Fem/femsolver/calculix/write_constraint_tie.py
  src/Mod/Fem/femtaskpanels/task_constraint_tie.py
  src/Mod/Fem/femtest/data/calculix/box_static.inp
  src/Mod/Fem/femtest/data/calculix/constraint_sectionprint.inp
  src/Mod/Fem/femtest/data/calculix/constraint_transform_beam_hinged.inp
  src/Mod/Fem/femtest/data/calculix/material_multiple_tensionrod_twoboxes.inp
  src/Mod/Fem/femtest/data/calculix/material_nonlinear.inp
Labels: Mod: FEM, Type: Feature

#23327 FEM: Add tied contact with CalculiX
  src/Mod/Fem/App/FemConstraintContact.cpp
  src/Mod/Fem/App/FemConstraintContact.h
  src/Mod/Fem/femsolver/calculix/write_constraint_contact.py
Labels: Mod: FEM, Type: Feature

#23464 Draft: Call autogroup in make_hatch to put hatch in active group if any
  src/Mod/Draft/draftmake/make_hatch.py
Labels: Type: Bug, Mod: Draft

#18147 Remove unused DAG Filters
  src/Gui/CMakeLists.txt
  src/Gui/DAGView/DAGFilter.cpp
  src/Gui/DAGView/DAGFilter.h
  src/Gui/DAGView/DAGModel.cpp
  src/Gui/DAGView/DAGModel.h
  src/Gui/DAGView/DAGModelGraph.h
Labels: Mod: Core, Type: Feature

#23100 Points: Speed up translation of imported points
  src/Gui/Command.cpp
  src/Gui/Command.h
  src/Mod/Points/App/Points.cpp
  src/Mod/Points/App/Points.h
  src/Mod/Points/App/PointsGrid.h
  src/Mod/Points/Gui/Command.cpp
Labels: Type: Feature, Mod: Points

#23492 PartDesign: remove trailing whitespace
  src/Mod/PartDesign/App/FeatureExtrude.cpp
Labels: Mod: Part Design

#23499 Draft: update intersection snap tooltip
  src/Mod/Draft/draftguitools/gui_snaps.py
Labels: Mod: Draft, Approved

#23261 Sketcher: Use different colors for touch/window selection
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/StyleParameters.h
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Type: Feature, Mod: Sketcher

#22490 Base: Allow all valid Python 3 identifier characters
  CMakeLists.txt
  cMake/FreeCAD_Helpers/PrintFinalReport.cmake
  src/Base/CMakeLists.txt
  src/Base/PreCompiled.h
  src/Base/Tools.cpp
  src/Base/Tools.h
  tests/src/Base/CMakeLists.txt
  tests/src/Base/Tools.cpp
Labels: Mod: Core, Type: Feature, Needs backporting macro

#18860 Gui: Mark mouse move action handled to skip digging nodes
  src/Gui/Selection/SoFCUnifiedSelection.cpp
Labels: Mod: Core, Type: Feature

#23062 PartDesign: Implement preview for Booleans
  src/Mod/Part/Gui/ViewProviderPreviewExtension.cpp
  src/Mod/Part/Gui/ViewProviderPreviewExtension.h
  src/Mod/PartDesign/App/FeatureBoolean.cpp
  src/Mod/PartDesign/App/FeatureBoolean.h
  src/Mod/PartDesign/Gui/StyleParameters.h
  src/Mod/PartDesign/Gui/TaskBooleanParameters.cpp
  src/Mod/PartDesign/Gui/TaskBooleanParameters.h
  src/Mod/PartDesign/Gui/ViewProvider.cpp
  src/Mod/PartDesign/Gui/ViewProviderBoolean.cpp
  src/Mod/PartDesign/Gui/ViewProviderBoolean.h
  src/Mod/PartDesign/Gui/ViewProviderDressUp.cpp
Labels: Mod: Core, Mod: Part Design, Mod: Part, Type: Feature, Approved

#23310 Draft: more logical placement for 3 point arcs
  src/Mod/Draft/draftguitools/gui_arcs.py
  src/Mod/Draft/draftmake/make_arc_3points.py
  src/Mod/Draft/draftmake/make_circle.py
Labels: Mod: Draft, Type: Feature
