Repository FreeCAD/FreeCAD, pull requests merged in 2025-06, with the labels that each got.

#21698 Draft: DraftGui.py correct handling of last point
  src/Mod/Draft/DraftGui.py
Labels: Mod: Draft

#21696 BIM: fix typo in Arch.py
  src/Mod/BIM/Arch.py
Labels: Mod: BIM

#21684 CAM(libarea): Fix encoding of clipper.cpp
  src/Mod/CAM/libarea/clipper.cpp
Labels: Mod: CAM

#21632 Sketcher: Implement hints for for all drawing tools and modes (consolidates previous PRs into a single PR)
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfHyperbola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcOfParabola.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLineSet.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPoint.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSlot.h
Labels: Mod: Sketcher

#21692 Sketcher: Fix use of viewScalingFactor
  src/Mod/Sketcher/Gui/EditModeCoinManager.cpp
Labels: Mod: Sketcher

#21645 Sketcher: Fix Arrow Direction of Angle Arrows
  src/Gui/SoDatumLabel.cpp
Labels: Mod: Core

#21688 Gui: Property editor combobox fix not popping up if the user canceled
  src/Gui/propertyeditor/PropertyItemDelegate.cpp
Labels: Mod: Core

#21706 Start: Fix crash
  src/App/ProjectFile.cpp
  src/Mod/Start/Gui/StartView.cpp
Labels: Mod: Core, Mod: Start

#21651 CAM: Simulator - Drilling - RetractMode G98/G99
  src/Mod/CAM/PathSimulator/AppGL/GCodeParser.cpp
  src/Mod/CAM/PathSimulator/AppGL/GCodeParser.h
  src/Mod/CAM/PathSimulator/AppGL/MillMotion.h
Labels: Mod: CAM

#21529 CAM: prevent dogbones between two travel moves
  src/Mod/CAM/Path/Dressup/DogboneII.py
Labels: Mod: CAM

#21636 Draft/BIM: change BezCurve, BSpline and Wire to Part::FeaturePython
  src/Mod/BIM/Arch.py
  src/Mod/BIM/ArchCommands.py
  src/Mod/BIM/ArchSectionPlane.py
  src/Mod/BIM/bimcommands/BimPreflight.py
  src/Mod/BIM/importers/exportIFC.py
  src/Mod/BIM/nativeifc/ifc_export.py
  src/Mod/Draft/draftfunctions/fuse.py
  src/Mod/Draft/draftfunctions/upgrade.py
  src/Mod/Draft/draftguitools/gui_subelements.py
  src/Mod/Draft/draftmake/make_bezcurve.py
  src/Mod/Draft/draftmake/make_block.py
  src/Mod/Draft/draftmake/make_bspline.py
  src/Mod/Draft/draftmake/make_clone.py
  src/Mod/Draft/draftmake/make_wire.py
  src/Mod/Draft/draftobjects/base.py
  src/Mod/Draft/importAirfoilDAT.py
  src/Mod/Draft/importDXF.py
Labels: Mod: BIM, Mod: Draft

#21617 CAM: Offer correct side for Profile
  src/Mod/CAM/Path/Op/Area.py
Labels: Mod: CAM

#19833 feat(PD): ISO tyre valve threads
  src/Mod/PartDesign/App/FeatureHole.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
  src/Mod/PartDesign/PartDesignTests/TestHole.py
Labels: Mod: Part Design

#21338 CAM: Adaptive: Fix helix entry start height (fix #21058)
  src/Mod/CAM/Path/Op/Adaptive.py
Labels: Mod: CAM

#21694 CAM: Fix Job toggleVisibility
  src/Mod/CAM/Path/Main/Gui/Job.py
Labels: Mod: CAM

#21427 Part: Introduce `OCCTProgressIndicator` and port operations to support it.
  src/App/Application.h
  src/Base/CMakeLists.txt
  src/Base/ProgressIndicator.cpp
  src/Base/ProgressIndicator.h
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.cpp
  src/Mod/Part/App/FCBRepAlgoAPI_BooleanOperation.h
  src/Mod/Part/App/OCCTProgressIndicator.h
  src/Mod/Part/App/TopoShape.cpp
  src/Mod/Part/App/TopoShapeExpansion.cpp
  src/Mod/PartDesign/App/FeatureTransformed.cpp
Labels: Mod: Core, Mod: Part Design, Mod: Part

#21673 Update codeql.yml
  .github/workflows/codeql.yml
Labels: :octocat:

#21679 Gui: Fix TreeWidget::addDependentToSelection
  src/Gui/Tree.cpp
Labels: Mod: Core

#21724 Fix compiling ProgressIndicator with precompiled headers
  src/Base/ProgressIndicator.cpp
Labels: Mod: Core

#21710 fix #10514
  src/Gui/PreferencePages/DlgSettingsEditor.cpp
Labels: Mod: Core

#21583 BIM: ignore FreeCAD groups for IFC export, controlled by a user preference
  .gitignore
  src/Mod/BIM/ArchCommands.py
  src/Mod/BIM/Resources/ui/preferences-ifc-export.ui
  src/Mod/BIM/importers/exportIFC.py
Labels: Mod: BIM

#21569 CAM: Vcarve - fix zStart
  src/Mod/CAM/CAMTests/TestPathVcarve.py
  src/Mod/CAM/Path/Op/Vcarve.py
Labels: Mod: CAM

#21481 App::Document addObject and removeObject code reuse
  src/App/Document.cpp
  src/App/Document.h
Labels: Mod: Core

#21555 Gui: Property editor use a checkbox instead of a combobox for booleans
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Gui/propertyeditor/PropertyItemDelegate.cpp
Labels: Mod: Core, DWG approved

#21664 PD: hole change the task panel threaded and model thread checkboxes into a combo/dropdown
  src/Mod/PartDesign/Gui/TaskHoleParameters.cpp
  src/Mod/PartDesign/Gui/TaskHoleParameters.h
  src/Mod/PartDesign/Gui/TaskHoleParameters.ui
Labels: Mod: Part Design, DWG approved

#21752 Fem: Fix grammer in VTK module warning: 'then' -> 'than'
  src/Mod/Fem/femguiutils/vtk_module_handling.py
Labels: Mod: FEM

#21147 Units rework II
  src/App/Expression.cpp
  src/App/FeatureTest.cpp
  src/App/PropertyGeo.cpp
  src/App/PropertyUnits.cpp
  src/Base/Quantity.cpp
  src/Base/Quantity.h
  src/Base/QuantityPyImp.cpp
  src/Base/Unit.cpp
  src/Base/Unit.h
  src/Base/UnitPyImp.cpp
  src/Base/UnitsSchema.cpp
  src/Base/UnitsSchemasData.h
  src/Gui/Dialogs/DlgExpressionInput.cpp
  src/Gui/Dialogs/DlgUnitsCalculatorImp.cpp
  src/Gui/InputField.cpp
  src/Gui/QuantitySpinBox.cpp
  src/Gui/propertyeditor/PropertyItem.cpp
  src/Mod/Fem/App/FemPostPipeline.cpp
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
  src/Mod/Spreadsheet/App/Cell.cpp
  src/Mod/Spreadsheet/App/Sheet.cpp
  src/Mod/Spreadsheet/Gui/SheetModel.cpp
  tests/src/App/ExpressionParser.cpp
  tests/src/Base/Quantity.cpp
  tests/src/Base/SchemaTests.cpp
  tests/src/Base/Unit.cpp
Labels: Mod: Core, Mod: FEM, Mod: Spreadsheet, Mod: Sketcher, Mod: Mesh

#21647 Materials: Set array quantity format
  src/Mod/Material/App/Array2DPyImp.cpp
  src/Mod/Material/App/Array3DPyImp.cpp
Labels: Mod: Materials

#21750 Preferences: Better grouping for Selection page
  src/Gui/PreferencePages/DlgSettingsSelection.ui
Labels: Mod: Core, DWG review

#21773 BIM: improve unit handling in Arch_Roof task panel
  src/Mod/BIM/ArchRoof.py
Labels: Mod: BIM

#21686 Avoid error importing spreadsheet with deleted sheet (#19757)
  src/Mod/Spreadsheet/importXLSX.py
Labels: Mod: Spreadsheet

#21790 Sketcher: fix typo in source comment
  src/Mod/Sketcher/Gui/DrawSketchHandlerScale.h
Labels: Mod: Sketcher

#21775 CAM: fix default asset directory
  src/Mod/CAM/CAMTests/TestPathPreferences.py
  src/Mod/CAM/Path/Preferences.py
Labels: Mod: CAM

#19188 Gui: Do not preselect after selection
  src/Gui/Tree.cpp
Labels: Mod: Core, Approved

#21814 BIM: Roof add tolerance to parallel check
  src/Mod/BIM/ArchRoof.py
Labels: Mod: BIM

#21771 Gui: adjust hint icon size
  src/Gui/InputHintWidget.cpp
  src/Gui/InputHintWidget.h
Labels: Mod: Core, DWG approved

#21801 CMake: Switch default Qt to Qt6
  cMake/FreeCAD_Helpers/ChooseQtVersion.cmake
Labels: Packaging/building

#21846 Sketcher: Refactor Point tool to direct-return input hint pattern
  src/Mod/Sketcher/Gui/DrawSketchHandlerPoint.h
Labels: Mod: Sketcher

#21859 Update GitHub stale action and fix typo
  .github/workflows/auto-close_stale_issues_and_pull-requests.yml
Labels: :octocat:

#21860 Update stale action
  .github/workflows/auto-close_stale_issues_and_pull-requests.yml
Labels: :octocat:

#21847 [Start] show the actual custom folder name...
  src/Mod/Start/Gui/StartView.cpp
Labels: Mod: Start, DWG approved

#21877 CAM: Remove unwanted transparency from shape icons
  src/Mod/CAM/Tools/Shape/ballend.svg
  src/Mod/CAM/Tools/Shape/bullnose.svg
  src/Mod/CAM/Tools/Shape/chamfer.svg
  src/Mod/CAM/Tools/Shape/dovetail.svg
  src/Mod/CAM/Tools/Shape/drill.svg
  src/Mod/CAM/Tools/Shape/endmill.svg
  src/Mod/CAM/Tools/Shape/fillet.svg
  src/Mod/CAM/Tools/Shape/probe.svg
  src/Mod/CAM/Tools/Shape/reamer.svg
  src/Mod/CAM/Tools/Shape/slittingsaw.svg
  src/Mod/CAM/Tools/Shape/tap.svg
  src/Mod/CAM/Tools/Shape/threadmill.svg
  src/Mod/CAM/Tools/Shape/vbit.svg
Labels: Mod: CAM

#21715 BIM: Add top level group when importing obj file into active document
  src/Mod/BIM/importers/importOBJ.py
Labels: Mod: BIM

#21374 [TD]Cosmetic vertex tag save/restore fail (fix #21069)
  src/Mod/TechDraw/App/CosmeticVertex.cpp
  src/Mod/TechDraw/App/CosmeticVertex.h
  src/Mod/TechDraw/App/Geometry.cpp
  src/Mod/TechDraw/App/Geometry.h
  src/Mod/TechDraw/App/Tag.cpp
  src/Mod/TechDraw/App/Tag.h
Labels: Mod: TechDraw, Needs backporting macro

#21538 Partial homogenization of FEM dialogs for constraints
  src/Mod/Fem/Gui/TaskFemConstraint.cpp
  src/Mod/Fem/Gui/TaskFemConstraint.h
  src/Mod/Fem/Gui/TaskFemConstraintBearing.cpp
  src/Mod/Fem/Gui/TaskFemConstraintDisplacement.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFixed.cpp
  src/Mod/Fem/Gui/TaskFemConstraintFluidBoundary.cpp
  src/Mod/Fem/Gui/TaskFemConstraintForce.cpp
  src/Mod/Fem/Gui/TaskFemConstraintHeatflux.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPlaneRotation.cpp
  src/Mod/Fem/Gui/TaskFemConstraintPressure.cpp
  src/Mod/Fem/Gui/TaskFemConstraintRigidBody.cpp
  src/Mod/Fem/Gui/TaskFemConstraintSpring.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTemperature.cpp
  src/Mod/Fem/Gui/TaskFemConstraintTransform.cpp
  src/Mod/Fem/femguiutils/selection_widgets.py
Labels: Mod: FEM

#21584 Material: Fix unused parameters warnings.
  src/Mod/Material/App/MaterialManager.cpp
Labels: Mod: Materials

#21851 CAM: Add 3.175mm endmill to default tool library as it's extremely common size
  src/Mod/CAM/CMakeLists.txt
  src/Mod/CAM/Tools/Bit/3.175mm_Endmill.fctb
  src/Mod/CAM/Tools/Library/Default.fctl
Labels: Mod: CAM

#21709 CI: add ifcopenshell to Ubuntu native builds
  .github/workflows/sub_buildUbuntu.yml
Labels: :octocat:

#21776 Gui: Add BitmapFactory::empty method
  src/Gui/BitmapFactory.cpp
  src/Gui/BitmapFactory.h
  src/Gui/InputHintWidget.cpp
Labels: Mod: Core

#21084 Sketch autoscale
  src/Gui/Navigation/NavigationStyle.cpp
  src/Gui/Navigation/NavigationStyle.h
  src/Gui/View3DInventorViewer.cpp
  src/Gui/View3DInventorViewer.h
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/App/SketchObject.h
  src/Mod/Sketcher/Gui/CMakeLists.txt
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.h
  src/Mod/Sketcher/Gui/DrawSketchHandler.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerScale.h
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
  src/Mod/Sketcher/Gui/EditDatumDialog.h
  src/Mod/Sketcher/Gui/SketcherSettings.cpp
  src/Mod/Sketcher/Gui/SketcherSettings.h
  src/Mod/Sketcher/Gui/SketcherSettings.ui
Labels: Mod: Core, Mod: Sketcher, DWG approved

#21830 [BIM] Fix Attribute Error when user moves and then deletes the BimViewArea dock widget
  src/Mod/BIM/bimcommands/BimViews.py
Labels: Mod: BIM

#20293 Fix several SVG import bugs
  src/Mod/Draft/importSVG.py
Labels: Mod: Draft, Status: Needs testing

#21906 Test: Do not write test files into CWD
  src/Mod/PartDesign/PartDesignTests/TestTopologicalNamingProblem.py
  src/Mod/Sketcher/SketcherTests/TestSketcherSolver.py
Labels: Mod: Part Design, Mod: Sketcher

#21916 [TD]fix bad element name in Vertex::Restore
  src/Mod/TechDraw/App/Geometry.cpp
Labels: Mod: TechDraw

#21941 TechDraw: fix typo in comment
  src/Mod/TechDraw/Gui/QGISVGTemplate.cpp
Labels: Mod: TechDraw

#21968 Gui: fix double-click on checkboxes locking the properties
  src/Gui/propertyeditor/PropertyItemDelegate.cpp
Labels: Mod: Core

#21451 Gui: refactor SoLinearDragger
  src/Gui/Inventor/Draggers/SoLinearDragger.cpp
  src/Gui/Inventor/Draggers/SoLinearDragger.h
  src/Gui/Inventor/Draggers/SoPlanarDragger.h
  src/Gui/Inventor/Draggers/SoRotationDragger.h
  src/Gui/Inventor/Draggers/SoTransformDragger.cpp
  src/Gui/Inventor/Draggers/SoTransformDragger.h
  src/Gui/SoFCDB.cpp
  src/Gui/Utilities.h
Labels: Mod: Core

#21949 Part: FaceMakerRing from RealThunder's branch.
  src/Mod/Part/App/AppPart.cpp
  src/Mod/Part/App/FaceMakerBullseye.cpp
  src/Mod/Part/App/FaceMakerBullseye.h
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Part, Mod: Sketcher, Approved

#21683 BIM: fix ArchPipe's view provider initialization
  src/Mod/BIM/Arch.py
Labels: Mod: BIM

#21887 CAM: Show abbreviation on each label to match input value to shape image on the UI
  src/Mod/CAM/CAMTests/TestPathToolShapeIcon.py
  src/Mod/CAM/Path/Tool/shape/models/icon.py
  src/Mod/CAM/Path/Tool/toolbit/ui/editor.py
Labels: Mod: CAM, Approved, DWG approved

#21783 Techdraw: Add spacing preview
  src/Mod/TechDraw/Gui/TaskProjGroup.cpp
Labels: Mod: TechDraw, Approved

#21924 Gui: Fix crash when creating a LCS
  src/Gui/ViewProviderCoordinateSystem.cpp
  src/Gui/ViewProviderCoordinateSystem.h
Labels: Mod: Core, Approved

#21872 Gui: Center notification label and disable show report view by default
  src/Gui/MainWindow.cpp
  src/Gui/PreferencePages/DlgSettingsReportView.ui
  src/Gui/ReportView.cpp
  src/Gui/Stylesheets/FreeCAD Dark.qss
  src/Gui/Stylesheets/FreeCAD Light.qss
Labels: Mod: Core, DWG approved

#21806 Sketcher: Add contextual input hints to edit tools (InputHints Phase 3)
  src/Mod/Sketcher/Gui/DrawSketchHandlerCarbonCopy.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExtend.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerExternal.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerFillet.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSplitting.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTrimming.h
Labels: Mod: Sketcher

#21921 Gui, Draft, BIM: Add PrefCheckableGroupBox, use it in IFC exporter preferences page
  src/Gui/PrefWidgets.cpp
  src/Gui/PrefWidgets.h
  src/Gui/PropertyPage.cpp
  src/Gui/resource.cpp
  src/Mod/BIM/Resources/ui/preferences-ifc-export.ui
  src/Mod/Draft/draftutils/params.py
Labels: Mod: Core, Mod: BIM, Mod: Draft

#21831 App: Trim “Gui::” and “NavigationStyle” more securely
  src/App/Application.cpp
Labels: Mod: Core

#21826 Spreadsheet: Re-enable zooming and fix cursor change
  src/Mod/Spreadsheet/Gui/DlgSettingsImp.cpp
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
  src/Mod/Spreadsheet/Gui/SpreadsheetView.cpp
Labels: Mod: Spreadsheet

#21878 BIM: Fix Arch_SectionPlane having incorrect display style upon init
  src/Mod/BIM/Arch.py
Labels: Mod: BIM, Approved

#21948 Sketcher: Refactor GeoDef and ConstrDef structs
  src/Mod/Sketcher/App/Sketch.h
Labels: Mod: Sketcher

#21965 Core: Fix crashes during item deletion in specific selection order
  src/Gui/Tree.cpp
Labels: Mod: Core

#22028 BIM: Fix IFC type assignment not being saved to file
  src/Mod/BIM/nativeifc/ifc_objects.py
Labels: Mod: BIM

#22027 BIM: Allow user to skip dialog during type conversion
  src/Mod/BIM/Resources/ui/dialogConvertType.ui
  src/Mod/BIM/Resources/ui/preferencesNativeIFC.ui
  src/Mod/BIM/nativeifc/ifc_types.py
Labels: Mod: BIM

#22006 Draft: Eliminate redundant assignment to self
  src/Mod/Draft/draftgeoutils/offsets.py
Labels: Mod: Draft

#21939 [BIM][Draft][CAM] preparation for deprecation of QCheckBox…
  src/Mod/BIM/bimcommands/BimClassification.py
  src/Mod/BIM/bimcommands/BimIfcElements.py
  src/Mod/BIM/bimcommands/BimIfcProperties.py
  src/Mod/BIM/bimcommands/BimIfcQuantities.py
  src/Mod/BIM/bimcommands/BimWall.py
  src/Mod/BIM/bimcommands/BimWindow.py
  src/Mod/CAM/Path/Base/Gui/PreferencesAdvanced.py
  src/Mod/CAM/Path/Dressup/Gui/Boundary.py
  src/Mod/CAM/Path/Op/Gui/Adaptive.py
  src/Mod/CAM/Path/Op/Gui/Drilling.py
  src/Mod/CAM/Path/Op/Gui/Profile.py
  src/Mod/CAM/Path/Op/Gui/Slot.py
  src/Mod/CAM/Path/Op/Gui/Surface.py
  src/Mod/CAM/Path/Op/Gui/ThreadMilling.py
  src/Mod/CAM/Path/Op/Gui/Waterline.py
  src/Mod/Draft/DraftGui.py
  src/Mod/Draft/draftguitools/gui_fillets.py
  src/Mod/Draft/draftguitools/gui_selectplane.py
  src/Mod/Draft/drafttaskpanels/task_circulararray.py
  src/Mod/Draft/drafttaskpanels/task_orthoarray.py
  src/Mod/Draft/drafttaskpanels/task_polararray.py
  src/Mod/Draft/drafttaskpanels/task_shapestring.py
Labels: Mod: BIM, Mod: Draft, Mod: CAM

#22026 Gui: Change ordering of names in Link property
  src/Gui/Dialogs/DlgPropertyLink.cpp
Labels: Mod: Core

#21982 Sketcher: Prioritize rendering geometry lines rendering over constraints
  src/Mod/Sketcher/Gui/EditModeCoinManagerParameters.h
  src/Mod/Sketcher/Gui/EditModeConstraintCoinManager.cpp
Labels: Mod: Sketcher, DWG approved

#20864 Moved Submenu Commands in Tool Menu
  src/Gui/CommandStd.cpp
  src/Gui/Workbench.cpp
  src/Mod/Measure/Gui/AppMeasureGui.cpp
  src/Mod/Measure/Gui/CMakeLists.txt
  src/Mod/Measure/Gui/WorkbenchManipulator.cpp
  src/Mod/Measure/Gui/WorkbenchManipulator.h
Labels: Mod: Core, DWG review, Mod: Measurement

#22063 Gui: Tasks: fix in place close and ok buttons (remove them from the scrollable area)
  src/Gui/Stylesheets/overlay/Dark Theme + Dark Background.qss
  src/Gui/Stylesheets/overlay/Dark Theme + Light Background.qss
  src/Gui/Stylesheets/overlay/Light Theme + Dark Background.qss
  src/Gui/Stylesheets/overlay/Light Theme + Light Background.qss
  src/Gui/TaskView/TaskView.cpp
  src/Gui/TaskView/TaskView.h
Labels: Mod: Core, Topic: Stylesheets, DWG approved

#22033 Limit lint to changed lines
  .github/workflows/CI_master.yml
  .github/workflows/sub_lint.yml
  .github/workflows/sub_prepare.yml
  tools/lint/changed_lines.py
  tools/lint/clang_tidy.py
Labels: Mod: Core, :octocat:

#22094 CI: only lint on PRs.
  .github/workflows/sub_prepare.yml
Labels: :octocat:

#22062 Gui: Add toggle overlay icons
  src/Gui/CommandView.cpp
  src/Gui/Icons/Std_DockOverlayToggleBottom.svg
  src/Gui/Icons/Std_DockOverlayToggleLeft.svg
  src/Gui/Icons/Std_DockOverlayToggleRight.svg
  src/Gui/Icons/Std_DockOverlayToggleTop.svg
  src/Gui/Icons/resource.qrc
Labels: Mod: Core, DWG approved

#22015 Matrix4D fixes
  src/Base/Matrix.cpp
  src/Base/Matrix.h
  tests/src/Base/Matrix.cpp
Labels: Mod: Core

#22007 Part: Remove remnants of code from TNP merge
  src/Mod/Part/App/PartFeatures.cpp
  src/Mod/Part/App/PartFeatures.h
Labels: Mod: Part

#22011 Sketcher: Remove dead code
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#22012 Sketcher: Remove redundant checks
  src/Mod/Sketcher/App/SketchObject.cpp
Labels: Mod: Sketcher

#22014 Measure: Remove redundant check for edges > 0
  src/Mod/Measure/App/Measurement.cpp
Labels: Mod: Measurement

#22097 [Spreadsheet] Replace override cursor with QGraphicsItem::setCursor
  src/Mod/Spreadsheet/Gui/SheetTableView.cpp
  src/Mod/Spreadsheet/Gui/SheetTableView.h
  src/Mod/Spreadsheet/Gui/ZoomableView.cpp
Labels: Mod: Spreadsheet

#21802 CAM: improve Job toggleVisibility
  src/Mod/CAM/Path/Main/Gui/Job.py
Labels: Mod: CAM, Approved

#21742 CAM: find job in parent chain when adding a new operation
  src/Mod/CAM/PathScripts/PathUtilsGui.py
Labels: Mod: CAM, Approved

#21902 Core: Allow users to add groups to active objects
  src/App/GroupExtension.pyi
  src/App/GroupExtensionPyImp.cpp
  src/Gui/ActiveObjectList.cpp
  src/Gui/ActiveObjectList.h
  src/Gui/CommandStructure.cpp
  src/Gui/MDIView.h
Labels: Mod: Core, DWG approved

#22002 Core: Introduce searching in Preferences
  src/Gui/Dialogs/DlgPreferences.ui
  src/Gui/Dialogs/DlgPreferencesImp.cpp
  src/Gui/Dialogs/DlgPreferencesImp.h
Labels: Mod: Core, DWG approved

#21612 Sketcher: 3 Point Symmetry fixed if root is selected first (and simplify and fix the selection logic)
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
Labels: Mod: Sketcher, DWG approved

#22066 Part: Align to planar curves normal direction
  src/Mod/Part/App/PartFeature.cpp
Labels: Mod: Part, Approved

#22127 Gui: Use proper placement property for Link
  src/Gui/ViewProviderDragger.cpp
  src/Gui/ViewProviderDragger.h
Labels: Mod: Core, Approved

#21992 [ArchCurtainWall] Fix Vert-Horiz Mullion Mix-up & Support Swap
  src/Mod/BIM/ArchCurtainWall.py
Labels: Mod: BIM

#22052 BIM: fix ArchProfile update issues
  src/Mod/BIM/ArchProfile.py
Labels: Mod: BIM

#22061 BIM: fix transparency propagation of BIM material
  src/Mod/BIM/ArchMaterial.py
Labels: Mod: BIM

#22106 BIM: avoid display of Arch_Schedule dialog over other applications
  src/Mod/BIM/ArchSchedule.py
Labels: Mod: BIM

#21531 CAM: sort tool paths for Engrave and Deburr operation
  src/Mod/CAM/Path/Op/EngraveBase.py
Labels: Mod: CAM

#21988 Sketcher: refactor planecgs/Constraints
  src/Mod/Sketcher/App/planegcs/Constraints.cpp
  src/Mod/Sketcher/App/planegcs/Constraints.h
Labels: Mod: Sketcher

#22016 [Measure] Fix seg fault in MeasurePosition::execute if subElements is empty
  src/Mod/Measure/App/MeasurePosition.cpp
Labels: Mod: Measurement, Needs backport

#21840 Sketcher: Add contextual input hints to transform tools (InputHints Phase 4)
  src/Mod/Sketcher/Gui/DrawSketchHandlerOffset.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRotate.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerScale.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSymmetry.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTranslate.h
Labels: Mod: Sketcher, DWG approved

#22103 fix unused variable
  src/Gui/propertyeditor/PropertyItem.cpp
Labels: Mod: Core

#22036 [TechDraw]Detail highlight drag (fix #21828)
  src/Mod/TechDraw/App/DrawViewDetail.cpp
  src/Mod/TechDraw/App/DrawViewPart.cpp
  src/Mod/TechDraw/App/DrawViewPart.h
  src/Mod/TechDraw/App/Preferences.cpp
  src/Mod/TechDraw/App/Preferences.h
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneral.ui
  src/Mod/TechDraw/Gui/DlgPrefsTechDrawGeneralImp.cpp
  src/Mod/TechDraw/Gui/QGIHighlight.cpp
  src/Mod/TechDraw/Gui/QGIViewPart.cpp
  src/Mod/TechDraw/Gui/TaskDetail.cpp
  src/Mod/TechDraw/Gui/TaskDetail.h
  src/Mod/TechDraw/Gui/ViewProviderViewPart.cpp
  src/Mod/TechDraw/Gui/ViewProviderViewPart.h
Labels: Mod: TechDraw

#22096 Gui: Fix wildcard call disconnects warnings Qt6.9
  src/Gui/PythonWrapper.cpp
Labels: Mod: Core

#21943 Sketcher: Change enter behavior on OVP to put OVP in lock state only
  src/Gui/EditableDatumLabel.cpp
  src/Gui/EditableDatumLabel.h
  src/Mod/Sketcher/Gui/DrawSketchController.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArc.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerArcSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerBSpline.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerCircle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerEllipse.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerLine.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPoint.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerPolygon.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRectangle.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerRotate.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerSlot.h
  src/Mod/Sketcher/Gui/DrawSketchHandlerTranslate.h
Labels: Mod: Core, Mod: Sketcher, DWG approved

#21799 Refactor slot op.
  src/Mod/CAM/InitGui.py
  src/Mod/CAM/Path/Op/Slot.py
Labels: Mod: CAM, Approved

#21751 Sketcher: Add contextual input hints to constraint commands (InputHints Phase 2)
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/DrawSketchHandler.h
Labels: Mod: Sketcher, DWG approved

#22146 Spreadsheet Fix '=' regression in spreadsheets
  src/Gui/ExpressionCompleter.cpp
  src/Mod/Spreadsheet/Gui/SpreadsheetView.cpp
  src/Tools/plugins/widget/customwidgets.cpp
  src/Tools/plugins/widget/customwidgets.h
  src/Tools/plugins/widget/plugin.cpp
Labels: Mod: Core, Mod: Spreadsheet, Approved

#21732 CAM: Engrave - Fix step down for closed profile
  src/Mod/CAM/Path/Op/EngraveBase.py
Labels: Mod: CAM

#22173 Gui: Use no_except=true for getExtensionByType in ViewProviderDragger
  src/Gui/ViewProviderDragger.cpp
Labels: Mod: Core

#22150 Remove Command::adjustCameraPosition()
  src/Gui/Command.cpp
  src/Gui/Command.h
  src/Mod/Part/Gui/Command.cpp
  src/Mod/PartDesign/Gui/Command.cpp
Labels: Mod: Core, Mod: Part Design, Mod: Part

#22169 PD: Fix regression about single-solid check
  src/Mod/PartDesign/App/FeatureChamfer.cpp
  src/Mod/PartDesign/App/FeatureExtrude.cpp
  src/Mod/PartDesign/App/FeatureFillet.cpp
  src/Mod/PartDesign/App/FeatureGroove.cpp
  src/Mod/PartDesign/App/FeatureLoft.cpp
  src/Mod/PartDesign/App/FeaturePipe.cpp
  src/Mod/PartDesign/App/FeatureRevolution.cpp
Labels: Mod: Part Design

#21980 Draft: Remove redundant QGroupBoxes from some of the array panels
  src/Mod/Draft/Resources/ui/TaskPanel_CircularArray.ui
  src/Mod/Draft/Resources/ui/TaskPanel_OrthoArray.ui
  src/Mod/Draft/Resources/ui/TaskPanel_PolarArray.ui
  src/Mod/Draft/Resources/ui/TaskShapeString.ui
Labels: Mod: Draft, Approved, DWG approved

#22224 FEM: Fix missing VTK headers in PreCompiled.h
  src/Mod/Fem/App/PreCompiled.h
Labels: Mod: FEM

#22155 Gui: Selectively disable MSVC 4251 warning
  src/Gui/DocumentObserver.h
Labels: Mod: Core

#22158 Clean EditableDatumLabel.cpp
  src/Gui/EditableDatumLabel.cpp
Labels: Mod: Core

#22225 FEM: Fix data extraction checkbox typo
  src/Mod/Fem/Gui/Resources/ui/PostHistogramFieldAppEdit.ui
  src/Mod/Fem/Gui/Resources/ui/PostLineplotFieldAppEdit.ui
  src/Mod/Fem/femviewprovider/view_post_histogram.py
Labels: Mod: FEM

#22237 OpenSCAD: Update UI strings for consistency
  src/Mod/OpenSCAD/OpenSCADCommands.py
  src/Mod/OpenSCAD/Resources/ui/openscadprefs-base.ui
  src/Mod/OpenSCAD/prototype.py
  src/Mod/OpenSCAD/replaceobj.py
Labels: Mod: OpenSCAD

#22221 Core: Fix build with VTK 9.5
  src/3rdParty/salomesmesh/inc/SMDS_UnstructuredGrid.hxx
  src/3rdParty/salomesmesh/src/SMDS/SMDS_Mesh.cpp
  src/3rdParty/salomesmesh/src/SMDS/SMDS_MeshNode.cpp
  src/3rdParty/salomesmesh/src/SMESH/SMESH_MeshEditor.cpp
Labels: 3rd party component

#22049 Sketcher: fix Esc can leave setting synchronization
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
Labels: Mod: Sketcher

#22236 Inspection: Update UI strings for consistency
  src/Mod/Inspection/App/AppInspection.cpp
  src/Mod/Inspection/App/InspectionFeature.cpp
  src/Mod/Inspection/Gui/AppInspectionGui.cpp
  src/Mod/Inspection/Gui/Command.cpp
  src/Mod/Inspection/Gui/ViewProviderInspection.cpp
Labels: Approved

#22163 codespell: add 3 false positives to ignore list
  .github/codespellignore
Labels: :octocat:

#21985 Import: add DXF statistics reporter
  src/Mod/Draft/importDXF.py
  src/Mod/Import/App/AppImportPy.cpp
  src/Mod/Import/App/dxf/ImpExpDxf.cpp
  src/Mod/Import/App/dxf/ImpExpDxf.h
  src/Mod/Import/App/dxf/dxf.cpp
  src/Mod/Import/App/dxf/dxf.h
  src/Mod/Import/Gui/AppImportGuiPy.cpp
Labels: Mod: Draft

#21917 Inform Coin to use EGL when on Wayland
  src/Gui/Application.cpp
Labels: Mod: Core

#22167 Sketcher: Update UI strings for consistency
  src/Mod/Sketcher/App/AppSketcher.cpp
  src/Mod/Sketcher/App/Sketch.cpp
  src/Mod/Sketcher/App/SketchObject.cpp
  src/Mod/Sketcher/Gui/AppSketcherGui.cpp
  src/Mod/Sketcher/Gui/Command.cpp
  src/Mod/Sketcher/Gui/CommandAlterGeometry.cpp
  src/Mod/Sketcher/Gui/CommandConstraints.cpp
  src/Mod/Sketcher/Gui/CommandCreateGeo.cpp
  src/Mod/Sketcher/Gui/CommandSketcherBSpline.cpp
  src/Mod/Sketcher/Gui/CommandSketcherOverlay.cpp
  src/Mod/Sketcher/Gui/CommandSketcherTools.cpp
  src/Mod/Sketcher/Gui/CommandSketcherVirtualSpace.cpp
  src/Mod/Sketcher/Gui/EditDatumDialog.cpp
  src/Mod/Sketcher/Gui/InsertDatum.ui
  src/Mod/Sketcher/Gui/SketchMirrorDialog.ui
  src/Mod/Sketcher/Gui/SketchOrientationDialog.ui
  src/Mod/Sketcher/Gui/SketchRectangularArrayDialog.ui
  src/Mod/Sketcher/Gui/SketcherRegularPolygonDialog.ui
  src/Mod/Sketcher/Gui/SketcherSettings.ui
  src/Mod/Sketcher/Gui/SketcherSettingsAppearance.ui
  src/Mod/Sketcher/Gui/SketcherSettingsDisplay.ui
  src/Mod/Sketcher/Gui/SketcherSettingsGrid.ui
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.cpp
  src/Mod/Sketcher/Gui/TaskSketcherConstraints.ui
  src/Mod/Sketcher/Gui/TaskSketcherElements.cpp
  src/Mod/Sketcher/Gui/TaskSketcherElements.ui
  src/Mod/Sketcher/Gui/TaskSketcherGeneral.ui.autosave
  src/Mod/Sketcher/Gui/TaskSketcherMessages.cpp
  src/Mod/Sketcher/Gui/TaskSketcherMessages.ui
  src/Mod/Sketcher/Gui/TaskSketcherSolverAdvanced.ui
  src/Mod/Sketcher/Gui/TaskSketcherValidation.cpp
  src/Mod/Sketcher/Gui/TaskSketcherValidation.ui
  src/Mod/Sketcher/Gui/ViewProviderSketch.cpp
  src/Mod/Sketcher/Gui/Workbench.cpp
Labels: Mod: Sketcher, Approved
